Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix: single treeSelectPipe
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/pipe-tree-select.html
  packages/components/filter-bar/pipes/pipe-tree-select.ts
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

feat(docs,toggle): added & updated examples (#DS-1487)
  packages/components-dev/toggle/module.ts
  packages/components/toggle/toggle.en.md
  packages/components/toggle/toggle.ru.md
  packages/docs-examples/components/toggle/index.ts
  packages/docs-examples/components/toggle/toggle-disabled/toggle-disabled-example.ts
  packages/docs-examples/components/toggle/toggle-error/toggle-error-example.ts
  packages/docs-examples/components/toggle/toggle-indeterminate/toggle-indeterminate-example.ts
  packages/docs-examples/components/toggle/toggle-label-left/toggle-label-left-example.ts
  packages/docs-examples/components/toggle/toggle-loading/toggle-loading-example.ts
  packages/docs-examples/components/toggle/toggle-multiline/toggle-multiline-example.ts
  packages/docs-examples/components/toggle/toggle-overview/toggle-overview-example.html
  packages/docs-examples/components/toggle/toggle-with-hint/toggle-with-hint-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

chore: after review
  packages/docs-examples/components/toggle/toggle-disabled/toggle-disabled-example.ts
  packages/docs-examples/components/toggle/toggle-error/toggle-error-example.ts
  packages/docs-examples/components/toggle/toggle-overview/toggle-overview-example.ts
Due: none

chore: after design review
  packages/docs-examples/components/toggle/toggle-label-left/toggle-label-left-example.ts
  packages/docs-examples/components/toggle/toggle-multiline/toggle-multiline-example.ts
  packages/docs-examples/components/toggle/toggle-with-hint/toggle-with-hint-example.ts
Due: none

feat: added multi-tree-select
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.scss
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/filter-bar/pipes/pipe-tree-select.scss
Due: none

feat(docs,toggle): added & updated examples (#DS-1487) (#785)
  packages/components-dev/toggle/module.ts
  packages/components/toggle/toggle.en.md
  packages/components/toggle/toggle.ru.md
  packages/docs-examples/components/toggle/index.ts
  packages/docs-examples/components/toggle/toggle-disabled/toggle-disabled-example.ts
  packages/docs-examples/components/toggle/toggle-error/toggle-error-example.ts
  packages/docs-examples/components/toggle/toggle-indeterminate/toggle-indeterminate-example.ts
  packages/docs-examples/components/toggle/toggle-label-left/toggle-label-left-example.ts
  packages/docs-examples/components/toggle/toggle-loading/toggle-loading-example.ts
  packages/docs-examples/components/toggle/toggle-multiline/toggle-multiline-example.ts
  packages/docs-examples/components/toggle/toggle-overview/toggle-overview-example.html
  packages/docs-examples/components/toggle/toggle-with-hint/toggle-with-hint-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

feat(formatter): use thin-space for groups (#DS-3087)
  packages/components/core/formatters/number/formatter.ts
  packages/components/core/locales/formatters.ts
  packages/components/core/locales/types.ts
  packages/components/input/input-number.ts
Due: none

chore: golden files
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore: refactoring & added thin space for input-number
  packages/components/core/formatters/number/formatter.ts
  packages/components/core/locales/formatters.ts
  packages/components/input/input-number.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

chore: added missing type
  packages/components/core/locales/types.ts
Due: none

chore: fixed types & tests
  packages/components-dev/number-formatter/module.ts
  packages/components-dev/number-formatter/template.html
  packages/components/core/formatters/number/formatter.ts
  packages/components/core/locales/formatters.ts
  packages/components/core/locales/types.ts
  packages/components/input/input-number.spec.ts
Due: none

chore: added whitespace normalizer
  packages/components-dev/number-formatter/module.ts
  packages/components-dev/number-formatter/template.html
  packages/components/input/input-number.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

fix: finished multiTreeSelect
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/tree/control/flat-tree-control.filters.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix: added examples
  packages/components-dev/filter-bar/module.ts
  packages/docs-examples/components/filter-bar/filter-bar-master-checkbox/filter-bar-master-checkbox-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search-in-pipes/filter-bar-search-in-pipes-example.ts
Due: none

test(button): added playwright screenshot tests (#DS-3763)
  .github/workflows/e2e-update-screenshots.yml
  .github/workflows/e2e.yml
  .gitignore
  .vscode/extensions.json
  .vscode/mcp.json
  apps/docs/src/app/services/documentation-items.ts
  e2e/tests/__screenshots__/KbqButtonModule-button-state-and-style-example-button-with-icon-1.png
  e2e/tests/__screenshots__/KbqButtonModule-button-state-and-style-example-button-with-title-1.png
  e2e/tests/__screenshots__/KbqButtonModule-button-state-and-style-example-button-with-title-prefix-and-suffix-1.png
  e2e/tests/button.playwright-spec.ts
  package.json
  packages/components-dev/button/module.ts
  packages/components-dev/button/styles.scss
  packages/components-dev/button/template.html
  packages/components/button/examples.button.en.md
  packages/components/button/examples.button.ru.md
  packages/docs-examples/components/button/button-state-and-style/button-state-and-style-example.ts
  packages/docs-examples/components/button/index.ts
  packages/docs-examples/example-module.ts
  playwright.config.ts
  yarn.lock
Due: yarn run cspell --files, yamllint

test: auto-updated e2e screenshots
  e2e/tests/__screenshots__/KbqButtonModule-button-state-and-style-example-button-with-title-1.png
  e2e/tests/__screenshots__/KbqButtonModule-button-state-and-style-example-button-with-title-prefix-and-suffix-1.png
Due: none

refactor: updated config and readme
  .github/workflows/e2e-update-screenshots.yml
  .github/workflows/e2e.yml
  docs/guides/06-testing.md
  playwright.config.ts
Due: yarn run cspell --files, yamllint

chore: fixed provided locale check
  packages/components-dev/number-formatter/template.html
  packages/components/core/formatters/number/formatter.ts
  packages/docs-examples/components/number-formatter/number-formatter-overview/number-formatter-overview-example.html
Due: none

chore: improved example layout
  packages/docs-examples/components/number-formatter/number-formatter-overview/number-formatter-overview-example.html
  packages/docs-examples/components/number-formatter/number-formatter-overview/number-formatter-overview-example.ts
Due: none

docs: update text according to new character for decimal separator (#DS-3087)
  packages/components/core/formatters/number/number-formatter.ru.md
Due: yarn run cspell --files

fix: after review
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/control/flat-tree-control.filters.ts
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

chore: added info about whitespace normalization on copy
  packages/components-dev/all/module.ts
  packages/components-dev/all/template.html
  packages/components-dev/form-field/module.ts
  packages/components-dev/form-field/template.html
  packages/components-dev/input/module.ts
  packages/components-dev/input/template.html
  packages/components/input/input.ru.md
  packages/docs-examples/components/filesize-formatter/filesize-formatter-overview/filesize-formatter-overview-example.ts
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.ts
Due: yarn run cspell --files

feat(formatter): use thin-space for groups (#DS-3087) (#796)
  packages/components-dev/all/module.ts
  packages/components-dev/all/template.html
  packages/components-dev/form-field/module.ts
  packages/components-dev/form-field/template.html
  packages/components-dev/input/module.ts
  packages/components-dev/input/template.html
  packages/components-dev/number-formatter/module.ts
  packages/components-dev/number-formatter/template.html
  packages/components/core/formatters/number/formatter.ts
  packages/components/core/formatters/number/number-formatter.ru.md
  packages/components/core/locales/formatters.ts
  packages/components/core/locales/types.ts
  packages/components/input/input-number.spec.ts
  packages/components/input/input-number.ts
  packages/components/input/input.ru.md
  packages/docs-examples/components/filesize-formatter/filesize-formatter-overview/filesize-formatter-overview-example.ts
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.ts
  packages/docs-examples/components/number-formatter/number-formatter-overview/number-formatter-overview-example.html
  packages/docs-examples/components/number-formatter/number-formatter-overview/number-formatter-overview-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

fix(input): clipboard modification on macos (#DS-3087)
  packages/components/input/input-number.ts
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

fix(filter-bar): add .kbq-selected on selectAll option (#DS-3790)
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(breadcrumbs): resolve duplication on hydration (#DS-3679)
  packages/components/breadcrumbs/breadcrumbs.html
Due: none

chore(breadcrumbs): resolved golden file
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

chore(input): after review
  packages/components-dev/all/module.ts
  packages/components-dev/form-field/module.ts
  packages/components-dev/input/module.ts
  packages/components-dev/number-formatter/module.ts
  packages/components/input/input-number.ts
  packages/docs-examples/components/filesize-formatter/filesize-formatter-overview/filesize-formatter-overview-example.ts
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.ts
  packages/docs-examples/components/number-formatter/number-formatter-overview/number-formatter-overview-example.ts
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

refactor: added e2e dev application
  .github/workflows/e2e-update-screenshots.yml
  .github/workflows/e2e.yml
  angular.json
  apps/docs/src/app/services/documentation-items.ts
  docs/guides/06-testing.md
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-icon-1.png
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-title-1.png
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-title-prefix-and-suffix-1.png
  e2e/components/button.playwright-spec.ts
  package.json
  packages/components-dev/button/module.ts
  packages/components-dev/button/template.html
  packages/components-dev/e2e/main.ts
  packages/components-dev/e2e/module.ts
  packages/components-dev/e2e/styles.scss
  packages/components-dev/e2e/template.html
  packages/components-dev/e2e/tsconfig.app.json
  packages/components/button/examples.button.en.md
  packages/components/button/examples.button.ru.md
  packages/docs-examples/components/button/button-state-and-style/button-state-and-style-example.ts
  packages/docs-examples/components/button/index.ts
  packages/docs-examples/example-module.ts
  playwright.config.ts
Due: yarn run cspell --files, yamllint

refactor: upd scripts
  package.json
Due: none

refactor: test
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-title-1.png
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-title-prefix-and-suffix-1.png
  package.json
Due: none

chore(deps): updated @koobiq/icons to 10.1.0 (#DS-3797)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  yarn.lock
Due: none

chore(core): after review
  packages/components-dev/all/module.ts
  packages/components-dev/form-field/module.ts
  packages/components-dev/input/module.ts
  packages/components-dev/number-formatter/module.ts
  packages/components/core/common-behaviors/clipboard.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/input/input-number.ts
  packages/docs-examples/components/filesize-formatter/filesize-formatter-overview/filesize-formatter-overview-example.ts
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.ts
  packages/docs-examples/components/number-formatter/number-formatter-overview/number-formatter-overview-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

fix(breadcrumbs): resolve duplication on hydration (#DS-3679) (#798)
  packages/components/breadcrumbs/breadcrumbs.html
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

fix(overflow-items): debounceTime attribute default value (#DS-3788)
  packages/components/overflow-items/overflow-items.en.md
  packages/components/overflow-items/overflow-items.ru.md
  packages/components/overflow-items/overflow-items.ts
  packages/docs-examples/components/overflow-items/overflow-items-overview/overflow-items-overview-example.ts
  packages/docs-examples/components/overflow-items/overflow-items-with-order/overflow-items-with-order-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs-adaptive/top-bar-breadcrumbs-adaptive-example.ts
Due: yarn run cspell --files

test(button): added playwright screenshot tests (#DS-3763) (#795)
  .github/workflows/e2e-update-screenshots.yml
  .github/workflows/e2e.yml
  .gitignore
  .vscode/extensions.json
  .vscode/mcp.json
  angular.json
  docs/guides/06-testing.md
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-icon-1.png
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-title-1.png
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-title-prefix-and-suffix-1.png
  e2e/components/button.playwright-spec.ts
  package.json
  packages/components-dev/button/module.ts
  packages/components-dev/button/styles.scss
  packages/components-dev/button/template.html
  packages/components-dev/e2e/main.ts
  packages/components-dev/e2e/module.ts
  packages/components-dev/e2e/styles.scss
  packages/components-dev/e2e/template.html
  packages/components-dev/e2e/tsconfig.app.json
  playwright.config.ts
  yarn.lock
Due: yarn run cspell --files, yamllint

fix(form-field,experimental): selectors nesting (#DS-3787)
  packages/components-experimental/form-field/_form-field-theme.scss
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/form-field.scss
  packages/docs-examples/components/form-field/form-field-password-overview/form-field-password-overview-example.ts
Due: none
