Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: revert popover changes
  packages/components/popover/popover.component.ts
Due: none

chore: update api
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat: refactored and simplified strategy usage
  packages/components-dev/popover/module.ts
  packages/components/popover/examples.popover.en.md
  packages/components/popover/popover.component.ts
  packages/docs-examples/components/popover/index.ts
  packages/docs-examples/components/popover/popover-scroll-strategy/popover-scroll-strategy-example.ts
Due: yarn run cspell --files

feat: moved hiding functionality to the base pop-up-trigger.ts class
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/popover/popover.component.ts
Due: none

feat: reverted popover and pop up changes, added tests
  packages/components-dev/popover/module.ts
  packages/components/core/overlay/hide-on-scroll.strategy.spec.ts
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/popover/examples.popover.en.md
  packages/components/popover/popover.component.ts
  packages/docs-examples/components/popover/index.ts
  packages/docs-examples/components/popover/popover-scroll-strategy/popover-scroll-strategy-example.ts
Due: yarn run cspell --files

feat: replaced onHide subscription with callback
  packages/components/core/overlay/hide-on-scroll.strategy.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore: after rebase
  packages/components/popover/popover.component.ts
Due: none

feat: added reposition and scroll strategy (#DS-1920)
  packages/components/core/overlay/hide-on-scroll.strategy.ts
  packages/components/core/public-api.ts
  packages/components/popover/popover.module.ts
Due: none

feat: refactored and simplified strategy usage
  packages/components-dev/popover/module.ts
  packages/components/core/overlay/hide-on-scroll.strategy.ts
  packages/components/popover/examples.popover.en.md
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.module.ts
  packages/docs-examples/components/popover/index.ts
  packages/docs-examples/components/popover/popover-scroll-strategy/popover-scroll-strategy-example.ts
Due: yarn run cspell --files

feat: implemented hide on scroll strategy w/ tests
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/datepicker/datepicker.component.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.ts
  packages/components/select/select.component.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
Due: none

feat: added popover examples
  packages/components-dev/popover/module.ts
  packages/components/popover/examples.popover.en.md
  packages/components/popover/examples.popover.ru.md
  packages/docs-examples/components/popover/popover-hide-on-scroll/popover-hide-on-scroll-example.ts
  packages/docs-examples/components/popover/popover-scroll-strategy/popover-scroll-strategy-example.ts
Due: yarn run cspell --files

feat: updated new scroll strategy usage
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/datepicker/datepicker.component.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.ts
  packages/components/select/select.component.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
Due: none

feat: replaced onHide with hooks config
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/core/select/constants.ts
  packages/components/datepicker/datepicker.component.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.ts
  packages/components/select/select.component.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
Due: none

chore: upd api
  tools/public_api_guard/components/notification-center.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

chore: upd api
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore: after review
  packages/components/core/select/constants.ts
Due: none

chore: after rebase
  packages/components/core/overlay/hide-on-scroll.strategy.ts
  packages/components/core/public-api.ts
  packages/components/datepicker/datepicker.component.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
Due: none

chore: after rebase
  packages/components/core/overlay/hide-on-scroll.strategy.spec.ts
Due: none

chore: reverted changes
  packages/components-dev/popover/module.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/core/select/constants.ts
  packages/components/datepicker/datepicker.component.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.ts
  packages/components/popover/examples.popover.en.md
  packages/components/popover/examples.popover.ru.md
  packages/components/popover/popover.component.ts
  packages/components/select/select.component.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/docs-examples/components/popover/index.ts
  packages/docs-examples/components/popover/popover-hide-on-scroll/popover-hide-on-scroll-example.ts
  packages/docs-examples/components/popover/popover-scroll-strategy/popover-scroll-strategy-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/notification-center.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(button)!: apply the default color to every style (#DS-5374)
  packages/components-dev/all/template.html
  packages/components-dev/button/template.html
  packages/components-dev/icon-adopted-stylesheets/template.html
  packages/components/button-toggle/_button-toggle-theme.scss
  packages/components/button/_button-theme.scss
  packages/components/button/button-group.ts
  packages/components/button/button.component.spec.ts
  packages/components/button/button.component.ts
  packages/components/button/e2e.ts
  packages/components/filter-bar/filter-bar-button.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.ts
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.type.ts
  packages/components/split-button/split-button.ts
  packages/docs-examples/components/button/button-group-style/button-group-style-example.ts
  packages/docs-examples/components/button/button-group-vertical/button-group-vertical-example.ts
  tools/public_api_guard/components/button.api.md
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/modal.api.md
  tools/public_api_guard/components/split-button.api.md
Due: yarn run cspell --files

feat(dropdown): added KbqDropdownFooter directive (#DS-3699)
  packages/components-dev/dropdown/module.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.html
  packages/components/dropdown/dropdown.module.ts
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.scss
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/e2e.ts
  packages/docs-examples/components/dropdown/dropdown-with-footer/dropdown-with-footer-example.ts
  packages/docs-examples/components/dropdown/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
Due: none

fix: flaky docs prerender (#DS-5334)
  .github/workflows/actions/build-docs/action.yml
  .github/workflows/actions/build-packages/action.yml
  .github/workflows/actions/build-packages/entrypoint.sh
  apps/docs/src/app/components/version-picker/version-picker.directive.ts
Due: yamllint

feat(dropdown): added KbqDropdownFooter directive (#DS-3699) (#1810)
  packages/components-dev/dropdown/module.ts
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.html
  packages/components/dropdown/dropdown.module.ts
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.scss
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/e2e.ts
  packages/docs-examples/components/dropdown/dropdown-with-footer/dropdown-with-footer-example.ts
  packages/docs-examples/components/dropdown/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

refactor: cdk
  .github/workflows/actions/build-packages/action.yml
Due: yamllint

refactor: imports
  apps/docs/src/app/components/version-picker/version-picker.directive.ts
Due: none

fix: flaky docs prerender (#DS-5334) (#1811)
  .github/workflows/actions/build-docs/action.yml
  .github/workflows/actions/build-packages/action.yml
  .github/workflows/actions/build-packages/entrypoint.sh
  apps/docs/src/app/components/version-picker/version-picker.directive.ts
Due: yamllint

feat(select,tree-select): add panelMaxHeight for the dropdown list (#DS-5347)
  packages/components-dev/tree-select/module.ts
  packages/components/core/overlay/panel-height.spec.ts
  packages/components/core/overlay/panel-height.ts
  packages/components/core/public-api.ts
  packages/components/core/styles/common/_select.scss
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/e2e.ts
  packages/components/select/select-tokens.scss
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.html
  packages/components/select/select.ru.md
  packages/components/select/select.scss
  packages/components/timezone/timezone-select.component.html
  packages/components/timezone/timezone-select.component.spec.ts
  packages/components/tree-select/e2e.playwright-spec.ts
  packages/components/tree-select/e2e.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.html
  packages/components/tree-select/tree-select.ru.md
  packages/docs-examples/components/select/select-height/select-height-example.ts
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-height/tree-select-height-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

feat: added panelMaxHeight in filter-bar
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/_filter-bar-theme.scss
  packages/components/filter-bar/e2e.playwright-spec.ts
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.scss
  packages/components/filter-bar/pipes/pipe-multi-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multiselect.scss
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-select.scss
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-tree-select.html
  packages/components/filter-bar/pipes/pipe-tree-select.scss
  packages/components/filter-bar/pipes/pipe-tree-select.spec.ts
  packages/docs-examples/components/filter-bar/filter-bar-panel-max-height/filter-bar-panel-max-height-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/button/button.component.spec.ts
  packages/components/button/button.component.ts
Due: none

refactor: review
  packages/components/scrollbar/examples.scrollbar.en.md
  packages/components/scrollbar/examples.scrollbar.ru.md
  packages/components/scrollbar/private/e2e.playwright-spec.ts
  packages/components/scrollbar/private/e2e.ts
  packages/components/scrollbar/private/scrollbar.module.ts
  packages/components/scrollbar/private/scrollbar.scss
  packages/components/scrollbar/private/scrollbar.spec.ts
  packages/components/scrollbar/private/scrollbar.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-disable-interaction/private-scrollbar-disable-interaction-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/scrollbar-private.api.md
Due: yarn run cspell --files

fix: build
  packages/components/split-button/e2e.ts
  packages/components/top-bar/e2e.ts
  packages/docs-examples/components/notification-center/notification-center-empty/notification-center-empty-example.ts
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.ts
  packages/docs-examples/components/notification-center/notification-center-infinite-scroll/notification-center-infinite-scroll-example.ts
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.ts
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.ts
  packages/docs-examples/components/notification-center/notification-center-push/notification-center-push-example.ts
  packages/docs-examples/components/top-bar/top-bar-actions/top-bar-actions-example.ts
  packages/docs-examples/components/top-bar/top-bar-overflow/top-bar-overflow-example.ts
  packages/docs-examples/components/top-bar/top-bar-overview/top-bar-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter-adaptive/top-bar-title-counter-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter/top-bar-title-counter-example.ts
Due: none

chore(deps): dedupe lockfile and refresh vulnerable transitives
  yarn.lock
Due: none

test: updated e2e snapshots
  packages/components/button/__screenshots__/01-dark.png
  packages/components/button/__screenshots__/01-light.png
  packages/components/button/__screenshots__/02-dark.png
  packages/components/button/__screenshots__/02-light.png
  packages/components/button/__screenshots__/03-dark.png
  packages/components/button/__screenshots__/03-light.png
  packages/components/button/__screenshots__/04-dark.png
  packages/components/button/__screenshots__/04-light.png
  packages/components/button/__screenshots__/05-rtl.png
  packages/components/button/__screenshots__/06-rtl.png
Due: none

fix: added schematics
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/button-supported-colors/README.md
  packages/schematics/src/migrations/button-supported-colors/data.ts
  packages/schematics/src/migrations/button-supported-colors/index.spec.ts
  packages/schematics/src/migrations/button-supported-colors/index.ts
  packages/schematics/src/migrations/button-supported-colors/schema.json
  packages/schematics/src/migrations/button-supported-colors/schema.ts
Due: yarn run cspell --files

chore(deps): resolve vulnerable transitive dependencies
  package.json
  yarn.lock
Due: none

chore(security): document audit exceptions
  .yarnrc.yml
Due: yamllint

chore: added example of usage for new scroll strategy from outside
  packages/components-dev/select/module.ts
  packages/components/core/overlay/auto-hide-scroll-strategy.spec.ts
  packages/components/core/overlay/auto-hide-scroll-strategy.ts
  packages/components/select/examples.select.en.md
  packages/components/select/examples.select.ru.md
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-auto-hide-scroll-strategy/select-auto-hide-scroll-strategy-example.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

ci: add dependency vulnerability checks
  .github/workflows/audit-report.yml
  .github/workflows/audit.yml
  tools/cspell-locales/en.json
Due: yamllint

chore: tighten dependabot config and rewrite security policy
  .github/dependabot.yml
  .github/security.md
Due: yarn run cspell --files, yamllint
