Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

chore(dev): added ssr mode (#DS-3828) (#799)
  .github/dependabot.yml
  angular.json
  docs/guides/09-ssr-dev.md
  package.json
  packages/components-dev/breadcrumbs/main.ts
  packages/components-dev/ssr/app.config.server.ts
  packages/components-dev/ssr/main.server.ts
  packages/components-dev/ssr/main.ts
  packages/components-dev/ssr/server.ts
  packages/components-dev/ssr/tsconfig.app.json
  tools/cspell-locales/en.json
  yarn.lock
Due: yarn run cspell --files, yamllint

chore(docs): added preview images (#DS-3811) (#815)
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/assets/images/welcome/formatter-filesize-dark.png
  apps/docs/src/assets/images/welcome/formatter-filesize-light.png
  apps/docs/src/assets/images/welcome/sidebar-dark.png
  apps/docs/src/assets/images/welcome/sidebar-light.png
Due: none

chore(datepicker): update dev (#818)
  packages/components-dev/datepicker/module.ts
  packages/components-dev/datepicker/template.html
Due: none

fix(datepicker): text color for selected date (#DS-3803) (#817)
  packages/components/datepicker/datepicker-tokens.scss
Due: none

fix: selectAll logic used by default
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
Due: none

fix(input): disable font ligatures in password input (#DS-3779) (#816)
  packages/components/input/_input-theme.scss
Due: none

fix: unit
  packages/components/filter-bar/filter-bar.karma-spec.ts
Due: none

fix(styles): set box-sizing: initial (#DS-3786) (#819)
  packages/components/accordion/accordion-trigger.component.scss
  packages/components/checkbox/checkbox.scss
  packages/components/datepicker/calendar.scss
  packages/components/select/select.scss
Due: none

feat(filter-bar): tree-select pipe (#DS-3529) (#794)
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/filter-bar.karma-spec.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.scss
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/filter-bar/pipes/pipe-tree-select.html
  packages/components/filter-bar/pipes/pipe-tree-select.scss
  packages/components/filter-bar/pipes/pipe-tree-select.ts
  packages/components/filter-bar/public-api.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/control/flat-tree-control.filters.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.ts
  packages/docs-examples/components/filter-bar/filter-bar-master-checkbox/filter-bar-master-checkbox-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search-in-pipes/filter-bar-search-in-pipes-example.ts
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

chore(modal): deprecated -> @deprecated
  packages/components/modal/modal.type.ts
Due: none

chore: bump version to 18.29.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

fix(file-upload): layout improvements (#DS-3714)
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/multiple-file-upload.component.html
Due: none

chore: golden files fix
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/multiple-file-upload.component.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

fix(select): two elements with focus frame (#DS-3407)
  packages/components/core/select/common.ts
  packages/components/select/select.component.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(overflow-items): does not stretch to maximum width (#DS-3809)
  packages/components-dev/overflow-items/module.ts
  packages/components-dev/overflow-items/styles.scss
  packages/components/overflow-items/overflow-items.karma-spec.ts
  packages/components/overflow-items/overflow-items.ts
  tools/public_api_guard/components/overflow-items.api.md
Due: yarn run cspell --files

chore(actions-panel): updated examples and dev application
  apps/docs/src/styles/_examples.scss
  packages/components-dev/actions-panel/styles.scss
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: units
  packages/components/overflow-items/overflow-items.karma-spec.ts
Due: none

refactor: units
  packages/components/filter-bar/filter-bar.karma-spec.ts
  packages/components/overflow-items/overflow-items.karma-spec.ts
  packages/components/overflow-items/overflow-items.ts
Due: none

chore: applied changes according to design
  packages/components-dev/file-upload/module.ts
  packages/components/ellipsis-center/ellipsis-center.directive.ts
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/multiple-file-upload.component.ts
Due: none

chore: golden files
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

fix: focus order in safari
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/single-file-upload.component.html
Due: none

refactor: subscription
  packages/components/select/select.component.ts
Due: none

fix(select): two elements with focus frame (#DS-3407) (#826)
  packages/components/core/select/common.ts
  packages/components/select/select.component.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

refactor: prevent infinite loop
  packages/components/overflow-items/overflow-items.karma-spec.ts
  packages/components/overflow-items/overflow-items.ts
Due: none

refactor: specs
  packages/components/overflow-items/overflow-items.karma-spec.ts
Due: none

chore: removed unused karma dependencies and added typecheck
  .github/dependabot.yml
  karma.conf.js
  package.json
  packages/components/karma.conf.js
  yarn.lock
Due: yamllint

refactor: typo
  karma.conf.js
Due: none

refactor: comment
  karma.conf.js
Due: none

fix: after review
  packages/components/ellipsis-center/ellipsis-center.directive.ts
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/docs-examples/components/file-upload/file-upload-multiple-default-validation-reactive-forms-overview/file-upload-multiple-default-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-error-overview/file-upload-multiple-error-overview-example.ts
Due: none

fix: moved to scss var
  packages/components/file-upload/multiple-file-upload.component.scss
Due: none

chore: after review
  packages/components-dev/progress-bar/module.ts
  packages/components-dev/progress-bar/template.html
  packages/docs-examples/components/toggle/toggle-overview/toggle-overview-example.ts
Due: none

feat(file-upload): split css vars by component type (#DS-3785)
  packages/components/file-upload/file-upload-tokens.scss
Due: none

fix(core): provide rounding options in filesize formatter (#DS-3806)
  packages/components/core/formatters/filesize/formatter.ts
Due: none

chore: moved rounding logic to number formatter
  packages/components/core/formatters/filesize/__snapshots__/formatter.spec.ts.snap
  packages/components/core/formatters/filesize/formatter.spec.ts
  packages/components/core/formatters/filesize/formatter.ts
  packages/components/core/formatters/filesize/size.ts
Due: none

feat(input): make stepper always visible (#DS-3794)
  packages/components-experimental/form-field/stepper.ts
  packages/components/form-field/form-field.html
  packages/components/form-field/form-field.ts
  packages/components/form-field/stepper.ts
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

feat(file-upload): added file size info in single (#DS-2362)
  packages/components-dev/file-upload/module.ts
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/single-file-upload.component.html
  packages/components/file-upload/single-file-upload.component.scss
  packages/components/file-upload/single-file-upload.component.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

chore: added deprecation comment
  packages/components-experimental/form-field/stepper.ts
Due: none

chore: golden file
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore: added the same styling for multiple
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload-tokens.scss
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
