Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(modal): set proper border-radius (#DS-4846)
  packages/components/modal/modal-tokens.scss
Due: none

refactor: next
  .firebaserc
  .github/workflows/deploy-preview.yml
  .github/workflows/redeploy-preview.yml
  firebase.json
Due: yamllint

fix: cspell
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
Due: none

test: updated e2e snapshots
  packages/components/loader-overlay/__screenshots__/02-dark.png
  packages/components/loader-overlay/__screenshots__/02-light.png
  packages/components/modal/__screenshots__/01-dark.png
  packages/components/modal/__screenshots__/01-light.png
  packages/components/modal/__screenshots__/02-light.png
Due: none

chore: added deploy and redeploy documentation preview workflows (#DS-4784) (#1769)
  .firebaserc
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/pr-docs-preview.yml
  .github/workflows/redeploy-preview.yml
  firebase.json
Due: yamllint

chore: added deploy and redeploy documentation preview workflows (#DS-4784)
  .firebaserc
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/pr-docs-preview.yml
  .github/workflows/redeploy-preview.yml
  firebase.json
Due: yamllint

chore: added deploy and redeploy documentation preview workflows (#DS-4784) (#1791)
  .firebaserc
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/pr-docs-preview.yml
  .github/workflows/redeploy-preview.yml
  firebase.json
Due: yamllint

fix(modal): set proper border-radius (#DS-4846) (#1790)
  packages/components/loader-overlay/__screenshots__/02-dark.png
  packages/components/loader-overlay/__screenshots__/02-light.png
  packages/components/modal/__screenshots__/01-dark.png
  packages/components/modal/__screenshots__/01-light.png
  packages/components/modal/__screenshots__/02-light.png
  packages/components/modal/modal-tokens.scss
Due: none

fix(select,tree-select): stop propagation on Esc when panel opened (#DS-3739)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
Due: none

fix(select,tree-select): stop propagation on Esc when panel opened (#DS-3739) (#1793)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
Due: none

test: updated e2e snapshots
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/loader-overlay/__screenshots__/02-dark.png
  packages/components/loader-overlay/__screenshots__/02-light.png
  packages/components/modal/__screenshots__/01-dark.png
  packages/components/modal/__screenshots__/01-light.png
  packages/components/modal/__screenshots__/02-light.png
Due: none

fix(icon): set error state on autoColor properly (#DS-3680)
  packages/components/core/form-field/form-field-ref.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/form-field/form-field.spec.ts
  packages/components/icon/icon.component.ts
  packages/components/input/input-number.spec.ts
  packages/components/timepicker/timepicker.spec.ts
Due: none

fix: cspell
  packages/components/filter-bar/filter-bar.ru.md
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

chore(overflow-items): removed unused styles file (#DS-3834)
  packages/components/overflow-items/overflow-items.scss
  packages/components/overflow-items/overflow-items.ts
Due: none

test: updated e2e snapshots
  packages/components/input/__screenshots__/01-dark.png
  packages/components/input/__screenshots__/01-light.png
Due: none

fix: after review
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/schematics/src/migrations/dropdown-demote-overlay/README.md
  packages/schematics/src/migrations/dropdown-demote-overlay/data.ts
  packages/schematics/src/migrations/dropdown-demote-overlay/index.spec.ts
  packages/schematics/src/migrations/dropdown-demote-overlay/index.ts
  packages/schematics/src/utils/typescript.ts
Due: yarn run cspell --files

fix!: remove overlay z-index demotion from dropdown, select and popover (#DS-5288) (#1788)
  apps/docs/src/app/components/navbar/navbar.template.html
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/core/styles/common/_overlay.scss
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.component.ts
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.en.md
  packages/components/popover/popover.ru.md
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/top-bar/top-bar.spec.ts
  packages/components/top-bar/top-bar.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/dropdown-demote-overlay/README.md
  packages/schematics/src/migrations/dropdown-demote-overlay/data.ts
  packages/schematics/src/migrations/dropdown-demote-overlay/index.spec.ts
  packages/schematics/src/migrations/dropdown-demote-overlay/index.ts
  packages/schematics/src/migrations/dropdown-demote-overlay/schema.json
  packages/schematics/src/migrations/dropdown-demote-overlay/schema.ts
  packages/schematics/src/utils/ast.ts
  packages/schematics/src/utils/typescript.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/dropdown.api.md
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

fix: after review
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/pipes/multi-select-pipe-state.ts
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
Due: yarn run cspell --files

chore(deps-dev): remove unused devDependencies (#DS-5215)
  firebase.json
  package.json
  tools/validate-licenses/validate-licenses.ts
  yarn.lock
Due: none

fix(app-switcher): errors following a full review of the component (#DS-5386)
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-animations.ts
  packages/components/app-switcher/app-switcher-dropdown-app.scss
  packages/components/app-switcher/app-switcher-dropdown-app.ts
  packages/components/app-switcher/app-switcher-dropdown-site.ts
  packages/components/app-switcher/app-switcher-icon-sanitizer.spec.ts
  packages/components/app-switcher/app-switcher-icon-sanitizer.ts
  packages/components/app-switcher/app-switcher-list-item.scss
  packages/components/app-switcher/app-switcher-list-item.ts
  packages/components/app-switcher/app-switcher-tokens.scss
  packages/components/app-switcher/app-switcher.en.md
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.module.ts
  packages/components/app-switcher/app-switcher.ru.md
  packages/components/app-switcher/app-switcher.scss
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/e2e.playwright-spec.ts
  packages/components/app-switcher/kbq-app-switcher-list-item.ts
  packages/components/app-switcher/public-api.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  tools/public_api_guard/components/app-switcher.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: after review
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/app-switcher/app-switcher-icon-sanitizer.ts
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.scss
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/e2e.playwright-spec.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/app-switcher-signals/README.md
  packages/schematics/src/migrations/app-switcher-signals/data.ts
  packages/schematics/src/migrations/app-switcher-signals/index.spec.ts
  packages/schematics/src/migrations/app-switcher-signals/index.ts
  packages/schematics/src/migrations/app-switcher-signals/schema.json
  packages/schematics/src/migrations/app-switcher-signals/schema.ts
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

chore(docs): added link to github sources (#DS-3565) (#1778)
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/services/i18n.spec.ts
  apps/docs/src/app/services/i18n.ts
  apps/docs/src/app/structure.ts
  apps/docs/src/app/version.ts
  packages/docs-examples/example-module.ts
Due: none

fix: disable selectAll in example
  packages/docs-examples/components/filter-bar/filter-bar-locked-options/filter-bar-locked-options-example.ts
Due: none

chore(deps-dev): remove unused devDependencies (#DS-5215) (#1799)
  firebase.json
  package.json
  tools/validate-licenses/validate-licenses.ts
  yarn.lock
Due: none

fix(docs): import local files (#DS-2960)
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  apps/docs/src/testing/docs-examples.stub.ts
  packages/docs-examples/example-data.ts
  tools/example-module/example-module.template
  tools/example-module/generate-example-module.ts
  tools/example-module/resolve-local-imports.ts
Due: none

chore: after review
  tools/example-module/resolve-local-imports.ts
Due: none

chore(docs): update timezone datasource
  packages/docs-examples/components/timezone/timezone-data.ts
  packages/docs-examples/components/timezone/timezone-overview/timezone-overview-example.ts
  packages/docs-examples/components/timezone/timezone-search-overview/timezone-search-overview-example.ts
  packages/docs-examples/components/timezone/timezone-trigger-overview/timezone-trigger-overview-example.ts
Due: none

chore(docs): generate example-module.ts (#DS-2960)
  packages/docs-examples/example-module.ts
Due: none

feat(filter-bar): support locked values for multiselect and multi-tree-select pipes (#DS-4827) (#1789)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/multi-select-pipe-state.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/docs-examples/components/filter-bar/filter-bar-locked-options/filter-bar-locked-options-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(docs): import local files (#DS-2960) (#1796)
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  apps/docs/src/testing/docs-examples.stub.ts
  packages/docs-examples/example-data.ts
  tools/example-module/example-module.template
  tools/example-module/generate-example-module.ts
  tools/example-module/resolve-local-imports.ts
Due: none

chore(docs): generate example-module.ts (#DS-2960) (#1797)
  packages/docs-examples/components/timezone/timezone-data.ts
  packages/docs-examples/components/timezone/timezone-overview/timezone-overview-example.ts
  packages/docs-examples/components/timezone/timezone-search-overview/timezone-search-overview-example.ts
  packages/docs-examples/components/timezone/timezone-trigger-overview/timezone-trigger-overview-example.ts
  packages/docs-examples/example-module.ts
Due: none

fix(option,list,tree): show action button only on hover and keyboard focus (#DS-5335)
  packages/components/core/option/_action-container-mixins.scss
  packages/components/core/option/action.ts
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/e2e.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list.scss
  packages/components/tree/_tree-theme.scss
  packages/components/tree/e2e.playwright-spec.ts
  packages/components/tree/e2e.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-option.scss
  packages/components/tree/tree-selection.component.spec.ts
  packages/e2e/routes.ts
Due: none

fix(tooltip,popover,dropdown): hide the tooltip while a pop-up on the same element is open (#DS-2667)
  packages/components-dev/popover/module.ts
  packages/components-dev/popover/styles.scss
  packages/components-dev/popover/template.html
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/core/pop-up/constants.ts
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/datepicker/datepicker-toggle.component.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/notification-center/notification-center.html
  packages/components/popover/e2e.playwright-spec.ts
  packages/components/popover/e2e.ts
  packages/components/popover/popover-confirm.component.ts
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.spec.ts
  packages/components/select/select.component.ts
  packages/components/timezone/timezone-select.component.ts
  packages/components/tooltip/tooltip-registry.ts
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/datepicker.api.md
  tools/public_api_guard/components/dropdown.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tooltip.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/dropdown/dropdown.spec.ts
  packages/components/popover/popover.spec.ts
  packages/components/select/select.component.ts
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.spec.ts
  packages/components/tree-select/tree-select.component.ts
Due: none

chore: revert code block flaky changes
  packages/components/code-block/__screenshots__/01-dark.png
Due: none

feat(scrollbar): independent scrollbar implimentation (#DS-3176)
  packages/components-dev/scrollbar/module.ts
  packages/components-dev/scrollbar/styles.scss
  packages/components-dev/scrollbar/template.html
  packages/components/scrollbar/private/__screenshots__/01-dark.png
  packages/components/scrollbar/private/__screenshots__/01-light.png
  packages/components/scrollbar/private/e2e.playwright-spec.ts
  packages/components/scrollbar/private/e2e.ts
  packages/components/scrollbar/private/examples.scrollbar.en.md
  packages/components/scrollbar/private/examples.scrollbar.ru.md
  packages/components/scrollbar/private/index.ts
  packages/components/scrollbar/private/ng-package.json
  packages/components/scrollbar/private/public-api.ts
  packages/components/scrollbar/private/scrollbar.en.md
  packages/components/scrollbar/private/scrollbar.module.ts
  packages/components/scrollbar/private/scrollbar.ru.md
  packages/components/scrollbar/private/scrollbar.scss
  packages/components/scrollbar/private/scrollbar.spec.ts
  packages/components/scrollbar/private/scrollbar.ts
  packages/docs-examples/components/scrollbar/index.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-scroll-to/private-scrollbar-scroll-to-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-virtual-scroll/private-scrollbar-virtual-scroll-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-visibility/private-scrollbar-visibility-example.ts
  packages/e2e/routes.ts
  tools/api-extractor/api-extractor.ts
  tools/api-extractor/config.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/scrollbar-private.api.md
  tsconfig.json
Due: yarn run cspell --files

refactor: code review
  packages/components/scrollbar/private/e2e.playwright-spec.ts
  packages/components/scrollbar/private/e2e.ts
  packages/components/scrollbar/private/scrollbar.module.ts
  packages/components/scrollbar/private/scrollbar.scss
  packages/components/scrollbar/private/scrollbar.spec.ts
  packages/components/scrollbar/private/scrollbar.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-scroll-to/private-scrollbar-scroll-to-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-virtual-scroll/private-scrollbar-virtual-scroll-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-visibility/private-scrollbar-visibility-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/scrollbar-private.api.md
Due: yarn run cspell --files

refactor: content-panel
  packages/components/content-panel/content-panel.en.md
  packages/components/content-panel/content-panel.ru.md
  packages/components/content-panel/content-panel.ts
  packages/components/content-panel/e2e.playwright-spec.ts
  tools/public_api_guard/components/content-panel.api.md
Due: yarn run cspell --files

refactor: docs
  packages/components/scrollbar/examples.scrollbar.en.md
  packages/components/scrollbar/examples.scrollbar.ru.md
  packages/components/scrollbar/private/examples.scrollbar.en.md
  packages/components/scrollbar/private/examples.scrollbar.ru.md
  packages/components/scrollbar/private/scrollbar.en.md
  packages/components/scrollbar/private/scrollbar.ru.md
  packages/components/scrollbar/scrollbar.en.md
  packages/components/scrollbar/scrollbar.ru.md
  packages/docs-examples/components/scrollbar/private-scrollbar-scroll-to/private-scrollbar-scroll-to-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
