Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: removed back standalone marker
  packages/components/top-bar/top-bar.ts
Due: none

fix(top-bar): specified selectors to exclude breadcrumb items (#DS-5023) (#1601)
  packages/components/top-bar/top-bar.scss
  packages/components/top-bar/top-bar.ts
  tools/public_api_guard/components/top-bar.api.md
Due: yarn run cspell --files

chore: fix release notification (#DS-5129)
  .github/workflows/publish.yml
  packages/cli/src/release/notify-release.ts
Due: yamllint

fix(tabs): disabled pagination button color (#DS-5022) (#1599)
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
  packages/components/tabs/_tabs-common.scss
  packages/components/tabs/e2e.playwright-spec.ts
  packages/components/tabs/tab-header.html
  packages/components/tabs/tab-nav-bar.html
Due: none

fix(code-block): show viewAll on overflow (#DS-4920)
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/code-block/code-block.html
  packages/components/code-block/code-block.spec.ts
  packages/components/code-block/code-block.ts
  packages/components/code-block/e2e.ts
  tools/public_api_guard/components/code-block.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/code-block/__screenshots__/01-light.png
Due: none

fix: use proper @koobiq/design-tokens peerDeps version (#DS-5142)
  packages/components/package.json
Due: none

chore: use proper @koobiq/design-tokens peerDeps version (#DS-5142) (#1603)
  packages/components/package.json
Due: none

fix(code-block): show viewAll on overflow (#DS-4920) (#1602)
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/code-block/code-block.html
  packages/components/code-block/code-block.spec.ts
  packages/components/code-block/code-block.ts
  packages/components/code-block/e2e.ts
  tools/public_api_guard/components/code-block.api.md
Due: yarn run cspell --files

refactor!: remove low-risk deprecated symbols (v20.0.0 cleanup D1)
  apps/docs/src/app/components/example-viewer/example-viewer.ts
  apps/docs/src/app/components/live-example/docs-live-example.ts
  packages/components/accordion/accordion-item.ts
  packages/components/code-block/types.ts
  packages/components/core/animation/animation.ts
  packages/components/core/common-behaviors/common-module.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/core/formatters/filesize/config.ts
  packages/components/core/formatters/filesize/formatter.spec.ts
  packages/components/core/formatters/filesize/size.ts
  packages/components/core/utils/utils.spec.ts
  packages/components/core/utils/utils.ts
  packages/components/dropdown/dropdown-content.directive.ts
  packages/components/sidepanel/sidepanel-config.ts
  packages/components/sidepanel/sidepanel-container.component.ts
  packages/components/sidepanel/sidepanel.spec.ts
  tools/public_api_guard/components/accordion.api.md
  tools/public_api_guard/components/code-block.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/dropdown.api.md
  tools/public_api_guard/components/sidepanel.api.md
Due: yarn run cspell --files

refactor!: remove low-risk deprecated methods/inputs (v20.0.0 cleanup D2)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/clamped-text/clamped-text.ts
  packages/components/divider/divider.component.ts
  packages/components/divider/divider.spec.ts
  packages/components/form-field/form-field.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/docs-examples/components/tags/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tags/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/clamped-text.api.md
  tools/public_api_guard/components/divider.api.md
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

refactor!: remove deprecated file-upload validation API (v20.0.0 cleanup D3)
  packages/components-dev/file-upload/module.ts
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/file-upload.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

refactor!: remove modal kbqComponentParams and filter-bar deprecated API (v20.0.0 cleanup D4)
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components-dev/modal/module.ts
  packages/components-dev/timepicker/module.ts
  packages/components/filter-bar/filter-bar.module.ts
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filter-search.scss
  packages/components/filter-bar/filter-search.spec.ts
  packages/components/filter-bar/filter-search.ts
  packages/components/filter-bar/filters.spec.ts
  packages/components/filter-bar/filters.ts
  packages/components/filter-bar/public-api.ts
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.type.ts
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipes/filter-bar-readonly-pipes-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
  packages/docs-examples/components/modal/modal-component/modal-component-example.ts
  packages/docs-examples/components/timepicker/timepicker-variations/timepicker-variations-example.ts
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

refactor!: remove legacy KbqValidateDirective infrastructure (v20.0.0 cleanup D5a)
  packages/components/core/validation/validation.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/form-field/form-field.module.ts
  packages/components/form-field/form-field.spec.ts
  packages/components/form-field/public-api.ts
  packages/components/form-field/validate.directive.ts
  packages/components/input/input-password.ts
  packages/components/input/input.spec.ts
  packages/components/input/input.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/textarea/textarea.component.spec.ts
  packages/components/textarea/textarea.component.ts
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timepicker/timepicker.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/schematics/src/migrations/css-selectors/index.spec.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

refactor!: remove KbqDatepickerToggle + KbqFormFieldWithoutBorders (v20.0.0 cleanup D5b)
  packages/components-dev/all/template.html
  packages/components-dev/input/template.html
  packages/components-dev/select/template.html
  packages/components-dev/tree-select/template.html
  packages/components/datepicker/datepicker-module.ts
  packages/components/datepicker/datepicker-toggle.component.ts
  packages/components/datepicker/datepicker-toggle.html
  packages/components/datepicker/datepicker.spec.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-tree-select.html
  packages/components/form-field/form-field.ts
  packages/components/input/input.spec.ts
  packages/components/select/e2e.ts
  packages/components/textarea/textarea.component.spec.ts
  packages/components/timezone/e2e.ts
  packages/components/tree-select/e2e.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/docs-examples/components/input/input-overview/input-overview-example.ts
  packages/docs-examples/components/select/select-search/select-search-example.ts
  packages/docs-examples/components/timezone/timezone-search-overview/timezone-search-overview-example.ts
  packages/docs-examples/components/tree-select/tree-select-search-overview/tree-select-search-overview-example.ts
  tools/public_api_guard/components/datepicker.api.md
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

refactor!: remove @koobiq/components/risk-level package (v20.0.0 D8)
  angular.json
  package.json
  packages/components-dev/risk-level/main.ts
  packages/components-dev/risk-level/module.ts
  packages/components-dev/risk-level/styles.scss
  packages/components-dev/risk-level/template.html
  packages/components-dev/risk-level/tsconfig.app.json
  packages/components/core/styles/theming/_components-theming.scss
  packages/components/risk-level/_risk-level-theme.scss
  packages/components/risk-level/examples.risk-level.en.md
  packages/components/risk-level/examples.risk-level.ru.md
  packages/components/risk-level/index.ts
  packages/components/risk-level/ng-package.json
  packages/components/risk-level/public-api.ts
  packages/components/risk-level/risk-level-tokens.scss
  packages/components/risk-level/risk-level.component.scss
  packages/components/risk-level/risk-level.component.spec.ts
  packages/components/risk-level/risk-level.component.ts
  packages/components/risk-level/risk-level.en.md
  packages/components/risk-level/risk-level.module.ts
  packages/components/risk-level/risk-level.ru.md
  tsconfig.json
Due: yarn run cspell --files

docs(docs): document v20.0.0 deprecated API removals in CHANGELOG (D10)
  CHANGELOG.md
Due: yarn run cspell --files

refactor!: replace tooltip modifier triggers with kbqTooltipModifier input (v20.0.0 D6)
  packages/components-dev/datepicker/template.html
  packages/components-dev/tooltip/template.html
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/timepicker/timepicker.directive.ts
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.module.ts
  packages/docs-examples/components/datepicker/datepicker-minimax/datepicker-minimax-example.ts
  packages/docs-examples/components/timepicker/timepicker-overview/timepicker-overview-example.ts
  packages/docs-examples/components/timepicker/timepicker-variations/timepicker-variations-example.html
  tools/public_api_guard/components/datepicker.api.md
  tools/public_api_guard/components/timepicker.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

docs(docs): document tooltip modifier migration (D6 follow-up)
  CHANGELOG.md
Due: yarn run cspell --files

refactor!: clean up KbqFormFieldRef deprecated members (v20.0.0 D5d)
  packages/components/core/form-field/form-field-ref.ts
  packages/components/core/select/common.ts
  packages/components/form-field/form-field.ts
  packages/components/navbar/navbar-item.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

feat(schematics): add v20-upgrade migration for ng update (D11)
  CHANGELOG.md
  packages/components/package.json
  packages/schematics/scripts/copy-meta-to-dist.js
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/v20-upgrade/README.md
  packages/schematics/src/migrations/v20-upgrade/data.ts
  packages/schematics/src/migrations/v20-upgrade/index.spec.ts
  packages/schematics/src/migrations/v20-upgrade/index.ts
  packages/schematics/src/migrations/v20-upgrade/schema.json
  packages/schematics/src/migrations/v20-upgrade/schema.ts
Due: yarn run cspell --files

fix: after review
  packages/components-experimental/public-api.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/filter-bar/filter-bar.spec.ts
  packages/components/form-field/form-field.spec.ts
  packages/components/input/input.spec.ts
  packages/components/select/select.component.spec.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/textarea/textarea.component.spec.ts
  packages/components/timepicker/timepicker.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/schematics/src/migrations/v20-upgrade/data.ts
  packages/schematics/src/migrations/v20-upgrade/index.spec.ts
  packages/schematics/src/migrations/v20-upgrade/index.ts
Due: none

fix: skipped tests
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/input/input-number.spec.ts
  packages/components/input/input-password.spec.ts
  packages/components/select/select.component.spec.ts
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/timepicker/timepicker.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree/tree-selection.component.spec.ts
  packages/schematics/src/migrations/css-selectors/__snapshots__/index.spec.ts.snap
  packages/schematics/src/migrations/css-selectors/index.spec.ts
Due: none

fix(dropdown): drop obsolete null arg from DomPortalOutlet ctor
  packages/components/dropdown/dropdown-content.directive.ts
Due: none

fix(core): preserve native event target in createKeyboardEvent
  packages/components/core/testing/event-objects.ts
  packages/components/navbar/navbar.component.spec.ts
Due: none

chore(schematics): refresh css-selectors snapshots and allow empty experimental tests
  angular.json
  packages/schematics/src/migrations/css-selectors/__snapshots__/index.spec.ts.snap
Due: none

chore: ignore coverage output in stylelint
  .stylelintignore
Due: none

fixup! fix: moved cdk to core and removed @koobiq/cdk
  .github/workflows/actions/build-packages/entrypoint.sh
  .github/workflows/units.yml
  AGENTS.md
  apps/docs/README.md
  docs/guides/06-testing.md
  tools/markdown-to-html/transform-markdown.ts
Due: yarn run cspell --files, yamllint

fix: after rebase
  apps/docs/src/app/components/example-viewer/example-viewer.ts
  apps/docs/src/app/components/icons-viewer/icon-preview-modal/icon-preview-modal.component.ts
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.ts
  apps/docs/src/app/components/live-example/docs-live-example.ts
  apps/docs/src/app/services/icon-items.ts
  packages/components/icon/e2e.ts
  packages/docs-examples/example-module.ts
Due: none

fix: license
  tools/validate-licenses/validate-licenses.ts
Due: none
