Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(filter-bar): added onClosePipe output (#DS-3769) (#755)
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore: bump version to 18.28.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

chore(docs): added sidebar page (#DS-3649)
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/sitemap.xml
  package.json
  packages/components-dev/sidebar/module.ts
  packages/components-dev/sidebar/styles.scss
  packages/components-dev/sidebar/template.html
  packages/components/sidebar/examples.sidebar.en.md
  packages/components/sidebar/examples.sidebar.ru.md
  packages/components/sidebar/sidebar.component.ts
  packages/components/sidebar/sidebar.en.md
  packages/components/sidebar/sidebar.ru.md
  packages/docs-examples/components/sidebar/index.ts
  packages/docs-examples/components/sidebar/ng-package.json
  packages/docs-examples/components/sidebar/sidebar-overview/sidebar-overview-example.ts
  packages/docs-examples/components/sidebar/sidebar-with-splitter/sidebar-with-splitter-example.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/ru.json
  tools/generate-sitemap.ts
Due: yarn run cspell --files

feat(tags): added warning color (#DS-2472)
  packages/components-dev/tag/module.ts
  packages/components-dev/tag/template.html
  packages/components/tags/_tag-theme.scss
  packages/components/tags/tag-tokens.scss
  packages/components/tags/tag.en.md
  packages/components/tags/tag.ru.md
  packages/docs-examples/components/tag/index.ts
  packages/docs-examples/components/tag/tag-content/tag-content-example.ts
  packages/docs-examples/components/tag/tag-disabled/tag-disabled-example.ts
  packages/docs-examples/components/tag/tag-fill-and-style/tag-fill-and-style-example.ts
  packages/docs-examples/components/tag/tag-long-text/tag-long-text-example.ts
  packages/docs-examples/components/tag/tag-with-icon/tag-with-icon-example.ts
  packages/docs-examples/components/tag/tag-with-remove-button/tag-with-remove-button-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

chore: added link
  packages/components/tags/_tag-theme.scss
Due: none

chore: updated dependabot config ignore and groups properties (#DS-3641)
  .commitlintrc.js
  .github/dependabot.yml
Due: yamllint

refactor: upd comment
  .github/dependabot.yml
Due: yamllint

fix(select): text color for error state (#DS-3156)
  packages/components/select/_select-theme.scss
Due: none

fix(filter-bar): save filter and changes + examples (#DS-3687)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filters.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore(dev): updated select app
  packages/components-dev/select/module.ts
  packages/components-dev/select/styles.scss
  packages/components-dev/select/template.html
Due: none

chore(dev): updated select app (#763)
  packages/components-dev/select/module.ts
  packages/components-dev/select/styles.scss
  packages/components-dev/select/template.html
Due: none

chore(docs): added sidebar page (#DS-3649) (#758)
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/sitemap.xml
  package.json
  packages/components-dev/sidebar/module.ts
  packages/components-dev/sidebar/styles.scss
  packages/components-dev/sidebar/template.html
  packages/components/sidebar/examples.sidebar.en.md
  packages/components/sidebar/examples.sidebar.ru.md
  packages/components/sidebar/sidebar.component.ts
  packages/components/sidebar/sidebar.en.md
  packages/components/sidebar/sidebar.ru.md
  packages/docs-examples/components/sidebar/index.ts
  packages/docs-examples/components/sidebar/ng-package.json
  packages/docs-examples/components/sidebar/sidebar-overview/sidebar-overview-example.ts
  packages/docs-examples/components/sidebar/sidebar-with-splitter/sidebar-with-splitter-example.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/ru.json
  tools/generate-sitemap.ts
Due: yarn run cspell --files

fix(select): text color for error state (#DS-3156) (#761)
  packages/components/select/_select-theme.scss
Due: none

fix(filter-bar): save filter and changes + examples (#DS-3687) (#762)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filters.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(filter-bar): initial invalid state on empty filter name (#DS-3526)
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.ts
Due: none

fix(file-upload): added single-file-upload min-height (#DS-3775)
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/single-file-upload.component.scss
Due: none

chore: updated link example and dev app (#DS-2881)
  packages/components-dev/link/module.ts
  packages/components-dev/link/template.html
  packages/docs-examples/components/link/link-application/link-application-example.ts
Due: none

fix: update golden files
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

feat(core): update filesize formatter & docs (#DS-3357)
  angular.json
  package.json
  packages/components-dev/filesize-formatter/main.ts
  packages/components-dev/filesize-formatter/module.ts
  packages/components-dev/filesize-formatter/styles.scss
  packages/components-dev/filesize-formatter/template.html
  packages/components-dev/filesize-formatter/tsconfig.app.json
  packages/components/core/locales/formatters.ts
  packages/components/core/utils/data-size/config.ts
  packages/components/core/utils/data-size/data-size.pipe.ts
  packages/components/core/utils/data-size/size.ts
  packages/docs-examples/components/filesize-formatter/filesize-formatter-overview/filesize-formatter-overview-example.ts
  packages/docs-examples/components/filesize-formatter/index.ts
  packages/docs-examples/components/filesize-formatter/ng-package.json
Due: none

chore: updated link example and dev app (#DS-2881) (#765)
  packages/components-dev/link/module.ts
  packages/components-dev/link/template.html
  packages/docs-examples/components/link/link-application/link-application-example.ts
Due: none

fix(docs): set default filter after deletion (#DS-3685)
  packages/components-dev/filter-bar/module.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
Due: none

chore: updated dependabot config ignore and groups properties (#DS-3641) (#760)
  .commitlintrc.js
  .github/dependabot.yml
Due: yamllint

chore: updated stylelint package
  package.json
  packages/components-dev/accordion/styles.scss
  packages/components-dev/breadcrumbs/styles.scss
  packages/components-dev/filter-bar/styles.scss
  packages/components-dev/link/styles.scss
  packages/components-dev/list/styles.scss
  packages/components-dev/modal/styles.scss
  packages/components-dev/table/styles.scss
  packages/components-dev/timepicker/styles.scss
  packages/components-dev/typography/styles.scss
  yarn.lock
Due: none

chore: fix radix version
  .github/dependabot.yml
  package.json
  yarn.lock
Due: yamllint

chore: updated stylelint package (#775)
  package.json
  packages/components-dev/accordion/styles.scss
  packages/components-dev/breadcrumbs/styles.scss
  packages/components-dev/filter-bar/styles.scss
  packages/components-dev/link/styles.scss
  packages/components-dev/list/styles.scss
  packages/components-dev/modal/styles.scss
  packages/components-dev/table/styles.scss
  packages/components-dev/timepicker/styles.scss
  packages/components-dev/typography/styles.scss
  yarn.lock
Due: none

chore: fix radix version (#776)
  .github/dependabot.yml
  package.json
  yarn.lock
Due: yamllint

fix(file-upload): added single-file-upload min-height (#DS-3775) (#767)
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/single-file-upload.component.scss
Due: none

chore(dev): updated dropdown app
  packages/components-dev/dropdown/module.ts
  packages/components-dev/dropdown/styles.scss
  packages/components-dev/dropdown/template.html
Due: none

fix(docs): set default filter after deletion (#DS-3685) (#768)
  packages/components-dev/filter-bar/module.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
Due: none

fix(filter-bar): initial invalid state on empty filter name (#DS-3526) (#764)
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore(dev): updated dropdown app (#780)
  packages/components-dev/dropdown/module.ts
  packages/components-dev/dropdown/styles.scss
  packages/components-dev/dropdown/template.html
Due: none

feat(tags): added warning color (#DS-2472) (#759)
  packages/components-dev/tag/module.ts
  packages/components-dev/tag/template.html
  packages/components/tags/_tag-theme.scss
  packages/components/tags/tag-tokens.scss
  packages/components/tags/tag.en.md
  packages/components/tags/tag.ru.md
  packages/docs-examples/components/tag/index.ts
  packages/docs-examples/components/tag/tag-content/tag-content-example.ts
  packages/docs-examples/components/tag/tag-disabled/tag-disabled-example.ts
  packages/docs-examples/components/tag/tag-fill-and-style/tag-fill-and-style-example.ts
  packages/docs-examples/components/tag/tag-long-text/tag-long-text-example.ts
  packages/docs-examples/components/tag/tag-with-icon/tag-with-icon-example.ts
  packages/docs-examples/components/tag/tag-with-remove-button/tag-with-remove-button-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix(filter-bar): emit one event when all options are selected (#DS-3771)
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/docs-examples/components/filter-bar/filter-bar-master-checkbox/filter-bar-master-checkbox-example.ts
Due: none

fix(filter-bar): align icon in filters (#DS-3561)
  packages/components/filter-bar/filters.scss
Due: none

fix(dropdown): nested item trigger icon color (#DS-3715)
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/dropdown-tokens.scss
Due: none

refactor: review
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown-item.html
  packages/components/dropdown/dropdown-tokens.scss
Due: none

chore(dev): updated theme-toggle component
  packages/components-dev/theme-toggle.ts
Due: none

feat(core,formatter): added types & comments
  packages/components/core/locales/formatters.ts
  packages/components/core/utils/data-size/config.ts
  packages/components/core/utils/data-size/data-size.pipe.ts
  packages/components/core/utils/data-size/size.ts
Due: none

feat(core,formatter): moved filesize to formatters dir
  packages/components/core/formatters/filesize/config.ts
  packages/components/core/formatters/filesize/filesize-formatter.en.md
  packages/components/core/formatters/filesize/filesize-formatter.ru.md
  packages/components/core/formatters/filesize/formatter.ts
  packages/components/core/formatters/filesize/index.ts
  packages/components/core/formatters/filesize/size.spec.ts
  packages/components/core/formatters/filesize/size.ts
  packages/components/core/formatters/index.ts
  packages/components/core/locales/formatters.ts
  packages/components/core/utils/public-api.ts
Due: yarn run cspell --files

refactor: api
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
