Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

chore: update package with critical vulnerability (#DS-4629) (#1306)
  .github/workflows/docs-next.yml
  .github/workflows/docs-stable.yml
  .github/workflows/pr-docs-preview.yml
  package.json
  yarn.lock
Due: yamllint

chore: update package with critical vulnerability (#DS-4629)
  .github/workflows/docs-next.yml
  .github/workflows/docs-stable.yml
  .github/workflows/pr-docs-preview.yml
  package.json
  yarn.lock
Due: yamllint

chore: revert tabs example
  packages/components/tabs/__screenshots__/01-dark.png
Due: none

feat(input): always-on password-toggle (#DS-4288) (#1301)
  packages/components-experimental/form-field/password-toggle.ts
  packages/components/form-field/__snapshots__/form-field.spec.ts.snap
  packages/components/form-field/password-toggle.ts
  packages/components/input/__screenshots__/02-dark.png
  packages/components/input/__screenshots__/02-light.png
Due: none

fix(filter-bar): restore focus after closing (#DS-4187) (#1300)
  packages/components/filter-bar/filter-bar-button.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.ts
  packages/components/popover/popover.component.ts
  packages/components/title/title.directive.ts
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

feat(app-switcher): added iconSrc (#DS-4580) (#1292)
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/app-switcher-dropdown-app.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/kbq-app-switcher-list-item.ts
  packages/docs-examples/components/app-switcher/app-switcher-overview/app-switcher-overview-example.ts
  packages/docs-examples/components/app-switcher/app-switcher-sites/app-switcher-sites-example.ts
  tools/public_api_guard/components/app-switcher.api.md
Due: yarn run cspell --files

fix(navbar): navbar-brand missing top padding (#DS-4607) (#1293)
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/navbar-brand.scss
Due: none

chore: added AGENTS.md (#1304)
  .github/instructions/angular.instructions.md
  AGENTS.md
Due: yarn run cspell --files

chore: bump version to 18.39.2 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

chore: bump version to 19.2.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

chore: bump nodejs to 24 (#DS-4511) (#1256)
  .nvmrc
  package.json
  packages/cli/src/release/changelog.ts
  tools/builders/typescript/index.ts
  yarn.lock
Due: none

chore(file-upload): separated drop functionality
  packages/components-dev/file-upload/module.ts
  packages/components/file-upload/fullscreen-dropzone.ts
  packages/components/file-upload/primitives/file-drop.ts
Due: none

feat(file-upload): added dropzone area (#DS-2356)
  packages/components-dev/file-upload/module.ts
  packages/components/file-upload/fullscreen-dropzone.scss
  packages/components/file-upload/fullscreen-dropzone.ts
  packages/components/file-upload/public-api.ts
Due: none

chore: open local overlay via cdkOverlay
  packages/components-dev/file-upload/module.ts
  packages/components/file-upload/fullscreen-dropzone.scss
  packages/components/file-upload/fullscreen-dropzone.ts
Due: none

chore(file-upload): implemented drop for fullscreen zone
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/public-api.ts
Due: none

chore(file-upload): added integrated usage out of the box and separate usage of dropzone
  packages/components-dev/file-upload/module.ts
  packages/components/file-upload/dropzone.scss
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/file-upload.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
  packages/docs-examples/components/file-upload/file-upload-allowed/file-upload-allowed-example.ts
Due: none

chore(file-upload): implement dropzone data customization
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
Due: none

chore: disable drop listening
  packages/components/file-upload/dropzone.scss
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/primitives/file-drop.spec.ts
  packages/components/file-upload/primitives/file-drop.ts
  packages/components/file-upload/single-file-upload.component.html
  packages/components/file-upload/single-file-upload.component.ts
  packages/docs-examples/components/file-upload/file-upload-dropzone/file-upload-dropzone-example.ts
Due: none

chore(file-upload): added example of usage
  packages/components-dev/file-upload/module.ts
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/examples.file-upload.en.md
  packages/components/file-upload/examples.file-upload.ru.md
  packages/docs-examples/components/file-upload/file-upload-dropzone/file-upload-dropzone-example.ts
  packages/docs-examples/components/file-upload/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

chore: localize dropzone text
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
Due: none

chore: refactor
  packages/components/file-upload/dropzone.scss
  packages/components/file-upload/dropzone.ts
Due: none

chore: refactor
  packages/components/file-upload/dropzone.scss
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
Due: none

chore: refactor
  packages/components/file-upload/dropzone.scss
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/docs-examples/components/file-upload/file-upload-dropzone/file-upload-dropzone-example.ts
Due: none

chore: input for built-in dropzone
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
  packages/docs-examples/components/file-upload/file-upload-dropzone/file-upload-dropzone-example.ts
Due: none

chore: fixed tests & golden files
  packages/components/file-upload/file-upload.karma-spec.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

chore: fixed types
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/primitives/file-drop.ts
  packages/components/file-upload/single-file-upload.component.html
Due: none

chore: added unit tests
  packages/components/file-upload/file-upload.karma-spec.ts
Due: none

chore: added tests for local dropzone
  packages/components/file-upload/file-upload.spec.ts
Due: none

chore: fixed e2e tests
  packages/components/file-upload/dropzone.scss
  packages/components/file-upload/dropzone.ts
Due: none

chore: added tests for fullscreen dropzone
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/file-upload.spec.ts
Due: none

chore: added e2e tests
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/template.html
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/e2e/routes.ts
Due: none

chore: updated golden file
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/file-upload/__screenshots__/02-dark.png
  packages/components/file-upload/__screenshots__/02-light.png
  packages/components/file-upload/__screenshots__/03-dark.png
  packages/components/file-upload/__screenshots__/03-light.png
  packages/components/file-upload/__screenshots__/04-dark.png
  packages/components/file-upload/__screenshots__/04-light.png
Due: none

refactor: example
  packages/components-dev/dropdown/module.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/docs-examples/components/dropdown/dropdown-with-filter/dropdown-with-filter-example.ts
  packages/docs-examples/components/dropdown/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

chore: add monthly schedule for GitHub Actions updates (#DS-4510)
  .github/dependabot.yml
Due: yamllint

chore(file-upload): added MacOS support for dnd
  packages/components/file-upload/dropzone.ts
Due: none

chore(file-upload): upd example
  packages/docs-examples/components/file-upload/file-upload-dropzone/file-upload-dropzone-example.ts
Due: none

chore(file-upload): upd golden file
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

chore: use SSG in docs (#DS-4413)
  angular.json
  apps/docs/src/app/config.ts
  apps/docs/src/config.server.ts
  apps/docs/src/main.server.ts
  apps/docs/src/main.ts
  apps/docs/src/prerenderedRoutes.txt
  apps/docs/src/server.ts
Due: none

chore(file-upload): fixed tests & golden file
  packages/components/file-upload/dropzone.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
