Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix: revert dev
  packages/components-dev/navbar/module.ts
  packages/components-dev/navbar/template.html
Due: none

fix: after review
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/navbar-brand.scss
Due: none

fix(select, tree-select): reduce hidden items counter width (#DS-4098) (#1737)
  packages/components/core/styles/common/_select.scss
  packages/components/tree-select/__screenshots__/02-dark.png
  packages/components/tree-select/__screenshots__/02-light.png
Due: none

test: updated e2e snapshots
  packages/components/timezone/__screenshots__/01-dark.png
  packages/components/timezone/__screenshots__/01-light.png
  packages/components/timezone/__screenshots__/02-light.png
Due: none

chore: update tests
  packages/components/timezone/timezone-option.component.spec.ts
  packages/components/timezone/timezone.utils.spec.ts
Due: none

chore: after review
  packages/components-dev/button/module.ts
Due: none

fix: width of e2e test
  packages/components/navbar/e2e.ts
Due: none

test: updated e2e snapshots
  packages/components/navbar/__screenshots__/03-dark.png
  packages/components/navbar/__screenshots__/03-light.png
Due: none

chore: added e2e test for button icon
  packages/components-dev/button/module.ts
  packages/components-dev/button/template.html
  packages/components/button/e2e.playwright-spec.ts
  packages/components/button/e2e.ts
  packages/e2e/routes.ts
Due: none

fix(timezone): removed space from utc formatter (#DS-2780)
  packages/components/timezone/timezone.utils.spec.ts
  packages/components/timezone/timezone.utils.ts
Due: none

fix(timezone): removed space from utc formatter (#DS-5298) (#1741)
  packages/components/timezone/__screenshots__/01-dark.png
  packages/components/timezone/__screenshots__/01-light.png
  packages/components/timezone/__screenshots__/02-light.png
  packages/components/timezone/timezone-option.component.spec.ts
  packages/components/timezone/timezone.utils.spec.ts
  packages/components/timezone/timezone.utils.ts
Due: none

feat(filter-bar): add input pipe (#DS-5189)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/filter-bar-tokens.scss
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/pipe-input.scss
  packages/components/filter-bar/pipes/pipe-input.spec.ts
  packages/components/filter-bar/pipes/pipe-input.ts
  packages/components/filter-bar/public-api.ts
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipes/filter-bar-readonly-pipes-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(badge): async icon (#DS-5272)
  packages/components/badge/badge.component.spec.ts
  packages/components/badge/badge.component.ts
  packages/components/badge/e2e.playwright-spec.ts
  packages/components/badge/e2e.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/badge.api.md
Due: yarn run cspell --files

Potential fix for pull request finding
  packages/components/badge/badge.component.spec.ts
Due: none

fix: flaky docs prerender (#DS-5334)
  .github/workflows/actions/build-docs/action.yml
  apps/docs/src/app/components/version-picker/version-picker.directive.ts
Due: yamllint

refactor: review
  apps/docs/src/app/components/version-picker/version-picker.directive.ts
Due: none

docs(formatter): restructure number formatter articles (#DS-5286)
  packages/components/core/formatters/number/number-formatter.en.md
  packages/components/core/formatters/number/number-formatter.ru.md
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

fix(timezone): removed space from utc formatter (#DS-2780) (#1744)
  packages/components/timezone/__screenshots__/01-dark.png
  packages/components/timezone/__screenshots__/01-light.png
  packages/components/timezone/__screenshots__/02-light.png
  packages/components/timezone/timezone-option.component.spec.ts
  packages/components/timezone/timezone.utils.spec.ts
  packages/components/timezone/timezone.utils.ts
Due: none

feat: icon-button - add typed size input, deprecate small (#DS-3595)
  packages/components/icon/icon-button.component.ts
  packages/components/icon/icon-button.scss
  tools/public_api_guard/components/icon.api.md
Due: yarn run cspell --files

chore: update api "medium" -> "normal"
  packages/components/icon/icon-button.component.ts
  packages/docs-examples/components/icon/icon-button-size/icon-button-size-example.ts
  tools/public_api_guard/components/icon.api.md
Due: yarn run cspell --files

chore: updated docs and types for number formatters (#DS-5286) (#1733)
  packages/components-dev/number-formatter/module.ts
  packages/components-dev/number-formatter/template.html
  packages/components/core/formatters/number/formatter.ts
  packages/components/core/formatters/number/number-formatter.en.md
  packages/components/core/formatters/number/number-formatter.ru.md
  packages/components/core/locales/formatters.ts
  packages/components/core/locales/types.ts
  packages/docs-examples/components/number-formatter/index.ts
  packages/docs-examples/components/number-formatter/number-formatter-locale/number-formatter-locale-example.ts
  packages/docs-examples/components/number-formatter/number-formatter-overview/number-formatter-overview-example.html
  packages/docs-examples/components/number-formatter/number-formatter-overview/number-formatter-overview-example.ts
  packages/docs-examples/components/number-formatter/number-formatter-rounding/number-formatter-rounding-example.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(clamped-text): proper external state control (#DS-5279)
  packages/components-dev/clamped-text/module.ts
  packages/components/clamped-text/clamped-text.en.md
  packages/components/clamped-text/clamped-text.ru.md
  packages/components/clamped-text/clamped-text.spec.ts
  packages/components/clamped-text/clamped-text.ts
  packages/docs-examples/components/clamped-text/clamped-text-external-state/clamped-text-external-state-example.ts
  packages/docs-examples/components/clamped-text/index.ts
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/filter-bar/__screenshots__/01-dark.png
  packages/components/filter-bar/__screenshots__/01-light.png
Due: none

fix: flaky docs prerender (#DS-5334) (#1746)
  .github/workflows/actions/build-docs/action.yml
  apps/docs/src/app/components/version-picker/version-picker.directive.ts
Due: yamllint

chore(docs): retarget filter-bar migration to 20.2.0 (#DS-5302)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/schematics/src/migrations.json
Due: yarn run cspell --files

fix: after review
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/e2e.ts
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/e2e/routes.ts
Due: none

refactor: review
  packages/components/badge/badge.component.ts
  tools/public_api_guard/components/badge.api.md
Due: yarn run cspell --files

chore: after review
  packages/components-dev/icon/template.html
  packages/components/icon/e2e.ts
  packages/components/icon/icon-button.component.spec.ts
  packages/components/icon/icon-button.component.ts
  packages/components/icon/icon-button.scss
  packages/docs-examples/components/icon/icon-button-custom size/icon-button-custom-size-example.ts
  packages/docs-examples/components/icon/icon-button-overview/icon-button-overview-example.ts
  packages/docs-examples/components/icon/icon-button-size/icon-button-size-example.ts
  packages/docs-examples/components/icon/icon-button-style/icon-button-style-example.ts
Due: none

fix(notification-center): keep infinite scroll working at fractional browser zoom (#DS-5270)
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.ts
Due: none

chore: after review
  packages/components-dev/button/module.ts
  packages/components/button/e2e.ts
Due: none

chore: updated guard and spec
  packages/components/clamped-text/clamped-text.spec.ts
  tools/public_api_guard/components/clamped-text.api.md
Due: yarn run cspell --files

chore(button): added test for stack overflow error on large button lists (#DS-2780) (#1740)
  packages/components-dev/button/module.ts
  packages/components-dev/button/template.html
  packages/components/button/e2e.playwright-spec.ts
  packages/components/button/e2e.ts
  packages/e2e/routes.ts
Due: none

fix: after review
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.ts
Due: none

feat: icon-button - add typed size input, deprecate small (#DS-3595) (#1747)
  packages/components-dev/icon/template.html
  packages/components/icon/e2e.ts
  packages/components/icon/icon-button.component.spec.ts
  packages/components/icon/icon-button.component.ts
  packages/components/icon/icon-button.scss
  packages/docs-examples/components/icon/icon-button-custom size/icon-button-custom-size-example.ts
  packages/docs-examples/components/icon/icon-button-overview/icon-button-overview-example.ts
  packages/docs-examples/components/icon/icon-button-size/icon-button-size-example.ts
  packages/docs-examples/components/icon/icon-button-style/icon-button-style-example.ts
  tools/public_api_guard/components/icon.api.md
Due: yarn run cspell --files

fix(accordion): errors following a full review of the component (#DS-5321)
  package.json
  packages/components/accordion/_accordion-theme.scss
  packages/components/accordion/accordion-content.directive.ts
  packages/components/accordion/accordion-content.ts
  packages/components/accordion/accordion-header.directive.ts
  packages/components/accordion/accordion-header.ts
  packages/components/accordion/accordion-item.ts
  packages/components/accordion/accordion-state-store.ts
  packages/components/accordion/accordion-tokens.scss
  packages/components/accordion/accordion-trigger.directive.ts
  packages/components/accordion/accordion-trigger.scss
  packages/components/accordion/accordion-trigger.ts
  packages/components/accordion/accordion.component.ts
  packages/components/accordion/accordion.module.ts
  packages/components/accordion/accordion.scss
  packages/components/accordion/accordion.spec.ts
  packages/components/accordion/accordion.ts
  packages/components/accordion/e2e.playwright-spec.ts
  packages/components/accordion/public-api.ts
  packages/docs-examples/components/accordion/accordion-states/accordion-states-example.ts
  tools/jest/setup.ts
  tools/public_api_guard/components/accordion.api.md
  yarn.lock
Due: yarn run cspell --files

fix(timepicker): incorrect status for async validators (#DS-5268)
  .gitignore
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timepicker/timepicker.spec.ts
  packages/docs-examples/components/timepicker/timepicker-validation-symbols/timepicker-validation-symbols-example.ts
  packages/docs-examples/components/timepicker/timepicker-variations/timepicker-variations-example.ts
Due: none

fix(navbar): switch brand to two-line title automatically (#DS-4477) (#1742)
  packages/components-dev/navbar/module.ts
  packages/components/navbar/__screenshots__/03-dark.png
  packages/components/navbar/__screenshots__/03-light.png
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/e2e.ts
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.en.md
  packages/components/navbar/navbar.ru.md
  packages/docs-examples/components/navbar/index.ts
  packages/docs-examples/components/navbar/navbar-app-long-name/navbar-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-app-long-name/navbar-app-long-name-example.ts
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

fix(notification-center): keep infinite scroll working at fractional browser zoom (#DS-5270) (#1750)
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.ts
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
