Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix: api after rebase
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(split-button): added new component (#DS-4174) (#1030)
  .github/CODEOWNERS
  angular.json
  apps/docs/src/app/structure.ts
  apps/docs/src/sitemap.xml
  package.json
  packages/components-dev/split-button/main.ts
  packages/components-dev/split-button/module.ts
  packages/components-dev/split-button/template.html
  packages/components-dev/split-button/tsconfig.app.json
  packages/components/core/common-behaviors/color.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/split-button/_split-button-theme.scss
  packages/components/split-button/examples.split-button.en.md
  packages/components/split-button/examples.split-button.ru.md
  packages/components/split-button/index.ts
  packages/components/split-button/ng-package.json
  packages/components/split-button/public-api.ts
  packages/components/split-button/split-button.en.md
  packages/components/split-button/split-button.html
  packages/components/split-button/split-button.module.ts
  packages/components/split-button/split-button.ru.md
  packages/components/split-button/split-button.scss
  packages/components/split-button/split-button.spec.ts
  packages/components/split-button/split-button.ts
  packages/docs-examples/components/split-button/index.ts
  packages/docs-examples/components/split-button/ng-package.json
  packages/docs-examples/components/split-button/split-button-content/split-button-content-example.ts
  packages/docs-examples/components/split-button/split-button-disabled-state/split-button-disabled-state-example.ts
  packages/docs-examples/components/split-button/split-button-menu-width/split-button-menu-width-example.ts
  packages/docs-examples/components/split-button/split-button-overview/split-button-overview-example.ts
  packages/docs-examples/components/split-button/split-button-progress-state/split-button-progress-state-example.ts
  packages/docs-examples/components/split-button/split-button-styles/split-button-styles-example.ts
  packages/docs-examples/components/split-button/split-button-text-overflow/split-button-text-overflow-example.ts
  packages/docs-examples/example-module.ts
  tools/api-extractor/config.json
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/split-button.api.md
  tsconfig.json
Due: yarn run cspell --files

refactor: review
  packages/components-dev/tag/module.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  packages/docs-examples/components/tag/index.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

chore: add tech debt comment link
  packages/components/time-range/time-range.service.ts
Due: none

refactor: review
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
Due: none

refactor: rename
  packages/components/tags/tag-list.component.ts
Due: none

refactor: api
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

feat: added example + refactoring
  apps/docs/src/app/structure.ts
  packages/components/app-switcher/app-switcher-dropdown-app.ts
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.ru.md
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/kbq-app-switcher-list-item.ts
  packages/docs-examples/components/app-switcher/app-switcher-overview/app-switcher-overview-example.ts
  packages/docs-examples/components/app-switcher/app-switcher-sites/app-switcher-sites-example.ts
  packages/docs-examples/components/app-switcher/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/app-switcher.api.md
Due: yarn run cspell --files

feat: api + refactoring
  packages/components-dev/app-switcher/module.ts
  packages/components/app-switcher/app-switcher-animations.ts
  packages/components/app-switcher/app-switcher-dropdown-app.ts
  packages/components/app-switcher/app-switcher-dropdown-site.ts
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.module.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/examples.app-switcher.en.md
  packages/components/app-switcher/examples.app-switcher.ru.md
  packages/components/app-switcher/kbq-app-switcher-list-item.ts
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/navbar/navbar-item.component.ts
  packages/components/popover/popover-confirm.component.ts
  packages/components/popover/popover.component.ts
  packages/components/tooltip/tooltip.component.ts
  packages/docs-examples/components/app-switcher/app-switcher-sites/app-switcher-sites-example.ts
  tools/public_api_guard/components/app-switcher.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(notification-center): added new component (#DS-4039)
  angular.json
  package.json
  packages/components-dev/notification-center/main.ts
  packages/components-dev/notification-center/module.ts
  packages/components-dev/notification-center/styles.scss
  packages/components-dev/notification-center/template.html
  packages/components-dev/notification-center/tsconfig.app.json
  packages/components/notification-center/_notification-center-theme.scss
  packages/components/notification-center/examples.notification-center.en.md
  packages/components/notification-center/examples.notification-center.ru.md
  packages/components/notification-center/index.ts
  packages/components/notification-center/ng-package.json
  packages/components/notification-center/notification-center-animations.ts
  packages/components/notification-center/notification-center.en.md
  packages/components/notification-center/notification-center.html
  packages/components/notification-center/notification-center.module.ts
  packages/components/notification-center/notification-center.ru.md
  packages/components/notification-center/notification-center.scss
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.ts
  packages/components/notification-center/public-api.ts
  packages/docs-examples/components/notification-center/index.ts
  packages/docs-examples/components/notification-center/ng-package.json
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.ts
  tsconfig.json
Due: yarn run cspell --files

refactor: review
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
  packages/docs-examples/components/tag/tag-input-draggable/tag-input-draggable-example.ts
  packages/docs-examples/components/tag/tag-list-draggable/tag-list-draggable-example.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

refactor: ci specs
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag.component.spec.ts
Due: none

feat(inline-edit): handle tab navigation (#DS-4160)
  packages/components/inline-edit/inline-edit.ts
Due: none

feat(tags): added drag-and-drop functionality for tag-list (#DS-4093) (#1025)
  packages/components-dev/tag/module.ts
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag-list.scss
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  packages/components/tags/tag.scss
  packages/docs-examples/components/tag/index.ts
  packages/docs-examples/components/tag/tag-input-draggable/tag-input-draggable-example.ts
  packages/docs-examples/components/tag/tag-list-draggable/tag-list-draggable-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(tags): selection state (#DS-4161)
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-list-editable/tag-list-editable-example.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

refactor: examples
  packages/components/tags/tag-list.component.ts
  packages/docs-examples/components/tag/tag-input-draggable/tag-input-draggable-example.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(navbar): unstable state of collapsed after init (#DS-3997)
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.ts
  packages/components/navbar/vertical-navbar.component.ts
Due: none

refactor: examples
  packages/components/tags/tag.component.ts
  packages/docs-examples/components/tag/tag-input-draggable/tag-input-draggable-example.ts
  packages/docs-examples/components/tag/tag-list-draggable/tag-list-draggable-example.ts
Due: none

fix: refactor
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.ts
  packages/components/navbar/vertical-navbar.component.ts
Due: none

fix: e2e workflow checkout ref (#DS-4070)
  .github/workflows/e2e.yml
Due: yamllint

fix(navbar): unstable state of collapsed after init (#DS-3997) (#1044)
  packages/components/navbar/navbar-item.component.ts
Due: none

fix: e2e workflow checkout ref (#DS-4070) (#1045)
  .github/workflows/e2e.yml
Due: yamllint

test: e2e update screenshots workflow
  packages/components/tags/tag.scss
Due: none

test: auto-updated e2e screenshots
  packages/components-dev/e2e/components/__screenshots__/KbqTagModule-DevTagEditable-editable-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqTagModule-DevTagEditable-editable-dark-theme-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqTagModule-DevTagStateAndStyle-states-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqTagModule-DevTagStateAndStyle-states-dark-theme-1.png
Due: none

revert: e2e auto trigger (#DS-4070)
  .github/workflows/e2e.yml
Due: yamllint

revert: e2e auto trigger (#DS-4070) (#1047)
  .github/workflows/e2e.yml
Due: yamllint

chore: removed comment
  packages/components/inline-edit/inline-edit.ts
Due: none

feat(app-switcher): added new component (#DS-4040)
  angular.json
  package.json
  packages/components-dev/app-switcher/main.ts
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/styles.scss
  packages/components-dev/app-switcher/template.html
  packages/components-dev/app-switcher/tsconfig.app.json
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-animations.ts
  packages/components/app-switcher/app-switcher.component.html
  packages/components/app-switcher/app-switcher.component.ts
  packages/components/app-switcher/app-switcher.en.md
  packages/components/app-switcher/app-switcher.module.ts
  packages/components/app-switcher/app-switcher.ru.md
  packages/components/app-switcher/app-switcher.scss
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/app-switcher/examples.app-switcher.en.md
  packages/components/app-switcher/examples.app-switcher.ru.md
  packages/components/app-switcher/index.ts
  packages/components/app-switcher/ng-package.json
  packages/components/app-switcher/public-api.ts
  packages/components/popover/popover.component.ts
  tsconfig.json
Due: yarn run cspell --files

feat: save
  packages/components-dev/app-switcher/module.ts
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-tree.html
  packages/components/app-switcher/app-switcher-tree.scss
  packages/components/app-switcher/app-switcher-tree.ts
  packages/components/app-switcher/app-switcher.component.html
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.module.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/public-api.ts
Due: none

feat: tree line + styles
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-tree-option.scss
  packages/components/app-switcher/app-switcher-tree-option.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/tree/toggle.ts
Due: none

feat: added tree + layout + styles
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-tree-option.html
  packages/components/app-switcher/app-switcher-tree-option.scss
  packages/components/app-switcher/app-switcher-tree-option.ts
  packages/components/app-switcher/app-switcher-tree.html
  packages/components/app-switcher/app-switcher-tree.scss
  packages/components/app-switcher/app-switcher-tree.ts
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.module.ts
  packages/components/app-switcher/app-switcher.scss
  packages/components/app-switcher/app-switcher.ts
Due: none

fix: bugs + styles for tree
  packages/components/app-switcher/app-switcher-tree-option.scss
  packages/components/app-switcher/app-switcher-tree-option.ts
Due: none

feat: added dropdown
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.html
  packages/components/dropdown/dropdown.module.ts
Due: none

feat: dropdown styles + logic
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.scss
  packages/components/app-switcher/app-switcher.ts
Due: none

feat: kbq-app-switcher-dropdown-app & kbq-app-switcher-dropdown-site
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-dropdown-app.scss
  packages/components/app-switcher/app-switcher-dropdown-app.ts
  packages/components/app-switcher/app-switcher-dropdown-site.scss
  packages/components/app-switcher/app-switcher-dropdown-site.ts
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.scss
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/public-api.ts
Due: none

feat: refactor + replace tree on dropdown
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-app.scss
  packages/components/app-switcher/app-switcher-app.ts
  packages/components/app-switcher/app-switcher-tree-option.html
  packages/components/app-switcher/app-switcher-tree-option.scss
  packages/components/app-switcher/app-switcher-tree-option.ts
  packages/components/app-switcher/app-switcher-tree.scss
  packages/components/app-switcher/app-switcher-tree.ts
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.module.ts
  packages/components/app-switcher/app-switcher.scss
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/public-api.ts
Due: none

feat: search states
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/styles.scss
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/app-switcher-app.scss
  packages/components/app-switcher/app-switcher-app.ts
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/examples.app-switcher.en.md
Due: yarn run cspell --files

fix: styles and params
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/app-switcher-app.scss
  packages/components/app-switcher/app-switcher-dropdown-site.scss
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.scss
  packages/components/app-switcher/app-switcher.ts
Due: none

feat: structure + grouping
  packages/components-dev/app-switcher/module.ts
  packages/components/app-switcher/app-switcher-dropdown-site.scss
  packages/components/app-switcher/app-switcher-dropdown-site.ts
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.ts
Due: none
