Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: moved back focusMonitor and deprecated CVA methods on components
  apps/docs/src/app/structure.ts
  packages/components/checkbox/checkbox.ts
  packages/components/core/common-behaviors/checkable.spec.ts
  packages/components/core/common-behaviors/checkable.ts
  packages/components/toggle/toggle.component.ts
  tools/public_api_guard/components/checkbox.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

chore: create the GitHub release automatically on tag push (#DS-3378)
  .github/release.yml
  .github/workflows/actions/generate-changelog/action.yml
  .github/workflows/pr-label.yml
  .github/workflows/publish.yml
  docs/guides/05-releasing-packages.md
  packages/cli/src/release/git/github-urls.ts
  packages/cli/src/release/publish-release-github-ci.ts
Due: yarn run cspell --files, yamllint

fix: close release-pipeline gaps found in review (#DS-3378)
  .github/workflows/pr-label.yml
  .github/workflows/publish.yml
Due: yamllint

fix: fail the release job when the latest-release lookup errors (#DS-3378)
  .github/workflows/publish.yml
Due: yamllint

feat(core): theme service refactor (#DS-3003) (#1856)
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.spec.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  apps/docs/src/app/components/navbar/navbar.component.ts
  apps/docs/src/app/components/navbar/navbar.template.html
  apps/docs/src/app/components/welcome/welcome.component.ts
  apps/docs/src/app/config.ts
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components-dev/theme-toggle.ts
  packages/components/core/core.en.md
  packages/components/core/core.ru.md
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  packages/docs-examples/components/core/index.ts
  packages/docs-examples/components/core/ng-package.json
  packages/docs-examples/components/core/theme-static-selection/theme-static-selection-example.ts
  packages/docs-examples/components/empty-state/empty-state-content/empty-state-content-example.ts
  packages/docs-examples/components/notification-center/notification-center-empty/notification-center-empty-example.ts
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.ts
  packages/docs-examples/components/notification-center/notification-center-infinite-scroll/notification-center-infinite-scroll-example.ts
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.ts
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.ts
  packages/docs-examples/components/notification-center/notification-center-push/notification-center-push-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(core): extract shared KbqCheckable primitive (#DS-3498) (#1883)
  apps/docs/src/app/structure.ts
  packages/components-dev/checkbox/module.ts
  packages/components/checkbox/checkbox-config.ts
  packages/components/checkbox/checkbox.ts
  packages/components/checkbox/examples.checkbox.en.md
  packages/components/checkbox/examples.checkbox.ru.md
  packages/components/core/common-behaviors/checkable.spec.ts
  packages/components/core/common-behaviors/checkable.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/toggle/toggle.component.ts
  packages/docs-examples/components/checkbox/block-checkbox/block-checkbox-example.css
  packages/docs-examples/components/checkbox/block-checkbox/block-checkbox-example.ts
  packages/docs-examples/components/checkbox/index.ts
  tools/public_api_guard/components/checkbox.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

chore(e2e): create the report directories in the wrapper
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  tools/e2e/run.js
Due: yamllint

chore: added Comments section for AGENTS.md
  AGENTS.md
Due: yarn run cspell --files

test(icon): drop the dropdown item from the svg icons page
  packages/components/icon/__screenshots__/02-light.png
  packages/components/icon/e2e.ts
Due: none

chore(e2e): run Playwright visual tests in Docker (#DS-5311) (#1889)
  .eslintignore
  .gitattributes
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  .prettierignore
  AGENTS.md
  docs/guides/06-testing.md
  package.json
  packages/components/code-block/e2e.playwright-spec.ts
  packages/components/icon/__screenshots__/02-light.png
  packages/components/icon/e2e.playwright-spec.ts
  packages/components/icon/e2e.ts
  packages/e2e/README.md
  playwright.config.ts
  tools/e2e/Dockerfile
  tools/e2e/Dockerfile.dockerignore
  tools/e2e/assert-browsers.js
  tools/e2e/docker-compose.update.yml
  tools/e2e/docker-compose.yml
  tools/e2e/run.js
  yarn.lock
Due: yarn run cspell --files, yamllint

fix(select): keep the selected value when options are filtered under virtual scroll (#DS-4698) (#1884)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
Due: yarn run cspell --files

chore: create the GitHub release automatically on tag push (#DS-3378) (#1887)
  .github/release.yml
  .github/workflows/actions/generate-changelog/action.yml
  .github/workflows/pr-label.yml
  .github/workflows/publish.yml
  docs/guides/05-releasing-packages.md
  packages/cli/src/release/git/github-urls.ts
  packages/cli/src/release/publish-release-github-ci.ts
Due: yarn run cspell --files, yamllint

chore: added Comments section for AGENTS.md (#1890)
  AGENTS.md
Due: yarn run cspell --files

feat(code-block): added alwaysShowActionbar attribute (#DS-4721)
  packages/components/code-block/code-block.en.md
  packages/components/code-block/code-block.ru.md
  packages/components/code-block/code-block.spec.ts
  packages/components/code-block/code-block.ts
  packages/docs-examples/components/code-block/code-block-with-filled/code-block-with-filled-example.ts
  tools/public_api_guard/components/code-block.api.md
Due: yarn run cspell --files

fix(button-toggle): extend the item hover zone over the group's gap and padding (#DS-4164)
  packages/components/button-toggle/button-toggle-tokens.scss
  packages/components/button-toggle/button-toggle.scss
  packages/components/button-toggle/e2e.playwright-spec.ts
Due: none

feat(tags): added KbqTagPrefix and KbqTagSuffix directives (#DS-4208)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components-dev/all/template.html
  packages/components-dev/icon-adopted-stylesheets/template.html
  packages/components-dev/tag/template.html
  packages/components/icon/e2e.ts
  packages/components/select/select.component.spec.ts
  packages/components/tags/e2e.ts
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  packages/components/tags/tag.en.md
  packages/components/tags/tag.module.ts
  packages/components/tags/tag.ru.md
  packages/components/tags/tag.scss
  packages/docs-examples/components/select/select-custom-tag-content/select-custom-tag-content-example.ts
  packages/docs-examples/components/tags/tag-fill-and-style/tag-fill-and-style-example.ts
  packages/docs-examples/components/tags/tag-with-icon/tag-with-icon-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/tag-slots/README.md
  packages/schematics/src/migrations/tag-slots/index.spec.ts
  packages/schematics/src/migrations/tag-slots/index.ts
  packages/schematics/src/migrations/tag-slots/schema.json
  packages/schematics/src/migrations/tag-slots/schema.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/select/__screenshots__/02-dark.png
  packages/components/select/__screenshots__/02-light.png
  packages/components/select/__screenshots__/03-dark.png
  packages/components/select/__screenshots__/03-light.png
  packages/components/select/__screenshots__/05-light.png
Due: none

Potential fix for pull request finding
  packages/schematics/src/migrations/tag-slots/schema.ts
Due: none

refactor: conflict
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/button-toggle/__screenshots__/02-dark.png
  packages/components/button-toggle/__screenshots__/03-dark.png
  packages/components/button-toggle/__screenshots__/04-light.png
Due: none

test: updated e2e snapshots
  packages/components/select/__screenshots__/06-dark.png
  packages/components/select/__screenshots__/06-light.png
Due: none

fix: after review
  packages/components/button-toggle/button-toggle-tokens.scss
  packages/components/button-toggle/button-toggle.scss
  packages/components/button-toggle/e2e.playwright-spec.ts
  packages/components/core/styles/common/_select.scss
  packages/components/navbar/_navbar-item_horizontal.scss
Due: none

feat(dl): column resizing (#DS-4609)
  packages/components-dev/dl/module.ts
  packages/components-dev/dl/styles.scss
  packages/components-dev/dl/template.html
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/dl/dl-tokens.scss
  packages/components/dl/dl.component.spec.ts
  packages/components/dl/dl.component.ts
  packages/components/dl/dl.en.md
  packages/components/dl/dl.ru.md
  packages/components/dl/dl.scss
  packages/components/dl/e2e.playwright-spec.ts
  packages/components/dl/e2e.ts
  packages/components/resizer/resizer.spec.ts
  packages/components/resizer/resizer.ts
  packages/docs-examples/components/dl/dl-resizable/dl-resizable-example.ts
  packages/docs-examples/components/dl/index.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipes/filter-bar-readonly-pipes-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/dl.api.md
  tools/public_api_guard/components/resizer.api.md
Due: yarn run cspell --files

fix: npm-resolution fixture self-conflicts on every Angular patch release
  tools/check-npm-resolution/index.ts
Due: none

fix: npm-resolution fixture self-conflicts on every Angular patch release (#1897)
  tools/check-npm-resolution/index.ts
Due: none

fix(form-field): autofill background overrides error, disabled and overlay states (#DS-4096)
  packages/components-dev/input/autofill.ts
  packages/components-dev/input/module.ts
  packages/components-dev/input/template.html
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/autofill.spec.ts
  packages/components/form-field/form-field-control.ts
  packages/components/form-field/form-field-tokens.scss
  packages/components/form-field/form-field.en.md
  packages/components/form-field/form-field.ru.md
  packages/components/form-field/form-field.scss
  packages/components/form-field/form-field.ts
  packages/components/input/__screenshots__/01-dark.png
  packages/components/input/__screenshots__/01-light.png
  packages/components/input/__screenshots__/02-dark.png
  packages/components/input/__screenshots__/02-light.png
  packages/components/input/e2e.ts
  packages/components/input/input-password.ts
  packages/components/input/input.ts
  packages/components/tags/__screenshots__/04-dark.png
  packages/components/tags/__screenshots__/04-light.png
  packages/components/tags/e2e.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-text-control.ts
  packages/components/textarea/__screenshots__/01-dark.png
  packages/components/textarea/__screenshots__/01-light.png
  packages/components/textarea/e2e.ts
  packages/components/textarea/textarea.component.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/input.api.md
  tools/public_api_guard/components/tags.api.md
  tools/public_api_guard/components/textarea.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/core/common-behaviors/autofill.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/form-field.en.md
  packages/components/form-field/form-field.ru.md
  packages/components/input/__screenshots__/02-dark.png
  packages/components/input/__screenshots__/02-light.png
  packages/components/input/__screenshots__/03-dark.png
  packages/components/input/__screenshots__/03-light.png
  packages/components/input/__screenshots__/04-light.png
  packages/components/input/__screenshots__/05-dark.png
  packages/components/input/__screenshots__/05-light.png
  packages/components/input/e2e.ts
  packages/components/input/input-password.ts
  packages/components/input/input.ts
  packages/components/tags/tag-input.ts
  packages/components/textarea/textarea.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

docs(form-field): clarify autofill wording flagged in review (#DS-4096)
  packages/components/form-field/form-field-control.ts
  packages/components/form-field/form-field.en.md
  packages/components/form-field/form-field.ru.md
  packages/components/input/e2e.ts
  packages/components/tags/e2e.ts
  packages/components/textarea/e2e.ts
Due: yarn run cspell --files

test(e2e): assert the real :autofill path by forcing the pseudo-class over CDP (#DS-4096)
  packages/components/input/e2e.playwright-spec.ts
  packages/components/input/e2e.ts
  packages/components/tags/e2e.ts
  packages/components/textarea/e2e.ts
  packages/e2e/utils/autofill.ts
  packages/e2e/utils/index.ts
Due: none

fix(form-field): autofill tint doubled on the control and lagged behind the value (#DS-4096)
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/form-field.en.md
  packages/components/form-field/form-field.ru.md
  packages/components/form-field/form-field.scss
  packages/components/input/e2e.ts
  packages/components/tags/e2e.ts
  packages/components/textarea/e2e.ts
Due: yarn run cspell --files

test(form-field): screenshot every control and field state under real :autofill (#DS-4096)
  packages/components/form-field/e2e.playwright-spec.ts
  packages/components/form-field/e2e.ts
  packages/components/input/__screenshots__/01-dark.png
  packages/components/input/__screenshots__/01-light.png
  packages/components/input/__screenshots__/02-dark.png
  packages/components/input/__screenshots__/02-light.png
  packages/components/input/__screenshots__/03-dark.png
  packages/components/input/__screenshots__/03-light.png
  packages/components/input/__screenshots__/04-light.png
  packages/components/input/__screenshots__/05-dark.png
  packages/components/input/__screenshots__/05-light.png
  packages/components/input/e2e.playwright-spec.ts
  packages/components/input/e2e.ts
  packages/components/tags/__screenshots__/04-dark.png
  packages/components/tags/__screenshots__/04-light.png
  packages/components/tags/e2e.ts
  packages/components/textarea/__screenshots__/01-dark.png
  packages/components/textarea/__screenshots__/01-light.png
  packages/components/textarea/e2e.ts
  packages/e2e/routes.ts
  packages/e2e/utils/autofill.ts
Due: none

test(form-field): add autofill state matrix baselines (#DS-4096)
  packages/components/form-field/__screenshots__/04-dark.png
  packages/components/form-field/__screenshots__/04-light.png
  packages/components/form-field/__screenshots__/05-dark.png
  packages/components/form-field/__screenshots__/05-light.png
Due: none

feat(tags): added KbqTagPrefix and KbqTagSuffix directives (#DS-4208) (#1885)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components-dev/all/template.html
  packages/components-dev/icon-adopted-stylesheets/template.html
  packages/components-dev/tag/template.html
  packages/components/icon/e2e.ts
  packages/components/select/__screenshots__/02-dark.png
  packages/components/select/__screenshots__/02-light.png
  packages/components/select/__screenshots__/03-dark.png
  packages/components/select/__screenshots__/03-light.png
  packages/components/select/__screenshots__/05-light.png
  packages/components/select/__screenshots__/06-dark.png
  packages/components/select/__screenshots__/06-light.png
  packages/components/select/select.component.spec.ts
  packages/components/tags/e2e.ts
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  packages/components/tags/tag.en.md
  packages/components/tags/tag.module.ts
  packages/components/tags/tag.ru.md
  packages/components/tags/tag.scss
  packages/docs-examples/components/select/select-custom-tag-content/select-custom-tag-content-example.ts
  packages/docs-examples/components/tags/tag-fill-and-style/tag-fill-and-style-example.ts
  packages/docs-examples/components/tags/tag-with-icon/tag-with-icon-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/tag-slots/README.md
  packages/schematics/src/migrations/tag-slots/index.spec.ts
  packages/schematics/src/migrations/tag-slots/index.ts
  packages/schematics/src/migrations/tag-slots/schema.json
  packages/schematics/src/migrations/tag-slots/schema.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

Potential fix for pull request finding
  packages/components/tags/tag-input.ts
Due: none

feat(tags): add appliesTo scoping to KbqTagSeparator(#DS-4712)
  packages/components-dev/tag/module.ts
  packages/components/tags/e2e.playwright-spec.ts
  packages/components/tags/e2e.ts
  packages/components/tags/public-api.ts
  packages/components/tags/tag-default-options.ts
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag.module.ts
  packages/docs-examples/components/tags/tag-autocomplete-onpaste-off/tag-autocomplete-onpaste-off-example.ts
  packages/docs-examples/components/tags/tag-input-onpaste-off/tag-input-onpaste-off-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

refactor: review
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
Due: none

refactor: review
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

refactor(docs): inline theme partials into component stylesheets
  apps/docs/src/app/_app-theme.scss
  apps/docs/src/app/app.component.scss
  apps/docs/src/app/components/anchors/_anchors-theme.scss
  apps/docs/src/app/components/anchors/anchors.component.scss
  apps/docs/src/app/components/component-viewer/_component-viewer-theme.scss
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/components/footer/_footer-theme.scss
  apps/docs/src/app/components/footer/footer.component.html
  apps/docs/src/app/components/footer/footer.component.scss
  apps/docs/src/app/components/icons-viewer/_icons-viewer-theme.scss
  apps/docs/src/app/components/icons-viewer/icon-preview-modal/icon-preview-modal.scss
  apps/docs/src/app/components/icons-viewer/icons-viewer.scss
  apps/docs/src/app/components/live-example-viewer/_live-example-viewer-theme.scss
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.html
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.scss
  apps/docs/src/app/components/page-not-found/_page-not-found-theme.scss
  apps/docs/src/app/components/page-not-found/page-not-found.scss
  apps/docs/src/app/components/sidenav/_sidenav-theme.scss
  apps/docs/src/app/components/sidenav/sidenav.scss
  apps/docs/src/app/components/welcome/_welcome-theme.scss
  apps/docs/src/app/components/welcome/welcome.component.html
  apps/docs/src/app/components/welcome/welcome.component.scss
  apps/docs/src/main.scss
  apps/docs/src/styles/_hot-keys.scss
  apps/docs/src/styles/_markdown.scss
  apps/docs/src/styles/_theme-kbq.scss
Due: none

feat(docs): rewrite theming guide
  docs/guides/migration.ru.md
  docs/guides/theming.en.md
  docs/guides/theming.ru.md
  packages/docs-examples/components/core/index.ts
  packages/docs-examples/components/core/theme-css-variables/theme-css-variables-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

chore: refactor font customization
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/components/icons-viewer/icons-viewer.scss
  apps/docs/src/app/components/sidenav/sidenav.scss
  apps/docs/src/app/components/welcome/welcome.component.scss
  apps/docs/src/styles/_hot-keys.scss
Due: none
