Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix: move accordion from radix
  packages/components/accordion/accordion-content.directive.ts
  packages/components/accordion/accordion-content.ts
  packages/components/accordion/accordion-header.directive.ts
  packages/components/accordion/accordion-header.ts
  packages/components/accordion/accordion-item.directive.ts
  packages/components/accordion/accordion-item.ts
  packages/components/accordion/accordion-root.directive.ts
  packages/components/accordion/accordion-trigger.component.ts
  packages/components/accordion/accordion-trigger.directive.ts
  packages/components/accordion/accordion.component.html
  packages/components/accordion/accordion.component.ts
Due: none

chore: refactor
  packages/components/list/list.component.spec.ts
Due: none

fix: run dev example with accordion
  packages/components/accordion/accordion-trigger.component.ts
  packages/components/accordion/accordion.module.ts
  packages/components/core/formatters/index.ts
  packages/components/core/forms/forms-module.ts
  packages/components/core/highlight/index.ts
  packages/components/core/line/line.ts
  packages/components/core/option/option-module.ts
  packages/components/core/option/option.ts
  packages/components/core/selection/pseudo-checkbox/pseudo-checkbox.module.ts
Due: none

fix: move utils from radix
  packages/components/breadcrumbs/roving-focus-group.directive.ts
  packages/components/breadcrumbs/roving-focus-item.directive.ts
  packages/components/breadcrumbs/utils.ts
Due: none

fix: running dev example with breadcrumbs
  packages/components/button/button.module.ts
  packages/components/dl/dl.module.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.module.ts
  packages/components/ellipsis-center/ellipsis-center.directive.ts
  packages/components/title/title.module.ts
Due: none

fix: deleted radix
  .github/dependabot.yml
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  package.json
  packages/components/accordion/accordion.en.md
  packages/components/accordion/accordion.ru.md
  packages/components/breadcrumbs/breadcrumbs.en.md
  packages/components/breadcrumbs/breadcrumbs.ru.md
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/components/package.json
  packages/schematics/rollup.config.js
  packages/schematics/src/ng-add/__snapshots__/ng-add.spec.ts.snap
  packages/schematics/src/ng-add/index.ts
  yarn.lock
Due: yarn run cspell --files, yamllint

feat: update angular
  apps/docs/src/assets/stackblitz/package.json
  package.json
  yarn.lock
Due: none

feat(tags): enhance keyboard navigation and update tabIndex handling (#DS-4367)
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

feat: update angular
  package.json
  yarn.lock
Due: none

refactor: added docs
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.en.md
  packages/components/tags/tag.ru.md
Due: yarn run cspell --files

chore(docs): design-tokens page update (#DS-3236) (#1134)
  .prettierignore
  apps/docs/src/app/components/component-viewer/component-viewer-wrapper.ts
  apps/docs/src/app/components/design-tokens-viewers/data/border-radius.ts
  apps/docs/src/app/components/design-tokens-viewers/data/colors.ts
  apps/docs/src/app/components/design-tokens-viewers/data/palette.ts
  apps/docs/src/app/components/design-tokens-viewers/data/shadows.ts
  apps/docs/src/app/components/design-tokens-viewers/data/sizes.ts
  apps/docs/src/app/components/design-tokens-viewers/data/typography.ts
  apps/docs/src/app/components/design-tokens-viewers/design-tokens-viewer.ts
  apps/docs/src/app/components/design-tokens-viewers/design-tokens.scss
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/design-tokens-viewers/typography-overview.ts
  apps/docs/src/app/routes.ts
  apps/docs/src/app/structure.ts
  apps/docs/src/main.scss
  apps/docs/src/styles/_design-tokens.scss
  docs/guides/design-tokens/border-radius.md
  docs/guides/design-tokens/colors.md
  docs/guides/design-tokens/palette.md
  docs/guides/design-tokens/semantic-palette.md
  docs/guides/design-tokens/shadows.md
  docs/guides/design-tokens/sizes.md
  package.json
  packages/components/core/styles/typography/typography.en.md
  packages/components/core/styles/typography/typography.ru.md
  tools/tokens/docs/actions.js
  tools/tokens/docs/config.js
  tools/tokens/docs/formats.js
  tools/tokens/docs/index.js
  tools/tokens/docs/sdConfig.js
  tools/tokens/docs/templates.js
Due: yarn run cspell --files

chore(list): added dev example & refactored tests (#DS-4272) (#1140)
  packages/components-dev/list/module.ts
  packages/components-dev/list/template.html
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list.component.spec.ts
Due: none

refactor: rename component, move template to separate file
  apps/docs/src/app/app.component.ts
  apps/docs/src/app/components/sidenav/sidenav.component.ts
  apps/docs/src/app/components/sidenav/sidenav.html
  apps/docs/src/app/components/sidenav/sidenav.scss
  apps/docs/src/app/components/sidenav/sidenav.ts
Due: none

feat(list): changed behavior on list option removal (#DS-4272) (#1139)
  packages/components-dev/list/module.ts
  packages/components-dev/list/template.html
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list.component.spec.ts
Due: none

refactor: col width
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.en.md
  packages/components/tags/tag.ru.md
Due: yarn run cspell --files

fix: after review
  packages/components-dev/navbar/template.html
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/_navbar-theme.scss
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar-tokens.scss
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.html
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.html
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

fix: example
  packages/components-dev/navbar/template.html
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.html
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.html
Due: none

fix: angular for update
  angular.json
Due: none

fix(docs): sidenav options to links (#DS-4336) (#1141)
  apps/docs/src/app/app.component.ts
  apps/docs/src/app/components/sidenav/sidenav.html
  apps/docs/src/app/components/sidenav/sidenav.scss
  apps/docs/src/app/components/sidenav/sidenav.ts
Due: none

fix: migrate
  .eslintrc.js
  angular.json
Due: none

fix: update deps to 19
  package.json
  yarn.lock
Due: none

fix: update ts
  package.json
  yarn.lock
Due: none

fix: update cli
  apps/docs/src/server.ts
  package.json
  packages/components-dev/ssr/server.ts
  yarn.lock
Due: none

feat: added KbqResizerModule (#DS-4056)
  angular.json
  apps/docs/src/app/structure.ts
  apps/docs/src/sitemap.xml
  package.json
  packages/components-dev/resizer/main.ts
  packages/components-dev/resizer/module.ts
  packages/components-dev/resizer/styles.scss
  packages/components-dev/resizer/template.html
  packages/components-dev/resizer/tsconfig.app.json
  packages/components/content-panel/content-panel.ts
  packages/components/content-panel/index.ts
  packages/components/resizer/examples.resizer.en.md
  packages/components/resizer/examples.resizer.ru.md
  packages/components/resizer/index.ts
  packages/components/resizer/module.ts
  packages/components/resizer/ng-package.json
  packages/components/resizer/resizer.en.md
  packages/components/resizer/resizer.ru.md
  packages/components/resizer/resizer.spec.ts
  packages/components/resizer/resizer.ts
  packages/docs-examples/components/resizer/index.ts
  packages/docs-examples/components/resizer/ng-package.json
  packages/docs-examples/components/resizer/resizer-overview/resizer-overview-example.ts
  packages/docs-examples/example-module.ts
  tools/api-extractor/config.json
  tools/public_api_guard/components/content-panel.api.md
  tools/public_api_guard/components/resizer.api.md
  tsconfig.json
Due: yarn run cspell --files

fix: delete unused config
  angular.json
Due: none

fix: update cdk
  package.json
  yarn.lock
Due: none

fix: '@angular-eslint/prefer-standalone': 0,
  .eslintrc.js
Due: none

fix: update @angular-eslint
  package.json
  yarn.lock
Due: none

refactor: updated specs and example
  packages/components/resizer/resizer.spec.ts
  packages/components/resizer/resizer.ts
  packages/docs-examples/components/resizer/resizer-overview/resizer-overview-example.ts
Due: none

fix: imports
  .eslintrc.js
  packages/components-dev/textarea/module.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/kbq-app-switcher-list-item.ts
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/button-toggle/button-toggle.component.ts
  packages/components/button/button.component.ts
  packages/components/core/formatters/number/formatter.ts
  packages/components/core/forms/forms.directive.ts
  packages/components/core/highlight/highlight.pipe.ts
  packages/components/core/line/line.ts
  packages/components/core/option/action.ts
  packages/components/core/option/optgroup.ts
  packages/components/core/option/option-module.ts
  packages/components/core/selection/pseudo-checkbox/pseudo-checkbox.ts
  packages/components/dropdown/dropdown-content.directive.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/form-field/password-toggle.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list.module.ts
  packages/components/modal/modal.component.html
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.directive.ts
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/title/title.directive.ts
  packages/components/tree/tree-option.component.ts
Due: none

fix: filesize-formatter
  packages/components-dev/filesize-formatter/module.ts
  packages/docs-examples/components/filesize-formatter/filesize-formatter-overview/filesize-formatter-overview-example.ts
  packages/docs-examples/components/filesize-formatter/filesize-formatter-table-number/filesize-formatter-table-number-example.ts
Due: none

refactor: api
  tools/public_api_guard/components/resizer.api.md
Due: yarn run cspell --files

feat(breadcrumbs): keyboard navigation enhancement (#DS-3334)
  packages/components/breadcrumbs/breadcrumbs.en.md
  packages/components/breadcrumbs/breadcrumbs.ru.md
  packages/components/breadcrumbs/breadcrumbs.ts
Due: yarn run cspell --files

chore(textarea): added examples, improved documentation (#DS-4311)
  packages/components-dev/ssr/module.ts
  packages/components-dev/textarea/module.ts
  packages/components-dev/textarea/styles.scss
  packages/components-dev/textarea/template.html
  packages/components/textarea/textarea.en.md
  packages/components/textarea/textarea.ru.md
  packages/docs-examples/components/textarea/index.ts
  packages/docs-examples/components/textarea/text-area-overview/text-area-overview-example.ts
  packages/docs-examples/components/textarea/textarea-can-grow/textarea-can-grow-example.ts
  packages/docs-examples/components/textarea/textarea-disabled/textarea-disabled-example.ts
  packages/docs-examples/components/textarea/textarea-error-state/textarea-error-state-example.ts
  packages/docs-examples/components/textarea/textarea-max-rows/textarea-max-rows-example.ts
  packages/docs-examples/components/textarea/textarea-overview/textarea-overview-example.ts
Due: yarn run cspell --files

fix: build and tests
  angular.json
  packages/components/accordion/public-api.ts
  packages/components/autocomplete/autocomplete.karma-spec.ts
  packages/components/breadcrumbs/public-api.ts
  packages/components/core/formatters/date/formatter.pipe.ts
  packages/components/core/option/option.ts
  packages/components/datepicker/calendar-body.spec.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/datepicker/month-view.spec.ts
  packages/components/dropdown/dropdown.karma-spec.ts
  packages/components/empty-state/empty-state.component.spec.ts
  packages/components/file-upload/file-drop.spec.ts
  packages/components/input/input-number.spec.ts
  packages/components/input/input-password.spec.ts
  packages/components/input/input.spec.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/loader-overlay/loader-overlay.component.spec.ts
  packages/components/loader-overlay/loader-overlay.component.ts
  packages/components/navbar/navbar-item.component.ts
  packages/components/scrollbar/scrollbar.component.spec.ts
  packages/components/select/select.component.spec.ts
  packages/components/splitter/splitter.spec.ts
  packages/components/tabs/tab-body.spec.ts
  packages/components/tabs/tab-group.spec.ts
  packages/components/tabs/tab-header.component.ts
  packages/components/tags/tag-input.spec.ts
  packages/components/textarea/textarea.component.spec.ts
  packages/components/timepicker/timepicker.spec.ts
  packages/components/tree/tree-selection.component.spec.ts
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
