Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

feat(filter-bar): custom pipe (#DS-3530) (#659)
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  packages/components-dev/filter-bar/main.ts
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/examples.filter-bar.ru.md
  packages/components/filter-bar/filter-bar.module.ts
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filter-reset.ts
  packages/components/filter-bar/pipe.directive.ts
  packages/components/filter-bar/pipes/pipe-button.ts
  packages/components/filter-bar/pipes/pipe-text.html
  packages/docs-examples/components/filter-bar/filter-bar-custom-pipe/filter-bar-custom-pipe-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore: removed CI, inverted created to expired check
  .github/workflows/actions/build-docs/action.yml
  apps/docs/src/app/components/sidenav/sidenav.component.ts
  apps/docs/src/app/services/docs-metadata.ts
  apps/docs/src/app/services/documentation-items.ts
  package.json
  tools/docs/check-outdated.ts
Due: yamllint

fix(breadcrumbs): fixed error on component import (#DS-3523) (#658)
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
  package.json
  packages/components/package.json
  yarn.lock
Due: yarn run cspell --files

chore(docs): removed filter of redundant class members (#DS-3657) (#661)
  tools/api-gen/extraction/helpers.ts
Due: none

fix(link): underline in pseudo link (#DS-3671)
  packages/components/link/_link-theme.scss
Due: none

chore: fixed example
  packages/docs-examples/components/toggle/toggle-indeterminate/toggle-indeterminate-example.ts
Due: none

fix(docs): removed @docs-private from public API (#DS-3424)
  tools/api-gen/manifest/index.ts
Due: none

feat(toggle): indeterminate state (#DS-3483) (#650)
  packages/components-dev/toggle/module.ts
  packages/components-dev/toggle/template.html
  packages/components/checkbox/checkbox.ts
  packages/components/core/animation/animation.ts
  packages/components/core/common-behaviors/checkbox.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/toggle/_toggle-theme.scss
  packages/components/toggle/toggle-tokens.scss
  packages/components/toggle/toggle.component.html
  packages/components/toggle/toggle.component.spec.ts
  packages/components/toggle/toggle.component.ts
  packages/components/toggle/toggle.en.md
  packages/components/toggle/toggle.ru.md
  packages/components/toggle/toggle.scss
  packages/docs-examples/components/toggle/index.ts
  packages/docs-examples/components/toggle/toggle-indeterminate/toggle-indeterminate-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/checkbox.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

refactor: units
  tools/api-gen/manifest/__snapshots__/manifest.spec.ts.snap
  tools/api-gen/manifest/index.ts
  tools/api-gen/manifest/manifest.spec.ts
Due: none

fix(docs): removed @docs-private from public API (#DS-3424) (#665)
  tools/api-gen/manifest/__snapshots__/manifest.spec.ts.snap
  tools/api-gen/manifest/index.ts
  tools/api-gen/manifest/manifest.spec.ts
Due: none

style: add new ESLint rule @stylistic/padding-line-between-statements
  .eslintrc.js
  package.json
  yarn.lock
Due: none

chore: after review
  apps/docs/src/app/services/documentation-items.ts
Due: none

feat(docs): added "new" section badge in sidenav (#DS-3386) (#662)
  apps/docs/src/app/components/sidenav/sidenav.component.html
  apps/docs/src/app/components/sidenav/sidenav.component.ts
  apps/docs/src/app/services/documentation-items.ts
Due: none

chore: updated ci checks results output
  .github/workflows/ci.yml
Due: yamllint

chore: test
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/autocomplete.spec.ts
Due: none

chore: test
  .github/workflows/ci.yml
Due: yamllint

chore: test
  .github/workflows/ci.yml
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/autocomplete.spec.ts
Due: yamllint

chore: test lint error
  tools/cspell-locales/ru.json
Due: none

chore: test lint error
  .github/workflows/ci.yml
Due: yamllint

chore: test lint & golden checks error
  tools/public_api_guard/components/actions-panel.api.md
Due: yarn run cspell --files

chore: revert changes
  packages/components/autocomplete/autocomplete.spec.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/actions-panel.api.md
Due: yarn run cspell --files

chore: updated ci checks results output (#668)
  .github/workflows/ci.yml
Due: yamllint

fix(link): underline in pseudo link (#DS-3671) (#664)
  packages/components/link/_link-theme.scss
Due: none

chore(filter-bar): added description in api (#DS-3501)
  packages/components/filter-bar/filter-bar-button.ts
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filter-reset.ts
  packages/components/filter-bar/filter-search.ts
  packages/components/filter-bar/filters.ts
  packages/components/filter-bar/pipe-add.ts
  packages/components/filter-bar/pipe.directive.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-button.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-state.ts
  packages/components/filter-bar/pipes/pipe-text.ts
  packages/components/filter-bar/pipes/pipe-title.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix: golden files
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.ts
Due: none

fix: linter
  apps/docs/src/app/services/documentation-items.ts
Due: none

fix(tooltip): tooltip is not hidden (#DS-3673)
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/core/pop-up/pop-up.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: exclude tests for tooltip
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/dropdown/dropdown.karma-spec.ts
  packages/components/file-upload/file-upload.spec.ts
  packages/components/popover/popover.spec.ts
  packages/components/title/title.directive.karma-spec.ts
  packages/components/tooltip/tooltip.karma-spec.ts
  packages/components/tooltip/tooltip.spec.ts
Due: none

fix: build
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore(filter-bar): added description in api (#DS-3501) (#663)
  apps/docs/src/app/services/documentation-items.ts
  packages/components/filter-bar/filter-bar-button.ts
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filter-reset.ts
  packages/components/filter-bar/filter-search.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.ts
  packages/components/filter-bar/pipe-add.ts
  packages/components/filter-bar/pipe.directive.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-button.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-state.ts
  packages/components/filter-bar/pipes/pipe-text.ts
  packages/components/filter-bar/pipes/pipe-title.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(tooltip): tooltip is not hidden (#DS-3673) (#667)
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/core/pop-up/pop-up.ts
  packages/components/dropdown/dropdown.karma-spec.ts
  packages/components/file-upload/file-upload.spec.ts
  packages/components/popover/popover.spec.ts
  packages/components/title/title.directive.karma-spec.ts
  packages/components/tooltip/tooltip.karma-spec.ts
  packages/components/tooltip/tooltip.spec.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore: bump version to 18.23.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

chore(docs): disable page init animations (#DS-3567)
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.ts
Due: none

fix(button): default color (#DS-3686)
  packages/components/button/button.component.ts
Due: none

fix(filter-bar): clear pipe with button (#DS-3682)
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-text.ts
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
