Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(examples): the tree-select custom matcher example reads disabled as a signal (#DS-5708)
  packages/docs-examples/components/tree-select/tree-select-custom-matcher-with-input/tree-select-custom-matcher-with-input-example.ts
Due: none

chore(components): lint ratchet on the signal API of the library (#DS-5708)
  eslint.config.js
  packages/components/select/select-common.ts
  packages/components/sidepanel/sidepanel-ref.ts
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/sidepanel.api.md
Due: yarn run cspell --files

fix(schematics): report the removed sidepanel animation state and drop stale 21.0.0 notes (#DS-5708)
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/angular-animations-removal/README.md
  packages/schematics/src/migrations/angular-animations-removal/data.ts
  packages/schematics/src/migrations/angular-animations-removal/index.spec.ts
  packages/schematics/src/migrations/sidepanel-non-modal-behavior/README.md
  packages/schematics/src/migrations/textarea-signals/README.md
  packages/schematics/src/migrations/textarea-signals/data.ts
  packages/schematics/src/migrations/textarea-signals/index.spec.ts
  packages/schematics/src/migrations/toast-stack-and-defaults/README.md
  packages/schematics/src/migrations/toast-stack-and-defaults/data.ts
  packages/schematics/src/migrations/toast-stack-and-defaults/index.spec.ts
Due: yarn run cspell --files

docs: zoneless setup, compatibility table and signals in the 21.0.0 guides (#DS-5708)
  docs/guides/angular-21-breaking-changes.en.md
  docs/guides/angular-21-breaking-changes.ru.md
  docs/guides/installation.en.mdx
  docs/guides/installation.ru.mdx
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  docs/guides/versioning.en.mdx
  docs/guides/versioning.ru.mdx
Due: yarn run cspell --files

build(deps): drop zone.js, the unit tests run zoneless like the library (#DS-5708)
  .github/dependabot.yml
  AGENTS.md
  eslint.config.js
  package.json
  tools/vitest/fail-on-console.spec.ts
  tools/vitest/setup-angular.ts
  yarn.lock
Due: yarn run cspell --files, yamllint

test(actions-panel): open the overflow dropdown once the overflow has settled (#DS-5708)
  docs/e2e-flakiness.md
  packages/components/actions-panel/e2e.playwright-spec.ts
Due: yarn run cspell --files

fix(core): the event helpers work in Vitest's jsdom environment (#DS-5708)
  packages/components/core/testing/event-objects.ts
Due: none

fix(tree): flatten the initial data handed to the flat data source constructor (#DS-5708)
  packages/components/tree/data-source/flat-data-source.spec.ts
  packages/components/tree/data-source/flat-data-source.ts
  tools/check-angular/shared/scenarios/tree-select.suite.ts
Due: none

fix(select): keep the focus in the panel a click opens inside a form field (#DS-5708)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  tools/check-angular/shared/scenarios/select.suite.ts
Due: none

fix(tree): touch the tree selection once the focus leaves it, keep a written value pristine (#DS-5708)
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
Due: none

fix(list): mark the selection list touched only once the focus leaves it (#DS-5708)
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  tools/check-angular/shared/scenarios/list.suite.ts
Due: none

fix(tree-select): name it by the form-field label and keep a written value pristine (#DS-5708)
  packages/components/filter-bar/__screenshots__/01-dark.png
  packages/components/filter-bar/__screenshots__/01-light.png
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.en.mdx
  packages/components/tree-select/tree-select.ru.mdx
  tools/check-angular/shared/scenarios/select.helpers.ts
  tools/check-angular/shared/scenarios/tree-select.suite.ts
Due: none

fix(navbar): arrow keys move the focus from an item the user clicked (#DS-5708)
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.component.ts
  packages/components/navbar/vertical-navbar.component.ts
  tools/check-angular/shared/scenarios/navbar.suite.ts
Due: none

fix(dropdown): an item activated in a nested panel closes the whole menu and refocuses the root trigger (#DS-5708)
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.spec.ts
  tools/check-angular/shared/scenarios/dropdown.suite.ts
Due: none

fix(datepicker): toggle focus and second click, and a placeholder in the format the input takes (#DS-5708)
  docs/guides/localization.en.mdx
  docs/guides/localization.ru.mdx
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker-toggle.component.ts
  packages/components/datepicker/datepicker.component.ts
  packages/components/datepicker/datepicker.spec.ts
  tools/check-angular/shared/scenarios/datepicker.suite.ts
Due: none

docs: name 20.4.x the release line of the 20 major (#DS-5708)
  .github/security.md
  AGENTS.md
  docs/guides/05-releasing-packages.md
Due: yarn run cspell --files

fix(form-field): carry the caption of non-labelable controls over to the signal contract (#DS-5708)
  packages/components/form-field/form-field.html
  packages/components/form-field/form-field.spec.ts
  packages/components/form-field/form-field.ts
  packages/components/select/select.component.spec.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/time-range/time-range-title-as-form-field.ts
  packages/components/tree-select/tree-select.component.spec.ts
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/time-range.api.md
Due: yarn run cspell --files

fix(core): carry the overlay layers over to the zoneless, signal-based branch (#DS-5708)
  packages/components/core/overlay/overlay-layer.spec.ts
  packages/components/datepicker/datepicker.component.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.component.ts
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.spec.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/timezone/timezone-select.component.spec.ts
  packages/components/top-bar/top-bar.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

fix(cli): type-check the specs against Vitest's globals in the rollup build (#DS-5708)
  packages/cli/tsconfig.json
Due: none

fix(core): take the overlays an overlay layer adopts out of the top layer (#DS-5708)
  packages/components/core/overlay/overlay-layer.spec.ts
  packages/components/core/overlay/overlay-layer.ts
Due: none

refactor(core): let the locale-aware date pipes follow the time zone through their own signal read (#DS-5708)
  packages/components/core/formatters/date/formatter.pipe.ts
  packages/components/core/formatters/date/formatter.spec.ts
Due: none

feat(components)!: notification center, toast and overlay containers keep their state in signals (#DS-5708)
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/modal/modal-control.service.ts
  packages/components/modal/modal.component.ts
  packages/components/notification-center/notification-center.html
  packages/components/notification-center/notification-center.service.ts
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.ts
  packages/components/sidepanel/sidepanel-container.component.ts
  packages/components/sidepanel/sidepanel.service.ts
  packages/components/sidepanel/sidepanel.spec.ts
  packages/components/toast/toast-container.component.ts
  packages/components/toast/toast.component.ts
  packages/components/toast/toast.service.ts
  packages/components/toast/toast.spec.ts
  packages/docs-examples/components/notification-center/notification-center-empty/notification-center-empty-example.html
  packages/docs-examples/components/notification-center/notification-center-empty/notification-center-empty-example.ts
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.html
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.ts
  packages/docs-examples/components/notification-center/notification-center-infinite-scroll/notification-center-infinite-scroll-example.html
  packages/docs-examples/components/notification-center/notification-center-infinite-scroll/notification-center-infinite-scroll-example.ts
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.html
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.ts
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.html
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.ts
  packages/docs-examples/components/notification-center/notification-center-push/notification-center-push-example.html
  packages/docs-examples/components/notification-center/notification-center-push/notification-center-push-example.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/modal.api.md
  tools/public_api_guard/components/notification-center.api.md
  tools/public_api_guard/components/sidepanel.api.md
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

refactor(components): keep tree and tree-select state in signals and drop redundant change detection calls (#DS-5708)
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/data-source/flat-data-source.spec.ts
  packages/components/tree/data-source/flat-data-source.ts
  packages/components/tree/toggle.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

feat(components)!: filter-bar search results and file-upload progress read from signals (#DS-5708)
  packages/components/file-upload/file-upload.module.ts
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/file-upload.ts
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.html
  packages/components/file-upload/single-file-upload.component.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.spec.ts
  packages/components/filter-bar/filters.ts
  packages/components/filter-bar/pipes/pipe-date-base.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.spec.ts
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-datetime.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  tools/public_api_guard/components/file-upload.api.md
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

feat(components)!: hidden items of the select as a signal, redundant change detection calls dropped (#DS-5708)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/timezone/timezone-option.directive.ts
  tools/public_api_guard/components/select.api.md
Due: yarn run cspell --files

refactor(components): back tabs, navbar and sidebar state with signals and drop redundant markForCheck (#DS-5708)
  packages/components/app-switcher/app-switcher.ts
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar-toggle.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.component.ts
  packages/components/sidebar/sidebar.component.ts
  packages/components/sidebar/sidebar.spec.ts
  packages/components/tabs/paginated-tab-header.ts
  packages/components/tabs/tab-group.component.ts
  packages/components/tabs/tab-group.spec.ts
  packages/components/tabs/tab-nav-bar.spec.ts
  packages/components/tabs/tab-nav-bar.ts
  tools/public_api_guard/components/sidebar.api.md
Due: yarn run cspell --files

feat(components)!: keep datepicker, dropdown, popover and search-expandable state in signals (#DS-5708)
  packages/components/datepicker/calendar.component.ts
  packages/components/datepicker/datepicker-toggle.component.ts
  packages/components/datepicker/datepicker.component.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/datepicker/month-view.component.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/popover/popover-confirm.component.ts
  packages/components/search-expandable/search-expandable.spec.ts
  packages/components/search-expandable/search-expandable.ts
  tools/public_api_guard/components/datepicker.api.md
  tools/public_api_guard/components/dropdown.api.md
  tools/public_api_guard/components/popover.api.md
  tools/public_api_guard/components/search-expandable.api.md
Due: yarn run cspell --files

refactor(components): signal state and no redundant change detection in form controls and tags (#DS-5708)
  packages/components/accordion/accordion-item.ts
  packages/components/accordion/accordion.ts
  packages/components/button-toggle/button-toggle.component.ts
  packages/components/checkbox/checkbox.ts
  packages/components/ellipsis-center/ellipsis-center.directive.ts
  packages/components/form-field/form-field.ts
  packages/components/form-field/stepper.ts
  packages/components/icon/icon-button.component.ts
  packages/components/icon/icon.component.spec.ts
  packages/components/icon/icon.component.ts
  packages/components/radio/radio.component.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
  packages/components/toggle/toggle.component.html
  packages/components/toggle/toggle.component.ts
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/icon.api.md
  tools/public_api_guard/components/radio.api.md
  tools/public_api_guard/components/tags.api.md
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

feat(schematics): report the uses of the state that 21.0.0 turned into signals (#DS-5708)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/schematics/src/migrations/v21-upgrade/README.md
  packages/schematics/src/migrations/v21-upgrade/data.ts
  packages/schematics/src/migrations/v21-upgrade/data/state-signals.ts
  packages/schematics/src/migrations/v21-upgrade/spec/state-signals.spec.ts
  tools/check-api-docs/baseline.json
Due: yarn run cspell --files

feat(core)!: hover, open, visibility and class state of the pop-up base classes in signals (#DS-5708)
  packages/components/app-switcher/app-switcher.ts
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/core/pop-up/pop-up.spec.ts
  packages/components/core/pop-up/pop-up.ts
  packages/components/notification-center/notification-center.ts
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.spec.ts
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.spec.ts
  tools/check-api-docs/baseline.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(schematics): report the hover state of pop-ups read as a subject (#DS-5708)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/schematics/src/migrations/v21-upgrade/README.md
  packages/schematics/src/migrations/v21-upgrade/data/state-signals.ts
  packages/schematics/src/migrations/v21-upgrade/spec/state-signals.spec.ts
Due: yarn run cspell --files

fix(tabs): re-check vertical label overflow on resize and refresh a bound tooltipTitle (#DS-5708)
  packages/components/tabs/tab-group.component.ts
  packages/components/tabs/tab-group.spec.ts
  packages/components/tabs/tab.component.ts
Due: none

fix(navbar): focusing the navbar by code hands the focus to its first item (#DS-5708)
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.component.ts
  packages/components/navbar/vertical-navbar.component.ts
  tools/check-angular/shared/scenarios/navbar.suite.ts
Due: none

fix(modal): show the loading state of the ok and cancel buttons and clear it after a promise (#DS-5708)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/modal/modal.component.html
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.spec.ts
  packages/schematics/src/migrations/modal-signals/README.md
  packages/schematics/src/migrations/modal-signals/data.ts
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

fix(notification-center): re-render an open row once its notification is read (#DS-5708)
  packages/components/notification-center/notification-center.service.ts
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-item.html
  packages/components/notification-center/notification-item.ts
Due: none

fix(datepicker): close on escape inside the calendar, and a placeholder in the format the input parses (#DS-5708)
  docs/guides/localization.en.mdx
  docs/guides/localization.ru.mdx
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker.component.ts
  packages/components/datepicker/datepicker.spec.ts
  tools/check-angular/shared/scenarios/datepicker.suite.ts
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
