Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: fix build docs examples (#DS-5355)
  packages/docs-examples/components/timepicker/timepicker-variations/timepicker-variations-example.ts
  packages/docs-examples/example-module.ts
Due: none

fix: linter errors
  tools/cspell-locales/ru.json
Due: none

feat: proper underline position and width
  packages/components/tabs/_tabs-common.scss
  packages/components/tabs/_tabs-theme.scss
  packages/components/tabs/tab-header.component.ts
  packages/components/tabs/tab-nav-bar.ts
Due: none

feat: upd examples
  packages/components-dev/tabs/module.ts
Due: none

chore: refactor
  packages/components/tabs/_tabs-theme.scss
  packages/components/tabs/tabs-tokens.scss
Due: none

chore: added tests
  packages/components/tabs/tab-header.spec.ts
  packages/components/tabs/tab-nav-bar.spec.ts
Due: none

fix: e2e tests
  packages/components/alert/alert.component.scss
  packages/components/alert/e2e.ts
Due: none

chore(docs): add "navbar items from a template" example (#DS-5319)
  apps/docs/src/app/structure.ts
  packages/components-dev/navbar/module.ts
  packages/components-dev/navbar/template.html
  packages/components/navbar/examples.navbar.en.md
  packages/components/navbar/examples.navbar.ru.md
  packages/docs-examples/components/navbar/index.ts
  packages/docs-examples/components/navbar/navbar-template-outlet/navbar-template-outlet-example.html
  packages/docs-examples/components/navbar/navbar-template-outlet/navbar-template-outlet-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

feat(filter-bar): add input pipe (#DS-5189) (#1749)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filters.scss
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/pipe-input.scss
  packages/components/filter-bar/pipes/pipe-input.spec.ts
  packages/components/filter-bar/pipes/pipe-input.ts
  packages/components/filter-bar/pipes/pipe-states.spec-helper.ts
  packages/components/filter-bar/public-api.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

feat(filter-bar): add input pipe (#DS-5189) (#1749)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/__screenshots__/02-filters-dark.png
  packages/components/filter-bar/__screenshots__/02-filters-light.png
  packages/components/filter-bar/e2e.playwright-spec.ts
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.scss
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/pipe-input.scss
  packages/components/filter-bar/pipes/pipe-input.spec.ts
  packages/components/filter-bar/pipes/pipe-input.ts
  packages/components/filter-bar/pipes/pipe-states.spec-helper.ts
  packages/components/filter-bar/public-api.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/e2e/routes.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
Due: none

chore: update golden file
  tools/public_api_guard/components/tabs.api.md
Due: yarn run cspell --files

fix(tags): autocomplete add tag on blur (#DS-5352) (#1761)
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
  packages/docs-examples/components/tags/tag-autocomplete-overview/tag-autocomplete-overview-example.ts
Due: none

chore: after review
  packages/components-dev/tabs/module.ts
  packages/components/tabs/tab-header.component.ts
  packages/components/tabs/tab-header.spec.ts
  packages/components/tabs/tab-nav-bar.spec.ts
  packages/components/tabs/tab-nav-bar.ts
Due: none

refactor: design review
  packages/components-dev/dropdown/module.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/e2e.ts
  packages/docs-examples/components/dropdown/dropdown-item-progress/dropdown-item-progress-example.ts
  packages/docs-examples/components/dropdown/dropdown-overview/dropdown-overview-example.html
  packages/docs-examples/components/dropdown/index.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

fix(dropdown): kbq-progress overlay (#DS-5314)
  packages/components/core/styles/common/_animation.scss
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
  packages/components/dropdown/dropdown-item.scss
  packages/components/dropdown/dropdown.scss
  packages/components/dropdown/e2e.ts
  packages/docs-examples/components/dropdown/dropdown-overview/dropdown-overview-example.html
Due: none

refactor: review
  packages/components/dropdown/dropdown.scss
Due: none

chore: fix import
  packages/components/tabs/tab-header.component.ts
Due: none

test: updated e2e snapshots
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
Due: none

chore: added disabled state & upd e2e tests
  packages/components-dev/tabs/template.html
  packages/components/tabs/_tabs-common.scss
  packages/components/tabs/e2e.ts
  packages/components/tabs/tab-header.component.ts
  packages/components/tabs/tab-header.html
  packages/components/tabs/tab-header.scss
  packages/components/tabs/tab-nav-bar.html
  packages/components/tabs/tab-nav-bar.ts
Due: none

chore: upd api
  tools/public_api_guard/components/tabs.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/filter-bar/__screenshots__/01-dark.png
  packages/components/filter-bar/__screenshots__/01-light.png
Due: none

feat(filter-bar): add input pipe (#DS-5189) (#1765)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/__screenshots__/01-dark.png
  packages/components/filter-bar/__screenshots__/01-light.png
  packages/components/filter-bar/__screenshots__/02-filters-dark.png
  packages/components/filter-bar/__screenshots__/02-filters-light.png
  packages/components/filter-bar/e2e.playwright-spec.ts
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.scss
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/pipe-input.scss
  packages/components/filter-bar/pipes/pipe-input.spec.ts
  packages/components/filter-bar/pipes/pipe-input.ts
  packages/components/filter-bar/pipes/pipe-states.spec-helper.ts
  packages/components/filter-bar/public-api.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/e2e/routes.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(tags): autocomplete create tag (#DS-5172) (#1674)
  packages/components/tags/tag-input.spec.ts
Due: none

refactor: tag autocomplete examples (#DS-5172) (#1649)
  packages/components-dev/tag/module.ts
  packages/components/tags/examples.tag-autocomplete.en.md
  packages/components/tags/examples.tag-autocomplete.ru.md
  packages/components/tags/examples.tag-input.en.md
  packages/components/tags/examples.tag-input.ru.md
  packages/docs-examples/components/tags/index.ts
  packages/docs-examples/components/tags/tag-autocomplete-draggable/tag-autocomplete-draggable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-editable/tag-autocomplete-editable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-onpaste-off/tag-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tags/tag-autocomplete-onpaste-off/tag-autocomplete-onpaste-off-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-overview/tag-autocomplete-overview-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tags/tag-input-onpaste-off/tag-input-onpaste-off-example.html
  packages/docs-examples/components/tags/tag-input-onpaste-off/tag-input-onpaste-off-example.ts
Due: yarn run cspell --files

refactor: tag autocomplete examples (#DS-5172) (#1649)
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
  packages/docs-examples/example-module.ts
Due: none

fix(docs): live example reset button styles (#DS-5213) (#1659)
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.html
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.scss
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.ts
Due: none

chore: added deploy and redeploy documentation preview workflows (#DS-4784) (#1689)
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/pr-docs-preview.yml
  .github/workflows/redeploy-preview.yml
Due: yamllint

chore: restrict /approve-snapshots and /redeploy-preview to owners/members (#1727)
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/redeploy-preview.yml
Due: yamllint

feat(app-switcher): add keyboard navigation (#DS-4246)
  packages/components/app-switcher/app-switcher-dropdown-app.ts
  packages/components/app-switcher/app-switcher-dropdown-site.ts
  packages/components/app-switcher/app-switcher.en.md
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.ru.md
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/e2e.playwright-spec.ts
  packages/components/app-switcher/kbq-app-switcher-list-item.scss
  packages/components/app-switcher/kbq-app-switcher-list-item.ts
  tools/public_api_guard/components/app-switcher.api.md
Due: yarn run cspell --files

fix: linter error
  packages/components/app-switcher/app-switcher.html
  tools/cspell-locales/ru.json
Due: none

fix(docs): localized button-icon override (#DS-5318)
  apps/docs/src/app/components/navbar/navbar.scss
Due: none

fix: e2e
  packages/components/alert/e2e.ts
Due: none

feat(core): replace overlay offsetY gap with in-pane padding (#DS-3597)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/e2e.playwright-spec.ts
  packages/components/autocomplete/e2e.ts
  packages/components/core/pop-up/constants.ts
  packages/components/core/styles/_core.scss
  packages/components/core/styles/common/_connected-overlay.scss
  packages/components/datepicker/datepicker.component.ts
  packages/components/datepicker/e2e.playwright-spec.ts
  packages/components/datepicker/e2e.ts
  packages/components/popover/e2e.playwright-spec.ts
  packages/components/popover/e2e.ts
  packages/components/popover/popover.component.ts
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/tree-select/e2e.playwright-spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/alert/__screenshots__/01-dark.png
  packages/components/alert/__screenshots__/01-light.png
Due: none

fix: after review
  packages/docs-examples/components/navbar/navbar-template-outlet/navbar-template-outlet-example.ts
Due: none

chore(docs): add "navbar items from a template" example (#DS-5319) (#1763)
  apps/docs/src/app/structure.ts
  packages/components-dev/navbar/module.ts
  packages/components-dev/navbar/template.html
  packages/components/navbar/examples.navbar.en.md
  packages/components/navbar/examples.navbar.ru.md
  packages/docs-examples/components/navbar/index.ts
  packages/docs-examples/components/navbar/navbar-template-outlet/navbar-template-outlet-example.html
  packages/docs-examples/components/navbar/navbar-template-outlet/navbar-template-outlet-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

feat(tooltip): show only one tooltip at a time (#DS-4856) (#1759)
  packages/components-dev/tooltip/template.html
  packages/components/tooltip/public-api.ts
  packages/components/tooltip/tooltip-registry.ts
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.en.md
  packages/components/tooltip/tooltip.ru.md
  packages/components/tooltip/tooltip.spec.ts
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files
