Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

refactor: test
  .github/workflows/deploy-preview.yml
  .github/workflows/redeploy-preview.yml
  apps/docs/src/app/app.component.html
Due: yamllint

refactor: test
  .github/workflows/deploy-preview.yml
  .github/workflows/redeploy-preview.yml
Due: yamllint

refactor: test
  apps/docs/src/app/app.component.html
  apps/docs/src/app/components/welcome/welcome.component.html
Due: none

refactor: test
  .github/workflows/deploy-preview.yml
Due: yamllint

refactor: test
  .github/workflows/redeploy-preview.yml
Due: yamllint

chore(docs): fix tokens collision on docs build (#1693)
  apps/docs/src/app/components/design-tokens-viewers/data/colors.ts
  tools/tokens/docs/sdConfig.js
Due: none

fix(breadcrumbs): close result dropdown when no hidden items (#DS-4578) (#1692)
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/components/breadcrumbs/e2e.playwright-spec.ts
  packages/components/breadcrumbs/e2e.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

refactor: test
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/redeploy-preview.yml
Due: yamllint

chore: after review
  packages/components/button/button-group.scss
Due: none

fix(filter-bar): restore keyboard focus ring on pipe trigger after selection (#DS-3829) (#1694)
  packages/components/filter-bar/pipe-add.spec.ts
  packages/components/filter-bar/pipe-add.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-date.spec.ts
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.spec.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-text.spec.ts
  packages/components/filter-bar/pipes/pipe-text.ts
  packages/components/filter-bar/pipes/pipe-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-tree-select.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(button-toggle): proper alignment on stretched (#DS-5237)
  packages/components-dev/button-toggle/module.ts
  packages/components-dev/button-toggle/template.html
  packages/components/button-toggle/button-toggle.component.ts
  packages/components/button-toggle/button-toggle.scss
  packages/components/button-toggle/e2e.playwright-spec.ts
  packages/components/button-toggle/e2e.ts
  packages/docs-examples/components/button-toggle/button-toggle-alignment-overview/button-toggle-alignment-overview-example.css
  packages/docs-examples/components/button-toggle/button-toggle-alignment-overview/button-toggle-alignment-overview-example.html
  packages/docs-examples/components/button-toggle/button-toggle-alignment-overview/button-toggle-alignment-overview-example.ts
  packages/docs-examples/components/button-toggle/button-toggle-tooltip-overview/button-toggle-tooltip-overview-example.css
  packages/docs-examples/components/button-toggle/button-toggle-tooltip-overview/button-toggle-tooltip-overview-example.ts
  packages/e2e/routes.ts
Due: none

fix(notification-center): add infinite scroll, delete events and loading states (#DS-5164) (#1627)
  packages/components-dev/notification-center/module.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/navbar/navbar-item.scss
  packages/components/notification-center/__screenshots__/01-dark.png
  packages/components/notification-center/__screenshots__/01-light.png
  packages/components/notification-center/_notification-center-theme.scss
  packages/components/notification-center/notification-center.en.md
  packages/components/notification-center/notification-center.html
  packages/components/notification-center/notification-center.ru.md
  packages/components/notification-center/notification-center.scss
  packages/components/notification-center/notification-center.service.ts
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.ts
  packages/components/notification-center/notification-item.html
  packages/components/notification-center/notification-item.scss
  packages/components/notification-center/notification-item.ts
  packages/docs-examples/components/notification-center/index.ts
  packages/docs-examples/components/notification-center/notification-center-empty/notification-center-empty-example.html
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.html
  packages/docs-examples/components/notification-center/notification-center-infinite-scroll/notification-center-infinite-scroll-example.html
  packages/docs-examples/components/notification-center/notification-center-infinite-scroll/notification-center-infinite-scroll-example.ts
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.html
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.html
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/notification-center.api.md
Due: yarn run cspell --files

fix(notification-center): add infinite scroll, delete events and loading states (#DS-5164) (#1698)
  packages/components-dev/notification-center/module.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/navbar/navbar-item.scss
  packages/components/notification-center/__screenshots__/01-dark.png
  packages/components/notification-center/__screenshots__/01-light.png
  packages/components/notification-center/_notification-center-theme.scss
  packages/components/notification-center/notification-center.en.md
  packages/components/notification-center/notification-center.html
  packages/components/notification-center/notification-center.ru.md
  packages/components/notification-center/notification-center.scss
  packages/components/notification-center/notification-center.service.ts
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.ts
  packages/components/notification-center/notification-item.html
  packages/components/notification-center/notification-item.scss
  packages/components/notification-center/notification-item.ts
  packages/docs-examples/components/notification-center/index.ts
  packages/docs-examples/components/notification-center/notification-center-empty/notification-center-empty-example.html
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.html
  packages/docs-examples/components/notification-center/notification-center-infinite-scroll/notification-center-infinite-scroll-example.html
  packages/docs-examples/components/notification-center/notification-center-infinite-scroll/notification-center-infinite-scroll-example.ts
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.html
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.html
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/notification-center.api.md
Due: yarn run cspell --files

docs(ag-grid): improve infinite selection section wording (#DS-5157)
  docs/data-grid/ag-grid/ag-grid.ru.md
Due: yarn run cspell --files

docs(ag-grid): describe column menu search, reset and pinning constraints (#DS-5157)
  docs/data-grid/ag-grid/ag-grid.ru.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/button-toggle/__screenshots__/04-dark.png
  packages/components/button-toggle/__screenshots__/04-light.png
Due: none

refactor: en
  docs/data-grid/ag-grid/ag-grid.en.md
Due: yarn run cspell --files

fix: button-group replaced gap with background-clip (#DS-5112) (#1691)
  packages/components/button/__screenshots__/04-dark.png
  packages/components/button/__screenshots__/04-light.png
  packages/components/button/button-group.scss
  packages/components/button/e2e.ts
Due: none

refactor(ag-grid): add more columns with descriptive names to column menu example (#DS-5157)
  packages/docs-examples/components/ag-grid/ag-grid-column-menu/ag-grid-column-menu-example.ts
Due: none

chore: bump @koobiq/ag-grid-angular-theme to 34.4.0, added new examples (#DS-5157) (#1686)
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  packages/components-dev/ag-grid/module.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-column-menu/ag-grid-column-menu-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-column-state/ag-grid-column-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-copy-selected/ag-grid-copy-selected-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-external-filter-state/ag-grid-external-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-filter-state/ag-grid-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-infinite-selection/ag-grid-infinite-selection-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-loading-overlay/ag-grid-loading-overlay-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-overview/ag-grid-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-quick-filter-state/ag-grid-quick-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-actions/ag-grid-row-actions-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-dragging/ag-grid-row-dragging-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-skeleton-cell-renderer/ag-grid-skeleton-cell-renderer-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-status-bar/ag-grid-status-bar-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/components/content-panel/content-panel-with-grid/content-panel-with-grid-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix: errors
  packages/components-dev/scrollbar/template.html
  packages/components/app-switcher/app-switcher.ts
  packages/components/popover/popover.component.ts
  packages/components/username/types.ts
Due: none

refactor: undo
  apps/docs/src/app/components/welcome/welcome.component.html
Due: none

chore: update golden file
  tools/public_api_guard/components/button-toggle.api.md
Due: yarn run cspell --files

fix: z-index in navbar and topbar (#DS-5264)
  packages/components/core/styles/common/_overlay.scss
  packages/components/navbar/navbar.scss
  packages/components/top-bar/top-bar.scss
Due: none

fix: z-index in navbar and topbar (#DS-5264) (#1700)
  packages/components/core/styles/common/_overlay.scss
  packages/components/navbar/navbar.scss
  packages/components/top-bar/top-bar.scss
Due: none

chore: bump version to 19.8.3 w/ changelog
  CHANGELOG.md
  apps/docs/src/llms-full.txt
  apps/docs/src/llms.txt
  package.json
Due: yarn run cspell --files

fix(notification-center, popover): re-apply stickToWindow position on window resize (#DS-4248)
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/notification-center/notification-center.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/notification-center/notification-center.spec.ts
Due: none

fix(button-toggle): proper alignment on stretched (#DS-5237) (#1696)
  packages/components-dev/button-toggle/module.ts
  packages/components-dev/button-toggle/template.html
  packages/components/button-toggle/__screenshots__/04-dark.png
  packages/components/button-toggle/__screenshots__/04-light.png
  packages/components/button-toggle/button-toggle.component.ts
  packages/components/button-toggle/button-toggle.scss
  packages/components/button-toggle/e2e.playwright-spec.ts
  packages/components/button-toggle/e2e.ts
  packages/docs-examples/components/button-toggle/button-toggle-alignment-overview/button-toggle-alignment-overview-example.css
  packages/docs-examples/components/button-toggle/button-toggle-alignment-overview/button-toggle-alignment-overview-example.html
  packages/docs-examples/components/button-toggle/button-toggle-alignment-overview/button-toggle-alignment-overview-example.ts
  packages/docs-examples/components/button-toggle/button-toggle-tooltip-overview/button-toggle-tooltip-overview-example.css
  packages/docs-examples/components/button-toggle/button-toggle-tooltip-overview/button-toggle-tooltip-overview-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/button-toggle.api.md
Due: yarn run cspell --files

chore: replace fs-extras with fs (#DS-5162)
  .github/dependabot.yml
  package.json
  tools/package-docs-content/package-docs-content.ts
  tools/update-doc-versions/update-doc-versions.ts
  yarn.lock
Due: yamllint

fix(notification-center, popover): re-apply stickToWindow position on window resize (#DS-4248) (#1697)
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/notification-center/notification-center.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore: after review
  tools/package-docs-content/package-docs-content.ts
Due: none

chore: replace fs-extras with fs (#DS-5162) (#1703)
  .github/dependabot.yml
  package.json
  tools/package-docs-content/package-docs-content.ts
  tools/update-doc-versions/update-doc-versions.ts
  yarn.lock
Due: yamllint

fix(notification-center): scroll load-more spinner and error row into view (#DS-5183)
  packages/components/notification-center/notification-center.scss
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.ts
Due: none

fix(breadcrumbs): align padding on dropdown-trigger breadcrumb item (#DS-5124)
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/dropdown/dropdown.scss
Due: none

chore: after review
  packages/components/dropdown/dropdown.scss
Due: none

test: updated e2e snapshots
  packages/components/breadcrumbs/__screenshots__/01-dark.png
  packages/components/breadcrumbs/__screenshots__/01-light.png
  packages/components/breadcrumbs/__screenshots__/02-light.png
Due: none

chore: after review
  packages/components/app-switcher/app-switcher.ts
  packages/components/popover/popover.component.ts
Due: none

Revert "chore: after review"
  packages/components/app-switcher/app-switcher.ts
  packages/components/popover/popover.component.ts
Due: none
