Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore(tabs): example with actionbar (#DS-4902) (#1596)
  packages/docs-examples/components/tabs/tabs-actionbar/tabs-actionbar-example.css
Due: none

test: updated e2e snapshots
  packages/components/actions-panel/__screenshots__/2-dark.png
  packages/components/actions-panel/__screenshots__/2-light.png
  packages/components/icon/__screenshots__/02-light.png
Due: none

test: updated e2e snapshots
  packages/components/top-bar/__screenshots__/01-dark.png
  packages/components/top-bar/__screenshots__/01-light.png
Due: none

fix(top-bar): specified selectors to exclude breadcrumb items (#DS-5023) (#1595)
  packages/components/top-bar/__screenshots__/01-dark.png
  packages/components/top-bar/__screenshots__/01-light.png
  packages/components/top-bar/top-bar.scss
  packages/components/top-bar/top-bar.ts
  tools/public_api_guard/components/top-bar.api.md
Due: yarn run cspell --files

fix: remove nested dropdown width override
  packages/components/dropdown/dropdown.scss
Due: none

fix: Update dropdown e2e width
  packages/components/dropdown/e2e.ts
Due: none

test: updated e2e snapshots
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
Due: none

feat(autocomplete,dropdown): set panel min width to 200px (#DS-4067) (#1597)
  packages/components/actions-panel/__screenshots__/2-dark.png
  packages/components/actions-panel/__screenshots__/2-light.png
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
  packages/components/dropdown/dropdown-tokens.scss
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.html
  packages/components/dropdown/dropdown.scss
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/e2e.ts
  packages/components/icon/__screenshots__/02-light.png
  tools/public_api_guard/components/autocomplete.api.md
Due: yarn run cspell --files

feat(icon): enhance e2e test with form field and navbar components
  packages/components/icon/e2e.ts
Due: none

fix(form-field): update cleaner and password-toggle component imports and icon handling
  packages/components/form-field/cleaner.ts
  packages/components/form-field/password-toggle.scss
  packages/components/form-field/password-toggle.ts
  packages/components/icon/icon.component.ts
Due: none

refactor: replace ngClass with kbq-icon input binding for icon components
  packages/components-dev/tabs/template.html
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/form-field/cleaner.ts
  packages/components/form-field/password-hint.ts
  packages/components/form-field/password-toggle.ts
  packages/components/form-field/reactive-password-hint.ts
  packages/components/navbar-ic/navbar-ic-item.ts
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/tabs/tabs-active-tab-id/tabs-active-tab-id-example.ts
  packages/docs-examples/components/tabs/tabs-active-tab-index/tabs-active-tab-index-example.ts
Due: none

fix: update icon component API and snapshots for structural changes
  packages/components/form-field/__snapshots__/form-field.spec.ts.snap
  tools/public_api_guard/components/icon.api.md
Due: yarn run cspell --files

feat(navbar-ic): conditionally render icon based on expanded state
  packages/components/navbar-ic/navbar-ic-item.ts
Due: none

fix: wrap icon in ng-container in date and datetime pipes
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
Due: none

refactor(form-field): simplify cleaner component and update password toggle icon styling
  packages/components/form-field/cleaner.ts
  packages/components/form-field/password-toggle.scss
  packages/components/form-field/password-toggle.ts
Due: none

chore: update jest snapshot header and add password input with cleaner to icon e2e tests
  packages/components/form-field/__snapshots__/form-field.spec.ts.snap
  packages/components/icon/e2e.ts
Due: none

fix: ensure chevron icons render after text in filter bar pipes
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.spec.ts
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-datetime.spec.ts
  packages/components/icon/e2e.ts
Due: none

fix: update icon color attribute syntax in filter bar pipes
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
Due: none

chore: after review
  packages/components/dropdown/dropdown.types.ts
Due: none

test: updated e2e snapshots
  packages/components/icon/__screenshots__/02-light.png
Due: none

fix: Update dropdown position types to use kbq prefix
  packages/components/dropdown/dropdown.types.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

feat(dropdown): refactor position mapping and handling logic
  packages/components/dropdown/dropdown-trigger.directive.ts
Due: none

docs: improve comment clarity for nested dropdown positioning logic
  packages/components/dropdown/dropdown-trigger.directive.ts
Due: none

chore: update GitHub Actions to specific commit hashes for stability
  .github/workflows/actions/setup-node/action.yml
  .github/workflows/docs-next.yml
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  .github/workflows/pr-docs-preview.yml
  .github/workflows/scorecard.yml
Due: yamllint

chore: use printf instead of echo for PR title in commitlint workflow
  .github/workflows/commitlint.yml
Due: yamllint

fix: Correct indentation in scorecard workflow file
  .github/workflows/scorecard.yml
Due: yamllint

docs: add xPosition alignment documentation for dropdown component
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/examples.dropdown.en.md
  packages/components/dropdown/examples.dropdown.ru.md
Due: yarn run cspell --files

chore: update checkout action versions and add permissions (#DS-3557) (#1592)
  .github/workflows/actions/setup-node/action.yml
  .github/workflows/api.yml
  .github/workflows/commitlint.yml
  .github/workflows/docs-next.yml
  .github/workflows/docs-stable.yml
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  .github/workflows/license.yml
  .github/workflows/linters.yml
  .github/workflows/pr-docs-preview.yml
  .github/workflows/pr-notify.yml
  .github/workflows/publish.yml
  .github/workflows/scorecard.yml
  .github/workflows/units.yml
Due: yamllint

fix(icon): replace CSS class-based icon usages with [kbq-icon] binding (#DS-5093) (#1586)
  packages/components-dev/tabs/template.html
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.spec.ts
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-datetime.spec.ts
  packages/components/form-field/__snapshots__/form-field.spec.ts.snap
  packages/components/form-field/cleaner.ts
  packages/components/form-field/password-hint.ts
  packages/components/form-field/password-toggle.scss
  packages/components/form-field/password-toggle.ts
  packages/components/form-field/reactive-password-hint.ts
  packages/components/icon/__screenshots__/02-light.png
  packages/components/icon/e2e.ts
  packages/components/icon/icon.component.ts
  packages/components/navbar-ic/navbar-ic-item.ts
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/tabs/tabs-active-tab-id/tabs-active-tab-id-example.ts
  packages/docs-examples/components/tabs/tabs-active-tab-index/tabs-active-tab-index-example.ts
  tools/public_api_guard/components/icon.api.md
Due: yarn run cspell --files

fix(top-bar): specified selectors to exclude breadcrumb items (#DS-5023)
  packages/components/top-bar/top-bar.scss
  packages/components/top-bar/top-bar.ts
  tools/public_api_guard/components/top-bar.api.md
Due: yarn run cspell --files

feat(dropdown): add center option for x-axis (#DS-5040) (#1598)
  packages/components-dev/dropdown/module.ts
  packages/components/dropdown/dropdown-errors.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/dropdown.types.ts
  packages/docs-examples/components/dropdown/dropdown-x-position/dropdown-x-position-example.ts
  packages/docs-examples/components/dropdown/index.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

feat(code-block): added highlight.js language provider (#DS-3178) (#1593)
  packages/components-dev/code-block/module.ts
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/code-block/code-block-highlight.ts
  packages/components/code-block/code-block.en.md
  packages/components/code-block/code-block.html
  packages/components/code-block/code-block.ru.md
  packages/components/code-block/code-block.spec.ts
  packages/components/code-block/code-block.ts
  packages/components/code-block/e2e.ts
  packages/docs-examples/components/code-block/code-block-header-pinned/code-block-header-pinned-example.ts
  packages/docs-examples/components/code-block/code-block-overview/code-block-overview-example.ts
  packages/docs-examples/components/code-block/code-block-with-custom-locale-configuration/code-block-with-custom-locale-configuration-example.ts
  packages/docs-examples/components/code-block/code-block-with-filled/code-block-with-filled-example.ts
  packages/docs-examples/components/code-block/code-block-with-link/code-block-with-link-example.ts
  packages/docs-examples/components/code-block/code-block-with-max-height/code-block-with-max-height-example.ts
  packages/docs-examples/components/code-block/code-block-with-no-border/code-block-with-no-border-example.ts
  packages/docs-examples/components/code-block/code-block-with-soft-wrap/code-block-with-soft-wrap-example.ts
  packages/docs-examples/components/code-block/code-block-with-tabs-and-shadow/code-block-with-tabs-and-shadow-example.ts
  packages/docs-examples/components/code-block/code-block-with-tabs/code-block-with-tabs-example.ts
  tools/public_api_guard/components/code-block.api.md
Due: yarn run cspell --files

fix(tabs): disabled pagination button color (#DS-5022)
  packages/components/tabs/_tabs-common.scss
  packages/components/tabs/tab-header.html
  packages/components/tabs/tab-nav-bar.html
Due: none

refactor: e2e
  packages/components/tabs/e2e.playwright-spec.ts
Due: none

chore: fix release notification (#DS-5129)
  packages/cli/src/release/notify-release.ts
Due: none

chore: bump version to 19.8.0 w/ changelog
  CHANGELOG.md
  apps/docs/src/llms-full.txt
  apps/docs/src/llms.txt
  package.json
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
Due: none
