Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(overflow-items): does not stretch to maximum width (#DS-3809) (#827)
  packages/components-dev/overflow-items/module.ts
  packages/components-dev/overflow-items/styles.scss
  packages/components/overflow-items/overflow-items.karma-spec.ts
  packages/components/overflow-items/overflow-items.ts
  packages/components/top-bar/top-bar.scss
  packages/docs-examples/components/top-bar/top-bar-title-counter-adaptive/top-bar-title-counter-adaptive-example.ts
  tools/public_api_guard/components/overflow-items.api.md
Due: yarn run cspell --files

chore(actions-panel): updated examples and dev application
  apps/docs/src/styles/_examples.scss
  packages/components-dev/actions-panel/styles.scss
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: position
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
Due: none

chore(actions-panel): updated examples and dev application (#828)
  apps/docs/src/styles/_examples.scss
  packages/components-dev/actions-panel/styles.scss
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

feat(file-upload): split css vars by component type (#DS-3784)
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload-tokens.scss
Due: none

chore: removed unused token
  packages/components/file-upload/file-upload-tokens.scss
Due: none

feat(input): make stepper always visible (#DS-3794) (#837)
  packages/components-experimental/form-field/stepper.ts
  packages/components/form-field/form-field.html
  packages/components/form-field/form-field.ts
  packages/components/form-field/stepper.ts
  tools/public_api_guard/components-experimental/form-field.api.md
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

refactor: outline
  packages/components-dev/code-block/main.ts
  packages/components-dev/code-block/module.ts
  packages/components-dev/code-block/styles.scss
  packages/components-dev/code-block/template.html
  packages/components-dev/locale-selector.ts
  packages/components/code-block/_code-block-theme.scss
  packages/components/code-block/code-block-tokens.scss
  packages/components/code-block/code-block.scss
  packages/docs-examples/components/code-block/code-block-with-max-height/code-block-with-max-height-example.ts
  packages/docs-examples/components/code-block/code-block-with-tabs/code-block-with-tabs-example.ts
Due: none

feat(file-upload): split css vars by component type (#DS-3784) (#836)
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload-tokens.scss
Due: none

fix(tooltip): restore previous logic by default and add option for new (#DS-3677)
  apps/docs/src/app/services/documentation-items.ts
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/core/pop-up/pop-up.ts
  packages/components/dropdown/dropdown.karma-spec.ts
  packages/components/file-upload/file-upload.spec.ts
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.spec.ts
  packages/components/title/title.directive.karma-spec.ts
  packages/components/tooltip/examples.tooltip.ru.md
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.karma-spec.ts
  packages/components/tooltip/tooltip.spec.ts
  packages/docs-examples/components/tooltip/index.ts
  packages/docs-examples/components/tooltip/tooltip-hide-with-timeout/tooltip-hide-with-timeout-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

refactor: added outline offset
  packages/components/code-block/code-block.scss
Due: none

fix: tests and review
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.spec.ts
  packages/components/tooltip/tooltip.karma-spec.ts
Due: none

fix(core): provide rounding options in filesize formatter (#DS-3806) (#830)
  packages/components/core/formatters/filesize/__snapshots__/formatter.spec.ts.snap
  packages/components/core/formatters/filesize/formatter.spec.ts
  packages/components/core/formatters/filesize/formatter.ts
  packages/components/core/formatters/filesize/size.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(code-block): updated keyboard focus state according to design (#DS-3247) (#850)
  packages/components-dev/code-block/main.ts
  packages/components-dev/code-block/module.ts
  packages/components-dev/code-block/styles.scss
  packages/components-dev/code-block/template.html
  packages/components-dev/locale-selector.ts
  packages/components/code-block/_code-block-theme.scss
  packages/components/code-block/code-block-tokens.scss
  packages/components/code-block/code-block.html
  packages/components/code-block/code-block.scss
  packages/components/code-block/code-block.ts
  packages/docs-examples/components/code-block/code-block-with-max-height/code-block-with-max-height-example.ts
  packages/docs-examples/components/code-block/code-block-with-tabs/code-block-with-tabs-example.ts
Due: none

fix: golden files
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/popover.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

fix: tests
  packages/components/tooltip/tooltip.karma-spec.ts
Due: none

chore: after review
  packages/docs-examples/components/file-upload/file-upload-multiple-accept-validation/file-upload-multiple-accept-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-accept-validation/file-upload-single-accept-validation-example.ts
Due: none

chore: golden files
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

chore: added tests, jsdocs, examples
  packages/components-dev/file-upload/module.ts
  packages/components/core/forms/validators.spec.ts
  packages/components/core/forms/validators.ts
  packages/components/file-upload/examples.file-upload.en.md
  packages/components/file-upload/examples.file-upload.ru.md
  packages/docs-examples/components/file-upload/file-upload-multiple-accept-validation/file-upload-multiple-accept-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-accept-validation/file-upload-single-accept-validation-example.ts
  packages/docs-examples/components/file-upload/index.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(file-upload): synced file type validation (#DS-3331)
  packages/components/core/forms/validators.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
Due: none

chore: added deprecation comment
  packages/components/file-upload/file-upload.ts
Due: none

chore: fixed typo
  packages/docs-examples/components/file-upload/file-upload-multiple-accept-validation/file-upload-multiple-accept-validation-example.ts
Due: none

chore: after review
  packages/components/core/forms/validators.spec.ts
  packages/components/core/forms/validators.ts
  packages/docs-examples/components/file-upload/file-upload-single-accept-validation/file-upload-single-accept-validation-example.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(file-upload): synced file type validation (#DS-3331) (#848)
  packages/components-dev/file-upload/module.ts
  packages/components/core/forms/validators.spec.ts
  packages/components/core/forms/validators.ts
  packages/components/file-upload/examples.file-upload.en.md
  packages/components/file-upload/examples.file-upload.ru.md
  packages/components/file-upload/file-upload.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-accept-validation/file-upload-multiple-accept-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-accept-validation/file-upload-single-accept-validation-example.ts
  packages/docs-examples/components/file-upload/index.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

fix(tooltip): restore previous logic by default and add option for new (#DS-3677) (#851)
  apps/docs/src/app/services/documentation-items.ts
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/core/pop-up/pop-up.ts
  packages/components/dropdown/dropdown.karma-spec.ts
  packages/components/file-upload/file-upload.spec.ts
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.spec.ts
  packages/components/title/title.directive.karma-spec.ts
  packages/components/tooltip/examples.tooltip.ru.md
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.karma-spec.ts
  packages/components/tooltip/tooltip.spec.ts
  packages/docs-examples/components/tooltip/index.ts
  packages/docs-examples/components/tooltip/tooltip-hide-with-timeout/tooltip-hide-with-timeout-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/popover.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

chore: bump version to 18.30.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

fix(docs): build warning (#DS-3823)
  apps/docs/src/app/components/navbar/navbar.template.html
Due: none

chore: update mattermost action version to 2.0.0
  .github/workflows/pr-notify.yml
Due: yamllint

feat(datepicker): added icon-button states (#DS-2870)
  packages/components-dev/datepicker/template.html
  packages/components/core/common-behaviors/error-state.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/icon/_icon-button-theme.scss
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/datepicker.api.md
Due: yarn run cspell --files

fix(docs): build warning (#DS-3823) (#857)
  apps/docs/src/app/components/navbar/navbar.template.html
Due: none

chore: update mattermost action version to 2.0.0 (#DS-3847) (#858)
  .github/workflows/pr-notify.yml
Due: yamllint

chore(actions-panel): updated overview example (#DS-3518)
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

fix(alert): title bottom margin (#DS-3852)
  packages/components/alert/alert.component.scss
Due: none

chore(dev): updated alert application (#DS-3852)
  packages/components-dev/alert/module.ts
  packages/components-dev/alert/styles.scss
  packages/components-dev/alert/template.html
Due: none

fix(filter-bar): after selection all values ​​are not reset (#DS-3863)
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
Due: none

chore: provided temporary provider & updated examples
  packages/components-dev/datepicker/module.ts
  packages/components-dev/datepicker/template.html
  packages/components/core/common-behaviors/error-state.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker-toggle.html
  packages/docs-examples/components/datepicker/datepicker-and-timepicker/datepicker-and-timepicker-example.ts
  packages/docs-examples/components/datepicker/datepicker-inactive/datepicker-inactive-example.ts
  packages/docs-examples/components/datepicker/datepicker-minimax/datepicker-minimax-example.ts
  packages/docs-examples/components/datepicker/datepicker-overview/datepicker-overview-example.ts
  packages/docs-examples/components/datepicker/datepicker-range/datepicker-range-example.ts
  packages/docs-examples/components/datepicker/datepicker-required/datepicker-required-example.ts
Due: none

chore: golden checks
  packages/components/datepicker/datepicker-input.directive.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/datepicker.api.md
Due: yarn run cspell --files

chore(datepicker,core): added icon-button-color mixin & separated autoColor logic (#DS-2870)
  packages/components/core/common-behaviors/error-state.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/icon/_icon-button-theme.scss
  packages/docs-examples/components/datepicker/datepicker-and-timepicker/datepicker-and-timepicker-example.ts
  packages/docs-examples/components/datepicker/datepicker-inactive/datepicker-inactive-example.ts
  packages/docs-examples/components/datepicker/datepicker-minimax/datepicker-minimax-example.ts
  packages/docs-examples/components/datepicker/datepicker-overview/datepicker-overview-example.ts
  packages/docs-examples/components/datepicker/datepicker-range/datepicker-range-example.ts
  packages/docs-examples/components/datepicker/datepicker-required/datepicker-required-example.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(docs): actions-panel overview example (#DS-3518) (#860)
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

chore: after review
  packages/components/datepicker/datepicker-input.directive.ts
  tools/public_api_guard/components/datepicker.api.md
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
