Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix: after review
  packages/components/core/highlight/_highlight-theme.scss
  packages/docs-examples/components/highlight/highlight-background-complex/highlight-background-complex-example.ts
  packages/docs-examples/components/highlight/highlight-background/highlight-background-example.ts
Due: none

fix: bugs
  packages/docs-examples/components/highlight/highlight-background-complex/highlight-background-complex-example.ts
Due: none

fix: double underline
  packages/docs-examples/components/highlight/highlight-background-complex/highlight-background-complex-example.ts
Due: none

fix: preview icon
  apps/docs/src/app/structure.ts
Due: none

fix: clean
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/routes.ts
  apps/docs/src/app/structure.ts
  apps/docs/src/llms-full.txt
  apps/docs/src/prerender-routes.txt
  apps/docs/src/sitemap.xml
  packages/components/core/a11y/a11y.en.md
  packages/components/core/a11y/a11y.ru.md
  packages/components/core/keycodes/keycodes.en.md
  packages/components/core/keycodes/keycodes.ru.md
  tools/api-gen/generate-api-docs.ts
  tools/api-gen/manifest/__snapshots__/manifest.spec.ts.snap
  tools/api-gen/manifest/manifest.spec.ts
  tools/api-gen/rendering/helpers.ts
  tools/generate-llms-txt.ts
Due: yarn run cspell --files

chore(docs): added a migration guide to angular 20
  CHANGELOG.md
  apps/docs/src/app/components/sidenav/sidenav.ts
  apps/docs/src/app/components/welcome/welcome.component.ts
  apps/docs/src/app/structure.ts
  docs/guides/angular-20-breaking-changes.en.md
  docs/guides/angular-20-breaking-changes.ru.md
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

chore(docs): prose revision of v20 migration guide
  apps/docs/src/app/structure.ts
  docs/guides/angular-20-breaking-changes-prose.en.md
  docs/guides/angular-20-breaking-changes-prose.ru.md
  docs/guides/migration-prose.en.md
  docs/guides/migration-prose.ru.md
Due: yarn run cspell --files

fix: correct spelling and add dictionary entries
  docs/guides/angular-20-breaking-changes-prose.ru.md
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

chore: format migration guide files with Prettier
  docs/guides/angular-20-breaking-changes-prose.ru.md
  docs/guides/migration-prose.ru.md
Due: yarn run cspell --files

Update docs/guides/angular-20-breaking-changes-prose.ru.md
  docs/guides/angular-20-breaking-changes-prose.ru.md
Due: yarn run cspell --files

Potential fix for pull request finding
  docs/guides/migration-prose.ru.md
Due: yarn run cspell --files

Potential fix for pull request finding
  docs/guides/angular-20-breaking-changes-prose.en.md
  docs/guides/angular-20-breaking-changes-prose.ru.md
  docs/guides/angular-20-breaking-changes.en.md
  docs/guides/angular-20-breaking-changes.ru.md
  docs/guides/migration-prose.en.md
  docs/guides/migration-prose.ru.md
Due: yarn run cspell --files

fix: merge guides
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/structure.ts
  docs/guides/angular-20-breaking-changes-prose.en.md
  docs/guides/angular-20-breaking-changes-prose.ru.md
  docs/guides/angular-20-breaking-changes.en.md
  docs/guides/angular-20-breaking-changes.ru.md
  docs/guides/migration-prose.en.md
  docs/guides/migration-prose.ru.md
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
Due: yarn run cspell --files

fix: updated + sync with code
  apps/docs/src/app/components/sidenav/sidenav.ts
  apps/docs/src/app/components/welcome/welcome.component.ts
  apps/docs/src/app/structure.ts
  docs/guides/angular-20-breaking-changes.en.md
  docs/guides/angular-20-breaking-changes.ru.md
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  package.json
  packages/cli/package.json
Due: yarn run cspell --files

fix: delete unused package
  .github/dependabot.yml
  package.json
  yarn.lock
Due: yamllint

chore(docs): added a migration guide to angular 20 (#1617)
  .github/dependabot.yml
  CHANGELOG.md
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  docs/guides/angular-20-breaking-changes.en.md
  docs/guides/angular-20-breaking-changes.ru.md
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  package.json
  packages/cli/package.json
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  yarn.lock
Due: yarn run cspell --files, yamllint

feat(core): add kbqHighlightBackground pipe (#DS-4812) (#1604)
  angular.json
  apps/docs/src/app/structure.ts
  package.json
  packages/components-dev/highlight/main.ts
  packages/components-dev/highlight/mock.ts
  packages/components-dev/highlight/module.ts
  packages/components-dev/highlight/styles.scss
  packages/components-dev/highlight/template.html
  packages/components-dev/highlight/tsconfig.app.json
  packages/components/core/highlight/_highlight-theme.scss
  packages/components/core/highlight/highlight-background.pipe.spec.ts
  packages/components/core/highlight/highlight-background.pipe.ts
  packages/components/core/highlight/highlight-base.spec.ts
  packages/components/core/highlight/highlight-base.ts
  packages/components/core/highlight/highlight.en.md
  packages/components/core/highlight/highlight.pipe.spec.ts
  packages/components/core/highlight/highlight.pipe.ts
  packages/components/core/highlight/highlight.ru.md
  packages/components/core/highlight/index.ts
  packages/components/core/styles/_koobiq-theme.scss
  packages/docs-examples/components/highlight/highlight-background-complex/highlight-background-complex-example.ts
  packages/docs-examples/components/highlight/highlight-background-table/highlight-background-table-example.ts
  packages/docs-examples/components/highlight/highlight-background/highlight-background-example.ts
  packages/docs-examples/components/highlight/highlight-select/highlight-select-example.ts
  packages/docs-examples/components/highlight/index.ts
  packages/docs-examples/components/highlight/ng-package.json
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(filter-bar): default size for pipe popover (#DS-5184)
  packages/components/core/pop-up/constants.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-text.html
  packages/components/popover/popover.component.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(filter-bar): default size for pipe popover (#DS-5184) (#1642)
  packages/components/core/pop-up/constants.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-text.html
  packages/components/popover/popover.component.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(icon): use contrast color for filled warning icon-item (#DS-5085)
  packages/components/icon/icon-item-tokens.scss
Due: none

test: updated e2e snapshots
  packages/components/alert/__screenshots__/01-dark.png
  packages/components/alert/__screenshots__/01-light.png
  packages/components/icon/__screenshots__/01-dark.png
  packages/components/icon/__screenshots__/01-light.png
  packages/components/icon/__screenshots__/02-light.png
Due: none

chore(icon): add icon adoptedStyleSheets @layer demo in dev (#DS-5207)
  angular.json
  package.json
  packages/components-dev/icon-adopted-stylesheets/global.scss
  packages/components-dev/icon-adopted-stylesheets/main.ts
  packages/components-dev/icon-adopted-stylesheets/module.ts
  packages/components-dev/icon-adopted-stylesheets/styles.scss
  packages/components-dev/icon-adopted-stylesheets/template.html
  packages/components-dev/icon-adopted-stylesheets/tsconfig.app.json
Due: none

chore(icon): add icon adoptedStyleSheets @layer demo in dev (#DS-5207) (#1644)
  angular.json
  package.json
  packages/components-dev/icon-adopted-stylesheets/global.scss
  packages/components-dev/icon-adopted-stylesheets/main.ts
  packages/components-dev/icon-adopted-stylesheets/module.ts
  packages/components-dev/icon-adopted-stylesheets/styles.scss
  packages/components-dev/icon-adopted-stylesheets/template.html
  packages/components-dev/icon-adopted-stylesheets/tsconfig.app.json
Due: none

chore: bump version to 20.0.0 w/ changelog
  .firebaserc
  CHANGELOG.md
  apps/docs/src/llms-full.txt
  apps/docs/src/llms.txt
  apps/docs/src/prerender-routes.txt
  apps/docs/src/sitemap.xml
  firebase.json
Due: yarn run cspell --files

chore: changed firebase target
  .firebaserc
  .github/workflows/docs-stable.yml
  firebase.json
Due: yamllint

chore: update versions for docs
  .github/workflows/docs-stable.yml
  apps/docs/src/assets/versions.json
Due: yamllint

test: updated e2e snapshots
  packages/components/icon/__screenshots__/02-light.png
Due: none

fix(icon): use contrast color for filled warning icon-item (#DS-5085) (#1643)
  packages/components/alert/__screenshots__/01-dark.png
  packages/components/alert/__screenshots__/01-light.png
  packages/components/icon/__screenshots__/01-dark.png
  packages/components/icon/__screenshots__/01-light.png
  packages/components/icon/icon-item-tokens.scss
Due: none

fix: WIP save
  angular.json
  package.json
  packages/components-dev/toast-shadow-dom/index.html
  packages/components-dev/toast-shadow-dom/main.ts
  packages/components-dev/toast-shadow-dom/module.ts
  packages/components-dev/toast-shadow-dom/styles.scss
  packages/components-dev/toast-shadow-dom/template.html
  packages/components-dev/toast-shadow-dom/tsconfig.app.json
  packages/components/core/overlay/shadow-dom-overlay-container.ts
  packages/components/core/public-api.ts
  packages/components/toast/toast.en.md
  packages/components/toast/toast.ru.md
  packages/components/toast/toast.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(alert): use background-contrast-less for default alert variant (#DS-5154)
  packages/components/alert/alert-tokens.scss
Due: none

fix(alert): update e2e screenshots for contrast-less background (#DS-5154)
  packages/components/alert/__screenshots__/01-dark.png
  packages/components/alert/__screenshots__/01-light.png
Due: none

test: updated e2e snapshots
  packages/components/alert/__screenshots__/01-dark.png
  packages/components/alert/__screenshots__/01-light.png
Due: none

fix(alert): use background-contrast-less for default alert variant (#DS-5154) (#1646)
  packages/components/alert/__screenshots__/01-dark.png
  packages/components/alert/__screenshots__/01-light.png
  packages/components/alert/alert-tokens.scss
Due: none

fix: changed example
  packages/components-dev/toast-shadow-dom/main.ts
  packages/components-dev/toast-shadow-dom/module.ts
  packages/components-dev/toast-shadow-dom/mount-mfe.ts
  packages/components-dev/toast-shadow-dom/styles.scss
  packages/components-dev/toast-shadow-dom/template.html
Due: none

fix: one toastService for all mf
  packages/components-dev/toast-shadow-dom/module.ts
  packages/components-dev/toast-shadow-dom/mount-mfe.ts
  packages/components-dev/toast-shadow-dom/template.html
Due: none

refactor: tests
  packages/components/actions-panel/__screenshots__/1-dark.png
  packages/components/actions-panel/__screenshots__/1-light.png
  packages/components/actions-panel/__screenshots__/2-dark.png
  packages/components/actions-panel/__screenshots__/2-light.png
  packages/components/actions-panel/e2e.playwright-spec.ts
Due: none

refactor: e2e
  packages/components/breadcrumbs/e2e.playwright-spec.ts
  packages/components/overflow-items/overflow-items.ts
Due: none

fix(overflow-items,actions-panel): flaky visibility recalculations (#DS-5130)
  packages/components/actions-panel/__screenshots__/1-dark.png
  packages/components/actions-panel/__screenshots__/1-light.png
  packages/components/actions-panel/__screenshots__/2-dark.png
  packages/components/actions-panel/__screenshots__/2-light.png
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  packages/components/actions-panel/e2e.playwright-spec.ts
  packages/components/overflow-items/e2e.playwright-spec.ts
  packages/components/overflow-items/e2e.ts
  packages/components/overflow-items/overflow-items.spec.ts
  packages/components/overflow-items/overflow-items.ts
Due: none
