Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

feat(docs): note required @radix-ng/primitives package (#DS-3494) (#616)
  packages/components/accordion/accordion.en.md
  packages/components/accordion/accordion.ru.md
  packages/components/breadcrumbs/breadcrumbs.en.md
  packages/components/breadcrumbs/breadcrumbs.ru.md
Due: yarn run cspell --files

fix(progress-spinner): remove gap if ng-content is not provided (#DS-3568) (#615)
  packages/components/progress-spinner/progress-spinner.scss
Due: none

feat(button): reduce side padding in buttons (#DS-3072) (#613)
  packages/components-dev/button/template.html
  packages/components/button/button-tokens.scss
  packages/components/button/button.scss
  packages/components/dropdown/dropdown.scss
Due: none

fix(button): animation in progress state (#DS-3563) (#614)
  packages/components-dev/button/styles.scss
  packages/components/button/button.scss
Due: none

chore: renamed method
  packages/components/overflow-items/overflow-items.ts
Due: none

chore(overflow-items,docs): added example
  packages/components-dev/overflow-items/module.ts
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/overflow-items/overflow-items.en.md
  packages/components/overflow-items/overflow-items.ru.md
  packages/components/overflow-items/overflow-items.ts
  packages/docs-examples/components/overflow-items/index.ts
  packages/docs-examples/components/overflow-items/overflow-items-result-offset/overflow-items-result-offset-example.ts
  tools/public_api_guard/components/overflow-items.api.md
Due: yarn run cspell --files

feat(overflow-items): hide items in the middle
  packages/components/overflow-items/overflow-items.ts
  tools/public_api_guard/components/overflow-items.api.md
Due: yarn run cspell --files

chore(overflow-items,docs): added example
  packages/components-dev/overflow-items/module.ts
  packages/components/overflow-items/overflow-items.en.md
  packages/components/overflow-items/overflow-items.ru.md
  packages/components/overflow-items/overflow-items.ts
  packages/docs-examples/components/overflow-items/index.ts
  packages/docs-examples/components/overflow-items/overflow-items-result-offset/overflow-items-result-offset-example.ts
  tools/public_api_guard/components/overflow-items.api.md
Due: yarn run cspell --files

feat(breadcrumbs): refactored layout
  packages/components/breadcrumbs/breadcrumbs.html
Due: none

feat(breadcrumbs): support wrap mode (#DS-3352)
  packages/components-dev/breadcrumbs/template.html
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-wrap/breadcrumbs-wrap-example.ts
  packages/docs-examples/components/breadcrumbs/index.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

fix(breadcrumbs): replaced old realization of overflow-items, fixed styles
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/docs-examples/components/breadcrumbs/breadcrumbs-wrap/breadcrumbs-wrap-example.ts
Due: none

feat: support dynamic hiding items in 3 dots
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ts
Due: none

chore(breadcrumbs): removed redundant property and conditions
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

chore: update CODEOWNERS (#DS-3401)
  .github/CODEOWNERS
Due: none

chore(breadcrumbs): moved back output condition
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

chore(breadcrumbs): upd example-module
  packages/docs-examples/example-module.ts
Due: none

feat(scrollbar): updated thumb color states (#DS-2866)
  packages/components/core/styles/theming/scrollbar-tokens.scss
  packages/components/scrollbar/scrollbar-tokens.scss
Due: none

feat(empty-state): update empty-state sizes (#DS-3507)
  apps/docs/src/app/components/icons-viewer/icons-viewer.template.html
  packages/components-dev/empty-state/module.ts
  packages/components-dev/empty-state/template.html
  packages/components/empty-state/_empty-state-theme.scss
  packages/components/empty-state/empty-state-tokens.scss
  packages/components/empty-state/empty-state.component.ts
  packages/components/empty-state/empty-state.ru.md
  packages/components/empty-state/empty-state.scss
  packages/docs-examples/components/empty-state/empty-state-big/empty-state-big-example.ts
  packages/docs-examples/components/empty-state/empty-state-size/empty-state-size-example.ts
  packages/docs-examples/components/empty-state/index.ts
  packages/docs-examples/example-module.ts
  tools/api-extractor/config.json
  tools/public_api_guard/components/empty-state.api.md
Due: yarn run cspell --files

feat(loader-overlay): update loader-overlay sizes (#DS-3507)
  packages/components-dev/loader-overlay/module.ts
  packages/components-dev/loader-overlay/template.html
  packages/components/loader-overlay/_loader-overlay-theme.scss
  packages/components/loader-overlay/loader-overlay-tokens.scss
  packages/components/loader-overlay/loader-overlay.component.ts
  packages/components/loader-overlay/loader-overlay.ru.md
  packages/components/loader-overlay/loader-overlay.scss
  packages/docs-examples/components/loader-overlay/index.ts
  packages/docs-examples/components/loader-overlay/loader-overlay-size/loader-overlay-size-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/loader-overlay.api.md
Due: yarn run cspell --files

feat(loader-overlay): lower specificity of tokens css-selector
  packages/components/loader-overlay/loader-overlay-tokens.scss
Due: none

chore: locked firebase-tools version in ci
  .github/workflows/pr-docs-preview.yml
Due: yamllint

chore: turned to string in quotes
  .github/workflows/pr-docs-preview.yml
Due: yamllint

chore(overflow-items): simplified logic of hiding order
  packages/components-dev/overflow-items/module.ts
  packages/components/overflow-items/overflow-items.karma-spec.ts
  packages/components/overflow-items/overflow-items.ts
  packages/docs-examples/components/overflow-items/index.ts
  packages/docs-examples/components/overflow-items/overflow-items-overflow-order/overflow-items-overflow-order-example.ts
  packages/docs-examples/components/overflow-items/overflow-items-overview/overflow-items-overview-example.ts
Due: none

feat(overflow-items,docs): added example to docs
  packages/components/overflow-items/overflow-items.en.md
  packages/components/overflow-items/overflow-items.ru.md
Due: yarn run cspell --files

chore(overflow-items): added comments to method
  packages/components/overflow-items/overflow-items.ts
Due: none

feat(overflow-items): added property to prevents item hide
  packages/components/overflow-items/overflow-items.ts
Due: none

feat(overflow-items): upd golden file
  tools/public_api_guard/components/overflow-items.api.md
Due: yarn run cspell --files

chore: locked firebase-tools version in ci (#625)
  .github/workflows/pr-docs-preview.yml
Due: yamllint

feat(overflow-items): upd golden file
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/overflow-items.api.md
Due: yarn run cspell --files

fix(docs): incorrect action when opening an icon via a link (#DS-3295)
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.ts
Due: none

feat(scrollbar): updated thumb color states (#DS-2866) (#622)
  packages/components/core/styles/theming/scrollbar-tokens.scss
  packages/components/scrollbar/scrollbar-tokens.scss
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
