Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

feat(navbar): new design (#DS-4332)
  packages/components-dev/navbar/template.html
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/_navbar-theme.scss
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar-toggle.component.ts
  packages/components/navbar/navbar-toggle.scss
  packages/components/navbar/navbar-tokens.scss
  packages/components/navbar/navbar.module.ts
  packages/components/navbar/vertical-navbar.component.ts
  packages/components/navbar/vertical-navbar.scss
Due: none

chore: simplified output
  apps/docs/src/app/components/design-tokens-viewers/data/border-radius.ts
  apps/docs/src/app/components/design-tokens-viewers/data/palette.ts
  apps/docs/src/app/components/design-tokens-viewers/data/shadows.ts
  apps/docs/src/app/components/design-tokens-viewers/data/sizes.ts
  apps/docs/src/app/components/design-tokens-viewers/design-tokens-viewer.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-base.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-border-radius.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-colors.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-palette.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-shadows.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-sizes.ts
  apps/docs/src/app/routes.ts
  tools/tokens/docs/formats.js
Due: none

feat(popover, notification-center): added 'stickToWindow' (#DS-3621)
  packages/components-dev/popover/module.ts
  packages/components-dev/popover/template.html
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/core/pop-up/pop-up.ts
  packages/components/notification-center/notification-center.ts
  packages/components/popover/popover.component.ts
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.html
Due: none

chore: fixed styles
  apps/docs/src/app/components/design-tokens-viewers/styles.scss
Due: none

chore: refactor
  apps/docs/src/app/components/anchors/anchors.component.ts
  apps/docs/src/app/components/design-tokens-viewers/design-tokens-viewer.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  tools/tokens/docs/formats.js
  tools/tokens/docs/templates.js
Due: none

chore: moved typography under design tokens section
  apps/docs/src/app/components/design-tokens-viewers/data/typography.ts
  apps/docs/src/app/components/design-tokens-viewers/design-tokens-viewer.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/design-tokens-viewers/typography-overview.ts
  apps/docs/src/app/routes.ts
  apps/docs/src/app/structure.ts
  packages/components/core/styles/typography/typography.en.md
  packages/components/core/styles/typography/typography.ru.md
  tools/tokens/docs/formats.js
  tools/tokens/docs/sdConfig.js
  tools/tokens/docs/templates.js
Due: yarn run cspell --files

fix: docs examples
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.scss
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/core/pop-up/pop-up.ts
  packages/components/notification-center/notification-center.ts
  packages/docs-examples/components/notification-center/notification-center-empty/notification-center-empty-example.html
  packages/docs-examples/components/notification-center/notification-center-empty/notification-center-empty-example.ts
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.html
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.ts
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.html
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.ts
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.html
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/notification-center.api.md
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

fix: hide on scroll
  packages/components/notification-center/notification-center.ts
Due: none

fix: added description for new params
  packages/components/notification-center/notification-center.ts
  packages/components/popover/popover.component.ts
  tools/public_api_guard/components/notification-center.api.md
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

fix: uncomment code
  packages/components/core/pop-up/pop-up.ts
Due: none

refactor: readme
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
Due: yarn run cspell --files

chore: moved back missing cdr call
  apps/docs/src/app/components/anchors/anchors.component.ts
Due: none

chore: removed unused
  apps/docs/src/app/components/design-tokens-viewers/design-tokens.scss
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/design-tokens-viewers/typography-overview.ts
  apps/docs/src/main.scss
  apps/docs/src/styles/_design-tokens.scss
  tools/tokens/docs/actions.js
  tools/tokens/docs/config.js
Due: none

refactor: added comments
  packages/components/modal/modal-tokens.scss
  packages/components/popover/popover-tokens.scss
  packages/components/sidepanel/sidepanel-tokens.scss
  packages/components/sidepanel/sidepanel.scss
Due: none

chore: fix typo
  packages/schematics/src/migrations/icons-replacement/data.ts
Due: none

feat(schematics): init icon-replacement schematic (#DS-4363) (#1133)
  packages/schematics/src/collection.json
  packages/schematics/src/migrations/icons-replacement/README.md
  packages/schematics/src/migrations/icons-replacement/__snapshots__/index.spec.ts.snap
  packages/schematics/src/migrations/icons-replacement/data.ts
  packages/schematics/src/migrations/icons-replacement/index.spec.ts
  packages/schematics/src/migrations/icons-replacement/index.ts
  packages/schematics/src/migrations/icons-replacement/schema.json
  packages/schematics/src/migrations/icons-replacement/schema.ts
Due: yarn run cspell --files

chore: removed registry-url in setup-node action
  .github/workflows/actions/setup-node/action.yml
Due: yamllint

chore: removed registry-url in setup-node action (#1137)
  .github/workflows/actions/setup-node/action.yml
Due: yamllint

feat: localization + styles
  packages/components-dev/navbar/template.html
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/_navbar-theme.scss
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-divider.scss
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar-toggle.component.ts
  packages/components/navbar/navbar-toggle.scss
  packages/components/navbar/vertical-navbar.component.ts
Due: none

fix: after review
  packages/components/core/pop-up/pop-up.ts
Due: none

chore(ag-grid): bump @koobiq/ag-grid-angular-theme to 34 version, updated examples (#DS-3957) (#1135)
  apps/docs/src/assets/stackblitz/package.json
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  package.json
  packages/docs-examples/components/ag-grid/ag-grid-overview/ag-grid-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-dragging/ag-grid-row-dragging-example.ts
  packages/docs-examples/components/content-panel/content-panel-with-grid/content-panel-with-grid-example.ts
  yarn.lock
Due: yarn run cspell --files

fix(modal,sidepanel): content body top padding (#DS-2557) (#1128)
  packages/components/modal/modal-tokens.scss
  packages/components/popover/popover-tokens.scss
  packages/components/sidepanel/sidepanel-tokens.scss
  packages/components/sidepanel/sidepanel.scss
Due: none

chore(docs): added info about icon-replacement schematic
  docs/guides/schematics.en.md
  docs/guides/schematics.ru.md
  packages/schematics/src/migrations/icons-replacement/README.md
Due: yarn run cspell --files

feat(list): changed behavior on list option removal (#DS-4272)
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
Due: none

chore(list): added dev example & refactored tests (#DS-4272)
  packages/components-dev/list/module.ts
  packages/components-dev/list/template.html
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list.component.spec.ts
Due: none

chore(list): after review
  .prettierignore
  apps/docs/src/app/components/design-tokens-viewers/data/border-radius.ts
  apps/docs/src/app/components/design-tokens-viewers/data/colors.ts
  apps/docs/src/app/components/design-tokens-viewers/data/palette.ts
  apps/docs/src/app/components/design-tokens-viewers/data/shadows.ts
  apps/docs/src/app/components/design-tokens-viewers/data/sizes.ts
  apps/docs/src/app/components/design-tokens-viewers/data/typography.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/design-tokens-viewers/typography-overview.ts
  package.json
  tools/tokens/docs/config.js
  tools/tokens/docs/formats.js
  tools/tokens/docs/index.js
  tools/tokens/docs/templates.js
Due: none

chore(list): upd format for typography
  apps/docs/src/app/components/design-tokens-viewers/data/typography.ts
  tools/tokens/docs/formats.js
Due: none

fix: styles + bugs + refactor
  packages/components-dev/navbar/module.ts
  packages/components-dev/navbar/template.html
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/_navbar-theme.scss
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar-toggle.component.ts
  packages/components/navbar/navbar-toggle.scss
  packages/components/navbar/navbar.module.ts
  packages/components/navbar/public-api.ts
  packages/components/navbar/vertical-navbar.component.ts
  packages/components/navbar/vertical-navbar.scss
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.html
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.html
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

fix: build
  packages/components/navbar/navbar-brand.component.ts
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/notification-center/notification-center.ts
  tools/public_api_guard/components/notification-center.api.md
Due: yarn run cspell --files

fix: build
  packages/components/notification-center/notification-center.ts
Due: none

fix: golden files
  tools/public_api_guard/components/notification-center.api.md
Due: yarn run cspell --files

feat: update @angular-builders/jest
  package.json
  yarn.lock
Due: none

chore: added new line
  apps/docs/src/app/components/design-tokens-viewers/data/border-radius.ts
  apps/docs/src/app/components/design-tokens-viewers/data/colors.ts
  apps/docs/src/app/components/design-tokens-viewers/data/palette.ts
  apps/docs/src/app/components/design-tokens-viewers/data/shadows.ts
  apps/docs/src/app/components/design-tokens-viewers/data/sizes.ts
  apps/docs/src/app/components/design-tokens-viewers/data/typography.ts
  tools/tokens/docs/formats.js
  tools/tokens/docs/templates.js
Due: none

chore(docs): added info about icon-replacement schematic (#1138)
  docs/guides/schematics.en.md
  docs/guides/schematics.ru.md
  packages/schematics/src/migrations/icons-replacement/README.md
Due: yarn run cspell --files

chore: switched selector PascalCase to kebab-case
  packages/components/list/list.component.spec.ts
Due: none

chore: added prefix to component name
  packages/components/list/list.component.spec.ts
Due: none

chore: replaced custom logic with focus monitor
  packages/components/list/list-selection.component.spec.ts
Due: none

chore: after design review
  .prettierignore
  apps/docs/src/app/components/design-tokens-viewers/design-tokens.scss
Due: none

refactor(docs): sidenav options to links (#DS-4336)
  apps/docs/src/app/components/sidenav/sidenav.component.html
  apps/docs/src/app/components/sidenav/sidenav.component.scss
  apps/docs/src/app/components/sidenav/sidenav.component.ts
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
