Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

docs(select, tree-select, tags): state what the reset control does, not how it behaves (#DS-5486)
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
Due: yarn run cspell --files

test(tree-select): cover a consumer-supplied clearPredicate (#DS-5486)
  packages/components/tree-select/tree-select.component.spec.ts
Due: none

refactor(core, select, tree-select, tags): share the clearPredicate guard (#DS-5486)
  packages/components/core/select/clear-predicate.ts
  packages/components/core/select/index.ts
  packages/components/select/select.component.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

docs(core): correct and expand the localization guide (#DS-5181) (#2043)
  docs/guides/localization.en.md
  docs/guides/localization.ru.md
  packages/components/dynamic-translation/dynamic-translation.en.md
  packages/components/dynamic-translation/dynamic-translation.ru.md
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

feat(select, tree-select): configure clearPredicate through DI (#DS-5486)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/file-upload/__screenshots__/05-light.png
  packages/components/modal/__screenshots__/01-dark.png
  packages/components/modal/__screenshots__/01-light.png
  packages/components/modal/__screenshots__/04-dark.png
Due: none

docs(select, tree-select): show how to clear the disabled items too (#DS-5486)
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
Due: yarn run cspell --files

chore(deps-dev): bump @koobiq/design-tokens from ^3.19.0 to ^3.20.0 (#DS-5548) (#2037)
  package.json
  packages/components/breadcrumbs/__screenshots__/02-light.png
  packages/components/datepicker/__screenshots__/01-dark.png
  packages/components/datepicker/__screenshots__/01-light.png
  packages/components/file-upload/__screenshots__/05-light.png
  packages/components/icon/__screenshots__/01-dark.png
  packages/components/icon/__screenshots__/01-light.png
  packages/components/input/__screenshots__/04-light.png
  packages/components/link/__screenshots__/01-dark.png
  packages/components/link/__screenshots__/01-light.png
  packages/components/link/__screenshots__/02-light.png
  packages/components/loader-overlay/__screenshots__/02-dark.png
  packages/components/modal/__screenshots__/01-dark.png
  packages/components/modal/__screenshots__/01-light.png
  packages/components/modal/__screenshots__/04-dark.png
  packages/components/sidepanel/__screenshots__/04-dark.png
  yarn.lock
Due: none

fix: prepare the Angular 22 breakages and the review follow-ups (#DS-5555) (#2044)
  packages/components/core/overlay/panel-width.spec.ts
  packages/components/core/overlay/panel-width.ts
  packages/components/core/select/common.ts
  packages/components/form-field/form-field.ts
  packages/components/form-field/trim.spec.ts
  packages/components/modal/modal.component.ts
  packages/components/select/select.component.ts
  packages/components/tabs/tab-body.component.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/tabs.api.md
Due: yarn run cspell --files

chore: bump version to 20.3.1 w/ changelog
  CHANGELOG.md
  apps/docs/src/llms-full.txt
  apps/docs/src/llms.txt
  package.json
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/file-upload/__screenshots__/05-light.png
Due: none

feat(examples,docs): cross-field examples for dates and asynchronous rules (#DS-401)
  packages/components-dev/input/module.ts
  packages/components-dev/validation/module.ts
  packages/components/core/validation/examples.validation.en.md
  packages/components/core/validation/examples.validation.ru.md
  packages/components/input/examples.input.en.md
  packages/components/input/examples.input.ru.md
  packages/docs-examples/components/input/index.ts
  packages/docs-examples/components/input/input-change-password/input-change-password-example.ts
  packages/docs-examples/components/validation/index.ts
  packages/docs-examples/components/validation/validation-cross-field-async/validation-cross-field-async-example.ts
  packages/docs-examples/components/validation/validation-cross-field-dates/validation-cross-field-dates-example.ts
  packages/docs-examples/components/validation/validation-cross-field-password/validation-cross-field-password-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix(examples,docs): cross-field value comparison and pattern limits (#DS-401)
  packages/components/core/validation/examples.validation.en.md
  packages/components/core/validation/examples.validation.ru.md
  packages/docs-examples/components/validation/validation-cross-field-password/validation-cross-field-password-example.ts
Due: yarn run cspell --files

feat(docs,form-field): cross field validation (#DS-401)
  packages/components-dev/validation/module.ts
  packages/components/core/validation/examples.validation.en.md
  packages/components/core/validation/examples.validation.ru.md
  packages/components/form-field/form-field.spec.ts
  packages/docs-examples/components/validation/index.ts
  packages/docs-examples/components/validation/validation-cross-field-directive/validation-cross-field-directive-example.ts
  packages/docs-examples/components/validation/validation-cross-field-password/validation-cross-field-password-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix: after review
  packages/components/core/error/error-state-matcher.spec.ts
  packages/components/core/error/error-state-matcher.ts
  packages/components/core/validation/examples.validation.en.md
  packages/components/core/validation/examples.validation.ru.md
  packages/components/form-field/form-field.spec.ts
  packages/docs-examples/components/validation/validation-cross-field-async/validation-cross-field-async-example.ts
  packages/docs-examples/components/validation/validation-cross-field-directive/validation-cross-field-directive-example.ts
  packages/docs-examples/components/validation/validation-cross-field-password/validation-cross-field-password-example.ts
Due: yarn run cspell --files

fix: docs
  packages/components/core/validation/examples.validation.en.md
  packages/components/core/validation/examples.validation.ru.md
  packages/docs-examples/components/validation/index.ts
  packages/docs-examples/components/validation/validation-cross-field-directive/validation-cross-field-directive-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

feat(core,examples): show group-level errors on the controls they concern (#DS-401)
  packages/components/core/error/error-state-matcher.spec.ts
  packages/components/core/error/error-state-matcher.ts
  packages/components/core/validation/examples.validation.en.md
  packages/components/core/validation/examples.validation.ru.md
  packages/docs-examples/components/validation/validation-cross-field-async/validation-cross-field-async-example.ts
  packages/docs-examples/components/validation/validation-cross-field-dates/validation-cross-field-dates-example.ts
  packages/docs-examples/components/validation/validation-cross-field-password/validation-cross-field-password-example.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: checks
  packages/components/core/validation/examples.validation.ru.md
Due: yarn run cspell --files

fix: after rebase
  tools/check-public-api-any/baseline.json
Due: none

fix(tags)!: disabled tag does not show its remove control (#DS-5486)
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  packages/components/tags/tag.en.md
  packages/components/tags/tag.ru.md
Due: yarn run cspell --files

feat(tags)!: cleaner removes the tags itself (#DS-5486)
  packages/components/form-field/cleaner.ts
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/docs-examples/components/tags/tag-autocomplete-cleaner-with-disabled/tag-autocomplete-cleaner-with-disabled-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-draggable/tag-autocomplete-draggable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-editable/tag-autocomplete-editable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-onpaste-off/tag-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tags/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-overview/tag-autocomplete-overview-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-search/tag-autocomplete-search-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-with-form-control-validators/tag-autocomplete-with-form-control-validators-example.ts
  packages/docs-examples/components/tags/tag-input-draggable/tag-input-draggable-example.ts
  packages/docs-examples/components/tags/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tags/tag-input-onpaste-off/tag-input-onpaste-off-example.html
  packages/docs-examples/components/tags/tag-input-onpaste-off/tag-input-onpaste-off-example.ts
  packages/docs-examples/components/tags/tag-input-overview/tag-input-overview-example.ts
  packages/docs-examples/components/tags/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tags/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

feat(schematics): drop the click handler from the tag-list cleaner (#DS-5486)
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/tag-list-cleaner/README.md
  packages/schematics/src/migrations/tag-list-cleaner/data.ts
  packages/schematics/src/migrations/tag-list-cleaner/index.spec.ts
  packages/schematics/src/migrations/tag-list-cleaner/index.ts
  packages/schematics/src/migrations/tag-list-cleaner/schema.json
  packages/schematics/src/migrations/tag-list-cleaner/schema.ts
Due: yarn run cspell --files

feat(docs): interactive migration guide filtered by version range (#DS-5169)
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/anchors/anchors.component.html
  apps/docs/src/app/components/anchors/anchors.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/components/live-example/markdown-content.ts
  apps/docs/src/app/components/migration-guide/docs-migration-guide.html
  apps/docs/src/app/components/migration-guide/docs-migration-guide.scss
  apps/docs/src/app/components/migration-guide/docs-migration-guide.spec.ts
  apps/docs/src/app/components/migration-guide/docs-migration-guide.ts
  apps/docs/src/app/components/migration-guide/migration-versions.spec.ts
  apps/docs/src/app/components/migration-guide/migration-versions.ts
  apps/docs/src/app/page-paths.ts
  apps/docs/src/app/routes.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/i18n.ts
  apps/docs/src/app/services/seo.ts
  apps/docs/src/app/structure.ts
  apps/docs/src/prerender-routes.txt
  apps/docs/src/sitemap.xml
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  tools/markdown-to-html/migration/migration-steps.spec.ts
  tools/markdown-to-html/migration/migration-steps.ts
  tools/markdown-to-html/migration/schematics-coverage.spec.ts
  tools/markdown-to-html/migration/wrap-migration-steps.spec.ts
  tools/markdown-to-html/migration/wrap-migration-steps.ts
  tools/markdown-to-html/transform-markdown.ts
  tools/markdown-to-html/utils.ts
Due: yarn run cspell --files

docs(splitter): document the deprecation path schematic (#DS-5169)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
Due: yarn run cspell --files

fix(schematics): register the 20.3.0 migrations for 21.0.0 (#DS-5169)
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/migration-guide/migration-versions.spec.ts
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/schematics/src/migrations.json
Due: yarn run cspell --files

fix(form-field, select, tree-select, timezone)!: pair keydownTarget with clearByEscape (#DS-5486)
  packages/components/form-field/cleaner.ts
  packages/components/select/select.component.ts
  packages/components/timezone/timezone-select.component.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

fix(tags, autocomplete): clearing keeps focus and never removes a disabled tag (#DS-5486)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-text-control.ts
  packages/components/tags/tag.component.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(schematics): keep tag-list cleaner handlers that nothing replaces (#DS-5486)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/tag-list-cleaner/README.md
  packages/schematics/src/migrations/tag-list-cleaner/data.ts
  packages/schematics/src/migrations/tag-list-cleaner/index.spec.ts
  packages/schematics/src/migrations/tag-list-cleaner/index.ts
Due: yarn run cspell --files

docs(select, tree-select, tags): bind clearPredicate to a field (#DS-5486)
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
Due: yarn run cspell --files

refactor: review
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
Due: none

refactor: review
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.html
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.ts
  apps/docs/src/app/components/stackblitz/stackblitz-button.ts
  apps/docs/src/testing/docs-examples.stub.ts
  package.json
  packages/components/breadcrumbs/breadcrumbs.ru.mdx
  packages/docs-examples/example-data.ts
  tools/docs-pages/compile-page.ts
  tools/docs-pages/generate-docs-pages.ts
Due: none

test(file-upload): settle the file name split before the screenshot
  docs/e2e-flakiness.md
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
Due: yarn run cspell --files

fix(tags)!: errors following a full review of the component (#DS-5482) (#1993)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/tags-signals/README.md
  packages/schematics/src/migrations/tags-signals/data.ts
  packages/schematics/src/migrations/tags-signals/index.spec.ts
  packages/schematics/src/migrations/tags-signals/index.ts
  packages/schematics/src/migrations/tags-signals/schema.json
  packages/schematics/src/migrations/tags-signals/schema.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

refactor: review
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timepicker/timepicker.spec.ts
Due: none

test: updated e2e snapshots
  packages/components/form-field/__screenshots__/05-dark.png
  packages/components/form-field/__screenshots__/05-light.png
Due: none

refactor: review
  .github/dependabot.yml
  apps/docs/src/app/components/sidenav/sidenav.html
  apps/docs/src/app/components/sidenav/sidenav.spec.ts
  apps/docs/src/app/components/sidenav/sidenav.ts
  docs/data-grid/ag-grid/ag-grid.en.mdx
  docs/data-grid/ag-grid/ag-grid.ru.mdx
  packages/components-dev/ag-grid/module.ts
  packages/components-dev/content-panel/module.ts
  packages/components/content-panel/content-panel.en.mdx
  packages/components/content-panel/content-panel.ru.mdx
  packages/components/tags/tag.en.mdx
  packages/components/tags/tag.ru.mdx
  packages/docs-examples/components/ag-grid/ag-grid-and-content-panel/ag-grid-and-content-panel-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/components/content-panel/index.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/server-rendering.ts
  tools/docs-pages/compile-page.ts
  tools/docs-pages/mdx-components.ts
Due: yamllint

fix(time-range): validate range borders and bound the swap (#DS-4642) (#2028)
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/time-range/__snapshots__/time-range.spec.ts.snap
  packages/components/time-range/constants.ts
  packages/components/time-range/time-range-editor-bridge.ts
  packages/components/time-range/time-range-editor.html
  packages/components/time-range/time-range-editor.ts
  packages/components/time-range/time-range.en.md
  packages/components/time-range/time-range.ru.md
  packages/components/time-range/time-range.scss
  packages/components/time-range/time-range.service.ts
  packages/components/time-range/time-range.spec.ts
  packages/components/time-range/time-range.ts
  packages/docs-examples/components/time-range/time-range-min-max/time-range-min-max-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/time-range.api.md
Due: yarn run cspell --files

fix(timepicker)!: errors following a full review of the component (#DS-5482) (#1992)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/form-field/__screenshots__/05-dark.png
  packages/components/form-field/__screenshots__/05-light.png
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timepicker/timepicker.spec.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/timepicker-signals/README.md
  packages/schematics/src/migrations/timepicker-signals/data.ts
  packages/schematics/src/migrations/timepicker-signals/index.spec.ts
  packages/schematics/src/migrations/timepicker-signals/index.ts
  packages/schematics/src/migrations/timepicker-signals/schema.json
  packages/schematics/src/migrations/timepicker-signals/schema.ts
  tools/public_api_guard/components/timepicker.api.md
Due: yarn run cspell --files
