Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(docs): address the review of the example page (#DS-4873)
  .prettierignore
  AGENTS.md
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/app.component.html
  apps/docs/src/app/app.component.ts
  apps/docs/src/app/components/example-page/example-page.routes.ts
  apps/docs/src/app/components/example-page/example-page.spec.ts
  apps/docs/src/app/components/example-page/example-page.ts
  apps/docs/src/app/components/navbar/navbar-property.ts
  apps/docs/src/app/constants/example-page.spec.ts
  apps/docs/src/app/constants/example-page.ts
  apps/docs/src/app/routes.ts
  apps/docs/src/app/services/preferences.spec.ts
  apps/docs/src/app/services/preferences.ts
  apps/docs/src/app/services/seo.spec.ts
  apps/docs/src/app/services/seo.ts
  apps/docs/src/app/services/title-strategy.spec.ts
  apps/docs/src/app/services/title-strategy.ts
  apps/docs/src/styles/_examples.scss
  apps/docs/src/testing/docs-examples-loader.stub.ts
  apps/docs/src/testing/docs-examples.stub.ts
  packages/components-dev/ssr/routes.ts
  packages/docs-examples/components/popover/popover-scrolling-and-layering/popover-scrolling-and-layering-example.ts
  packages/docs-examples/components/select/select-scrolling-and-layering/select-scrolling-and-layering-example.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
  packages/docs-examples/loader/ng-package.json
  tools/example-module/generate-example-module.ts
  tools/example-module/index.ts
  tsconfig.json
Due: yarn run cspell --files

test(e2e): serve a minified static build instead of ng serve
  AGENTS.md
  angular.json
  docs/e2e-performance.md
  docs/guides/06-testing.md
  package.json
  packages/e2e/README.md
  packages/e2e/routes.ts
  playwright.config.ts
  tools/cspell-locales/en.json
  tools/e2e/Dockerfile.dockerignore
  tools/e2e/docker-compose.yml
  tools/e2e/serve.mjs
Due: yarn run cspell --files, yamllint

docs(e2e): record the CI timing of the static build
  docs/e2e-performance.md
Due: yarn run cspell --files

test(e2e): use half the cores in Docker, cache the build as an image layer, keep artifacts off 9P
  docs/e2e-performance.md
  docs/guides/06-testing.md
  playwright.config.ts
  tools/e2e/Dockerfile
  tools/e2e/Dockerfile.dockerignore
  tools/e2e/docker-compose.yml
  tools/e2e/entrypoint.sh
Due: yarn run cspell --files, yamllint

docs(e2e): record the CI timing with artifacts off the bind mount
  docs/e2e-performance.md
Due: yarn run cspell --files

fix(filter-bar): correct pipe truncation layout (#DS-5588)
  packages/components-dev/filter-bar/pipe-truncation-example.ts
  packages/components/filter-bar/e2e.playwright-spec.ts
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/filter-bar.module.ts
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/components/filter-bar/pipes/pipe-input.scss
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/filter-bar/pipes/pipe-readonly.ts
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-text.html
  packages/components/filter-bar/pipes/pipe-text.ts
  packages/components/filter-bar/pipes/pipe-title.spec.ts
  packages/components/filter-bar/pipes/pipe-title.ts
  packages/components/filter-bar/pipes/pipe-tree-select.html
  packages/components/filter-bar/pipes/pipe-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-tree-select.ts
  packages/components/filter-bar/public-api.ts
  packages/docs-examples/components/filter-bar/filter-bar-custom-pipe/filter-bar-custom-pipe-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/filter-bar/__screenshots__/01-dark.png
  packages/components/filter-bar/__screenshots__/01-light.png
Due: none

fix(filter-bar): remove unused pipe title refs (#DS-5588)
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-tree-select.html
Due: none

test(top-bar): merge the two sticky shots and open the dropdown inward
  packages/components/top-bar/__screenshots__/02-dark.png
  packages/components/top-bar/__screenshots__/02-light.png
  packages/components/top-bar/__screenshots__/03-dark.png
  packages/components/top-bar/__screenshots__/03-light.png
  packages/components/top-bar/e2e.playwright-spec.ts
  packages/components/top-bar/e2e.ts
Due: none

test(e2e): forward signals, keep Playwright output off the mounts, share the static server
  .github/workflows/e2e.yml
  AGENTS.md
  docs/e2e-performance.md
  docs/guides/06-testing.md
  packages/e2e/README.md
  playwright.config.ts
  tools/cspell-locales/en.json
  tools/e2e/Dockerfile
  tools/e2e/Dockerfile.dockerignore
  tools/e2e/docker-compose.update.yml
  tools/e2e/docker-compose.yml
  tools/e2e/entrypoint.sh
  tools/e2e/serve.mjs
  tools/serve-docs.mjs
  tools/serve-static.mjs
Due: yarn run cspell --files, yamllint

fix(top-bar)!: errors following a full review of the component (#DS-5482) (#2032)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components-dev/top-bar/module.ts
  packages/components/top-bar/__screenshots__/01-dark.png
  packages/components/top-bar/__screenshots__/01-light.png
  packages/components/top-bar/__screenshots__/02-dark.png
  packages/components/top-bar/__screenshots__/02-light.png
  packages/components/top-bar/e2e.playwright-spec.ts
  packages/components/top-bar/e2e.ts
  packages/components/top-bar/module.ts
  packages/components/top-bar/top-bar-tokens.scss
  packages/components/top-bar/top-bar.en.mdx
  packages/components/top-bar/top-bar.ru.mdx
  packages/components/top-bar/top-bar.scss
  packages/components/top-bar/top-bar.spec.ts
  packages/components/top-bar/top-bar.ts
  packages/docs-examples/components/top-bar/top-bar-actions/top-bar-actions-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs-adaptive/top-bar-breadcrumbs-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs/top-bar-breadcrumbs-example.ts
  packages/docs-examples/components/top-bar/top-bar-overview/top-bar-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter-adaptive/top-bar-title-counter-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter/top-bar-title-counter-example.ts
  packages/e2e/routes.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/top-bar-container-selectors/README.md
  packages/schematics/src/migrations/top-bar-container-selectors/data.ts
  packages/schematics/src/migrations/top-bar-container-selectors/index.spec.ts
  packages/schematics/src/migrations/top-bar-container-selectors/index.ts
  packages/schematics/src/migrations/top-bar-container-selectors/schema.json
  packages/schematics/src/migrations/top-bar-container-selectors/schema.ts
  tools/public_api_guard/components/top-bar.api.md
Due: yarn run cspell --files

feat(tooltip, core): position the tooltip relative to the text caret (#DS-4857)
  packages/components-dev/tooltip/module.ts
  packages/components-dev/tooltip/template.html
  packages/components/core/form-field/caret-rect.spec.ts
  packages/components/core/form-field/caret-rect.ts
  packages/components/core/form-field/index.ts
  packages/components/core/form-field/text-ruler.ts
  packages/components/core/validation/validation.en.mdx
  packages/components/tooltip/e2e.playwright-spec.ts
  packages/components/tooltip/e2e.ts
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.en.mdx
  packages/components/tooltip/tooltip.ru.mdx
  packages/components/tooltip/tooltip.spec.ts
  packages/docs-examples/components/tooltip/index.ts
  packages/docs-examples/components/tooltip/tooltip-relative-to-caret/tooltip-relative-to-caret-example.ts
  packages/docs-examples/components/validation/validation-on-type/validation-on-type-example.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

feat(autocomplete, tags, tooltip, core): complete text at the caret (#DS-4858)
  packages/components-dev/autocomplete/module.ts
  packages/components-dev/tag/module.ts
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.en.mdx
  packages/components/autocomplete/autocomplete.ru.mdx
  packages/components/autocomplete/autocomplete.scss
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/autocomplete/e2e.playwright-spec.ts
  packages/components/autocomplete/e2e.ts
  packages/components/core/form-field/caret-tracking.spec.ts
  packages/components/core/form-field/caret-tracking.ts
  packages/components/core/form-field/index.ts
  packages/components/core/form-field/text-mirror.spec.ts
  packages/components/core/form-field/text-mirror.ts
  packages/components/core/form-field/text-query.spec.ts
  packages/components/core/form-field/text-query.ts
  packages/components/core/form-field/text-ruler.ts
  packages/components/tags/e2e.playwright-spec.ts
  packages/components/tags/e2e.ts
  packages/components/tags/tag-autocomplete.en.mdx
  packages/components/tags/tag-autocomplete.ru.mdx
  packages/components/tags/tag-input.spec.ts
  packages/components/tooltip/e2e.playwright-spec.ts
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.en.mdx
  packages/components/tooltip/tooltip.ru.mdx
  packages/components/tooltip/tooltip.spec.ts
  packages/docs-examples/components/autocomplete/autocomplete-textarea/autocomplete-textarea-example.ts
  packages/docs-examples/components/autocomplete/autocomplete-triggers/autocomplete-triggers-example.ts
  packages/docs-examples/components/autocomplete/index.ts
  packages/docs-examples/components/tags/index.ts
  packages/docs-examples/components/tags/tag-autocomplete-relative-to-caret/tag-autocomplete-relative-to-caret-example.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

fix(autocomplete): expose the trigger as a combobox and name its option list (#DS-4858)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/autocomplete.html
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/tags/tag-input.spec.ts
  tools/public_api_guard/components/autocomplete.api.md
Due: yarn run cspell --files

fix(autocomplete, tooltip, core): keep caret anchoring and text completion in step with the field (#DS-4858)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.en.mdx
  packages/components/autocomplete/autocomplete.ru.mdx
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/core/form-field/caret-origin.ts
  packages/components/core/form-field/caret-rect.spec.ts
  packages/components/core/form-field/caret-rect.ts
  packages/components/core/form-field/index.ts
  packages/components/core/form-field/text-mirror.spec.ts
  packages/components/core/form-field/text-mirror.ts
  packages/components/core/form-field/text-query.spec.ts
  packages/components/core/form-field/text-query.ts
  packages/components/core/form-field/text-ruler.ts
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.en.mdx
  packages/components/tooltip/tooltip.ru.mdx
  packages/components/tooltip/tooltip.spec.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

test(autocomplete, tags, tooltip): frame the caret screenshots on library fields and the whole panel (#DS-4858)
  packages/components/autocomplete/__screenshots__/03-dark.png
  packages/components/autocomplete/__screenshots__/03-light.png
  packages/components/tags/__screenshots__/06-dark.png
  packages/components/tags/__screenshots__/06-light.png
  packages/components/tags/e2e.ts
  packages/components/tooltip/__screenshots__/02-dark.png
  packages/components/tooltip/__screenshots__/02-light.png
  packages/components/tooltip/e2e.ts
Due: none

docs(autocomplete, tags, tooltip): embed the caret examples as MDX live examples (#DS-4858)
  packages/components/autocomplete/autocomplete.en.mdx
  packages/components/autocomplete/autocomplete.ru.mdx
  packages/components/tags/tag-autocomplete.en.mdx
  packages/components/tags/tag-autocomplete.ru.mdx
  packages/components/tooltip/tooltip.en.mdx
  packages/components/tooltip/tooltip.ru.mdx
Due: none

feat(popover, dropdown, core): anchor a panel to a caret or a text selection (#DS-4857)
  packages/components-dev/dropdown/module.ts
  packages/components-dev/popover/module.ts
  packages/components/core/overlay/overlay-origin.spec.ts
  packages/components/core/overlay/overlay-origin.ts
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/core/public-api.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.mdx
  packages/components/dropdown/dropdown.ru.mdx
  packages/components/dropdown/dropdown.spec.ts
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.en.mdx
  packages/components/popover/popover.ru.mdx
  packages/components/popover/popover.spec.ts
  packages/docs-examples/components/dropdown/dropdown-slash-menu/dropdown-slash-menu-example.ts
  packages/docs-examples/components/dropdown/index.ts
  packages/docs-examples/components/popover/index.ts
  packages/docs-examples/components/popover/popover-text-selection/popover-text-selection-example.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/dropdown.api.md
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

fix(docs): keep the upgrade guide's pick prompt up as a single line (#DS-5169)
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/migration-guide/docs-migration-guide.html
  apps/docs/src/app/components/migration-guide/docs-migration-guide.scss
  apps/docs/src/app/components/migration-guide/docs-migration-guide.spec.ts
  apps/docs/src/app/components/migration-guide/docs-migration-guide.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/i18n.ts
Due: none

fix(markdown, scrollbar): customize the native scrollbars of the markdown content (#DS-4089) (#2051)
  packages/components/markdown/__snapshots__/markdown.component.spec.ts.snap
  packages/components/markdown/markdown.component.spec.ts
  packages/components/markdown/markdown.component.ts
  packages/components/markdown/markdown.service.ts
  packages/components/scrollbar/scrollbar.spec.ts
  packages/components/scrollbar/scrollbar.ts
  tools/public_api_guard/components/markdown.api.md
  tools/public_api_guard/components/scrollbar.api.md
Due: yarn run cspell --files

fix(modal): keep content in place when a scrollbar appears (#DS-4543) (#2050)
  packages/components/datepicker/datepicker.spec.ts
  packages/components/modal/__screenshots__/04-light.png
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/components/modal/modal.component.html
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.spec.ts
  packages/e2e/routes.ts
Due: none

test(e2e): use half the cores in Docker, cache the build as an image layer, keep artifacts off 9P (#2070)
  .github/workflows/e2e.yml
  AGENTS.md
  docs/e2e-performance.md
  docs/guides/06-testing.md
  packages/e2e/README.md
  playwright.config.ts
  tools/cspell-locales/en.json
  tools/e2e/Dockerfile
  tools/e2e/Dockerfile.dockerignore
  tools/e2e/docker-compose.update.yml
  tools/e2e/docker-compose.yml
  tools/e2e/entrypoint.sh
  tools/e2e/serve.mjs
  tools/serve-docs.mjs
  tools/serve-static.mjs
Due: yarn run cspell --files, yamllint

test(e2e): serve a minified static build instead of ng serve (#2069)
  AGENTS.md
  angular.json
  docs/e2e-performance.md
  docs/guides/06-testing.md
  package.json
  packages/e2e/README.md
  packages/e2e/routes.ts
  playwright.config.ts
  tools/cspell-locales/en.json
  tools/e2e/Dockerfile.dockerignore
  tools/e2e/docker-compose.yml
  tools/e2e/serve.mjs
Due: yarn run cspell --files, yamllint

feat(docs): interactive migration guide filtered by version range (#DS-5169) (#2048)
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer-wrapper.ts
  apps/docs/src/app/components/live-example/markdown-content.ts
  apps/docs/src/app/components/migration-guide/docs-migration-guide.html
  apps/docs/src/app/components/migration-guide/docs-migration-guide.scss
  apps/docs/src/app/components/migration-guide/docs-migration-guide.spec.ts
  apps/docs/src/app/components/migration-guide/docs-migration-guide.ts
  apps/docs/src/app/components/migration-guide/docs-migration-progress.ts
  apps/docs/src/app/components/migration-guide/docs-migration-step-done.ts
  apps/docs/src/app/components/migration-guide/migration-versions.spec.ts
  apps/docs/src/app/components/migration-guide/migration-versions.ts
  apps/docs/src/app/routes.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/i18n.ts
  apps/docs/src/app/structure.ts
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/schematics/src/migrations.json
  tools/docs-pages/compile-page.spec.ts
  tools/docs-pages/compile-page.ts
  tools/docs-pages/generate-docs-pages.ts
  tools/docs-pages/migration/angular-major.spec.ts
  tools/docs-pages/migration/migration-steps.spec.ts
  tools/docs-pages/migration/migration-steps.ts
  tools/docs-pages/migration/schematics-coverage.spec.ts
  tools/docs-pages/migration/wrap-migration-steps.spec.ts
  tools/docs-pages/migration/wrap-migration-steps.ts
Due: none

test(components): catch host directive bindings forwarded under their selector name (#DS-1959)
  packages/components/host-directives.spec.ts
Due: none

fix(navbar)!: expose the tooltip content of items and brands as tooltipText (#DS-1959)
  packages/components-dev/navbar/template.html
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/docs-examples/components/navbar/navbar-app-long-name/navbar-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-overview/navbar-overview-example.html
  packages/schematics/src/migrations/navbar-signals-and-aria/README.md
  packages/schematics/src/migrations/navbar-signals-and-aria/data.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.ts
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

fix(navbar): keep tooltipText on a collapsed item or brand without a title (#DS-1959)
  packages/components/host-directives.spec.ts
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/docs-examples/components/navbar/navbar-app-long-name/navbar-app-long-name-example.ts
  packages/docs-examples/components/navbar/navbar-overview/navbar-overview-example.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/data.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.spec.ts
Due: none

fix(navbar)!: enable the tooltip of an item whose title is clipped in the vertical navbar (#DS-1959)
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/e2e.ts
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/vertical-navbar.component.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

feat(navbar): add kbqNavbarItemSuffix, fix horizontal navbar overflow on collapse (#DS-1959)
  packages/components-dev/navbar/module.ts
  packages/components-dev/navbar/template.html
  packages/components/navbar/__screenshots__/08-dark.png
  packages/components/navbar/__screenshots__/08-light.png
  packages/components/navbar/_navbar-item_horizontal.scss
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/_navbar-theme.scss
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/e2e.ts
  packages/components/navbar/examples.navbar.en.mdx
  packages/components/navbar/examples.navbar.ru.mdx
  packages/components/navbar/navbar-item.component.html
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.component.ts
  packages/components/navbar/navbar.module.ts
  packages/components/navbar/outer-width.ts
  packages/docs-examples/components/navbar/index.ts
  packages/docs-examples/components/navbar/navbar-item-suffix/navbar-item-suffix-example.html
  packages/docs-examples/components/navbar/navbar-item-suffix/navbar-item-suffix-example.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

fix(schematics): warn about the removed KbqVerticalNavbar.animationDone in the navbar migration (#DS-1959)
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/navbar-signals-and-aria/README.md
  packages/schematics/src/migrations/navbar-signals-and-aria/data.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.spec.ts
Due: yarn run cspell --files

fix(dev): color the icon of the contrast button in the vertical navbar as the examples do (#DS-1959)
  packages/components-dev/navbar/template.html
Due: none

docs(navbar): describe the navbar review in the migration guide (#DS-1959)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  tools/docs-pages/migration/schematics-coverage.spec.ts
Due: none

docs(navbar): move the frame geometry of the navbar examples into the docs styles (#DS-1959)
  apps/docs/src/styles/_examples.scss
  packages/docs-examples/components/navbar/navbar-app-long-name/navbar-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-item-suffix/navbar-item-suffix-example.html
  packages/docs-examples/components/navbar/navbar-overview/navbar-overview-example.html
  packages/docs-examples/components/navbar/navbar-template-outlet/navbar-template-outlet-example.html
  packages/docs-examples/components/navbar/navbar-template-outlet/navbar-template-outlet-example.ts
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.ts
  packages/docs-examples/components/navbar/navbar-vertical-item-suffix/navbar-vertical-item-suffix-example.html
  packages/docs-examples/components/navbar/navbar-vertical-item-suffix/navbar-vertical-item-suffix-example.ts
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.html
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.ts
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.html
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.ts
Due: none

docs(navbar): split the item suffix example into a horizontal and a vertical one (#DS-1959)
  packages/components-dev/navbar/module.ts
  packages/components/navbar/examples.navbar.en.mdx
  packages/components/navbar/examples.navbar.ru.mdx
  packages/docs-examples/components/navbar/index.ts
  packages/docs-examples/components/navbar/navbar-item-suffix/navbar-item-suffix-example.html
  packages/docs-examples/components/navbar/navbar-item-suffix/navbar-item-suffix-example.ts
  packages/docs-examples/components/navbar/navbar-vertical-item-suffix/navbar-vertical-item-suffix-example.html
  packages/docs-examples/components/navbar/navbar-vertical-item-suffix/navbar-vertical-item-suffix-example.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
Due: none

chore: migrate the repository to @koobiq/design-tokens v4 (#DS-3002)
  apps/docs/src/main.scss
  apps/docs/src/styles/koobiq/_index.scss
  package.json
  packages/components-dev/icon-adopted-stylesheets/global.scss
  packages/components-dev/main.scss
  packages/components-dev/skeleton/styles.scss
  packages/components/core/pop-up/constants.ts
  packages/components/core/styles/_tokens.scss
  packages/e2e/main.scss
Due: none

feat(docs): add a design tokens playground page (#DS-3002)
  apps/docs/src/app/components/design-tokens-viewers/design-tokens-viewer.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-playground.html
  apps/docs/src/app/components/design-tokens-viewers/tokens-playground.scss
  apps/docs/src/app/components/design-tokens-viewers/tokens-playground.service.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-playground.ts
  apps/docs/src/app/routes.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/i18n.ts
  apps/docs/src/app/services/seo.ts
  apps/docs/src/app/structure.ts
  apps/docs/src/prerender-routes.txt
  apps/docs/src/sitemap.xml
Due: none

feat(docs): assemble custom themes from a colour picker on the tokens playground (#DS-3002)
  apps/docs/src/app/components/design-tokens-viewers/color-picker/color-picker.html
  apps/docs/src/app/components/design-tokens-viewers/color-picker/color-picker.scss
  apps/docs/src/app/components/design-tokens-viewers/color-picker/color-picker.ts
  apps/docs/src/app/components/design-tokens-viewers/color-picker/palette-catalog.ts
  apps/docs/src/app/components/design-tokens-viewers/swatch.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-playground.html
  apps/docs/src/app/components/design-tokens-viewers/tokens-playground.scss
  apps/docs/src/app/components/design-tokens-viewers/tokens-playground.service.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-playground.ts
  apps/docs/src/app/components/navbar/navbar.component.ts
  apps/docs/src/app/components/navbar/navbar.scss
  apps/docs/src/app/components/navbar/navbar.template.html
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/custom-theme.spec.ts
  apps/docs/src/app/services/custom-theme.ts
  apps/docs/src/app/services/i18n.ts
Due: none

build(docs): run the token data generator on Style Dictionary 5 (#DS-3002)
  apps/docs/src/app/components/design-tokens-viewers/data/colors.ts
  package.json
  tools/cspell-locales/en.json
  tools/tokens/docs/README.md
  tools/tokens/docs/config.js
  tools/tokens/docs/config.mjs
  tools/tokens/docs/formats.mjs
  tools/tokens/docs/index.js
  tools/tokens/docs/index.mjs
  tools/tokens/docs/sdConfig.mjs
  tools/tokens/docs/templates.js
  tools/tokens/docs/templates.mjs
  tools/tokens/docs/transforms.js
  tools/tokens/docs/transforms.mjs
  tools/tokens/docs/utils.mjs
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
