Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

feat(dropdown): added safe triangle for submenu (#DS-2446)
  packages/components-dev/dropdown/module.ts
  packages/components/core/overlay/safe-triangle.spec.ts
  packages/components/core/overlay/safe-triangle.ts
  packages/components/core/public-api.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/dropdown.types.ts
  packages/docs-examples/components/dropdown/dropdown-safe-triangle/dropdown-safe-triangle-example.ts
  packages/docs-examples/components/dropdown/index.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

refactor(form-field): publish the resolved text colour instead of repeating it (#DS-4096)
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/e2e.playwright-spec.ts
  packages/components/form-field/form-field-tokens.scss
Due: none

fix(core): declare color-scheme for the theme, not for one component (#DS-4096)
  packages/components/core/styles/theming/_theming.scss
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/e2e.playwright-spec.ts
Due: none

feat(form-field): expose whether the browser autofilled a control (#DS-4096)
  packages/components/core/common-behaviors/autofill.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/form-field/autofill.spec.ts
  packages/components/form-field/e2e.playwright-spec.ts
  packages/components/form-field/form-field-control.ts
  packages/components/form-field/form-field.ts
  packages/components/input/input-password.ts
  packages/components/input/input.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-text-control.ts
  packages/components/textarea/textarea.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/input.api.md
  tools/public_api_guard/components/tags.api.md
  tools/public_api_guard/components/textarea.api.md
Due: yarn run cspell --files

docs(form-field): document autofill (#DS-4096)
  packages/components/form-field/form-field.en.md
  packages/components/form-field/form-field.ru.md
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

chore(schematics): fix cspell error in the scrollbar-deprecated-path README
  packages/schematics/src/migrations/scrollbar-deprecated-path/README.md
Due: yarn run cspell --files

fix(toast): keep other overlays open when a toast appears (#DS-5407)
  packages/components-dev/toast/module.ts
  packages/components-dev/toast/template.html
  packages/components/toast/toast-container.component.ts
  packages/components/toast/toast.spec.ts
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

docs(form-field): correct three claims that no longer match the code (#DS-4096)
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/e2e.ts
  packages/components/form-field/form-field.en.md
  packages/components/form-field/form-field.ru.md
Due: yarn run cspell --files

test(form-field): make two autofill assertions measure what they claim (#DS-4096)
  packages/components/form-field/e2e.playwright-spec.ts
Due: none

fix: after review
  packages/components/toast/toast-container.component.ts
  packages/components/toast/toast.spec.ts
Due: none

fix(tree): prevent tooltip for non-truncated option text
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

feat(list): drag and drop reordering (#DS-4454)
  packages/components-dev/list/module.ts
  packages/components-dev/list/template.html
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/e2e.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list-tokens.scss
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/components/list/list.scss
  packages/docs-examples/components/list/index.ts
  packages/docs-examples/components/list/list-draggable-connected/list-draggable-connected-example.ts
  packages/docs-examples/components/list/list-draggable/list-draggable-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

Potential fix for pull request finding
  packages/components/toast/toast-container.component.ts
Due: none

chore(security): document that the CodeQL job name gates merges to main
  .github/workflows/codeql.yml
Due: yamllint

chore(schematics): mark the scrollbar-x specifier in the README as hypothetical
  packages/schematics/src/migrations/scrollbar-deprecated-path/README.md
Due: yarn run cspell --files

chore(schematics): document the scrollbar-deprecated-path migration (#1907)
  packages/schematics/scripts/copy-meta-to-dist.js
  packages/schematics/src/migrations/scrollbar-deprecated-path/README.md
Due: yarn run cspell --files

fix(list): address review comments on drag and drop (#DS-4454)
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

fix(button-toggle): prevent NG0100 from an unresolved initial group value (#DS-2953)
  packages/components/button-toggle/button-toggle.component.spec.ts
  packages/components/button-toggle/button-toggle.component.ts
  packages/docs-examples/components/accordion/accordion-sections/accordion-sections-example.html
  packages/docs-examples/components/accordion/accordion-sections/accordion-sections-example.ts
  packages/docs-examples/components/accordion/accordion-states/accordion-states-example.html
  packages/docs-examples/components/accordion/accordion-states/accordion-states-example.ts
Due: none

feat(list): mark the drop target with an insertion indicator (#DS-4454)
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list-tokens.scss
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/components/list/list.scss
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

feat(list): drop the dot from the insertion indicator (#DS-4454)
  packages/components/list/list-tokens.scss
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/components/list/list.scss
Due: yarn run cspell --files

feat(file-upload): duplicate handling and file select strategy (#DS-4617) (#1898)
  packages/components/file-upload/file-upload.en.md
  packages/components/file-upload/file-upload.ru.md
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/file-upload.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/primitives/file-picker.spec.ts
  packages/components/file-upload/primitives/file-picker.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-add-strategy/file-upload-multiple-add-strategy-example.ts
  packages/docs-examples/components/file-upload/index.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

fix(filter-bar)!: renaming a filter no longer saves its pending changes (#DS-4903)
  packages/components-dev/filter-bar/module.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.spec.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/filter-bar-rename-action/README.md
  packages/schematics/src/migrations/filter-bar-rename-action/data.ts
  packages/schematics/src/migrations/filter-bar-rename-action/index.spec.ts
  packages/schematics/src/migrations/filter-bar-rename-action/index.ts
  packages/schematics/src/migrations/filter-bar-rename-action/schema.json
  packages/schematics/src/migrations/filter-bar-rename-action/schema.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

feat(notification-center): add a tooltip to the "remove all" button (#DS-4903)
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/notification-center/notification-center.html
  packages/components/notification-center/notification-center.spec.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/notification-center.api.md
Due: yarn run cspell --files

fix(examples,dev): align navbar tooltips with their button labels (#DS-4903)
  packages/components-dev/navbar/template.html
  packages/docs-examples/components/navbar/navbar-template-outlet/navbar-template-outlet-example.html
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.html
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.html
Due: none

fix(list): errors following a full review of the component (#DS-5402)
  packages/components/list/_list-theme.scss
  packages/components/list/list-option.html
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list-tokens.scss
  packages/components/list/list.component.spec.ts
  packages/components/list/list.component.ts
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/components/list/list.scss
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

fix(list): errors found in a multi-agent review of the component (#DS-5402)
  packages/components/core/option/optgroup.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/components/list/list.scss
  packages/docs-examples/components/list/list-action-button/list-action-button-example.ts
  packages/docs-examples/components/list/list-groups/list-groups-example.ts
  packages/docs-examples/components/list/list-intermediate-state/list-intermediate-state-example.html
  packages/docs-examples/components/list/list-multiple-checkbox/list-multiple-checkbox-example.ts
  packages/docs-examples/components/list/list-multiple-keyboard/list-multiple-keyboard-example.ts
  packages/docs-examples/components/list/list-overview/list-overview-example.ts
  packages/docs-examples/components/list/list-virtual-scroll/list-virtual-scroll-example.ts
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.spec.ts
Due: none

fix(navbar): errors following a full review of the component (#DS-5403)
  packages/components-dev/navbar/template.html
  packages/components/navbar/_navbar-item_horizontal.scss
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/_navbar-theme.scss
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/e2e.ts
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-divider.scss
  packages/components/navbar/navbar-item.component.html
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar-item.scss
  packages/components/navbar/navbar-toggle.component.ts
  packages/components/navbar/navbar-toggle.scss
  packages/components/navbar/navbar-tokens.scss
  packages/components/navbar/navbar.component.html
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.component.ts
  packages/components/navbar/navbar.scss
  packages/components/navbar/vertical-navbar.component.ts
  packages/components/navbar/vertical-navbar.scss
  packages/components/tooltip/tooltip.component.ts
  packages/docs-examples/components/navbar/navbar-template-outlet/navbar-template-outlet-example.html
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.html
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.html
  packages/e2e/routes.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/navbar-signals-and-aria/README.md
  packages/schematics/src/migrations/navbar-signals-and-aria/data.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/schema.json
  packages/schematics/src/migrations/navbar-signals-and-aria/schema.ts
  tools/public_api_guard/components/navbar.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

fix(navbar): fix codemod, a11y coverage and e2e focus bugs from review (#DS-5403)
  packages/components/navbar/_navbar-item_horizontal.scss
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/data.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.ts
Due: none

fix(toast): keep an overlay anchored to its trigger while the stack re-flows
  packages/components/toast/toast-container.component.ts
  packages/components/toast/toast.spec.ts
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

fix(examples,dev,schematics): guard the rename hosts and report shorthand name keys (#DS-4903)
  packages/components-dev/filter-bar/module.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
  packages/schematics/src/migrations/filter-bar-rename-action/README.md
  packages/schematics/src/migrations/filter-bar-rename-action/data.ts
  packages/schematics/src/migrations/filter-bar-rename-action/index.spec.ts
  packages/schematics/src/migrations/filter-bar-rename-action/index.ts
Due: yarn run cspell --files

fix(list): wire type-ahead into the list keydown handler (#DS-5402)
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
Due: none

fix(navbar): fix roving arrow focus and migration receiver scoping (#DS-5403)
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.component.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/schema.ts
Due: none

feat(docs): improved SEO (#DS-4376)
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/page-paths.spec.ts
  apps/docs/src/app/page-paths.ts
  apps/docs/src/app/seo-descriptions.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/i18n.ts
  apps/docs/src/app/services/seo.spec.ts
  apps/docs/src/app/services/seo.ts
  apps/docs/src/app/services/title-strategy.ts
  apps/docs/src/app/structure.ts
  apps/docs/src/prerender-routes.txt
  apps/docs/src/sitemap.xml
  packages/components/core/styles/layout-flex.en.md
  packages/components/core/styles/layout-flex.ru.md
  packages/components/dl/dl.en.md
  packages/components/dl/dl.ru.md
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/components/splitter/splitter.en.md
  packages/components/splitter/splitter.ru.md
  tools/generate-prerender-routes.ts
  tools/generate-sitemap.ts
  tools/markdown-to-html/generate-seo-descriptions.spec.ts
  tools/markdown-to-html/generate-seo-descriptions.ts
  tools/markdown-to-html/seo-description.ts
  tools/markdown-to-html/transform-markdown.ts
Due: yarn run cspell --files

refactor: review
  tools/markdown-to-html/generate-seo-descriptions.ts
  tools/markdown-to-html/seo-description.spec.ts
  tools/markdown-to-html/seo-description.ts
Due: none

test: updated e2e snapshots
  packages/components/autocomplete/__screenshots__/01-light.png
  packages/components/content-panel/__screenshots__/01-light.png
  packages/components/inline-edit/__screenshots__/06-light.png
  packages/components/select/__screenshots__/02-light.png
  packages/components/sidepanel/__screenshots__/01-light.png
  packages/components/sidepanel/__screenshots__/02-light.png
  packages/components/sidepanel/__screenshots__/03-light.png
  packages/components/sidepanel/__screenshots__/04-dark.png
  packages/components/sidepanel/__screenshots__/04-light.png
  packages/components/timezone/__screenshots__/02-light.png
Due: none

refactor: review
  packages/components/scrollbar/e2e.playwright-spec.ts
  packages/components/scrollbar/e2e.ts
  packages/components/scrollbar/scrollbar-viewport.scss
  packages/components/scrollbar/scrollbar.en.md
  packages/components/scrollbar/scrollbar.ru.md
  packages/components/scrollbar/scrollbar.ts
  packages/docs-examples/components/scrollbar/scrollbar-overview/scrollbar-overview-example.ts
  tools/public_api_guard/components/scrollbar.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/autocomplete/__screenshots__/01-dark.png
  packages/components/content-panel/__screenshots__/01-dark.png
  packages/components/inline-edit/__screenshots__/06-dark.png
  packages/components/select/__screenshots__/02-dark.png
Due: none
