Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

refactor: ci
  apps/docs/src/prerender-routes.txt
  apps/docs/src/sitemap.xml
Due: none

test: updated e2e snapshots
  packages/components/dropdown/__screenshots__/02-light.png
  packages/components/popover/__screenshots__/01-light.png
Due: none

test: updated e2e snapshots
  packages/components/form-field/__screenshots__/04-dark.png
Due: none

docs(actions-panel): make extra counter description accessible (#DS-5087)
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
Due: none

fix(docs): anchor nesting in the table of contents (#DS-5468) (#1954)
  apps/docs/src/app/components/anchors/anchors.component.scss
Due: none

refactor: review
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.html
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.scss
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.ts
  apps/docs/src/app/components/stackblitz/stackblitz-button.ts
  apps/docs/src/app/config.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/fullscreen.spec.ts
  apps/docs/src/app/services/fullscreen.ts
  apps/docs/src/app/services/i18n.ts
Due: none

refactor: e2e
  packages/components/dropdown/__screenshots__/02-light.png
  packages/components/dropdown/__screenshots__/03-light.png
  packages/components/dropdown/e2e.playwright-spec.ts
Due: none

refactor: review
  .github/workflows/build.yml
  angular.json
  packages/components-dev/index.html
  packages/components-dev/ssr/README.md
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/module.ts
  packages/components-dev/ssr/routes.ts
  packages/components-dev/ssr/server.ts
  packages/components-dev/ssr/tsconfig.app.json
  packages/docs-examples/example-module.ts
  tools/example-module/generate-example-module.ts
Due: yarn run cspell --files, yamllint

refactor: review
  apps/docs/src/app/structure.ts
  apps/docs/src/prerender-routes.txt
  apps/docs/src/sitemap.xml
  packages/components/dl/__screenshots__/01-dark.png
  packages/components/dl/__screenshots__/01-light.png
  packages/components/dl/dl.en.md
  packages/components/dl/dl.ru.md
  packages/components/dl/dl.scss
  packages/docs-examples/components/dl/dl-long-text/dl-long-text-example.ts
Due: yarn run cspell --files

refactor: review
  packages/components/dl/examples.dl.en.md
  packages/components/dl/examples.dl.ru.md
Due: yarn run cspell --files

refactor: ci
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/routes.ts
Due: none

docs(core): document the module public API on the Core page (#DS-3201)
  packages/components/core/core.en.md
  packages/components/core/core.ru.md
  tools/cspell-locales/en.json
Due: yarn run cspell --files

fix: after review and add resolve npm tag for group before publish
  packages/cli/src/release/npm/npm-client.spec.ts
  packages/cli/src/release/npm/npm-client.ts
  packages/cli/src/release/npm/resolve-publish-tag.ts
  packages/cli/src/release/publish-release-ci.ts
  packages/cli/src/release/publish-release-from-dist.ts
  packages/cli/src/release/publish-release-github-ci.ts
  packages/cli/src/release/publish-release-gitlab-ci.ts
Due: none

feat(schematics): added ng-add automated set up (#DS-4683)
  packages/schematics/src/ng-add/index.ts
  packages/schematics/src/ng-add/messages.ts
  packages/schematics/src/ng-add/ng-add.spec.ts
  packages/schematics/src/ng-add/schema.json
  packages/schematics/src/ng-add/schema.ts
  packages/schematics/src/utils/html-config.ts
  packages/schematics/src/utils/workspace-styles.ts
Due: none

fix(docs): keep focus in the icons search while typing (#DS-5459)
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.spec.ts
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.ts
  apps/docs/src/app/components/sidenav/sidenav.spec.ts
  apps/docs/src/app/components/sidenav/sidenav.ts
Due: none

fix(docs): guard the sidenav re-highlight on the URL, not on the tree model (#DS-5459)
  apps/docs/src/app/components/sidenav/sidenav.spec.ts
  apps/docs/src/app/components/sidenav/sidenav.ts
Due: none

docs(core): refine Core module documentation (#DS-3201)
  packages/components/core/core.ru.md
Due: yarn run cspell --files

fix(search-expandable): errors following a full review of the component (#1940)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/core/locales/types.ts
  packages/components/search-expandable/e2e.playwright-spec.ts
  packages/components/search-expandable/e2e.ts
  packages/components/search-expandable/search-expandable-tokens.scss
  packages/components/search-expandable/search-expandable.en.md
  packages/components/search-expandable/search-expandable.html
  packages/components/search-expandable/search-expandable.ru.md
  packages/components/search-expandable/search-expandable.scss
  packages/components/search-expandable/search-expandable.spec.ts
  packages/components/search-expandable/search-expandable.ts
  packages/schematics/src/migrations/v20-upgrade/README.md
  packages/schematics/src/migrations/v20-upgrade/data.ts
  packages/schematics/src/migrations/v20-upgrade/index.spec.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/search-expandable.api.md
Due: yarn run cspell --files

docs(core): sync generated SEO descriptions and the spell dictionary (#DS-3201)
  apps/docs/src/app/seo-descriptions.ts
  tools/cspell-locales/ru.json
Due: none

docs(core): refine Core module documentation (#DS-3201)
  packages/components/core/core.en.md
  packages/components/core/core.ru.md
Due: yarn run cspell --files

docs(core): sync generated SEO descriptions (#DS-3201)
  apps/docs/src/app/seo-descriptions.ts
Due: none

fix: linters
  packages/schematics/src/ng-add/messages.ts
Due: none

docs(dl): refine long text example (#DS-3323)
  packages/components/dl/dl.en.md
  packages/components/dl/dl.ru.md
  packages/docs-examples/components/dl/dl-long-text/dl-long-text-example.ts
Due: yarn run cspell --files

feat: prerender documentation examples in CI (#DS-5064) (#1937)
  .github/workflows/build.yml
  angular.json
  docs/guides/09-ssr-dev.md
  package.json
  packages/components-dev/index.html
  packages/components-dev/ssr/README.md
  packages/components-dev/ssr/config.server.ts
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/module.ts
  packages/components-dev/ssr/routes.ts
  packages/components-dev/ssr/server.ts
  packages/components-dev/ssr/styles.scss
  packages/components-dev/ssr/template.html
  packages/components-dev/ssr/tsconfig.app.json
Due: yarn run cspell --files, yamllint

fix(dl): wrap text (#DS-3323) (#1951)
  packages/components-dev/dl/module.ts
  packages/components/dl/__screenshots__/01-dark.png
  packages/components/dl/__screenshots__/01-light.png
  packages/components/dl/dl.en.md
  packages/components/dl/dl.ru.md
  packages/components/dl/dl.scss
  packages/docs-examples/components/dl/dl-long-text/dl-long-text-example.ts
  packages/docs-examples/components/dl/index.ts
Due: yarn run cspell --files

chore(scrollbar): added click scroll specs (#DS-4743)
  packages/components/scrollbar/scrollbar.spec.ts
Due: none

refactor(docs): review
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.spec.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/i18n.ts
Due: none

feat(docs): added fullscreen mode for examples (#DS-4019) (#1957)
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.html
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.scss
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.ts
  apps/docs/src/app/components/stackblitz/stackblitz-button.ts
  apps/docs/src/app/config.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/fullscreen.spec.ts
  apps/docs/src/app/services/fullscreen.ts
  apps/docs/src/app/services/i18n.ts
Due: none

chore: updated CODEOWNERS
  .github/CODEOWNERS
Due: none

refactor: review
  packages/components-dev/ssr/routes.ts
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(schematics): address ng-add review findings from #DS-4683
  packages/components/package.json
  packages/schematics/src/ng-add/index.ts
  packages/schematics/src/ng-add/messages.ts
  packages/schematics/src/ng-add/ng-add.spec.ts
  packages/schematics/src/utils/html-config.spec.ts
  packages/schematics/src/utils/html-config.ts
  packages/schematics/src/utils/workspace-styles.ts
Due: none

fix(docs): stop the sidenav highlight spy from calling through (#DS-5459)
  apps/docs/src/app/components/sidenav/sidenav.spec.ts
Due: none

chore: do we have a deal?
  .github/CODEOWNERS
Due: none

chore(scrollbar): added click scroll specs (#DS-4743) (#1969)
  packages/components/scrollbar/scrollbar.spec.ts
Due: none

fix(schematics): drop parse5 dependency for the index.html theme-class edit
  packages/components/package.json
  packages/schematics/src/utils/html-config.spec.ts
  packages/schematics/src/utils/html-config.ts
Due: none

test(schematics): assert the exact \$&/\$1/\$\$ cases from the html-config review
  packages/schematics/src/utils/html-config.spec.ts
Due: none

fix(docs): keep focus in the icons search while typing (#DS-5459) (#1968)
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.spec.ts
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.ts
  apps/docs/src/app/components/sidenav/sidenav.spec.ts
  apps/docs/src/app/components/sidenav/sidenav.ts
Due: none

chore: updated CODEOWNERS (#1970)
  .github/CODEOWNERS
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
