Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(top-bar): fixed overflow-items usage
  packages/components/top-bar/top-bar.scss
  packages/docs-examples/components/top-bar/top-bar-title-counter-adaptive/top-bar-title-counter-adaptive-example.ts
Due: none

chore: fixed typo
  packages/components/form-field/stepper.ts
Due: none

chore(input): renamed var in tests
  packages/components/input/input-number.spec.ts
Due: none

chore(input): renamed var in tests (#DS-3794) (#839)
  packages/components/input/input-number.spec.ts
Due: none

refactor: toggle
  packages/docs-examples/components/toggle/toggle-overview/toggle-overview-example.ts
Due: none

refactor: filter-bar
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-custom-pipe/filter-bar-custom-pipe-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search-in-pipes/filter-bar-search-in-pipes-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
Due: none

chore: updated dependabot schedule interval to monthly
  .github/dependabot.yml
Due: yamllint

refactor: rename
  packages/components/overflow-items/overflow-items.ts
Due: none

chore: added function overload
  packages/components/core/formatters/filesize/size.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

style: setup stylelint prefix validation for packages (#DS-3497)
  .stylelintrc.js
  packages/docs-examples/components/accordion/accordion-content/accordion-content-example.css
  packages/docs-examples/components/accordion/accordion-content/accordion-content-example.html
  packages/docs-examples/components/accordion/accordion-in-panel/accordion-in-panel-example.html
  packages/docs-examples/components/accordion/accordion-in-section/accordion-in-section-example.css
  packages/docs-examples/components/accordion/accordion-in-section/accordion-in-section-example.html
  packages/docs-examples/components/icon-item/icon-item-color/icon-item-color-example.css
  packages/docs-examples/components/icon-item/icon-item-color/icon-item-color-example.ts
  packages/docs-examples/components/icon-item/icon-item-default/icon-item-default-example.css
  packages/docs-examples/components/icon-item/icon-item-default/icon-item-default-example.ts
  packages/docs-examples/components/icon-item/icon-item-size/icon-item-size-example.css
  packages/docs-examples/components/icon-item/icon-item-size/icon-item-size-example.ts
  packages/docs-examples/components/icon-item/icon-item-variant/icon-item-variant-example.css
  packages/docs-examples/components/icon-item/icon-item-variant/icon-item-variant-example.ts
  packages/docs-examples/components/layout-flex/layout-flex-offsets/layout-flex-offsets-example.css
  packages/docs-examples/components/layout-flex/layout-flex-offsets/layout-flex-offsets-example.ts
  packages/docs-examples/components/layout-flex/layout-flex-order/layout-flex-order-example.css
  packages/docs-examples/components/layout-flex/layout-flex-order/layout-flex-order-example.ts
Due: none

chore: updated dependabot schedule interval to monthly (#840)
  .github/dependabot.yml
Due: yamllint

chore: after review
  packages/components/ellipsis-center/ellipsis-center.directive.ts
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

chore: after review
  packages/components/core/formatters/filesize/size.ts
Due: none

fix(docs): changed table cell vertical align (#DS-3349)
  apps/docs/src/styles/_design-tokens.scss
Due: none

chore: golden
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

style: setup stylelint prefix validation for packages (#DS-3497) (#841)
  .stylelintrc.js
  packages/docs-examples/components/accordion/accordion-content/accordion-content-example.css
  packages/docs-examples/components/accordion/accordion-content/accordion-content-example.html
  packages/docs-examples/components/accordion/accordion-in-panel/accordion-in-panel-example.html
  packages/docs-examples/components/accordion/accordion-in-section/accordion-in-section-example.css
  packages/docs-examples/components/accordion/accordion-in-section/accordion-in-section-example.html
  packages/docs-examples/components/icon-item/icon-item-color/icon-item-color-example.css
  packages/docs-examples/components/icon-item/icon-item-color/icon-item-color-example.ts
  packages/docs-examples/components/icon-item/icon-item-default/icon-item-default-example.css
  packages/docs-examples/components/icon-item/icon-item-default/icon-item-default-example.ts
  packages/docs-examples/components/icon-item/icon-item-size/icon-item-size-example.css
  packages/docs-examples/components/icon-item/icon-item-size/icon-item-size-example.ts
  packages/docs-examples/components/icon-item/icon-item-variant/icon-item-variant-example.css
  packages/docs-examples/components/icon-item/icon-item-variant/icon-item-variant-example.ts
  packages/docs-examples/components/layout-flex/layout-flex-offsets/layout-flex-offsets-example.css
  packages/docs-examples/components/layout-flex/layout-flex-offsets/layout-flex-offsets-example.ts
  packages/docs-examples/components/layout-flex/layout-flex-order/layout-flex-order-example.css
  packages/docs-examples/components/layout-flex/layout-flex-order/layout-flex-order-example.ts
Due: none

refactor: reset filter-bar spec
  packages/components/filter-bar/filter-bar.karma-spec.ts
Due: none

feat(input): make stepper always visible (#DS-3794)
  packages/components-experimental/form-field/stepper.ts
  packages/components/form-field/form-field.html
  packages/components/form-field/form-field.ts
  packages/components/form-field/stepper.ts
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

chore: added deprecation comment
  packages/components-experimental/form-field/stepper.ts
Due: none

chore: golden files
  tools/public_api_guard/components-experimental/form-field.api.md
Due: yarn run cspell --files

chore: after review
  packages/components/form-field/stepper.ts
Due: none

refactor: renamed prop
  packages/components/overflow-items/overflow-items.ts
Due: none

chore: after review
  packages/components-experimental/form-field/stepper.ts
  packages/components/form-field/form-field.ts
  packages/components/form-field/stepper.ts
Due: none

chore: golden files
  tools/public_api_guard/components-experimental/form-field.api.md
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

fix(docs): changed table cell vertical align (#DS-3349) (#849)
  apps/docs/src/styles/_design-tokens.scss
Due: none

chore: after review
  packages/components/core/formatters/filesize/size.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore: fixed jsdoc
  packages/components/core/formatters/filesize/size.ts
Due: none

feat(code-block): updated keyboard focus state according to design (#DS-3247)
  packages/components/code-block/_code-block-theme.scss
  packages/components/code-block/code-block-tokens.scss
  packages/components/code-block/code-block.html
  packages/components/code-block/code-block.scss
  packages/components/code-block/code-block.ts
Due: none

chore: after review
  packages/components/file-upload/multiple-file-upload.component.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

refactor: readonly array
  packages/components/overflow-items/overflow-items.ts
Due: none

chore: fixed initial text loading wrong calculation
  packages/components/ellipsis-center/ellipsis-center.directive.ts
Due: none

refactor: ts
  .github/dependabot.yml
  angular.json
  karma.conf.ts
  package.json
  packages/components/karma.conf.ts
  yarn.lock
Due: yamllint

chore: removed unused karma dependencies and added typecheck (#829)
  .github/dependabot.yml
  angular.json
  karma.conf.js
  karma.conf.ts
  package.json
  packages/components/karma.conf.ts
  yarn.lock
Due: yamllint

fix(file-upload): layout improvements (#DS-3714) (#825)
  packages/components-dev/file-upload/module.ts
  packages/components/ellipsis-center/ellipsis-center.directive.ts
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.html
  packages/docs-examples/components/file-upload/file-upload-multiple-default-validation-reactive-forms-overview/file-upload-multiple-default-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-error-overview/file-upload-multiple-error-overview-example.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

feat(file-upload): added file size info in single (#DS-2362)
  packages/components-dev/file-upload/module.ts
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/single-file-upload.component.html
  packages/components/file-upload/single-file-upload.component.scss
  packages/components/file-upload/single-file-upload.component.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

chore: added the same styling for multiple
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload-tokens.scss
Due: none

feat(file-upload): added file size info in single (#DS-2362) (#838)
  packages/components-dev/file-upload/module.ts
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/single-file-upload.component.html
  packages/components/file-upload/single-file-upload.component.scss
  packages/components/file-upload/single-file-upload.component.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
