Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(search-expandable): errors following a full review of the component
  packages/components/core/locales/types.ts
  packages/components/search-expandable/e2e.playwright-spec.ts
  packages/components/search-expandable/e2e.ts
  packages/components/search-expandable/search-expandable-tokens.scss
  packages/components/search-expandable/search-expandable.en.md
  packages/components/search-expandable/search-expandable.html
  packages/components/search-expandable/search-expandable.ru.md
  packages/components/search-expandable/search-expandable.scss
  packages/components/search-expandable/search-expandable.spec.ts
  packages/components/search-expandable/search-expandable.ts
  packages/schematics/src/migrations/v20-upgrade/README.md
  packages/schematics/src/migrations/v20-upgrade/data.ts
  packages/schematics/src/migrations/v20-upgrade/index.spec.ts
  tools/public_api_guard/components/search-expandable.api.md
Due: yarn run cspell --files

fix(search-expandable): address code review findings
  packages/components/search-expandable/search-expandable.html
  packages/components/search-expandable/search-expandable.spec.ts
  packages/components/search-expandable/search-expandable.ts
  packages/schematics/src/migrations/v20-upgrade/README.md
  packages/schematics/src/migrations/v20-upgrade/data.ts
  packages/schematics/src/migrations/v20-upgrade/index.spec.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/search-expandable.api.md
Due: yarn run cspell --files

fix(search-expandable): restore CRLF in the api snapshot
  tools/public_api_guard/components/search-expandable.api.md
Due: yarn run cspell --files

docs(search-expandable): document the search-expandable renames in the migration guide
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
Due: yarn run cspell --files

fix: after review
  packages/components/dropdown/dropdown-item-action.directive.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown-item.html
  packages/components/dropdown/dropdown-item.scss
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/e2e.ts
  packages/components/dropdown/public-api.ts
  packages/docs-examples/components/dropdown/dropdown-item-action/dropdown-item-action-example.ts
  packages/docs-examples/components/dropdown/dropdown-item-link/dropdown-item-link-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

feat(docs): added fullscreen mode for examples (#DS-4019)
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.html
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.scss
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.ts
  apps/docs/src/app/config.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/i18n.ts
Due: none

fix(docs): anchor nesting in the table of contents (#DS-5468) (#1954)
  apps/docs/src/app/components/anchors/anchors.component.scss
Due: none

fix: after review
  packages/components/dropdown/__screenshots__/02-dark.png
  packages/components/dropdown/__screenshots__/02-light.png
  packages/components/dropdown/dropdown-item-action.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown.module.ts
  packages/components/dropdown/e2e.playwright-spec.ts
  packages/components/dropdown/e2e.ts
  packages/components/dropdown/public-api.ts
  packages/docs-examples/components/dropdown/dropdown-item-action/dropdown-item-action-example.ts
  packages/docs-examples/components/dropdown/dropdown-item-link/dropdown-item-link-example.ts
Due: none

feat(file-upload)!: removed deprecated outputs (#DS-5229)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/template.html
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
  packages/docs-examples/components/file-upload/file-upload-indeterminate-loading-overview/file-upload-indeterminate-loading-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-with-signal/file-upload-single-with-signal-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/file-upload-deprecated-outputs/README.md
  packages/schematics/src/migrations/file-upload-deprecated-outputs/data.ts
  packages/schematics/src/migrations/file-upload-deprecated-outputs/index.spec.ts
  packages/schematics/src/migrations/file-upload-deprecated-outputs/index.ts
  packages/schematics/src/migrations/file-upload-deprecated-outputs/schema.json
  packages/schematics/src/migrations/file-upload-deprecated-outputs/schema.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

fix(schematics): keep the local Replacement type and drop the review note
  packages/schematics/src/migrations/file-upload-deprecated-outputs/README.md
  packages/schematics/src/migrations/file-upload-deprecated-outputs/data.ts
  packages/schematics/src/migrations/file-upload-deprecated-outputs/index.ts
Due: yarn run cspell --files

fix(schematics): address review comments on file-upload-deprecated-outputs migration
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/template.html
  packages/schematics/src/migrations/file-upload-deprecated-outputs/README.md
  packages/schematics/src/migrations/file-upload-deprecated-outputs/data.ts
  packages/schematics/src/migrations/file-upload-deprecated-outputs/index.spec.ts
  packages/schematics/src/migrations/file-upload-deprecated-outputs/index.ts
  packages/schematics/src/migrations/file-upload-deprecated-outputs/schema.json
Due: yarn run cspell --files

chore(dropdown): removed suffix/prefix support
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown-item.html
  packages/components/dropdown/dropdown.spec.ts
Due: none

chore(dropdown): unified docs examples
  packages/docs-examples/components/dropdown/dropdown-item-action/dropdown-item-action-example.ts
  packages/docs-examples/components/dropdown/dropdown-item-link/dropdown-item-link-example.ts
Due: none

chore(dropdown): upd golden file
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

chore(dropdown): upd formatting
  packages/components/dropdown/dropdown.spec.ts
Due: none

feat(file-upload)!: removed deprecated outputs (#DS-5229) (#1953)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/template.html
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
  packages/docs-examples/components/file-upload/file-upload-indeterminate-loading-overview/file-upload-indeterminate-loading-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-with-signal/file-upload-single-with-signal-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/file-upload-deprecated-outputs/README.md
  packages/schematics/src/migrations/file-upload-deprecated-outputs/data.ts
  packages/schematics/src/migrations/file-upload-deprecated-outputs/index.spec.ts
  packages/schematics/src/migrations/file-upload-deprecated-outputs/index.ts
  packages/schematics/src/migrations/file-upload-deprecated-outputs/schema.json
  packages/schematics/src/migrations/file-upload-deprecated-outputs/schema.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

chore(dropdown): after review
  packages/docs-examples/components/dropdown/dropdown-item-action/dropdown-item-action-example.ts
Due: none

feat(cli): expose @koobiq/cli release helpers (#DS-5212)
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/scripts/copy-meta-to-dist.js
  packages/cli/src/release/extract-release-notes.spec.ts
  packages/cli/src/release/extract-release-notes.ts
  packages/cli/src/release/index.ts
  packages/cli/tsconfig.release.json
Due: yarn run cspell --files

feat(dropdown): added secondary action (#DS-3869) (#1952)
  packages/components-dev/dropdown/module.ts
  packages/components/dropdown/__screenshots__/02-dark.png
  packages/components/dropdown/__screenshots__/02-light.png
  packages/components/dropdown/dropdown-item-action.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown-item.html
  packages/components/dropdown/dropdown-item.scss
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.module.ts
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/e2e.playwright-spec.ts
  packages/components/dropdown/e2e.ts
  packages/components/dropdown/public-api.ts
  packages/docs-examples/components/dropdown/dropdown-item-action/dropdown-item-action-example.ts
  packages/docs-examples/components/dropdown/dropdown-item-link/dropdown-item-link-example.ts
  packages/docs-examples/components/dropdown/index.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

fix(datepicker): min/max validation for keyboard input (#DS-3055) (#1955)
  packages/components-dev/datepicker/module.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker.en.md
  packages/components/datepicker/datepicker.ru.md
  packages/components/datepicker/datepicker.spec.ts
  packages/docs-examples/components/datepicker/datepicker-minimax/datepicker-minimax-example.ts
Due: yarn run cspell --files

fix(datepicker,timepicker): keep the edited part of the value in view (#DS-3069)
  packages/components/core/form-field/index.ts
  packages/components/core/form-field/text-field-selection.spec.ts
  packages/components/core/form-field/text-field-selection.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/datepicker/e2e.playwright-spec.ts
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timepicker/timepicker.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(core,datepicker,timepicker): scroll the field only while it is being edited (#DS-3069)
  packages/components/core/form-field/field-sizing-content.ts
  packages/components/core/form-field/text-field-selection.spec.ts
  packages/components/core/form-field/text-field-selection.ts
  packages/components/core/form-field/text-ruler.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/datepicker/e2e.playwright-spec.ts
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timepicker/timepicker.spec.ts
Due: none

fix(datepicker,timepicker): keep the edited part of the value in view (#DS-3069) (#1956)
  packages/components/core/form-field/field-sizing-content.ts
  packages/components/core/form-field/index.ts
  packages/components/core/form-field/text-field-selection.spec.ts
  packages/components/core/form-field/text-field-selection.ts
  packages/components/core/form-field/text-ruler.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/datepicker/e2e.playwright-spec.ts
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timepicker/timepicker.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: after review
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/scripts/copy-meta-to-dist.js
  packages/cli/src/release/extract-release-notes.spec.ts
  packages/cli/src/release/extract-release-notes.ts
  packages/cli/src/release/index.ts
  packages/cli/tsconfig.release.json
Due: yarn run cspell --files

feat(cli): expose @koobiq/cli release helpers (#DS-5212) (#1958)
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/scripts/copy-meta-to-dist.js
  packages/cli/src/release/extract-release-notes.spec.ts
  packages/cli/src/release/extract-release-notes.ts
  packages/cli/src/release/index.ts
  packages/cli/tsconfig.release.json
Due: yarn run cspell --files

feat(cli): add dist tag policy resolution on publish (#DS-4781)
  .github/workflows/publish.yml
  packages/cli/src/cli.ts
  packages/cli/src/release/base-release-task.ts
  packages/cli/src/release/npm/npm-client.ts
  packages/cli/src/release/npm/resolve-publish-tag.spec.ts
  packages/cli/src/release/npm/resolve-publish-tag.ts
  packages/cli/src/release/publish-release-ci.ts
  packages/cli/src/release/publish-release-from-dist.ts
  packages/cli/src/release/publish-release-github-ci.ts
  packages/cli/src/release/publish-release-gitlab-ci.ts
  packages/cli/src/release/resolve-npm-tag.ts
Due: yamllint

refactor: review
  apps/docs/src/app/structure.ts
  packages/components/dl/__screenshots__/01-dark.png
  packages/components/dl/__screenshots__/01-light.png
  packages/components/dl/dl.en.md
  packages/components/dl/dl.ru.md
  packages/components/dl/dl.scss
  packages/components/dl/e2e.playwright-spec.ts
  packages/components/dl/e2e.ts
  packages/components/dl/examples.dl.en.md
  packages/components/dl/examples.dl.ru.md
  packages/docs-examples/components/dl/dl-long-text/dl-long-text-example.ts
  packages/e2e/routes.ts
Due: yarn run cspell --files

docs(actions-panel): update extra counter example (#DS-5087)
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/autocomplete/__screenshots__/01-light.png
  packages/components/content-panel/__screenshots__/01-light.png
  packages/components/inline-edit/__screenshots__/06-light.png
  packages/components/select/__screenshots__/02-light.png
  packages/components/sidepanel/__screenshots__/01-light.png
  packages/components/sidepanel/__screenshots__/02-light.png
  packages/components/sidepanel/__screenshots__/03-light.png
  packages/components/sidepanel/__screenshots__/04-dark.png
  packages/components/sidepanel/__screenshots__/04-light.png
  packages/components/timezone/__screenshots__/02-light.png
Due: none

refactor: review
  packages/components/scrollbar/e2e.playwright-spec.ts
  packages/components/scrollbar/e2e.ts
  packages/components/scrollbar/scrollbar-viewport.scss
  packages/components/scrollbar/scrollbar.en.md
  packages/components/scrollbar/scrollbar.ru.md
  packages/components/scrollbar/scrollbar.ts
  packages/docs-examples/components/scrollbar/scrollbar-overview/scrollbar-overview-example.ts
  tools/public_api_guard/components/scrollbar.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/autocomplete/__screenshots__/01-dark.png
  packages/components/content-panel/__screenshots__/01-dark.png
  packages/components/inline-edit/__screenshots__/06-dark.png
  packages/components/select/__screenshots__/02-dark.png
Due: none

refactor: review
  packages/components/scrollbar/scrollbar.ts
  tools/public_api_guard/components/scrollbar.api.md
Due: yarn run cspell --files

refactor: modal
  packages/components/modal/modal.scss
  packages/components/scrollbar/scrollbar.ts
Due: none

docs(scrollbar): refine English article (#DS-3584)
  packages/components/scrollbar/scrollbar.en.md
Due: yarn run cspell --files

docs(scrollbar): refine Russian article (#DS-3584)
  packages/components/scrollbar/scrollbar.ru.md
Due: yarn run cspell --files

refactor: ci
  apps/docs/src/app/seo-descriptions.ts
  packages/components/core/public-api.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/docs-examples/example-module.ts
  tools/check-public-api-any/baseline.json
Due: none

refactor: z-index
  packages/components/notification-center/notification-center.scss
  packages/components/scrollbar/e2e.playwright-spec.ts
  packages/components/scrollbar/e2e.ts
  packages/components/scrollbar/scrollbar-tokens.scss
  packages/components/scrollbar/scrollbar-track.scss
  packages/components/scrollbar/scrollbar-viewport.scss
  packages/e2e/routes.ts
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
