Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

feat(docs): group the API tab by kind, link types and headings, and list the fields of object literal types (#DS-3068)
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/anchors/anchors.component.html
  apps/docs/src/app/components/anchors/anchors.component.spec.ts
  apps/docs/src/app/components/anchors/anchors.component.ts
  apps/docs/src/app/components/api-page/api-page.html
  apps/docs/src/app/components/api-page/api-page.spec.ts
  apps/docs/src/app/components/api-page/api-page.ts
  apps/docs/src/app/components/api-page/api-page.types.ts
  apps/docs/src/app/components/component-viewer/component-viewer-wrapper.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/constants/api-page.ts
  apps/docs/src/app/services/i18n.ts
  apps/docs/src/app/services/page-resolver.spec.ts
  tools/api-gen/extraction/helpers.spec.ts
  tools/api-gen/extraction/helpers.ts
  tools/api-gen/manifest/helpers.ts
  tools/api-gen/manifest/index.ts
  tools/api-gen/manifest/manifest.spec.ts
  tools/api-gen/rendering/entities.ts
  tools/api-gen/rendering/entry-point.spec.ts
  tools/api-gen/rendering/entry-point.ts
  tools/api-gen/rendering/index.ts
  tools/api-gen/rendering/signature.spec.ts
  tools/api-gen/rendering/signature.ts
  tools/api-gen/types/types.ts
  tools/check-api-docs/baseline.json
  tools/check-api-docs/index.ts
  tools/generate-llms-txt.ts
Due: none

feat(skeleton): take the shape of any host element and add examples for common components (#DS-4668)
  packages/components-dev/skeleton/module.ts
  packages/components/skeleton/e2e.playwright-spec.ts
  packages/components/skeleton/e2e.ts
  packages/components/skeleton/skeleton-tokens.scss
  packages/components/skeleton/skeleton.en.mdx
  packages/components/skeleton/skeleton.ru.mdx
  packages/components/skeleton/skeleton.scss
  packages/components/skeleton/skeleton.spec.ts
  packages/components/skeleton/skeleton.ts
  packages/docs-examples/components/skeleton/index.ts
  packages/docs-examples/components/skeleton/skeleton-alert/skeleton-alert-example.ts
  packages/docs-examples/components/skeleton/skeleton-badge/skeleton-badge-example.ts
  packages/docs-examples/components/skeleton/skeleton-button/skeleton-button-example.ts
  packages/docs-examples/components/skeleton/skeleton-directive/skeleton-directive-example.ts
  packages/docs-examples/components/skeleton/skeleton-dl/skeleton-dl-example.ts
  packages/docs-examples/components/skeleton/skeleton-in-sidepanel/skeleton-in-sidepanel-example.ts
  packages/docs-examples/components/skeleton/skeleton-list/skeleton-list-example.ts
  packages/docs-examples/components/skeleton/skeleton-overview/skeleton-overview-example.ts
  packages/docs-examples/components/skeleton/skeleton-table/skeleton-table-example.ts
  packages/docs-examples/components/skeleton/skeleton-tag/skeleton-tag-example.ts
  packages/docs-examples/components/skeleton/skeleton-tree/skeleton-tree-example.ts
  packages/docs-examples/components/skeleton/skeleton-typography/skeleton-typography-example.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/skeleton.api.md
Due: yarn run cspell --files

refactor: ci
  tools/check-api-docs/baseline.json
Due: none

fix(divider)!: move the inputs to signals and render separator semantics (#DS-5482) (#2079)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/app-switcher/app-switcher.html
  packages/components/divider/divider.component.ts
  packages/components/divider/divider.en.mdx
  packages/components/divider/divider.ru.mdx
  packages/components/divider/divider.spec.ts
  packages/docs-examples/components/divider/divider-vertical/divider-vertical-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/divider-signals-and-aria/README.md
  packages/schematics/src/migrations/divider-signals-and-aria/data.ts
  packages/schematics/src/migrations/divider-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/divider-signals-and-aria/index.ts
  packages/schematics/src/migrations/divider-signals-and-aria/schema.json
  packages/schematics/src/migrations/divider-signals-and-aria/schema.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/divider.api.md
Due: yarn run cspell --files

fix(flag)!: errors following a full review of the component (#DS-5482)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components-dev/flag/module.ts
  packages/components/flag/e2e.ts
  packages/components/flag/flag-tokens.scss
  packages/components/flag/flag.en.mdx
  packages/components/flag/flag.ru.mdx
  packages/components/flag/flag.scss
  packages/components/flag/flag.spec.ts
  packages/components/flag/flag.ts
  packages/components/flag/module.ts
  packages/docs-examples/components/flag/flag-aspect-ratio/flag-aspect-ratio-example.ts
  packages/docs-examples/components/flag/flag-circle/flag-circle-example.ts
  packages/docs-examples/components/flag/flag-custom-ratio/flag-custom-ratio-example.ts
  packages/docs-examples/components/flag/flag-overview/flag-overview-example.ts
  packages/docs-examples/components/flag/flag-sizes/flag-sizes-example.ts
  packages/docs-examples/components/flag/flag-square/flag-square-example.ts
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.ts
  packages/docs-examples/components/flag/index.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/flag-inner-html/README.md
  packages/schematics/src/migrations/flag-inner-html/data.ts
  packages/schematics/src/migrations/flag-inner-html/index.spec.ts
  packages/schematics/src/migrations/flag-inner-html/index.ts
  packages/schematics/src/migrations/flag-inner-html/schema.json
  packages/schematics/src/migrations/flag-inner-html/schema.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/flag.api.md
Due: yarn run cspell --files

fix(flag): address code review findings
  packages/schematics/src/migrations/flag-inner-html/data.ts
  packages/schematics/src/migrations/flag-inner-html/index.spec.ts
Due: none

docs(flag): re-check the Russian pages against the style guide
  docs/guides/migration.ru.mdx
  packages/components/flag/flag.ru.mdx
Due: none

docs(flag): align the Russian pages with the style guide
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/flag/flag.en.mdx
  packages/components/flag/flag.ru.mdx
Due: none

fix(flag): migration tag matching, axe coverage and fresh e2e baselines
  packages/components/flag/__screenshots__/01-dark.png
  packages/components/flag/__screenshots__/01-light.png
  packages/components/flag/flag.spec.ts
  packages/schematics/src/migrations/flag-inner-html/README.md
  packages/schematics/src/migrations/flag-inner-html/data.ts
  packages/schematics/src/migrations/flag-inner-html/index.spec.ts
Due: yarn run cspell --files

feat(flag): set the aspect ratio through an input (#2089)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/flag/__screenshots__/01-dark.png
  packages/components/flag/__screenshots__/01-light.png
  packages/components/flag/e2e.ts
  packages/components/flag/flag.en.mdx
  packages/components/flag/flag.ru.mdx
  packages/components/flag/flag.spec.ts
  packages/components/flag/flag.ts
  packages/docs-examples/components/flag/flag-custom-ratio/flag-custom-ratio-example.ts
  tools/public_api_guard/components/flag.api.md
Due: yarn run cspell --files

docs(flag): drop the false @default from aspectRatio
  packages/components/flag/flag.ts
Due: none

fix(sidepanel): closeAll() leaving stacked panels open (#DS-5632) (#2101)
  packages/components/sidepanel/sidepanel.service.ts
  packages/components/sidepanel/sidepanel.spec.ts
Due: none

fix(flag)!: errors following a full review of the component (#DS-5531) (#2089)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components-dev/flag/module.ts
  packages/components/flag/__screenshots__/01-dark.png
  packages/components/flag/__screenshots__/01-light.png
  packages/components/flag/e2e.ts
  packages/components/flag/flag-tokens.scss
  packages/components/flag/flag.en.mdx
  packages/components/flag/flag.ru.mdx
  packages/components/flag/flag.scss
  packages/components/flag/flag.spec.ts
  packages/components/flag/flag.ts
  packages/components/flag/module.ts
  packages/docs-examples/components/flag/flag-aspect-ratio/flag-aspect-ratio-example.ts
  packages/docs-examples/components/flag/flag-circle/flag-circle-example.ts
  packages/docs-examples/components/flag/flag-custom-ratio/flag-custom-ratio-example.ts
  packages/docs-examples/components/flag/flag-overview/flag-overview-example.ts
  packages/docs-examples/components/flag/flag-sizes/flag-sizes-example.ts
  packages/docs-examples/components/flag/flag-square/flag-square-example.ts
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.ts
  packages/docs-examples/components/flag/index.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/flag-inner-html/README.md
  packages/schematics/src/migrations/flag-inner-html/data.ts
  packages/schematics/src/migrations/flag-inner-html/index.spec.ts
  packages/schematics/src/migrations/flag-inner-html/index.ts
  packages/schematics/src/migrations/flag-inner-html/schema.json
  packages/schematics/src/migrations/flag-inner-html/schema.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/flag.api.md
Due: yarn run cspell --files

fix(typography): load JetBrains Mono 600 used by the mono-normal-medium level (#2104)
  apps/docs/src/assets/stackblitz/src/index.html
  apps/docs/src/styles/_fonts.scss
  packages/components-dev/icon-adopted-stylesheets/global.scss
  packages/components-dev/main.scss
  packages/components/core/styles/typography/typography.en.mdx
  packages/components/core/styles/typography/typography.ru.mdx
  packages/components/markdown/__screenshots__/01-dark.png
  packages/components/markdown/__screenshots__/01-light.png
  packages/e2e/main.scss
Due: none

feat(docs): list the fields of wrapped and intersected literal types, wrap long types, copy links in place (#DS-3068)
  apps/docs/src/app/components/api-page/api-page.html
  apps/docs/src/app/components/api-page/api-page.spec.ts
  apps/docs/src/app/components/api-page/api-page.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  tools/api-gen/extraction/helpers.spec.ts
  tools/api-gen/extraction/helpers.ts
  tools/api-gen/rendering/entities.ts
  tools/api-gen/rendering/entry-point.spec.ts
  tools/api-gen/rendering/signature.spec.ts
  tools/api-gen/rendering/signature.ts
  tools/api-gen/types/types.ts
  tools/check-api-docs/baseline.json
Due: none

test: updated e2e snapshots
  packages/components/core/styles/typography/__screenshots__/01-light.png
Due: none

docs(username): align the Russian pages with the style guide
  apps/docs/src/app/seo-descriptions.ts
  docs/guides/migration.ru.mdx
  packages/components/username/username.ru.mdx
Due: none

fix(username): address code review findings
  packages/components/username/__screenshots__/01-dark.png
  packages/components/username/__screenshots__/01-light.png
  packages/components/username/e2e.ts
  packages/components/username/username.en.mdx
  packages/components/username/username.pipe.ts
  packages/components/username/username.ru.mdx
  packages/components/username/username.spec.ts
  packages/components/username/username.ts
  packages/schematics/src/migrations/username-pipe-injection/README.md
Due: yarn run cspell --files

fix(username)!: errors following a full review of the component
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/username/__snapshots__/username.spec.ts.snap
  packages/components/username/_username-theme.scss
  packages/components/username/constants.ts
  packages/components/username/e2e.ts
  packages/components/username/index.ts
  packages/components/username/module.ts
  packages/components/username/public-api.ts
  packages/components/username/types.ts
  packages/components/username/username.en.mdx
  packages/components/username/username.html
  packages/components/username/username.pipe.ts
  packages/components/username/username.ru.mdx
  packages/components/username/username.scss
  packages/components/username/username.spec.ts
  packages/components/username/username.ts
  packages/docs-examples/components/username/username-custom/username-custom-example.ts
  packages/docs-examples/components/username/username-filter-bar-option/username-filter-bar-option-example.ts
  packages/docs-examples/components/username/username-search/username-search-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/username-pipe-injection/README.md
  packages/schematics/src/migrations/username-pipe-injection/data.ts
  packages/schematics/src/migrations/username-pipe-injection/index.spec.ts
  packages/schematics/src/migrations/username-pipe-injection/index.ts
  packages/schematics/src/migrations/username-pipe-injection/schema.json
  packages/schematics/src/migrations/username-pipe-injection/schema.ts
  tools/check-public-api-any/baseline.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/username.api.md
Due: yarn run cspell --files

test(docs): name the drifted page when a SEO description goes stale
  tools/docs-pages/generate-seo-descriptions.spec.ts
Due: none

docs(core): describe the username locale section
  packages/components/core/locales/types.ts
  tools/check-api-docs/baseline.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

test(form-field): disable partial raster for the autofill screenshots
  docs/e2e-flakiness.md
  packages/components/form-field/e2e.playwright-spec.ts
Due: yarn run cspell --files

docs: fit the agent best practices to this repo and drop outdated rules
  AGENTS.md
Due: yarn run cspell --files

docs(button): describe the actual styles, colors, content slots and progress state in the overview
  apps/docs/src/app/seo-descriptions.ts
  apps/docs/src/assets/images/Basic_buttons.png
  packages/components/button/button.en.mdx
  packages/components/button/button.ru.mdx
Due: none

fix(button-toggle): extend the item hover zone over the group's gap and padding (#DS-4164) (#1892)
  packages/components/button-toggle/button-toggle-tokens.scss
  packages/components/button-toggle/button-toggle.scss
  packages/components/button-toggle/e2e.playwright-spec.ts
  packages/components/core/styles/common/_select.scss
  packages/components/navbar/_navbar-item_horizontal.scss
Due: none

fix(e2e): eliminate flaky screenshot tests (#DS-5461) (#1972)
  .github/workflows/e2e.yml
  .github/workflows/linters.yml
  docs/guides/06-testing.md
  package.json
  packages/components/actions-panel/e2e.playwright-spec.ts
  packages/components/code-block/e2e.playwright-spec.ts
  packages/components/code-block/e2e.ts
  packages/components/dropdown/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/components/form-field/e2e.playwright-spec.ts
  packages/components/progress-bar/e2e.playwright-spec.ts
  packages/components/progress-spinner/e2e.playwright-spec.ts
  playwright.config.ts
  tools/e2e/Dockerfile
  tools/e2e/docker-compose.yml
  tools/e2e/run.js
Due: yarn run cspell --files, yamllint

fix(alert): errors following a full review of the component (#2015)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/alert/alert.component.spec.ts
  packages/components/alert/alert.component.ts
  packages/components/alert/alert.en.md
  packages/components/alert/alert.ru.md
  packages/docs-examples/components/alert/alert-status/alert-status-example.html
  packages/docs-examples/components/alert/alert-status/alert-status-example.ts
Due: yarn run cspell --files

fix: prerender every documentation example under SSR (#DS-5467) (#2009)
  packages/components-dev/ssr/routes.ts
  packages/components/accordion/accordion-content.directive.ts
  packages/components/accordion/accordion-trigger.ts
  packages/components/core/option/option.ts
  packages/components/core/utils/dom.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/list/list-selection.component.ts
  packages/components/select/select.component.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.ts
  packages/docs-examples/components/checkbox/checkbox-indeterminate/checkbox-indeterminate-example.ts
Due: none

fix(select): footer action as a drop-down menu row (#DS-2761) (#2010)
  packages/components/core/select/common.ts
  packages/components/core/styles/common/_select.scss
  packages/components/select/__screenshots__/08-dark.png
  packages/components/select/__screenshots__/08-light.png
  packages/components/select/__screenshots__/09-dark.png
  packages/components/select/__screenshots__/09-light.png
  packages/components/select/_select-theme.scss
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/e2e.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.module.ts
  packages/components/select/select.ru.md
  packages/components/select/select.scss
  packages/docs-examples/components/select/select-footer/select-footer-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
Due: yarn run cspell --files

fix(filter-bar): stale open request reopens a pipe after the filter is recreated (#DS-5517) (#2017)
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipe-add.spec.ts
  packages/components/filter-bar/pipe-add.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-input.spec.ts
Due: none

docs(components): align the en and ru pages that diverged in sections and examples
  apps/docs/src/app/seo-descriptions.ts
  docs/guides/versioning.en.mdx
  packages/components/core/formatters/date/date-formatter.en.mdx
  packages/components/core/validation/examples.validation.en.mdx
  packages/components/core/validation/examples.validation.ru.mdx
  packages/components/file-upload/examples.file-upload.en.mdx
  packages/components/file-upload/file-upload.en.mdx
  packages/components/file-upload/file-upload.ru.mdx
  packages/components/popover/popover.en.mdx
  packages/components/popover/popover.ru.mdx
  packages/components/progress-bar/progress-bar.en.mdx
  packages/components/progress-spinner/progress-spinner.en.mdx
  packages/components/select/select.en.mdx
  packages/components/toast/examples.toast.en.mdx
  packages/components/tree-select/examples.tree-select.en.mdx
  packages/components/tree-select/examples.tree-select.ru.mdx
Due: none

refactor: review
  docs/guides/versioning.en.mdx
  packages/components/popover/popover.en.mdx
  packages/components/popover/popover.ru.mdx
  packages/components/select/select.ru.mdx
  packages/components/tree-select/examples.tree-select.en.mdx
  packages/components/tree-select/examples.tree-select.ru.mdx
Due: none

fix(modal): add modal caption as directive (#DS-5519) (#2008)
  packages/components-dev/modal/module.ts
  packages/components/modal/__screenshots__/04-dark.png
  packages/components/modal/__screenshots__/04-light.png
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/components/modal/modal.directive.ts
  packages/components/modal/modal.en.md
  packages/components/modal/modal.module.ts
  packages/components/modal/modal.ru.md
  packages/components/modal/modal.spec.ts
  packages/docs-examples/components/modal/modal-full-custom/modal-full-custom-example.ts
Due: yarn run cspell --files

chore(docs): guard the generated design tokens data against drift
  .github/workflows/linters.yml
  AGENTS.md
  package.json
  tools/tokens/docs/README.md
  tools/tokens/docs/check.js
  tools/tokens/docs/config.js
  tools/tokens/docs/sdConfig.js
Due: yarn run cspell --files, yamllint

fix(file-upload,ellipsis-center): proper file item overflow (#DS-5271) (#2007)
  packages/components-dev/file-upload/module.ts
  packages/components/ellipsis-center/ellipsis-center.directive.spec.ts
  packages/components/ellipsis-center/ellipsis-center.directive.ts
  packages/components/file-upload/__screenshots__/05-light.png
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/components/file-upload/file-upload.scss
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/single-file-upload.component.scss
  packages/docs-examples/components/breadcrumbs/breadcrumbs-truncate-center-items/breadcrumbs-truncate-center-items-example.ts
  tools/public_api_guard/components/ellipsis-center.api.md
Due: yarn run cspell --files

feat(filter-bar,tree-select): "no options" message in the dropdown of pipes without values (#DS-5581)
  packages/components-dev/filter-bar/module.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/filter-bar/e2e.playwright-spec.ts
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/filter-bar.en.mdx
  packages/components/filter-bar/filter-bar.ru.mdx
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/filter-bar/pipes/pipe-no-options.spec-helper.ts
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-tree-select.html
  packages/components/filter-bar/pipes/pipe-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-tree-select.ts
  packages/components/filter-bar/pipes/tree-select-pipe-base.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  packages/components/tree-select/tree-select.module.ts
  packages/docs-examples/components/filter-bar/filter-bar-no-options-text/filter-bar-no-options-text-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-no-options/filter-bar-no-options-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(filter-bar): keep a short pipe name from collapsing, cap the whole pipe at its max-width token (#DS-5588) (#2073)
  packages/components/filter-bar/e2e.playwright-spec.ts
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/filter-bar-tokens.scss
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-input.scss
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/filter-bar/pipes/pipe-readonly.ts
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-text.html
  packages/components/filter-bar/pipes/pipe-text.ts
  packages/components/filter-bar/pipes/pipe-tree-select.html
  packages/components/filter-bar/pipes/pipe-tree-select.ts
  packages/components/title/title.directive.spec.ts
  packages/components/title/title.directive.ts
  packages/docs-examples/components/filter-bar/filter-bar-custom-pipe/filter-bar-custom-pipe-example.ts
  packages/e2e/routes.ts
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
