Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix: address review findings on npm dist-tag policy (#DS-4781)
  .github/workflows/publish.yml
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/release/base-release-task.ts
  packages/cli/src/release/npm/npm-client.spec.ts
  packages/cli/src/release/npm/npm-client.ts
  packages/cli/src/release/npm/resolve-npm-dist-tag.spec.ts
  packages/cli/src/release/npm/resolve-npm-dist-tag.ts
  packages/cli/src/release/npm/resolve-publish-tag.spec.ts
  packages/cli/src/release/npm/resolve-publish-tag.ts
  packages/cli/src/release/publish-release-ci.ts
  packages/cli/src/release/publish-release-from-dist.ts
  packages/cli/src/release/publish-release-github-ci.ts
  packages/cli/src/release/publish-release-gitlab-ci.ts
  packages/cli/src/release/resolve-npm-tag.ts
Due: yamllint

chore: remove dead npm-dist-tag prompt (#DS-4781)
  packages/cli/src/release/prompt/npm-dist-tag-prompt.ts
Due: none

docs(core): document the module public API on the Core page (#DS-3201) (#1966)
  apps/docs/src/app/seo-descriptions.ts
  packages/components/core/core.en.md
  packages/components/core/core.ru.md
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

fix(split-button): errors following a full review of the component
  packages/components/split-button/_split-button-theme.scss
  packages/components/split-button/e2e.playwright-spec.ts
  packages/components/split-button/e2e.ts
  packages/components/split-button/split-button.en.md
  packages/components/split-button/split-button.ru.md
  packages/components/split-button/split-button.spec.ts
  packages/components/split-button/split-button.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/split-button.api.md
Due: yarn run cspell --files

fix(split-button): address code review findings
  packages/components/split-button/e2e.ts
  packages/components/split-button/split-button.spec.ts
  packages/components/split-button/split-button.ts
  tools/public_api_guard/components/split-button.api.md
Due: yarn run cspell --files

fix(split-button): add the ng-update migration for the review
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/split-button-optional-disabled/README.md
  packages/schematics/src/migrations/split-button-optional-disabled/data.ts
  packages/schematics/src/migrations/split-button-optional-disabled/index.spec.ts
  packages/schematics/src/migrations/split-button-optional-disabled/index.ts
  packages/schematics/src/migrations/split-button-optional-disabled/schema.json
  packages/schematics/src/migrations/split-button-optional-disabled/schema.ts
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/split-button/__screenshots__/01-dark.png
  packages/components/split-button/__screenshots__/02-dark.png
  packages/components/split-button/__screenshots__/05-dark.png
  packages/components/split-button/__screenshots__/05-light.png
Due: none

docs(split-button): document the split-button review in the migration guide
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
Due: yarn run cspell --files

fix(split-button): errors following a full review of the component (#1939)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/split-button/__screenshots__/01-dark.png
  packages/components/split-button/__screenshots__/02-dark.png
  packages/components/split-button/__screenshots__/05-dark.png
  packages/components/split-button/__screenshots__/05-light.png
  packages/components/split-button/_split-button-theme.scss
  packages/components/split-button/e2e.playwright-spec.ts
  packages/components/split-button/e2e.ts
  packages/components/split-button/split-button.en.md
  packages/components/split-button/split-button.ru.md
  packages/components/split-button/split-button.spec.ts
  packages/components/split-button/split-button.ts
  packages/e2e/routes.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/split-button-optional-disabled/README.md
  packages/schematics/src/migrations/split-button-optional-disabled/data.ts
  packages/schematics/src/migrations/split-button-optional-disabled/index.spec.ts
  packages/schematics/src/migrations/split-button-optional-disabled/index.ts
  packages/schematics/src/migrations/split-button-optional-disabled/schema.json
  packages/schematics/src/migrations/split-button-optional-disabled/schema.ts
  tools/public_api_guard/components/split-button.api.md
Due: yarn run cspell --files

fix(e2e): eliminate flaky screenshot tests (#DS-5461)
  docs/e2e-flakiness.md
  docs/guides/06-testing.md
  packages/components/actions-panel/e2e.playwright-spec.ts
  packages/components/code-block/e2e.playwright-spec.ts
  packages/components/code-block/e2e.ts
  packages/components/content-panel/__screenshots__/01-dark.png
  packages/components/content-panel/__screenshots__/01-light.png
  packages/components/content-panel/e2e.playwright-spec.ts
  packages/components/dropdown/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/components/form-field/e2e.playwright-spec.ts
  packages/components/notification-center/e2e.playwright-spec.ts
  packages/components/popover/__screenshots__/01-light.png
  packages/components/popover/e2e.playwright-spec.ts
  packages/components/progress-bar/e2e.playwright-spec.ts
  packages/components/progress-spinner/e2e.playwright-spec.ts
  packages/components/sidepanel/e2e.playwright-spec.ts
  packages/e2e/utils/scrollbar.ts
  playwright.config.ts
  tools/e2e/docker-compose.yml
  tools/e2e/run.js
Due: yarn run cspell --files, yamllint

fix(popover): errors following a full review of the component
  apps/docs/src/app/components/popover-example/popover-example.component.ts
  packages/components-dev/popover/template.html
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/index.ts
  packages/components/core/locales/popover-confirm.spec.ts
  packages/components/core/locales/popover-confirm.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/popover/e2e.playwright-spec.ts
  packages/components/popover/e2e.ts
  packages/components/popover/popover-animations.ts
  packages/components/popover/popover-confirm.component.html
  packages/components/popover/popover-confirm.component.ts
  packages/components/popover/popover.component.html
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.en.md
  packages/components/popover/popover.module.ts
  packages/components/popover/popover.ru.md
  packages/components/popover/popover.scss
  packages/components/popover/popover.spec.ts
  packages/docs-examples/components/list/list-intermediate-state/list-intermediate-state-example.html
  packages/docs-examples/components/popover/popover-close/popover-close-example.html
  packages/docs-examples/components/popover/popover-content/popover-content-example.html
  packages/docs-examples/components/popover/popover-header/popover-header-example.html
  packages/docs-examples/components/popover/popover-paddings/popover-paddings-example.html
  packages/docs-examples/components/popover/popover-scroll/popover-scroll-example.ts
  packages/docs-examples/components/popover/popover-width/popover-width-example.html
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

fix(popover): address code review findings
  packages/components/core/locales/popover-confirm.spec.ts
  packages/components/core/locales/popover-confirm.ts
  packages/components/popover/popover.component.html
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.en.md
  packages/components/popover/popover.ru.md
  packages/components/popover/popover.scss
  packages/components/popover/popover.spec.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

fix(popover): add the ng-update migration for the review
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/popover-leave-delay/README.md
  packages/schematics/src/migrations/popover-leave-delay/data.ts
  packages/schematics/src/migrations/popover-leave-delay/index.spec.ts
  packages/schematics/src/migrations/popover-leave-delay/index.ts
  packages/schematics/src/migrations/popover-leave-delay/schema.json
  packages/schematics/src/migrations/popover-leave-delay/schema.ts
Due: yarn run cspell --files

docs(popover): document the popover review in the migration guide
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
Due: yarn run cspell --files

chore(popover): refresh the api snapshot after the rebase
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

feat: added full review
  docs/review/REVIEW.RU.md
  docs/review/REVIEW.md
Due: yarn run cspell --files

docs(actions-panel): update extra counter example (#DS-5087) (#1965)
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
Due: yarn run cspell --files

chore(time-range): add missing specs for value correction (#DS-5239)
  packages/components/time-range/time-range.spec.ts
Due: none

feat(tabs): scroll in paginated tabs (#DS-4259)
  packages/components/tabs/_tabs-common.scss
  packages/components/tabs/paginated-tab-header.ts
  packages/components/tabs/tab-header.html
  packages/components/tabs/tab-header.scss
  packages/components/tabs/tab-header.spec.ts
  packages/components/tabs/tab-nav-bar.html
  packages/components/tabs/tab-nav-bar.scss
  packages/components/tabs/tab-nav-bar.spec.ts
  packages/components/tabs/tabs.en.md
  packages/components/tabs/tabs.ru.md
Due: yarn run cspell --files

fix(e2e): make the new gates prove what they claim (#DS-5461)
  .github/workflows/e2e.yml
  .github/workflows/linters.yml
  docs/e2e-flakiness.md
  docs/guides/06-testing.md
  package.json
  packages/components/code-block/e2e.playwright-spec.ts
  packages/components/content-panel/e2e.playwright-spec.ts
  packages/components/dropdown/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/components/form-field/e2e.playwright-spec.ts
  packages/components/notification-center/e2e.playwright-spec.ts
  packages/components/popover/e2e.playwright-spec.ts
  packages/components/sidepanel/e2e.playwright-spec.ts
  packages/e2e/utils/scrollbar.ts
  tools/e2e/Dockerfile
  tools/e2e/run.js
Due: yarn run cspell --files, yamllint

refactor: review
  docs/guides/theming.en.md
  docs/guides/theming.ru.md
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
Due: yarn run cspell --files

refactor: review
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  packages/components/core/tokens/window.spec.ts
Due: none

fix(core): theme service SSR support (#DS-5470) (#1950)
  docs/guides/theming.en.md
  docs/guides/theming.ru.md
  packages/components-dev/ssr/routes.ts
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  packages/components/core/tokens/window.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: add timeout for npm view check
  packages/cli/src/release/npm/npm-client.spec.ts
  packages/cli/src/release/npm/npm-client.ts
Due: none

fix(e2e): eliminate flaky screenshot tests (#DS-5461) (#1972)
  .github/workflows/e2e.yml
  .github/workflows/linters.yml
  docs/e2e-flakiness.md
  docs/guides/06-testing.md
  package.json
  packages/components/actions-panel/e2e.playwright-spec.ts
  packages/components/code-block/e2e.playwright-spec.ts
  packages/components/code-block/e2e.ts
  packages/components/content-panel/__screenshots__/01-dark.png
  packages/components/content-panel/__screenshots__/01-light.png
  packages/components/content-panel/e2e.playwright-spec.ts
  packages/components/dropdown/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/components/form-field/e2e.playwright-spec.ts
  packages/components/popover/__screenshots__/01-light.png
  packages/components/progress-bar/e2e.playwright-spec.ts
  packages/components/progress-spinner/e2e.playwright-spec.ts
  packages/components/sidepanel/e2e.playwright-spec.ts
  packages/e2e/utils/scrollbar.ts
  playwright.config.ts
  tools/e2e/Dockerfile
  tools/e2e/docker-compose.yml
  tools/e2e/run.js
Due: yarn run cspell --files, yamllint

fix: linters
  packages/cli/src/release/npm/npm-client.spec.ts
Due: none

feat(cli): add dist tag policy resolution on publish (#DS-4781) (#1964)
  .github/workflows/publish.yml
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/release/base-release-task.ts
  packages/cli/src/release/npm/npm-client.spec.ts
  packages/cli/src/release/npm/npm-client.ts
  packages/cli/src/release/npm/resolve-npm-dist-tag.spec.ts
  packages/cli/src/release/npm/resolve-npm-dist-tag.ts
  packages/cli/src/release/prompt/npm-dist-tag-prompt.ts
  packages/cli/src/release/publish-release-ci.ts
  packages/cli/src/release/publish-release-from-dist.ts
  packages/cli/src/release/publish-release-github-ci.ts
  packages/cli/src/release/publish-release-gitlab-ci.ts
  packages/cli/src/release/resolve-npm-tag.ts
Due: yamllint

fix(select,tree-select,autocomplete): panel scrolling in Safari (#DS-3299)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/e2e.webkit.playwright-spec.ts
  packages/components/core/option/option.spec.ts
  packages/components/core/option/option.ts
  packages/components/scrollbar/scrollbar.spec.ts
  packages/components/scrollbar/scrollbar.ts
  packages/components/select/e2e.webkit.playwright-spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/e2e.webkit.playwright-spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-option.component.ts
  packages/e2e/utils/focus-scroll.ts
  packages/e2e/utils/index.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/scrollbar.api.md
Due: yarn run cspell --files

fix(dropdown): panel scrolling in Safari (#DS-3299)
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/e2e.webkit.playwright-spec.ts
  packages/e2e/utils/focus-scroll.ts
Due: none

fix(core,autocomplete): keep the unused scroll helpers as deprecated (#DS-3299)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/core/option/option.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(components): reveal the focused option from the item itself (#DS-3299)
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/e2e.webkit.playwright-spec.ts
  packages/components/core/option/option.spec.ts
  packages/components/core/option/option.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/e2e.webkit.playwright-spec.ts
  packages/components/scrollbar/scrollbar.spec.ts
  packages/components/scrollbar/scrollbar.ts
  packages/components/select/e2e.webkit.playwright-spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/e2e.webkit.playwright-spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-option.component.ts
  packages/e2e/utils/focus-scroll.ts
  tools/public_api_guard/components/scrollbar.api.md
Due: yarn run cspell --files

fix(components): clear the pointer flag on mouseleave, pierce shadow roots (#DS-3299)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/e2e.webkit.playwright-spec.ts
  packages/components/core/option/option.spec.ts
  packages/components/core/option/option.ts
  packages/components/core/utils/dom.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/e2e.webkit.playwright-spec.ts
  packages/components/select/e2e.webkit.playwright-spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/e2e.webkit.playwright-spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-option.component.ts
  packages/e2e/utils/focus-scroll.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

test(e2e): stop the wheel-scroll guard racing the gesture (#DS-3299)
  packages/components/autocomplete/e2e.webkit.playwright-spec.ts
  packages/components/dropdown/e2e.webkit.playwright-spec.ts
  packages/components/select/e2e.webkit.playwright-spec.ts
  packages/components/tree-select/e2e.webkit.playwright-spec.ts
  packages/e2e/utils/focus-scroll.ts
Due: none

fix: after review
  packages/components/tabs/paginated-tab-header.ts
Due: none

fix(e2e): await addInitScript so the shared utils type-check (#DS-3299)
  packages/e2e/utils/focus-scroll.ts
Due: none

refactor: review
  packages/components-dev/tag/module.ts
  packages/components-dev/tag/styles.scss
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
  packages/docs-examples/components/tags/tag-autocomplete-with-form-control-validators/tag-autocomplete-with-form-control-validators-example.ts
  packages/docs-examples/components/tags/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  packages/docs-examples/example-module.ts
Due: none

fix(tags): stop bypassing validation on paste (#DS-2943)
  packages/components-dev/tag/module.ts
  packages/components-dev/tag/template.html
  packages/components/tags/examples.tag-input.en.md
  packages/components/tags/examples.tag-input.ru.md
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-text-control.ts
  packages/docs-examples/components/tags/index.ts
  packages/docs-examples/components/tags/tag-autocomplete-with-form-control-validators/tag-autocomplete-with-form-control-validators-example.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(select,tree-select,autocomplete): panel scrolling in Safari (#DS-3299) (#1973)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/e2e.webkit.playwright-spec.ts
  packages/components/core/option/option.spec.ts
  packages/components/core/option/option.ts
  packages/components/core/utils/dom.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/e2e.webkit.playwright-spec.ts
  packages/components/select/e2e.webkit.playwright-spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/e2e.webkit.playwright-spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-option.component.ts
  packages/e2e/utils/focus-scroll.ts
  packages/e2e/utils/index.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(popover): close a triggerless panel instead of throwing
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.spec.ts
  packages/schematics/src/migrations/popover-leave-delay/data.ts
Due: yarn run cspell --files
