Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix(input): different font size in hints (#DS-3984) (#917)
  packages/components/form-field/_form-field-theme.scss
Due: none

fix(scrollbar): ssr compatability error (#DS-3854) (#913)
  packages/components/scrollbar/scrollbar.component.spec.ts
  packages/components/scrollbar/scrollbar.component.ts
Due: none

fix(tree-select): positioning when space is limited (#DS-3966)
  packages/components/tree-select/tree-select.component.ts
Due: none

fix(accordion): trigger icon alignment is incorrect (#DS-3940) (#918)
  packages/components/accordion/accordion-trigger.component.scss
Due: none

chore: bump version to 18.32.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

fix(tree-select): positioning when space is limited (#DS-3966) (#919)
  packages/components/tree-select/tree-select.component.ts
Due: none

chore(dev): refactored e2e test application (#DS-3888)
  .github/workflows/e2e-update-screenshots.yml
  package.json
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-icon-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-dark-theme-1.png
  packages/components-dev/e2e/components/button.playwright-spec.ts
  packages/components-dev/e2e/components/button.ts
  packages/components-dev/e2e/module.ts
  playwright.config.ts
  tsconfig.playwright-spec.json
Due: yamllint

fix(docs): added form-field for sitemap (#DS-3995)
  apps/docs/src/sitemap.xml
  tools/generate-sitemap.ts
Due: none

chore: added content-panel dev application
  angular.json
  packages/components-dev/content-panel/content-panel/components/content-panel-body/content-panel-body.component.html
  packages/components-dev/content-panel/content-panel/components/content-panel-body/content-panel-body.component.scss
  packages/components-dev/content-panel/content-panel/components/content-panel-body/content-panel-body.component.ts
  packages/components-dev/content-panel/content-panel/components/content-panel-footer/content-panel-footer.component.html
  packages/components-dev/content-panel/content-panel/components/content-panel-footer/content-panel-footer.component.scss
  packages/components-dev/content-panel/content-panel/components/content-panel-footer/content-panel-footer.component.ts
  packages/components-dev/content-panel/content-panel/components/content-panel-header/content-panel-header.component.html
  packages/components-dev/content-panel/content-panel/components/content-panel-header/content-panel-header.component.scss
  packages/components-dev/content-panel/content-panel/components/content-panel-header/content-panel-header.component.ts
  packages/components-dev/content-panel/content-panel/components/content-panel/content-panel.component.html
  packages/components-dev/content-panel/content-panel/components/content-panel/content-panel.component.scss
  packages/components-dev/content-panel/content-panel/components/content-panel/content-panel.component.ts
  packages/components-dev/content-panel/content-panel/components/index.ts
  packages/components-dev/content-panel/content-panel/content-panel.module.ts
  packages/components-dev/content-panel/content-panel/directives/content-panel-ghost.directive.ts
  packages/components-dev/content-panel/content-panel/directives/content-panel-sidemenu.directive.ts
  packages/components-dev/content-panel/content-panel/directives/content-panel-title.directive.ts
  packages/components-dev/content-panel/content-panel/directives/index.ts
  packages/components-dev/content-panel/content-panel/directives/open-content-panel.directive.ts
  packages/components-dev/content-panel/content-panel/directives/resizable-content-panel.directive.ts
  packages/components-dev/content-panel/content-panel/index.ts
  packages/components-dev/content-panel/content-panel/overflow-content-tracker.directive.ts
  packages/components-dev/content-panel/content-panel/services/content-panel.service.ts
  packages/components-dev/content-panel/content-panel/services/index.ts
  packages/components-dev/content-panel/content-panel/types/content-panel-config.ts
  packages/components-dev/content-panel/content-panel/types/content-panel-ref.ts
  packages/components-dev/content-panel/content-panel/types/content-panel-size.ts
  packages/components-dev/content-panel/content-panel/types/index.ts
  packages/components-dev/content-panel/main.ts
  packages/components-dev/content-panel/module.ts
  packages/components-dev/content-panel/styles.scss
  packages/components-dev/content-panel/template.html
  packages/components-dev/content-panel/tsconfig.app.json
Due: none

fix(docs): added form-field for sitemap (#DS-3995) (#921)
  apps/docs/src/sitemap.xml
  tools/generate-sitemap.ts
Due: none

chore(dev): refactored e2e test application (#DS-3888) (#920)
  .github/workflows/e2e-update-screenshots.yml
  package.json
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-icon-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-dark-theme-1.png
  packages/components-dev/e2e/components/button.playwright-spec.ts
  packages/components-dev/e2e/components/button.ts
  packages/components-dev/e2e/module.ts
  playwright.config.ts
  tsconfig.playwright-spec.json
Due: yamllint

feat(option): new action button (#DS-3648)
  packages/components-dev/list/module.ts
  packages/components-dev/tree/module.ts
  packages/components/core/option/action-container.scss
  packages/components/core/option/action-container.ts
  packages/components/core/option/action.scss
  packages/components/core/option/action.ts
  packages/components/core/option/index.ts
  packages/components/list/_list-theme.scss
  packages/components/list/list-option.html
  packages/components/list/list.module.ts
  packages/components/list/list.scss
  packages/components/tree/_tree-theme.scss
  packages/components/tree/tree-option.html
  packages/components/tree/tree-option.scss
  packages/components/tree/tree.module.ts
  packages/docs-examples/components/list/list-action-button/list-action-button-example.ts
  packages/docs-examples/components/tree/tree-action-button/tree-action-button-example.ts
Due: none

fix: update golden files
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/list.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

refactor: module
  package.json
  packages/components-dev/content-panel/content-panel/components/content-panel-body/content-panel-body.component.html
  packages/components-dev/content-panel/content-panel/components/content-panel-body/content-panel-body.component.scss
  packages/components-dev/content-panel/content-panel/components/content-panel-body/content-panel-body.component.ts
  packages/components-dev/content-panel/content-panel/components/content-panel-footer/content-panel-footer.component.html
  packages/components-dev/content-panel/content-panel/components/content-panel-footer/content-panel-footer.component.scss
  packages/components-dev/content-panel/content-panel/components/content-panel-footer/content-panel-footer.component.ts
  packages/components-dev/content-panel/content-panel/components/content-panel-header/content-panel-header.component.html
  packages/components-dev/content-panel/content-panel/components/content-panel-header/content-panel-header.component.scss
  packages/components-dev/content-panel/content-panel/components/content-panel-header/content-panel-header.component.ts
  packages/components-dev/content-panel/content-panel/components/content-panel/content-panel.component.html
  packages/components-dev/content-panel/content-panel/components/content-panel/content-panel.component.scss
  packages/components-dev/content-panel/content-panel/components/content-panel/content-panel.component.ts
  packages/components-dev/content-panel/content-panel/components/index.ts
  packages/components-dev/content-panel/content-panel/content-panel.module.ts
  packages/components-dev/content-panel/content-panel/directives/content-panel-sidemenu.directive.ts
  packages/components-dev/content-panel/content-panel/directives/content-panel-title.directive.ts
  packages/components-dev/content-panel/content-panel/directives/index.ts
  packages/components-dev/content-panel/content-panel/directives/open-content-panel.directive.ts
  packages/components-dev/content-panel/content-panel/directives/resizable-content-panel.directive.ts
  packages/components-dev/content-panel/content-panel/index.ts
  packages/components-dev/content-panel/content-panel/overflow-content-tracker.directive.ts
  packages/components-dev/content-panel/main.ts
  packages/components-dev/content-panel/module.ts
  packages/components/content-panel/content-panel.scss
  packages/components/content-panel/content-panel.ts
  packages/components/content-panel/example.ts
  packages/components/content-panel/index.ts
  packages/components/content-panel/module.ts
  packages/components/content-panel/ng-package.json
  packages/components/content-panel/resize-demo.ts
  packages/components/content-panel/resize.ts
  packages/components/sidepanel/sidepanel.service.ts
  packages/components/title/title.directive.ts
  packages/components/title/title.module.ts
  tsconfig.json
Due: none

chore: updated deps @koobiq/icons to 10.5.0 (#DS-4005)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  yarn.lock
Due: none

fix(button): set default color on init (#DS-3991)
  packages/components/button/button.component.ts
Due: none

test: auto-updated e2e screenshots
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-icon-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-dark-theme-1.png
Due: none

fix(input): adjust password focus for validation (#DS-3965)
  packages/components/input/input-password.spec.ts
  packages/components/input/input-password.ts
Due: none

fix(button): set default color on init (#DS-3991) (#925)
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-icon-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-dark-theme-1.png
  packages/components/button/button.component.ts
Due: none

feat(select, tree-select): added multiline (#DS-3120)
  packages/components-dev/select/module.ts
  packages/components/core/styles/common/_select.scss
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-with-multiline-matcher/select-with-multiline-matcher-example.ts
Due: none

chore: updated deps @koobiq/icons to 10.5.1 (#DS-4005)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  yarn.lock
Due: none

feat: added tree-select + refactoring
  packages/components-dev/tree-select/module.ts
  packages/components-dev/tree-select/template.html
  packages/components/core/option/option.ts
  packages/components/core/styles/common/_select.scss
  packages/components/form-field/form-field.scss
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.html
  packages/components/select/select.ru.md
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  packages/components/tree-select/tree-select.ru.md
  packages/docs-examples/components/select/select-with-multiline-matcher/select-with-multiline-matcher-example.ts
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-with-multiline-matcher-overview/tree-select-with-multiline-matcher-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/core/option/action.scss
  packages/components/core/option/action.ts
Due: none

feat(docs): validation guide (#DS-3038)
  packages/components-dev/validation/module.ts
  packages/components-dev/validation/template.html
  packages/components/core/validation/validation.ru.md
  packages/docs-examples/components/validation/index.ts
  packages/docs-examples/components/validation/validation-on-blur/validation-on-blur-example.html
  packages/docs-examples/components/validation/validation-on-blur/validation-on-blur-example.ts
  packages/docs-examples/components/validation/validation-on-open/validation-on-open-example.ts
  packages/docs-examples/components/validation/validation-on-type/validation-on-type-example.html
  packages/docs-examples/components/validation/validation-on-type/validation-on-type-example.ts
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

chore: updated deps @koobiq/icons to 10.5.1 (#DS-4005) (#924)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  yarn.lock
Due: none

fix(input): adjust password focus for validation (#DS-3965) (#926)
  packages/components/input/input-password.spec.ts
  packages/components/input/input-password.ts
Due: none

fix: after review
  packages/components-dev/list/module.ts
  packages/components-dev/list/template.html
  packages/components-dev/tree/module.ts
  packages/components/core/option/action-container.scss
  packages/components/core/option/action-container.ts
  packages/components/list/_list-theme.scss
  packages/components/list/list.module.ts
  packages/components/tree/tree.module.ts
  packages/docs-examples/components/list/list-action-button/list-action-button-example.ts
Due: none

fix: after review
  packages/docs-examples/components/select/select-with-multiline-matcher/select-with-multiline-matcher-example.ts
Due: none

chore(docs): added & refactored examples
  packages/components-dev/validation/module.ts
  packages/components-dev/validation/template.html
  packages/components/core/validation/validation.ru.md
  packages/docs-examples/components/validation/index.ts
  packages/docs-examples/components/validation/validation-composite/validation-composite-example.html
  packages/docs-examples/components/validation/validation-composite/validation-composite-example.ts
  packages/docs-examples/components/validation/validation-global-one-required/validation-global-one-required-example.html
  packages/docs-examples/components/validation/validation-global-one-required/validation-global-one-required-example.ts
  packages/docs-examples/components/validation/validation-global/validation-global-example.html
  packages/docs-examples/components/validation/validation-global/validation-global-example.ts
  packages/docs-examples/components/validation/validation-message-for-specific-field/validation-message-for-specific-field-example.ts
  packages/docs-examples/components/validation/validation-no-message/validation-no-message-example.ts
  packages/docs-examples/components/validation/validation-on-blur/validation-on-blur-example.ts
  packages/docs-examples/components/validation/validation-on-open/validation-on-open-example.ts
  packages/docs-examples/components/validation/validation-on-submit/validation-on-submit-example.ts
  packages/docs-examples/components/validation/validation-on-type/validation-on-type-example.ts
  packages/docs-examples/components/validation/validation-optional-label/validation-optional-label-example.ts
  packages/docs-examples/components/validation/validation-overview/validation-overview-example.html
  packages/docs-examples/components/validation/validation-overview/validation-overview-example.ts
  packages/docs-examples/components/validation/validation-required-label/validation-required-label-example.ts
  packages/docs-examples/components/validation/validation-small/validation-small-example.html
  packages/docs-examples/components/validation/validation-small/validation-small-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

feat(select, tree-select): added multiline (#DS-3120) (#927)
  packages/components-dev/select/module.ts
  packages/components-dev/tree-select/module.ts
  packages/components-dev/tree-select/template.html
  packages/components/core/option/option.ts
  packages/components/core/styles/common/_select.scss
  packages/components/form-field/form-field.scss
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.html
  packages/components/select/select.ru.md
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  packages/components/tree-select/tree-select.ru.md
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-with-multiline-matcher/select-with-multiline-matcher-example.ts
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-with-multiline-matcher-overview/tree-select-with-multiline-matcher-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

chore(docs): added & refactored examples
  packages/components-dev/validation/module.ts
  packages/components/core/validation/validation.ru.md
  packages/docs-examples/components/validation/index.ts
  packages/docs-examples/components/validation/validation-message-global-with-links/validation-message-global-with-links-example.html
  packages/docs-examples/components/validation/validation-message-global-with-links/validation-message-global-with-links-example.ts
  packages/docs-examples/components/validation/validation-message-global/validation-message-global-example.ts
  packages/docs-examples/components/validation/validation-on-blur-filled/validation-on-blur-filled-example.ts
  packages/docs-examples/components/validation/validation-on-open/validation-on-open-example.ts
  packages/docs-examples/components/validation/validation-optional-label/validation-optional-label-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

chore(docs): fixed example & added en version
  packages/components/core/validation/validation.en.md
  packages/docs-examples/components/validation/validation-message-global-with-links/validation-message-global-with-links-example.html
  packages/docs-examples/components/validation/validation-message-global-with-links/validation-message-global-with-links-example.ts
  packages/docs-examples/components/validation/validation-message-global/validation-message-global-example.ts
  packages/docs-examples/components/validation/validation-on-submit/validation-on-submit-example.ts
  packages/docs-examples/components/validation/validation-on-type/validation-on-type-example.ts
Due: yarn run cspell --files

chore(docs): fixed layout & marked validation section as new
  apps/docs/src/app/services/documentation-items.ts
  packages/components/core/validation/validation.en.md
Due: yarn run cspell --files

fix(breadcrumbs): resolve hydration duplication (#DS-3679)
  packages/components/breadcrumbs/breadcrumbs.html
Due: none

chore(breadcrumbs,dev): refactor & updated dev example (#DS-3679)
  packages/components-dev/ssr/breadcrumbs-ssr-test/breadcrumbs-ssr-test.ts
  packages/components-dev/ssr/main.ts
  packages/components-dev/ssr/module.ts
  packages/components/breadcrumbs/breadcrumbs.karma-spec.ts
  packages/components/breadcrumbs/breadcrumbs.ts
Due: none

chore(docs): applied alert focus according to design
  packages/docs-examples/components/validation/validation-message-global/validation-message-global-example.ts
  packages/docs-examples/components/validation/validation-on-submit/validation-on-submit-example.ts
Due: none

fix(docs): resolved missing preview & examples (#DS-3960)
  apps/docs/src/app/services/documentation-items.ts
  packages/docs-examples/components/dropdown/dropdown-open-by-arrow-down/dropdown-open-by-arrow-down-example.html
  packages/docs-examples/components/dropdown/dropdown-open-by-arrow-down/dropdown-open-by-arrow-down-example.ts
  packages/docs-examples/components/dropdown/index.ts
  packages/docs-examples/example-module.ts
Due: none

fix: after review
  packages/components/tree/_tree-theme.scss
  packages/docs-examples/components/tree/tree-action-button/tree-action-button-example.ts
Due: none

chore: after review
  packages/components-dev/ssr/components/breadcrumbs.ts
  packages/components-dev/ssr/module.ts
Due: none
