Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

feat(navbar): update navbar paddings after new line-height (#DS-2168)
  packages/components/navbar/_navbar-item_horizontal.scss
  packages/components/navbar/_navbar-item_vertical.scss
Due: none

is preview on main page for items
  apps/docs/src/app/components/documentation-items.ts
  apps/docs/src/app/components/welcome/welcome.component.html
  apps/docs/src/app/components/welcome/welcome.component.ts
Due: none

add routing for welcome previews
  apps/docs/src/app/components/welcome/welcome.component.html
  apps/docs/src/app/components/welcome/welcome.module.ts
Due: none

adaptive styles + fixes
  apps/docs/src/app/components/welcome/welcome.component.scss
  apps/docs/src/app/components/welcome/welcome.module.ts
Due: none

pointer for items
  apps/docs/src/app/components/welcome/welcome.component.scss
Due: none

fix(code-block): "show all" position when expanded (#DS-2518)
  packages/components/code-block/code-block.scss
Due: none

components status title fix
  apps/docs/src/app/components/documentation-items.ts
Due: none

feat(file-upload): change padding to match new typography (#DS-2168)
  packages/components/file-upload/multiple-file-upload.component.scss
Due: none

fix(code-block): "show all" position when expanded (#DS-2518) (#85)
  packages/components/code-block/code-block.scss
Due: none

fixes styles
  apps/docs/src/app/components/welcome/_welcome-theme.scss
  apps/docs/src/app/components/welcome/welcome.component.scss
Due: none

welcome docs header added
  apps/docs/src/app/components/welcome/welcome.component.html
  apps/docs/src/app/components/welcome/welcome.component.ts
  apps/docs/src/app/components/welcome/welcome.module.ts
Due: none

max width content welcome fix
  apps/docs/src/app/components/welcome/welcome.component.scss
Due: none

docs(alert): fix article text and examples (#DS-2584)
  packages/components/alert/alert.md
  packages/docs-examples/components/alert/alert-close/alert-close-example.html
  packages/docs-examples/components/alert/alert-content/alert-content-example.css
  packages/docs-examples/components/alert/alert-content/alert-content-example.html
  packages/docs-examples/components/alert/alert-content/alert-content-example.ts
  packages/docs-examples/components/alert/alert-status/alert-status-example.ts
  packages/docs-examples/components/alert/alert-variants/alert-variants-example.ts
Due: yarn run cspell --files

items hovers add
  apps/docs/src/app/components/welcome/_welcome-theme.scss
Due: none

chore: bump version to 17.0.0-rc.6 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

fix(date-formatter): "june", "july" in ru-RU Date short format (#DS-2596)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/angular-luxon-adapter/package.json
  packages/angular-moment-adapter/package.json
  packages/components/package.json
  yarn.lock
Due: none

add titleKbqTextRef to kbq-button component and fix kbq-title directive
  packages/components-dev/title/template.html
  packages/components/button/button.component.html
  packages/components/button/button.component.ts
  packages/components/title/title.directive.ts
Due: none

version
  packages/components/core/version.ts
Due: none

build
  tools/public_api_guard/components/button.api.md
Due: yarn run cspell --files

chore(ci): remove MM notification from publish
  .github/workflows/publish.yml
Due: yamllint

remove paddings from noborder code block
  packages/docs-examples/components/code-block/code-block-noborder/code-block-noborder-example.css
Due: none

fix(date-formatter):  "june", "july" in ru-RU Date short format (#DS-2596) (#104)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/angular-luxon-adapter/package.json
  packages/angular-moment-adapter/package.json
  packages/components/package.json
  yarn.lock
Due: none

Revert "version"
  packages/components/core/version.ts
Due: none

fix(visual): kbq-title with inline blocks (#DS-2451) (#97)
  packages/components-dev/title/template.html
  packages/components/button/button.component.html
  packages/components/button/button.component.ts
  packages/components/title/title.directive.spec.ts
  packages/components/title/title.directive.ts
  tools/public_api_guard/components/button.api.md
Due: yarn run cspell --files

feat(docs): added algolia docsearch support
  apps/docs/src/app/components/navbar/navbar.component.ts
  apps/docs/src/app/components/navbar/navbar.template.html
  apps/docs/src/main.scss
  apps/docs/src/styles/_docsearch.scss
  apps/docs/tsconfig.json
  docs/guides/versioning.en.md
  docs/guides/versioning.md
  package.json
  packages/components/core/validation/validation.md
  packages/components/datepicker/datepicker.md
  packages/components/file-upload/file-upload.md
  packages/components/modal/modal.md
  packages/components/popover/popover.md
  packages/components/timepicker/timepicker.md
  packages/components/tooltip/tooltip.md
  tools/cspell-locales/en.json
  yarn.lock
Due: yarn run cspell --files

feat: size (alert - form-field)
  packages/components/alert/alert.component.scss
  packages/components/autocomplete/_autocomplete-theme.scss
  packages/components/autocomplete/autocomplete.scss
  packages/components/badge/_badge-theme.scss
  packages/components/badge/badge.component.scss
  packages/components/button-toggle/button-toggle.scss
  packages/components/button/_button-base.scss
  packages/components/button/button.scss
  packages/components/card/card.component.scss
  packages/components/checkbox/checkbox.scss
  packages/components/code-block/actionbar.component.scss
  packages/components/core/styles/_variables.scss
  packages/components/core/styles/common/_groups.scss
  packages/components/core/styles/common/_list.scss
  packages/components/core/styles/common/_popup.scss
  packages/components/core/styles/common/_select.scss
  packages/components/datepicker/calendar-body.scss
  packages/components/datepicker/calendar-header.scss
  packages/components/datepicker/calendar.scss
  packages/components/datepicker/datepicker-content.scss
  packages/components/datepicker/datepicker-input.scss
  packages/components/datepicker/datepicker-toggle.scss
  packages/components/divider/divider.scss
  packages/components/dl/dl.scss
  packages/components/dropdown/dropdown-item.scss
  packages/components/dropdown/dropdown.scss
  packages/components/file-upload/file-upload.scss
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/single-file-upload.component.scss
  packages/components/form-field/cleaner.scss
  packages/components/form-field/form-field.scss
  packages/components/form-field/hint.scss
  packages/components/form-field/password-toggle.scss
  packages/components/form-field/stepper.scss
Due: none

feat: save
  packages/components/button-toggle/_button-toggle-theme.scss
  packages/components/button/_button-theme.scss
  packages/components/card/_card-theme.scss
  packages/components/checkbox/_checkbox-theme.scss
  packages/components/code-block/_code-block-theme.scss
  packages/components/core/forms/_forms-theme.scss
  packages/components/core/option/_optgroup-theme.scss
  packages/components/core/option/_option-action-theme.scss
  packages/components/core/option/_option-theme.scss
  packages/components/core/selection/pseudo-checkbox/_pseudo-checkbox-theme.scss
  packages/components/core/selection/pseudo-checkbox/pseudo-checkbox.scss
  packages/components/core/styles/theming/_components-theming.scss
  packages/components/datepicker/_datepicker-theme.scss
  packages/components/divider/_divider-theme.scss
  packages/components/dl/_dl-theme.scss
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/form-field/_form-field-theme.scss
  packages/components/list/_list-theme.scss
Due: none

feat: css-variables for colors
  packages/components/core/styles/theming/_components-theming.scss
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/_hint-theme.scss
  packages/components/icon/_icon-button-theme.scss
  packages/components/icon/_icon-item-theme.scss
  packages/components/icon/_icon-theme.scss
  packages/components/link/_link-theme.scss
  packages/components/list/_list-theme.scss
  packages/components/loader-overlay/_loader-overlay-theme.scss
  packages/components/markdown/_markdown-theme.scss
  packages/components/modal/_modal-confirm.scss
  packages/components/modal/_modal-theme.scss
  packages/components/navbar/_navbar-theme.scss
  packages/components/popover/_popover-theme.scss
  packages/components/progress-bar/_progress-bar-theme.scss
  packages/components/progress-spinner/_progress-spinner-theme.scss
  packages/components/radio/_radio-theme.scss
  packages/components/risk-level/_risk-level-theme.scss
  packages/components/scrollbar/_scrollbar-component-theme.scss
  packages/components/select/_select-theme.scss
  packages/components/sidepanel/_sidepanel-theme.scss
  packages/components/splitter/_splitter-theme.scss
  packages/components/table/_table-theme.scss
  packages/components/tabs/_tabs-theme.scss
  packages/components/tabs/tab-nav-bar/tab-nav-bar.scss
  packages/components/tags/_tag-theme.scss
  packages/components/textarea/_textarea-theme.scss
  packages/components/timezone/_timezone-option-theme.scss
  packages/components/toast/_toast-theme.scss
  packages/components/toggle/_toggle-theme.scss
  packages/components/tooltip/_tooltip-theme.scss
  packages/components/tooltip/tooltip.scss
  packages/components/tree-select/_tree-select-theme.scss
  packages/components/tree/_tree-theme.scss
Due: none

fix: update tokens package
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  yarn.lock
Due: none

fix: update tokens in docs
  apps/docs/src/styles/koobiq/default-theme/_typography.scss
  apps/docs/src/styles/koobiq/default-theme/_variables.scss
  apps/docs/src/styles/koobiq/default-theme/css-tokens-dark.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens-font.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens-light.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens.css
  apps/docs/src/styles/koobiq/default-theme/index.d.ts
  apps/docs/src/styles/koobiq/default-theme/js/index.js
Due: none

fix: added algolia api to exception for firebase
  firebase.json
Due: none

fix: css-vars for size
  packages/components/code-block/code-block.scss
  packages/components/core/styles/visual/_layout.scss
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/navbar/_navbar-item_horizontal.scss
  packages/components/navbar/_navbar-item_vertical.scss
Due: none

feat(tabs): use tabId as selection key (#DS-1036)
  apps/docs/src/app/components/documentation-items.ts
  packages/components/tabs/examples.tabs.md
  packages/components/tabs/tab-group.component.ts
  packages/components/tabs/tab-group.html
  packages/docs-examples/components/tabs/index.ts
  packages/docs-examples/components/tabs/tab-active-tab-index/tab-active-tab-index-example.css
  packages/docs-examples/components/tabs/tab-active-tab-index/tab-active-tab-index-example.html
  packages/docs-examples/components/tabs/tab-active-tab-index/tab-active-tab-index-example.ts
  packages/docs-examples/components/tabs/tab-active-tab/tab-active-tab-example.css
  packages/docs-examples/components/tabs/tab-active-tab/tab-active-tab-example.html
  packages/docs-examples/components/tabs/tab-active-tab/tab-active-tab-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

refactor: added russian localization, updated search items dev urls
  apps/docs/src/app/components/docsearch/docsearch.component.scss
  apps/docs/src/app/components/docsearch/docsearch.component.ts
  apps/docs/src/app/components/navbar/navbar.component.ts
  apps/docs/src/app/components/navbar/navbar.module.ts
  apps/docs/src/app/components/navbar/navbar.template.html
  apps/docs/src/main.scss
Due: none

fix: ci build
  apps/docs/src/app/components/docsearch/docsearch.component.ts
  apps/docs/src/main.scss
  apps/docs/src/styles/_docsearch.scss
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
