Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix(notification-center): address code review findings
  packages/components/core/common-behaviors/read-state.spec.ts
  packages/components/core/common-behaviors/read-state.ts
  packages/components/notification-center/notification-center-tokens.scss
  packages/components/notification-center/notification-center.html
  packages/components/notification-center/notification-center.service.ts
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/notification-center-signals/README.md
  packages/schematics/src/migrations/notification-center-signals/data.ts
  packages/schematics/src/migrations/notification-center-signals/index.spec.ts
  packages/schematics/src/migrations/notification-center-signals/index.ts
  packages/schematics/src/migrations/notification-center-signals/schema.json
  packages/schematics/src/migrations/notification-center-signals/schema.ts
  packages/schematics/src/migrations/read-state-dwell-handlers/README.md
  packages/schematics/src/migrations/read-state-dwell-handlers/data.ts
  packages/schematics/src/migrations/read-state-dwell-handlers/index.spec.ts
  packages/schematics/src/migrations/read-state-dwell-handlers/index.ts
  packages/schematics/src/migrations/read-state-dwell-handlers/schema.json
  packages/schematics/src/migrations/read-state-dwell-handlers/schema.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(notification-center): provide the date adapter at the e2e app root
  packages/components/notification-center/notification-center.en.md
  packages/components/notification-center/notification-center.ru.md
  packages/e2e/main.ts
  packages/schematics/src/migrations/notification-center-signals/data.ts
  packages/schematics/src/migrations/notification-center-signals/index.spec.ts
Due: yarn run cspell --files

docs(notification-center): document the notification-center review in the migration guide
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
Due: yarn run cspell --files

fix(notification-center): keep the e2e root free of a locale service
  packages/e2e/main.ts
Due: none

fix(notification-center): narrow placementChange to the placement union
  packages/components/notification-center/notification-center.ts
  tools/public_api_guard/components/notification-center.api.md
Due: yarn run cspell --files

chore(notification-center): refresh the api snapshot for the narrowed placementChange
  tools/public_api_guard/components/notification-center.api.md
Due: yarn run cspell --files

fix(notification-center): provide the date adapter at the docs SSR app root
  packages/components-dev/ssr/config.ts
Due: none

test: updated e2e snapshots
  packages/components/notification-center/__screenshots__/01-dark.png
  packages/components/notification-center/__screenshots__/01-light.png
Due: none

fix(schematics): scope a local receiver to its block, and skip generated TypeScript
  packages/schematics/src/migrations/notification-center-signals/index.ts
  packages/schematics/src/migrations/read-state-dwell-handlers/index.spec.ts
  packages/schematics/src/migrations/read-state-dwell-handlers/index.ts
Due: none

fix(tabs): address review findings on paginated tab scrolling (#DS-4259)
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/form-field/__screenshots__/05-dark.png
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
  packages/components/tabs/_tabs-common.scss
  packages/components/tabs/paginated-tab-header.ts
  packages/components/tabs/tab-group.scss
  packages/components/tabs/tab-header.component.ts
  packages/components/tabs/tab-header.html
  packages/components/tabs/tab-header.scss
  packages/components/tabs/tab-header.spec.ts
  packages/components/tabs/tab-label-wrapper.directive.ts
  packages/components/tabs/tab-nav-bar.scss
  packages/components/tabs/tab-nav-bar.ts
Due: none

test: updated e2e snapshots
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
Due: none

Make 'fix' property optional in Schema interface
  packages/schematics/src/migrations/badge-signals/schema.ts
Due: none

refactor: review
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/autocomplete-signals/README.md
  packages/schematics/src/migrations/autocomplete-signals/data.ts
  packages/schematics/src/migrations/autocomplete-signals/index.spec.ts
  packages/schematics/src/migrations/autocomplete-signals/index.ts
  tools/public_api_guard/components/autocomplete.api.md
Due: yarn run cspell --files

docs(accordion): keep the examples reading the toggle group value directly
  packages/docs-examples/components/accordion/accordion-sections/accordion-sections-example.html
  packages/docs-examples/components/accordion/accordion-sections/accordion-sections-example.ts
  packages/docs-examples/components/accordion/accordion-states/accordion-states-example.html
  packages/docs-examples/components/accordion/accordion-states/accordion-states-example.ts
Due: none

feat: added full review
  docs/review/REVIEW.RU.md
  docs/review/REVIEW.md
Due: yarn run cspell --files

ci: run the branch workflows on 20.3.x
  .github/workflows/api.yml
  .github/workflows/e2e.yml
  .github/workflows/license.yml
  .github/workflows/linters.yml
  .github/workflows/units.yml
Due: yamllint

feat(app-switcher): add keyboard navigation (#DS-4246) (#1770)
  packages/components/app-switcher/app-switcher-dropdown-app.scss
  packages/components/app-switcher/app-switcher-dropdown-app.ts
  packages/components/app-switcher/app-switcher-dropdown-site.scss
  packages/components/app-switcher/app-switcher-dropdown-site.ts
  packages/components/app-switcher/app-switcher.en.md
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.ru.md
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/e2e.playwright-spec.ts
  packages/components/app-switcher/kbq-app-switcher-list-item.scss
  packages/components/app-switcher/kbq-app-switcher-list-item.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/app-switcher.api.md
Due: yarn run cspell --files

feat(filter-bar): add date and time limits to date and datetime pipes (#DS-5315) (#1775)
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/pipe-date-base.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.spec.ts
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-datetime.spec.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/docs-examples/components/filter-bar/filter-bar-date-limits/filter-bar-date-limits-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

feat(dropdown): added KbqDropdownFooter directive (#DS-3699) (#1780)
  packages/components-dev/dropdown/module.ts
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.html
  packages/components/dropdown/dropdown.module.ts
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.scss
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/e2e.ts
  packages/docs-examples/components/dropdown/dropdown-with-footer/dropdown-with-footer-example.ts
  packages/docs-examples/components/dropdown/index.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

feat: add pressed state to option/tree/dropdown items (#DS-3482) (#1779)
  packages/components/app-switcher/__screenshots__/01-pressed-dark.png
  packages/components/app-switcher/__screenshots__/01-pressed-light.png
  packages/components/app-switcher/app-switcher-dropdown-app.scss
  packages/components/app-switcher/app-switcher-dropdown-site.scss
  packages/components/app-switcher/e2e.playwright-spec.ts
  packages/components/core/option/_option-theme.scss
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/e2e.ts
  packages/components/list/__screenshots__/01-dark.png
  packages/components/list/_list-theme.scss
  packages/components/select/__screenshots__/01-dark.png
  packages/components/select/__screenshots__/01-light.png
  packages/components/select/__screenshots__/02-dark.png
  packages/components/select/__screenshots__/02-light.png
  packages/components/select/__screenshots__/03-dark.png
  packages/components/select/__screenshots__/03-light.png
  packages/components/select/e2e.ts
  packages/components/tree-select/__screenshots__/01-pressed-dark.png
  packages/components/tree-select/__screenshots__/01-pressed-light.png
  packages/components/tree-select/__screenshots__/02-pressed-dark.png
  packages/components/tree-select/__screenshots__/02-pressed-light.png
  packages/components/tree-select/_tree-select-theme.scss
  packages/components/tree-select/e2e.playwright-spec.ts
  packages/components/tree/__screenshots__/01-dark.png
  packages/components/tree/__screenshots__/01-light.png
  packages/components/tree/_tree-theme.scss
  packages/components/tree/e2e.ts
Due: none

fix(select,tree-select): stop propagation on Esc when panel opened (#DS-3739) (#1786)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
Due: none

chore: bump @koobiq/ag-grid-angular-theme to 34.5.1, added new examples (#DS-5312) (#1776)
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  package.json
  packages/components-dev/ag-grid/module.ts
  packages/components-dev/ag-grid/styles.scss
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-column-state/ag-grid-column-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-copy-selected/ag-grid-copy-selected-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-export/ag-grid-export-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-external-filter-state/ag-grid-external-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-infinite-selection/ag-grid-infinite-selection-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-loading-overlay/ag-grid-loading-overlay-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-overview/ag-grid-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-quick-filter-state/ag-grid-quick-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-actions/ag-grid-row-actions-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-dragging/ag-grid-row-dragging-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-focus-state/ag-grid-row-focus-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-group/ag-grid-row-group-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-selection-state/ag-grid-row-selection-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-status-bar/ag-grid-status-bar-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/components/content-panel/content-panel-with-grid/content-panel-with-grid-example.ts
  tools/cspell-locales/en.json
  tools/validate-licenses/validate-licenses.ts
  yarn.lock
Due: yarn run cspell --files

fix(select): use kbqHighlightBackground for search highlighting in dropdowns (#DS-5293) (#1774)
  apps/docs/src/app/components/icons-viewer/icons-viewer.template.html
  packages/components-dev/form-field/template.html
  packages/components-dev/select/template.html
  packages/components-dev/tree-select/template.html
  packages/components-dev/tree/template.html
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/app-switcher/kbq-app-switcher-list-item.ts
  packages/components/core/highlight/highlight.en.md
  packages/components/core/highlight/highlight.ru.md
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-tree-select.html
  packages/components/timezone/timezone-option.component.html
  packages/components/timezone/timezone-option.component.ts
  packages/docs-examples/components/autocomplete/autocomplete-overview/autocomplete-overview-example.ts
  packages/docs-examples/components/autocomplete/autocomplete-with-footer/autocomplete-with-footer-example.ts
  packages/docs-examples/components/dropdown/dropdown-with-filter/dropdown-with-filter-example.ts
  packages/docs-examples/components/highlight/highlight-select/highlight-select-example.ts
  packages/docs-examples/components/select/select-loading-error/select-loading-error-example.ts
  packages/docs-examples/components/select/select-loading/select-loading-example.ts
  packages/docs-examples/components/select/select-paging-error/select-paging-error-example.ts
  packages/docs-examples/components/select/select-paging/select-paging-example.ts
  packages/docs-examples/components/select/select-search/select-search-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-draggable/tag-autocomplete-draggable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-editable/tag-autocomplete-editable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-onpaste-off/tag-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tags/tag-autocomplete-onpaste-off/tag-autocomplete-onpaste-off-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-overview/tag-autocomplete-overview-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tree-select/tree-select-search-overview/tree-select-search-overview-example.ts
  packages/docs-examples/components/tree/tree-checked-filtering/tree-checked-filtering-example.ts
  packages/docs-examples/components/tree/tree-custom-filtering/tree-custom-filtering-example.ts
  packages/docs-examples/components/tree/tree-descendants-subcategories/tree-descendants-subcategories-example.ts
  packages/docs-examples/components/tree/tree-filtering/tree-filtering-example.ts
  tools/public_api_guard/components/app-switcher.api.md
Due: yarn run cspell --files

feat(actions-panel): added `beforeClosed`/`beforeOpened` emitters (#DS-5312) (#1777)
  apps/docs/src/styles/_examples.scss
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/ag-grid/module.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-and-actions-panel/ag-grid-and-actions-panel-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-loading-overlay/ag-grid-loading-overlay-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
Due: yarn run cspell --files

fix(modal): set proper border-radius (#DS-4846) (#1790)
  packages/components/loader-overlay/__screenshots__/02-dark.png
  packages/components/loader-overlay/__screenshots__/02-light.png
  packages/components/modal/__screenshots__/01-dark.png
  packages/components/modal/__screenshots__/01-light.png
  packages/components/modal/__screenshots__/02-light.png
  packages/components/modal/modal-tokens.scss
Due: none

chore(docs): added link to github sources (#DS-3565) (#1778)
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/services/i18n.spec.ts
  apps/docs/src/app/services/i18n.ts
  apps/docs/src/app/structure.ts
  apps/docs/src/app/version.ts
  packages/docs-examples/example-module.ts
Due: none

chore(deps-dev): remove unused devDependencies (#DS-5215) (#1799)
  firebase.json
  package.json
  tools/validate-licenses/validate-licenses.ts
  yarn.lock
Due: none

feat(filter-bar): support locked values for multiselect and multi-tree-select pipes (#DS-4827) (#1789)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/multi-select-pipe-state.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/docs-examples/components/filter-bar/filter-bar-locked-options/filter-bar-locked-options-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore(docs): generate example-module.ts (#DS-2960) (#1797)
  packages/docs-examples/components/timezone/timezone-data.ts
  packages/docs-examples/components/timezone/timezone-overview/timezone-overview-example.ts
  packages/docs-examples/components/timezone/timezone-search-overview/timezone-search-overview-example.ts
  packages/docs-examples/components/timezone/timezone-trigger-overview/timezone-trigger-overview-example.ts
  packages/docs-examples/example-module.ts
Due: none

fix(docs): import local files (#DS-2960) (#1796)
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  apps/docs/src/testing/docs-examples.stub.ts
  packages/docs-examples/example-data.ts
  tools/example-module/example-module.template
  tools/example-module/generate-example-module.ts
  tools/example-module/resolve-local-imports.ts
Due: none

chore(overflow-items): removed unused styles file (#DS-3834) (#1795)
  packages/components/overflow-items/overflow-items.scss
  packages/components/overflow-items/overflow-items.ts
Due: none

fix(tooltip,popover,dropdown): hide the tooltip while a pop-up on the same element is open (#DS-2667) (#1805)
  packages/components-dev/popover/module.ts
  packages/components-dev/popover/styles.scss
  packages/components-dev/popover/template.html
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/core/pop-up/constants.ts
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/datepicker/datepicker-toggle.component.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/notification-center/notification-center.html
  packages/components/popover/e2e.playwright-spec.ts
  packages/components/popover/e2e.ts
  packages/components/popover/popover-confirm.component.ts
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.spec.ts
  packages/components/select/select.component.ts
  packages/components/timezone/timezone-select.component.ts
  packages/components/tooltip/tooltip-registry.ts
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/datepicker.api.md
  tools/public_api_guard/components/dropdown.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tooltip.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(icon): set error state properly on autoColor (#DS-3680) (#1794)
  packages/components/core/form-field/form-field-ref.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/form-field/form-field.spec.ts
  packages/components/icon/icon.component.ts
  packages/components/input/__screenshots__/01-dark.png
  packages/components/input/__screenshots__/01-light.png
  packages/components/input/input-number.spec.ts
  packages/components/timepicker/timepicker.spec.ts
Due: none

feat: add reposition and close scroll strategy (#DS-1920) (#1781)
  packages/components-dev/select/module.ts
  packages/components/core/overlay/auto-hide-scroll-strategy.spec.ts
  packages/components/core/overlay/auto-hide-scroll-strategy.ts
  packages/components/core/public-api.ts
  packages/components/select/examples.select.en.md
  packages/components/select/examples.select.ru.md
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-auto-hide-scroll-strategy/select-auto-hide-scroll-strategy-example.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(modal): add shadow on overflow (#DS-4818) (#1802)
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.directive.ts
  packages/components/modal/modal.en.md
  packages/components/modal/modal.ru.md
  packages/docs-examples/components/modal/index.ts
  packages/docs-examples/components/modal/modal-full-custom/modal-full-custom-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

fix(option,list,tree): show action button only on hover and keyboard focus (#DS-5335) (#1808)
  packages/components/core/option/_action-container-mixins.scss
  packages/components/core/option/action.ts
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/e2e.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list.scss
  packages/components/tree/_tree-theme.scss
  packages/components/tree/e2e.playwright-spec.ts
  packages/components/tree/e2e.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-option.scss
  packages/components/tree/tree-selection.component.spec.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore(deps): resolve all dependabot advisories and add audit checks (#1823)
  .github/dependabot.yml
  .github/security.md
  .github/workflows/audit-report.yml
  .github/workflows/audit.yml
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  .yarnrc.yml
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  eslint.config.js
  package.json
  packages/cli/package.json
  packages/cli/scripts/copy-meta-to-dist.js
  packages/cli/src/cli.ts
  packages/cli/src/release/changelog.ts
  packages/cli/src/release/prompt/new-version-prompt.ts
  packages/cli/src/release/release-output/check-packages.ts
  packages/cli/src/release/release-output/output-validations.ts
  packages/cli/src/release/templates/README.md
  packages/cli/src/release/templates/commit.hbs
  packages/cli/src/release/templates/footer.hbs
  packages/cli/src/release/templates/header.hbs
  packages/cli/src/release/templates/template.hbs
  packages/cli/tsconfig.json
  packages/cli/tsconfig.lib.json
  playwright.config.ts
  tools/api-extractor/tsconfig.json
  tools/api-gen/tsconfig.json
  tools/api-gen/tsconfig.rollup.json
  tools/api-gen/utils.ts
  tools/builders/packager/build.ts
  tools/builders/tsconfig.json
  tools/cspell-locales/en.json
  tools/example-module/index.ts
  tools/example-module/tsconfig.json
  tools/markdown-to-html/tsconfig.json
  tools/markdown-to-html/utils.ts
  tools/scss-compiler/scss-bundle.ts
  yarn.lock
Due: yarn run cspell --files, yamllint

fix(filter-bar): restore keyboard-only focus ring using actual input modality (#DS-5345) (#1809)
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.spec.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-date-base.ts
  packages/components/filter-bar/pipes/pipe-date.spec.ts
  packages/components/filter-bar/pipes/pipe-datetime.spec.ts
  packages/components/filter-bar/pipes/pipe-states.spec-helper.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files
