Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix(filter-bar): keep both halves of a pipe on the same style (#DS-5587) (#2074)
  packages/components/filter-bar/__screenshots__/04-pipe-fill-dark.png
  packages/components/filter-bar/__screenshots__/04-pipe-fill-light.png
  packages/components/filter-bar/e2e.playwright-spec.ts
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-state.spec.ts
  packages/components/filter-bar/pipes/pipe-state.ts
  packages/e2e/routes.ts
Due: none

fix(time-range): validate range borders and bound the swap (#DS-4642) (#2028)
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/time-range/__snapshots__/time-range.spec.ts.snap
  packages/components/time-range/constants.ts
  packages/components/time-range/time-range-editor-bridge.ts
  packages/components/time-range/time-range-editor.html
  packages/components/time-range/time-range-editor.ts
  packages/components/time-range/time-range.en.md
  packages/components/time-range/time-range.ru.md
  packages/components/time-range/time-range.scss
  packages/components/time-range/time-range.service.ts
  packages/components/time-range/time-range.spec.ts
  packages/components/time-range/time-range.ts
  packages/docs-examples/components/time-range/time-range-min-max/time-range-min-max-example.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(markdown, scrollbar): customize the native scrollbars of the markdown content (#DS-4089) (#2051)
  packages/components/markdown/__snapshots__/markdown.component.spec.ts.snap
  packages/components/markdown/markdown.component.spec.ts
  packages/components/markdown/markdown.component.ts
  packages/components/markdown/markdown.service.ts
Due: none

fix(breadcrumbs): never submit a surrounding form (#DS-5597) (#2081)
  packages/components/breadcrumbs/breadcrumbs.spec.ts
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/components/breadcrumbs/e2e.playwright-spec.ts
  packages/components/breadcrumbs/e2e.ts
  packages/e2e/routes.ts
Due: none

fix(modal): do not close on a right click outside the window (#DS-5566) (#2088)
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.en.md
  packages/components/modal/modal.ru.md
  packages/components/modal/modal.spec.ts
  packages/components/sidepanel/sidepanel.en.md
  packages/components/sidepanel/sidepanel.ru.md
Due: yarn run cspell --files

fix(accordion): initial [expanded]="true" collapsed on init (#DS-5624) (#2084)
  packages/components/accordion/accordion-content.directive.ts
  packages/components/accordion/accordion-item.ts
  packages/components/accordion/accordion.spec.ts
  packages/components/accordion/accordion.ts
  tools/public_api_guard/components/accordion.api.md
Due: yarn run cspell --files

fix(link): wrap a trailing icon together with the last word (#DS-5532) (#2096)
  packages/components/link/_link-theme.scss
  packages/components/link/e2e.playwright-spec.ts
  packages/components/link/e2e.ts
  packages/e2e/routes.ts
  packages/e2e/utils/fonts.ts
  packages/e2e/utils/index.ts
Due: none

fix(components, schematics): bugs uncovered by the test-suite audit, and a suite that can fail again (#DS-5633) (#2082)
  jest.config.js
  packages/components/code-block/code-block-highlight.ts
  packages/components/code-block/code-block.html
  packages/components/core/a11y/key-manager/list-key-manager.spec.ts
  packages/components/core/a11y/key-manager/list-key-manager.ts
  packages/components/core/select/common.ts
  packages/components/file-upload/primitives/file-picker.spec.ts
  packages/components/file-upload/primitives/file-picker.ts
  packages/components/sidebar/sidebar.component.ts
  packages/components/sidepanel/sidepanel-directives.ts
  packages/components/sidepanel/sidepanel.spec.ts
  packages/components/tabs/tab-body.component.ts
  packages/components/tree/tree-option.component.ts
  packages/schematics/src/migrations/alert-signals/index.spec.ts
  packages/schematics/src/migrations/alert-signals/index.ts
  packages/schematics/src/migrations/alert-signals/schema.ts
  packages/schematics/src/migrations/autocomplete-panel-width-auto/index.spec.ts
  packages/schematics/src/migrations/autocomplete-panel-width-auto/index.ts
  packages/schematics/src/migrations/empty-state-size-attr/index.spec.ts
  packages/schematics/src/migrations/empty-state-size-attr/index.ts
  packages/schematics/src/migrations/filter-bar-signals/index.spec.ts
  packages/schematics/src/migrations/filter-bar-signals/index.ts
  packages/schematics/src/migrations/filter-bar-signals/schema.ts
  packages/schematics/src/migrations/icons-replacement/index.spec.ts
  packages/schematics/src/migrations/loader-overlay-size-attr/index.spec.ts
  packages/schematics/src/migrations/loader-overlay-size-attr/index.ts
  packages/schematics/src/migrations/v20-upgrade/index.spec.ts
  packages/schematics/src/migrations/v20-upgrade/index.ts
  packages/schematics/src/migrations/v20-upgrade/schema.ts
  packages/schematics/src/utils/angular-parsing.ts
  packages/schematics/src/utils/package-config.ts
  packages/schematics/src/utils/testing.ts
  packages/schematics/src/utils/typescript.ts
Due: none

fix(docs): keep welcome previews proportional on mobile (#DS-5593) (#2097)
  apps/docs/src/app/components/welcome/welcome.component.scss
Due: none

fix(accordion): content height inside kbq-content-panel (#DS-5625) (#2098)
  packages/components/accordion/accordion-content.directive.ts
  packages/components/accordion/accordion-item.ts
  packages/components/accordion/accordion.scss
  packages/components/accordion/accordion.spec.ts
  packages/components/accordion/e2e.playwright-spec.ts
  packages/components/accordion/e2e.ts
  packages/e2e/routes.ts
Due: none

fix(sidepanel): closeAll() leaving stacked panels open (#DS-5632) (#2101)
  packages/components/sidepanel/sidepanel.service.ts
  packages/components/sidepanel/sidepanel.spec.ts
Due: none

fix(typography): load JetBrains Mono 600 used by the mono-normal-medium level (#2104)
  apps/docs/src/assets/stackblitz/src/index.html
  apps/docs/src/styles/_fonts.scss
  packages/components-dev/icon-adopted-stylesheets/global.scss
  packages/components-dev/main.scss
  packages/components/core/styles/typography/typography.en.md
  packages/components/core/styles/typography/typography.ru.md
  packages/components/markdown/__screenshots__/01-dark.png
  packages/components/markdown/__screenshots__/01-light.png
  packages/e2e/main.scss
Due: yarn run cspell --files

fix(typography): add the kbq-mono-normal-medium and kbq-mono-codeblock classes (#2102)
  packages/components/core/styles/typography/__screenshots__/01-light.png
  packages/components/core/styles/typography/_typography.scss
Due: none

chore: regenerate the public API guard for the 20.3.2 backports
  tools/public_api_guard/components/accordion.api.md
  tools/public_api_guard/components/breadcrumbs.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/modal.api.md
  tools/public_api_guard/components/time-range.api.md
Due: yarn run cspell --files

test(e2e): regenerate the screenshot baselines for this line
  packages/components/button-toggle/__screenshots__/03-dark.png
  packages/components/button-toggle/__screenshots__/04-light.png
  packages/components/core/styles/typography/__screenshots__/01-light.png
  packages/components/file-upload/__screenshots__/05-light.png
  packages/components/filter-bar/__screenshots__/01-dark.png
  packages/components/filter-bar/__screenshots__/01-light.png
  packages/components/link/__screenshots__/01-dark.png
  packages/components/link/__screenshots__/01-light.png
  packages/components/modal/__screenshots__/04-dark.png
  packages/components/modal/__screenshots__/04-light.png
Due: none

test(file-upload): settle the file name split before the screenshot (#2049)
  packages/components/file-upload/__screenshots__/05-light.png
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
Due: none

chore(dev): drop the SSR exclusions that match no example on this line
  packages/components-dev/ssr/routes.ts
Due: none

test(form-field): disable partial raster for the autofill screenshots (#2107)
  docs/e2e-flakiness.md
  packages/components/form-field/e2e.playwright-spec.ts
Due: yarn run cspell --files

refactor: move the copy page button out to DS-5666
  AGENTS.md
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/components/copy-page/copy-page.spec.ts
  apps/docs/src/app/components/copy-page/copy-page.ts
  apps/docs/src/app/components/design-tokens-viewers/design-tokens-viewer.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/clipboard.ts
  apps/docs/src/app/services/i18n.ts
Due: yarn run cspell --files

feat(docs): add a copy page button that hands the Markdown of a page to AI assistants (#DS-5666)
  AGENTS.md
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/components/copy-page/copy-page.spec.ts
  apps/docs/src/app/components/copy-page/copy-page.ts
  apps/docs/src/app/components/design-tokens-viewers/design-tokens-viewer.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/clipboard.ts
  apps/docs/src/app/services/i18n.ts
Due: yarn run cspell --files

feat(docs): link the Markdown of a page from its own host and locale (#DS-4900)
  AGENTS.md
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/page-paths.ts
  apps/docs/src/app/services/seo.spec.ts
  apps/docs/src/app/services/seo.ts
  tools/llms/check.ts
  tools/llms/generate.ts
  tools/llms/sources.ts
Due: yarn run cspell --files

docs: fit the agent best practices to this repo and drop outdated rules (#2108)
  AGENTS.md
Due: yarn run cspell --files

chore: bump version to 20.3.2 w/ changelog
  CHANGELOG.md
  apps/docs/src/app/structure.ts
  apps/docs/src/llms-full.txt
  apps/docs/src/llms.txt
  package.json
Due: yarn run cspell --files

ci: run the branch workflows on 20.4.x
  .github/workflows/api.yml
  .github/workflows/e2e.yml
  .github/workflows/license.yml
  .github/workflows/linters.yml
  .github/workflows/units.yml
Due: yamllint

docs(filter-bar): localize the data of the examples (#2020)
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/tk-TM.ts
  tools/example-module/generate-example-module.ts
Due: none

feat(list): "select all" row in kbq-list-selection (#DS-4036) (#2006)
  packages/components-dev/list/module.ts
  packages/components-dev/list/template.html
  packages/components/core/locales/types.ts
  packages/components/list/__screenshots__/03-dark.png
  packages/components/list/__screenshots__/03-light.png
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/e2e.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/docs-examples/components/list/index.ts
  packages/docs-examples/components/list/list-select-all/list-select-all-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
Due: yarn run cspell --files

fix(tabs): align overflow on scale (#DS-5520) (#2014)
  packages/components/core/utils/dom.ts
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
  packages/components/tabs/e2e.playwright-spec.ts
  packages/components/tabs/e2e.ts
  packages/components/tabs/paginated-tab-header.ts
  packages/components/tabs/tab-header.spec.ts
Due: none

feat(tabs): scroll in paginated tabs (#DS-4259) (#1976)
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
  packages/components/tabs/_tabs-common.scss
  packages/components/tabs/paginated-tab-header.ts
  packages/components/tabs/tab-group.scss
  packages/components/tabs/tab-header.html
  packages/components/tabs/tab-header.scss
  packages/components/tabs/tab-header.spec.ts
  packages/components/tabs/tab-label-wrapper.directive.ts
  packages/components/tabs/tab-nav-bar.html
  packages/components/tabs/tab-nav-bar.scss
  packages/components/tabs/tab-nav-bar.spec.ts
  packages/components/tabs/tab-nav-bar.ts
  packages/components/tabs/tabs.en.md
  packages/components/tabs/tabs.ru.md
Due: yarn run cspell --files

chore(tooltip,ellipsis-center,title): load styles with directive and synced disabled (#DS-5271) (#2018)
  packages/components/ellipsis-center/e2e.playwright-spec.ts
  packages/components/ellipsis-center/e2e.ts
  packages/components/ellipsis-center/ellipsis-center.directive.ts
  packages/components/ellipsis-center/ellipsis-center.scss
  packages/components/file-upload/file-upload.scss
  packages/docs-examples/components/breadcrumbs/breadcrumbs-truncate-center-items/breadcrumbs-truncate-center-items-example.ts
  packages/e2e/routes.ts
Due: none

docs(list): shorten select all description (#DS-4036) (#2030)
  packages/components/list/list.ru.md
Due: yarn run cspell --files

feat(core): add error state matcher for cross field validation (#DS-401) (#2047)
  packages/components-dev/input/module.ts
  packages/components-dev/validation/module.ts
  packages/components/core/error/error-state-matcher.spec.ts
  packages/components/core/error/error-state-matcher.ts
  packages/components/core/validation/examples.validation.en.md
  packages/components/core/validation/examples.validation.ru.md
  packages/components/form-field/form-field.spec.ts
  packages/components/input/examples.input.en.md
  packages/components/input/examples.input.ru.md
  packages/docs-examples/components/input/index.ts
  packages/docs-examples/components/input/input-change-password/input-change-password-example.ts
  packages/docs-examples/components/validation/index.ts
  packages/docs-examples/components/validation/validation-cross-field-async/validation-cross-field-async-example.ts
  packages/docs-examples/components/validation/validation-cross-field-dates/validation-cross-field-dates-example.ts
  packages/docs-examples/components/validation/validation-cross-field-password/validation-cross-field-password-example.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(filter-bar): captions and wrapping for select pipe options (#DS-4952) (#2021)
  packages/components-dev/filter-bar/module.ts
  packages/components/core/option/_option-theme.scss
  packages/components/filter-bar/__screenshots__/03-option-caption-dark.png
  packages/components/filter-bar/__screenshots__/03-option-caption-light.png
  packages/components/filter-bar/e2e.playwright-spec.ts
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/select-pipe-search.ts
  packages/components/select/__screenshots__/02-dark.png
  packages/components/select/__screenshots__/02-light.png
  packages/components/select/select-option.directive.ts
  packages/components/select/select.component.spec.ts
  packages/docs-examples/components/filter-bar/filter-bar-option-caption/filter-bar-option-caption-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

test(modal, form-field): settle the scrollbar and the autofill animations before the screenshots (#2045)
  packages/components/form-field/e2e.playwright-spec.ts
Due: none

feat(inline-edit): async save with progress and server error states (#DS-4384) (#2068)
  packages/components-dev/inline-edit/module.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/inline-edit/__screenshots__/08-dark.png
  packages/components/inline-edit/__screenshots__/08-light.png
  packages/components/inline-edit/__screenshots__/09-dark.png
  packages/components/inline-edit/__screenshots__/09-light.png
  packages/components/inline-edit/__screenshots__/10-dark.png
  packages/components/inline-edit/__screenshots__/10-light.png
  packages/components/inline-edit/__screenshots__/11-dark.png
  packages/components/inline-edit/__screenshots__/11-light.png
  packages/components/inline-edit/e2e.playwright-spec.ts
  packages/components/inline-edit/e2e.ts
  packages/components/inline-edit/inline-edit-tokens.scss
  packages/components/inline-edit/inline-edit.en.md
  packages/components/inline-edit/inline-edit.html
  packages/components/inline-edit/inline-edit.ru.md
  packages/components/inline-edit/inline-edit.scss
  packages/components/inline-edit/inline-edit.spec.ts
  packages/components/inline-edit/inline-edit.ts
  packages/docs-examples/components/inline-edit/index.ts
  packages/docs-examples/components/inline-edit/inline-edit-save-error/inline-edit-save-error-example.ts
  packages/docs-examples/components/inline-edit/inline-edit-save-invalid-items/inline-edit-save-invalid-items-example.ts
  packages/docs-examples/components/inline-edit/inline-edit-save-progress/inline-edit-save-progress-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore: regenerate the public API guard for the 20.4.0 backports
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/ellipsis-center.api.md
  tools/public_api_guard/components/inline-edit.api.md
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

test(form-field): disable partial raster for the autofill screenshots (#2107)
  packages/components/form-field/e2e.playwright-spec.ts
Due: none

docs(ag-grid): add an example of overflow items in cells (#DS-4572) (#2087)
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  packages/components-dev/ag-grid/module.ts
  packages/docs-examples/components/ag-grid/ag-grid-long-cell-content/ag-grid-long-cell-content-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

test(e2e): regenerate the screenshot baselines for 20.4.x
  packages/components/inline-edit/__screenshots__/10-dark.png
  packages/components/inline-edit/__screenshots__/10-light.png
  packages/components/select/__screenshots__/02-dark.png
  packages/components/select/__screenshots__/02-light.png
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
Due: none

test(list): restore the static multiple attribute of the select all test host
  packages/components/list/list-selection.component.spec.ts
Due: none

chore: bump version to 20.4.0 w/ changelog
  CHANGELOG.md
  apps/docs/src/llms-full.txt
  apps/docs/src/llms.txt
  package.json
Due: yarn run cspell --files
