Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

chore(docs): added automatic algolia docsearch crawler launch
  .github/workflows/docs-stable.yml
  apps/docs/scripts/generate-sitemap.js
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/components/docsearch/docsearch.component.scss
  apps/docs/src/app/components/docsearch/docsearch.component.spec.ts
  apps/docs/src/app/components/docsearch/docsearch.component.ts
  apps/docs/src/app/components/sidenav/sidenav.component.html
  apps/docs/src/sitemap.xml
  package.json
  yarn.lock
Due: yamllint

fix(file-upload): mark single upload with kbq-error on hasError = tru… (#372)
  packages/components/file-upload/single-file-upload.component.html
Due: none

chore(docs): added missing selectors
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
Due: none

chore(docs): added missing selectors (#376)
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
Due: none

svg icons styles from icon components
  packages/components-dev/svg-icon/module.ts
  packages/components-dev/svg-icon/template.html
  packages/components/svg-icon/_svg-icon-theme.scss
  packages/components/svg-icon/svg-icon.component.ts
  packages/components/svg-icon/svg-icon.scss
Due: none

refactor: component to directive
  apps/docs/src/app/components/docsearch/docsearch.directive.spec.ts
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  apps/docs/src/app/components/navbar/navbar.module.ts
Due: none

refactor: updated docs readme
  .github/workflows/actions/build-packages/entrypoint.sh
  apps/docs/README.md
  package.json
Due: yarn run cspell --files

svg-icon-item component
  packages/components-dev/svg-icon/module.ts
  packages/components-dev/svg-icon/template.html
  packages/components/svg-icon/_svg-icon-item-theme.scss
  packages/components/svg-icon/svg-icon-item.component.ts
  packages/components/svg-icon/svg-icon-item.scss
  packages/components/svg-icon/svg-icon-registry.service.ts
  packages/components/svg-icon/svg-icon.component.ts
  packages/components/svg-icon/svg-icon.module.ts
Due: none

chore(docs): added automatic algolia docsearch crawler launch (#DS-2661) (#374)
  .github/workflows/actions/build-packages/entrypoint.sh
  .github/workflows/docs-stable.yml
  apps/docs/README.md
  apps/docs/scripts/generate-sitemap.js
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/components/docsearch/docsearch.component.scss
  apps/docs/src/app/components/docsearch/docsearch.component.spec.ts
  apps/docs/src/app/components/docsearch/docsearch.directive.spec.ts
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  apps/docs/src/app/components/navbar/navbar.module.ts
  apps/docs/src/app/components/sidenav/sidenav.component.html
  apps/docs/src/sitemap.xml
  package.json
  yarn.lock
Due: yarn run cspell --files, yamllint

svg-icon-button component
  packages/components-dev/svg-icon/template.html
  packages/components/svg-icon/_svg-icon-button-theme.scss
  packages/components/svg-icon/svg-icon-button.component.ts
  packages/components/svg-icon/svg-icon-button.scss
  packages/components/svg-icon/svg-icon.component.ts
  packages/components/svg-icon/svg-icon.module.ts
Due: none

fixes
  packages/components-dev/svg-icon/module.ts
  packages/components/svg-icon/public-api.ts
  packages/components/svg-icon/svg-icon-tokens.scss
Due: none

feat(experimental): added special selectors for experimental form-field compoents
  .commitlintrc.js
  package.json
  packages/components-experimental/form-field/_form-field-theme.scss
  packages/components-experimental/form-field/_hint-theme.scss
  packages/components-experimental/form-field/cleaner.scss
  packages/components-experimental/form-field/cleaner.ts
  packages/components-experimental/form-field/form-field-tokens.scss
  packages/components-experimental/form-field/form-field.scss
  packages/components-experimental/form-field/form-field.ts
  packages/components-experimental/form-field/hint-tokens.scss
  packages/components-experimental/form-field/hint.scss
  packages/components-experimental/form-field/hint.ts
  packages/components-experimental/form-field/label.ts
  packages/components-experimental/form-field/password-toggle.scss
  packages/components-experimental/form-field/password-toggle.ts
  packages/components-experimental/form-field/prefix.ts
  packages/components-experimental/form-field/stepper.scss
  packages/components-experimental/form-field/stepper.ts
  packages/components-experimental/form-field/suffix.ts
Due: none

refactor: snapshots
  packages/components-experimental/form-field/__snapshots__/form-field.spec.ts.snap
Due: none

feat(input): added property [integer] (#DS-1915)
  packages/components-dev/input/template.html
  packages/components/input/input-number.spec.ts
  packages/components/input/input-number.ts
Due: none

fix: update golden files
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/input/input-number.ts
Due: none

fix: update golden file
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

fix: added integer input in docs
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.html
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.ts
Due: none

feat(input): added property [integer] (#DS-1915) (#375)
  packages/components-dev/input/template.html
  packages/components/input/input-number.spec.ts
  packages/components/input/input-number.ts
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.html
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.ts
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

feat(experimental): added special selectors for experimental form-field compoents (#379)
  .commitlintrc.js
  package.json
  packages/components-experimental/form-field/__snapshots__/form-field.spec.ts.snap
  packages/components-experimental/form-field/_form-field-theme.scss
  packages/components-experimental/form-field/_hint-theme.scss
  packages/components-experimental/form-field/cleaner.scss
  packages/components-experimental/form-field/cleaner.ts
  packages/components-experimental/form-field/form-field-tokens.scss
  packages/components-experimental/form-field/form-field.scss
  packages/components-experimental/form-field/form-field.ts
  packages/components-experimental/form-field/hint-tokens.scss
  packages/components-experimental/form-field/hint.scss
  packages/components-experimental/form-field/hint.ts
  packages/components-experimental/form-field/label.ts
  packages/components-experimental/form-field/password-toggle.scss
  packages/components-experimental/form-field/password-toggle.ts
  packages/components-experimental/form-field/prefix.ts
  packages/components-experimental/form-field/stepper.scss
  packages/components-experimental/form-field/stepper.ts
  packages/components-experimental/form-field/suffix.ts
Due: none

fix(number-input): errors in "number-input" without localeService (#DS-3016)
  .commitlintrc.js
  packages/components/core/locales/locale-service.ts
  packages/components/input/input-number.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

fix: build
  packages/components/input/input-number.ts
Due: none

fix: after review
  packages/components/core/locales/locale-service.ts
  packages/components/input/input-number.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(file-upload): separated validation from file-upload (#DS-2554)
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/template.html
  packages/components-dev/file-upload/validation.ts
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload.scss
  packages/components/file-upload/file-upload.ts
  packages/components/file-upload/single-file-upload.component.html
  packages/components/file-upload/single-file-upload.component.scss
  packages/components/file-upload/single-file-upload.component.ts
Due: none

fix(docs,file-upload): added validation examples for new approach (#DS-2554)
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/template.html
  packages/components-dev/file-upload/validation.ts
  packages/components/file-upload/examples.file-upload.md
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
  packages/docs-examples/components/file-upload/file-upload-cva-overview/file-upload-cva-overview-example.css
  packages/docs-examples/components/file-upload/file-upload-cva-overview/file-upload-cva-overview-example.html
  packages/docs-examples/components/file-upload/file-upload-cva-overview/file-upload-cva-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-indeterminate-loading-overview/file-upload-indeterminate-loading-overview-example.html
  packages/docs-examples/components/file-upload/file-upload-indeterminate-loading-overview/file-upload-indeterminate-loading-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-compact-overview/file-upload-multiple-compact-overview-example.css
  packages/docs-examples/components/file-upload/file-upload-multiple-compact-overview/file-upload-multiple-compact-overview-example.html
  packages/docs-examples/components/file-upload/file-upload-multiple-compact-overview/file-upload-multiple-compact-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-custom-text-overview/file-upload-multiple-custom-text-overview-example.css
  packages/docs-examples/components/file-upload/file-upload-multiple-custom-text-overview/file-upload-multiple-custom-text-overview-example.html
  packages/docs-examples/components/file-upload/file-upload-multiple-custom-text-overview/file-upload-multiple-custom-text-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-default-overview/file-upload-multiple-default-overview-example.css
  packages/docs-examples/components/file-upload/file-upload-multiple-default-overview/file-upload-multiple-default-overview-example.html
  packages/docs-examples/components/file-upload/file-upload-multiple-default-overview/file-upload-multiple-default-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-default-validation-reactive-forms-overview/file-upload-multiple-default-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-error-overview/file-upload-multiple-error-overview-example.css
  packages/docs-examples/components/file-upload/file-upload-multiple-error-overview/file-upload-multiple-error-overview-example.html
  packages/docs-examples/components/file-upload/file-upload-multiple-error-overview/file-upload-multiple-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-error-overview/file-upload-single-error-overview-example.css
  packages/docs-examples/components/file-upload/file-upload-single-error-overview/file-upload-single-error-overview-example.html
  packages/docs-examples/components/file-upload/file-upload-single-error-overview/file-upload-single-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-overview/file-upload-single-overview-example.css
  packages/docs-examples/components/file-upload/file-upload-single-overview/file-upload-single-overview-example.html
  packages/docs-examples/components/file-upload/file-upload-single-overview/file-upload-single-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-validation-reactive-forms-overview/file-upload-single-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

fix(file-upload,core): comments after review
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/validation.ts
  packages/components/core/forms/file-validators.ts
  packages/components/core/forms/index.ts
  packages/components/core/forms/validators.spec.ts
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
  packages/docs-examples/components/file-upload/file-upload-cva-overview/file-upload-cva-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-indeterminate-loading-overview/file-upload-indeterminate-loading-overview-example.css
  packages/docs-examples/components/file-upload/file-upload-indeterminate-loading-overview/file-upload-indeterminate-loading-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-compact-overview/file-upload-multiple-compact-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-default-overview/file-upload-multiple-default-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-default-validation-reactive-forms-overview/file-upload-multiple-default-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-error-overview/file-upload-multiple-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-error-overview/file-upload-single-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-overview/file-upload-single-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-validation-reactive-forms-overview/file-upload-single-validation-reactive-forms-overview-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

fix(number-input): errors in "number-input" without localeService (#DS-3016) (#378)
  .commitlintrc.js
  packages/components/core/locales/locale-service.ts
  packages/components/input/input-number.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

fix(file-upload,core): updated golden files
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

chore: bump version to 18.3.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

fix(docs): updated example module
  packages/docs-examples/example-module.ts
Due: none

fix(file-upload): updated tests
  packages/components/file-upload/file-upload.spec.ts
Due: none

chore(docs): fix algolia docsearch crawler name
  .github/workflows/docs-stable.yml
Due: yamllint

fix(file-upload): updated karma tests
  packages/components/file-upload/file-upload.karma-spec.ts
Due: none

chore(docs): fix algolia docsearch crawler name (#380)
  .github/workflows/docs-stable.yml
Due: yamllint

feat(docs): updated docs for theming (#DS-2622)
  docs/guides/theming.md
Due: yarn run cspell --files

feat(docs): returned back selectors
  docs/guides/theming.md
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
