Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix(docs): docsearch always finds nothing
  apps/docs/src/app/components/docsearch/docsearch.component.ts
Due: none

fix(docs): docsearch always finds nothing (#199)
  apps/docs/src/app/components/docsearch/docsearch.component.ts
Due: none

approved api
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

mixin universal rename
  packages/components/core/styles/common/_tokens.scss
  packages/components/radio/radio.scss
Due: none

added new sum params mixin
  packages/components/core/styles/common/_tokens.scss
  packages/components/radio/radio.scss
Due: none

add mixin to scrollbar theme
  packages/components/core/styles/theming/_scrollbar-theme.scss
Due: none

add difference mixin + rename sum mixin
  packages/components/core/styles/common/_tokens.scss
  packages/components/radio/radio.scss
Due: none

mixin defference implements to select
  packages/components/core/styles/common/_select.scss
Due: none

difference mixin implements to tabs
  packages/components/tabs/_tabs-common.scss
Due: none

difference mixin added to tag-list
  packages/components/tags/tag-list.scss
Due: none

difference mixin implements to tree option
  packages/components/tree/tree-option.scss
Due: none

mixin half difference implements to toggle
  packages/components/toggle/toggle.scss
Due: none

difference mixin implements to input
  packages/components/input/input.scss
Due: none

sum mixin implements to checkbox
  packages/components/checkbox/checkbox.scss
Due: none

sum mixin implements to button toggle
  packages/components/button-toggle/button-toggle.scss
Due: none

add mixins to uploads styles + fix in button toggle
  packages/components/button-toggle/button-toggle.scss
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/single-file-upload.component.scss
Due: none

prettier fix
  packages/components/button-toggle/button-toggle.scss
  packages/components/checkbox/checkbox.scss
  packages/components/core/styles/common/_select.scss
  packages/components/core/styles/common/_tokens.scss
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/single-file-upload.component.scss
  packages/components/input/input.scss
  packages/components/tabs/_tabs-common.scss
  packages/components/tags/tag-list.scss
  packages/components/tree/tree-option.scss
Due: none

chore: added contributor analytics
  README.md
Due: yarn run cspell --files

revert fixes
  packages/components-dev/toast/module.ts
  packages/components/toast/toast.component.html
  packages/components/toast/toast.component.scss
  packages/components/toast/toast.component.ts
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

fix(docs): fixed calendar doubleclicks (#DS-2728) (#195)
  packages/docs-examples/components/datepicker/datepicker-overview/datepicker-overview-example.ts
Due: none

toast close icons top by calc variables
  packages/components/toast/toast.component.scss
Due: none

review fix
  packages/components/toast/toast.component.html
Due: none

chore: fixed formatters and added notification to pr bot
  .github/workflows/pr-notify.yml
  README.md
  tools/cspell-locales/en.json
Due: yarn run cspell --files, yamllint

feat: added restore version.ts in pre-commit hook
  .husky/pre-commit
Due: none

feat: added restore version.ts in pre-commit hook (#202)
  .husky/pre-commit
Due: none

chore: bump version to 17.0.3 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

review fix
  packages/components/button-toggle/button-toggle.scss
Due: none

cspell
  tools/cspell-locales/en.json
Due: none

refactor: code review
  .eslintrc.js
  jest.config.js
Due: none

fix(toast): added kbq-title for toasts (#DS-2726) (#197)
  packages/components-dev/toast/module.ts
  packages/components/toast/toast.component.html
  packages/components/toast/toast.module.ts
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

fix(datepicker): use min/max in calendar in input (#DS-2610)
  packages/components-dev/datepicker/module.ts
  packages/components/datepicker/calendar-header.component.ts
  packages/components/datepicker/calendar-header.html
  packages/components/datepicker/datepicker-input.directive.ts
Due: none

fix:disabled state for cell and prev button
  packages/components/datepicker/_datepicker-theme.scss
  packages/components/datepicker/calendar-header.component.ts
Due: none

fix: update golden files
  tools/public_api_guard/components/datepicker.api.md
Due: yarn run cspell --files

fix: linter
  packages/components/datepicker/_datepicker-theme.scss
  packages/components/datepicker/calendar-header.component.ts
  packages/components/datepicker/calendar-header.html
Due: none

fix: unit
  packages/components/datepicker/datepicker.spec.ts
Due: none

fix: review
  packages/components/datepicker/calendar-header.component.ts
  tools/public_api_guard/components/datepicker.api.md
Due: yarn run cspell --files

fix added example
  packages/components-dev/navbar/template.html
  packages/components/navbar/navbar.md
  packages/components/navbar/vertical-navbar.component.ts
  packages/docs-examples/components/navbar/index.ts
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.css
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.html
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files
