Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix: after review
  packages/components/core/formatters/date/date-formatter.en.md
  packages/components/core/formatters/date/date-formatter.ru.md
  packages/components/core/formatters/date/formatter.pipe.ts
  packages/components/core/formatters/date/formatter.spec.ts
Due: yarn run cspell --files

feat(inline-edit): only overlay for single select (#DS-4870) (#1840)
  packages/components-dev/inline-edit/module.ts
  packages/components/core/form-field/form-field-ref.ts
  packages/components/form-field/form-field.ts
  packages/components/inline-edit/__screenshots__/06-dark.png
  packages/components/inline-edit/__screenshots__/06-light.png
  packages/components/inline-edit/e2e.playwright-spec.ts
  packages/components/inline-edit/e2e.ts
  packages/components/inline-edit/inline-edit.en.md
  packages/components/inline-edit/inline-edit.html
  packages/components/inline-edit/inline-edit.ru.md
  packages/components/inline-edit/inline-edit.scss
  packages/components/inline-edit/inline-edit.spec.ts
  packages/components/inline-edit/inline-edit.ts
  packages/docs-examples/components/inline-edit/index.ts
  packages/docs-examples/components/inline-edit/inline-edit-select-basic/inline-edit-select-basic-example.ts
  packages/docs-examples/components/inline-edit/inline-edit-select-multiline/inline-edit-select-multiline-example.ts
  packages/docs-examples/components/inline-edit/inline-edit-select/inline-edit-select-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/inline-edit.api.md
Due: yarn run cspell --files

fix(select): don't select the first option when search emits on a closed panel
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
Due: none

feat(core): add duration date pipes (#DS-4652) (#1843)
  packages/components-dev/date-pipes/module.ts
  packages/components-dev/date-pipes/template.html
  packages/components/core/formatters/date/date-formatter.en.md
  packages/components/core/formatters/date/date-formatter.ru.md
  packages/components/core/formatters/date/formatter.pipe.ts
  packages/components/core/formatters/date/formatter.spec.ts
  packages/components/core/formatters/index.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(docs): added Sentry integration (#DS-3688)
  angular.json
  apps/docs/src/config.browser.ts
  apps/docs/src/main.browser.ts
  apps/docs/src/main.ts
  apps/docs/tsconfig.app.json
  package.json
  yarn.lock
Due: none

feat(tree): move focus to the parent node on repeated arrow left (#DS-4750)
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
  packages/components/tree/tree.en.md
  packages/components/tree/tree.ru.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

chore(e2e): run Playwright visual tests in Docker (#DS-5311)
  .dockerignore
  .gitattributes
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  AGENTS.md
  docs/guides/06-testing.md
  package.json
  packages/e2e/README.md
  playwright.config.ts
  tools/e2e/Dockerfile
  tools/e2e/assert-browsers.js
  tools/e2e/docker-compose.update.yml
  tools/e2e/docker-compose.yml
  tools/e2e/run.js
Due: yarn run cspell --files, yamllint

fix: after review
  .github/workflows/e2e.yml
  tools/e2e/Dockerfile
  tools/e2e/assert-browsers.js
Due: yamllint

chore(deps-dev): bump @playwright/test from 1.55.0 to 1.62.1 (#DS-5215)
  .yarnrc.yml
  package.json
  playwright.config.ts
  yarn.lock
Due: yamllint

chore(deps-dev): bump ip-address from 10.2.0 to 10.4.0 and hono from 4.12.33 to 4.13.0 (#DS-5215)
  yarn.lock
Due: none

chore(deps-dev): bump ip-address from 10.2.0 to 10.4.0 and hono from 4.12.33 to 4.13.0 (#DS-5215) (#1851)
  yarn.lock
Due: none

fix(components)!: unresolvable peerDependencies break npm install (#DS-4889)
  .github/workflows/build.yml
  .github/workflows/linters.yml
  .github/workflows/publish.yml
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
  package.json
  packages/angular-luxon-adapter/package.json
  packages/angular-moment-adapter/package.json
  packages/components-experimental/package.json
  packages/components/package.json
  packages/docs-examples/package.json
  packages/schematics/rollup.config.js
  packages/schematics/src/ng-add/__snapshots__/ng-add.spec.ts.snap
  packages/schematics/src/ng-add/index.ts
  tools/builders/packager/build.ts
  tools/check-npm-resolution/index.ts
  tools/check-npm-resolution/tsconfig.json
  tools/check-peer-deps/index.ts
  tools/check-peer-deps/tsconfig.json
  yarn.lock
Due: yarn run cspell --files, yamllint

fix: after review
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree/tree-selection.component.spec.ts
Due: none

fix: after review
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
  packages/docs-examples/package.json
  packages/schematics/rollup.config.js
  packages/schematics/src/ng-add/__snapshots__/ng-add.spec.ts.snap
  packages/schematics/src/ng-add/index.ts
  packages/schematics/src/ng-add/ng-add.spec.ts
  tools/builders/packager/build.ts
  tools/check-npm-resolution/index.ts
  tools/check-peer-deps/index.ts
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/input/__screenshots__/04-light.png
Due: none

fix(list): errors following a full review of the component (#DS-5402)
  packages/components/list/_list-theme.scss
  packages/components/list/list-option.html
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list-tokens.scss
  packages/components/list/list.component.spec.ts
  packages/components/list/list.component.ts
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/components/list/list.scss
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

fix(navbar): errors following a full review of the component (#DS-5403)
  packages/components-dev/navbar/template.html
  packages/components/navbar/_navbar-item_horizontal.scss
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/_navbar-theme.scss
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/e2e.ts
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-divider.scss
  packages/components/navbar/navbar-item.component.html
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar-item.scss
  packages/components/navbar/navbar-toggle.component.ts
  packages/components/navbar/navbar-toggle.scss
  packages/components/navbar/navbar-tokens.scss
  packages/components/navbar/navbar.component.html
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.component.ts
  packages/components/navbar/navbar.scss
  packages/components/navbar/vertical-navbar.component.ts
  packages/components/navbar/vertical-navbar.scss
  packages/components/tooltip/tooltip.component.ts
  packages/docs-examples/components/navbar/navbar-template-outlet/navbar-template-outlet-example.html
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.html
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.html
  packages/e2e/routes.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/navbar-signals-and-aria/README.md
  packages/schematics/src/migrations/navbar-signals-and-aria/data.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/schema.json
  packages/schematics/src/migrations/navbar-signals-and-aria/schema.ts
  tools/public_api_guard/components/navbar.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

fix(form-field): sync heights inside fieldset (#DS-5370) (#1841)
  packages/components-dev/form-field/module.ts
  packages/components/form-field/e2e.playwright-spec.ts
  packages/components/form-field/fieldset.scss
Due: none

fix(timepicker): prevent extra digits when editing incomplete time
  packages/components/timepicker/e2e.playwright-spec.ts
  packages/components/timepicker/e2e.ts
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timepicker/timepicker.spec.ts
Due: none

refactor: docs
  apps/docs/src/app/app.component.html
  apps/docs/src/app/components/component-viewer/component-viewer.component.spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/design-tokens-viewers/design-tokens-viewer.ts
  apps/docs/src/app/components/design-tokens-viewers/typography-overview.ts
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.ts
  apps/docs/src/app/components/sidenav/sidenav.html
  apps/docs/src/app/components/sidenav/sidenav.ts
  apps/docs/src/app/components/welcome/welcome.component.html
  apps/docs/src/app/components/welcome/welcome.component.scss
  apps/docs/src/app/components/welcome/welcome.component.ts
  apps/docs/src/app/services/doc-states.spec.ts
  apps/docs/src/app/services/doc-states.ts
  packages/components/scrollbar/e2e.playwright-spec.ts
  packages/components/scrollbar/e2e.ts
  packages/components/scrollbar/scrollbar.scss
  packages/components/scrollbar/scrollbar.spec.ts
  packages/components/scrollbar/scrollbar.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
Due: none

fix(timepicker): handle nullable caret and stabilize mask e2e test
  packages/components/timepicker/e2e.playwright-spec.ts
  packages/components/timepicker/timepicker.directive.ts
Due: none

fix(list,select): disabled and selected (#DS-5375)
  packages/components/core/option/_option-theme.scss
  packages/components/list/__screenshots__/02-light.png
  packages/components/list/_list-theme.scss
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/e2e.ts
  packages/components/select/__screenshots__/05-light.png
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/e2e.ts
  packages/e2e/routes.ts
Due: none

refactor: deps
  package.json
  yarn.lock
Due: none

test: updated e2e snapshots
  packages/components/list/__screenshots__/02-light.png
  packages/components/select/__screenshots__/05-light.png
Due: none

feat(core): theme service refactor (#DS-3003)
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  apps/docs/src/app/components/navbar/navbar.component.ts
  apps/docs/src/app/components/navbar/navbar.template.html
  apps/docs/src/app/components/welcome/welcome.component.ts
  apps/docs/src/app/config.ts
  docs/guides/migration.en.md
  packages/components-dev/theme-toggle.ts
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  packages/docs-examples/components/empty-state/empty-state-content/empty-state-content-example.ts
  packages/docs-examples/components/notification-center/notification-center-empty/notification-center-empty-example.ts
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.ts
  packages/docs-examples/components/notification-center/notification-center-infinite-scroll/notification-center-infinite-scroll-example.ts
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.ts
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.ts
  packages/docs-examples/components/notification-center/notification-center-push/notification-center-push-example.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat: usage auto with custom themes, simplified API
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: cspell and tests
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.spec.ts
  docs/guides/migration.ru.md
Due: yarn run cspell --files

refactor: simplify
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.ts
  apps/docs/src/app/components/icons-viewer/icons-viewer.scss
  apps/docs/src/app/components/icons-viewer/icons-viewer.template.html
  apps/docs/src/app/components/welcome/welcome.component.html
  apps/docs/src/app/components/welcome/welcome.component.scss
  apps/docs/src/app/components/welcome/welcome.component.ts
  packages/components-dev/scrollbar/module.ts
  packages/components/core/styles/theming/_scrollbar-theme.scss
  packages/components/core/styles/theming/scrollbar-tokens.scss
  packages/components/scrollbar/__screenshots__/01-dark.png
  packages/components/scrollbar/__screenshots__/01-light.png
  packages/components/scrollbar/e2e.playwright-spec.ts
  packages/components/scrollbar/e2e.ts
  packages/components/scrollbar/index.ts
  packages/components/scrollbar/scrollbar-track.scss
  packages/components/scrollbar/scrollbar-viewport.scss
  packages/components/scrollbar/scrollbar.en.md
  packages/components/scrollbar/scrollbar.module.ts
  packages/components/scrollbar/scrollbar.ru.md
  packages/components/scrollbar/scrollbar.scss
  packages/components/scrollbar/scrollbar.spec.ts
  packages/components/scrollbar/scrollbar.ts
  packages/docs-examples/components/scrollbar/index.ts
  packages/docs-examples/components/scrollbar/scrollbar-disable-interaction/scrollbar-disable-interaction-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-native/scrollbar-native-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-overview/scrollbar-overview-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-rtl/scrollbar-rtl-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-scroll-to/scrollbar-scroll-to-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-virtual-scroll/scrollbar-virtual-scroll-example.ts
  packages/e2e/routes.ts
Due: yarn run cspell --files

docs(sidepanel): modal mode with close disabled (#DS-2313)
  packages/components-dev/sidepanel/module.ts
  packages/components/sidepanel/examples.sidepanel.en.md
  packages/components/sidepanel/examples.sidepanel.ru.md
  packages/components/sidepanel/sidepanel.en.md
  packages/components/sidepanel/sidepanel.ru.md
  packages/docs-examples/components/sidepanel/index.ts
  packages/docs-examples/components/sidepanel/sidepanel-disable-close/sidepanel-disable-close-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix(tree): start parent lookup from the key manager index (#DS-4750)
  packages/components/tree/tree-selection.component.ts
Due: none

fix: after review
  packages/components/select/select.component.ts
Due: none

fix(select): keep the active option when options are appended (#1847)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/docs-examples/components/select/select-loading/select-loading-example.ts
  packages/docs-examples/components/select/select-paging-error/select-paging-error-example.ts
  packages/docs-examples/components/select/select-paging/select-paging-example.ts
Due: none

feat(tree): move focus to the parent node on repeated arrow left (#DS-4750) (#1852)
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
  packages/components/tree/tree.en.md
  packages/components/tree/tree.ru.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

docs(sidepanel): modal mode with close disabled (#DS-2313) (#1857)
  packages/components-dev/sidepanel/module.ts
  packages/components/sidepanel/examples.sidepanel.en.md
  packages/components/sidepanel/examples.sidepanel.ru.md
  packages/components/sidepanel/sidepanel.en.md
  packages/components/sidepanel/sidepanel.ru.md
  packages/docs-examples/components/sidepanel/index.ts
  packages/docs-examples/components/sidepanel/sidepanel-disable-close/sidepanel-disable-close-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix: license
  tools/validate-licenses/validate-licenses.ts
Due: none

chore: group @eslint/* and @eslint-community/* with eslint in dependabot
  .github/dependabot.yml
Due: yamllint
