Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: removed unused styles (#DS-4684) (#1814)
  packages/components/core/styles/_koobiq-theme.scss
  packages/components/core/styles/_tokens.kbq.import.scss
  packages/components/core/styles/_tokens.scss
  packages/components/core/styles/common/_tokens.scss
  packages/components/core/styles/theming/_components-theming.scss
  packages/components/core/styles/theming/_index.scss
  packages/components/core/styles/theming/_theming.scss
  packages/components/core/styles/theming/prebuilt/dark-theme.scss
  packages/components/core/styles/theming/prebuilt/light-theme.scss
  packages/components/package.json
Due: none

test: updated e2e snapshots
  packages/components/button-toggle/__screenshots__/04-dark.png
  packages/components/button/__screenshots__/01-dark.png
  packages/components/button/__screenshots__/02-dark.png
  packages/components/button/__screenshots__/03-dark.png
  packages/components/button/__screenshots__/04-dark.png
Due: none

fix: after review
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/units.yml
  AGENTS.md
  apps/docs/src/app/structure.spec.ts
  apps/docs/src/app/structure.ts
  docs/guides/06-testing.md
  package.json
  playwright.config.ts
  playwright.docs.config.ts
  tools/cspell-locales/en.json
  tools/prune-is-new-badges/index.ts
  tools/prune-is-new-badges/prune-is-new-badges.spec.ts
  tools/prune-is-new-badges/prune-is-new-badges.ts
  tools/serve-docs.mjs
Due: yarn run cspell --files, yamllint

fix(docs): migrate remaining decorators to signal APIs, flag stale isNew badges, add e2e smoke (#DS-5390) (#1824)
  .github/workflows/e2e.yml
  .github/workflows/units.yml
  .gitignore
  AGENTS.md
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/anchors/anchors.component.spec.ts
  apps/docs/src/app/components/anchors/anchors.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/components/copy-button/copy-button.spec.ts
  apps/docs/src/app/components/example-viewer/example-viewer.ts
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.html
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.ts
  apps/docs/src/app/components/live-example/docs-live-example.ts
  apps/docs/src/app/components/sidenav/sidenav.ts
  apps/docs/src/app/components/stackblitz/stackblitz-writer.spec.ts
  apps/docs/src/app/structure.ts
  docs/guides/06-testing.md
  package.json
  playwright.docs.config.ts
  tools/cspell-locales/en.json
  tools/prune-is-new-badges/index.ts
  tools/prune-is-new-badges/prune-is-new-badges.spec.ts
  tools/prune-is-new-badges/prune-is-new-badges.ts
  tools/serve-docs.mjs
Due: yarn run cspell --files, yamllint

fix(docs): show two-tone icons (#DS-4877)
  apps/docs/src/app/components/icons-viewer/icon-preview-modal/icon-preview-modal.scss
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.ts
  apps/docs/src/app/components/icons-viewer/icons-viewer.scss
  apps/docs/src/app/components/icons-viewer/icons-viewer.template.html
  apps/docs/src/app/config.ts
  apps/docs/src/app/services/i18n.ts
  apps/docs/src/app/services/icon-items.ts
  package.json
  packages/components/icon/icon.en.md
  packages/components/icon/icon.ru.md
  packages/docs-examples/example-module.ts
  yarn.lock
Due: yarn run cspell --files

fix(dropdown,autocomplete): remove overlay hosts from layout (#DS-4886)
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.spec.ts
Due: none

refactor: review
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.spec.ts
  packages/docs-examples/components/dropdown/dropdown-disabled/dropdown-disabled-example.html
  packages/docs-examples/components/dropdown/dropdown-navigation-wrap/dropdown-navigation-wrap-example.html
  packages/docs-examples/components/dropdown/dropdown-open-by-arrow-down/dropdown-open-by-arrow-down-example.html
  packages/docs-examples/components/dropdown/dropdown-overview/dropdown-overview-example.html
  packages/docs-examples/components/dropdown/dropdown-x-position/dropdown-x-position-example.ts
Due: none

fix: after review
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/button-toggle/button-toggle.component.spec.ts
  packages/components/button-toggle/button-toggle.component.ts
  packages/components/button/button.component.spec.ts
  packages/components/button/button.component.ts
  packages/schematics/src/migrations/button-toggle-signals-and-aria/README.md
  packages/schematics/src/migrations/button-toggle-signals-and-aria/data.ts
  packages/schematics/src/migrations/button-toggle-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/button-toggle-signals-and-aria/index.ts
  tools/public_api_guard/components/button-toggle.api.md
Due: yarn run cspell --files

fix(button-toggle): errors following a full review of the component (#DS-5391)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components-dev/all/template.html
  packages/components-dev/button-toggle/template.html
  packages/components/button-toggle/button-toggle-tokens.scss
  packages/components/button-toggle/button-toggle.component.spec.ts
  packages/components/button-toggle/button-toggle.component.ts
  packages/components/button-toggle/button-toggle.en.md
  packages/components/button-toggle/button-toggle.module.ts
  packages/components/button-toggle/button-toggle.ru.md
  packages/components/button-toggle/button-toggle.scss
  packages/components/button-toggle/e2e.playwright-spec.ts
  packages/components/button-toggle/e2e.ts
  packages/components/button/button.component.spec.ts
  packages/components/button/button.component.ts
  packages/docs-examples/components/button-toggle/button-toggle-alignment-overview/button-toggle-alignment-overview-example.html
  packages/docs-examples/components/button-toggle/button-toggle-overview/button-toggle-overview-example.html
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/button-toggle-signals-and-aria/README.md
  packages/schematics/src/migrations/button-toggle-signals-and-aria/data.ts
  packages/schematics/src/migrations/button-toggle-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/button-toggle-signals-and-aria/index.ts
  packages/schematics/src/migrations/button-toggle-signals-and-aria/schema.json
  packages/schematics/src/migrations/button-toggle-signals-and-aria/schema.ts
  tools/public_api_guard/components/button-toggle.api.md
  tools/public_api_guard/components/button.api.md
Due: yarn run cspell --files

fix: after review
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/button-toggle/button-toggle-tokens.scss
  packages/components/button-toggle/button-toggle.component.ts
  packages/components/button-toggle/button-toggle.en.md
  packages/components/button-toggle/button-toggle.ru.md
  packages/components/button-toggle/e2e.ts
  packages/components/button/button.component.ts
  packages/schematics/src/migrations/button-toggle-signals-and-aria/README.md
  packages/schematics/src/migrations/button-toggle-signals-and-aria/data.ts
  tools/public_api_guard/components/button-toggle.api.md
Due: yarn run cspell --files

docs: added new words to the cspell dictionaries
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
Due: none

test: updated e2e snapshots
  packages/components/button-toggle/__screenshots__/01-dark.png
  packages/components/button-toggle/__screenshots__/02-dark.png
Due: none

refactor: review
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.spec.ts
Due: none

chore: upd yarn.lock
  yarn.lock
Due: none

test: updated e2e snapshots
  packages/components/navbar/__screenshots__/02-dark.png
  packages/components/navbar/__screenshots__/02-light.png
Due: none

chore: upd unit test
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/i18n.spec.ts
Due: none

chore: upd linter
  apps/docs/src/app/config.ts
Due: none

test: updated e2e snapshots
  packages/components/datepicker/__screenshots__/01-dark.png
  packages/components/datepicker/__screenshots__/01-light.png
  packages/components/notification-center/__screenshots__/01-dark.png
  packages/components/notification-center/__screenshots__/01-light.png
Due: none

feat(dl): added align inputs (#DS-2448)
  packages/components/dl/dl.component.spec.ts
  packages/components/dl/dl.component.ts
  packages/components/dl/dl.scss
  packages/components/dl/e2e.ts
  tools/public_api_guard/components/dl.api.md
Due: yarn run cspell --files

fix(dropdown,autocomplete,filter-bar): remove overlay hosts from layout (#DS-4886) (#1806)
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.spec.ts
  packages/components/navbar/__screenshots__/02-dark.png
  packages/components/navbar/__screenshots__/02-light.png
  packages/docs-examples/components/dropdown/dropdown-disabled/dropdown-disabled-example.html
  packages/docs-examples/components/dropdown/dropdown-navigation-wrap/dropdown-navigation-wrap-example.html
  packages/docs-examples/components/dropdown/dropdown-open-by-arrow-down/dropdown-open-by-arrow-down-example.html
  packages/docs-examples/components/dropdown/dropdown-overview/dropdown-overview-example.html
  packages/docs-examples/components/dropdown/dropdown-x-position/dropdown-x-position-example.ts
Due: none

docs(select): document custom tag content via kbqSelectTagContent (#DS-5208)
  packages/components-dev/select/module.ts
  packages/components/select/examples.select.en.md
  packages/components/select/examples.select.ru.md
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-custom-tag-content/select-custom-tag-content-example.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

fix(docs): correct duplicate example entry and wrong @title for select (#DS-5208)
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-custom-matcher/select-custom-matcher-example.ts
  packages/docs-examples/example-module.ts
Due: none

fix(dropdown,autocomplete): remove overlay hosts from layout (#DS-4886)
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/navbar/__screenshots__/02-dark.png
  packages/components/navbar/__screenshots__/02-light.png
  packages/docs-examples/components/dropdown/dropdown-x-position/dropdown-x-position-example.ts
Due: none

feat(scrollbar): independent scrollbar implimentation (#DS-3176)
  packages/components-dev/scrollbar/module.ts
  packages/components-dev/scrollbar/styles.scss
  packages/components-dev/scrollbar/template.html
  packages/components/scrollbar/private/__screenshots__/01-dark.png
  packages/components/scrollbar/private/__screenshots__/01-light.png
  packages/components/scrollbar/private/e2e.playwright-spec.ts
  packages/components/scrollbar/private/e2e.ts
  packages/components/scrollbar/private/examples.scrollbar.en.md
  packages/components/scrollbar/private/examples.scrollbar.ru.md
  packages/components/scrollbar/private/index.ts
  packages/components/scrollbar/private/ng-package.json
  packages/components/scrollbar/private/public-api.ts
  packages/components/scrollbar/private/scrollbar.en.md
  packages/components/scrollbar/private/scrollbar.module.ts
  packages/components/scrollbar/private/scrollbar.ru.md
  packages/components/scrollbar/private/scrollbar.scss
  packages/components/scrollbar/private/scrollbar.spec.ts
  packages/components/scrollbar/private/scrollbar.ts
  packages/docs-examples/components/scrollbar/index.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-scroll-to/private-scrollbar-scroll-to-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-virtual-scroll/private-scrollbar-virtual-scroll-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-visibility/private-scrollbar-visibility-example.ts
  packages/e2e/routes.ts
  tools/api-extractor/api-extractor.ts
  tools/api-extractor/config.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/scrollbar-private.api.md
  tsconfig.json
Due: yarn run cspell --files

refactor: content-panel
  packages/components/content-panel/content-panel.en.md
  packages/components/content-panel/content-panel.ru.md
  packages/components/content-panel/content-panel.ts
  packages/components/content-panel/e2e.playwright-spec.ts
  tools/public_api_guard/components/content-panel.api.md
Due: yarn run cspell --files

refactor: code review
  packages/components/scrollbar/private/e2e.playwright-spec.ts
  packages/components/scrollbar/private/e2e.ts
  packages/components/scrollbar/private/scrollbar.module.ts
  packages/components/scrollbar/private/scrollbar.scss
  packages/components/scrollbar/private/scrollbar.spec.ts
  packages/components/scrollbar/private/scrollbar.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-scroll-to/private-scrollbar-scroll-to-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-virtual-scroll/private-scrollbar-virtual-scroll-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-visibility/private-scrollbar-visibility-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/scrollbar-private.api.md
Due: yarn run cspell --files

refactor: docs
  packages/components/scrollbar/examples.scrollbar.en.md
  packages/components/scrollbar/examples.scrollbar.ru.md
  packages/components/scrollbar/private/examples.scrollbar.en.md
  packages/components/scrollbar/private/examples.scrollbar.ru.md
  packages/components/scrollbar/private/scrollbar.en.md
  packages/components/scrollbar/private/scrollbar.ru.md
  packages/components/scrollbar/scrollbar.en.md
  packages/components/scrollbar/scrollbar.ru.md
  packages/docs-examples/components/scrollbar/private-scrollbar-scroll-to/private-scrollbar-scroll-to-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

refactor: examples
  packages/components-dev/scrollbar/module.ts
  packages/components/scrollbar/examples.scrollbar.en.md
  packages/components/scrollbar/examples.scrollbar.ru.md
  packages/docs-examples/components/scrollbar/index.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-disable-interaction/private-scrollbar-disable-interaction-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-native/private-scrollbar-native-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-rtl/private-scrollbar-rtl-example.ts
Due: yarn run cspell --files

refactor: e2e
  packages/components/scrollbar/private/__screenshots__/01-dark.png
  packages/components/scrollbar/private/__screenshots__/01-light.png
  packages/e2e/routes.ts
Due: none

refactor: review
  packages/components/scrollbar/examples.scrollbar.en.md
  packages/components/scrollbar/examples.scrollbar.ru.md
  packages/components/scrollbar/private/e2e.playwright-spec.ts
  packages/components/scrollbar/private/e2e.ts
  packages/components/scrollbar/private/scrollbar.module.ts
  packages/components/scrollbar/private/scrollbar.scss
  packages/components/scrollbar/private/scrollbar.spec.ts
  packages/components/scrollbar/private/scrollbar.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-disable-interaction/private-scrollbar-disable-interaction-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/scrollbar-private.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/icon/__screenshots__/02-light.png
  packages/components/scrollbar/private/__screenshots__/01-dark.png
  packages/components/scrollbar/private/__screenshots__/01-light.png
Due: none

refactor: review v2
  packages/components/scrollbar/private/__screenshots__/01-light.png
  packages/components/scrollbar/private/e2e.playwright-spec.ts
  packages/components/scrollbar/private/e2e.ts
  packages/components/scrollbar/private/scrollbar.spec.ts
  packages/components/scrollbar/private/scrollbar.ts
Due: none

refactor: examples
  packages/docs-examples/components/scrollbar/private-scrollbar-disable-interaction/private-scrollbar-disable-interaction-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-rtl/private-scrollbar-rtl-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-scroll-to/private-scrollbar-scroll-to-example.ts
Due: none

refactor: api
  tools/public_api_guard/components/scrollbar-private.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/icon/__screenshots__/02-light.png
  packages/components/scrollbar/private/__screenshots__/01-light.png
Due: none

refactor: review
  packages/components/scrollbar/private/scrollbar.spec.ts
  packages/components/scrollbar/private/scrollbar.ts
Due: none

fix(button-toggle)!: errors following a full review of the component (#DS-5391) (#1825)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components-dev/all/template.html
  packages/components-dev/button-toggle/template.html
  packages/components/button-toggle/__screenshots__/01-dark.png
  packages/components/button-toggle/__screenshots__/02-dark.png
  packages/components/button-toggle/button-toggle.component.spec.ts
  packages/components/button-toggle/button-toggle.component.ts
  packages/components/button-toggle/button-toggle.en.md
  packages/components/button-toggle/button-toggle.module.ts
  packages/components/button-toggle/button-toggle.ru.md
  packages/components/button-toggle/button-toggle.scss
  packages/components/button-toggle/e2e.playwright-spec.ts
  packages/components/button-toggle/e2e.ts
  packages/components/button/button.component.spec.ts
  packages/components/button/button.component.ts
  packages/docs-examples/components/button-toggle/button-toggle-alignment-overview/button-toggle-alignment-overview-example.html
  packages/docs-examples/components/button-toggle/button-toggle-overview/button-toggle-overview-example.html
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/button-toggle-signals-and-aria/README.md
  packages/schematics/src/migrations/button-toggle-signals-and-aria/data.ts
  packages/schematics/src/migrations/button-toggle-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/button-toggle-signals-and-aria/index.ts
  packages/schematics/src/migrations/button-toggle-signals-and-aria/schema.json
  packages/schematics/src/migrations/button-toggle-signals-and-aria/schema.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/button-toggle.api.md
  tools/public_api_guard/components/button.api.md
Due: yarn run cspell --files
