Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix(breadcrumbs): replaced old realization of overflow-items, fixed styles
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/docs-examples/components/breadcrumbs/breadcrumbs-wrap/breadcrumbs-wrap-example.ts
Due: none

feat(breadcrumbs): refactored layout
  packages/components/breadcrumbs/breadcrumbs.html
Due: none

chore(breadcrumbs): upd example-module
  packages/docs-examples/example-module.ts
Due: none

chore(breadcrumbs): moved back output condition
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

chore(breadcrumbs): removed redundant property and conditions
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

chore: after rebase
  packages/components/breadcrumbs/breadcrumbs.html
Due: none

chore: removed unused
  packages/docs-examples/components/overflow-items/overflow-items-result-offset/overflow-items-result-offset-example.ts
Due: none

chore: added last item as alwaysVisible
  packages/components/breadcrumbs/breadcrumbs.html
Due: none

chore: after review
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.scss
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/components/breadcrumbs/breadcrumbs.types.ts
  packages/components/breadcrumbs/public-api.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-with-auto-wrap-adaptive/breadcrumbs-with-auto-wrap-adaptive-example.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

chore: added new examples, updated case for max property
  packages/components-dev/breadcrumbs/template.html
  packages/components/breadcrumbs/breadcrumbs.en.md
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ru.md
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-size/breadcrumbs-size-example.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-with-auto-wrap-adaptive/breadcrumbs-with-auto-wrap-adaptive-example.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-with-wrap/breadcrumbs-with-wrap-example.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-wrap/breadcrumbs-wrap-example.ts
  packages/docs-examples/components/breadcrumbs/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

chore: returned back hack description
  packages/components/breadcrumbs/breadcrumbs.html
Due: none

chore: fixed negative margin
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/docs-examples/components/breadcrumbs/breadcrumbs-truncate-center-items/breadcrumbs-truncate-center-items-example.ts
Due: none

chore: fixed breadcrumbs configuration provider fn
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ts
Due: none

chore: after review
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-with-auto-wrap-adaptive/breadcrumbs-with-auto-wrap-adaptive-example.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

chore: added commitlint to CI action
  .github/workflows/ci.yml
Due: yamllint

chore: moved examples custom styles to separate file
  apps/docs/src/main.scss
  apps/docs/src/styles/_examples.scss
  packages/docs-examples/components/breadcrumbs/breadcrumbs-with-auto-wrap-adaptive/breadcrumbs-with-auto-wrap-adaptive-example.ts
Due: none

chore: added commitlint to CI action (#639)
  .github/workflows/ci.yml
Due: yamllint

fix: tests
  packages/components/progress-spinner/progress-spinner.component.spec.ts
  packages/components/progress-spinner/progress-spinner.component.ts
  packages/components/select/select.component.karma-spec.ts
  packages/components/select/select.component.spec.ts
  packages/components/timezone/timezone-select.component.karma-spec.ts
  packages/components/timezone/timezone-select.component.spec.ts
  packages/components/tree-select/tree-select.component.karma-spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  tools/public_api_guard/components/progress-spinner.api.md
Due: yarn run cspell --files

chore: updated CI commitlint step
  .github/workflows/ci.yml
Due: yamllint

chore: fixed unit tests & review fixes
  packages/components/breadcrumbs/breadcrumbs.karma-spec.ts
  packages/components/breadcrumbs/breadcrumbs.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

chore: fixed unit tests
  packages/components/breadcrumbs/__snapshots__/breadcrumbs.spec.ts.snap
  packages/components/breadcrumbs/breadcrumbs.karma-spec.ts
Due: none

chore: updated CI commitlint step (#640)
  .github/workflows/ci.yml
Due: yamllint

fix(select, tree-select): return focus after clearing (#DS-3144)
  packages/components-dev/tree-select/module.ts
  packages/components/form-field/form-field.html
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/timezone/timezone-select.component.html
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
Due: none

fix: added tests
  packages/components/select/select.component.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
Due: none

fix(select, tree-select): icon color in invalid state (#DS-3192)
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/timezone/timezone-select.component.html
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

chore: update tests
  packages/components/breadcrumbs/breadcrumbs.karma-spec.ts
Due: none

chore: update examples
  packages/docs-examples/components/breadcrumbs/breadcrumbs-with-auto-wrap-adaptive/breadcrumbs-with-auto-wrap-adaptive-example.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-with-wrap/breadcrumbs-with-wrap-example.ts
Due: none

fix(select, tree-select): return focus after clearing (#DS-3144) (#641)
  packages/components-dev/tree-select/module.ts
  packages/components/form-field/form-field.html
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/timezone/timezone-select.component.html
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
Due: none

fix(select, tree-select): icon color in invalid state (#DS-3192) (#642)
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/timezone/timezone-select.component.html
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(link): multiline link with icon (#DS-3616)
  packages/components-dev/link/template.html
  packages/components/link/_link-theme.scss
Due: none

chore: fixed bug of clipping first element
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/docs-examples/components/breadcrumbs/breadcrumbs-size/breadcrumbs-size-example.ts
Due: none

feat(schematics): add empty-state schematics for attribute replacement
  packages/schematics/rollup.config.js
  packages/schematics/scripts/copy-meta-to-dist.js
  packages/schematics/src/collection.json
  packages/schematics/src/migrations/empty-state-size-attr/README.md
  packages/schematics/src/migrations/empty-state-size-attr/index.spec.ts
  packages/schematics/src/migrations/empty-state-size-attr/index.ts
  packages/schematics/src/migrations/empty-state-size-attr/schema.json
  packages/schematics/src/migrations/empty-state-size-attr/schema.ts
  packages/schematics/src/utils/package-config.ts
  packages/schematics/src/utils/typescript.ts
Due: yarn run cspell --files

chore: added typescript files parsing
  packages/schematics/scripts/copy-meta-to-dist.js
  packages/schematics/src/migrations/empty-state-size-attr/index.ts
Due: none

chore: added run through tree and logic of attributes replacement
  packages/schematics/rollup.config.js
  packages/schematics/scripts/copy-meta-to-dist.js
  packages/schematics/src/migrations/empty-state-size-attr/index.ts
  packages/schematics/src/utils/ast.ts
  packages/schematics/src/utils/package-config.ts
Due: none

chore: added all logic
  packages/schematics/src/migrations/empty-state-size-attr/index.ts
  packages/schematics/src/utils/ast.ts
  packages/schematics/src/utils/typescript.ts
Due: none

chore: fix tests
  packages/schematics/src/migrations/empty-state-size-attr/index.spec.ts
  packages/schematics/src/migrations/empty-state-size-attr/index.ts
Due: none

chore: upd readme
  packages/schematics/src/migrations/empty-state-size-attr/README.md
Due: yarn run cspell --files

chore: upd elementcollector description
  packages/schematics/src/migrations/empty-state-size-attr/index.ts
Due: none

chore: code refactoring
  packages/schematics/rollup.config.js
  packages/schematics/scripts/copy-meta-to-dist.js
  packages/schematics/src/migrations/empty-state-size-attr/index.ts
  packages/schematics/src/utils/angular-parsing.ts
  packages/schematics/src/utils/ast.ts
  packages/schematics/src/utils/package-config.ts
  packages/schematics/src/utils/typescript.ts
Due: none
