Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: after review
  tools/markdown-to-html/marked/docs-marked-renderer.ts
Due: none

fix(docs): parse h2 headings (#1702)
  apps/docs/src/app/components/anchors/anchors.component.ts
  tools/markdown-to-html/marked/docs-marked-renderer.ts
Due: none

refactor: review
  .github/workflows/deploy-preview.yml
  .github/workflows/redeploy-preview.yml
Due: yamllint

fix(filter-bar): address review findings (focus ring, save clone, API alias, specs)
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.spec.ts
  packages/components/filter-bar/filters.ts
  packages/components/filter-bar/pipes/pipe-date-base.ts
  packages/components/filter-bar/pipes/pipe-date.spec.ts
  packages/components/filter-bar/pipes/pipe-datetime.spec.ts
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/components/filter-bar/public-api.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore: added deploy and redeploy documentation preview workflows (#DS-4784) (#1689)
  .github/workflows/build.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/pr-docs-preview.yml
  .github/workflows/redeploy-preview.yml
Due: yamllint

fix: I18N-01
  apps/docs/src/app/components/component-viewer/component-overview.template.html
  apps/docs/src/app/components/component-viewer/component-viewer-wrapper.ts
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/components/design-tokens-viewers/design-tokens-viewer.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/design-tokens-viewers/typography-overview.ts
  apps/docs/src/app/components/example-viewer/example-viewer.ts
  apps/docs/src/app/components/footer/footer.component.html
  apps/docs/src/app/components/icons-viewer/icon-preview-modal/icon-preview-modal.template.html
  apps/docs/src/app/components/icons-viewer/icons-viewer.template.html
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.html
  apps/docs/src/app/components/live-example/docs-live-example.ts
  apps/docs/src/app/components/navbar/navbar.component.ts
  apps/docs/src/app/components/navbar/navbar.template.html
  apps/docs/src/app/components/welcome/welcome.component.html
  apps/docs/src/app/services/i18n.characterization.spec.ts
  apps/docs/src/app/services/i18n.spec.ts
  apps/docs/src/app/services/i18n.ts
  apps/docs/src/testing/docs-examples.stub.ts
  tsconfig.json
Due: none

refactor(docs): replace token-viewer *ngTemplateOutlet recursion with @for
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
Due: none

fix(docs): re-sync sidenav selection with active route
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/example-viewer/example-viewer.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.ts
  apps/docs/src/app/components/live-example/docs-live-example.ts
  apps/docs/src/app/components/sidenav/sidenav.spec.ts
  apps/docs/src/app/components/sidenav/sidenav.ts
  apps/docs/src/app/components/stackblitz/stackblitz-button.ts
  apps/docs/src/app/structure.ts
Due: none

refactor(docs): migrate live-example viewers' documentUrl to signal input
  apps/docs/src/app/components/example-viewer/example-viewer.spec.ts
  apps/docs/src/app/components/example-viewer/example-viewer.ts
  apps/docs/src/app/components/live-example/docs-live-example.ts
Due: none

fix(docs): guard anchors scroll container against missing docs-component-viewer (#DS-5310)
  apps/docs/src/app/components/anchors/anchors.component.spec.ts
  apps/docs/src/app/components/anchors/anchors.component.ts
  apps/docs/src/app/components/live-example/docs-live-example.ts
  apps/docs/src/app/components/live-example/markdown-content.ts
Due: none

perf(docs): cache design-token values per theme in tokens-overview (#DS-5310)
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.spec.ts
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
Due: none

fix(time-range): fill preset option labels in es-LA, pt-BR and tk-TM locales (#DS-4918)
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/tk-TM.ts
Due: none

fix(time-range): use correct russian plural form for years in duration templates (#DS-4918)
  packages/components/core/locales/ru-RU.ts
Due: none

chore(core): regenerate api report for remaining time-range locale fields (#DS-4918)
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

docs(time-range): align min-max example date limits with article text (#DS-4918)
  packages/docs-examples/components/time-range/time-range-min-max/time-range-min-max-example.ts
Due: none

docs(time-range): fix years translation type and guard empty range value in examples (#DS-4918)
  packages/docs-examples/components/time-range/time-range-custom-range-types/time-range-custom-range-types-example.ts
  packages/docs-examples/components/time-range/time-range-empty-type-list/time-range-empty-type-list-example.ts
Due: none

docs(time-range): localize period placeholder in as-form-field and custom-option examples (#DS-4918)
  packages/docs-examples/components/time-range/time-range-as-form-field/time-range-as-form-field-example.ts
  packages/docs-examples/components/time-range/time-range-custom-option/time-range-custom-option-example.ts
Due: none

fix: names in spec files
  packages/components/filter-bar/pipes/pipe-states.spec-helper.ts
Due: none

fix: build error
  apps/docs/src/app/services/title-strategy.ts
Due: none

docs: filter non-digit in Series/Number fields (#DS-4058)
  packages/docs-examples/components/validation/validation-message-global-with-links/validation-message-global-with-links-example.html
  packages/docs-examples/components/validation/validation-message-global-with-links/validation-message-global-with-links-example.ts
Due: none

fix(tree-select): enable option hover highlight without a wrapping form-field
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-selection.component.ts
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/pipes/multi-select-pipe-state.ts
  packages/components/filter-bar/pipes/pipe-button.ts
  packages/components/filter-bar/pipes/tree-select-pipe-base.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(docs): address review comments (#DS-5310)
  apps/docs/src/app/components/live-example/markdown-content.ts
  apps/docs/src/index.html
  apps/docs/src/testing/docs-examples.stub.ts
Due: none

feat: add presentational country flag component and docs (#DS-1405)
  angular.json
  apps/docs/src/app/structure.ts
  package.json
  packages/components-dev/flag/main.ts
  packages/components-dev/flag/module.ts
  packages/components-dev/flag/tsconfig.app.json
  packages/components/flag/_flag-theme.scss
  packages/components/flag/e2e.playwright-spec.ts
  packages/components/flag/e2e.ts
  packages/components/flag/flag-tokens.scss
  packages/components/flag/flag.en.md
  packages/components/flag/flag.ru.md
  packages/components/flag/flag.scss
  packages/components/flag/flag.spec.ts
  packages/components/flag/flag.ts
  packages/components/flag/flag.types.ts
  packages/components/flag/index.ts
  packages/components/flag/module.ts
  packages/components/flag/ng-package.json
  packages/components/flag/public-api.ts
  packages/docs-examples/components/flag/flag-accessibility/flag-accessibility-example.ts
  packages/docs-examples/components/flag/flag-circle/flag-circle-example.ts
  packages/docs-examples/components/flag/flag-fallback/flag-fallback-example.ts
  packages/docs-examples/components/flag/flag-language/flag-language-example.ts
  packages/docs-examples/components/flag/flag-overview/flag-overview-example.ts
  packages/docs-examples/components/flag/flag-shadow/flag-shadow-example.ts
  packages/docs-examples/components/flag/flag-sizes/flag-sizes-example.ts
  packages/docs-examples/components/flag/flag-square/flag-square-example.ts
  packages/docs-examples/components/flag/flag-string.pipe.ts
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.css
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.html
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.ts
  packages/docs-examples/components/flag/index.ts
  packages/docs-examples/components/flag/ng-package.json
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/api-extractor/config.json
  tools/public_api_guard/components/flag.api.md
  tsconfig.json
  yarn.lock
Due: yarn run cspell --files

refactor(flag): simplify API and rework examples (#DS-1405)
  packages/components-dev/flag/module.ts
  packages/components/flag/_flag-theme.scss
  packages/components/flag/e2e.ts
  packages/components/flag/flag-tokens.scss
  packages/components/flag/flag.en.md
  packages/components/flag/flag.ru.md
  packages/components/flag/flag.scss
  packages/components/flag/flag.spec.ts
  packages/components/flag/flag.ts
  packages/components/flag/flag.types.ts
  packages/docs-examples/components/flag/flag-accessibility/flag-accessibility-example.ts
  packages/docs-examples/components/flag/flag-aspect-ratio/flag-aspect-ratio-example.ts
  packages/docs-examples/components/flag/flag-circle/flag-circle-example.ts
  packages/docs-examples/components/flag/flag-fallback/flag-fallback-example.ts
  packages/docs-examples/components/flag/flag-language/flag-language-example.ts
  packages/docs-examples/components/flag/flag-overview/flag-overview-example.ts
  packages/docs-examples/components/flag/flag-shadow/flag-shadow-example.ts
  packages/docs-examples/components/flag/flag-sizes/flag-sizes-example.ts
  packages/docs-examples/components/flag/flag-square/flag-square-example.ts
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.css
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.html
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.ts
  packages/docs-examples/components/flag/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/flag.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/flag/__screenshots__/01-dark.png
  packages/components/flag/__screenshots__/01-light.png
Due: none

chore: update e2e
  packages/components/flag/e2e.ts
Due: none

chore: review docs, use direct icons instead pipe
  packages/components-dev/flag/module.ts
  packages/components/flag/flag.en.md
  packages/components/flag/flag.ru.md
  packages/docs-examples/components/flag/flag-aspect-ratio/flag-aspect-ratio-example.ts
  packages/docs-examples/components/flag/flag-circle/flag-circle-example.ts
  packages/docs-examples/components/flag/flag-fallback/flag-fallback-example.ts
  packages/docs-examples/components/flag/flag-overview/flag-overview-example.ts
  packages/docs-examples/components/flag/flag-sizes/flag-sizes-example.ts
  packages/docs-examples/components/flag/flag-square/flag-square-example.ts
  packages/docs-examples/components/flag/flag-string.pipe.ts
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.ts
Due: yarn run cspell --files

refactor(flag): use inline svg in examples and simplify overview (#DS-1405)
  packages/components/flag/flag.en.md
  packages/components/flag/flag.ru.md
  packages/components/flag/flag.scss
  packages/components/flag/flag.spec.ts
  packages/docs-examples/components/flag/flag-aspect-ratio/flag-aspect-ratio-example.ts
  packages/docs-examples/components/flag/flag-circle/flag-circle-example.ts
  packages/docs-examples/components/flag/flag-fallback/flag-fallback-example.ts
  packages/docs-examples/components/flag/flag-overview/flag-overview-example.ts
  packages/docs-examples/components/flag/flag-shadow/flag-shadow-example.ts
  packages/docs-examples/components/flag/flag-sizes/flag-sizes-example.ts
  packages/docs-examples/components/flag/flag-square/flag-square-example.ts
  packages/docs-examples/components/flag/flag-string.pipe.ts
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.html
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.ts
  packages/docs-examples/components/flag/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/flag/__screenshots__/01-dark.png
  packages/components/flag/__screenshots__/01-light.png
  packages/components/icon/__screenshots__/02-light.png
Due: none

refactor(flag): returned back text
  packages/components/flag/flag.en.md
  packages/components/flag/flag.ru.md
Due: yarn run cspell --files

refactor(flag): drop hardcoded stylized, make aspect
  packages/components/flag/e2e.ts
  packages/components/flag/flag.en.md
  packages/components/flag/flag.ru.md
  packages/components/flag/flag.scss
  packages/components/flag/flag.spec.ts
  packages/components/flag/flag.ts
  packages/docs-examples/components/flag/flag-aspect-ratio/flag-aspect-ratio-example.ts
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.ts
  tools/public_api_guard/components/flag.api.md
Due: yarn run cspell --files

chore: after review
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  apps/docs/src/app/structure.ts
  packages/components/flag/e2e.ts
  packages/components/flag/flag.en.md
  packages/components/flag/flag.ru.md
  packages/components/flag/flag.spec.ts
  packages/components/flag/flag.ts
  packages/docs-examples/components/flag/flag-fallback/flag-fallback-example.ts
  tools/public_api_guard/components/flag.api.md
Due: yarn run cspell --files

fix(docs): use shared icons metadata type and drop stale TODO (#DS-5310)
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.ts
  apps/docs/src/app/components/live-example/docs-live-example.ts
  apps/docs/src/app/services/icon-items.ts
Due: none

docs(flag): improve russian article wording (#DS-1405)
  packages/components/flag/flag.ru.md
Due: yarn run cspell --files

fix: added schematics
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/filter-bar-signals/README.md
  packages/schematics/src/migrations/filter-bar-signals/data.ts
  packages/schematics/src/migrations/filter-bar-signals/index.spec.ts
  packages/schematics/src/migrations/filter-bar-signals/index.ts
  packages/schematics/src/migrations/filter-bar-signals/schema.json
  packages/schematics/src/migrations/filter-bar-signals/schema.ts
Due: yarn run cspell --files

refactor: removed redundant from example
  packages/docs-examples/components/flag/flag-aspect-ratio/flag-aspect-ratio-example.ts
Due: none
