Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

feat(list): let the row keep its own cursor unless the list asks for the grab (#DS-4454)
  packages/components-dev/list/template.html
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/e2e.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/components/list/list.scss
  packages/docs-examples/components/list/list-draggable-connected/list-draggable-connected-example.ts
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

docs(list): drop the checkboxes from the connected-lists example (#DS-4454)
  packages/docs-examples/components/list/list-draggable-connected/list-draggable-connected-example.ts
Due: none

fix(list): keep the group header on the drag cursor instead of its own arrow (#DS-4454)
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/list.scss
Due: none

feat(core): time zone for date formatting (#DS-3248)
  packages/angular-luxon-adapter/adapter/date-adapter.spec.ts
  packages/angular-luxon-adapter/adapter/date-adapter.ts
  packages/angular-moment-adapter/adapter/moment-date-adapter.spec.ts
  packages/angular-moment-adapter/adapter/moment-date-adapter.ts
  packages/components-dev/date-pipes/module.ts
  packages/components-dev/date-pipes/template.html
  packages/components-dev/ssr/config.server.ts
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/timezone.ts
  packages/components/core/datetime/index.ts
  packages/components/core/datetime/timezone.ts
  packages/components/core/formatters/date/date-formatter.en.md
  packages/components/core/formatters/date/date-formatter.ru.md
  packages/components/core/formatters/date/formatter.pipe.ts
  packages/components/core/formatters/date/formatter.spec.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(core): time zone corrections in the date adapters (#DS-3248)
  packages/angular-luxon-adapter/adapter/date-adapter.spec.ts
  packages/angular-luxon-adapter/adapter/date-adapter.ts
  packages/angular-luxon-adapter/package.json
  packages/angular-moment-adapter/adapter/moment-date-adapter.spec.ts
  packages/angular-moment-adapter/adapter/moment-date-adapter.ts
  packages/angular-moment-adapter/package.json
  packages/components/core/datetime/timezone.ts
  packages/components/core/formatters/date/date-formatter.en.md
  packages/components/core/formatters/date/date-formatter.ru.md
  packages/components/core/formatters/date/formatter.spec.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/month-view.component.ts
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timezone/timezone.utils.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: align the core API report and declare moment as a peer dependency (#DS-3248)
  packages/angular-moment-adapter/package.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(core): bound and round numeric time zone offsets (#DS-3248)
  packages/angular-luxon-adapter/adapter/date-adapter.spec.ts
  packages/angular-luxon-adapter/adapter/date-adapter.ts
  packages/angular-moment-adapter/adapter/moment-date-adapter.spec.ts
  packages/components/core/datetime/timezone.ts
  packages/components/core/formatters/date/date-formatter.en.md
  packages/components/core/formatters/date/date-formatter.ru.md
Due: yarn run cspell --files

feat(core): time zone for date formatting (#DS-3248) (#1936)
  packages/angular-luxon-adapter/adapter/date-adapter.spec.ts
  packages/angular-luxon-adapter/adapter/date-adapter.ts
  packages/angular-luxon-adapter/package.json
  packages/angular-moment-adapter/adapter/moment-date-adapter.spec.ts
  packages/angular-moment-adapter/adapter/moment-date-adapter.ts
  packages/angular-moment-adapter/package.json
  packages/components-dev/date-pipes/module.ts
  packages/components-dev/date-pipes/template.html
  packages/components-dev/ssr/config.server.ts
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/timezone.ts
  packages/components/core/datetime/index.ts
  packages/components/core/datetime/timezone.ts
  packages/components/core/formatters/date/date-formatter.en.md
  packages/components/core/formatters/date/date-formatter.ru.md
  packages/components/core/formatters/date/formatter.pipe.ts
  packages/components/core/formatters/date/formatter.spec.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/month-view.component.ts
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timezone/timezone.utils.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(list): drag and drop reordering (#DS-4454) (#1911)
  .stylelintignore
  packages/components-dev/list/module.ts
  packages/components-dev/list/template.html
  packages/components/core/locales/types.ts
  packages/components/list/_list-theme.scss
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/e2e.ts
  packages/components/list/list-option.html
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list-tokens.scss
  packages/components/list/list.en.md
  packages/components/list/list.module.ts
  packages/components/list/list.ru.md
  packages/components/list/list.scss
  packages/docs-examples/components/list/index.ts
  packages/docs-examples/components/list/list-draggable-connected/list-draggable-connected-example.ts
  packages/docs-examples/components/list/list-draggable-handle/list-draggable-handle-example.ts
  packages/docs-examples/components/list/list-draggable/list-draggable-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

fix(select): correct panel fitting found in review (#DS-5438)
  packages/components/core/overlay/panel-height.ts
  packages/components/core/select/common.ts
  packages/components/core/styles/common/_select.scss
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/e2e.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(select): panel positioning for tall multiline triggers (#DS-5438)
  packages/components/core/overlay/panel-height.spec.ts
  packages/components/core/overlay/panel-height.ts
  packages/components/core/pop-up/constants.ts
  packages/components/core/select/common.ts
  packages/components/core/styles/common/_connected-overlay.scss
  packages/components/core/styles/common/_select.scss
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/e2e.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.html
  packages/components/select/select.ru.md
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.html
  packages/components/tree-select/tree-select.ru.md
  packages/docs-examples/components/select/select-with-multiline-matcher/select-with-multiline-matcher-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(select): repair the api and unit_tests gates (#DS-5438)
  packages/components/timezone/timezone-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

test(select): assert panelMaxHeight as a bound, not a literal (#DS-5438)
  packages/components/select/e2e.playwright-spec.ts
Due: none

refactor(select): keep only the first-row panel anchor (#DS-5438)
  packages/components/core/overlay/panel-height.spec.ts
  packages/components/core/overlay/panel-height.ts
  packages/components/core/select/common.ts
  packages/components/core/styles/common/_select.scss
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/e2e.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.html
  packages/components/select/select.ru.md
  packages/components/timezone/timezone-select.component.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.html
  packages/components/tree-select/tree-select.ru.md
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(list): value matching for non-primitive models (#DS-3031)
  packages/components-dev/list/module.ts
  packages/components-dev/list/template.html
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
Due: yarn run cspell --files

fix(select): share the first-row panel anchor and repair its edges (#DS-5438)
  packages/components/core/overlay/panel-height.spec.ts
  packages/components/core/overlay/panel-height.ts
  packages/components/core/public-api.ts
  packages/components/core/select/common.ts
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/tree-select/e2e.playwright-spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(list,select): nullish values and stale selection in value matching (#DS-3031)
  packages/components/core/select/compare-with.ts
  packages/components/core/select/index.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/components/select/select.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

fix: address review comments from lskramarov on PR #1934
  packages/cli/src/release/__snapshots__/changelog-writer-options.spec.ts.snap
  packages/cli/src/release/changelog-writer-options.spec.ts
  packages/cli/src/release/changelog-writer-options.ts
  packages/cli/src/release/changelog.ts
Due: none

fix(select): position the panel once per open again (#DS-5438)
  packages/components/core/select/common.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(docs): improved SEO (#DS-4376)
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/page-paths.spec.ts
  apps/docs/src/app/page-paths.ts
  apps/docs/src/app/seo-descriptions.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/i18n.ts
  apps/docs/src/app/services/seo.spec.ts
  apps/docs/src/app/services/seo.ts
  apps/docs/src/app/services/title-strategy.ts
  apps/docs/src/app/structure.ts
  apps/docs/src/prerender-routes.txt
  apps/docs/src/sitemap.xml
  packages/components/core/styles/layout-flex.en.md
  packages/components/core/styles/layout-flex.ru.md
  packages/components/dl/dl.en.md
  packages/components/dl/dl.ru.md
  packages/components/splitter/splitter.en.md
  packages/components/splitter/splitter.ru.md
  tools/generate-prerender-routes.ts
  tools/generate-sitemap.ts
  tools/markdown-to-html/generate-seo-descriptions.spec.ts
  tools/markdown-to-html/generate-seo-descriptions.ts
  tools/markdown-to-html/seo-description.ts
  tools/markdown-to-html/transform-markdown.ts
Due: yarn run cspell --files

refactor: review
  tools/markdown-to-html/generate-seo-descriptions.ts
  tools/markdown-to-html/seo-description.spec.ts
  tools/markdown-to-html/seo-description.ts
Due: none

refactor: review
  apps/docs/src/app/services/locale.spec.ts
  apps/docs/src/app/services/locale.ts
Due: none

refactor: descriptions
  .prettierignore
  apps/docs/src/app/seo-descriptions.ts
Due: none

fix: after review
  packages/components/inline-edit/inline-edit.spec.ts
  packages/components/inline-edit/inline-edit.ts
  tools/jest/setup.ts
Due: none

fix(inline-edit): show tooltip when out of viewport correctly (#DS-5420)
  packages/components/inline-edit/inline-edit.spec.ts
  packages/components/inline-edit/inline-edit.ts
  tools/jest/setup.ts
Due: none

chore: linters
  packages/components/inline-edit/inline-edit.ts
Due: none

fix(inline-edit): address review comments (#DS-5420)
  packages/components/inline-edit/inline-edit.html
  packages/components/inline-edit/inline-edit.spec.ts
  packages/components/inline-edit/inline-edit.ts
  packages/components/tooltip/tooltip.component.ts
  tools/jest/setup.ts
  tools/public_api_guard/components/inline-edit.api.md
Due: yarn run cspell --files

chore: after rebase
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

refactor: tests
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/services/seo.spec.ts
Due: none

feat: prerender documentation examples in CI (#DS-5064)
  .github/workflows/build.yml
  angular.json
  package.json
  packages/components-dev/index.html
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/module.ts
  packages/components-dev/ssr/routes.ts
  packages/components-dev/ssr/styles.scss
  packages/components-dev/ssr/template.html
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  packages/docs-examples/example-module.ts
  tools/example-module/generate-example-module.ts
Due: yamllint

refactor: ci
  packages/components-dev/ssr/README.md
  packages/components-dev/ssr/config.server.ts
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/module.ts
  packages/components-dev/ssr/styles.scss
  packages/components-dev/ssr/template.html
  packages/components/core/services/theme.service.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

refactor: undo theme specs
  .github/workflows/build.yml
  docs/guides/09-ssr-dev.md
  package.json
  packages/components-dev/ssr/README.md
  packages/components/core/services/theme.service.spec.ts
Due: yarn run cspell --files, yamllint

fix: restore breaking-change/deprecation note collection and cover it with tests
  packages/cli/src/release/changelog-writer-options.spec.ts
  packages/cli/src/release/changelog-writer-options.ts
Due: none

feat: added docs section in changelog (#DS-3365) (#1934)
  packages/cli/src/release/__snapshots__/changelog-writer-options.spec.ts.snap
  packages/cli/src/release/changelog-writer-options.spec.ts
  packages/cli/src/release/changelog-writer-options.ts
  packages/cli/src/release/changelog.ts
Due: none

fix(dl): wrap text (#DS-3323)
  packages/components-dev/dl/module.ts
  packages/components/dl/dl.en.md
  packages/components/dl/dl.ru.md
  packages/components/dl/dl.scss
  packages/components/dl/e2e.playwright-spec.ts
  packages/components/dl/e2e.ts
  packages/docs-examples/components/dl/dl-long-text/dl-long-text-example.ts
  packages/docs-examples/components/dl/index.ts
  packages/e2e/routes.ts
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/dl/__screenshots__/01-dark.png
  packages/components/dl/__screenshots__/01-light.png
Due: none

refactor: removed mock
  angular.json
  package.json
  packages/components-dev/ssr/README.md
  packages/components-dev/ssr/config.server.ts
  packages/components-dev/ssr/module.ts
  packages/components-dev/ssr/routes.ts
Due: yarn run cspell --files

Potential fix for pull request finding
  packages/docs-examples/components/dl/dl-long-text/dl-long-text-example.ts
Due: none
