Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(docs): added @docsearch/css dependency
  package.json
  pnpm-lock.yaml
Due: none

fix(docs): added @docsearch/css dependency (#212)
  package.json
  pnpm-lock.yaml
Due: none

feat(tooltip): arrowless & error, warning colors (#DS-2645)
  packages/components-dev/tooltip/module.ts
  packages/components-dev/tooltip/template.html
  packages/components/core/pop-up/index.ts
  packages/components/core/pop-up/pop-up-styles.ts
  packages/components/core/pop-up/pop-up.ts
  packages/components/core/styles/theming/_components-theming.scss
  packages/components/tooltip/_tooltip-theme.scss
  packages/components/tooltip/tooltip.component.html
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.scss
  packages/components/tooltip/tooltip.spec.ts
Due: none

feat(tooltip): fixed magic numbers
  packages/components/tooltip/tooltip.spec.ts
Due: none

feat(tooltip): updated tokens for docs
  apps/docs/src/styles/koobiq/default-theme/_variables.scss
  apps/docs/src/styles/koobiq/default-theme/css-tokens-dark.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens-font.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens-light.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens.css
  apps/docs/src/styles/koobiq/default-theme/index.d.ts
  apps/docs/src/styles/koobiq/default-theme/js/index.js
Due: none

feat(tooltip): fixed api golden
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

feat(tooltip): added tests
  packages/components/tooltip/tooltip.spec.ts
Due: none

feat(tooltip): after review & examples
  package.json
  packages/components/core/pop-up/pop-up-styles.ts
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.md
  packages/components/tooltip/tooltip.spec.ts
  packages/docs-examples/components/tooltip/index.ts
  packages/docs-examples/components/tooltip/tooltip-arrow-and-offset/tooltip-arrow-and-offset-example.css
  packages/docs-examples/components/tooltip/tooltip-arrow-and-offset/tooltip-arrow-and-offset-example.html
  packages/docs-examples/components/tooltip/tooltip-arrow-and-offset/tooltip-arrow-and-offset-example.ts
  packages/docs-examples/components/tooltip/tooltip-style/tooltip-style-example.css
  packages/docs-examples/components/tooltip/tooltip-style/tooltip-style-example.html
  packages/docs-examples/components/tooltip/tooltip-style/tooltip-style-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

feat(tooltip): api golden & debug log
  packages/components/tooltip/tooltip.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(tooltip): api golden & renamed property
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.spec.ts
  packages/docs-examples/components/tooltip/tooltip-arrow-and-offset/tooltip-arrow-and-offset-example.html
  packages/docs-examples/components/tooltip/tooltip-arrow-and-offset/tooltip-arrow-and-offset-example.ts
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

feat(tooltip): fixed dev example
  packages/components-dev/tooltip/template.html
Due: none

feat(tooltip): updated tokens version
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  pnpm-lock.yaml
Due: none

feat(tooltip): build tokens
  apps/docs/src/styles/koobiq/default-theme/_palette.scss
  apps/docs/src/styles/koobiq/default-theme/_variables.scss
  apps/docs/src/styles/koobiq/default-theme/css-tokens-dark.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens-light.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens.css
  apps/docs/src/styles/koobiq/default-theme/index.d.ts
  apps/docs/src/styles/koobiq/default-theme/js/index.js
Due: none

feat(tooltip): arrowless & error, warning colors (#DS-2645) (#210)
  apps/docs/src/assets/stackblitz/package.json
  apps/docs/src/styles/koobiq/default-theme/_palette.scss
  apps/docs/src/styles/koobiq/default-theme/_variables.scss
  apps/docs/src/styles/koobiq/default-theme/css-tokens-dark.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens-font.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens-light.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens.css
  apps/docs/src/styles/koobiq/default-theme/index.d.ts
  apps/docs/src/styles/koobiq/default-theme/js/index.js
  package.json
  packages/components-dev/tooltip/module.ts
  packages/components-dev/tooltip/template.html
  packages/components/core/pop-up/index.ts
  packages/components/core/pop-up/pop-up-styles.ts
  packages/components/core/pop-up/pop-up.ts
  packages/components/core/styles/theming/_components-theming.scss
  packages/components/package.json
  packages/components/tooltip/_tooltip-theme.scss
  packages/components/tooltip/tooltip.component.html
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.md
  packages/components/tooltip/tooltip.scss
  packages/components/tooltip/tooltip.spec.ts
  packages/docs-examples/components/tooltip/index.ts
  packages/docs-examples/components/tooltip/tooltip-arrow-and-offset/tooltip-arrow-and-offset-example.css
  packages/docs-examples/components/tooltip/tooltip-arrow-and-offset/tooltip-arrow-and-offset-example.html
  packages/docs-examples/components/tooltip/tooltip-arrow-and-offset/tooltip-arrow-and-offset-example.ts
  packages/docs-examples/components/tooltip/tooltip-style/tooltip-style-example.css
  packages/docs-examples/components/tooltip/tooltip-style/tooltip-style-example.html
  packages/docs-examples/components/tooltip/tooltip-style/tooltip-style-example.ts
  packages/docs-examples/example-module.ts
  pnpm-lock.yaml
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

fix: hide tooltip and popover on disable
  packages/components/popover/popover.component.ts
  packages/components/tooltip/tooltip.component.ts
Due: none

fix: hide tooltip and popover on disable (#DS-2733) (#218)
  packages/components/popover/popover.component.ts
  packages/components/tooltip/tooltip.component.ts
Due: none

refactor: fix tests
  docs/guides/06-testing.md
  jest.config.js
  packages/components/file-upload/file-upload.spec.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/scrollbar/scrollbar.component.spec.ts
  packages/components/tabs/tab-group.spec.ts
  packages/components/tabs/tab-nav-bar/tab-nav-bar.spec.ts
  tools/jest/setup.ts
Due: yarn run cspell --files

refactor: code review
  .eslintrc.js
  jest.config.js
Due: none

refactor: added karma config
  angular.json
  package.json
  packages/components/karma-test.ts
  packages/components/karma.conf.js
  packages/components/title/title.directive.karma-spec.ts
  packages/components/tsconfig.json
  packages/components/tsconfig.karma-spec.json
Due: none

refactor: tree-select
  packages/components/tree-select/tree-select.component.karma-spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tsconfig.json
  packages/components/tsconfig.karma-spec.json
Due: none

refactor: modal
  packages/components/modal/modal.karma-spec.ts
  packages/components/modal/modal.spec.ts
Due: none

refactor: autocomplete
  packages/components/autocomplete/autocomplete.karma-spec.ts
  packages/components/autocomplete/autocomplete.spec.ts
Due: none

refactor: tab-nav-bar
  packages/components/tabs/tab-nav-bar/tab-nav-bar.karma-spec.ts
  packages/components/tabs/tab-nav-bar/tab-nav-bar.spec.ts
Due: none

refactor: input
  packages/components/input/input.karma-spec.ts
  packages/components/input/input.spec.ts
Due: none

refactor: file-upload
  packages/components/file-upload/file-upload.karma-spec.ts
  packages/components/file-upload/file-upload.spec.ts
Due: none

refactor: dropdown
  packages/components/dropdown/dropdown.karma-spec.ts
  packages/components/dropdown/dropdown.spec.ts
Due: none

refactor: list-selection
  packages/components/list/list-selection.component.karma-spec.ts
  packages/components/list/list-selection.component.spec.ts
Due: none

refactor: tab-header
  packages/components/tabs/tab-header.karma-spec.ts
  packages/components/tabs/tab-header.spec.ts
Due: none

refactor: splitter
  packages/components/splitter/splitter.karma-spec.ts
  packages/components/splitter/splitter.spec.ts
Due: none

refactor: timezone-select
  packages/components/timezone/timezone-select.component.karma-spec.ts
  packages/components/timezone/timezone-select.component.spec.ts
Due: none

refactor: select
  packages/components/autocomplete/autocomplete.karma-spec.ts
  packages/components/select/select.component.karma-spec.ts
  packages/components/select/select.component.spec.ts
Due: none

refactor: tooltip
  packages/components/tooltip/tooltip.karma-spec.ts
  packages/components/tooltip/tooltip.spec.ts
Due: none

refactor: scrollbar
  karma.conf.js
  packages/components/karma.conf.js
  packages/components/scrollbar/scrollbar.component.spec.ts
Due: none

feat: updated design-tokens 3.3.1
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  pnpm-lock.yaml
Due: none

feat: updated design-tokens 3.3.1 (#219)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  pnpm-lock.yaml
Due: none

chore: bump version to 17.2.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

fix: revert pnpm migration
  .github/workflows/actions/build-docs/action.yml
  .github/workflows/actions/build-packages/entrypoint.sh
  .github/workflows/actions/generate-changelog/action.yml
  .github/workflows/actions/setup-pnpm/action.yml
  .github/workflows/actions/setup-yarn/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs-next.yml
  .github/workflows/docs-stable.yml
  .github/workflows/pr-docs-preview.yml
  .github/workflows/publish.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  angular.json
  apps/docs/README.md
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: yarn run cspell --files, yamllint

fix: revert pnpm migration (#222)
  .github/workflows/actions/build-docs/action.yml
  .github/workflows/actions/build-packages/entrypoint.sh
  .github/workflows/actions/generate-changelog/action.yml
  .github/workflows/actions/setup-pnpm/action.yml
  .github/workflows/actions/setup-yarn/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs-next.yml
  .github/workflows/docs-stable.yml
  .github/workflows/pr-docs-preview.yml
  .github/workflows/publish.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  angular.json
  apps/docs/README.md
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: yarn run cspell --files, yamllint

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
