Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: add monthly schedule for GitHub Actions updates (#DS-4510) (#1309)
  .github/dependabot.yml
Due: yamllint

refactor: example
  packages/components-dev/input/module.ts
  packages/docs-examples/components/input/index.ts
  packages/docs-examples/components/input/input-with-mask/input-with-mask-example.ts
Due: none

refactor: example
  apps/docs/src/assets/stackblitz/package.json
  packages/docs-examples/components/input/input-with-mask/input-with-mask-example.ts
Due: none

refactor: example
  packages/components/input/input.ru.md
  packages/docs-examples/components/input/input-with-mask/input-with-mask-example.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

refactor: maskito
  package.json
  yarn.lock
Due: none

fix(popover): inverted background of close button without header (#DS-3185)
  packages/components/popover/_popover-theme.scss
  packages/components/popover/popover.component.html
Due: none

test: updated e2e snapshots
  packages/components/popover/__screenshots__/01-dark.png
  packages/components/popover/__screenshots__/01-light.png
Due: none

fix(tags): double focus when editing (#DS-4321)
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
Due: none

fix(docs): stackblitz angular version (#DS-4640)
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  apps/docs/src/assets/stackblitz/package.json
Due: none

fix(datepicker): popup position (#DS-4619)
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker.component.ts
  tools/public_api_guard/components/datepicker.api.md
Due: yarn run cspell --files

refactor: spec
  packages/components/tags/tag.component.spec.ts
Due: none

test: updated e2e snapshots
  packages/components/datepicker/__screenshots__/01-dark.png
  packages/components/datepicker/__screenshots__/01-light.png
Due: none

fix(popover): inverted background of close button without header (#DS-3185) (#1323)
  packages/components/popover/__screenshots__/01-dark.png
  packages/components/popover/__screenshots__/01-light.png
  packages/components/popover/_popover-theme.scss
  packages/components/popover/popover.component.html
Due: none

chore(file-upload): after review
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/template.html
  packages/components/core/utils/utils.ts
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/components/file-upload/primitives/file-drop.ts
  packages/docs-examples/components/file-upload/file-upload-dropzone/file-upload-dropzone-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

chore(file-upload): after review (subscriptions)
  packages/components/file-upload/dropzone.ts
Due: none

chore(file-upload): updated api
  packages/components/file-upload/dropzone.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

chore(file-upload): upd docs
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/primitives/file-drop.ts
Due: none

fix(docs): stackblitz angular version (#DS-4640) (#1325)
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  apps/docs/src/assets/stackblitz/package.json
Due: none

chore(input): added example with mask (#DS-3603) (#1303)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components-dev/input/module.ts
  packages/components/input/input.ru.md
  packages/docs-examples/components/input/index.ts
  packages/docs-examples/components/input/input-with-mask/input-with-mask-example.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  yarn.lock
Due: yarn run cspell --files

fix(tags): double focus when editing (#DS-4321) (#1324)
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
Due: none

chore(dropdown): added example with filter (#DS-4432) (#1308)
  packages/components-dev/dropdown/module.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/docs-examples/components/dropdown/dropdown-with-filter/dropdown-with-filter-example.ts
  packages/docs-examples/components/dropdown/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix(datepicker): popup position (#DS-4619) (#1326)
  packages/components/datepicker/__screenshots__/01-dark.png
  packages/components/datepicker/__screenshots__/01-light.png
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker.component.ts
  tools/public_api_guard/components/datepicker.api.md
Due: yarn run cspell --files

fix(filter-bar): select children using search (#DS-4613)
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
Due: none

fix: metrika and path
  apps/docs/src/index.html
  apps/docs/src/prerenderedRoutes.txt
Due: none

fix: after review
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/template.html
  packages/components/core/utils/utils.ts
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/primitives/file-drop.ts
  packages/components/file-upload/single-file-upload.component.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/primitives/file-drop.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

fix: fixed screenshots
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
Due: none

test: updated e2e snapshots
  packages/components/file-upload/__screenshots__/04-dark.png
  packages/components/file-upload/__screenshots__/04-light.png
Due: none

fix: fixed tests
  packages/components/file-upload/file-upload.karma-spec.ts
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
Due: none

fix: after review
  packages/components/core/utils/utils.ts
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/primitives/file-drop.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

chore(docs): updated file upload docs (#DS-4605)
  packages/components/file-upload/file-upload.en.md
  packages/components/file-upload/file-upload.ru.md
Due: yarn run cspell --files

chore(file-upload): refactored examples
  packages/components-dev/file-upload/module.ts
  packages/components/file-upload/file-upload.en.md
  packages/components/file-upload/file-upload.ru.md
  packages/docs-examples/components/file-upload/file-upload-allowed/file-upload-allowed-example.ts
  packages/docs-examples/components/file-upload/file-upload-custom-text-via-input/file-upload-custom-text-via-input-example.ts
  packages/docs-examples/components/file-upload/file-upload-cva-overview/file-upload-cva-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-dropzone/file-upload-dropzone-example.ts
  packages/docs-examples/components/file-upload/file-upload-indeterminate-loading-overview/file-upload-indeterminate-loading-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-local-dropzone/file-upload-local-dropzone-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-accept-validation/file-upload-multiple-accept-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-compact-overview/file-upload-multiple-compact-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-custom-text-overview/file-upload-multiple-custom-text-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-default-overview/file-upload-multiple-default-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-default-validation-reactive-forms-overview/file-upload-multiple-default-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-error-filled/file-upload-multiple-error-filled-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-error/file-upload-multiple-error-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-mixed-validation/file-upload-multiple-mixed-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-required-reactive-validation/file-upload-multiple-required-reactive-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-with-custom-icon/file-upload-multiple-with-custom-icon-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-with-fixed-height/file-upload-multiple-with-fixed-height-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-with-max-height/file-upload-multiple-with-max-height-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-accept-validation/file-upload-single-accept-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-error-overview/file-upload-single-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-mixed-validation/file-upload-single-mixed-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-overview/file-upload-single-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-required-reactive-validation/file-upload-single-required-reactive-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-validation-reactive-forms-overview/file-upload-single-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-with-signal/file-upload-single-with-signal-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-with-size/file-upload-single-with-size-example.ts
  packages/docs-examples/components/file-upload/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

chore(file-upload): updated examples
  packages/components-dev/file-upload/module.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-with-custom-icon/file-upload-multiple-with-custom-icon-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-with-size/file-upload-single-with-size-example.ts
Due: none

chore(docs): updated examples for file-upload (#DS-4605)
  packages/components/file-upload/file-upload.ru.md
  packages/docs-examples/components/file-upload/file-upload-allowed/file-upload-allowed-example.ts
  packages/docs-examples/components/file-upload/file-upload-local-dropzone/file-upload-local-dropzone-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-disabled/file-upload-multiple-disabled-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-error-filled/file-upload-multiple-error-filled-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-with-custom-icon/file-upload-multiple-with-custom-icon-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-with-fixed-height/file-upload-multiple-with-fixed-height-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-with-max-height/file-upload-multiple-with-max-height-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-with-size/file-upload-single-with-size-example.ts
  packages/docs-examples/components/file-upload/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix: fixed isCorrectExtension validator for multiple extensions
  packages/components/core/forms/validators.spec.ts
  packages/components/core/forms/validators.ts
Due: none

chore: updated error filled example
  packages/docs-examples/components/file-upload/file-upload-multiple-error-filled/file-upload-multiple-error-filled-example.ts
Due: none

chore: updated error empty example
  packages/docs-examples/components/file-upload/file-upload-multiple-error/file-upload-multiple-error-example.ts
Due: none

fix: added local dropzone example
  packages/components-dev/file-upload/module.ts
  packages/docs-examples/components/file-upload/file-upload-dropzone/file-upload-dropzone-example.ts
  packages/docs-examples/components/file-upload/file-upload-local-dropzone/file-upload-local-dropzone-example.ts
Due: none
