Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

feat(badge): added fixed heights for normal badge and compact badge
  packages/components/badge/badge.component.scss
Due: none

feat(navbar): update navbar paddings after new line-height (#DS-2168)
  packages/components/navbar/_navbar-item_horizontal.scss
  packages/components/navbar/_navbar-item_vertical.scss
Due: none

feat(file-upload): change padding to match new typography (#DS-2168)
  packages/components/file-upload/multiple-file-upload.component.scss
Due: none

add radio groups and buttons
  packages/docs-examples/components/radio/index.ts
  packages/docs-examples/components/radio/radio-content/radio-content-example.css
  packages/docs-examples/components/radio/radio-content/radio-content-example.html
  packages/docs-examples/components/radio/radio-group/radio-group-example.css
  packages/docs-examples/components/radio/radio-invalid/radio-invalid-example.css
  packages/docs-examples/components/radio/radio-invalid/radio-invalid-example.html
  packages/docs-examples/components/radio/radio-required/radio-required-example.css
  packages/docs-examples/components/radio/radio-required/radio-required-example.html
  packages/docs-examples/components/radio/radio-size/radio-size-example.css
  packages/docs-examples/components/radio/radio-size/radio-size-example.html
  packages/docs-examples/components/radio/radio-style/radio-style-example.css
  packages/docs-examples/components/radio/radio-style/radio-style-example.html
Due: none

fix: after sync
  packages/components/alert/alert.component.scss
  packages/components/checkbox/checkbox.scss
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/form-field/hint.scss
  packages/components/navbar/_navbar-item_horizontal.scss
  packages/components/navbar/_navbar-item_vertical.scss
Due: none

fix: update tokens
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  yarn.lock
Due: none

add error styles example
  packages/docs-examples/components/radio/radio-style/radio-style-example.html
  packages/docs-examples/components/radio/radio-style/radio-style-example.ts
Due: none

fix: badge and navbar
  packages/components/badge/badge.component.scss
  packages/components/navbar/_navbar-item_horizontal.scss
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/navbar-brand.scss
Due: none

commented two examples + raw styles
  packages/components/radio/radio.md
  packages/docs-examples/components/radio/radio-content/radio-content-example.css
  packages/docs-examples/components/radio/radio-content/radio-content-example.html
  packages/docs-examples/components/radio/radio-size/radio-size-example.css
  packages/docs-examples/components/radio/radio-size/radio-size-example.html
  packages/docs-examples/components/radio/radio-style/radio-style-example.css
  packages/docs-examples/components/radio/radio-style/radio-style-example.html
Due: yarn run cspell --files

fix: toggle-button
  packages/components/button-toggle/button-toggle.scss
Due: none

fix: TC in select for groups
  packages/components/select/select.component.spec.ts
Due: none

feat(visual): update sizes for components (#DS-2168) (#99)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/alert/alert.component.scss
  packages/components/badge/badge.component.scss
  packages/components/button-toggle/button-toggle.scss
  packages/components/checkbox/checkbox.scss
  packages/components/dropdown/dropdown-item.scss
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/form-field/hint.scss
  packages/components/list/list.scss
  packages/components/navbar/_navbar-item_horizontal.scss
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/navbar-brand.scss
  packages/components/package.json
  packages/components/radio/radio.scss
  packages/components/select/select.component.spec.ts
  yarn.lock
Due: none

fix: box-shadow gpu lines
  packages/components/card/_card-theme.scss
  packages/components/code-block/_code-block-theme.scss
  packages/components/form-field/_form-field-theme.scss
  packages/components/icon/_icon-button-theme.scss
  packages/components/tags/_tag-theme.scss
  packages/components/toggle/_toggle-theme.scss
Due: none

feat(tabs): use tabId as selection key (#DS-1036) (#109)
  apps/docs/src/app/components/documentation-items.ts
  packages/components/tabs/examples.tabs.md
  packages/components/tabs/tab-group.component.ts
  packages/components/tabs/tab-group.html
  packages/components/tabs/tab-group.spec.ts
  packages/docs-examples/components/tabs/index.ts
  packages/docs-examples/components/tabs/tab-active-tab-index/tab-active-tab-index-example.css
  packages/docs-examples/components/tabs/tab-active-tab-index/tab-active-tab-index-example.html
  packages/docs-examples/components/tabs/tab-active-tab-index/tab-active-tab-index-example.ts
  packages/docs-examples/components/tabs/tab-active-tab/tab-active-tab-example.css
  packages/docs-examples/components/tabs/tab-active-tab/tab-active-tab-example.html
  packages/docs-examples/components/tabs/tab-active-tab/tab-active-tab-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/tabs.api.md
Due: yarn run cspell --files

fix: updated design tokens with box shadow tokens
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  yarn.lock
Due: none

fix(select): move footer, trigger, matcher and search in common (#DS-2496)
  packages/components-dev/form-field/template.html
  packages/components-dev/tree-select/styles.scss
  packages/components-dev/tree-select/template.html
  packages/components/core/form-field/form-field-ref.ts
  packages/components/core/select/common.ts
  packages/components/core/select/index.ts
  packages/components/select/select.component.ts
  packages/components/select/select.module.ts
  packages/components/tree-select/_tree-select-theme.scss
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  packages/components/tree-select/tree-select.module.ts
  packages/components/tree-select/tree-select.scss
  packages/docs-examples/components/tree-select/tree-select-footer-overview/tree-select-footer-overview-example.html
Due: none

fix: timezone
  packages/components/timezone/timezone-select.component.ts
Due: none

missprint changeDetectorRef
  packages/components/dropdown/dropdown-trigger.directive.ts
Due: none

misstype MM_CHANNGEL_NAME fix
  .github/workflows/pr-notify.yml
  .github/workflows/publish.yml
Due: yamllint

review fixes
  packages/components/radio/radio.md
  packages/docs-examples/components/radio/radio-content/radio-content-example.css
  packages/docs-examples/components/radio/radio-content/radio-content-example.html
  packages/docs-examples/components/radio/radio-size/radio-size-example.css
  packages/docs-examples/components/radio/radio-size/radio-size-example.html
  packages/docs-examples/components/radio/radio-style/radio-style-example.css
  packages/docs-examples/components/radio/radio-style/radio-style-example.html
Due: yarn run cspell --files

build dropdown
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

fix: box-shadow gpu lines (#115)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/card/_card-theme.scss
  packages/components/code-block/_code-block-theme.scss
  packages/components/form-field/_form-field-theme.scss
  packages/components/icon/_icon-button-theme.scss
  packages/components/package.json
  packages/components/tags/_tag-theme.scss
  packages/components/toggle/_toggle-theme.scss
  yarn.lock
Due: none

fix: build
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/timezone.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fixed popovers buttons content
  packages/docs-examples/components/popover/popover-placement-center/popover-placement-center-example.css
  packages/docs-examples/components/popover/popover-placement-edges/popover-placement-edges-example.css
Due: none

border-radius misstype fix
  packages/components/toast/toast.component.scss
Due: none

fix(dropdown): missprint changeDetectorRef fix (#DS-2594) (#117)
  packages/components/dropdown/dropdown-trigger.directive.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

fix(popover): fixed popovers buttons content (#DS-2527) (#120)
  packages/docs-examples/components/popover/popover-placement-center/popover-placement-center-example.css
  packages/docs-examples/components/popover/popover-placement-edges/popover-placement-edges-example.css
Due: none

fix: missprint MM_CHANNGEL_NAME fix (#DS-2590) (#119)
  .github/workflows/pr-notify.yml
  .github/workflows/publish.yml
Due: yamllint

fix(styles): border-radius misstype fix (#DS-2591) (#121)
  packages/components/toast/toast.component.scss
Due: none

feat(docs): New Sections for Radio Component (#DS-1483) (#91)
  packages/components/radio/radio.md
  packages/docs-examples/components/radio/index.ts
  packages/docs-examples/components/radio/radio-content/radio-content-example.css
  packages/docs-examples/components/radio/radio-content/radio-content-example.html
  packages/docs-examples/components/radio/radio-content/radio-content-example.ts
  packages/docs-examples/components/radio/radio-group/radio-group-example.css
  packages/docs-examples/components/radio/radio-group/radio-group-example.html
  packages/docs-examples/components/radio/radio-group/radio-group-example.ts
  packages/docs-examples/components/radio/radio-invalid/radio-invalid-example.css
  packages/docs-examples/components/radio/radio-invalid/radio-invalid-example.html
  packages/docs-examples/components/radio/radio-invalid/radio-invalid-example.ts
  packages/docs-examples/components/radio/radio-required/radio-required-example.css
  packages/docs-examples/components/radio/radio-required/radio-required-example.html
  packages/docs-examples/components/radio/radio-required/radio-required-example.ts
  packages/docs-examples/components/radio/radio-size/radio-size-example.css
  packages/docs-examples/components/radio/radio-size/radio-size-example.html
  packages/docs-examples/components/radio/radio-size/radio-size-example.ts
  packages/docs-examples/components/radio/radio-style/radio-style-example.css
  packages/docs-examples/components/radio/radio-style/radio-style-example.html
  packages/docs-examples/components/radio/radio-style/radio-style-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

cspell ru fixes
  tools/cspell-locales/ru.json
Due: none

fixed vetical align icons + kbq-navbar-title styles
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-item.scss
Due: none

fix(cspell): ru json cspell fixes (#122)
  tools/cspell-locales/ru.json
Due: none

feat(toast): added unsubscription
  packages/components/toast/toast.service.ts
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

feat(toast): added test case
  packages/components/toast/toast.service.ts
  packages/components/toast/toast.spec.ts
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

fix(toast): improved toastService timer performance (#DS-2521)
  packages/components/toast/toast.service.ts
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

feat(docs): auto hiding scrollbar in docs sidenav menu (#DS-2589)
  apps/docs/src/app/components/sidenav/sidenav.component.html
  apps/docs/src/app/components/sidenav/sidenav.component.ts
  apps/docs/src/app/components/sidenav/sidenav.module.ts
  packages/components/scrollbar/scrollbar.component.scss
Due: none

feat(toast): code, UX review changes
  apps/docs/src/app/components/sidenav/sidenav.component.html
  apps/docs/src/app/components/sidenav/sidenav.component.ts
Due: none

feat(toast): properties reordered
  packages/components/toast/toast.service.ts
Due: none

Update packages/components/core/select/common.ts
  packages/components/core/select/common.ts
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
