Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

chore(deps): updated @koobiq/icons to 10.10.0 (#DS-4295) (#1075)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  yarn.lock
Due: none

refactor: examples
  packages/docs-examples/components/textarea/text-area-overview/text-area-overview-example.ts
Due: none

Revert "feat: expanded active area for items (#DS-3492)"
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/dropdown-item.html
  packages/components/dropdown/dropdown-item.scss
  packages/components/dropdown/dropdown.scss
Due: none

feat: expanded active area for items (#DS-3492)
  apps/docs/src/app/components/sidenav/sidenav.component.scss
  packages/components/autocomplete/autocomplete.scss
  packages/components/core/styles/common/_select.scss
  packages/components/dropdown/dropdown.scss
  packages/components/select/select.scss
  packages/components/timezone/timezone-option.component.scss
  packages/components/tree-select/tree-select.scss
Due: none

feat(popover): added [kbqPopoverContext] (#DS-2586)
  packages/components/popover/popover.component.html
  packages/components/popover/popover.component.ts
Due: none

fix: update golden file
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

chore(docs): removed lineNumbers from article code blocks (#DS-3202) (#1076)
  apps/docs/src/app/components/live-example/docs-live-example.ts
Due: none

fix(tree-select): ctrl+a doesn't work (#DS-4250)
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-selection.component.ts
Due: none

feat(docs): added ssr
  angular.json
  apps/docs/server.ts
  apps/docs/src/app/app.config.browser.ts
  apps/docs/src/app/app.config.server.ts
  apps/docs/src/app/app.config.ts
  apps/docs/src/main.server.ts
  apps/docs/src/main.ts
  apps/docs/tsconfig.server.json
  package.json
  yarn.lock
Due: none

fix: ssr runtime
  apps/docs/src/app/app.config.browser.ts
  apps/docs/src/app/app.config.server.ts
  apps/docs/src/app/app.config.ts
  apps/docs/src/app/components/anchors/anchors.component.ts
  apps/docs/src/app/components/navbar/navbar-property.ts
  apps/docs/src/app/components/navbar/navbar.component.ts
  packages/components/core/tokens/index.ts
  packages/components/core/tokens/match-media.ts
  packages/components/core/tokens/storages.ts
  packages/components/modal/modal-util.ts
  packages/components/modal/modal.component.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.ts
Due: none

fix: tests
  packages/components/tree-select/tree-select.component.spec.ts
Due: none

fix(tree-select): ctrl+a doesn't work (#DS-4250) (#1079)
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-selection.component.ts
Due: none

fix: added TC
  packages/components/popover/popover.spec.ts
Due: none

fix(select): keep focus on option after selection (#DS-4052)
  packages/components/select/select.component.ts
Due: none

fix(textarea): resizer icon (#DS-4257) (#1074)
  packages/components/textarea/textarea-tokens.scss
  packages/components/textarea/textarea.scss
  packages/docs-examples/components/textarea/text-area-overview/text-area-overview-example.ts
Due: none

fix: expanded active area for items (#DS-3492) (#1077)
  apps/docs/src/app/components/sidenav/sidenav.component.scss
  packages/components/autocomplete/autocomplete.scss
  packages/components/core/styles/common/_select.scss
  packages/components/dropdown/dropdown.scss
  packages/components/select/select.scss
  packages/components/timezone/timezone-option.component.scss
  packages/components/tree-select/tree-select.scss
Due: none

feat(popover): added [kbqPopoverContext] (#DS-2586) (#1078)
  packages/components/popover/popover.component.html
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.spec.ts
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

fix(select): keep focus on option after selection (#DS-4052) (#1080)
  packages/components/select/select.component.ts
Due: none

fix(filter-bar): control states when saving filter (#DS-4186) (#1073)
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.ts
Due: none

chore(docs): extend example with errors on save and delete filter (#DS-4076)
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
Due: none

fix: after review
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
Due: none

feat(tags): deprecated multiple attribute (#DS-4224)
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.component.ts
  packages/docs-examples/components/tag/tag-autocomplete-draggable/tag-autocomplete-draggable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-editable/tag-autocomplete-editable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-overview/tag-autocomplete-overview-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tag/tag-input-draggable/tag-input-draggable-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-overview/tag-input-overview-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-list-editable/tag-list-editable-example.ts
  packages/docs-examples/components/tag/tag-list-overview/tag-list-overview-example.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/filter-bar/filters.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
Due: none

chore(docs): extend example with errors on save and delete filter (#DS-4076) (#1072)
  packages/components/filter-bar/filters.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
Due: none

chore: improved ci workflows (#DS-3875)
  .github/workflows/actions/build-packages/action.yml
  .github/workflows/actions/setup-node/action.yml
  .github/workflows/actions/setup-yarn/action.yml
  .github/workflows/api.yml
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/docs-next.yml
  .github/workflows/docs-stable.yml
  .github/workflows/e2e-update-screenshots.yml
  .github/workflows/e2e.yml
  .github/workflows/license.yml
  .github/workflows/linters.yml
  .github/workflows/pr-docs-preview.yml
  .github/workflows/publish.yml
  .github/workflows/units.yml
  package.json
Due: yamllint

refactor: renamed var
  packages/components/tags/tag-list.component.ts
Due: none

refactor: units
  .github/workflows/units.yml
Due: yamllint

fix(tags): deprecated multiple attribute (#DS-4224) (#1081)
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.component.ts
  packages/docs-examples/components/tag/tag-autocomplete-draggable/tag-autocomplete-draggable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-editable/tag-autocomplete-editable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-overview/tag-autocomplete-overview-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tag/tag-input-draggable/tag-input-draggable-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-overview/tag-input-overview-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-list-editable/tag-list-editable-example.ts
  packages/docs-examples/components/tag/tag-list-overview/tag-list-overview-example.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix: export required module for the components (#DS-3606)
  packages/components/datepicker/datepicker-module.ts
  packages/components/input/input.module.ts
  packages/components/select/select.module.ts
  packages/components/textarea/textarea.module.ts
  packages/components/timepicker/timepicker.module.ts
  packages/components/timezone/timezone.module.ts
  packages/components/tree-select/tree-select.module.ts
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

feat: added input-number stepper long-press (#DS-4082)
  packages/components/form-field/stepper.ts
  packages/components/input/input-number.spec.ts
Due: none

fix: build errors
  packages/components-experimental/form-field/form-field.spec.ts
  tools/public_api_guard/components/datepicker.api.md
  tools/public_api_guard/components/input.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/textarea.api.md
  tools/public_api_guard/components/timepicker.api.md
  tools/public_api_guard/components/timezone.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

chore: golden files
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

chore: updated tests with timers check
  packages/components/input/input-number.spec.ts
Due: none

fix(select, tree-select): export required modules for the component (#DS-3606) (#684)
  packages/components-experimental/form-field/form-field.spec.ts
  packages/components/datepicker/datepicker-module.ts
  packages/components/input/input.module.ts
  packages/components/select/select.module.ts
  packages/components/textarea/textarea.module.ts
  packages/components/timepicker/timepicker.module.ts
  packages/components/timezone/timezone.module.ts
  packages/components/tree-select/tree-select.module.ts
  tools/public_api_guard/components/datepicker.api.md
  tools/public_api_guard/components/input.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/textarea.api.md
  tools/public_api_guard/components/timepicker.api.md
  tools/public_api_guard/components/timezone.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

chore: updated comment for observable
  packages/components/form-field/stepper.ts
Due: none

chore: updated comment
  packages/components/form-field/stepper.ts
Due: none

chore: updated tests & after review changes
  packages/components/form-field/stepper.ts
  packages/components/input/input-number.spec.ts
Due: none

chore: updated tests & refactor
  packages/components/form-field/stepper.ts
  packages/components/input/input-number.spec.ts
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

chore: made constants @docs-private
  packages/components/form-field/stepper.ts
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
