Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: align .nvmrc with the declared node engine
  .nvmrc
Due: none

chore(cli)!: update release CLI dependencies to current majors
  .github/dependabot.yml
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/release/prompt/new-version-prompt.ts
  packages/cli/tsconfig.json
  packages/cli/tsconfig.lib.json
  yarn.lock
Due: yamllint

refactor: review v2
  packages/components/scrollbar/private/__screenshots__/01-light.png
  packages/components/scrollbar/private/e2e.playwright-spec.ts
  packages/components/scrollbar/private/e2e.ts
  packages/components/scrollbar/private/scrollbar.spec.ts
  packages/components/scrollbar/private/scrollbar.ts
Due: none

refactor: api
  tools/public_api_guard/components/scrollbar-private.api.md
Due: yarn run cspell --files

refactor: examples
  packages/docs-examples/components/scrollbar/private-scrollbar-disable-interaction/private-scrollbar-disable-interaction-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-rtl/private-scrollbar-rtl-example.ts
  packages/docs-examples/components/scrollbar/private-scrollbar-scroll-to/private-scrollbar-scroll-to-example.ts
Due: none

test: updated e2e snapshots
  packages/components/icon/__screenshots__/02-light.png
  packages/components/scrollbar/private/__screenshots__/01-light.png
Due: none

feat: removed unused styles (#DS-4684)
  packages/components/core/styles/_koobiq-theme.scss
  packages/components/core/styles/_tokens.kbq.import.scss
  packages/components/core/styles/_tokens.scss
  packages/components/core/styles/common/_tokens.scss
  packages/components/core/styles/theming/_components-theming.scss
  packages/components/core/styles/theming/_index.scss
  packages/components/core/styles/theming/_theming.scss
  packages/components/core/styles/theming/prebuilt/dark-theme.scss
  packages/components/core/styles/theming/prebuilt/light-theme.scss
  packages/components/package.json
Due: none

chore(deps): update chalk to 6 and glob to 13
  package.json
  packages/cli/package.json
  packages/cli/src/release/release-output/check-packages.ts
  packages/cli/src/release/release-output/output-validations.ts
  tools/api-extractor/tsconfig.json
  tools/api-gen/tsconfig.json
  tools/api-gen/tsconfig.rollup.json
  tools/api-gen/utils.ts
  tools/builders/packager/build.ts
  tools/builders/tsconfig.json
  tools/example-module/index.ts
  tools/example-module/tsconfig.json
  tools/markdown-to-html/tsconfig.json
  tools/markdown-to-html/utils.ts
  tools/scss-compiler/scss-bundle.ts
  yarn.lock
Due: none

fix(docs): migrate remaining decorators to signal APIs, flag stale isNew badges, add e2e smoke (#DS-5390)
  .github/workflows/build.yml
  .gitignore
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/anchors/anchors.component.spec.ts
  apps/docs/src/app/components/anchors/anchors.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/copy-button/copy-button.spec.ts
  apps/docs/src/app/components/example-viewer/example-viewer.ts
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.html
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.ts
  apps/docs/src/app/components/live-example/docs-live-example.ts
  apps/docs/src/app/components/sidenav/sidenav.ts
  apps/docs/src/app/components/stackblitz/stackblitz-writer.spec.ts
  apps/docs/src/app/structure.spec.ts
  apps/docs/src/app/structure.ts
  package.json
  playwright.config.ts
  playwright.docs.config.ts
  tools/serve-docs.mjs
Due: yamllint

chore(cli)!: update conventional-changelog to 8
  .github/dependabot.yml
  package.json
  packages/cli/package.json
  packages/cli/scripts/copy-meta-to-dist.js
  packages/cli/src/release/changelog.ts
  packages/cli/src/release/templates/README.md
  packages/cli/src/release/templates/commit.hbs
  packages/cli/src/release/templates/footer.hbs
  packages/cli/src/release/templates/header.hbs
  packages/cli/src/release/templates/template.hbs
  yarn.lock
Due: yarn run cspell --files, yamllint

chore: ignore nested build output and local tooling in eslint config
  eslint.config.js
Due: none

fix: after review
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  tools/serve-docs.mjs
Due: none

fix(modal): add shadow on overflow (#DS-4818)
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.directive.ts
  packages/components/modal/modal.en.md
  packages/components/modal/modal.ru.md
  packages/docs-examples/components/modal/index.ts
  packages/docs-examples/components/modal/modal-full-custom/modal-full-custom-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
Due: yarn run cspell --files

chore: linters
  packages/components/modal/modal.directive.ts
Due: none

feat: add reposition and close scroll strategy (#DS-1920) (#1781)
  packages/components-dev/select/module.ts
  packages/components/core/overlay/auto-hide-scroll-strategy.spec.ts
  packages/components/core/overlay/auto-hide-scroll-strategy.ts
  packages/components/core/public-api.ts
  packages/components/select/examples.select.en.md
  packages/components/select/examples.select.ru.md
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-auto-hide-scroll-strategy/select-auto-hide-scroll-strategy-example.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore: upd api
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

fix(modal): add shadow on overflow (#DS-4818) (#1802)
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.directive.ts
  packages/components/modal/modal.en.md
  packages/components/modal/modal.ru.md
  packages/docs-examples/components/modal/index.ts
  packages/docs-examples/components/modal/modal-full-custom/modal-full-custom-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

fix(option,list,tree): show action button only on hover and keyboard focus (#DS-5335) (#1808)
  packages/components/core/option/_action-container-mixins.scss
  packages/components/core/option/action.ts
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/e2e.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list.scss
  packages/components/tree/_tree-theme.scss
  packages/components/tree/e2e.playwright-spec.ts
  packages/components/tree/e2e.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-option.scss
  packages/components/tree/tree-selection.component.spec.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(modal): add shadow on overflow (#DS-4818)
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.directive.ts
  packages/components/modal/modal.type.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/core/overlay/panel-height.ts
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/tree-select/tree-select.ru.md
  packages/docs-examples/components/select/select-height/select-height-example.ts
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

ci: make e2e browser setup lean and fail fast
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  package.json
Due: yamllint

fix: set timeout-minutes to 60
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
Due: yamllint

fix: set timeout-minutes to 60 + xlsx
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  .yarnrc.yml
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  package.json
  yarn.lock
Due: yamllint

refactor: review
  packages/components/scrollbar/private/scrollbar.spec.ts
  packages/components/scrollbar/private/scrollbar.ts
Due: none

chore: returned back removed functions and deprecated instead
  packages/components/core/styles/_koobiq-theme.scss
  packages/components/core/styles/_tokens.scss
  packages/components/core/styles/theming/_theming.scss
Due: none

chore: linting
  packages/components/core/styles/theming/_theming.scss
Due: none

ci: cache playwright browsers and drop the apt step
  .github/dependabot.yml
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  package.json
Due: yamllint

ci: drop the playwright browser cache
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
Due: yamllint

ci: raise the e2e setup cap above the browser download time
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
Due: yamllint

fix(modal): add shadow on overflow (#DS-4818) (#1827)
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.directive.ts
  packages/components/modal/modal.type.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

Revert "chore: align .nvmrc with the declared node engine"
  .nvmrc
Due: none

fix(deps): patch angular advisories and pin playwright to its browser build
  .yarnrc.yml
  package.json
  playwright.config.ts
  yarn.lock
Due: yamllint

fix: return webkit
  package.json
Due: none

chore(deps)!: resolve all dependabot advisories and add audit checks (#1823)
  .github/dependabot.yml
  .github/security.md
  .github/workflows/audit-report.yml
  .github/workflows/audit.yml
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  .yarnrc.yml
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  eslint.config.js
  package.json
  packages/cli/package.json
  packages/cli/scripts/copy-meta-to-dist.js
  packages/cli/src/cli.ts
  packages/cli/src/release/changelog.ts
  packages/cli/src/release/prompt/new-version-prompt.ts
  packages/cli/src/release/release-output/check-packages.ts
  packages/cli/src/release/release-output/output-validations.ts
  packages/cli/src/release/templates/README.md
  packages/cli/src/release/templates/commit.hbs
  packages/cli/src/release/templates/footer.hbs
  packages/cli/src/release/templates/header.hbs
  packages/cli/src/release/templates/template.hbs
  packages/cli/tsconfig.json
  packages/cli/tsconfig.lib.json
  playwright.config.ts
  tools/api-extractor/tsconfig.json
  tools/api-gen/tsconfig.json
  tools/api-gen/tsconfig.rollup.json
  tools/api-gen/utils.ts
  tools/builders/packager/build.ts
  tools/builders/tsconfig.json
  tools/cspell-locales/en.json
  tools/example-module/index.ts
  tools/example-module/tsconfig.json
  tools/markdown-to-html/tsconfig.json
  tools/markdown-to-html/utils.ts
  tools/scss-compiler/scss-bundle.ts
  yarn.lock
Due: yarn run cspell --files, yamllint

fix(filter-bar): restore keyboard-only focus ring using actual input modality (#DS-5345) (#1809)
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.spec.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-date-base.ts
  packages/components/filter-bar/pipes/pipe-date.spec.ts
  packages/components/filter-bar/pipes/pipe-datetime.spec.ts
  packages/components/filter-bar/pipes/pipe-states.spec-helper.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/button/button-group.ts
  packages/components/button/button.component.spec.ts
  packages/components/button/button.component.ts
  packages/components/split-button/split-button.spec.ts
  packages/components/split-button/split-button.ts
  tools/public_api_guard/components/button.api.md
Due: yarn run cspell --files

chore(deps-dev): bump @koobiq/design-tokens from ^3.17.2 to ^3.19.0
  package.json
  yarn.lock
Due: none
