Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: fixed tests
  packages/components/input/input-number.spec.ts
Due: none

fix(breadcrumbs): removed invalid layout (#DS-4180)
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-custom-template/breadcrumbs-custom-template-example.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-dropdown/breadcrumbs-dropdown-example.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

chore: golden files
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

fix(tags): focus behavior on remove and drop (#DS-4271)
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
  packages/docs-examples/components/tag/tag-autocomplete-draggable/tag-autocomplete-draggable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-editable/tag-autocomplete-editable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-overview/tag-autocomplete-overview-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tag/tag-editable-with-validation/tag-editable-with-validation-example.ts
  packages/docs-examples/components/tag/tag-editable/tag-editable-example.ts
  packages/docs-examples/components/tag/tag-input-draggable/tag-input-draggable-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-overview/tag-input-overview-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  packages/docs-examples/components/tag/tag-list-draggable/tag-list-draggable-example.ts
  packages/docs-examples/components/tag/tag-list-editable/tag-list-editable-example.ts
  packages/docs-examples/components/tag/tag-list-overview/tag-list-overview-example.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.ts
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(navbar-ic): prevent accidental panel openings (#DS-4198)
  packages/components/navbar-ic/navbar-ic-header.scss
  packages/components/navbar-ic/navbar-ic-header.ts
  packages/components/navbar-ic/navbar-ic-item.html
  packages/components/navbar-ic/navbar-ic-item.scss
  packages/components/navbar-ic/navbar-ic-item.ts
  packages/components/navbar-ic/navbar-ic.animation.ts
  packages/components/navbar-ic/navbar-ic.ts
  tools/public_api_guard/components/navbar-ic.api.md
Due: yarn run cspell --files

fix(toggle): layout based on label presence
  packages/components/toggle/toggle.scss
Due: none

fix: hiding by focus
  packages/components/navbar-ic/navbar-ic.ts
Due: none

refactor: afterRemove
  packages/docs-examples/components/tag/tag-autocomplete-draggable/tag-autocomplete-draggable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-editable/tag-autocomplete-editable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-overview/tag-autocomplete-overview-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tag/tag-input-draggable/tag-input-draggable-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-overview/tag-input-overview-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.ts
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.ts
Due: none

chore: update codeowners
  .github/CODEOWNERS
Due: none

fix(filter-bar): localization (#DS-4077)
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/zh-CN.ts
Due: none

fix(filter-bar): localization (#DS-4077) (#1089)
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/zh-CN.ts
Due: none

fix(common): delete unused locales (#DS-4331)
  apps/docs/src/app/components/footer/footer.component.ts
  packages/components/core/formatters/date/formatter.spec.ts
  packages/components/core/formatters/number/formatter.spec.ts
  packages/components/core/formatters/number/formatter.ts
  packages/components/core/locales/fa-IR.ts
  packages/components/core/locales/formatters.ts
  packages/components/core/locales/index.ts
  packages/components/core/locales/locale-service.ts
  packages/components/core/locales/zh-CN.ts
  packages/components/core/styles/typography/_typography.scss
  packages/docs-examples/components/file-upload/fa-IR.ts
  packages/docs-examples/components/file-upload/file-upload-custom-text-via-input/file-upload-custom-text-via-input-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-custom-text-overview/file-upload-multiple-custom-text-overview-example.ts
  packages/docs-examples/components/file-upload/zh-CN.ts
Due: none

fix: golden files
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat: added input-number stepper long-press (#DS-4082) (#1083)
  packages/components/form-field/stepper.ts
  packages/components/input/input-number.spec.ts
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

fix(breadcrumbs): removed invalid layout (#DS-4180) (#1086)
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-custom-template/breadcrumbs-custom-template-example.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-dropdown/breadcrumbs-dropdown-example.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

fix(common): delete unused locales (#DS-4331) (#1090)
  apps/docs/src/app/components/footer/footer.component.ts
  packages/components/core/formatters/date/formatter.spec.ts
  packages/components/core/formatters/number/formatter.spec.ts
  packages/components/core/formatters/number/formatter.ts
  packages/components/core/locales/fa-IR.ts
  packages/components/core/locales/formatters.ts
  packages/components/core/locales/index.ts
  packages/components/core/locales/locale-service.ts
  packages/components/core/locales/zh-CN.ts
  packages/components/core/styles/typography/_typography.scss
  packages/docs-examples/components/file-upload/fa-IR.ts
  packages/docs-examples/components/file-upload/file-upload-custom-text-via-input/file-upload-custom-text-via-input-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-custom-text-overview/file-upload-multiple-custom-text-overview-example.ts
  packages/docs-examples/components/file-upload/zh-CN.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(tags): focus behavior on remove and drop (#DS-4271) (#1084)
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
  packages/docs-examples/components/tag/tag-autocomplete-draggable/tag-autocomplete-draggable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-editable/tag-autocomplete-editable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-overview/tag-autocomplete-overview-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tag/tag-editable-with-validation/tag-editable-with-validation-example.ts
  packages/docs-examples/components/tag/tag-editable/tag-editable-example.ts
  packages/docs-examples/components/tag/tag-input-draggable/tag-input-draggable-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-overview/tag-input-overview-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  packages/docs-examples/components/tag/tag-list-draggable/tag-list-draggable-example.ts
  packages/docs-examples/components/tag/tag-list-editable/tag-list-editable-example.ts
  packages/docs-examples/components/tag/tag-list-overview/tag-list-overview-example.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.ts
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(toggle): layout based on label presence (#DS-4293) (#1087)
  packages/components/toggle/toggle.scss
Due: none

refactor: api
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

test: auto-updated e2e screenshots
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-default-1.png
Due: none

refactor: review
  packages/components/core/common-behaviors/hovered.spec.ts
  packages/components/toggle/toggle.component.ts
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

feat(toggle): added KbqHovered directive to host and screenshot tests (#DS-4293)
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleStateAndStyle-default-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleStateAndStyle-default-dark-theme-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-default-1.png
  packages/components-dev/e2e/components/toggle.playwright-spec.ts
  packages/components-dev/e2e/components/toggle.ts
  packages/components-dev/e2e/module.ts
  packages/components-dev/e2e/template.html
  packages/components/core/common-behaviors/hovered.spec.ts
  packages/components/toggle/_toggle-theme.scss
  packages/components/toggle/toggle-tokens.scss
  packages/components/toggle/toggle.component.ts
Due: none

chore: added auto approve snapshots workflow (#DS-3875)
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e-update-screenshots.yml
  .github/workflows/e2e.yml
Due: yamllint

chore: added units for KbqHovered directive
  packages/components/core/common-behaviors/hovered.spec.ts
  packages/components/core/common-behaviors/hovered.ts
Due: none

refactor: review, updated screenshot, added new tests
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleStateAndStyle-default-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleStateAndStyle-default-dark-theme-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleStateAndStyle-indeterminate-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-big-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-default-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-default-dark-theme-1.png
  packages/components-dev/e2e/components/toggle.playwright-spec.ts
  packages/components-dev/e2e/components/toggle.ts
Due: none

test: auto-updated e2e screenshots
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-big-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-default-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-default-dark-theme-1.png
Due: none

chore(toggle): added screenshot tests (#DS-4293) (#1088)
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleStateAndStyle-default-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleStateAndStyle-default-dark-theme-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleStateAndStyle-indeterminate-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-big-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-default-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-default-dark-theme-1.png
  packages/components-dev/e2e/components/toggle.playwright-spec.ts
  packages/components-dev/e2e/components/toggle.ts
  packages/components-dev/e2e/module.ts
  packages/components-dev/e2e/template.html
  packages/components/toggle/_toggle-theme.scss
  packages/components/toggle/toggle-tokens.scss
Due: none

fix: use reactive approach instead of setTimeout
  packages/components/navbar-ic/navbar-ic.ts
Due: none

fix(navbar-ic): prevent accidental panel openings (#DS-4198) (#1085)
  packages/components/navbar-ic/navbar-ic-header.scss
  packages/components/navbar-ic/navbar-ic-header.ts
  packages/components/navbar-ic/navbar-ic-item.html
  packages/components/navbar-ic/navbar-ic-item.scss
  packages/components/navbar-ic/navbar-ic-item.ts
  packages/components/navbar-ic/navbar-ic.animation.ts
  packages/components/navbar-ic/navbar-ic.ts
  tools/public_api_guard/components/navbar-ic.api.md
Due: yarn run cspell --files

chore(docs): fixed examples for notification-center (#DS-4320)
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.html
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.html
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.html
Due: none

feat(tags): apply KbqFieldSizingContent directive to KbqTagInput (#DS-4204)
  packages/components/core/form-field/field-sizing-content.spec.ts
  packages/components/core/form-field/field-sizing-content.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.scss
  packages/docs-examples/components/tag/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tag/tag-input-draggable/tag-input-draggable-example.ts
  packages/docs-examples/components/tag/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.html
  tools/jest/setup.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

chore: improved ci workflows (#DS-3875) (#1082)
  .github/workflows/actions/build-packages/action.yml
  .github/workflows/actions/setup-node/action.yml
  .github/workflows/actions/setup-yarn/action.yml
  .github/workflows/api.yml
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/docs-next.yml
  .github/workflows/docs-stable.yml
  .github/workflows/e2e-update-screenshots.yml
  .github/workflows/e2e.yml
  .github/workflows/license.yml
  .github/workflows/linters.yml
  .github/workflows/pr-docs-preview.yml
  .github/workflows/publish.yml
  .github/workflows/units.yml
  package.json
Due: yamllint

Apply suggestion from @Copilot
  .github/workflows/e2e-approve-snapshots.yml
Due: yamllint

chore: prettier check all files
  .prettierignore
  package.json
Due: none

Update .prettierignore
  .prettierignore
Due: none

chore(docs): fixed examples for notification-center (#DS-4320) (#1098)
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.html
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.html
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.html
Due: none

chore: prettier check all files (#1099)
  .prettierignore
  package.json
Due: none

fix(title): tooltip is not displayed (#DS-4292)
  packages/components/title/title.directive.karma-spec.ts
  packages/components/title/title.directive.ts
Due: none

fix(split-button): incorrect styles for one button (#DS-4312)
  packages/components/split-button/split-button.scss
  packages/components/split-button/split-button.ts
  tools/public_api_guard/components/split-button.api.md
Due: yarn run cspell --files
