Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

feat(top-menu): added new property to control hover shadow
  packages/components-dev/top-menu/module.ts
  packages/components-dev/top-menu/template.html
  packages/components/top-menu/top-menu.scss
  packages/components/top-menu/top-menu.spec.ts
  packages/components/top-menu/top-menu.ts
  tools/generate-sitemap.ts
Due: none

feat(top-menu): updated docs for en
  packages/components/top-menu/top-menu.en.md
Due: yarn run cspell --files

feat(top-menu): removed box shadow on hover
  packages/components/top-menu/top-menu.scss
  packages/components/top-menu/top-menu.spec.ts
  packages/components/top-menu/top-menu.ts
  tools/public_api_guard/components/top-menu.api.md
Due: yarn run cspell --files

feat(top-menu): upd golden files
  tools/public_api_guard/components/top-menu.api.md
Due: yarn run cspell --files

feat(top-menu): added example for additional actions
  packages/components/top-menu/top-menu.en.md
  packages/components/top-menu/top-menu.ru.md
  packages/docs-examples/components/top-menu/index.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions/top-menu-secondary-actions.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

feat(top-menu): upd docs, renamed from ru to en
  packages/docs-examples/components/top-menu/top-menu-active-breadcrumb/top-menu-active-breadcrumb-example.ts
  packages/docs-examples/components/top-menu/top-menu-overflow/top-menu-overflow-example.ts
  packages/docs-examples/components/top-menu/top-menu-overview/top-menu-overview-example.ts
Due: none

chore(top-menu,docs): code review changes
  packages/docs-examples/components/top-menu/top-menu-active-breadcrumb/top-menu-active-breadcrumb-example.ts
  packages/docs-examples/components/top-menu/top-menu-breadcrumbs/top-menu-breadcrumbs-example.ts
  packages/docs-examples/components/top-menu/top-menu-overflow/top-menu-overflow-example.ts
  packages/docs-examples/components/top-menu/top-menu-overview/top-menu-overview-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions-responsive/top-menu-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions/top-menu-secondary-actions-example.ts
Due: none

feat(top-menu): added example with responsive additional actions
  packages/components/top-menu/top-menu.en.md
  packages/components/top-menu/top-menu.ru.md
  packages/components/top-menu/top-menu.scss
  packages/docs-examples/components/top-menu/index.ts
  packages/docs-examples/components/top-menu/top-menu-active-breadcrumb/top-menu-active-breadcrumb-example.ts
  packages/docs-examples/components/top-menu/top-menu-overview/top-menu-overview-example.css
  packages/docs-examples/components/top-menu/top-menu-overview/top-menu-overview-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions-responsive/top-menu-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions/top-menu-secondary-actions-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions/top-menu-secondary-actions.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

feat(top-menu): fixes after design review
  packages/components/top-menu/top-menu-tokens.scss
Due: none

chore(top-menu,docs): refactored imports
  packages/docs-examples/components/top-menu/top-menu-active-breadcrumb/top-menu-active-breadcrumb-example.ts
  packages/docs-examples/components/top-menu/top-menu-breadcrumbs/top-menu-breadcrumbs-example.ts
  packages/docs-examples/components/top-menu/top-menu-overflow/top-menu-overflow-example.ts
  packages/docs-examples/components/top-menu/top-menu-overview/top-menu-overview-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions-responsive/top-menu-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions/top-menu-secondary-actions-example.ts
Due: none

chore(docs): fixed typo
  packages/components/top-menu/top-menu.ru.md
Due: yarn run cspell --files

chore(top-menu): fixes in examples
  packages/components/top-menu/top-menu.en.md
  packages/components/top-menu/top-menu.ru.md
  packages/docs-examples/components/top-menu/top-menu-active-breadcrumb/top-menu-active-breadcrumb-example.ts
  packages/docs-examples/components/top-menu/top-menu-breadcrumbs/top-menu-breadcrumbs-example.ts
  packages/docs-examples/components/top-menu/top-menu-overflow/top-menu-overflow-example.ts
  packages/docs-examples/components/top-menu/top-menu-overview/top-menu-overview-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions-responsive/top-menu-secondary-actions-responsive-example.ts
Due: yarn run cspell --files

chore(top-menu): fixes in dev
  packages/components-dev/top-menu/styles.scss
  packages/components-dev/top-menu/template.html
Due: none

chore(top-menu): fixed overflow example
  packages/components-dev/top-menu/module.ts
  packages/components-dev/top-menu/template.html
  packages/components/top-menu/top-menu.ts
  packages/docs-examples/components/top-menu/top-menu-overflow/top-menu-overflow-example.ts
Due: none

chore(top-menu): add directives for CSS class handling
  packages/components/top-menu/module.ts
  packages/components/top-menu/top-menu.scss
  packages/components/top-menu/top-menu.ts
  packages/docs-examples/components/top-menu/top-menu-active-breadcrumb/top-menu-active-breadcrumb-example.ts
  packages/docs-examples/components/top-menu/top-menu-breadcrumbs/top-menu-breadcrumbs-example.ts
  packages/docs-examples/components/top-menu/top-menu-overflow/top-menu-overflow-example.ts
  packages/docs-examples/components/top-menu/top-menu-overview/top-menu-overview-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions-responsive/top-menu-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions/top-menu-secondary-actions-example.ts
  tools/public_api_guard/components/top-menu.api.md
Due: yarn run cspell --files

chore(top-menu): renamed directive selectors and top-menu property
  packages/components/top-menu/top-menu-tokens.scss
  packages/components/top-menu/top-menu.scss
  packages/components/top-menu/top-menu.spec.ts
  packages/components/top-menu/top-menu.ts
  packages/docs-examples/components/top-menu/top-menu-active-breadcrumb/top-menu-active-breadcrumb-example.ts
  packages/docs-examples/components/top-menu/top-menu-breadcrumbs/top-menu-breadcrumbs-example.ts
  packages/docs-examples/components/top-menu/top-menu-overflow/top-menu-overflow-example.ts
  packages/docs-examples/components/top-menu/top-menu-overview/top-menu-overview-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions-responsive/top-menu-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions/top-menu-secondary-actions-example.ts
  tools/public_api_guard/components/top-menu.api.md
Due: yarn run cspell --files

chore: "top-menu" -> "top-bar"
  angular.json
  apps/docs/src/app/services/documentation-items.ts
  package.json
  packages/components-dev/top-bar/main.ts
  packages/components-dev/top-bar/module.ts
  packages/components-dev/top-bar/styles.scss
  packages/components-dev/top-bar/template.html
  packages/components-dev/top-bar/tsconfig.app.json
  packages/components/top-bar/examples.top-bar.en.md
  packages/components/top-bar/examples.top-bar.ru.md
  packages/components/top-bar/index.ts
  packages/components/top-bar/module.ts
  packages/components/top-bar/ng-package.json
  packages/components/top-bar/public-api.ts
  packages/components/top-bar/top-bar-tokens.scss
  packages/components/top-bar/top-bar.en.md
  packages/components/top-bar/top-bar.ru.md
  packages/components/top-bar/top-bar.scss
  packages/components/top-bar/top-bar.spec.ts
  packages/components/top-bar/top-bar.ts
  packages/components/top-menu/module.ts
  packages/components/top-menu/public-api.ts
  packages/components/top-menu/top-menu-tokens.scss
  packages/components/top-menu/top-menu.scss
  packages/docs-examples/components/top-bar/index.ts
  packages/docs-examples/components/top-bar/ng-package.json
  packages/docs-examples/components/top-bar/top-bar-active-breadcrumb/top-bar-active-breadcrumb-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs/top-bar-breadcrumbs-example.ts
  packages/docs-examples/components/top-bar/top-bar-overflow/top-bar-overflow-example.ts
  packages/docs-examples/components/top-bar/top-bar-overview/top-bar-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions/top-bar-secondary-actions-example.ts
  packages/docs-examples/components/top-menu/index.ts
  packages/docs-examples/example-module.ts
  tools/api-extractor/config.json
  tools/generate-sitemap.ts
  tools/public_api_guard/components/top-bar.api.md
  tools/public_api_guard/components/top-menu.api.md
  tsconfig.json
Due: yarn run cspell --files

chore: after review
  packages/components/top-bar/top-bar.scss
  packages/components/top-bar/top-bar.ts
  packages/docs-examples/components/top-bar/top-bar-active-breadcrumb/top-bar-active-breadcrumb-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs/top-bar-breadcrumbs-example.ts
  packages/docs-examples/components/top-bar/top-bar-overflow/top-bar-overflow-example.ts
  packages/docs-examples/components/top-bar/top-bar-overview/top-bar-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions/top-bar-secondary-actions-example.ts
  tools/public_api_guard/components/top-bar.api.md
Due: yarn run cspell --files

chore(docs,top-menu): fixed styles and examples
  packages/components/top-menu/top-menu.scss
  packages/docs-examples/components/top-menu/top-menu-overflow/top-menu-overflow-example.ts
  packages/docs-examples/components/top-menu/top-menu-secondary-actions-responsive/top-menu-secondary-actions-responsive-example.ts
Due: none

chore(docs,top-bar): added top-bar preview
  apps/docs/src/assets/images/welcome/top-bar-dark.png
  apps/docs/src/assets/images/welcome/top-bar-light.png
Due: none

chore(docs,top-bar): after review
  apps/docs/src/styles/_theme-kbq.scss
  packages/components/core/styles/common/_list.scss
  packages/docs-examples/components/top-bar/top-bar-active-breadcrumb/top-bar-active-breadcrumb-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs/top-bar-breadcrumbs-example.ts
  packages/docs-examples/components/top-bar/top-bar-overflow/top-bar-overflow-example.ts
  packages/docs-examples/components/top-bar/top-bar-overview/top-bar-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions/top-bar-secondary-actions-example.ts
Due: none

feat(docs): added lang facetFilters for docsearch (#DS-3364)
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  apps/docs/src/app/services/locale.ts
  apps/docs/src/main.ts
  packages/components/core/locales/locale-service.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: added search in select and multiselect
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-title.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore(docs,top-bar): wrapped isDesktop to signal
  packages/docs-examples/components/top-bar/top-bar-active-breadcrumb/top-bar-active-breadcrumb-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs/top-bar-breadcrumbs-example.ts
  packages/docs-examples/components/top-bar/top-bar-overflow/top-bar-overflow-example.ts
  packages/docs-examples/components/top-bar/top-bar-overview/top-bar-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
Due: none

chore: fixed webstorm karma test runner
  angular.json
  package.json
Due: none

chore: fixed webstorm karma test runner (#559)
  angular.json
  package.json
Due: none

chore(docs,top-bar): fixed focus line
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
Due: none

feat(docs): added lang facetFilters for docsearch (#DS-3364) (#558)
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  apps/docs/src/app/services/locale.ts
  apps/docs/src/main.ts
  packages/components/core/locales/locale-service.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore(docs,top-bar): fixed focus line (v2)
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions/top-bar-secondary-actions-example.ts
Due: none

feat(top-bar): init component (#DS-3126) (#525)
  angular.json
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/assets/images/welcome/top-bar-dark.png
  apps/docs/src/assets/images/welcome/top-bar-light.png
  apps/docs/src/styles/_theme-kbq.scss
  package.json
  packages/components-dev/top-bar/main.ts
  packages/components-dev/top-bar/module.ts
  packages/components-dev/top-bar/styles.scss
  packages/components-dev/top-bar/template.html
  packages/components-dev/top-bar/tsconfig.app.json
  packages/components/core/styles/common/_list.scss
  packages/components/top-bar/examples.top-bar.en.md
  packages/components/top-bar/examples.top-bar.ru.md
  packages/components/top-bar/index.ts
  packages/components/top-bar/module.ts
  packages/components/top-bar/ng-package.json
  packages/components/top-bar/public-api.ts
  packages/components/top-bar/top-bar-tokens.scss
  packages/components/top-bar/top-bar.en.md
  packages/components/top-bar/top-bar.ru.md
  packages/components/top-bar/top-bar.scss
  packages/components/top-bar/top-bar.spec.ts
  packages/components/top-bar/top-bar.ts
  packages/docs-examples/components/top-bar/index.ts
  packages/docs-examples/components/top-bar/ng-package.json
  packages/docs-examples/components/top-bar/top-bar-active-breadcrumb/top-bar-active-breadcrumb-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs/top-bar-breadcrumbs-example.ts
  packages/docs-examples/components/top-bar/top-bar-overflow/top-bar-overflow-example.ts
  packages/docs-examples/components/top-bar/top-bar-overview/top-bar-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions/top-bar-secondary-actions-example.ts
  packages/docs-examples/example-module.ts
  tools/api-extractor/config.json
  tools/cspell-locales/ru.json
  tools/generate-sitemap.ts
  tools/public_api_guard/components/top-bar.api.md
  tsconfig.json
Due: yarn run cspell --files

chore: bump version to 18.17.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

fix(docs): manual installation guide rewritten (#DS-3415)
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
Due: yarn run cspell --files

fix(docs): non-blocking CI steps on error (#DS-3404)
  .github/workflows/ci.yml
Due: yamllint

fix: examples
  packages/components/filter-bar/filter-bar-reset.ts
  packages/components/filter-bar/filter-bar-search.ts
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filters.html
  packages/docs-examples/components/filter-bar/filter-bar-cleanable/filter-bar-cleanable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(docs): non-blocking CI steps on error (#DS-3404) (#561)
  .github/workflows/ci.yml
Due: yamllint

refactor: commintlint
  .commitlintrc.js
Due: none

chore(examples): updated select examples
  .commitlintrc.js
  packages/docs-examples/components/select/select-virtual-scroll/select-virtual-scroll-example.ts
  packages/docs-examples/example-module.ts
Due: none

chore: added multiline npm install command
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
Due: yarn run cspell --files

chore: added radix-ng primitives to install command, removed multiline
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
Due: yarn run cspell --files

chore(docs): updated example-module config and removed unused code (#562)
  packages/docs-examples/components/select/select-virtual-scroll/select-virtual-scroll-example.ts
  packages/docs-examples/example-module.ts
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
