Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(autocomplete): scroll into view in safari (#DS-3299)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.spec.ts
Due: none

chore: after review
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.ru.md
Due: yarn run cspell --files

refactor: review
  packages/components/scrollbar/scrollbar.ts
  tools/public_api_guard/components/scrollbar.api.md
Due: yarn run cspell --files

refactor: modal
  packages/components/modal/modal.scss
  packages/components/scrollbar/scrollbar.ts
Due: none

fix: open panel properly on sibling item hover
  packages/components-dev/dropdown/template.html
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.spec.ts
Due: none

feat: refactor
  packages/components-dev/dropdown/module.ts
  packages/components-dev/dropdown/template.html
  packages/components/core/overlay/safe-area.spec.ts
  packages/components/core/overlay/safe-area.ts
  packages/components/core/public-api.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/dropdown.types.ts
  packages/docs-examples/components/dropdown/dropdown-safe-area/dropdown-safe-area-example.ts
  packages/docs-examples/components/dropdown/index.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

feat(table): added stickyHeader (#DS-4911)
  packages/components-dev/table/module.ts
  packages/components/table/__screenshots__/01-dark.png
  packages/components/table/__screenshots__/01-light.png
  packages/components/table/_table-theme.scss
  packages/components/table/e2e.playwright-spec.ts
  packages/components/table/e2e.ts
  packages/components/table/table.component.ts
  packages/components/table/table.en.md
  packages/components/table/table.ru.md
  packages/components/table/table.scss
  packages/docs-examples/components/table/index.ts
  packages/docs-examples/components/table/table-sticky-header/table-sticky-header-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/table.api.md
Due: yarn run cspell --files

fix: prettier
  packages/components/dropdown/dropdown-trigger.directive.ts
Due: none

feat: update icons migration schematics (#DS-4328)
  packages/schematics/src/migrations/deprecated-icons/README.md
  packages/schematics/src/migrations/deprecated-icons/__snapshots__/index.spec.ts.snap
  packages/schematics/src/migrations/deprecated-icons/data.ts
  packages/schematics/src/migrations/deprecated-icons/index.spec.ts
  packages/schematics/src/migrations/deprecated-icons/index.ts
  packages/schematics/src/migrations/new-icons-pack/README.md
  packages/schematics/src/migrations/new-icons-pack/data.ts
  packages/schematics/src/migrations/new-icons-pack/index.spec.ts
  packages/schematics/src/migrations/new-icons-pack/index.ts
  packages/schematics/src/utils/angular-parsing.ts
  packages/schematics/src/utils/ast.ts
  packages/schematics/src/utils/icon-migration.ts
  packages/schematics/src/utils/typescript.ts
Due: yarn run cspell --files

fix: linters & example build
  packages/docs-examples/components/table/table-sticky-header/table-sticky-header-example.ts
Due: none

docs(table): revise sticky header text according to style guide (#DS-4911)
  packages/components/table/table.ru.md
Due: yarn run cspell --files

fix: after review
  packages/components/form-field/form-field.en.md
  packages/components/form-field/form-field.ru.md
Due: yarn run cspell --files

feat(form-field): browser autofill tints the field instead of overriding its state (#DS-4096) (#1908)
  packages/components/core/common-behaviors/autofill.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/core/styles/theming/_theming.scss
  packages/components/form-field/__screenshots__/04-dark.png
  packages/components/form-field/__screenshots__/04-light.png
  packages/components/form-field/__screenshots__/05-dark.png
  packages/components/form-field/__screenshots__/05-light.png
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/autofill.spec.ts
  packages/components/form-field/e2e.playwright-spec.ts
  packages/components/form-field/e2e.ts
  packages/components/form-field/form-field-control.ts
  packages/components/form-field/form-field-tokens.scss
  packages/components/form-field/form-field.en.md
  packages/components/form-field/form-field.ru.md
  packages/components/form-field/form-field.scss
  packages/components/form-field/form-field.ts
  packages/components/input/e2e.ts
  packages/components/input/input-password.ts
  packages/components/input/input.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-text-control.ts
  packages/components/textarea/textarea.component.ts
  packages/e2e/routes.ts
  packages/e2e/utils/autofill.ts
  packages/e2e/utils/index.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/input.api.md
  tools/public_api_guard/components/tags.api.md
  tools/public_api_guard/components/textarea.api.md
Due: yarn run cspell --files

chore: ignore ag-grid major updates
  .github/dependabot.yml
Due: yamllint

refactor: docsearch types
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
Due: none

chore: ignore ag-grid major updates (#1927)
  .github/dependabot.yml
Due: yamllint

refactor: correct type
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  package.json
  yarn.lock
Due: none

fix(toast): keep an overlay anchored to its trigger while the stack re-flows
  packages/components/toast/toast-container.component.ts
  packages/components/toast/toast.spec.ts
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

fix(toast): keep other overlays open when a toast appears (#DS-5407) (#1909)
  packages/components-dev/toast/module.ts
  packages/components-dev/toast/template.html
  packages/components/toast/toast-container.component.ts
  packages/components/toast/toast.spec.ts
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/list/__screenshots__/01-dark.png
Due: none

chore: after review
  packages/schematics/src/utils/icon-migration.ts
Due: none

fix: remove hover bg on sibling when moving toward submenu in safe area
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/dropdown.component.ts
Due: none

fix(filter-bar)!: renaming a filter no longer saves its pending changes (#DS-4903) (#1914)
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/navbar/template.html
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.spec.ts
  packages/components/notification-center/notification-center.html
  packages/components/notification-center/notification-center.spec.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
  packages/docs-examples/components/navbar/navbar-template-outlet/navbar-template-outlet-example.html
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.html
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.html
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/filter-bar-rename-action/README.md
  packages/schematics/src/migrations/filter-bar-rename-action/data.ts
  packages/schematics/src/migrations/filter-bar-rename-action/index.spec.ts
  packages/schematics/src/migrations/filter-bar-rename-action/index.ts
  packages/schematics/src/migrations/filter-bar-rename-action/schema.json
  packages/schematics/src/migrations/filter-bar-rename-action/schema.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/notification-center.api.md
Due: yarn run cspell --files

refactor(tree): single source for option title element, cover priority and vertical clipping
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

fix(list): errors following a full review of the component (#DS-5402) (#1916)
  packages/components/core/option/optgroup.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/list/__screenshots__/01-dark.png
  packages/components/list/_list-theme.scss
  packages/components/list/list-option.html
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list-tokens.scss
  packages/components/list/list.component.spec.ts
  packages/components/list/list.component.ts
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/components/list/list.scss
  packages/docs-examples/components/list/list-action-button/list-action-button-example.ts
  packages/docs-examples/components/list/list-groups/list-groups-example.ts
  packages/docs-examples/components/list/list-intermediate-state/list-intermediate-state-example.html
  packages/docs-examples/components/list/list-multiple-checkbox/list-multiple-checkbox-example.ts
  packages/docs-examples/components/list/list-multiple-keyboard/list-multiple-keyboard-example.ts
  packages/docs-examples/components/list/list-overview/list-overview-example.ts
  packages/docs-examples/components/list/list-virtual-scroll/list-virtual-scroll-example.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

fix(navbar): errors following a full review of the component (#DS-5403)
  packages/components-dev/navbar/template.html
  packages/components/navbar/_navbar-item_horizontal.scss
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/_navbar-theme.scss
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/e2e.ts
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-divider.scss
  packages/components/navbar/navbar-item.component.html
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar-item.scss
  packages/components/navbar/navbar-toggle.component.ts
  packages/components/navbar/navbar-toggle.scss
  packages/components/navbar/navbar-tokens.scss
  packages/components/navbar/navbar.component.html
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.component.ts
  packages/components/navbar/navbar.scss
  packages/components/navbar/vertical-navbar.component.ts
  packages/components/navbar/vertical-navbar.scss
  packages/components/tooltip/tooltip.component.ts
  packages/docs-examples/components/navbar/navbar-template-outlet/navbar-template-outlet-example.html
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-vertical-open-over/navbar-vertical-open-over-example.html
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.html
  packages/e2e/routes.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/navbar-signals-and-aria/README.md
  packages/schematics/src/migrations/navbar-signals-and-aria/data.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/schema.json
  packages/schematics/src/migrations/navbar-signals-and-aria/schema.ts
  tools/public_api_guard/components/navbar.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

fix(navbar): fix codemod, a11y coverage and e2e focus bugs from review (#DS-5403)
  packages/components/navbar/_navbar-item_horizontal.scss
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/data.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.ts
Due: none

fix(navbar): fix roving arrow focus and migration receiver scoping (#DS-5403)
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.component.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/index.ts
  packages/schematics/src/migrations/navbar-signals-and-aria/schema.ts
Due: none

test: updated e2e snapshots
  packages/components/navbar/__screenshots__/04-dropdown-open-dark.png
  packages/components/navbar/__screenshots__/04-dropdown-open-light.png
  packages/components/navbar/__screenshots__/05-collapsed-light.png
  packages/components/navbar/__screenshots__/05-expanded-light.png
  packages/components/navbar/__screenshots__/06-focused-light.png
  packages/components/navbar/__screenshots__/07-collapsed-tooltip-light.png
Due: none

fix: after review
  packages/components/table/table.scss
  packages/docs-examples/example-module.ts
Due: none

feat(dropdown): added safe triangle for submenu (#DS-2446) (#1906)
  packages/components-dev/dropdown/module.ts
  packages/components-dev/dropdown/template.html
  packages/components/core/overlay/safe-area.spec.ts
  packages/components/core/overlay/safe-area.ts
  packages/components/core/public-api.ts
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/dropdown.types.ts
  packages/docs-examples/components/dropdown/dropdown-safe-area/dropdown-safe-area-example.ts
  packages/docs-examples/components/dropdown/index.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

feat(table): added stickyHeader (#DS-4911) (#1921)
  packages/components-dev/table/module.ts
  packages/components/table/__screenshots__/01-dark.png
  packages/components/table/__screenshots__/01-light.png
  packages/components/table/_table-theme.scss
  packages/components/table/e2e.playwright-spec.ts
  packages/components/table/e2e.ts
  packages/components/table/table.component.ts
  packages/components/table/table.en.md
  packages/components/table/table.ru.md
  packages/components/table/table.scss
  packages/docs-examples/components/table/index.ts
  packages/docs-examples/components/table/table-sticky-header/table-sticky-header-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/table.api.md
Due: yarn run cspell --files

fix(core): complete the locale activated at construction
  packages/components/core/locales/locale-service.spec.ts
  packages/components/core/locales/locale-service.ts
Due: none

feat(core): utility providers for the locale service and its locale
  apps/docs/src/app/config.ts
  apps/docs/src/assets/stackblitz/src/main.ts
  docs/guides/localization.en.md
  docs/guides/localization.ru.md
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/code-block/main.ts
  packages/components-dev/date-formatter/main.ts
  packages/components-dev/filter-bar/main.ts
  packages/components-dev/inline-edit/main.ts
  packages/components-dev/ssr/config.ts
  packages/components-dev/top-bar/main.ts
  packages/components/core/locales/locale-service.module.ts
  packages/components/core/locales/locale-service.spec.ts
  packages/components/core/locales/locale-service.ts
  packages/docs-examples/components/filter-bar/filter-bar-localization/filter-bar-localization-example.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

chore: refresh the public API any baseline after the rebase
  tools/check-public-api-any/baseline.json
Due: none

fix(core): merge locale configuration overrides across injector levels
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/core/formatters/filesize/formatter.spec.ts
  packages/components/core/formatters/filesize/formatter.ts
  packages/components/core/locales/a11y.spec.ts
  packages/components/core/locales/configuration.ts
  packages/components/core/locales/select.spec.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/components/select/select.component.ts
  packages/schematics/src/migrations/locale-configuration-providers/index.spec.ts
  packages/schematics/src/migrations/locale-configuration-providers/index.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
Due: yarn run cspell --files

fix(schematics): resolve correctness and packaging bugs found in icon migration review
  packages/schematics/rollup.config.js
  packages/schematics/scripts/copy-meta-to-dist.js
  packages/schematics/src/migrations/deprecated-icons/README.md
  packages/schematics/src/migrations/deprecated-icons/data.ts
  packages/schematics/src/migrations/deprecated-icons/index.spec.ts
  packages/schematics/src/migrations/deprecated-icons/index.ts
  packages/schematics/src/migrations/new-icons-pack/README.md
  packages/schematics/src/migrations/new-icons-pack/data.ts
  packages/schematics/src/migrations/new-icons-pack/index.spec.ts
  packages/schematics/src/migrations/new-icons-pack/index.ts
  packages/schematics/src/utils/icon-migration.ts
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
