Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

test: updated e2e snapshots
  packages/components/select/__screenshots__/02-dark.png
  packages/components/select/__screenshots__/02-light.png
Due: none

fix(tags)!: errors following a full review of the component
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/tags-signals/README.md
  packages/schematics/src/migrations/tags-signals/data.ts
  packages/schematics/src/migrations/tags-signals/index.spec.ts
  packages/schematics/src/migrations/tags-signals/index.ts
  packages/schematics/src/migrations/tags-signals/schema.json
  packages/schematics/src/migrations/tags-signals/schema.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

chore: updated screenshots
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/code-block/__screenshots__/01-light.png
Due: none

test(core): move the date format specs to koobiq/date-formatters (#DS-3496) (#1989)
  packages/components/core/formatters/date/formatter.spec.ts
Due: none

ci: retry the npm audit registry request on a transport failure
  .github/workflows/audit.yml
Due: yamllint

test: updated e2e snapshots
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/form-field/__screenshots__/05-dark.png
Due: none

test(select): settle the scrollbar before the panel screenshots
  docs/e2e-flakiness.md
  packages/components/select/__screenshots__/02-light.png
  packages/components/select/e2e.playwright-spec.ts
Due: yarn run cspell --files

fix(tags): address the review of the component review
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/tags/tag-list.component.spec.ts
  packages/schematics/src/migrations/tags-signals/README.md
  packages/schematics/src/migrations/tags-signals/data.ts
Due: yarn run cspell --files

fix(dl)!: errors following a full review of the component
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/dl/dl.component.spec.ts
  packages/components/dl/dl.component.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/dl-attribute-coercion/README.md
  packages/schematics/src/migrations/dl-attribute-coercion/data.ts
  packages/schematics/src/migrations/dl-attribute-coercion/index.spec.ts
  packages/schematics/src/migrations/dl-attribute-coercion/index.ts
  packages/schematics/src/migrations/dl-attribute-coercion/schema.json
  packages/schematics/src/migrations/dl-attribute-coercion/schema.ts
  tools/public_api_guard/components/dl.api.md
Due: yarn run cspell --files

fix(dl): address the review of the component review
  packages/components/dl/dl.component.spec.ts
  packages/components/dl/dl.component.ts
Due: none

fix(option): drop aria-selected when the consumer replaces the role
  packages/components/core/option/option.spec.ts
  packages/components/core/option/option.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

perf(select): index the panel order once when sorting selected values
  packages/components/select/select.component.ts
Due: none

ci: tighten the audit retry gate and drop the seq subshell
  .github/workflows/audit.yml
Due: yamllint

ci: retry the npm audit registry request on a transport failure (#1994)
  .github/workflows/audit.yml
Due: yamllint

fix(tags): move validation to kbq-tag-list (#DS-2943) (#1977)
  packages/components-dev/tag/module.ts
  packages/components-dev/tag/styles.scss
  packages/components-dev/tag/template.html
  packages/components-dev/validation/module.ts
  packages/components-dev/validation/template.html
  packages/components/tags/examples.tag-input.en.md
  packages/components/tags/examples.tag-input.ru.md
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-text-control.ts
  packages/docs-examples/components/tags/index.ts
  packages/docs-examples/components/tags/tag-autocomplete-with-form-control-validators/tag-autocomplete-with-form-control-validators-example.ts
  packages/docs-examples/components/validation/validation-tag-list/validation-tag-list-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(tree-select): errors following a full review of the component
  packages/components/tags/tag.component.ts
  packages/components/tree-select/tree-select-tokens.scss
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.html
  packages/components/tree-select/tree-select.module.ts
  packages/components/tree-select/tree-select.ru.md
  packages/components/tree/tree-selection.component.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/tags.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

fix(tree-select): address code review findings
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

docs(tree-select): document the tree-select review in the migration guide
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
Due: yarn run cspell --files

fix(tree-select): add the ng-update migration for the review
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/tree-select-signals/README.md
  packages/schematics/src/migrations/tree-select-signals/data.ts
  packages/schematics/src/migrations/tree-select-signals/index.spec.ts
  packages/schematics/src/migrations/tree-select-signals/index.ts
  packages/schematics/src/migrations/tree-select-signals/schema.json
  packages/schematics/src/migrations/tree-select-signals/schema.ts
Due: yarn run cspell --files

fix(tree-select): rebuild the embedding hook on the reworked selection model
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(tree-select): opt the trigger's tag remove control into the tab order
  packages/components/tree-select/tree-select.html
Due: none

chore(tree-select): refresh the tags api snapshot after the rebase
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

feat(components): add a service for inspecting and managing saved state (#DS-3197)
  packages/components/accordion/accordion.spec.ts
  packages/components/core/core.en.md
  packages/components/core/core.ru.md
  packages/components/core/state-saving/index.ts
  packages/components/core/state-saving/state-saving-service.spec.ts
  packages/components/core/state-saving/state-saving-service.ts
  packages/components/core/state-saving/state-saving.spec.ts
  packages/components/core/state-saving/state-saving.ts
  packages/components/core/state-saving/state-store.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(select): feed the tag remove control's name through its input
  packages/components/select/select.html
Due: none

fix(tree-select): errors following a full review of the component (#1947)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/select/select.html
  packages/components/tags/tag.component.ts
  packages/components/tree-select/tree-select-tokens.scss
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.html
  packages/components/tree-select/tree-select.module.ts
  packages/components/tree-select/tree-select.ru.md
  packages/components/tree/tree-selection.component.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/tree-select-signals/README.md
  packages/schematics/src/migrations/tree-select-signals/data.ts
  packages/schematics/src/migrations/tree-select-signals/index.spec.ts
  packages/schematics/src/migrations/tree-select-signals/index.ts
  packages/schematics/src/migrations/tree-select-signals/schema.json
  packages/schematics/src/migrations/tree-select-signals/schema.ts
  tools/check-public-api-any/baseline.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/tags.api.md
  tools/public_api_guard/components/tree-select.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

fix(tree): errors following a full review of the component
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/core/option/action.ts
  packages/components/core/utils/dom.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/control/flat-tree-control.filters.spec.ts
  packages/components/tree/control/flat-tree-control.filters.ts
  packages/components/tree/control/flat-tree-control.spec.ts
  packages/components/tree/control/flat-tree-control.ts
  packages/components/tree/control/nested-tree-control.ts
  packages/components/tree/data-source/flat-data-source.spec.ts
  packages/components/tree/data-source/flat-data-source.ts
  packages/components/tree/padding.directive.spec.ts
  packages/components/tree/padding.directive.ts
  packages/components/tree/toggle.scss
  packages/components/tree/toggle.spec.ts
  packages/components/tree/toggle.ts
  packages/components/tree/tree-base.ts
  packages/components/tree/tree-errors.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-option.scss
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
  packages/components/tree/tree-tokens.scss
  packages/components/tree/tree.en.md
  packages/components/tree/tree.ru.md
  packages/components/tree/tree.scss
  packages/components/tree/tree.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(tree): address code review findings
  packages/components/core/option/action.ts
  packages/components/tree/padding.directive.ts
  packages/components/tree/tree-base.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
  packages/components/tree/tree.en.md
  packages/components/tree/tree.ru.md
  packages/docs-examples/components/tree/tree-action-button/tree-action-button-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/tree-signals/README.md
  packages/schematics/src/migrations/tree-signals/data.ts
  packages/schematics/src/migrations/tree-signals/index.spec.ts
  packages/schematics/src/migrations/tree-signals/index.ts
  packages/schematics/src/migrations/tree-signals/schema.json
  packages/schematics/src/migrations/tree-signals/schema.ts
  tools/check-public-api-any/baseline.json
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(tree): keep branch rows aligned with their leaf siblings
  packages/components/tree/padding.directive.ts
  packages/components/tree/toggle.scss
  packages/components/tree/tree-option.scss
  packages/components/tree/tree-tokens.scss
Due: none

chore(tree): refresh the api snapshot for the documented iconWidth
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

docs(tree): document the tree review in the migration guide
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
Due: yarn run cspell --files

fix(tree): keep the typed selection model main settled on
  packages/components/tree/tree-selection.component.ts
Due: none

chore(tree): refresh the api snapshot after the rebase
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

fix(tree): keep the spec honest about what the selection model holds
  packages/components/tree/tree-selection.component.spec.ts
  tools/check-public-api-any/baseline.json
Due: none

fix(tree): drop the level cache when the data source is switched
  packages/components/tree/tree-base.ts
  packages/components/tree/tree-selection.component.spec.ts
Due: none

fix(badge): address the second review of the component review
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/badge/badge.component.spec.ts
  packages/components/badge/badge.component.ts
  packages/schematics/src/migrations/badge-signals/README.md
  packages/schematics/src/migrations/badge-signals/data.ts
  packages/schematics/src/migrations/badge-signals/index.spec.ts
  packages/schematics/src/migrations/badge-signals/index.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/badge.api.md
Due: yarn run cspell --files

chore(tree): drop a stale undocumented marker from the api snapshot
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

fix(badge): close the remaining gaps in the badge-signals receiver pass
  packages/schematics/src/migrations/badge-signals/README.md
  packages/schematics/src/migrations/badge-signals/index.spec.ts
  packages/schematics/src/migrations/badge-signals/index.ts
Due: yarn run cspell --files

fix(notification-center): errors following a full review of the component
  packages/components/core/common-behaviors/read-state.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/notification-center/_notification-center-theme.scss
  packages/components/notification-center/e2e.playwright-spec.ts
  packages/components/notification-center/e2e.ts
  packages/components/notification-center/notification-center-animations.ts
  packages/components/notification-center/notification-center-tokens.scss
  packages/components/notification-center/notification-center.en.md
  packages/components/notification-center/notification-center.html
  packages/components/notification-center/notification-center.module.ts
  packages/components/notification-center/notification-center.ru.md
  packages/components/notification-center/notification-center.scss
  packages/components/notification-center/notification-center.service.ts
  packages/components/notification-center/notification-center.spec.ts
  packages/components/notification-center/notification-center.tokens.ts
  packages/components/notification-center/notification-center.ts
  packages/components/notification-center/notification-item.html
  packages/components/notification-center/notification-item.scss
  packages/components/notification-center/notification-item.ts
  packages/components/notification-center/public-api.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/notification-center.api.md
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
