Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

chore(toggle): added example
  packages/components-dev/toggle/module.ts
  packages/components/toggle/toggle.en.md
  packages/components/toggle/toggle.ru.md
  packages/docs-examples/components/toggle/index.ts
  packages/docs-examples/components/toggle/toggle-loading/toggle-loading-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

chore: mock
  packages/components-dev/tree/data.ts
Due: none

fix: after review
  packages/components/filter-bar/pipes/pipe-button.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipe/filter-bar-readonly-pipe-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipes/filter-bar-readonly-pipes-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

test(button): added playwright tests (#DS-3763)
  .github/workflows/playwright.yml
  .gitignore
  .vscode/extensions.json
  package.json
  packages/components/button/__screenshots__/KbqButton-color-and-style-1.png
  packages/components/button/button.playwright-spec.ts
  packages/docs-examples/components/button/button-fill-and-style/button-fill-and-style-example.css
  playwright.config.ts
  yarn.lock
Due: yamllint

fix(breadcrumbs): remove wrap-mode from default (#DS-3760) (#726)
  packages/components/breadcrumbs/breadcrumbs.scss
Due: none

style(dev): reformat components to match angular styleguide (#DS-3517)
  packages/docs-examples/components/timezone/mock.ts
Due: none

refactor: ci
  packages/docs-examples/components/timezone/mock.ts
Due: none

refactor: review
  package.json
  packages/components-dev/form-field/module.ts
  packages/components-dev/locale-selector.ts
  packages/components-dev/tree-select/module.ts
  packages/components-dev/validation/module.ts
Due: none

chore(toggle): after review
  packages/components/toggle/_toggle-theme.scss
  packages/components/toggle/toggle.component.spec.ts
  packages/components/toggle/toggle.component.ts
  packages/components/toggle/toggle.scss
Due: none

refactor: rename component
  packages/components-dev/list/module.ts
Due: none

fix: after review
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipes/filter-bar-readonly-pipes-example.ts
Due: none

chore(toggle): after review
  packages/components/toggle/toggle.component.spec.ts
  packages/components/toggle/toggle.component.ts
  packages/docs-examples/components/toggle/toggle-loading/toggle-loading-example.ts
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

feat(filter-bar): added readonly pipe (#DS-3690) (#723)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-button.ts
  packages/components/filter-bar/pipes/pipe-readonly.ts
  packages/components/filter-bar/pipes/pipe-state.ts
  packages/components/filter-bar/public-api.ts
  packages/docs-examples/components/filter-bar/filter-bar-custom-pipe/filter-bar-custom-pipe-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipe/filter-bar-readonly-pipe-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipes/filter-bar-readonly-pipes-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore(toggle): upd golden file
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

fix(pop-up): unstable hiding interval (#DS-3766)
  packages/components/core/pop-up/pop-up-trigger.ts
Due: none

feat(docs): schematics section (#DS-3646)
  apps/docs/src/app/services/documentation-items.ts
  docs/guides/schematics.en.md
  docs/guides/schematics.ru.md
Due: yarn run cspell --files

refactor: commitlint
  .commitlintrc.js
Due: none

feat(toggle): progress state (#DS-3462) (#724)
  packages/components-dev/toggle/module.ts
  packages/components/toggle/toggle.component.html
  packages/components/toggle/toggle.component.spec.ts
  packages/components/toggle/toggle.component.ts
  packages/components/toggle/toggle.en.md
  packages/components/toggle/toggle.ru.md
  packages/components/toggle/toggle.scss
  packages/docs-examples/components/toggle/index.ts
  packages/docs-examples/components/toggle/toggle-loading/toggle-loading-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

chore(navbar): added missed unsubscriptions
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.ts
  packages/components/navbar/vertical-navbar.component.ts
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.ts
Due: none

refactor: karma
  packages/components/core/pop-up/pop-up-trigger.ts
Due: none

feat(filter-bar): added master checkbox (#DS-3731)
  packages/components-dev/filter-bar/module.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/fa-IR.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/zh-CN.ts
  packages/components/core/option/option.html
  packages/components/core/option/option.ts
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/select/select.component.ts
  packages/docs-examples/components/filter-bar/filter-bar-master-checkbox/filter-bar-master-checkbox-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(pop-up): unstable hiding interval (#DS-3766) (#727)
  .commitlintrc.js
  packages/components/core/pop-up/pop-up-trigger.ts
Due: none

feat(docs): schematics section (#DS-3646) (#728)
  apps/docs/src/app/services/documentation-items.ts
  docs/guides/schematics.en.md
  docs/guides/schematics.ru.md
Due: yarn run cspell --files

chore(navbar): added missed unsubscriptions (#729)
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.ts
  packages/components/navbar/vertical-navbar.component.ts
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.ts
Due: none

fix: after review
  packages/components/core/option/option.ts
Due: none

chore(deps): updated @koobiq/design-tokens to 13.3.0
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  yarn.lock
Due: none

fix: after review
  packages/docs-examples/components/filter-bar/filter-bar-master-checkbox/filter-bar-master-checkbox-example.ts
Due: none

feat(filter-bar): added master checkbox (#DS-3731) (#730)
  packages/components-dev/filter-bar/module.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/fa-IR.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/zh-CN.ts
  packages/components/core/option/option.html
  packages/components/core/option/option.ts
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/select/select.component.ts
  packages/docs-examples/components/filter-bar/filter-bar-master-checkbox/filter-bar-master-checkbox-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore: bump version to 18.27.0 w/ changelog
  CHANGELOG.md
  package.json
  packages/docs-examples/components/filter-bar/filter-bar-inactive-filter/filter-bar-inactive-filter-example.ts
Due: yarn run cspell --files

style: update comment eslint plugin and enable all ng template rules (#DS-2920)
  .eslintrc.js
  package.json
  packages/components-dev/all/template.html
  packages/components-dev/list/template.html
  packages/components-dev/popover/template.html
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/modal/modal.component.html
  packages/components/popover/popover.component.html
  packages/components/select/select.html
  packages/components/toast/toast.component.html
  packages/components/tooltip/tooltip.component.html
  packages/docs-examples/components/layout-flex/layout-flex-overview/layout-flex-overview-example.ts
  yarn.lock
Due: none

chore(docs): updated sitemap
  apps/docs/src/sitemap.xml
  tools/generate-sitemap.ts
Due: none

feat(filter-bar): examples with search (#DS-3750)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.karma-spec.ts
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-button.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-readonly.scss
  packages/components/filter-bar/pipes/pipe-readonly.ts
  packages/docs-examples/components/filter-bar/filter-bar-cleanable/filter-bar-cleanable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-custom-pipe/filter-bar-custom-pipe-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-inactive-filter/filter-bar-inactive-filter-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-master-checkbox/filter-bar-master-checkbox-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipe/filter-bar-readonly-pipe-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipes/filter-bar-readonly-pipes-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search-in-pipes/filter-bar-search-in-pipes-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

refactor: template/no-any
  .eslintrc.js
  packages/components-dev/all/template.html
  packages/components-dev/popover/template.html
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/modal/modal.component.html
  packages/components/popover/popover.component.html
  packages/components/select/select.html
  packages/components/toast/toast.component.html
  packages/components/tooltip/tooltip.component.html
Due: none

refactor: angular/all
  .eslintrc.js
  apps/docs/src/app/components/navbar/navbar.component.ts
  packages/components/datepicker/calendar.component.ts
  packages/components/datepicker/datepicker-module.ts
  packages/components/empty-state/empty-state.module.ts
  packages/components/textarea/textarea.component.ts
  packages/components/tree-select/tree-select.component.ts
  packages/docs-examples/components/accordion/accordion-in-section/accordion-in-section-example.ts
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.ts
Due: none

chore: fix warning 'ae-setter-with-docs'
  packages/components-experimental/form-field/hint.ts
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/pipes/pipe-state.ts
  packages/components/tabs/tab-nav-bar.ts
  packages/components/textarea/textarea.component.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components-experimental/form-field.api.md
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/tabs.api.md
  tools/public_api_guard/components/textarea.api.md
Due: yarn run cspell --files

refactor: ci
  tools/public_api_guard/components/datepicker.api.md
  tools/public_api_guard/components/empty-state.api.md
Due: yarn run cspell --files

chore(docs): updated sitemap (#734)
  apps/docs/src/sitemap.xml
  tools/generate-sitemap.ts
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
