Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: added auto approve snapshots workflow (#DS-3875) (#1091)
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e-update-screenshots.yml
  .github/workflows/e2e.yml
Due: yamllint

chore: added units for KbqHovered directive (#1092)
  packages/components/core/common-behaviors/hovered.spec.ts
  packages/components/core/common-behaviors/hovered.ts
Due: none

feat(tags): focus kbqTagInput on KbqTagList click or focus (#DS-4345)
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

refactor: units
  packages/components/tags/tag.component.ts
Due: none

fix(toggle): hint color in disabled state (#DS-4344)
  packages/components/toggle/_toggle-theme.scss
Due: none

test: updated e2e snapshots
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-big-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-default-1.png
Due: none

style: enabled no-console eslint rule (#DS-2920)
  .eslintrc.js
  apps/docs/scripts/build-tokens.js
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/code-block/code-block-highlight.ts
  packages/components/core/common-behaviors/color.ts
  packages/components/core/common-behaviors/common-module.ts
  packages/components/core/common-behaviors/disabled.ts
  packages/components/core/common-behaviors/error-state.ts
  packages/components/core/common-behaviors/tabindex.ts
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/file-upload/file-drop.ts
  packages/components/filter-bar/filter-bar.karma-spec.ts
  packages/components/modal/modal.karma-spec.ts
  packages/components/modal/modal.service.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/toast/toast.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
Due: none

fix(split-button): incorrect styles for one button (#DS-4312) (#1101)
  packages/components/split-button/split-button.scss
  packages/components/split-button/split-button.ts
  tools/public_api_guard/components/split-button.api.md
Due: yarn run cspell --files

fix(title): tooltip is not displayed (#DS-4292) (#1100)
  packages/components/title/title.directive.karma-spec.ts
  packages/components/title/title.directive.ts
Due: none

fix(toggle): hint color in disabled state (#DS-4344) (#1103)
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-big-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqToggleModule-DevToggleWithTextAndCaption-default-1.png
  packages/components/toggle/_toggle-theme.scss
Due: none

feat(tags): apply KbqFieldSizingContent directive to KbqTagInput (#DS-4204) (#1066)
  packages/components/core/form-field/field-sizing-content.spec.ts
  packages/components/core/form-field/field-sizing-content.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.scss
  packages/docs-examples/components/tag/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tag/tag-input-draggable/tag-input-draggable-example.ts
  packages/docs-examples/components/tag/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.html
  tools/jest/setup.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

chore: updated dev ssr application based on official docs
  packages/components-dev/ssr/README.md
  packages/components-dev/ssr/config.server.ts
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/main.server.ts
  packages/components-dev/ssr/main.ts
  packages/components-dev/ssr/server.ts
Due: yarn run cspell --files

Update packages/components-dev/ssr/README.md
  packages/components-dev/ssr/README.md
Due: yarn run cspell --files

refactor: review
  packages/components-dev/ssr/config.ts
Due: none

refactor: review
  packages/components/tags/tag-list.component.spec.ts
Due: none

refactor: review
  packages/components/modal/modal.karma-spec.ts
  packages/components/toast/toast.spec.ts
Due: none

style: enabled no-console eslint rule (#DS-2920) (#1104)
  .eslintrc.js
  apps/docs/scripts/build-tokens.js
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/code-block/code-block-highlight.ts
  packages/components/core/common-behaviors/color.ts
  packages/components/core/common-behaviors/common-module.ts
  packages/components/core/common-behaviors/disabled.ts
  packages/components/core/common-behaviors/error-state.ts
  packages/components/core/common-behaviors/tabindex.ts
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/file-upload/file-drop.ts
  packages/components/filter-bar/filter-bar.karma-spec.ts
  packages/components/modal/modal.karma-spec.ts
  packages/components/modal/modal.service.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/toast/toast.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
Due: none

fix(popover): padding for arrow (#DS-3094)
  packages/components/popover/popover.scss
  packages/docs-examples/components/popover/popover-placement-edges/popover-placement-edges-example.html
Due: none

fix(popover): padding for arrow (#DS-3094) (#1106)
  packages/components/popover/popover.scss
  packages/docs-examples/components/popover/popover-placement-edges/popover-placement-edges-example.html
Due: none

fix(tags): focus kbqTagInput on click/focus (#DS-4345) (#1102)
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(tree-select): disable handlers for custom matcher (#DS-4304)
  packages/components-dev/tree-select/module.ts
  packages/components/core/select/common.ts
  packages/components/tree-select/examples.tree-select.ru.md
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-custom-matcher-with-input/tree-select-custom-matcher-with-input-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix: update golden files
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

feat(popover, notification-center): added 'stickToWindow' (#DS-3621)
  packages/components-dev/popover/module.ts
  packages/components-dev/popover/template.html
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/core/pop-up/pop-up.ts
  packages/components/notification-center/notification-center.ts
  packages/components/popover/popover.component.ts
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.html
Due: none

chore(docs): fix console error for search-expandable (#DS-4356)
  packages/docs-examples/components/search-expandable/search-expandable-in-header/search-expandable-in-header-example.ts
  packages/docs-examples/components/search-expandable/search-expandable-overview/search-expandable-overview-example.ts
Due: none

fix: ssr compatibility (#DS-3964)
  packages/components/core/option/option.ts
  packages/components/core/utils/utils.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-title.ts
  packages/components/list/list-selection.component.ts
  packages/components/modal/modal-util.ts
  packages/components/navbar/navbar.component.ts
  packages/components/scrollbar/scrollbar.directive.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.ts
Due: none

refactor: api
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/list.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

chore(docs): fix console error for search-expandable (#DS-4356) (#1110)
  packages/docs-examples/components/search-expandable/search-expandable-in-header/search-expandable-in-header-example.ts
  packages/docs-examples/components/search-expandable/search-expandable-overview/search-expandable-overview-example.ts
Due: none

fix(tags): drag data type prefix
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(split-button): technical debts (#DS-4225)
  packages/components/split-button/_split-button-theme.scss
  packages/components/split-button/split-button.html
  packages/components/split-button/split-button.scss
  packages/components/split-button/split-button.ts
Due: none

fix: added tests
  packages/components/tree-select/tree-select.component.spec.ts
Due: none

fix: missed component class name 'kbq-' prefix (#DS-3753)
  packages/components-dev/e2e/components/file-upload.ts
  packages/components-dev/file-upload/module.ts
  packages/components/core/styles/typography/_typography.scss
  packages/components/ellipsis-center/ellipsis-center.directive.spec.ts
  packages/components/ellipsis-center/ellipsis-center.directive.ts
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-drop.spec.ts
  packages/components/file-upload/file-drop.ts
  packages/components/file-upload/file-upload.karma-spec.ts
  packages/components/file-upload/file-upload.scss
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/single-file-upload.component.html
  packages/components/file-upload/single-file-upload.component.scss
  packages/components/markdown/__snapshots__/markdown.component.spec.ts.snap
  packages/components/markdown/_markdown-theme.scss
  packages/components/markdown/markdown.component.ts
  packages/components/markdown/markdown.scss
  packages/components/modal/modal.scss
  packages/components/scrollbar/scrollbar.component.scss
  packages/components/toggle/toggle.component.html
  packages/components/toggle/toggle.scss
  packages/docs-examples/components/breadcrumbs/breadcrumbs-truncate-center-items/breadcrumbs-truncate-center-items-example.ts
Due: none

refactor: toggle specs
  packages/components/toggle/toggle.component.html
  packages/components/toggle/toggle.component.spec.ts
  packages/components/toggle/toggle.scss
Due: none

refactor: file
  packages/components/file-upload/file-upload-tokens.scss
Due: none

fix(docs): undefined docsearch data attr
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
Due: none

chore(tags): added prefix for drag data type (#1113)
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

chore: updated playwright reporter to use list format
  playwright.config.ts
Due: none

chore: update prettier configuration to ignore unknown file types
  .lintstagedrc.js
  package.json
Due: none

chore: updated playwright reporter to use list format (#1118)
  playwright.config.ts
Due: none

fix(docs): undefined docsearch data attr (#1117)
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
Due: none

fix(tree-select): disable handlers for custom matcher (#DS-4304) (#1107)
  packages/components-dev/tree-select/module.ts
  packages/components/core/select/common.ts
  packages/components/tree-select/examples.tree-select.ru.md
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-custom-matcher-with-input/tree-select-custom-matcher-with-input-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files
