Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(select): unsubscribe from locale changes on destroy
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
Due: none

fix(markdown,datepicker,cli): repair the regular expressions flagged by code scanning (#DS-5215)
  .github/workflows/units.yml
  package.json
  packages/cli/src/release/version-name/parse-version.spec.ts
  packages/cli/src/release/version-name/parse-version.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/markdown/markdown.service.spec.ts
  packages/components/markdown/markdown.service.ts
  tools/markdown-to-html/marked/docs-marked-renderer.spec.ts
  tools/markdown-to-html/marked/docs-marked-renderer.ts
Due: yamllint

fix(e2e): serve the docs smoke from an enumerated route map (#DS-5215)
  playwright.docs.config.ts
  tools/serve-docs.mjs
Due: none

chore(security): correct the checkout pin comment in the scorecard workflow (#DS-5215)
  .github/workflows/scorecard.yml
Due: yamllint

feat(core): extract shared KbqCheckable primitive (#DS-3498)
  packages/components-dev/checkbox/module.ts
  packages/components/checkbox/checkbox-config.ts
  packages/components/checkbox/checkbox.ts
  packages/components/core/common-behaviors/checkable.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/toggle/toggle.component.ts
  packages/docs-examples/components/checkbox/block-checkbox/block-checkbox-example.css
  packages/docs-examples/components/checkbox/block-checkbox/block-checkbox-example.ts
  packages/docs-examples/components/checkbox/index.ts
  tools/public_api_guard/components/checkbox.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

chore: upd golden file
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(docs): injected example to docs
  packages/components/checkbox/examples.checkbox.en.md
  packages/components/checkbox/examples.checkbox.ru.md
  packages/docs-examples/components/checkbox/block-checkbox/block-checkbox-example.ts
Due: yarn run cspell --files

test(resizer): cover both box models, and refresh the API report (#DS-4022)
  packages/components/navbar/navbar-item.component.ts
  packages/components/resizer/resizer.spec.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

feat: updated get/setMode method name
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat: upd units
  packages/components/core/services/theme.service.spec.ts
Due: none

feat: added pinned theme (#DS-3003)
  packages/components/core/core.en.md
  packages/components/core/core.ru.md
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  packages/docs-examples/components/core/index.ts
  packages/docs-examples/components/core/ng-package.json
  packages/docs-examples/components/core/theme-static-selection/theme-static-selection-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

feat: upd golden file
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: cspell
  packages/components/checkbox/examples.checkbox.ru.md
Due: yarn run cspell --files

fix: build
  packages/docs-examples/components/checkbox/block-checkbox/block-checkbox-example.ts
Due: none

fix(select): keep the selected value when options are filtered under virtual scroll (#DS-4698)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
Due: yarn run cspell --files

feat: added pinned theme (#DS-3003) (#1882)
  packages/components/core/core.en.md
  packages/components/core/core.ru.md
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  packages/docs-examples/components/core/index.ts
  packages/docs-examples/components/core/ng-package.json
  packages/docs-examples/components/core/theme-static-selection/theme-static-selection-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(select): resolve recycled options in the selection getters (#DS-4698)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
Due: none

fix(navbar,select,tree-select,resizer): measure element size in one box model (#DS-4022) (#1880)
  packages/components/button-toggle/button-toggle-tokens.scss
  packages/components/button-toggle/button-toggle.scss
  packages/components/core/navbar/rectangle-item.ts
  packages/components/core/option/action.scss
  packages/components/core/styles/common/_select.scss
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/icon/__screenshots__/02-light.png
  packages/components/navbar/__screenshots__/02-dark.png
  packages/components/navbar/__screenshots__/02-light.png
  packages/components/navbar/__screenshots__/03-dark.png
  packages/components/navbar/__screenshots__/03-light.png
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/vertical-navbar.scss
  packages/components/notification-center/notification-item.scss
  packages/components/resizer/resizer.spec.ts
  packages/components/resizer/resizer.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

fix: after review
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
  packages/components/package.json
  packages/schematics/rollup.config.js
  packages/schematics/src/migrations/mandatory-peer-dependencies/README.md
  packages/schematics/src/migrations/mandatory-peer-dependencies/index.spec.ts
  packages/schematics/src/migrations/mandatory-peer-dependencies/index.ts
  packages/schematics/src/ng-add/__snapshots__/ng-add.spec.ts.snap
  packages/schematics/src/ng-add/index.ts
  packages/schematics/src/ng-add/ng-add.spec.ts
  tools/check-npm-resolution/index.ts
  tools/check-peer-deps/index.ts
Due: yarn run cspell --files

fix(components)!: unresolvable peerDependencies break npm install (#DS-4889) (#1853)
  .github/workflows/build.yml
  .github/workflows/linters.yml
  .github/workflows/publish.yml
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
  package.json
  packages/angular-luxon-adapter/package.json
  packages/angular-moment-adapter/package.json
  packages/components-experimental/package.json
  packages/components/package.json
  packages/docs-examples/package.json
  packages/schematics/rollup.config.js
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/mandatory-peer-dependencies/README.md
  packages/schematics/src/migrations/mandatory-peer-dependencies/index.spec.ts
  packages/schematics/src/migrations/mandatory-peer-dependencies/index.ts
  packages/schematics/src/migrations/mandatory-peer-dependencies/schema.json
  packages/schematics/src/migrations/mandatory-peer-dependencies/schema.ts
  packages/schematics/src/ng-add/__snapshots__/ng-add.spec.ts.snap
  packages/schematics/src/ng-add/index.ts
  packages/schematics/src/ng-add/ng-add.spec.ts
  tools/builders/packager/build.spec.ts
  tools/builders/packager/build.ts
  tools/builders/packager/version-placeholders.ts
  tools/builders/tsconfig.json
  tools/check-npm-resolution/index.ts
  tools/check-npm-resolution/tsconfig.json
  tools/check-peer-deps/index.ts
  tools/check-peer-deps/tsconfig.json
  tools/cspell-locales/en.json
  yarn.lock
Due: yarn run cspell --files, yamllint

chore(e2e): run e2e:docker on Windows without Docker Desktop
  docs/guides/06-testing.md
  tools/e2e/run.js
Due: yarn run cspell --files

chore: ignore Playwright's generated output when linting
  eslint.config.js
Due: none

fix(select): activate the "select all" row when the panel opens
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
Due: none

perf(select,tree): read the select-all checkbox state once per pass
  packages/components/select/select.html
  packages/components/tree/tree-selection.component.ts
Due: none

fix: after review
  docs/guides/06-testing.md
  eslint.config.js
  packages/e2e/README.md
  tools/e2e/run.js
Due: yarn run cspell --files

fix(cli,datepicker): address the review notes (#DS-5215)
  packages/cli/src/release/version-name/parse-version.spec.ts
  packages/cli/src/release/version-name/parse-version.ts
  packages/components/datepicker/datepicker-input.directive.ts
Due: none

fix(select): keep the factory fallback scoped to virtual scroll (#DS-4698)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
Due: none

fix(e2e): keep the docs smoke server's file reads out of the request path (#DS-5215)
  tools/serve-docs.mjs
Due: none

fix(e2e): name the missing docs shell instead of crashing on it (#DS-5215)
  tools/serve-docs.mjs
Due: none

fix(security): repair the regular expressions and path handling found by code scanning (#DS-5215) (#1881)
  .github/workflows/scorecard.yml
  .github/workflows/units.yml
  package.json
  packages/cli/src/release/version-name/parse-version.spec.ts
  packages/cli/src/release/version-name/parse-version.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/markdown/markdown.service.spec.ts
  packages/components/markdown/markdown.service.ts
  playwright.docs.config.ts
  tools/markdown-to-html/marked/docs-marked-renderer.spec.ts
  tools/markdown-to-html/marked/docs-marked-renderer.ts
  tools/serve-docs.mjs
Due: yamllint

chore: after review
  apps/docs/src/app/components/navbar/navbar.component.ts
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  packages/docs-examples/components/core/theme-static-selection/theme-static-selection-example.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(docs): invalid example illustrations
  packages/docs-examples/components/empty-state/empty-state-content/empty-state-content-example.ts
  packages/docs-examples/components/notification-center/notification-center-empty/notification-center-empty-example.ts
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.ts
  packages/docs-examples/components/notification-center/notification-center-infinite-scroll/notification-center-infinite-scroll-example.ts
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.ts
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.ts
  packages/docs-examples/components/notification-center/notification-center-push/notification-center-push-example.ts
Due: none

chore: after review
  packages/components/checkbox/checkbox.ts
  packages/components/core/common-behaviors/checkable.spec.ts
  packages/components/core/common-behaviors/checkable.ts
  packages/components/toggle/toggle.component.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore(e2e): run e2e:docker on Windows without Docker Desktop (#1886)
  docs/guides/06-testing.md
  eslint.config.js
  packages/e2e/README.md
  tools/e2e/run.js
Due: yarn run cspell --files

chore(e2e): run Playwright visual tests in Docker (#DS-5311)
  .eslintignore
  .gitattributes
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  .prettierignore
  AGENTS.md
  docs/guides/06-testing.md
  package.json
  packages/e2e/README.md
  playwright.config.ts
  tools/e2e/Dockerfile
  tools/e2e/Dockerfile.dockerignore
  tools/e2e/assert-browsers.js
  tools/e2e/docker-compose.update.yml
  tools/e2e/docker-compose.yml
  tools/e2e/run.js
  yarn.lock
Due: yarn run cspell --files, yamllint

fix(components): scroll strategy tokens throw NullInjectorError outside their NgModule (#DS-3522)
  apps/docs/src/app/services/i18n.characterization.spec.ts
  apps/docs/src/assets/stackblitz/src/main.ts
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.module.ts
  packages/components/button-toggle/button-toggle.module.ts
  packages/components/core/select/constants.ts
  packages/components/datepicker/calendar-header.component.ts
  packages/components/datepicker/calendar-header.spec.ts
  packages/components/datepicker/calendar.component.ts
  packages/components/datepicker/datepicker-errors.ts
  packages/components/datepicker/datepicker-in-modal.spec.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker-module.ts
  packages/components/datepicker/datepicker.component.ts
  packages/components/datepicker/month-view.component.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.module.ts
  packages/components/modal/examples.modal.en.md
  packages/components/modal/examples.modal.ru.md
  packages/components/notification-center/notification-center.module.ts
  packages/components/notification-center/notification-center.ts
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.module.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.module.ts
  packages/components/time-range/time-range.service.ts
  packages/components/timezone/timezone-select.component.spec.ts
  packages/components/title/title.directive.spec.ts
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.module.ts
  packages/components/tree-select/tree-select.module.ts
Due: yarn run cspell --files

test(icon,code-block): remove two races from the visual specs
  packages/components/code-block/e2e.playwright-spec.ts
  packages/components/icon/__screenshots__/02-light.png
  packages/components/icon/e2e.playwright-spec.ts
  packages/components/icon/e2e.ts
Due: none

fix: compare current theme by className when applying
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
Due: none

fix(datepicker): keep DateAdapter import so the API report stays stable (#DS-3522)
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/month-view.component.ts
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
