Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

test: updated e2e snapshots
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
Due: none

chore: fixed break condition
  packages/components/overflow-items/overflow-items.ts
Due: none

fix(form-field): background-color for input in select, tree-select and dropdown (#DS-4725) (#1398)
  packages/components-dev/form-field/template.html
  packages/components-dev/tree-select/module.ts
  packages/components-dev/tree-select/template.html
  packages/components/core/form-field/form-field-ref.ts
  packages/components/core/select/common.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/form-field/form-field.scss
  packages/components/form-field/form-field.spec.ts
  packages/components/form-field/form-field.ts
  packages/components/select/__screenshots__/04-dark.png
  packages/components/tree-select/__screenshots__/01-dark.png
  packages/components/tree-select/__screenshots__/02-dark.png
  packages/components/tree-select/__screenshots__/03-dark.png
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/dropdown.api.md
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

fix(title): not displayed if 1-2 characters don't fit (#DS-4466) (#1259)
  packages/components/title/title.directive.karma-spec.ts
  packages/components/title/title.directive.ts
  tools/public_api_guard/components/title.api.md
Due: yarn run cspell --files

Update .github/workflows/scorecard.yml
  .github/workflows/scorecard.yml
Due: yamllint

chore(deps-dev): removed unused @messageformat/core dependency (#DS-3448)
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
  package.json
  packages/schematics/rollup.config.js
  packages/schematics/src/ng-add/__snapshots__/ng-add.spec.ts.snap
  packages/schematics/src/ng-add/index.ts
  yarn.lock
Due: yarn run cspell --files

chore: package
  package.json
  yarn.lock
Due: none

fix(title): not displayed if 1-2 characters don't fit (#DS-4466) (#1259) (#1405)
  packages/components/title/title.directive.karma-spec.ts
  packages/components/title/title.directive.ts
  tools/public_api_guard/components/title.api.md
Due: yarn run cspell --files

fix(skeleton): sync animation for multiple skeletons (#DS-4700)
  packages/components/skeleton/skeleton.scss
  packages/components/skeleton/skeleton.spec.ts
  packages/components/skeleton/skeleton.ts
Due: none

refactor: linter
  yarn.lock
Due: none

Update packages/components/skeleton/skeleton.spec.ts
  packages/components/skeleton/skeleton.spec.ts
Due: none

refactor: api
  tools/public_api_guard/components/skeleton.api.md
Due: yarn run cspell --files

chore: after design review
  apps/docs/src/app/structure.ts
  packages/components/clamped-text/clamped-list.en.md
  packages/docs-examples/components/clamped-text/clamped-list-vertical/clamped-list-vertical-example.ts
Due: yarn run cspell --files

fix(tabs): custom tab label display (#DS-4706) (#1404)
  packages/components-dev/tabs/module.ts
  packages/components-dev/tabs/template.html
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
  packages/components/tabs/_tabs-common.scss
  packages/docs-examples/components/tabs/tabs-vertical/tabs-vertical-example.css
  packages/docs-examples/components/tabs/tabs-vertical/tabs-vertical-example.ts
Due: none

chore: added localized labels
  packages/components/clamped-text/clamped-list.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/docs-examples/components/clamped-text/clamped-list-dotted/clamped-list-dotted-example.ts
  packages/docs-examples/components/clamped-text/clamped-list-vertical/clamped-list-vertical-example.ts
  packages/docs-examples/components/clamped-text/clamped-list/clamped-list-example.ts
  tools/public_api_guard/components/clamped-text.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore(deps-dev): removed unused `@messageformat/core` dependency (#DS-3448) (#1406)
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
  packages/schematics/rollup.config.js
  packages/schematics/src/ng-add/__snapshots__/ng-add.spec.ts.snap
  packages/schematics/src/ng-add/index.ts
Due: yarn run cspell --files

chore: replaced padding with gap
  packages/docs-examples/components/clamped-text/clamped-list-vertical/clamped-list-vertical-example.ts
Due: none

chore: use date.now
  packages/components/skeleton/skeleton.ts
Due: none

fix(progress-spinner): ignore color property (#DS-4353)
  packages/components/progress-spinner/_progress-spinner-theme.scss
  packages/components/progress-spinner/progress-spinner-tokens.scss
  packages/components/progress-spinner/progress-spinner.component.ts
Due: none

fix(progress-spinner): ignore color property (#DS-4353) (#1408)
  packages/components/progress-spinner/_progress-spinner-theme.scss
  packages/components/progress-spinner/progress-spinner-tokens.scss
  packages/components/progress-spinner/progress-spinner.component.ts
Due: none

fix(skeleton): sync animation for multiple skeletons (#DS-4700) (#1407)
  packages/components/skeleton/skeleton.scss
  packages/components/skeleton/skeleton.spec.ts
  packages/components/skeleton/skeleton.ts
  tools/public_api_guard/components/skeleton.api.md
Due: yarn run cspell --files

fix(code-block): word-break for softWrap mode (#DS-3032)
  packages/components/code-block/code-block.scss
Due: none

refactor: copilot review
  packages/components/code-block/code-block.scss
Due: none

feat(accordion): added state saving (#DS-3197)
  packages/components-dev/accordion/template.html
  packages/components/accordion/accordion-content.directive.ts
  packages/components/accordion/accordion-content.ts
  packages/components/accordion/accordion-header.directive.ts
  packages/components/accordion/accordion-item.directive.ts
  packages/components/accordion/accordion-item.ts
  packages/components/accordion/accordion-root.directive.ts
  packages/components/accordion/accordion-trigger.component.ts
  packages/components/accordion/accordion-trigger.directive.ts
  packages/components/accordion/accordion.component.scss
  packages/components/accordion/accordion.component.ts
  packages/components/accordion/public-api.ts
  packages/docs-examples/components/accordion/accordion-content/accordion-content-example.html
  packages/docs-examples/components/accordion/accordion-header/accordion-header-example.html
  packages/docs-examples/components/accordion/accordion-in-panel/accordion-in-panel-example.html
  packages/docs-examples/components/accordion/accordion-in-section/accordion-in-section-example.html
  packages/docs-examples/components/accordion/accordion-inactive-section/accordion-inactive-section-example.html
  packages/docs-examples/components/accordion/accordion-overview/accordion-overview-example.html
  packages/docs-examples/components/accordion/accordion-sections/accordion-sections-example.html
  packages/docs-examples/components/accordion/accordion-states/accordion-states-example.html
  tools/api-extractor/config.json
  tools/public_api_guard/components/accordion.api.md
Due: yarn run cspell --files

fix: linter errors
  packages/components-dev/accordion/template.html
  packages/components/accordion/accordion-trigger.component.ts
Due: none

fix: linter errors
  packages/components/accordion/accordion-content.directive.ts
  packages/components/accordion/accordion-content.ts
  packages/components/accordion/accordion-item.ts
  packages/components/accordion/accordion-trigger.component.ts
  packages/components/accordion/accordion-trigger.directive.ts
  packages/components/accordion/accordion.component.ts
Due: none

fix: after review
  packages/components/accordion/accordion-content.directive.ts
  packages/components/accordion/accordion-item.ts
  packages/components/accordion/accordion.component.ts
Due: none

fix: update golden files
  tools/public_api_guard/components/accordion.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/code-block/__screenshots__/01-light.png
Due: none

fix(tooltip): don't use arrows by default (#DS-4731)
  packages/components-dev/tooltip/module.ts
  packages/components-dev/tooltip/template.html
  packages/components/tooltip/tooltip.component.ts
Due: none

fix: test
  packages/components/tooltip/tooltip.spec.ts
Due: none

fix(code-block): prevent action buttons text overlap (#DS-4738)
  packages/components/code-block/code-block.html
  packages/components/code-block/code-block.module.ts
  packages/components/code-block/code-block.spec.ts
  packages/components/code-block/code-block.ts
  tools/public_api_guard/components/code-block.api.md
Due: yarn run cspell --files

fix(code-block): overflow-wrap for `softWrap` mode (#DS-3032) (#1409)
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/code-block/code-block.scss
Due: none

chore(code-block): after review
  packages/components/code-block/code-block.spec.ts
  packages/components/code-block/code-block.ts
  packages/components/code-block/types.ts
  tools/public_api_guard/components/code-block.api.md
Due: yarn run cspell --files

chore: added todo
  packages/docs-examples/components/clamped-text/clamped-list-vertical/clamped-list-vertical-example.ts
Due: none

fix(popover): delete classes after closing (#DS-4756)
  packages/components/core/pop-up/pop-up-trigger.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files
