Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix(filter-bar): platform detection (#DS-3511) (#653)
  angular.json
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  package.json
  packages/components/core/utils/utils.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  tools/public_api_guard/components/core.api.md
  yarn.lock
Due: yarn run cspell --files

chore: text alignments
  packages/components/core/core.en.md
  packages/components/core/core.ru.md
Due: yarn run cspell --files

chore(docs): added docs feedback callout (#DS-3653) (#652)
  apps/docs/src/app/components/component-viewer/component-overview.template.html
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.scss
  apps/docs/src/app/components/live-example/docs-live-example.ts
  packages/components/markdown/markdown.scss
Due: none

refactor: code review
  angular.json
  apps/docs/src/assets/stackblitz/angular.json
  apps/docs/src/assets/stackblitz/package.json
  apps/docs/src/assets/stackblitz/src/styles.scss
  packages/components-dev/ag-grid/module.ts
  packages/components-dev/ag-grid/template.html
  packages/components-dev/main.scss
Due: none

fix(filter-bar): size of label in date pipe (#DS-3643) (#655)
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/core/pop-up/pop-up-trigger.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.scss
  packages/components/filter-bar/pipes/pipe-datetime.html
Due: none

refactor: upd theme package
  apps/docs/src/assets/stackblitz/package.json
  package.json
  yarn.lock
Due: none

chore(docs): added new AG-Grid page (#DS-3615) (#649)
  angular.json
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/assets/images/welcome/ag-grid-dark.png
  apps/docs/src/assets/images/welcome/ag-grid-light.png
  apps/docs/src/assets/stackblitz/angular.json
  apps/docs/src/assets/stackblitz/package.json
  apps/docs/src/assets/stackblitz/src/styles.scss
  apps/docs/src/main.scss
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  firebase.json
  package.json
  packages/components-dev/ag-grid/main.ts
  packages/components-dev/ag-grid/module.ts
  packages/components-dev/ag-grid/styles.scss
  packages/components-dev/ag-grid/template.html
  packages/components-dev/ag-grid/tsconfig.app.json
  packages/components-dev/main.scss
  packages/docs-examples/components/ag-grid/ag-grid-overview/ag-grid-overview-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/components/ag-grid/ng-package.json
  packages/docs-examples/example-module.ts
  tools/generate-sitemap.ts
  tools/markdown-to-html/transform-markdown.ts
  yarn.lock
Due: yarn run cspell --files

feat(top-bar): updated docs examples (#DS-3487)
  packages/components-dev/main.scss
  packages/components/top-bar/top-bar.en.md
  packages/components/top-bar/top-bar.ru.md
  packages/docs-examples/components/top-bar/index.ts
  packages/docs-examples/components/top-bar/top-bar-actions/top-bar-actions-example.ts
  packages/docs-examples/components/top-bar/top-bar-active-breadcrumb/top-bar-active-breadcrumb-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs-adaptive/top-bar-breadcrumbs-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-overflow/top-bar-overflow-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions/top-bar-secondary-actions-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter-adaptive/top-bar-title-counter-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter/top-bar-title-counter-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

chore: fixed examples & layout bugs
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.scss
  apps/docs/src/assets/example-icon.svg
  apps/docs/src/styles/_examples.scss
  packages/components/top-bar/top-bar.scss
  packages/components/top-bar/top-bar.ts
  packages/docs-examples/components/top-bar/top-bar-actions/top-bar-actions-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs-adaptive/top-bar-breadcrumbs-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs/top-bar-breadcrumbs-example.ts
  packages/docs-examples/components/top-bar/top-bar-overflow/top-bar-overflow-example.ts
  packages/docs-examples/components/top-bar/top-bar-overview/top-bar-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter-adaptive/top-bar-title-counter-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter/top-bar-title-counter-example.ts
  tools/public_api_guard/components/top-bar.api.md
Due: yarn run cspell --files

chore: fixed examples & layout
  packages/components/top-bar/top-bar.en.md
  packages/components/top-bar/top-bar.ru.md
  packages/components/top-bar/top-bar.scss
  packages/docs-examples/components/top-bar/top-bar-actions/top-bar-actions-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs-adaptive/top-bar-breadcrumbs-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs/top-bar-breadcrumbs-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter-adaptive/top-bar-title-counter-adaptive-example.ts
Due: yarn run cspell --files

chore(top-bar): dev example
  packages/components-dev/top-bar/template.html
Due: none

chore(checkbox): added multiline checkbox example (#DS-3538)
  packages/components-dev/checkbox/module.ts
  packages/components-dev/checkbox/template.html
  packages/components/checkbox/checkbox.en.md
  packages/components/checkbox/checkbox.ru.md
  packages/docs-examples/components/checkbox/checkbox-indeterminate/checkbox-indeterminate-example.ts
  packages/docs-examples/components/checkbox/checkbox-multiline/checkbox-multiline-example.ts
  packages/docs-examples/components/checkbox/checkbox-overview/checkbox-overview-example.ts
  packages/docs-examples/components/checkbox/index.ts
  packages/docs-examples/components/checkbox/pseudo-checkbox/pseudo-checkbox-example.ts
Due: yarn run cspell --files

chore: fixed examples
  apps/docs/src/app/services/documentation-items.ts
  packages/components/top-bar/top-bar.en.md
  packages/components/top-bar/top-bar.ru.md
  packages/docs-examples/components/top-bar/top-bar-actions/top-bar-actions-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs-adaptive/top-bar-breadcrumbs-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs/top-bar-breadcrumbs-example.ts
  packages/docs-examples/components/top-bar/top-bar-overview/top-bar-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter-adaptive/top-bar-title-counter-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter/top-bar-title-counter-example.ts
  tools/cspell-locales/en.json
Due: yarn run cspell --files

refactor: update readme
  packages/components/checkbox/checkbox.ru.md
Due: yarn run cspell --files

chore: after review
  packages/components/core/core.en.md
  packages/components/core/core.ru.md
Due: yarn run cspell --files

chore(checkbox): added multiline checkbox example (#DS-3538) (#656)
  packages/components-dev/checkbox/module.ts
  packages/components-dev/checkbox/template.html
  packages/components/checkbox/checkbox.en.md
  packages/components/checkbox/checkbox.ru.md
  packages/docs-examples/components/checkbox/checkbox-indeterminate/checkbox-indeterminate-example.ts
  packages/docs-examples/components/checkbox/checkbox-multiline/checkbox-multiline-example.ts
  packages/docs-examples/components/checkbox/checkbox-overview/checkbox-overview-example.ts
  packages/docs-examples/components/checkbox/index.ts
  packages/docs-examples/components/checkbox/pseudo-checkbox/pseudo-checkbox-example.ts
Due: yarn run cspell --files

fix(radio): multiline support (#DS-3538)
  packages/components-dev/radio/module.ts
  packages/components-dev/radio/template.html
  packages/components/radio/radio.en.md
  packages/components/radio/radio.ru.md
  packages/components/radio/radio.scss
  packages/docs-examples/components/radio/index.ts
  packages/docs-examples/components/radio/radio-group/radio-group-example.ts
  packages/docs-examples/components/radio/radio-multiline/radio-multiline-example.ts
  packages/docs-examples/components/radio/radio-size/radio-size-example.ts
  packages/docs-examples/components/radio/radio-style/radio-style-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

refactor: toggle
  packages/components-dev/toggle/main.ts
  packages/components-dev/toggle/module.ts
  packages/components-dev/toggle/template.html
  packages/components/toggle/toggle.ru.md
  packages/docs-examples/components/toggle/index.ts
  packages/docs-examples/components/toggle/toggle-multiline/toggle-multiline-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

feat(docs): added сore section (#DS-3340) (#654)
  apps/docs/src/app/services/documentation-items.ts
  packages/components/core/core.en.md
  packages/components/core/core.ru.md
  tools/cspell-locales/ru.json
  tools/generate-sitemap.ts
Due: yarn run cspell --files

fix(breadcrumbs): error when import component
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
  package.json
  packages/components/package.json
  yarn.lock
Due: yarn run cspell --files

feat(filter-bar): custom pipe (#DS-3530)
  packages/components-dev/filter-bar/main.ts
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/examples.filter-bar.ru.md
  packages/components/filter-bar/filter-bar.module.ts
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filter-reset.ts
  packages/components/filter-bar/pipe.directive.ts
  packages/components/filter-bar/pipes/pipe-button.ts
  packages/components/filter-bar/pipes/pipe-text.html
  packages/docs-examples/components/filter-bar/filter-bar-custom-pipe/filter-bar-custom-pipe-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(ag-grid): koobiq CSS component design tokens (#DS-3662)
  .commitlintrc.js
  apps/docs/src/assets/stackblitz/package.json
  package.json
  yarn.lock
Due: none

fix: after review
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  packages/components/filter-bar/pipe.directive.ts
  packages/docs-examples/components/filter-bar/filter-bar-custom-pipe/filter-bar-custom-pipe-example.ts
  packages/docs-examples/example-module.ts
Due: none

chore: after review
  packages/components/top-bar/top-bar-tokens.scss
  packages/components/top-bar/top-bar.en.md
  packages/components/top-bar/top-bar.ru.md
  packages/components/top-bar/top-bar.scss
  packages/docs-examples/components/top-bar/top-bar-actions/top-bar-actions-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs-adaptive/top-bar-breadcrumbs-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-overflow/top-bar-overflow-example.ts
  packages/docs-examples/components/top-bar/top-bar-overview/top-bar-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter-adaptive/top-bar-title-counter-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter/top-bar-title-counter-example.ts
Due: yarn run cspell --files

chore: fixed yarn.lock
  yarn.lock
Due: none

fix(radio, toggle): multiline support (#DS-3538) (#657)
  packages/components-dev/radio/module.ts
  packages/components-dev/radio/template.html
  packages/components-dev/toggle/main.ts
  packages/components-dev/toggle/module.ts
  packages/components-dev/toggle/template.html
  packages/components/radio/radio.en.md
  packages/components/radio/radio.ru.md
  packages/components/radio/radio.scss
  packages/components/toggle/toggle.ru.md
  packages/docs-examples/components/radio/index.ts
  packages/docs-examples/components/radio/radio-group/radio-group-example.ts
  packages/docs-examples/components/radio/radio-multiline/radio-multiline-example.ts
  packages/docs-examples/components/radio/radio-size/radio-size-example.ts
  packages/docs-examples/components/radio/radio-style/radio-style-example.ts
  packages/docs-examples/components/toggle/index.ts
  packages/docs-examples/components/toggle/toggle-multiline/toggle-multiline-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

chore(docs): removed filter of redundant class members (#DS-3657)
  tools/api-gen/extraction/helpers.ts
Due: none

feat(toggle): indeterminate state (#DS-3483)
  packages/components-dev/toggle/template.html
  packages/components/checkbox/checkbox.ts
  packages/components/core/animation/animation.ts
  packages/components/core/common-behaviors/checkbox.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/toggle/_toggle-theme.scss
  packages/components/toggle/toggle.component.html
  packages/components/toggle/toggle.component.ts
  packages/components/toggle/toggle.en.md
  packages/components/toggle/toggle.ru.md
  packages/components/toggle/toggle.scss
  packages/docs-examples/components/toggle/index.ts
  packages/docs-examples/components/toggle/toggle-indeterminate/toggle-indeterminate-example.ts
  tools/public_api_guard/components/checkbox.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

chore: updated styles, docs, moved animation duration to variables
  packages/components/core/animation/animation.ts
  packages/components/toggle/_toggle-theme.scss
  packages/components/toggle/toggle-tokens.scss
  packages/components/toggle/toggle.component.ts
  packages/components/toggle/toggle.ru.md
  packages/components/toggle/toggle.scss
  packages/docs-examples/components/toggle/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore: upd docs
  packages/components/toggle/toggle.en.md
  packages/components/toggle/toggle.ru.md
Due: yarn run cspell --files

chore: after review
  packages/components/toggle/toggle.en.md
  packages/components/toggle/toggle.ru.md
Due: yarn run cspell --files

chore: added unit tests
  packages/components/toggle/toggle.component.spec.ts
Due: none

chore: after review
  packages/components/checkbox/checkbox.ts
  packages/components/core/common-behaviors/checkbox.ts
  packages/components/toggle/toggle.component.ts
  packages/components/toggle/toggle.scss
  tools/public_api_guard/components/checkbox.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

chore(docs): after rebase
  packages/components-dev/toggle/module.ts
  packages/components-dev/toggle/template.html
Due: none

chore(toggle): fixed value calculation
  packages/components/toggle/toggle.scss
Due: none

refactor: webkit scrollbar
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/docs-examples/components/ag-grid/ag-grid-overview/ag-grid-overview-example.ts
  yarn.lock
Due: none

feat(docs): added "new" section badge in sidenav (#DS-3386)
  apps/docs/src/app/components/sidenav/sidenav.component.html
  apps/docs/src/app/components/sidenav/sidenav.component.ts
  apps/docs/src/app/services/documentation-items.ts
Due: none

fix(ag-grid): koobiq CSS component design tokens (#DS-3662) (#660)
  .commitlintrc.js
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/docs-examples/components/ag-grid/ag-grid-overview/ag-grid-overview-example.ts
  yarn.lock
Due: none

chore(docs): added step for outdated doc items check
  .github/workflows/actions/build-docs/action.yml
  apps/docs/src/app/services/docs-metadata.ts
  apps/docs/src/app/services/documentation-items.ts
  package.json
  tools/docs/check-outdated.ts
Due: yamllint

chore(docs): fixed createdAt
  apps/docs/src/app/services/docs-metadata.ts
Due: none
