Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

refactor: types
  packages/components/core/form-field/field-sizing-content.ts
Due: none

refactor: color
  packages/components/tags/_tag-theme.scss
Due: none

feat: tree line + styles
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-tree-option.scss
  packages/components/app-switcher/app-switcher-tree-option.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/tree/toggle.ts
Due: none

feat(select): disable search below option threshold (#DS-3921)
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/timezone/timezone-select.component.html
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  packages/docs-examples/components/select/select-search/select-search-example.ts
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

feat(tags,core): added KbqFieldSizingContent directive (#DS-4146) (#999)
  packages/components-dev/ssr/module.ts
  packages/components/core/form-field/field-sizing-content.ts
  packages/components/core/form-field/index.ts
  packages/components/core/utils/dom.ts
  packages/components/core/utils/index.ts
  packages/components/tags/_tag-theme.scss
  packages/components/tags/tag-list.scss
  packages/components/tags/tag.component.ts
  packages/components/tags/tag.scss
  packages/docs-examples/components/tag/tag-autocomplete/tag-autocomplete-example.ts
  packages/docs-examples/components/tag/tag-editable/tag-editable-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-list-editable/tag-list-editable-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

chore: fixed spy in tests
  packages/components/inline-edit/inline-edit.spec.ts
Due: none

fix(filter-bar): update pipe templates (#DS-4157) (#1017)
  packages/components/filter-bar/pipes/pipe-multi-select.ts
Due: none

fix: bugs + styles for tree
  packages/components/app-switcher/app-switcher-tree-option.scss
  packages/components/app-switcher/app-switcher-tree-option.ts
Due: none

chore: bump version to 18.35.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

fix(docs): destroy examples before fetching new document (#DS-4159)
  apps/docs/src/app/components/example-viewer/example-viewer.ts
  apps/docs/src/app/components/live-example/docs-live-example.ts
Due: none

refactor: removable
  packages/components-dev/tag/module.ts
  packages/components/tags/_tag-theme.scss
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-list.partial.html
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag-tokens.scss
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  packages/components/tags/tag.ru.md
  packages/docs-examples/components/tag/index.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  packages/docs-examples/components/tag/tag-list-selectable/tag-list-selectable-example.ts
  packages/docs-examples/components/tag/tag-removable/tag-removable-example.ts
  packages/docs-examples/components/tag/tag-selectable/tag-selectable-example.ts
  packages/docs-examples/components/tag/tag-with-remove-button/tag-with-remove-button-example.ts
Due: yarn run cspell --files

refactor: examples
  packages/components-dev/tag/module.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  packages/docs-examples/components/tag/tag-list-selectable/tag-list-selectable-example.ts
  packages/docs-examples/components/tag/tag-removable/tag-removable-example.ts
  packages/docs-examples/components/tag/tag-selectable/tag-selectable-example.ts
Due: none

refactor: autocomplete/input examples
  packages/components-dev/tag/module.ts
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag.component.ts
  packages/components/tags/tag.ru.md
  packages/docs-examples/components/tag/index.ts
  packages/docs-examples/components/tag/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-selectable/tag-autocomplete-selectable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete/tag-autocomplete-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-input-selectable/tag-input-selectable-example.ts
  packages/docs-examples/components/tag/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  packages/docs-examples/components/tag/tag-input/tag-input-example.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  packages/docs-examples/components/tag/tag-list-selectable/tag-list-selectable-example.ts
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.html
Due: yarn run cspell --files

refactor: added specs, updated examples
  packages/components/core/common-behaviors/hovered.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  packages/docs-examples/components/tag/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-selectable/tag-autocomplete-selectable-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-input-selectable/tag-input-selectable-example.ts
  packages/docs-examples/components/tag/tag-list-editable/tag-list-editable-example.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  packages/docs-examples/components/tag/tag-list-selectable/tag-list-selectable-example.ts
  packages/docs-examples/components/tag/tag-removable/tag-removable-example.ts
  packages/docs-examples/example-module.ts
Due: none

refactor: selection
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
Due: none

refactor: e2e
  packages/components-dev/e2e/components/__screenshots__/KbqTagModule-DevTagStateAndStyle-states-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqTagModule-DevTagStateAndStyle-states-dark-theme-1.png
  packages/components-dev/e2e/components/actions-panel.playwright-spec.ts
  packages/components-dev/e2e/components/button.playwright-spec.ts
  packages/components-dev/e2e/components/button.ts
  packages/components-dev/e2e/components/file-upload.playwright-spec.ts
  packages/components-dev/e2e/components/tag.playwright-spec.ts
  packages/components-dev/e2e/components/tag.ts
  packages/components-dev/e2e/module.ts
  packages/components-dev/e2e/template.html
  packages/components-dev/e2e/utils/index.ts
  packages/components-dev/e2e/utils/page.ts
  packages/components-dev/e2e/utils/theme.ts
  packages/components-dev/tag/module.ts
  packages/components-dev/tag/template.html
  packages/components/tags/_tag-theme.scss
  packages/components/tags/tag-tokens.scss
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

refactor: specs
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-remove.spec.ts
  packages/components/tags/tag.component.ts
Due: none

refactor: docs
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.en.md
  packages/components/tags/tag.ru.md
Due: yarn run cspell --files

test: auto-updated e2e screenshots
  packages/components-dev/e2e/components/__screenshots__/KbqActionsPanel-DevActionsPanelWithOverlayCont-a02b9-ld-show-hidden-actions-when-button-is-clicked-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqTagModule-DevTagStateAndStyle-states-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqTagModule-DevTagStateAndStyle-states-dark-theme-1.png
Due: none

refactor: screenshot
  packages/components-dev/e2e/components/__screenshots__/KbqActionsPanel-DevActionsPanelWithOverlayCont-a02b9-ld-show-hidden-actions-when-button-is-clicked-1.png
  packages/components-dev/e2e/template.html
Due: none

refactor: docs
  packages/components-dev/tag/module.ts
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/docs-examples/components/tag/index.ts
  packages/docs-examples/components/tag/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-selectable/tag-autocomplete-selectable-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

refactor: undo
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
Due: none

refactor: link
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.en.md
  packages/components/tags/tag.ru.md
Due: yarn run cspell --files

refactor: resolve conflict
  packages/components/core/common-behaviors/hovered.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-input-selectable/tag-input-selectable-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

refactor: disable autocomplete
  packages/docs-examples/components/tag/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tag/tag-autocomplete/tag-autocomplete-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-input-selectable/tag-input-selectable-example.ts
  packages/docs-examples/components/tag/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  packages/docs-examples/components/tag/tag-input/tag-input-example.ts
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.html
Due: none

refactor: linters
  packages/components/tags/tag.component.ts
Due: none

chore: jsdoc and refactor
  packages/components/core/select/constants.ts
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/timezone/timezone-select.component.html
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

chore: jsdoc and refactor
  packages/components/core/select/constants.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

chore: added e2e workflow trigger (#DS-4070)
  .github/workflows/e2e-update-screenshots.yml
  .github/workflows/e2e.yml
Due: yamllint

chore: added unit test
  packages/components/select/select.component.spec.ts
  packages/components/timezone/timezone-select.component.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
Due: none

feat: added dropdown
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.html
  packages/components/dropdown/dropdown.module.ts
Due: none

chore: removed input transform
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

chore: updated deps @koobiq/icons to 10.7.1 (#DS-4183)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  yarn.lock
Due: none

fix(overflow-items): overflow detection when container has flex-end property (#DS-4013)
  packages/components/overflow-items/overflow-items.ts
Due: none

refactor: api
  tools/public_api_guard/components/overflow-items.api.md
Due: yarn run cspell --files

refactor: spec
  packages/components/overflow-items/overflow-items.karma-spec.ts
Due: none

refactor: added example
  packages/components-dev/overflow-items/module.ts
  packages/components/overflow-items/overflow-items.en.md
  packages/components/overflow-items/overflow-items.karma-spec.ts
  packages/components/overflow-items/overflow-items.ru.md
  packages/components/overflow-items/overflow-items.ts
  packages/docs-examples/components/overflow-items/index.ts
  packages/docs-examples/components/overflow-items/overflow-items-justify-content/overflow-items-justify-content-example.ts
  packages/docs-examples/components/overflow-items/overflow-items-overview/overflow-items-overview-example.ts
  packages/docs-examples/components/overflow-items/overflow-items-with-order/overflow-items-with-order-example.ts
Due: yarn run cspell --files

chore: after review
  packages/components/core/select/common.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/timezone/timezone-select.component.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
