Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix(typography): load JetBrains Mono 600 used by the mono-normal-medium level (#2104)
  apps/docs/src/assets/stackblitz/src/index.html
  apps/docs/src/styles/_fonts.scss
  packages/components-dev/main.scss
  packages/components/core/styles/typography/typography.en.md
  packages/components/core/styles/typography/typography.ru.md
  packages/components/markdown/__screenshots__/01-light.png
  packages/e2e/main.scss
Due: yarn run cspell --files

fix(link): wrap a trailing icon together with the last word (#DS-5532) (#2096)
  packages/components/link/_link-theme.scss
Due: none

chore: regenerate the public API guard for the 19.8.6 backports
  tools/public_api_guard/components/accordion.api.md
  tools/public_api_guard/components/breadcrumbs.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/ellipsis-center.api.md
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/inline-edit.api.md
  tools/public_api_guard/components/navbar.api.md
  tools/public_api_guard/components/toast.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(typography): add the kbq-mono-normal-medium and kbq-mono-codeblock classes (#2102)
  packages/components/core/styles/typography/__screenshots__/01-light.png
  packages/components/core/styles/typography/_typography.scss
Due: none

test(e2e): regenerate the screenshot baselines for the 19.8.6 backports
  packages/components/button-toggle/__screenshots__/03-dark.png
  packages/components/button-toggle/__screenshots__/04-light.png
  packages/components/core/styles/typography/__screenshots__/01-light.png
  packages/components/dl/__screenshots__/01-dark.png
  packages/components/dl/__screenshots__/01-light.png
  packages/components/filter-bar/__screenshots__/01-dark.png
  packages/components/filter-bar/__screenshots__/01-light.png
  packages/components/link/__screenshots__/01-dark.png
  packages/components/link/__screenshots__/01-light.png
  packages/components/markdown/__screenshots__/01-dark.png
  packages/components/navbar/__screenshots__/02-dark.png
  packages/components/navbar/__screenshots__/02-light.png
  packages/components/sidepanel/__screenshots__/03-light.png
  packages/components/tree-select/__screenshots__/02-dark.png
  packages/components/tree-select/__screenshots__/02-light.png
  packages/components/tree/__screenshots__/01-dark.png
  packages/components/tree/__screenshots__/01-light.png
Due: none

chore: bump version to 19.8.6 w/ changelog
  CHANGELOG.md
  apps/docs/src/llms-full.txt
  apps/docs/src/llms.txt
  package.json
Due: yarn run cspell --files

fix(clamped-text)!: errors following a full review of the component (#DS-5531) (#2092)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/clamped-text/__screenshots__/02-dark.png
  packages/components/clamped-text/__screenshots__/02-light.png
  packages/components/clamped-text/clamped-list.en.mdx
  packages/components/clamped-text/clamped-list.ru.mdx
  packages/components/clamped-text/clamped-list.spec.ts
  packages/components/clamped-text/clamped-list.ts
  packages/components/clamped-text/clamped-text.en.mdx
  packages/components/clamped-text/clamped-text.module.ts
  packages/components/clamped-text/clamped-text.ru.mdx
  packages/components/clamped-text/clamped-text.scss
  packages/components/clamped-text/clamped-text.spec.ts
  packages/components/clamped-text/clamped-text.ts
  packages/components/clamped-text/constants.ts
  packages/components/clamped-text/e2e.playwright-spec.ts
  packages/components/clamped-text/e2e.ts
  packages/components/clamped-text/index.ts
  packages/components/clamped-text/public-api.ts
  packages/docs-examples/components/clamped-text/clamped-list-dotted/clamped-list-dotted-example.ts
  packages/docs-examples/components/clamped-text/clamped-list-overview/clamped-list-overview-example.ts
  packages/docs-examples/components/clamped-text/clamped-list/clamped-list-example.ts
  packages/e2e/routes.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/clamped-text-disclosure/README.md
  packages/schematics/src/migrations/clamped-text-disclosure/data.ts
  packages/schematics/src/migrations/clamped-text-disclosure/index.spec.ts
  packages/schematics/src/migrations/clamped-text-disclosure/index.ts
  packages/schematics/src/migrations/clamped-text-disclosure/schema.json
  packages/schematics/src/migrations/clamped-text-disclosure/schema.ts
  tools/check-api-docs/baseline.json
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/clamped-text.api.md
Due: yarn run cspell --files

fix(radio): errors following a full review of the component
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components-dev/radio/template.html
  packages/components/radio/_radio-theme.scss
  packages/components/radio/e2e.ts
  packages/components/radio/radio-tokens.scss
  packages/components/radio/radio.component.html
  packages/components/radio/radio.component.ts
  packages/components/radio/radio.en.mdx
  packages/components/radio/radio.ru.mdx
  packages/components/radio/radio.scss
  packages/components/radio/radio.spec.ts
  packages/docs-examples/components/radio/radio-content/radio-content-example.html
  packages/docs-examples/components/radio/radio-group/radio-group-example.ts
  packages/docs-examples/components/radio/radio-multiline/radio-multiline-example.ts
  packages/docs-examples/components/radio/radio-overview/radio-overview-example.ts
  packages/docs-examples/components/radio/radio-style/radio-style-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/radio-name-and-aria/README.md
  packages/schematics/src/migrations/radio-name-and-aria/data.ts
  packages/schematics/src/migrations/radio-name-and-aria/index.spec.ts
  packages/schematics/src/migrations/radio-name-and-aria/index.ts
  packages/schematics/src/migrations/radio-name-and-aria/schema.json
  packages/schematics/src/migrations/radio-name-and-aria/schema.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/radio.api.md
Due: yarn run cspell --files

fix(radio): back the group state with signals and document the keyboard contract
  packages/components/radio/radio.component.ts
  packages/components/radio/radio.en.mdx
  packages/components/radio/radio.ru.mdx
  packages/components/radio/radio.spec.ts
Due: none

fix(radio): address code review findings
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/radio/__screenshots__/01-dark.png
  packages/components/radio/__screenshots__/01-light.png
Due: none

docs(radio): align the Russian texts with the style guide
  docs/guides/migration.ru.mdx
  packages/components/radio/radio.ru.mdx
Due: none

docs(radio): drop the letter "ё" from the Radio migration section
  docs/guides/migration.ru.mdx
Due: none

docs(radio): second tech-docs-ru pass over the changed Radio sections
  docs/guides/migration.ru.mdx
  packages/components/radio/radio.ru.mdx
Due: none

fix(radio)!: move the one-way inputs to the signal API
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/radio/radio.component.html
  packages/components/radio/radio.component.ts
  packages/components/radio/radio.spec.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/radio-name-and-aria/README.md
  packages/schematics/src/migrations/radio-name-and-aria/data.ts
  packages/schematics/src/migrations/radio-name-and-aria/index.spec.ts
  packages/schematics/src/migrations/radio-name-and-aria/index.ts
  packages/schematics/src/migrations/radio-name-and-aria/schema.json
  packages/schematics/src/migrations/radio-name-and-aria/schema.ts
  packages/schematics/src/migrations/radio-signals-and-aria/README.md
  packages/schematics/src/migrations/radio-signals-and-aria/data.ts
  packages/schematics/src/migrations/radio-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/radio-signals-and-aria/index.ts
  packages/schematics/src/migrations/radio-signals-and-aria/schema.json
  packages/schematics/src/migrations/radio-signals-and-aria/schema.ts
  tools/check-api-docs/baseline.json
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/radio.api.md
Due: yarn run cspell --files

chore(deps): resolve open dependabot advisories
  .yarnrc.yml
  package.json
  yarn.lock
Due: yamllint

chore(deps): resolve open dependabot advisories (#2126)
  .yarnrc.yml
  package.json
  yarn.lock
Due: yamllint

fix(radio)!: errors following a full review of the component (#DS-5531) (#2093)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components-dev/radio/template.html
  packages/components/radio/__screenshots__/01-dark.png
  packages/components/radio/__screenshots__/01-light.png
  packages/components/radio/_radio-theme.scss
  packages/components/radio/e2e.ts
  packages/components/radio/radio-tokens.scss
  packages/components/radio/radio.component.html
  packages/components/radio/radio.component.ts
  packages/components/radio/radio.en.mdx
  packages/components/radio/radio.ru.mdx
  packages/components/radio/radio.scss
  packages/components/radio/radio.spec.ts
  packages/docs-examples/components/radio/radio-content/radio-content-example.html
  packages/docs-examples/components/radio/radio-group/radio-group-example.ts
  packages/docs-examples/components/radio/radio-multiline/radio-multiline-example.ts
  packages/docs-examples/components/radio/radio-overview/radio-overview-example.ts
  packages/docs-examples/components/radio/radio-style/radio-style-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/radio-signals-and-aria/README.md
  packages/schematics/src/migrations/radio-signals-and-aria/data.ts
  packages/schematics/src/migrations/radio-signals-and-aria/index.spec.ts
  packages/schematics/src/migrations/radio-signals-and-aria/index.ts
  packages/schematics/src/migrations/radio-signals-and-aria/schema.json
  packages/schematics/src/migrations/radio-signals-and-aria/schema.ts
  tools/check-api-docs/baseline.json
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/radio.api.md
Due: yarn run cspell --files

docs(components): align the en and ru pages that diverged in sections and examples (#2110)
  apps/docs/src/app/seo-descriptions.ts
  docs/guides/versioning.en.mdx
  packages/components/core/formatters/date/date-formatter.en.mdx
  packages/components/core/validation/examples.validation.en.mdx
  packages/components/core/validation/examples.validation.ru.mdx
  packages/components/file-upload/examples.file-upload.en.mdx
  packages/components/file-upload/file-upload.en.mdx
  packages/components/file-upload/file-upload.ru.mdx
  packages/components/popover/popover.en.mdx
  packages/components/popover/popover.ru.mdx
  packages/components/progress-bar/progress-bar.en.mdx
  packages/components/progress-spinner/progress-spinner.en.mdx
  packages/components/select/select.en.mdx
  packages/components/select/select.ru.mdx
  packages/components/toast/examples.toast.en.mdx
  packages/components/tree-select/examples.tree-select.en.mdx
  packages/components/tree-select/examples.tree-select.ru.mdx
Due: none

refactor: move the copy page button out to DS-5666
  AGENTS.md
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/components/copy-page/copy-page.spec.ts
  apps/docs/src/app/components/copy-page/copy-page.ts
  apps/docs/src/app/components/design-tokens-viewers/design-tokens-viewer.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/clipboard.ts
  apps/docs/src/app/services/i18n.ts
Due: yarn run cspell --files

feat(docs): link the Markdown of a page from its own host and locale (#DS-4900)
  AGENTS.md
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/page-paths.ts
  apps/docs/src/app/services/seo.spec.ts
  apps/docs/src/app/services/seo.ts
  tools/llms/check.ts
  tools/llms/generate.ts
  tools/llms/sources.ts
Due: yarn run cspell --files

docs(ag-grid): load error example and skeleton cell renderer guidance (#DS-4087)
  apps/docs/src/app/components/design-tokens-viewers/data/colors.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.html
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.scss
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.ts
  docs/data-grid/ag-grid/ag-grid.en.mdx
  docs/data-grid/ag-grid/ag-grid.ru.mdx
  packages/components-dev/ag-grid/module.ts
  packages/docs-examples/components/ag-grid/ag-grid-infinite-selection/ag-grid-infinite-selection-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-load-error/ag-grid-load-error-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-loading-overlay/ag-grid-loading-overlay-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-skeleton-cell-renderer/ag-grid-skeleton-cell-renderer-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
Due: none

feat(filter-bar)!: split save and rename locale keys into header and button strings (#DS-4306)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.spec.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/filter-bar-rename-action/README.md
  packages/schematics/src/migrations/filter-bar-rename-action/data.ts
  packages/schematics/src/migrations/filter-bar-rename-action/index.spec.ts
  packages/schematics/src/migrations/filter-bar-rename-action/index.ts
  tools/check-api-docs/baseline.json
  tools/docs-pages/migration/schematics-coverage.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore(docs): guard the generated design tokens data against drift
  .github/workflows/linters.yml
  AGENTS.md
  package.json
  tools/tokens/docs/README.md
  tools/tokens/docs/check.js
  tools/tokens/docs/config.js
  tools/tokens/docs/sdConfig.js
Due: yarn run cspell --files, yamllint

fix(form-field): render the caption of a non-labelable control as a span
  packages/components/form-field/form-field-control.ts
  packages/components/form-field/form-field.html
  packages/components/form-field/form-field.spec.ts
  packages/components/form-field/form-field.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tags/tag-list.component.ts
  packages/components/time-range/time-range-title-as-form-field.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tags.api.md
  tools/public_api_guard/components/time-range.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

chore(docs): guard the generated design tokens data against drift (#2111)
  .github/workflows/linters.yml
  AGENTS.md
  package.json
  tools/tokens/docs/README.md
  tools/tokens/docs/check.js
  tools/tokens/docs/config.js
  tools/tokens/docs/sdConfig.js
Due: yarn run cspell --files, yamllint

feat(loc): add loc for components ru en (DS-4306)
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/ru-RU.ts
Due: none

fix(input)!: errors following a full review of the component
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components-dev/all/template.html
  packages/components/form-field/stepper.ts
  packages/components/input/e2e.playwright-spec.ts
  packages/components/input/e2e.ts
  packages/components/input/input-errors.ts
  packages/components/input/input-number-validators.spec.ts
  packages/components/input/input-number-validators.ts
  packages/components/input/input-number.spec.ts
  packages/components/input/input-number.ts
  packages/components/input/input-password.spec.ts
  packages/components/input/input-password.ts
  packages/components/input/input.en.mdx
  packages/components/input/input.module.ts
  packages/components/input/input.ru.mdx
  packages/components/input/input.scss
  packages/components/input/input.spec.ts
  packages/components/input/input.ts
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.ts
  packages/docs-examples/components/input/input-overview/input-overview-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/input-number-surface/README.md
  packages/schematics/src/migrations/input-number-surface/data.ts
  packages/schematics/src/migrations/input-number-surface/index.spec.ts
  packages/schematics/src/migrations/input-number-surface/index.ts
  packages/schematics/src/migrations/input-number-surface/schema.json
  packages/schematics/src/migrations/input-number-surface/schema.ts
  tools/check-api-docs/baseline.json
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

fix(input)!: errors following a full review of the component (#2124)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components-dev/all/template.html
  packages/components/form-field/stepper.ts
  packages/components/input/e2e.playwright-spec.ts
  packages/components/input/e2e.ts
  packages/components/input/input-errors.ts
  packages/components/input/input-number-validators.spec.ts
  packages/components/input/input-number-validators.ts
  packages/components/input/input-number.spec.ts
  packages/components/input/input-number.ts
  packages/components/input/input-password.spec.ts
  packages/components/input/input-password.ts
  packages/components/input/input.en.mdx
  packages/components/input/input.module.ts
  packages/components/input/input.ru.mdx
  packages/components/input/input.scss
  packages/components/input/input.spec.ts
  packages/components/input/input.ts
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.ts
  packages/docs-examples/components/input/input-overview/input-overview-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/input-number-surface/README.md
  packages/schematics/src/migrations/input-number-surface/data.ts
  packages/schematics/src/migrations/input-number-surface/index.spec.ts
  packages/schematics/src/migrations/input-number-surface/index.ts
  packages/schematics/src/migrations/input-number-surface/schema.json
  packages/schematics/src/migrations/input-number-surface/schema.ts
  tools/check-api-docs/baseline.json
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

docs(ag-grid): expand rows by cell click in the row detail example (#DS-5515)
  docs/data-grid/ag-grid/ag-grid.en.mdx
  docs/data-grid/ag-grid/ag-grid.ru.mdx
  packages/docs-examples/components/ag-grid/ag-grid-row-detail/ag-grid-row-detail-example.ts
Due: none

fix(file-upload): errors following a full review of the component
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components-dev/file-upload/template.html
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/file-upload/dropzone.scss
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/file-upload.en.mdx
  packages/components/file-upload/file-upload.ru.mdx
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/file-upload.ts
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/primitives/file-picker.spec.ts
  packages/components/file-upload/primitives/file-picker.ts
  packages/components/file-upload/single-file-upload.component.html
  packages/components/file-upload/single-file-upload.component.scss
  packages/components/file-upload/single-file-upload.component.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/file-upload-cva-and-primitives/README.md
  packages/schematics/src/migrations/file-upload-cva-and-primitives/data.ts
  packages/schematics/src/migrations/file-upload-cva-and-primitives/index.spec.ts
  packages/schematics/src/migrations/file-upload-cva-and-primitives/index.ts
  packages/schematics/src/migrations/file-upload-cva-and-primitives/schema.json
  packages/schematics/src/migrations/file-upload-cva-and-primitives/schema.ts
  tools/check-public-api-any/baseline.json
  tools/cspell-locales/en.json
Due: yarn run cspell --files

fix(file-upload)!: further errors found reviewing the branch
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/file-upload/__screenshots__/06-dark.png
  packages/components/file-upload/__screenshots__/06-light.png
  packages/components/file-upload/e2e.ts
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/primitives/file-picker.spec.ts
  packages/components/file-upload/primitives/file-picker.ts
  packages/components/file-upload/single-file-upload.component.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/file-upload-cva-and-primitives/README.md
  packages/schematics/src/migrations/file-upload-cva-and-primitives/data.ts
  packages/schematics/src/migrations/file-upload-cva-and-primitives/index.spec.ts
  packages/schematics/src/migrations/file-upload-cva-and-primitives/index.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

fix(file-upload): address code review findings
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
Due: none

fix(file-upload): restore the core API golden and edit the docs pages
  docs/guides/migration.ru.mdx
  packages/components/file-upload/file-upload.en.mdx
  packages/components/file-upload/file-upload.ru.mdx
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(core): document the file-upload locale sections
  packages/components/core/locales/types.ts
  tools/check-api-docs/baseline.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(file-upload)!: stop the file/files setters from notifying the form
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/file-upload/e2e.ts
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/file-upload-cva-and-primitives/README.md
  packages/schematics/src/migrations/file-upload-cva-and-primitives/data.ts
  packages/schematics/src/migrations/file-upload-cva-and-primitives/index.spec.ts
  tools/check-api-docs/baseline.json
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

fix(file-upload)!: remove KbqInputFileMultipleLabel instead of deprecating it
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/file-upload-cva-and-primitives/README.md
  packages/schematics/src/migrations/file-upload-cva-and-primitives/data.ts
  packages/schematics/src/migrations/file-upload-cva-and-primitives/index.spec.ts
  tools/check-api-docs/baseline.json
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files
