Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix(tabs): prevent closing popover on scroll in tab (#DS-2749)
  packages/components-dev/tabs/module.ts
  packages/components-dev/tabs/template.html
  packages/components/popover/popover.component.ts
  packages/components/tabs/tab.component.ts
Due: none

fix: update golden files
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

fix(visual): css vars typos (#DS-2756)
  packages/components/autocomplete/_autocomplete-theme.scss
  packages/components/button/_button-theme.scss
  packages/components/checkbox/_checkbox-theme.scss
  packages/components/core/option/_option-action-theme.scss
  packages/components/core/option/_option-theme.scss
  packages/components/core/selection/pseudo-checkbox/_pseudo-checkbox-theme.scss
  packages/components/core/styles/theming/_components-theming.scss
  packages/components/core/styles/theming/_scrollbar-theme.scss
  packages/components/datepicker/_datepicker-theme.scss
  packages/components/datepicker/datepicker-toggle.scss
  packages/components/dl/_dl-theme.scss
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/link/_link-theme.scss
  packages/components/select/_select-theme.scss
  packages/components/tree-select/_tree-select-theme.scss
Due: none

fix(visual): css vars typos & added css-vars for properties with map.get only
  packages/components/button-toggle/_button-toggle-theme.scss
  packages/components/button/_button-theme.scss
  packages/components/code-block/_code-block-theme.scss
  packages/components/core/forms/_forms.scss
  packages/components/core/styles/theming/_components-theming.scss
  packages/components/core/styles/theming/_scrollbar-theme.scss
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/form-field.scss
  packages/components/form-field/stepper.scss
  packages/components/icon/_icon-button-theme.scss
  packages/components/icon/_icon-item-theme.scss
  packages/components/icon/icon-button.scss
  packages/components/input/_input-theme.scss
  packages/components/link/_link-theme.scss
  packages/components/list/_list-theme.scss
  packages/components/list/list.scss
  packages/components/loader-overlay/_loader-overlay-theme.scss
  packages/components/modal/_modal-theme.scss
  packages/components/navbar/_navbar-theme.scss
  packages/components/popover/_popover-theme.scss
  packages/components/progress-bar/_progress-bar-theme.scss
  packages/components/progress-spinner/_progress-spinner-theme.scss
  packages/components/radio/_radio-theme.scss
  packages/components/scrollbar/_scrollbar-component-theme.scss
  packages/components/sidepanel/_sidepanel-theme.scss
  packages/components/splitter/_splitter-theme.scss
  packages/components/tabs/_tabs-theme.scss
  packages/components/tags/_tag-theme.scss
  packages/components/timepicker/timepicker.scss
  packages/components/toast/_toast-theme.scss
  packages/components/toggle/_toggle-theme.scss
  packages/components/tooltip/_tooltip-theme.scss
  packages/components/tree/_tree-theme.scss
  packages/components/tree/toggle.scss
Due: none

fix(visual): fixed comma
  packages/components/button-toggle/_button-toggle-theme.scss
  packages/components/core/forms/_forms.scss
  packages/components/toggle/_toggle-theme.scss
Due: none

feat: migrated apps/docs from karma+jasmine to jest
  .github/workflows/ci.yml
  angular.json
  apps/docs/karma.conf.js
  apps/docs/src/app/components/docs-live-example/docs-live-example.spec.ts
  apps/docs/src/app/components/docsearch/docsearch.component.spec.ts
  apps/docs/src/app/components/docsearch/docsearch.component.ts
  apps/docs/src/app/testing/testing-module.ts
  apps/docs/src/test.ts
  apps/docs/tsconfig.spec.json
  package.json
Due: yamllint

fix(docs,chore): docs api gen within CI
  package.json
Due: none

fix(docs,chore): docs api gen within CI (#227)
  package.json
Due: none

fix(visual): fixed token names in tag
  packages/components/core/styles/theming/_components-theming.scss
  packages/components/tags/_tag-theme.scss
Due: none

linter fix
  packages/docs-examples/components/markdown/index.ts
Due: none

fix empty css files
  packages/docs-examples/components/markdown/markdown-article/markdown-article-example.css
  packages/docs-examples/components/markdown/markdown-article/markdown-article-example.html
  packages/docs-examples/components/markdown/markdown-code-block/markdown-code-block-example.css
  packages/docs-examples/components/markdown/markdown-code-block/markdown-code-block-example.html
  packages/docs-examples/components/markdown/markdown-code/markdown-code-example.css
  packages/docs-examples/components/markdown/markdown-code/markdown-code-example.html
  packages/docs-examples/components/markdown/markdown-divider/markdown-divider-example.css
  packages/docs-examples/components/markdown/markdown-headers-combinations/markdown-headers-combinations-example.css
  packages/docs-examples/components/markdown/markdown-headers/markdown-headers-example.css
  packages/docs-examples/components/markdown/markdown-headers/markdown-headers-example.html
  packages/docs-examples/components/markdown/markdown-image/markdown-image-example.css
  packages/docs-examples/components/markdown/markdown-line-break/markdown-line-break-example.css
  packages/docs-examples/components/markdown/markdown-link/markdown-link-example.css
  packages/docs-examples/components/markdown/markdown-link/markdown-link-example.html
  packages/docs-examples/components/markdown/markdown-list/markdown-list-example.css
  packages/docs-examples/components/markdown/markdown-list/markdown-list-example.html
  packages/docs-examples/components/markdown/markdown-paragraph/markdown-paragraph-example.css
  packages/docs-examples/components/markdown/markdown-quote/markdown-quote-example.css
  packages/docs-examples/components/markdown/markdown-quote/markdown-quote-example.html
  packages/docs-examples/components/markdown/markdown-selection/markdown-selection-example.css
  packages/docs-examples/components/markdown/markdown-selection/markdown-selection-example.html
  packages/docs-examples/components/markdown/markdown-table/markdown-table-example.css
Due: none

fix: after review
  packages/components/popover/popover.component.ts
  packages/components/tabs/tab-body.html
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

examples content
  packages/docs-examples/components/markdown/markdown-article/markdown-article-example.html
  packages/docs-examples/components/markdown/markdown-headers-combinations/markdown-headers-combinations-example.html
  packages/docs-examples/components/markdown/markdown-line-break/markdown-line-break-example.html
  packages/docs-examples/components/markdown/markdown-link/markdown-link-example.html
  packages/docs-examples/components/markdown/markdown-list/markdown-list-example.html
  packages/docs-examples/components/markdown/markdown-paragraph/markdown-paragraph-example.html
  packages/docs-examples/components/markdown/markdown-quote/markdown-quote-example.html
Due: none

fix(tabs): prevent closing popover on scroll in tab (#DS-2749) (#224)
  packages/components-dev/tabs/module.ts
  packages/components-dev/tabs/template.html
  packages/components/popover/popover.component.ts
  packages/components/tabs/tab-body.html
  packages/components/tabs/tab.component.ts
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

fix(visual): fixed token names & renamed todos marked as tech debt
  packages/components/alert/_alert-theme.scss
  packages/components/badge/_badge-theme.scss
  packages/components/button/_button-theme.scss
  packages/components/checkbox/_checkbox-theme.scss
  packages/components/code-block/_code-block-theme.scss
  packages/components/datepicker/datepicker-content.scss
  packages/components/datepicker/datepicker-toggle.scss
  packages/components/empty-state/_empty-state-theme.scss
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/form-field/_form-field-theme.scss
  packages/components/icon/_icon-button-theme.scss
  packages/components/link/_link-theme.scss
  packages/components/loader-overlay/_loader-overlay-theme.scss
  packages/components/markdown/_markdown-theme.scss
  packages/components/modal/_modal-theme.scss
  packages/components/radio/_radio-theme.scss
  packages/components/splitter/_splitter-theme.scss
  packages/components/tabs/_tabs-theme.scss
  packages/components/timepicker/timepicker.scss
  packages/components/timezone/_timezone-option-theme.scss
  packages/components/toast/toast.component.scss
  packages/components/tooltip/_tooltip-theme.scss
  packages/components/tree/toggle.scss
Due: none

feat: migrated apps/docs from karma+jasmine to jest (#DS-2765) (#226)
  .github/workflows/ci.yml
  angular.json
  apps/docs/karma.conf.js
  apps/docs/src/app/components/docs-live-example/docs-live-example.spec.ts
  apps/docs/src/app/components/docsearch/docsearch.component.spec.ts
  apps/docs/src/app/components/docsearch/docsearch.component.ts
  apps/docs/src/app/testing/testing-module.ts
  apps/docs/src/test.ts
  apps/docs/tsconfig.spec.json
  package.json
Due: yamllint

fix(typography): initialize base typography with use of css-vars (#DS-2757)
  packages/components/core/styles/_koobiq-theme.scss
  packages/components/core/styles/typography/_typography.scss
Due: none

feat(docs): added support root tsconfig (#DS-2775)
  .github/workflows/actions/build-docs/action.yml
  .vscode/extensions.json
  angular.json
  apps/docs/src/app/components/anchors/anchors.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/doc-example-viewer/doc-example-viewer.ts
  apps/docs/src/app/components/docs-live-example-viewer/docs-live-example-viewer.ts
  apps/docs/src/app/components/docs-live-example/docs-live-example.ts
  apps/docs/src/app/components/navbar/navbar-property.ts
  apps/docs/src/app/components/sidenav/sidenav.component.ts
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  apps/docs/src/app/containers/icons-viewer/icon-preview-modal/icon-preview-modal.component.ts
  apps/docs/src/app/containers/icons-viewer/icons-viewer.component.ts
  apps/docs/tsconfig.aot.json
  apps/docs/tsconfig.app.json
  apps/docs/tsconfig.build.json
  apps/docs/tsconfig.dev.json
  apps/docs/tsconfig.json
  package.json
  tsconfig.json
Due: yamllint

feat(docs): added support root tsconfig (#DS-2775) (#231)
  .github/workflows/actions/build-docs/action.yml
  .vscode/extensions.json
  angular.json
  apps/docs/src/app/components/anchors/anchors.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/doc-example-viewer/doc-example-viewer.ts
  apps/docs/src/app/components/docs-live-example-viewer/docs-live-example-viewer.ts
  apps/docs/src/app/components/docs-live-example/docs-live-example.ts
  apps/docs/src/app/components/navbar/navbar-property.ts
  apps/docs/src/app/components/sidenav/sidenav.component.ts
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  apps/docs/src/app/containers/icons-viewer/icon-preview-modal/icon-preview-modal.component.ts
  apps/docs/src/app/containers/icons-viewer/icons-viewer.component.ts
  apps/docs/tsconfig.aot.json
  apps/docs/tsconfig.app.json
  apps/docs/tsconfig.build.json
  apps/docs/tsconfig.dev.json
  apps/docs/tsconfig.json
  package.json
  tsconfig.json
Due: yamllint

feat(visual): renamed mixin include typo
  packages/components/core/styles/typography/_typography.scss
Due: none

new examples hmtl added
  packages/docs-examples/components/markdown/markdown-code-block/markdown-code-block-example.html
  packages/docs-examples/components/markdown/markdown-code/markdown-code-example.html
  packages/docs-examples/components/markdown/markdown-line-break/markdown-line-break-example.html
  packages/docs-examples/components/markdown/markdown-link/markdown-link-example.html
  packages/docs-examples/components/markdown/markdown-list/markdown-list-example.html
  packages/docs-examples/components/markdown/markdown-paragraph/markdown-paragraph-example.html
  packages/docs-examples/components/markdown/markdown-quote/markdown-quote-example.html
  packages/docs-examples/components/markdown/markdown-selection/markdown-selection-example.html
Due: none

examples by markdown
  packages/docs-examples/components/markdown/markdown-code-block/markdown-code-block-example.html
  packages/docs-examples/components/markdown/markdown-code/markdown-code-example.html
  packages/docs-examples/components/markdown/markdown-headers/markdown-headers-example.html
  packages/docs-examples/components/markdown/markdown-line-break/markdown-line-break-example.html
  packages/docs-examples/components/markdown/markdown-list/markdown-list-example.html
  packages/docs-examples/components/markdown/markdown-paragraph/markdown-paragraph-example.html
  packages/docs-examples/components/markdown/markdown-quote/markdown-quote-example.html
  packages/docs-examples/components/markdown/markdown-selection/markdown-selection-example.html
Due: none

feat(docs): examples for datepicker (#DS-2744)
  packages/components/datepicker/datepicker.md
  packages/docs-examples/components/datepicker/datepicker-and-timepicker/datepicker-and-timepicker-example.css
  packages/docs-examples/components/datepicker/datepicker-and-timepicker/datepicker-and-timepicker-example.html
  packages/docs-examples/components/datepicker/datepicker-and-timepicker/datepicker-and-timepicker-example.ts
  packages/docs-examples/components/datepicker/datepicker-inactive/datepicker-inactive-example.css
  packages/docs-examples/components/datepicker/datepicker-inactive/datepicker-inactive-example.html
  packages/docs-examples/components/datepicker/datepicker-inactive/datepicker-inactive-example.ts
  packages/docs-examples/components/datepicker/datepicker-language/datepicker-language-example.css
  packages/docs-examples/components/datepicker/datepicker-language/datepicker-language-example.html
  packages/docs-examples/components/datepicker/datepicker-language/datepicker-language-example.ts
  packages/docs-examples/components/datepicker/datepicker-minimax/datepicker-minimax-example.html
  packages/docs-examples/components/datepicker/datepicker-not-empty/datepicker-not-empty-example.html
  packages/docs-examples/components/datepicker/datepicker-not-empty/datepicker-not-empty-example.ts
  packages/docs-examples/components/datepicker/datepicker-range/datepicker-range-example.css
  packages/docs-examples/components/datepicker/datepicker-range/datepicker-range-example.html
  packages/docs-examples/components/datepicker/datepicker-range/datepicker-range-example.ts
  packages/docs-examples/components/datepicker/datepicker-required/datepicker-required-example.css
  packages/docs-examples/components/datepicker/datepicker-required/datepicker-required-example.html
  packages/docs-examples/components/datepicker/datepicker-required/datepicker-required-example.ts
  packages/docs-examples/components/datepicker/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix(typography): initialize base typography with use of css-vars (#DS-2757) (#229)
  packages/components/core/styles/_koobiq-theme.scss
  packages/components/core/styles/typography/_typography.scss
Due: none

chore: bump version to 17.3.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

markdown examples added
  packages/docs-examples/components/markdown/index.ts
  packages/docs-examples/components/markdown/markdown-code-block/markdown-code-block-example.html
  packages/docs-examples/components/markdown/markdown-headers/markdown-headers-example.html
  packages/docs-examples/components/markdown/markdown-image/markdown-image-example.html
  packages/docs-examples/components/markdown/markdown-link/markdown-link-example.html
  packages/docs-examples/components/markdown/markdown-table/markdown-table-example.html
Due: none

images + big article + more examples
  apps/docs/src/assets/images/markdown/markdown-image.jpg
  apps/docs/src/assets/images/markdown/markdown-image.png
  packages/docs-examples/components/markdown/index.ts
  packages/docs-examples/components/markdown/markdown-article/markdown-article-example.html
  packages/docs-examples/components/markdown/markdown-divider/markdown-divider-example.html
  packages/docs-examples/components/markdown/markdown-headers-combinations/markdown-headers-combinations-example.html
  packages/docs-examples/components/markdown/markdown-headers/markdown-headers-example.html
  packages/docs-examples/components/markdown/markdown-image/markdown-image-example.html
Due: none

image custom width example
  packages/components-dev/markdown/template.html
  packages/docs-examples/components/markdown/markdown-article/markdown-article-example.html
  packages/docs-examples/components/markdown/markdown-image/markdown-image-example.css
Due: none

article styles for custom image
  packages/docs-examples/components/markdown/markdown-article/markdown-article-example.css
  packages/docs-examples/components/markdown/markdown-article/markdown-article-example.html
  packages/docs-examples/components/markdown/markdown-image/markdown-image-example.css
  packages/docs-examples/components/markdown/markdown-line-break/markdown-line-break-example.html
Due: none

rename + default hasclosebutton false
  packages/components/popover/popover.component.html
  packages/components/popover/popover.component.ts
Due: none

popover html from new docs
  packages/components/popover/popover.component.html
Due: none

linter + approve api
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.module.ts
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

close button added
  packages/components/popover/popover.component.html
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.module.ts
  packages/components/popover/popover.scss
Due: none

popover styles from new docs
  packages/components/popover/popover.scss
Due: none

styles for header if closable
  packages/components/popover/popover.component.html
  packages/components/popover/popover.scss
Due: none

add all closed popovers if footer buttons clicked
  packages/docs-examples/components/popover/popover-header/popover-header-example.html
  packages/docs-examples/components/popover/popover-height/popover-height-example.html
  packages/docs-examples/components/popover/popover-height/popover-height-example.ts
  packages/docs-examples/components/popover/popover-placement-center/popover-placement-center-example.html
  packages/docs-examples/components/popover/popover-placement-center/popover-placement-center-example.ts
  packages/docs-examples/components/popover/popover-placement-edges/popover-placement-edges-example.html
  packages/docs-examples/components/popover/popover-placement-edges/popover-placement-edges-example.ts
  packages/docs-examples/components/popover/popover-scroll/popover-scroll-example.html
  packages/docs-examples/components/popover/popover-scroll/popover-scroll-example.ts
Due: none

close container ng content
  packages/components/popover/popover.component.html
  packages/components/popover/popover.scss
Due: none
