Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: updated e2e update screenshot action
  .github/workflows/e2e-update-screenshots.yml
Due: yamllint

chore(breadcrumbs,dev): added ssr mode (#DS-3679)
  angular.json
  package.json
  packages/components-dev/breadcrumbs/app.config.server.ts
  packages/components-dev/breadcrumbs/main.server.ts
  packages/components-dev/breadcrumbs/main.ts
  packages/components-dev/breadcrumbs/server.ts
  packages/components-dev/breadcrumbs/tsconfig.app.json
  yarn.lock
Due: none

chore(breadcrumbs,dev): added docs
  docs/guides/09-ssr-dev.md
  packages/components-dev/breadcrumbs/app.config.server.ts
  tools/cspell-locales/en.json
Due: yarn run cspell --files

chore(deps): after review
  .github/dependabot.yml
  package.json
  yarn.lock
Due: yamllint

chore(deps): removed unnecessary
  docs/guides/09-ssr-dev.md
Due: yarn run cspell --files

fix(input): clipboard modification on macos (#DS-3087) (#797)
  packages/components-dev/all/module.ts
  packages/components-dev/form-field/module.ts
  packages/components-dev/input/module.ts
  packages/components-dev/number-formatter/module.ts
  packages/components/core/common-behaviors/clipboard.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/input/input-number.ts
  packages/docs-examples/components/filesize-formatter/filesize-formatter-overview/filesize-formatter-overview-example.ts
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.ts
  packages/docs-examples/components/number-formatter/number-formatter-overview/number-formatter-overview-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

chore(deps): updated @koobiq/icons to 10.1.0 (#DS-3797) (#800)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  yarn.lock
Due: none

fix(overflow-items): debounceTime attribute default value (#DS-3788) (#801)
  packages/components/overflow-items/overflow-items.en.md
  packages/components/overflow-items/overflow-items.ru.md
  packages/components/overflow-items/overflow-items.ts
  packages/docs-examples/components/overflow-items/overflow-items-overview/overflow-items-overview-example.ts
  packages/docs-examples/components/overflow-items/overflow-items-with-order/overflow-items-with-order-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs-adaptive/top-bar-breadcrumbs-adaptive-example.ts
Due: yarn run cspell --files

chore: updated e2e update screenshot action (#804)
  .github/workflows/e2e-update-screenshots.yml
Due: yamllint

chore: setup manual workflow dispatch for e2e update screenshots action
  .github/workflows/e2e-update-screenshots.yml
Due: yamllint

chore: setup manual workflow dispatch for e2e update screenshots action (#807)
  .github/workflows/e2e-update-screenshots.yml
Due: yamllint

test(button): added dark theme screenshot
  e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-icon-1.png
  e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-1.png
  e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-1.png
  e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-dark-theme-1.png
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-icon-1.png
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-title-1.png
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-title-prefix-and-suffix-1.png
  e2e/components/button.playwright-spec.ts
  packages/components-dev/button/module.ts
  packages/components-dev/e2e/module.ts
  packages/components-dev/e2e/template.html
  packages/components-dev/theme-toggle.ts
Due: none

test: auto-updated e2e screenshots
  e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-1.png
  e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-1.png
  e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-dark-theme-1.png
Due: none

fix(file-upload): disabled state colors (#DS-3824)
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/single-file-upload.component.html
Due: none

fix(file-upload): upd docs and state examples (#DS-3824)
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/template.html
  packages/docs-examples/components/file-upload/file-upload-cva-overview/file-upload-cva-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-indeterminate-loading-overview/file-upload-indeterminate-loading-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-compact-overview/file-upload-multiple-compact-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-custom-text-overview/file-upload-multiple-custom-text-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-default-overview/file-upload-multiple-default-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-default-validation-reactive-forms-overview/file-upload-multiple-default-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-error-overview/file-upload-multiple-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-required-reactive-validation/file-upload-multiple-required-reactive-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-error-overview/file-upload-single-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-overview/file-upload-single-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-required-reactive-validation/file-upload-single-required-reactive-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-validation-reactive-forms-overview/file-upload-single-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-with-signal/file-upload-single-with-signal-example.ts
Due: none

fix(file-upload): disabled state colors (#DS-3824) (#806)
  packages/components/file-upload/_file-upload-theme.scss
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/single-file-upload.component.html
Due: none

fix(actions-panel): overlay margin (#DS-3802)
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-tokens.scss
Due: none

feat(filter-bar): tree-select pipe (#DS-3529)
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/pipe-tree-select.html
  packages/components/filter-bar/pipes/pipe-tree-select.scss
  packages/components/filter-bar/pipes/pipe-tree-select.ts
  packages/components/filter-bar/public-api.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.ts
Due: none

fix: single treeSelectPipe
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/pipe-tree-select.html
  packages/components/filter-bar/pipes/pipe-tree-select.ts
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

feat: added multi-tree-select
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.scss
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/filter-bar/pipes/pipe-tree-select.scss
Due: none

fix: finished multiTreeSelect
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/tree/control/flat-tree-control.filters.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix: added examples
  packages/components-dev/filter-bar/module.ts
  packages/docs-examples/components/filter-bar/filter-bar-master-checkbox/filter-bar-master-checkbox-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search-in-pipes/filter-bar-search-in-pipes-example.ts
Due: none

fix(filter-bar): add .kbq-selected on selectAll option (#DS-3790)
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix: after review
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/control/flat-tree-control.filters.ts
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

fix: reset button
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
Due: none

fix: after review
  packages/components-dev/filter-bar/module.ts
  packages/docs-examples/components/filter-bar/filter-bar-master-checkbox/filter-bar-master-checkbox-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search-in-pipes/filter-bar-search-in-pipes-example.ts
Due: none

chore: replaced ssr app to separate folder & upd docs
  angular.json
  docs/guides/09-ssr-dev.md
  package.json
  packages/components-dev/breadcrumbs/main.ts
  packages/components-dev/breadcrumbs/tsconfig.app.json
  packages/components-dev/ssr/app.config.server.ts
  packages/components-dev/ssr/main.server.ts
  packages/components-dev/ssr/main.ts
  packages/components-dev/ssr/server.ts
  packages/components-dev/ssr/tsconfig.app.json
Due: yarn run cspell --files

chore(docs): added preview images (#DS-3811)
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/assets/images/welcome/formatter-filesize-dark.png
  apps/docs/src/assets/images/welcome/formatter-filesize-light.png
  apps/docs/src/assets/images/welcome/sidebar-dark.png
  apps/docs/src/assets/images/welcome/sidebar-light.png
Due: none

fix: typo
  apps/docs/src/app/services/documentation-items.ts
Due: none

fix(actions-panel): overlay margin (#DS-3802) (#814)
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-tokens.scss
Due: none

feat(filter-bar): all selected = nothing selected (#DS-3770)
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.scss
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/filter-bar/pipes/pipe-tree-select.scss
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore(file-upload): updated docs and state examples (#DS-3824) (#813)
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/template.html
  packages/docs-examples/components/file-upload/file-upload-cva-overview/file-upload-cva-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-indeterminate-loading-overview/file-upload-indeterminate-loading-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-compact-overview/file-upload-multiple-compact-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-custom-text-overview/file-upload-multiple-custom-text-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-default-overview/file-upload-multiple-default-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-default-validation-reactive-forms-overview/file-upload-multiple-default-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-error-overview/file-upload-multiple-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-required-reactive-validation/file-upload-multiple-required-reactive-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-error-overview/file-upload-single-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-overview/file-upload-single-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-required-reactive-validation/file-upload-single-required-reactive-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-validation-reactive-forms-overview/file-upload-single-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-with-signal/file-upload-single-with-signal-example.ts
Due: none

fix(input): disable font ligatures in password input (#DS-3779)
  packages/components/input/_input-theme.scss
Due: none

fix(datepicker): text color for selected date (#DS-3803)
  packages/components/datepicker/datepicker-tokens.scss
Due: none

test(button): added dark theme screenshot (#803)
  e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-icon-1.png
  e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-1.png
  e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-1.png
  e2e/components/__screenshots__/KbqButtonModule-DevButtonStateAndStyle-button-with-title-prefix-and-suffix-dark-theme-1.png
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-icon-1.png
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-title-1.png
  e2e/components/__screenshots__/KbqButtonModule-dev-button-state-and-style-button-with-title-prefix-and-suffix-1.png
  e2e/components/button.playwright-spec.ts
  packages/components-dev/button/module.ts
  packages/components-dev/e2e/module.ts
  packages/components-dev/e2e/template.html
  packages/components-dev/theme-toggle.ts
Due: none

fix(form-field,experimental): selectors nesting (#DS-3787) (#802)
  packages/components-experimental/form-field/_form-field-theme.scss
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/form-field.scss
  packages/docs-examples/components/form-field/form-field-password-overview/form-field-password-overview-example.ts
Due: none

chore(datepicker): update dev
  packages/components-dev/datepicker/module.ts
  packages/components-dev/datepicker/template.html
Due: none

fix(styles): set box-sizing: initial (#DS-3786)
  packages/components/accordion/accordion-trigger.component.scss
  packages/components/checkbox/checkbox.scss
  packages/components/datepicker/calendar.scss
  packages/components/select/select.scss
Due: none
