Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: revert screenshots update
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/icon/__screenshots__/02-light.png
Due: none

test: updated e2e snapshots
  packages/components/filter-bar/__screenshots__/01-dark.png
  packages/components/filter-bar/__screenshots__/01-light.png
Due: none

fix(filter-bar): render pipe-select options on first open when templates arrive late (#DS-5263)
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.ts
Due: none

fix(filter-bar): render pipe-select options on first open when templates arrive late (#DS-5263) (#1718)
  packages/components/filter-bar/__screenshots__/01-dark.png
  packages/components/filter-bar/__screenshots__/01-light.png
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.ts
Due: none

feat(filter-bar): support custom compareWith for select and multiselect pipes (#DS-5191)
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(flag): correct wikimedia commons spelling in russian article (#DS-1405)
  packages/components/flag/flag.ru.md
Due: yarn run cspell --files

chore: fix linter
  tools/cspell-locales/ru.json
Due: none

docs(time-range): update article text and preset labels (#DS-4918) (#1713)
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/time-range/__snapshots__/time-range.spec.ts.snap
  packages/components/time-range/time-range-editor.html
  packages/components/time-range/time-range.en.md
  packages/components/time-range/time-range.ru.md
  packages/docs-examples/components/time-range/time-range-as-form-field/time-range-as-form-field-example.ts
  packages/docs-examples/components/time-range/time-range-custom-option/time-range-custom-option-example.ts
  packages/docs-examples/components/time-range/time-range-custom-range-types/time-range-custom-range-types-example.ts
  packages/docs-examples/components/time-range/time-range-empty-type-list/time-range-empty-type-list-example.ts
  packages/docs-examples/components/time-range/time-range-min-max/time-range-min-max-example.ts
  packages/docs-examples/components/time-range/time-range-overview/time-range-overview-example.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
Due: none

feat: add presentational country flag component and docs (#DS-1405) (#1711)
  angular.json
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  apps/docs/src/app/structure.ts
  package.json
  packages/components-dev/flag/main.ts
  packages/components-dev/flag/module.ts
  packages/components-dev/flag/tsconfig.app.json
  packages/components/flag/__screenshots__/01-dark.png
  packages/components/flag/__screenshots__/01-light.png
  packages/components/flag/e2e.playwright-spec.ts
  packages/components/flag/e2e.ts
  packages/components/flag/flag.en.md
  packages/components/flag/flag.ru.md
  packages/components/flag/flag.scss
  packages/components/flag/flag.spec.ts
  packages/components/flag/flag.ts
  packages/components/flag/flag.types.ts
  packages/components/flag/index.ts
  packages/components/flag/module.ts
  packages/components/flag/ng-package.json
  packages/components/flag/public-api.ts
  packages/docs-examples/components/flag/flag-aspect-ratio/flag-aspect-ratio-example.ts
  packages/docs-examples/components/flag/flag-circle/flag-circle-example.ts
  packages/docs-examples/components/flag/flag-fallback/flag-fallback-example.ts
  packages/docs-examples/components/flag/flag-language/flag-language-example.ts
  packages/docs-examples/components/flag/flag-overview/flag-overview-example.ts
  packages/docs-examples/components/flag/flag-sizes/flag-sizes-example.ts
  packages/docs-examples/components/flag/flag-square/flag-square-example.ts
  packages/docs-examples/components/flag/flag-stylized/flag-stylized-example.ts
  packages/docs-examples/components/flag/index.ts
  packages/docs-examples/components/flag/ng-package.json
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/api-extractor/config.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/flag.api.md
  tsconfig.json
  yarn.lock
Due: yarn run cspell --files

fix: after review 2
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
Due: yarn run cspell --files

chore: bump version to 20.1.0 w/ changelog
  CHANGELOG.md
  apps/docs/src/llms-full.txt
  apps/docs/src/llms.txt
  apps/docs/src/prerender-routes.txt
  apps/docs/src/sitemap.xml
  package.json
Due: yarn run cspell --files

fix: prettier warning
  apps/docs/src/llms.txt
Due: none

fix: prettier warnings (#1722)
  apps/docs/src/llms.txt
Due: none

feat(docs): added AskAI function for docsearch (#DS-4628)
  apps/docs/src/app/components/docsearch/docsearch.directive.spec.ts
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  apps/docs/src/styles/_docsearch.scss
  package.json
  yarn.lock
Due: none

refactor: review
  apps/docs/src/app/components/navbar/navbar.scss
Due: none

fix(filter-bar): sync pipe compareWith independently of values (#DS-5191)
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

feat(filter-bar): support custom compareWith for select and multiselect pipes (#DS-5191) (#1721)
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

refactor: review
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
Due: none

fix(search-expandable): re-render on toggle() invoked from an external control (#DS-5313)
  packages/components/search-expandable/search-expandable.en.md
  packages/components/search-expandable/search-expandable.ru.md
  packages/components/search-expandable/search-expandable.spec.ts
  packages/components/search-expandable/search-expandable.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/search-expandable/search-expandable-in-header/search-expandable-in-header-example.ts
Due: yarn run cspell --files

fix: after review
  packages/components/search-expandable/e2e.ts
  packages/components/search-expandable/search-expandable.spec.ts
  packages/components/search-expandable/search-expandable.ts
  packages/docs-examples/components/search-expandable/search-expandable-in-header/search-expandable-in-header-example.ts
Due: none

docs: filter non-digit in Series/Number fields (#DS-4058) (#1719)
  packages/docs-examples/components/validation/validation-message-global-with-links/validation-message-global-with-links-example.html
  packages/docs-examples/components/validation/validation-message-global-with-links/validation-message-global-with-links-example.ts
Due: none

feat(docs): added AskAI function for docsearch (#DS-4628) (#1720)
  apps/docs/src/app/components/docsearch/docsearch.directive.spec.ts
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  apps/docs/src/app/components/navbar/navbar.scss
  apps/docs/src/styles/_docsearch.scss
  package.json
  yarn.lock
Due: none

fix(search-expandable): re-render on toggle() invoked from an external control (#DS-5313) (#1723)
  packages/components/search-expandable/e2e.ts
  packages/components/search-expandable/search-expandable.en.md
  packages/components/search-expandable/search-expandable.ru.md
  packages/components/search-expandable/search-expandable.spec.ts
  packages/components/search-expandable/search-expandable.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/search-expandable/search-expandable-in-header/search-expandable-in-header-example.ts
Due: yarn run cspell --files

chore(docs): fix filter-bar examples (#DS-5328)
  packages/docs-examples/components/filter-bar/filter-bar-custom-pipe/filter-bar-custom-pipe-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipes/filter-bar-readonly-pipes-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
Due: none

feat(filter-bar): add searchPlacement input (#DS-5189)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.scss
  packages/components/filter-bar/filter-bar.spec.ts
  packages/components/filter-bar/filter-bar.ts
  packages/docs-examples/components/filter-bar/filter-bar-search-placement/filter-bar-search-placement-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix: width, tests and other
  packages/components/filter-bar/e2e.playwright-spec.ts
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/filter-bar.scss
  packages/components/filter-bar/filter-bar.spec.ts
  packages/components/search-expandable/search-expandable.html
  packages/components/search-expandable/search-expandable.scss
  packages/components/search-expandable/search-expandable.ts
  packages/docs-examples/components/filter-bar/filter-bar-search-placement/filter-bar-search-placement-example.ts
  packages/e2e/routes.ts
Due: none

fix: errors
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.scss
  packages/components/filter-bar/filter-bar.spec.ts
  packages/components/filter-bar/filter-bar.ts
Due: yarn run cspell --files

chore(docs): fix filter-bar examples (#DS-5328) (#1724)
  packages/docs-examples/components/filter-bar/filter-bar-custom-pipe/filter-bar-custom-pipe-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipes/filter-bar-readonly-pipes-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
Due: none

fix: after review
  packages/components/filter-bar/e2e.ts
  packages/components/filter-bar/filter-bar-tokens.scss
  packages/components/filter-bar/filter-bar.spec.ts
  packages/components/filter-bar/filter-bar.ts
  packages/components/search-expandable/search-expandable.html
  packages/components/search-expandable/search-expandable.scss
  packages/components/search-expandable/search-expandable.ts
  packages/docs-examples/components/filter-bar/filter-bar-search-placement/filter-bar-search-placement-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix: set proper ru-RU billion formatter key (#DS-5286)
  packages/components/core/locales/formatters.ts
Due: none

fix(docs): ag-grid overlay example (#DS-5320)
  apps/docs/src/styles/_examples.scss
  packages/docs-examples/components/ag-grid/ag-grid-loading-overlay/ag-grid-loading-overlay-example.ts
Due: none

test: updated e2e snapshots
  packages/components/filter-bar/__screenshots__/02-dark.png
  packages/components/filter-bar/__screenshots__/02-light.png
Due: none

chore: restrict /approve-snapshots and /redeploy-preview to owners/members
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/redeploy-preview.yml
Due: yamllint

fix(search-expandable): re-render on toggle() invoked from an external control (#DS-5313) (#1723)
  packages/components/search-expandable/e2e.ts
  packages/components/search-expandable/search-expandable.en.md
  packages/components/search-expandable/search-expandable.ru.md
  packages/components/search-expandable/search-expandable.spec.ts
  packages/components/search-expandable/search-expandable.ts
  packages/docs-examples/components/search-expandable/search-expandable-in-header/search-expandable-in-header-example.ts
Due: yarn run cspell --files

chore: restrict /approve-snapshots and /redeploy-preview to owners/members (#1727)
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/redeploy-preview.yml
Due: yamllint

fix(search-expandable): re-render on toggle() invoked from an external control (#DS-5313) (#1728)
  packages/components/search-expandable/e2e.ts
  packages/components/search-expandable/search-expandable.en.md
  packages/components/search-expandable/search-expandable.ru.md
  packages/components/search-expandable/search-expandable.spec.ts
  packages/components/search-expandable/search-expandable.ts
  packages/docs-examples/components/search-expandable/search-expandable-in-header/search-expandable-in-header-example.ts
Due: yarn run cspell --files
