Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix: after review
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/app-switcher/kbq-app-switcher-list-item.ts
  packages/docs-examples/components/autocomplete/autocomplete-overview/autocomplete-overview-example.ts
  packages/docs-examples/components/autocomplete/autocomplete-with-footer/autocomplete-with-footer-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-draggable/tag-autocomplete-draggable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-editable/tag-autocomplete-editable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-onpaste-off/tag-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tags/tag-autocomplete-onpaste-off/tag-autocomplete-onpaste-off-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-overview/tag-autocomplete-overview-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  tools/public_api_guard/components/app-switcher.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/filter-bar/pipes/pipe-date-base.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.spec.ts
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-datetime.spec.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

feat(dropdown): added KbqDropdownFooter directive (#DS-3699) (#1780)
  packages/components-dev/dropdown/module.ts
  packages/components/code-block/__screenshots__/01-light.png
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.html
  packages/components/dropdown/dropdown.module.ts
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.scss
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/e2e.ts
  packages/docs-examples/components/dropdown/dropdown-with-footer/dropdown-with-footer-example.ts
  packages/docs-examples/components/dropdown/index.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

fix(button-toggle): proper alignment on stretched (#DS-5237)
  packages/components/button-toggle/button-toggle.component.ts
  packages/components/button-toggle/button-toggle.scss
  packages/components/button-toggle/e2e.playwright-spec.ts
  packages/components/button-toggle/e2e.ts
  tools/public_api_guard/components/button-toggle.api.md
Due: yarn run cspell --files

feat(components): add pressed state to option/tree/dropdown items (#DS-3482)
  packages/components/app-switcher/app-switcher-dropdown-app.scss
  packages/components/app-switcher/app-switcher-dropdown-site.scss
  packages/components/app-switcher/kbq-app-switcher-list-item.scss
  packages/components/core/option/_option-theme.scss
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/tree-select/_tree-select-theme.scss
  packages/components/tree/_tree-theme.scss
  packages/components/tree/e2e.ts
Due: none

fix: after review
  packages/components/app-switcher/e2e.playwright-spec.ts
  packages/components/core/option/_option-theme.scss
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/e2e.ts
  packages/components/list/_list-theme.scss
  packages/components/select/e2e.ts
  packages/components/tree-select/_tree-select-theme.scss
  packages/components/tree-select/e2e.playwright-spec.ts
Due: none

test: updated e2e snapshots
  packages/components/app-switcher/__screenshots__/01-pressed-dark.png
  packages/components/app-switcher/__screenshots__/01-pressed-light.png
  packages/components/list/__screenshots__/01-dark.png
  packages/components/select/__screenshots__/01-dark.png
  packages/components/select/__screenshots__/01-light.png
  packages/components/select/__screenshots__/02-dark.png
  packages/components/select/__screenshots__/02-light.png
  packages/components/select/__screenshots__/03-dark.png
  packages/components/select/__screenshots__/03-light.png
  packages/components/tree-select/__screenshots__/01-pressed-dark.png
  packages/components/tree-select/__screenshots__/01-pressed-light.png
  packages/components/tree-select/__screenshots__/02-pressed-dark.png
  packages/components/tree-select/__screenshots__/02-pressed-light.png
  packages/components/tree/__screenshots__/01-dark.png
  packages/components/tree/__screenshots__/01-light.png
Due: none

feat(filter-bar): add date and time limits to date and datetime pipes (#DS-5315) (#1775)
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/pipe-date-base.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.spec.ts
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-datetime.spec.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/docs-examples/components/filter-bar/filter-bar-date-limits/filter-bar-date-limits-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

test(dropdown): fit e2e states viewport to pressed items and footer (#DS-3482)
  packages/components/dropdown/e2e.ts
Due: none

fix: after review
  packages/components/app-switcher/app-switcher-dropdown-app.scss
  packages/components/app-switcher/app-switcher-dropdown-site.scss
  packages/components/app-switcher/kbq-app-switcher-list-item.scss
Due: none

fix(dropdown): added input (#DS-5314)
  packages/components-dev/dropdown/module.ts
  packages/components/core/styles/common/_animation.scss
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown-item.scss
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.scss
  packages/components/dropdown/e2e.ts
  packages/docs-examples/components/dropdown/dropdown-item-progress/dropdown-item-progress-example.ts
  packages/docs-examples/components/dropdown/dropdown-overview/dropdown-overview-example.html
  packages/docs-examples/components/dropdown/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

fix(dropdown): added progress input (#DS-5314) (#1784)
  packages/components-dev/dropdown/module.ts
  packages/components/core/styles/common/_animation.scss
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown-item.scss
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.scss
  packages/components/dropdown/e2e.ts
  packages/docs-examples/components/dropdown/dropdown-item-progress/dropdown-item-progress-example.ts
  packages/docs-examples/components/dropdown/dropdown-overview/dropdown-overview-example.html
  packages/docs-examples/components/dropdown/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/app-switcher/__screenshots__/01-pressed-dark.png
  packages/components/app-switcher/__screenshots__/01-pressed-light.png
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
Due: none

feat: add pressed state to option/tree/dropdown items (#DS-3482) (#1779)
  packages/components/app-switcher/__screenshots__/01-pressed-dark.png
  packages/components/app-switcher/__screenshots__/01-pressed-light.png
  packages/components/app-switcher/app-switcher-dropdown-app.scss
  packages/components/app-switcher/app-switcher-dropdown-site.scss
  packages/components/app-switcher/e2e.playwright-spec.ts
  packages/components/core/option/_option-theme.scss
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/e2e.ts
  packages/components/list/__screenshots__/01-dark.png
  packages/components/list/_list-theme.scss
  packages/components/select/__screenshots__/01-dark.png
  packages/components/select/__screenshots__/01-light.png
  packages/components/select/__screenshots__/02-dark.png
  packages/components/select/__screenshots__/02-light.png
  packages/components/select/__screenshots__/03-dark.png
  packages/components/select/__screenshots__/03-light.png
  packages/components/select/e2e.ts
  packages/components/tree-select/__screenshots__/01-pressed-dark.png
  packages/components/tree-select/__screenshots__/01-pressed-light.png
  packages/components/tree-select/__screenshots__/02-pressed-dark.png
  packages/components/tree-select/__screenshots__/02-pressed-light.png
  packages/components/tree-select/_tree-select-theme.scss
  packages/components/tree-select/e2e.playwright-spec.ts
  packages/components/tree/__screenshots__/01-dark.png
  packages/components/tree/__screenshots__/01-light.png
  packages/components/tree/_tree-theme.scss
  packages/components/tree/e2e.ts
Due: none

fix(select,tree-select): stop propagation on Esc when panel opened (#DS-3739)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
Due: none

fix: e2e
  packages/components/button-toggle/e2e.playwright-spec.ts
  packages/components/button-toggle/e2e.ts
  packages/e2e/routes.ts
Due: none

docs(core): document highlighting styles (#DS-5293)
  packages/components/core/highlight/highlight.en.md
  packages/components/core/highlight/highlight.ru.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/button-toggle/__screenshots__/04-dark.png
  packages/components/button-toggle/__screenshots__/04-light.png
Due: none

chore: bump @koobiq/ag-grid-angular-theme to 34.5.1, added new examples (#DS-5312) (#1776)
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  package.json
  packages/components-dev/ag-grid/module.ts
  packages/components-dev/ag-grid/styles.scss
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-column-state/ag-grid-column-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-copy-selected/ag-grid-copy-selected-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-export/ag-grid-export-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-external-filter-state/ag-grid-external-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-infinite-selection/ag-grid-infinite-selection-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-loading-overlay/ag-grid-loading-overlay-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-overview/ag-grid-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-quick-filter-state/ag-grid-quick-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-actions/ag-grid-row-actions-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-dragging/ag-grid-row-dragging-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-focus-state/ag-grid-row-focus-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-group/ag-grid-row-group-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-selection-state/ag-grid-row-selection-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-status-bar/ag-grid-status-bar-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/components/content-panel/content-panel-with-grid/content-panel-with-grid-example.ts
  tools/cspell-locales/en.json
  tools/validate-licenses/validate-licenses.ts
  yarn.lock
Due: yarn run cspell --files

chore: after review
  packages/components/button-toggle/e2e.ts
Due: none

fix!: remove overlay z-index demotion from dropdown, select and popover (#DS-5288)
  apps/docs/src/app/components/navbar/navbar.template.html
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/core/styles/common/_overlay.scss
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.component.ts
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.en.md
  packages/components/popover/popover.ru.md
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/top-bar/top-bar.spec.ts
  packages/components/top-bar/top-bar.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/dropdown-demote-overlay/README.md
  packages/schematics/src/migrations/dropdown-demote-overlay/data.ts
  packages/schematics/src/migrations/dropdown-demote-overlay/index.spec.ts
  packages/schematics/src/migrations/dropdown-demote-overlay/index.ts
  packages/schematics/src/migrations/dropdown-demote-overlay/schema.json
  packages/schematics/src/migrations/dropdown-demote-overlay/schema.ts
  tools/public_api_guard/components/dropdown.api.md
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

refactor: position
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  packages/docs-examples/example-module.ts
Due: none

refactor: big link
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
Due: none

feat(actions-panel): added beforeClosed emitter (#DS-5312)
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  tools/public_api_guard/components/actions-panel.api.md
Due: yarn run cspell --files

refactor: design review
  apps/docs/src/styles/_examples.scss
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/ag-grid/module.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-and-actions-panel/ag-grid-and-actions-panel-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-loading-overlay/ag-grid-loading-overlay-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
Due: yarn run cspell --files

fix(ci): use v19 firebase target for preview deploy workflows
  .github/workflows/deploy-preview.yml
  .github/workflows/redeploy-preview.yml
Due: yamllint

fix: after review
  packages/schematics/src/migrations/dropdown-demote-overlay/README.md
  packages/schematics/src/migrations/dropdown-demote-overlay/data.ts
  packages/schematics/src/migrations/dropdown-demote-overlay/index.spec.ts
  packages/schematics/src/migrations/dropdown-demote-overlay/index.ts
  packages/schematics/src/migrations/dropdown-demote-overlay/schema.ts
  packages/schematics/src/utils/ast.ts
Due: yarn run cspell --files

fix(select,tree-select): stop propagation on Esc when panel opened (#DS-3739) (#1786)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
Due: none

fix(ci): deploy preview to v19 target (#1787)
  .github/workflows/deploy-preview.yml
  .github/workflows/redeploy-preview.yml
Due: yamllint

fix(docs): use kbqHighlightBackground for search highlighting everywhere (#DS-5293)
  apps/docs/src/app/components/icons-viewer/icons-viewer.template.html
  packages/components-dev/tree/template.html
  packages/docs-examples/components/tree/tree-checked-filtering/tree-checked-filtering-example.ts
  packages/docs-examples/components/tree/tree-custom-filtering/tree-custom-filtering-example.ts
  packages/docs-examples/components/tree/tree-descendants-subcategories/tree-descendants-subcategories-example.ts
  packages/docs-examples/components/tree/tree-filtering/tree-filtering-example.ts
Due: none

feat(filter-bar): support locked values for multiselect and multi-tree-select pipes (#DS-4827)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/multi-select-pipe-state.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-multi-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/docs-examples/components/filter-bar/filter-bar-locked-options/filter-bar-locked-options-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(button-toggle): proper alignment on stretched (#DS-5237) (#1783)
  packages/components/button-toggle/__screenshots__/04-dark.png
  packages/components/button-toggle/__screenshots__/04-light.png
  packages/components/button-toggle/button-toggle.component.ts
  packages/components/button-toggle/button-toggle.scss
  packages/components/button-toggle/e2e.playwright-spec.ts
  packages/components/button-toggle/e2e.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/button-toggle.api.md
Due: yarn run cspell --files

fix(select): use kbqHighlightBackground for search highlighting in dropdowns (#DS-5293) (#1774)
  apps/docs/src/app/components/icons-viewer/icons-viewer.template.html
  packages/components-dev/form-field/template.html
  packages/components-dev/select/template.html
  packages/components-dev/tree-select/template.html
  packages/components-dev/tree/template.html
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/app-switcher/kbq-app-switcher-list-item.ts
  packages/components/core/highlight/highlight.en.md
  packages/components/core/highlight/highlight.ru.md
  packages/components/filter-bar/pipes/pipe-multi-tree-select.html
  packages/components/filter-bar/pipes/pipe-tree-select.html
  packages/components/timezone/timezone-option.component.html
  packages/components/timezone/timezone-option.component.ts
  packages/docs-examples/components/autocomplete/autocomplete-overview/autocomplete-overview-example.ts
  packages/docs-examples/components/autocomplete/autocomplete-with-footer/autocomplete-with-footer-example.ts
  packages/docs-examples/components/dropdown/dropdown-with-filter/dropdown-with-filter-example.ts
  packages/docs-examples/components/highlight/highlight-select/highlight-select-example.ts
  packages/docs-examples/components/select/select-loading-error/select-loading-error-example.ts
  packages/docs-examples/components/select/select-loading/select-loading-example.ts
  packages/docs-examples/components/select/select-paging-error/select-paging-error-example.ts
  packages/docs-examples/components/select/select-paging/select-paging-example.ts
  packages/docs-examples/components/select/select-search/select-search-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-draggable/tag-autocomplete-draggable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-editable/tag-autocomplete-editable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-onpaste-off/tag-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tags/tag-autocomplete-onpaste-off/tag-autocomplete-onpaste-off-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-overview/tag-autocomplete-overview-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tree-select/tree-select-search-overview/tree-select-search-overview-example.ts
  packages/docs-examples/components/tree/tree-checked-filtering/tree-checked-filtering-example.ts
  packages/docs-examples/components/tree/tree-custom-filtering/tree-custom-filtering-example.ts
  packages/docs-examples/components/tree/tree-descendants-subcategories/tree-descendants-subcategories-example.ts
  packages/docs-examples/components/tree/tree-filtering/tree-filtering-example.ts
  tools/public_api_guard/components/app-switcher.api.md
Due: yarn run cspell --files

fix: add next-v19 firebase hosting target for preview deploy
  .firebaserc
  .github/workflows/deploy-preview.yml
  .github/workflows/redeploy-preview.yml
  firebase.json
Due: yamllint

refactor: firebase next
  .firebaserc
Due: none

Revert "refactor: firebase next"
  .firebaserc
Due: none

feat(actions-panel): added `beforeClosed`/`beforeOpened` emitters (#DS-5312) (#1777)
  apps/docs/src/styles/_examples.scss
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/ag-grid/module.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-and-actions-panel/ag-grid-and-actions-panel-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-loading-overlay/ag-grid-loading-overlay-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
Due: yarn run cspell --files

refactor: underline
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
