Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

refactor: components-dev
  packages/components-dev/experimental-form-field/module.ts
  packages/components-dev/experimental-form-field/template.html
Due: none

chore: bump version to 17.8.4 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

refactor: error section docs
  packages/components-dev/experimental-form-field/module.ts
  packages/components-dev/experimental-form-field/template.html
  packages/components-experimental/form-field/experimental-form-field.md
  packages/docs-examples/components/form-field/form-field-with-custom-error-state-matcher-set-by-attribute/form-field-with-custom-error-state-matcher-set-by-attribute-example.ts
  packages/docs-examples/components/form-field/form-field-with-custom-error-state-matcher-set-by-dependency-injection-provider/form-field-with-custom-error-state-matcher-set-by-dependency-injection-provider-example.ts
  packages/docs-examples/components/form-field/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

refactor: undo transform-markdown.ts
  tools/markdown-to-html/transform-markdown.ts
Due: none

fix: fix states and update tokens
  package.json
  packages/components-dev/index.html
  packages/components-dev/main.scss
  packages/components/accordion/_accordion-theme.scss
  packages/components/accordion/accordion-item.ts
  packages/components/accordion/accordion-trigger.component.scss
  packages/components/accordion/accordion-trigger.component.ts
  packages/components/accordion/accordion.component.scss
  packages/components/badge/badge-tokens.scss
  packages/components/button/button-tokens.scss
  packages/components/checkbox/checkbox-tokens.scss
  packages/components/code-block/code-block-tokens.scss
  packages/components/core/selection/pseudo-checkbox/pseudo-checkbox-tokens.scss
  packages/components/dl/dl-tokens.scss
  packages/components/empty-state/empty-state-tokens.scss
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/list/list-tokens.scss
  packages/components/loader-overlay/loader-overlay-tokens.scss
  packages/components/markdown/markdown-tokens.scss
  packages/components/select/select-tokens.scss
  packages/components/splitter/splitter-tokens.scss
  packages/components/tabs/tabs-tokens.scss
  packages/components/tags/tag-tokens.scss
  packages/components/timezone/timezone-option-tokens.scss
  packages/components/tree/tree-tokens.scss
  yarn.lock
Due: none

fix: added docs and examples WIP
  apps/docs/src/app/components/documentation-items.ts
  packages/components/accordion/accordion.md
  packages/components/accordion/accordion.module.ts
  packages/components/accordion/public-api.ts
  packages/docs-examples/components/accordion/accordion-overview/accordion-overview-example.css
  packages/docs-examples/components/accordion/accordion-overview/accordion-overview-example.html
  packages/docs-examples/components/accordion/accordion-overview/accordion-overview-example.ts
  packages/docs-examples/components/accordion/index.ts
  packages/docs-examples/components/accordion/ng-package.json
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix: added examples in docs
  packages/components/accordion/_accordion-theme.scss
  packages/docs-examples/components/accordion/accordion-content/accordion-content-example.css
  packages/docs-examples/components/accordion/accordion-content/accordion-content-example.html
  packages/docs-examples/components/accordion/accordion-content/accordion-content-example.ts
  packages/docs-examples/components/accordion/accordion-header/accordion-header-example.html
  packages/docs-examples/components/accordion/accordion-header/accordion-header-example.ts
  packages/docs-examples/components/accordion/accordion-in-panel/accordion-in-panel-example.html
  packages/docs-examples/components/accordion/accordion-in-panel/accordion-in-panel-example.ts
  packages/docs-examples/components/accordion/accordion-in-section/accordion-in-section-example.css
  packages/docs-examples/components/accordion/accordion-in-section/accordion-in-section-example.html
  packages/docs-examples/components/accordion/accordion-in-section/accordion-in-section-example.ts
  packages/docs-examples/components/accordion/accordion-inactive-section/accordion-inactive-section-example.html
  packages/docs-examples/components/accordion/accordion-inactive-section/accordion-inactive-section-example.ts
  packages/docs-examples/components/accordion/accordion-overview/accordion-overview-example.css
  packages/docs-examples/components/accordion/accordion-overview/accordion-overview-example.ts
  packages/docs-examples/components/accordion/accordion-sections/accordion-sections-example.html
  packages/docs-examples/components/accordion/accordion-sections/accordion-sections-example.ts
  packages/docs-examples/components/accordion/accordion-states/accordion-states-example.html
  packages/docs-examples/components/accordion/accordion-states/accordion-states-example.ts
  packages/docs-examples/components/accordion/index.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/ru.json
  tsconfig.json
Due: none

fix: linter errors
  packages/components-dev/accordion/template.html
  packages/components/accordion/_accordion-theme.scss
  packages/components/accordion/accordion-tokens.scss
  packages/components/accordion/accordion-trigger.component.scss
  packages/components/accordion/accordion.component.scss
  packages/components/accordion/accordion.md
  packages/components/badge/badge-tokens.scss
  packages/components/button/button-tokens.scss
  packages/components/code-block/code-block-tokens.scss
  packages/components/dl/dl-tokens.scss
  packages/components/empty-state/empty-state-tokens.scss
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/list/list-tokens.scss
  packages/components/loader-overlay/loader-overlay-tokens.scss
  packages/components/markdown/markdown-tokens.scss
  packages/components/select/select-tokens.scss
  packages/components/splitter/splitter-tokens.scss
  packages/components/tabs/tabs-tokens.scss
  packages/components/tags/tag-tokens.scss
  packages/components/timezone/timezone-option-tokens.scss
  packages/components/tree/tree-tokens.scss
  packages/docs-examples/components/accordion/accordion-content/accordion-content-example.html
  packages/docs-examples/components/accordion/accordion-header/accordion-header-example.html
  packages/docs-examples/components/accordion/accordion-in-panel/accordion-in-panel-example.html
  packages/docs-examples/components/accordion/accordion-in-section/accordion-in-section-example.html
  packages/docs-examples/components/accordion/accordion-inactive-section/accordion-inactive-section-example.html
  packages/docs-examples/components/accordion/accordion-overview/accordion-overview-example.html
  packages/docs-examples/components/accordion/accordion-sections/accordion-sections-example.html
  packages/docs-examples/components/accordion/accordion-states/accordion-states-example.html
Due: yarn run cspell --files

fix(docs): corrected theme selection on start for system-dependant theme (#DS-2952)
  apps/docs/src/index.html
Due: none

fix(stackblitz): corrected styles of examples (#DS-2933)
  apps/docs/src/assets/stackblitz/src/index.html
Due: none

fix: linter errors
  .stylelintrc.js
  packages/docs-examples/components/accordion/accordion-content/accordion-content-example.css
  packages/docs-examples/components/accordion/accordion-in-section/accordion-in-section-example.css
Due: none

vetical icons example tooltips placement
  packages/docs-examples/components/tabs/tabs-vertical-icons/tabs-vertical-icons-example.html
  packages/docs-examples/components/tabs/tabs-vertical-icons/tabs-vertical-icons-example.ts
Due: none

more review fixes
  packages/components/tabs/tabs.md
  packages/docs-examples/components/tabs/tabs-actionbar/tabs-actionbar-example.css
  packages/docs-examples/components/tabs/tabs-empty/tabs-empty-example.html
  packages/docs-examples/components/tabs/tabs-empty/tabs-empty-example.ts
Due: yarn run cspell --files

chore(cli): set npm dist tag
  .github/workflows/publish.yml
  packages/cli/src/cli.ts
  packages/cli/src/release/base-release-task.ts
  packages/cli/src/release/publish-release-github-ci.ts
  packages/cli/src/release/publish-release-gitlab-ci.ts
Due: yamllint

chore(cli): set npm dist tag (#350)
  .github/workflows/publish.yml
  packages/cli/src/cli.ts
  packages/cli/src/release/base-release-task.ts
  packages/cli/src/release/publish-release-github-ci.ts
  packages/cli/src/release/publish-release-gitlab-ci.ts
Due: yamllint

chore: bump version to 17.8.5 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

chore(ci): added latest npm dist tag
  .github/workflows/publish.yml
Due: yamllint

prettier fix
  packages/docs-examples/components/tabs/tabs-empty/tabs-empty-example.html
Due: none

fix(stackblitz): corrected styles of examples (#DS-2933) (#348)
  apps/docs/src/assets/stackblitz/src/index.html
Due: none

fix(docs): corrected system-dependent theme selection on startup (#DS-2952) (#349)
  apps/docs/src/index.html
Due: none

fix: added tests
  packages/components/accordion/accordion.component.spec.ts
  packages/components/accordion/accordion.component.ts
Due: none

added empty label color
  packages/components/tabs/_tabs-theme.scss
Due: none

crazy attemts to fix right padding when scroll example container
  apps/docs/src/app/components/docs-live-example-viewer/docs-live-example-viewer.html
  packages/docs-examples/components/tabs/tabs-actionbar/tabs-actionbar-example.css
Due: none

new review fixes
  packages/components/tabs/_tabs-common.scss
  packages/docs-examples/components/tabs/tabs-underlined/tabs-underlined-example.html
  packages/docs-examples/components/tabs/tabs-vertical/tabs-vertical-example.css
  packages/docs-examples/components/tabs/tabs-vertical/tabs-vertical-example.html
  packages/docs-examples/components/tabs/tabs-vertical/tabs-vertical-example.ts
Due: none

tabs actionbar with scroll WIN
  packages/components/tabs/_tabs-common.scss
  packages/docs-examples/components/tabs/tabs-actionbar/tabs-actionbar-example.css
  packages/docs-examples/components/tabs/tabs-actionbar/tabs-actionbar-example.html
Due: none

feat(docs): tabs examples (#DS-2907) (#329)
  apps/docs/src/app/components/docs-live-example-viewer/docs-live-example-viewer.html
  packages/components/tabs/_tabs-common.scss
  packages/components/tabs/_tabs-theme.scss
  packages/components/tabs/tab-header.scss
  packages/components/tabs/tabs.md
  packages/docs-examples/components/tabs/index.ts
  packages/docs-examples/components/tabs/tabs-actionbar/tabs-actionbar-example.css
  packages/docs-examples/components/tabs/tabs-actionbar/tabs-actionbar-example.html
  packages/docs-examples/components/tabs/tabs-actionbar/tabs-actionbar-example.ts
  packages/docs-examples/components/tabs/tabs-disabled/tabs-disabled-example.css
  packages/docs-examples/components/tabs/tabs-disabled/tabs-disabled-example.html
  packages/docs-examples/components/tabs/tabs-disabled/tabs-disabled-example.ts
  packages/docs-examples/components/tabs/tabs-empty/tabs-empty-example.css
  packages/docs-examples/components/tabs/tabs-empty/tabs-empty-example.html
  packages/docs-examples/components/tabs/tabs-empty/tabs-empty-example.ts
  packages/docs-examples/components/tabs/tabs-old/tabs-old-example.css
  packages/docs-examples/components/tabs/tabs-old/tabs-old-example.html
  packages/docs-examples/components/tabs/tabs-old/tabs-old-example.ts
  packages/docs-examples/components/tabs/tabs-overview/tabs-overview-example.html
  packages/docs-examples/components/tabs/tabs-overview/tabs-overview-example.ts
  packages/docs-examples/components/tabs/tabs-stretch/tabs-stretch-example.html
  packages/docs-examples/components/tabs/tabs-stretch/tabs-stretch-example.ts
  packages/docs-examples/components/tabs/tabs-underlined/tabs-underlined-example.css
  packages/docs-examples/components/tabs/tabs-underlined/tabs-underlined-example.html
  packages/docs-examples/components/tabs/tabs-underlined/tabs-underlined-example.ts
  packages/docs-examples/components/tabs/tabs-vertical-icons/tabs-vertical-icons-example.css
  packages/docs-examples/components/tabs/tabs-vertical-icons/tabs-vertical-icons-example.html
  packages/docs-examples/components/tabs/tabs-vertical-icons/tabs-vertical-icons-example.ts
  packages/docs-examples/components/tabs/tabs-with-scroll/tabs-with-scroll-example.html
  packages/docs-examples/components/tabs/tabs-with-scroll/tabs-with-scroll-example.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

fix(timezone): added missing tokens
  apps/docs/scripts/build-tokens.js
  apps/docs/src/styles/koobiq/default-theme/_variables.scss
  apps/docs/src/styles/koobiq/default-theme/css-tokens-dark.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens-font.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens-light.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens.css
  apps/docs/src/styles/koobiq/default-theme/index.d.ts
  apps/docs/src/styles/koobiq/default-theme/js/index.js
  packages/components-dev/index.html
  packages/components-dev/main.scss
  packages/components/timezone/timezone-option-tokens.scss
  tools/tokens/utils.js
Due: none

fix(timezone): added missing tokens
  packages/components/timezone/timezone-option-tokens.scss
  tools/tokens/utils.js
Due: none

header default underline fix
  packages/components/tabs/_tabs-common.scss
  packages/components/tabs/tab-header.scss
Due: none

fix(timezone): added missing tokens (#353)
  apps/docs/scripts/build-tokens.js
  apps/docs/src/styles/koobiq/default-theme/_variables.scss
  apps/docs/src/styles/koobiq/default-theme/css-tokens-dark.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens-font.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens-light.css
  apps/docs/src/styles/koobiq/default-theme/css-tokens.css
  apps/docs/src/styles/koobiq/default-theme/index.d.ts
  apps/docs/src/styles/koobiq/default-theme/js/index.js
  packages/components-dev/index.html
  packages/components-dev/main.scss
  packages/components/timezone/timezone-option-tokens.scss
  tools/tokens/utils.js
Due: none

fix(timezone): added missing tokens (#354)
  packages/components/timezone/timezone-option-tokens.scss
  tools/tokens/utils.js
Due: none

feat(tabs): active tab underline transition (#DS-2935) (#343)
  packages/components/tabs/_tabs-common.scss
  packages/components/tabs/tab-header.component.ts
  packages/components/tabs/tab-header.html
  packages/components/tabs/tab-header.scss
  packages/components/tabs/tabs.module.ts
  tools/public_api_guard/components/tabs.api.md
Due: yarn run cspell --files

fix(modal): close button in kbq-modal-title (#DS-2931)
  packages/components/modal/modal.directive.ts
Due: none

fix: update golden files
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

fix(modal): close button in kbq-modal-title (#DS-2931) (#355)
  packages/components/modal/modal.directive.ts
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
