Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

refactor: ci licenses
  tools/validate-licenses/validate-licenses.ts
Due: none

feat: updated CI dependencies
  apps/docs/src/styles/_docsearch.scss
  package.json
  yarn.lock
Due: none

chore: fixed csp versions.json
  apps/docs/src/assets/versions.json
  firebase.json
Due: none

feat: updated CI dependencies (#313)
  apps/docs/src/styles/_docsearch.scss
  package.json
  tools/validate-licenses/validate-licenses.ts
  yarn.lock
Due: none

chore: upd stackblitz package.json
  apps/docs/src/assets/stackblitz/package.json
Due: none

fix(list): multiple selection by keyboard on macos (#DS-2908) (#314)
  packages/components-dev/list/template.html
  packages/components/list/list-selection.component.ts
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

chore: bump version to 17.8.1 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

refactor: undo koobiq-docs to webpack
  angular.json
  apps/docs/src/app/components/docs-live-example-viewer/docs-live-example-viewer.ts
Due: none

refactor: upd icons path
  angular.json
Due: none

refactor: updated firebase path to docs source
  firebase.json
Due: none

feat(scrollbar): updated docs and migrated to standalone (#DS-2899)
  .commitlintrc.js
  apps/docs/src/app/components/documentation-items.ts
  apps/docs/src/assets/stackblitz/src/koobiq.module.ts
  package.json
  packages/components-dev/scrollbar/main.ts
  packages/components-dev/scrollbar/module.ts
  packages/components-dev/scrollbar/styles.scss
  packages/components-dev/scrollbar/template.html
  packages/components/package.json
  packages/components/scrollbar/examples.scrollbar.md
  packages/components/scrollbar/scrollbar.component.ts
  packages/components/scrollbar/scrollbar.directive.ts
  packages/components/scrollbar/scrollbar.md
  packages/components/scrollbar/scrollbar.module.ts
  packages/docs-examples/components/scrollbar/index.ts
  packages/docs-examples/components/scrollbar/scrollbar-overview/scrollbar-overview-example.css
  packages/docs-examples/components/scrollbar/scrollbar-overview/scrollbar-overview-example.html
  packages/docs-examples/components/scrollbar/scrollbar-overview/scrollbar-overview-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-scroll-to-top/scrollbar-scroll-to-top-example.css
  packages/docs-examples/components/scrollbar/scrollbar-scroll-to-top/scrollbar-scroll-to-top-example.html
  packages/docs-examples/components/scrollbar/scrollbar-scroll-to-top/scrollbar-scroll-to-top-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-with-custom-config/scrollbar-with-custom-config-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-with-options/scrollbar-with-options-example.ts
  packages/docs-examples/example-module.ts
  packages/schematics/rollup.config.js
  tools/cspell-locales/en.json
  tools/public_api_guard/components/scrollbar.api.md
  yarn.lock
Due: yarn run cspell --files

refactor: upd spec
  packages/components/scrollbar/scrollbar.component.spec.ts
Due: none

refactor: updated overlayscrollbars dependency version
  packages/components-dev/scrollbar/module.ts
  packages/components/scrollbar/scrollbar.md
  packages/schematics/rollup.config.js
Due: yarn run cspell --files

feat(scrollbar): updated docs and migrated to standalone (#DS-2899) (#307)
  .commitlintrc.js
  apps/docs/src/app/components/documentation-items.ts
  apps/docs/src/assets/stackblitz/src/koobiq.module.ts
  package.json
  packages/components-dev/scrollbar/main.ts
  packages/components-dev/scrollbar/module.ts
  packages/components-dev/scrollbar/styles.scss
  packages/components-dev/scrollbar/template.html
  packages/components/package.json
  packages/components/scrollbar/examples.scrollbar.md
  packages/components/scrollbar/scrollbar.component.spec.ts
  packages/components/scrollbar/scrollbar.component.ts
  packages/components/scrollbar/scrollbar.directive.ts
  packages/components/scrollbar/scrollbar.md
  packages/components/scrollbar/scrollbar.module.ts
  packages/docs-examples/components/scrollbar/index.ts
  packages/docs-examples/components/scrollbar/scrollbar-overview/scrollbar-overview-example.css
  packages/docs-examples/components/scrollbar/scrollbar-overview/scrollbar-overview-example.html
  packages/docs-examples/components/scrollbar/scrollbar-overview/scrollbar-overview-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-scroll-to-top/scrollbar-scroll-to-top-example.css
  packages/docs-examples/components/scrollbar/scrollbar-scroll-to-top/scrollbar-scroll-to-top-example.html
  packages/docs-examples/components/scrollbar/scrollbar-scroll-to-top/scrollbar-scroll-to-top-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-with-custom-config/scrollbar-with-custom-config-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-with-options/scrollbar-with-options-example.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/en.json
  tools/public_api_guard/components/scrollbar.api.md
  yarn.lock
Due: yarn run cspell --files

Revert "feat: updated CI dependencies (#313)"
  apps/docs/src/styles/_docsearch.scss
  package.json
  tools/validate-licenses/validate-licenses.ts
  yarn.lock
Due: none

chore: fixed docs examples (#315)
  angular.json
  apps/docs/src/app/components/docs-live-example-viewer/docs-live-example-viewer.ts
  apps/docs/src/assets/stackblitz/package.json
  apps/docs/src/assets/versions.json
  firebase.json
Due: none

fix(navbar): kbq-vertical-navbar не подтягивает некоторые токены (#DS-2911)
  packages/components/navbar/vertical-navbar.scss
Due: none

fix(navbar): kbq-vertical-navbar does not apply design-tokens (#DS-2911) (#318)
  packages/components/navbar/vertical-navbar.scss
Due: none

chore: build tokens for docs
  apps/docs/src/styles/koobiq/default-theme/_variables.scss
  apps/docs/src/styles/koobiq/default-theme/index.d.ts
  apps/docs/src/styles/koobiq/default-theme/js/index.js
  package.json
  yarn.lock
Due: none

refactor: updated deploy on pr config
  .github/workflows/pr-docs-preview.yml
Due: yamllint

chore: build tokens for docs
  package.json
  yarn.lock
Due: none

chore: build tokens for docs and upd chalk to 4.x (#319)
  apps/docs/src/styles/koobiq/default-theme/_variables.scss
  apps/docs/src/styles/koobiq/default-theme/index.d.ts
  apps/docs/src/styles/koobiq/default-theme/js/index.js
  package.json
  yarn.lock
Due: none

chore: bump version to 18.0.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

feat(scrollbar): updated docs and migrated to standalone (#DS-2899) (#317)
  .commitlintrc.js
  .github/workflows/pr-docs-preview.yml
  apps/docs/src/app/components/documentation-items.ts
  apps/docs/src/assets/stackblitz/src/koobiq.module.ts
  package.json
  packages/components-dev/scrollbar/main.ts
  packages/components-dev/scrollbar/module.ts
  packages/components-dev/scrollbar/styles.scss
  packages/components-dev/scrollbar/template.html
  packages/components/package.json
  packages/components/scrollbar/examples.scrollbar.md
  packages/components/scrollbar/scrollbar.component.spec.ts
  packages/components/scrollbar/scrollbar.component.ts
  packages/components/scrollbar/scrollbar.directive.ts
  packages/components/scrollbar/scrollbar.md
  packages/components/scrollbar/scrollbar.module.ts
  packages/docs-examples/components/scrollbar/index.ts
  packages/docs-examples/components/scrollbar/scrollbar-overview/scrollbar-overview-example.css
  packages/docs-examples/components/scrollbar/scrollbar-overview/scrollbar-overview-example.html
  packages/docs-examples/components/scrollbar/scrollbar-overview/scrollbar-overview-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-scroll-to-top/scrollbar-scroll-to-top-example.css
  packages/docs-examples/components/scrollbar/scrollbar-scroll-to-top/scrollbar-scroll-to-top-example.html
  packages/docs-examples/components/scrollbar/scrollbar-scroll-to-top/scrollbar-scroll-to-top-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-with-custom-config/scrollbar-with-custom-config-example.ts
  packages/docs-examples/components/scrollbar/scrollbar-with-options/scrollbar-with-options-example.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/en.json
  tools/public_api_guard/components/scrollbar.api.md
  yarn.lock
Due: yarn run cspell --files, yamllint

fix(navbar): kbq-vertical-navbar does not apply design-tokens (#DS-2911) (#320)
  packages/components/navbar/vertical-navbar.scss
Due: none

chore: fixed deploy for docs stable 18.x
  .github/workflows/docs-stable.yml
Due: yamllint

chore(ci): updated firebase config
  .firebaserc
  apps/docs/src/assets/versions.json
  firebase.json
Due: none

chore: upd ci for 17.x
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: yamllint

chore: upd ci for 17.x remove next publish
  .github/workflows/docs-next.yml
  .github/workflows/pr-docs-preview.yml
Due: yamllint

chore: upd ci for 17.x firebase hosting name
  .github/workflows/docs-stable.yml
Due: yamllint

chore: bump version to 17.8.2 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

chore: rename job for v17 docs
  .github/workflows/docs-stable.yml
Due: yamllint

chore(docs): fixed stackblitz examples
  apps/docs/src/assets/stackblitz/package.json
Due: none

chore: updated components tokens
  packages/components/alert/alert-tokens.scss
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/link/link-tokens.scss
  packages/components/markdown/markdown-tokens.scss
Due: none

fix: stackblitz dependencies & configs
  .editorconfig
  apps/docs/src/assets/stackblitz/.editorconfig
  apps/docs/src/assets/stackblitz/.gitignore
  apps/docs/src/assets/stackblitz/angular.json
  apps/docs/src/assets/stackblitz/package.json
  apps/docs/src/assets/stackblitz/src/app/app.module.ts
  apps/docs/src/assets/stackblitz/src/polyfills.ts
  apps/docs/src/assets/stackblitz/tsconfig.app.json
  apps/docs/src/assets/stackblitz/tsconfig.json
  apps/docs/tsconfig.app.json
  package.json
  yarn.lock
Due: none
