Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(inline-edit,autocomplete): apply reposition & size recalculation (#DS-5327)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/inline-edit/inline-edit.spec.ts
  packages/components/inline-edit/inline-edit.ts
Due: none

fix(filter-bar): re-render sub-components on runtime locale change (#DS-5289)
  packages/components-dev/filter-bar/main.ts
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.ts
  packages/docs-examples/components/filter-bar/filter-bar-localization/filter-bar-localization-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/filter-bar/filter-bar.spec.ts
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/docs-examples/components/filter-bar/filter-bar-localization/filter-bar-localization-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix: cspell error
  tools/cspell-locales/ru.json
Due: none

fix: prettier
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
Due: yarn run cspell --files

chore: after review
  packages/components/autocomplete/autocomplete-trigger.directive.ts
Due: none

fix(docs): ag-grid overlay example (#DS-5320) (#1731)
  apps/docs/src/styles/_examples.scss
  packages/docs-examples/components/ag-grid/ag-grid-loading-overlay/ag-grid-loading-overlay-example.ts
Due: none

chore: after review
  packages/components/core/locales/formatters.ts
Due: none

fix: after review
  packages/components/filter-bar/filter-save-popover.ts
Due: none

fix(filter-bar): re-render sub-components on runtime locale change (#DS-5289) (#1730)
  packages/components-dev/filter-bar/main.ts
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.spec.ts
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/docs-examples/components/filter-bar/filter-bar-localization/filter-bar-localization-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix: set proper ru-RU billion formatter key (#DS-5286)
  packages/components/core/locales/formatters.ts
Due: none

fix: corrected billion formatter key for ru-RU (#DS-5286) (#1726)
  packages/components/core/locales/formatters.ts
Due: none

chore: updated tests & types
  packages/components/core/formatters/number/formatter.spec.ts
  packages/components/core/formatters/number/formatter.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore: updated docs for number formatters (#DS-5286)
  packages/components-dev/number-formatter/module.ts
  packages/components-dev/number-formatter/template.html
  packages/components/core/formatters/number/number-formatter.en.md
  packages/components/core/formatters/number/number-formatter.ru.md
  packages/docs-examples/components/number-formatter/index.ts
  packages/docs-examples/components/number-formatter/number-formatter-locale/number-formatter-locale-example.ts
  packages/docs-examples/components/number-formatter/number-formatter-overview/number-formatter-overview-example.html
  packages/docs-examples/components/number-formatter/number-formatter-overview/number-formatter-overview-example.ts
  packages/docs-examples/components/number-formatter/number-formatter-rounding/number-formatter-rounding-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

chore: added types for number rounding config
  packages/components/core/formatters/number/formatter.spec.ts
  packages/components/core/formatters/number/formatter.ts
  packages/components/core/locales/formatters.ts
  packages/components/core/locales/types.ts
Due: none

chore(docs): added filter-bar 20.1.0 migration guide (#DS-5302)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/filter-bar-signals/README.md
Due: yarn run cspell --files

chore: fix type
  packages/components/core/formatters/number/formatter.ts
Due: none

chore: removed fix
  packages/components/core/formatters/number/formatter.ts
Due: none

chore: removed redundant
  packages/components/core/formatters/number/formatter.spec.ts
Due: none

fix(inline-edit,autocomplete): apply reposition & size recalculation (#DS-5327) (#1729)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/inline-edit/inline-edit.spec.ts
  packages/components/inline-edit/inline-edit.ts
Due: none

chore(docs): added filter-bar 20.1.0 migration guide (#DS-5302) (#1732)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/filter-bar-signals/README.md
Due: yarn run cspell --files

fix: set proper ru-RU billion formatter key (#DS-5286) (#1734)
  packages/components/core/locales/formatters.ts
Due: none

fix: flaky docs prerender (#DS-5334)
  .github/workflows/actions/build-docs/action.yml
  .github/workflows/actions/build-packages/action.yml
  .github/workflows/actions/build-packages/entrypoint.sh
Due: yamllint

fix(select, tree-select): reduce hidden items counter width (#DS-4098)
  packages/components/core/styles/common/_select.scss
Due: none

fix(navbar): keep bento title visible while dropdown is open (#DS-5290)
  packages/components/navbar/_navbar-item_vertical.scss
Due: none

test: updated e2e snapshots
  packages/components/tree-select/__screenshots__/02-dark.png
  packages/components/tree-select/__screenshots__/02-light.png
Due: none

chore: notify team channel only for PRs targeting main
  .github/workflows/pr-notify.yml
Due: yamllint

fix(inline-edit,autocomplete): apply reposition & size recalculation (#DS-5327) (#1735)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/inline-edit/inline-edit.spec.ts
  packages/components/inline-edit/inline-edit.ts
Due: none

fix: flaky docs prerender build action (#DS-5334) (#1736)
  .github/workflows/actions/build-docs/action.yml
  .github/workflows/actions/build-packages/action.yml
  .github/workflows/actions/build-packages/entrypoint.sh
Due: yamllint

chore: notify team channel only for PRs targeting main (#1739)
  .github/workflows/pr-notify.yml
Due: yamllint

chore(button): added dev example for render benchmark (#DS-2780)
  packages/components-dev/button/module.ts
  packages/components-dev/button/template.html
Due: none

fix(navbar): switch brand to two-line title automatically (#DS-4477)
  packages/components-dev/navbar/module.ts
  packages/components-dev/navbar/template.html
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/e2e.ts
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/components/navbar/navbar.en.md
  packages/components/navbar/navbar.ru.md
  packages/docs-examples/components/navbar/index.ts
  packages/docs-examples/components/navbar/navbar-app-long-name/navbar-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-app-long-name/navbar-app-long-name-example.ts
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

fix(timezone): removed space from utc formatter (#DS-2780)
  packages/components/timezone/timezone.utils.spec.ts
  packages/components/timezone/timezone.utils.ts
Due: none

Revert "fix(timezone): removed space from utc formatter (#DS-2780)"
  packages/components/timezone/timezone.utils.spec.ts
  packages/components/timezone/timezone.utils.ts
Due: none

fix: after review
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar.component.spec.ts
  packages/docs-examples/components/navbar/navbar-app-long-name/navbar-app-long-name-example.html
  packages/docs-examples/components/navbar/navbar-vertical-app-long-name/navbar-vertical-app-long-name-example.ts
Due: none

fix(navbar): keep bento title visible while dropdown is open (#DS-5290) (#1738)
  packages/components/navbar/_navbar-item_vertical.scss
Due: none

fix: after review
  packages/components/core/styles/common/_select.scss
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
