Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix(navbar): update collapsed text in tooltip (#DS-5092)
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.html
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.ts
Due: none

fix: update golden files
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

fix(popover): replace max-width with width on size classes (#DS-2751)
  packages/components/popover/popover.scss
Due: none

chore: update checkout action versions and add permissions
  .github/workflows/api.yml
  .github/workflows/commitlint.yml
  .github/workflows/docs-next.yml
  .github/workflows/docs-stable.yml
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  .github/workflows/license.yml
  .github/workflows/linters.yml
  .github/workflows/pr-docs-preview.yml
  .github/workflows/publish.yml
  .github/workflows/units.yml
Due: yamllint

test: updated e2e snapshots
  packages/components/popover/__screenshots__/01-dark.png
  packages/components/popover/__screenshots__/01-light.png
Due: none

fix(toast): cleanup overlay lifecycle and template handling (#DS-3225, #DS-3408, #DS-3409)
  packages/components/toast/toast.service.ts
  packages/components/toast/toast.spec.ts
Due: none

fix: update golden files
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

fix(select, timezone): option tooltip not triggering on overflowing text (#DS-5091)
  packages/components/select/select-option.directive.ts
  packages/components/select/select.component.spec.ts
  packages/components/timezone/timezone-option.directive.ts
  packages/components/timezone/timezone-select.component.spec.ts
Due: none

fix: update golden files
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/timezone.api.md
Due: yarn run cspell --files

fix(tree): keep ngModel selection toggleable after dataSource.data change (#DS-5053)
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
Due: none

fix: after review
  packages/components/tree/tree-selection.component.ts
Due: none

chore(ag-grid): updated documentation, added state examples (#DS-5090) (#1577)
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  package.json
  packages/components-dev/ag-grid/module.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-column-state/ag-grid-column-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-copy-selected/ag-grid-copy-selected-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-external-filter-state/ag-grid-external-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-filter-state/ag-grid-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-overview/ag-grid-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-quick-filter-state/ag-grid-quick-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-actions/ag-grid-row-actions-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-dragging/ag-grid-row-dragging-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-status-bar/ag-grid-status-bar-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/components/content-panel/content-panel-with-grid/content-panel-with-grid-example.ts
  packages/docs-examples/example-module.ts
  yarn.lock
Due: yarn run cspell --files

docs: update GitHub Actions workflow permissions and versions
  .github/workflows/docs-stable.yml
  .github/workflows/pr-notify.yml
Due: yamllint

feat(code-block): added highlight.js language provider (#DS-3178)
  packages/components-dev/code-block/module.ts
  packages/components/code-block/code-block-highlight.ts
  packages/components/code-block/code-block.en.md
  packages/components/code-block/code-block.ru.md
  packages/components/code-block/code-block.spec.ts
  packages/docs-examples/components/code-block/code-block-header-pinned/code-block-header-pinned-example.ts
  packages/docs-examples/components/code-block/code-block-overview/code-block-overview-example.ts
  packages/docs-examples/components/code-block/code-block-with-custom-locale-configuration/code-block-with-custom-locale-configuration-example.ts
  packages/docs-examples/components/code-block/code-block-with-filled/code-block-with-filled-example.ts
  packages/docs-examples/components/code-block/code-block-with-link/code-block-with-link-example.ts
  packages/docs-examples/components/code-block/code-block-with-max-height/code-block-with-max-height-example.ts
  packages/docs-examples/components/code-block/code-block-with-no-border/code-block-with-no-border-example.ts
  packages/docs-examples/components/code-block/code-block-with-soft-wrap/code-block-with-soft-wrap-example.ts
  packages/docs-examples/components/code-block/code-block-with-tabs-and-shadow/code-block-with-tabs-and-shadow-example.ts
  packages/docs-examples/components/code-block/code-block-with-tabs/code-block-with-tabs-example.ts
  tools/public_api_guard/components/code-block.api.md
Due: yarn run cspell --files

refactor: rename
  packages/components/code-block/code-block-highlight.ts
Due: none

fix(top-bar): remove redundant selector in top-bar (#DS-4531)
  packages/components/top-bar/top-bar.scss
Due: none

fix(navbar): update collapsed text in tooltip (#DS-5092) (#1587)
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.html
  packages/docs-examples/components/navbar/navbar-vertical/navbar-vertical-example.ts
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

fix(popover): replace max-width with width on size classes (#DS-2751) (#1588)
  packages/components/popover/__screenshots__/01-dark.png
  packages/components/popover/__screenshots__/01-light.png
  packages/components/popover/popover.scss
Due: none

fix(toast): cleanup overlay lifecycle and template handling (#DS-3225, #DS-3408, #DS-3409) (#1589)
  packages/components/toast/toast.service.ts
  packages/components/toast/toast.spec.ts
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

fix(select, timezone): option tooltip not triggering on overflowing text (#DS-5091) (#1590)
  packages/components/select/select-option.directive.ts
  packages/components/select/select.component.spec.ts
  packages/components/timezone/timezone-option.directive.ts
  packages/components/timezone/timezone-select.component.spec.ts
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/timezone.api.md
Due: yarn run cspell --files

fix(tree): keep ngModel selection toggleable after dataSource.data change (#DS-5053) (#1591)
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
Due: none

feat(autocomplete,dropdown): set panel min width to 200px (#DS-4067)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/dropdown/dropdown-tokens.scss
Due: none

test: updated e2e snapshots
  packages/components/top-bar/__screenshots__/01-dark.png
  packages/components/top-bar/__screenshots__/01-light.png
Due: none

refactor: e2e
  packages/components/code-block/code-block-highlight.ts
  packages/components/code-block/code-block.spec.ts
  packages/components/code-block/code-block.ts
  packages/components/code-block/e2e.ts
  packages/docs-examples/components/code-block/code-block-with-tabs-and-shadow/code-block-with-tabs-and-shadow-example.ts
  tools/public_api_guard/components/code-block.api.md
Due: yarn run cspell --files

refactor: e2e
  packages/components/code-block/code-block-highlight.ts
  packages/components/code-block/code-block.html
  tools/public_api_guard/components/code-block.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/code-block/__screenshots__/01-dark.png
  packages/components/code-block/__screenshots__/01-light.png
Due: none

refactor: examples
  packages/docs-examples/components/code-block/code-block-with-tabs-and-shadow/code-block-with-tabs-and-shadow-example.ts
  packages/docs-examples/components/code-block/code-block-with-tabs/code-block-with-tabs-example.ts
Due: none

chore(tabs): example with actionbar (#DS-4902)
  packages/docs-examples/components/tabs/tabs-actionbar/tabs-actionbar-example.css
Due: none

refactor: simplify overlay config by extracting size logic
  packages/components/autocomplete/autocomplete-trigger.directive.ts
Due: none

chore: golden files
  tools/public_api_guard/components/autocomplete.api.md
Due: yarn run cspell --files

fix(top-bar): remove redundant selector in top-bar (#DS-4531) (#1594)
  packages/components/top-bar/__screenshots__/01-dark.png
  packages/components/top-bar/__screenshots__/01-light.png
  packages/components/top-bar/top-bar.scss
Due: none

fix: remove trigger width calculation and update dropdown min-width logic
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.html
  packages/components/dropdown/dropdown.scss
  packages/components/dropdown/dropdown.spec.ts
Due: none

feat(dropdown): add center option for x-axis (#DS-5040)
  packages/components-dev/dropdown/module.ts
  packages/components/dropdown/dropdown-errors.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/dropdown.types.ts
  packages/components/dropdown/examples.dropdown.en.md
  packages/components/dropdown/examples.dropdown.ru.md
  packages/docs-examples/components/dropdown/dropdown-x-position/dropdown-x-position-example.ts
  packages/docs-examples/components/dropdown/index.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

fix(dropdown): simplify nested panel alignment logic
  packages/components/dropdown/dropdown-trigger.directive.ts
Due: none

feat: enhance dropdown x position example with layout classes and hidden dropdown styling
  packages/docs-examples/components/dropdown/dropdown-x-position/dropdown-x-position-example.ts
Due: none

fix(top-bar): replace margin with gap for overflow-itemss (#DS-5023)
  packages/components/top-bar/top-bar.scss
  packages/components/top-bar/top-bar.ts
  tools/public_api_guard/components/top-bar.api.md
Due: yarn run cspell --files

feat(top-bar): update overflow item margins and spacing logic
  packages/components/top-bar/top-bar.scss
Due: none
