Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix: icon for stackblitz
  packages/docs-examples/components/app-switcher/app-switcher-overview/app-switcher-overview-example.ts
  packages/docs-examples/components/app-switcher/app-switcher-sites/app-switcher-sites-example.ts
Due: none

feat(app-switcher): added iconSrc (#DS-4580) (#1292)
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/app-switcher-dropdown-app.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/kbq-app-switcher-list-item.ts
  packages/docs-examples/components/app-switcher/app-switcher-overview/app-switcher-overview-example.ts
  packages/docs-examples/components/app-switcher/app-switcher-sites/app-switcher-sites-example.ts
  tools/public_api_guard/components/app-switcher.api.md
Due: yarn run cspell --files

fix(navbar): navbar-brand missing top padding (#DS-4607) (#1293)
  packages/components/navbar/_navbar-item_vertical.scss
  packages/components/navbar/navbar-brand.scss
Due: none

fix(dropdown): removed horizontal scroll
  packages/components/dropdown/dropdown.scss
Due: none

refactor: tabs
  packages/components/breadcrumbs/e2e.playwright-spec.ts
  packages/components/breadcrumbs/e2e.ts
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
  packages/components/tabs/e2e.playwright-spec.ts
  packages/e2e/utils/index.ts
  packages/e2e/utils/when-stable.ts
Due: none

test: updated e2e snapshots
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
Due: none

fix(dropdown): removed horizontal scroll (#1298)
  packages/components/dropdown/dropdown.scss
Due: none

fix(dropdown): removed horizontal scroll (#1297)
  packages/components/dropdown/dropdown.scss
Due: none

fix(styles): use .kbq-progress only for buttons (#DS-4355) (#1295)
  packages/components-dev/button/template.html
  packages/components/core/styles/common/_animation.scss
Due: none

fix(filter-bar): restore focus after closing (#DS-4187)
  packages/components/filter-bar/filter-bar-button.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.ts
  packages/components/popover/popover.component.ts
  packages/components/title/title.directive.ts
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/popover.api.md
Due: yarn run cspell --files

refactor: config
  packages/components/popover/e2e.playwright-spec.ts
  playwright.config.ts
Due: none

refactor: config
  packages/components/tooltip/e2e.playwright-spec.ts
  playwright.config.ts
Due: none

test: updated e2e snapshots
  packages/components/button-toggle/__screenshots__/01-light.png
  packages/components/button-toggle/__screenshots__/02-light.png
  packages/components/button-toggle/__screenshots__/03-dark.png
  packages/components/button-toggle/__screenshots__/03-light.png
  packages/components/button/__screenshots__/02-light.png
  packages/components/icon/__screenshots__/01-dark.png
  packages/components/icon/__screenshots__/01-light.png
  packages/components/toggle/__screenshots__/01-dark.png
  packages/components/toggle/__screenshots__/01-light.png
  packages/components/toggle/__screenshots__/02-light.png
Due: none

refactor: removed when-stable util
  packages/components/breadcrumbs/e2e.playwright-spec.ts
  packages/components/tabs/e2e.playwright-spec.ts
  packages/e2e/utils/index.ts
  packages/e2e/utils/when-stable.ts
Due: none

refactor: tabs fixme
  packages/components/tabs/e2e.playwright-spec.ts
Due: none

fix: focus after filterSavedUnsuccessfully
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.ts
Due: none

fix: update golden files
  packages/components/filter-bar/filters.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore(e2e): set threshold to 0, removed e2eWhenStable util (#DS-4616) (#1294)
  packages/components/breadcrumbs/e2e.playwright-spec.ts
  packages/components/button-toggle/__screenshots__/01-light.png
  packages/components/button-toggle/__screenshots__/02-light.png
  packages/components/button-toggle/__screenshots__/03-dark.png
  packages/components/button-toggle/__screenshots__/03-light.png
  packages/components/button/__screenshots__/02-light.png
  packages/components/icon/__screenshots__/01-dark.png
  packages/components/icon/__screenshots__/01-light.png
  packages/components/popover/e2e.playwright-spec.ts
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
  packages/components/tabs/e2e.playwright-spec.ts
  packages/components/toggle/__screenshots__/01-dark.png
  packages/components/toggle/__screenshots__/01-light.png
  packages/components/toggle/__screenshots__/02-light.png
  packages/components/tooltip/e2e.playwright-spec.ts
  packages/e2e/utils/index.ts
  packages/e2e/utils/when-stable.ts
  playwright.config.ts
Due: none

chore(tree): added e2e tests (#DS-4410)
  packages/components/tree/__screenshots__/01-dark.png
  packages/components/tree/__screenshots__/01-light.png
  packages/components/tree/_tree-theme.scss
  packages/components/tree/e2e.playwright-spec.ts
  packages/components/tree/e2e.ts
  packages/components/tree/tree-option.scss
  packages/e2e/routes.ts
Due: none

test: updated e2e snapshots
  packages/components/tree/__screenshots__/01-dark.png
  packages/components/tree/__screenshots__/01-light.png
Due: none

feat(input): always-on password-toggle (#DS-4288)
  packages/components-experimental/form-field/password-toggle.ts
  packages/components/form-field/password-toggle.ts
Due: none

test: updated e2e snapshots
  packages/components/input/__screenshots__/02-dark.png
  packages/components/input/__screenshots__/02-light.png
  packages/components/tabs/__screenshots__/01-dark.png
Due: none

chore: updated test
  packages/components/form-field/__snapshots__/form-field.spec.ts.snap
Due: none

chore: added AGENTS.md
  .github/instructions/angular.instructions.md
  AGENTS.md
Due: yarn run cspell --files

feat: new search result highlighting style (#DS-4563)
  packages/components/core/highlight/_highlight-theme.scss
Due: none

chore(tree): added e2e tests (#DS-4410) (#1302)
  packages/components/tree/__screenshots__/01-dark.png
  packages/components/tree/__screenshots__/01-light.png
  packages/components/tree/_tree-theme.scss
  packages/components/tree/e2e.playwright-spec.ts
  packages/components/tree/e2e.ts
  packages/components/tree/tree-option.scss
  packages/e2e/routes.ts
Due: none

chore: added AGENTS.md (#1304)
  .github/instructions/angular.instructions.md
  AGENTS.md
Due: yarn run cspell --files

chore: update package with critical vulnerability (#DS-4629)
  .github/workflows/docs-next.yml
  .github/workflows/docs-stable.yml
  .github/workflows/pr-docs-preview.yml
  package.json
  yarn.lock
Due: yamllint
