Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(docs): manual installation guide rewritten (#DS-3415) (#560)
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
Due: yarn run cspell --files

feat(docs): added examples for kbq-select-trigger and kbq-select-matcher (#DS-3397)
  apps/docs/src/app/services/documentation-items.ts
  packages/components/select/examples.select.en.md
  packages/components/select/examples.select.ru.md
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-custom-matcher/select-custom-matcher-example.ts
  packages/docs-examples/components/select/select-custom-trigger/select-custom-trigger-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix: deleted unused code
  packages/docs-examples/components/select/select-custom-matcher/select-custom-matcher-example.ts
  packages/docs-examples/components/select/select-custom-trigger/select-custom-trigger-example.ts
Due: none

fix: added examples for tree-select
  apps/docs/src/app/services/documentation-items.ts
  packages/components/tree-select/examples.tree-select.en.md
  packages/components/tree-select/examples.tree-select.ru.md
  packages/components/tree-select/tree-select.html
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-custom-matcher/tree-select-custom-matcher-example.ts
  packages/docs-examples/components/tree-select/tree-select-custom-trigger/tree-select-custom-trigger-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

refactor: sitemap
  tools/generate-sitemap.ts
Due: none

feat(actions-panel): added new KbqActionsPanelModule
  angular.json
  apps/docs/src/app/services/documentation-items.ts
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components-dev/actions-panel/tsconfig.app.json
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.ts
  packages/components/actions-panel/examples.actions-panel.en.md
  packages/components/actions-panel/examples.actions-panel.ru.md
  packages/components/actions-panel/index.ts
  packages/components/actions-panel/module.ts
  packages/components/actions-panel/ng-package.json
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/components/actions-panel/ng-package.json
  packages/docs-examples/example-module.ts
  tools/api-extractor/config.json
  tools/public_api_guard/components/actions-panel.api.md
  tsconfig.json
Due: yarn run cspell --files

refactor: actions panel dev
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/template.html
Due: none

refactor: package scripts
  package.json
Due: none

refactor: added animation
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/components/actions-panel/module.ts
  packages/components/core/animation/animation.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: close on destroy
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/example-module.ts
Due: none

refactor: simplify example
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

refactor: added RTL support
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
Due: none

refactor: update example
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: update config
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.ts
Due: none

refactor: added disabledClose property
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: api
  tools/public_api_guard/components/actions-panel.api.md
Due: yarn run cspell --files

refactor: added docs
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/components/core/animation/animation.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: added svg previews
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/assets/images/welcome/actions-panel-dark.png
  apps/docs/src/assets/images/welcome/actions-panel-light.png
Due: none

refactor: added specs
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/styles.scss
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  tools/public_api_guard/components/actions-panel.api.md
Due: yarn run cspell --files

refactor: overlayContainer
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

refactor: added new docs section
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

refactor: added example
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/index.ts
Due: yarn run cspell --files

refactor: upd docs
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
Due: yarn run cspell --files

refactor: added tooltip
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/locale-selector.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/fa-IR.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/core/locales/zh-CN.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: api
  packages/components/actions-panel/actions-panel-container.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

refactor: added toast
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: table wrapper paddings
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: example with table
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: removed focus-trap
  packages/components-dev/actions-panel/styles.scss
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel.ts
Due: none

refactor: generate sitemap
  apps/docs/src/sitemap.xml
Due: none

refactor: docs
  packages/components/actions-panel/actions-panel.ru.md
Due: yarn run cspell --files

refactor: overflow-items
  packages/components/overflow-items/overflow-items.ts
Due: none

refactor: examples
  packages/components-dev/actions-panel/styles.scss
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: disable user-select
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: upd table
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: close on esc
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
Due: none

refactor: added new example
  packages/components-dev/actions-panel/module.ts
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix(textarea): save scroll position when out of viewport (#DS-2897)
  packages/components/textarea/textarea.component.ts
  tools/public_api_guard/components/textarea.api.md
Due: yarn run cspell --files

chore: trigger overall failure if any general check fails
  .github/workflows/ci.yml
Due: yamllint

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
