Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: updated dev ssr application based on official docs (#1105)
  packages/components-dev/ssr/README.md
  packages/components-dev/ssr/config.server.ts
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/main.server.ts
  packages/components-dev/ssr/main.ts
  packages/components-dev/ssr/server.ts
Due: yarn run cspell --files

refactor: isFn removed
  packages/components/core/option/option.ts
  packages/components/core/utils/utils.ts
  packages/components/list/list-selection.component.ts
  packages/components/navbar/navbar.component.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: example
  packages/components/button/button.component.html
  packages/docs-examples/components/split-button/split-button-text-overflow/split-button-text-overflow-example.ts
Due: none

fix: ssr compatibility (#DS-3964) (#1108)
  packages/components/core/option/option.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-title.ts
  packages/components/list/list-selection.component.ts
  packages/components/modal/modal-util.ts
  packages/components/navbar/navbar.component.ts
  packages/components/scrollbar/scrollbar.directive.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/list.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

chore: added all component usage to dev ssr application (#DS-3964)
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/module.ts
  packages/components-dev/ssr/template.html
  packages/docs-examples/components/dynamic-translation/dynamic-translation-overview/dynamic-translation-overview-example.ts
  packages/docs-examples/components/progress-spinner/progress-spinner-overview/progress-spinner-overview-example.ts
Due: none

chore: update prettier configuration to ignore unknown file types (#1119)
  .lintstagedrc.js
  package.json
Due: none

fix(tags): focus on SPACE keydown (#DS-4299)
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

refactor: specs
  packages/components/tags/tag.component.ts
Due: none

refactor: single tag selection
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
Due: none

refactor: specs
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
Due: none

chore: added all component usage to dev ssr application (#DS-3964) (#1111)
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/module.ts
  packages/components-dev/ssr/template.html
  packages/docs-examples/components/dynamic-translation/dynamic-translation-overview/dynamic-translation-overview-example.ts
  packages/docs-examples/components/progress-spinner/progress-spinner-overview/progress-spinner-overview-example.ts
Due: none

fix: import styles from common
  packages/components/button-toggle/button-toggle.scss
  packages/components/dropdown/dropdown-item.scss
  packages/components/split-button/split-button.scss
Due: none

fix: added e2e
  packages/components-dev/e2e/components/split-button.playwright-spec.ts
  packages/components-dev/e2e/components/split-button.ts
  packages/components-dev/e2e/module.ts
  packages/components-dev/split-button/module.ts
  packages/components/split-button/_split-button-theme.scss
Due: none

fix: added screenshots
  packages/components-dev/e2e/components/__screenshots__/KbqSplitButtonModule-DevSplitButtonStateAndStyle-split-button-with-icon-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqSplitButtonModule-DevSplitButtonStateAndStyle-split-button-with-title-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqSplitButtonModule-DevSplitButtonStateAndStyle-split-button-with-title-prefix-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqSplitButtonModule-DevSplitButtonStateAndStyle-split-button-with-title-prefix-dark-theme-1.png
  packages/components-dev/e2e/components/split-button.ts
  packages/components-dev/e2e/template.html
Due: none

test: updated e2e snapshots
  packages/components-dev/e2e/components/__screenshots__/KbqSplitButtonModule-DevSplitButtonStateAndStyle-split-button-with-title-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqSplitButtonModule-DevSplitButtonStateAndStyle-split-button-with-title-prefix-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqSplitButtonModule-DevSplitButtonStateAndStyle-split-button-with-title-prefix-dark-theme-1.png
Due: none

chore: removed styles from dev-examples
  packages/components-dev/clamped-text/module.ts
  packages/components-dev/filesize-formatter/module.ts
  packages/components-dev/inline-edit/module.ts
  packages/components-dev/textarea/module.ts
  packages/components-dev/time-range/module.ts
  packages/components-dev/toggle/module.ts
  packages/components-dev/username/module.ts
  packages/components-dev/validation/module.ts
Due: none

chore: removed styles from dev-examples (#1120)
  packages/components-dev/clamped-text/module.ts
  packages/components-dev/filesize-formatter/module.ts
  packages/components-dev/inline-edit/module.ts
  packages/components-dev/textarea/module.ts
  packages/components-dev/time-range/module.ts
  packages/components-dev/toggle/module.ts
  packages/components-dev/username/module.ts
  packages/components-dev/validation/module.ts
Due: none

feat(docs): migrated to SSR (#DS-3683)
  angular.json
  apps/docs/server.ts
  apps/docs/src/app/components/anchors/anchors.component.ts
  apps/docs/src/config.server.ts
  apps/docs/src/config.ts
  apps/docs/src/environments/environment.prod.ts
  apps/docs/src/environments/environment.ts
  apps/docs/src/main.server.ts
  apps/docs/src/main.ts
  apps/docs/tsconfig.app.json
  apps/docs/tsconfig.json
  package.json
  packages/docs-examples/ng-package.json
  yarn.lock
Due: none

fix: refactor
  packages/components-dev/split-button/module.ts
  packages/components-dev/split-button/template.html
  packages/components/split-button/_split-button-theme.scss
  packages/components/split-button/split-button.scss
  packages/components/split-button/split-button.ts
Due: none

fix: tests & api
  packages/components/split-button/split-button.spec.ts
  packages/components/split-button/split-button.ts
  tools/public_api_guard/components/split-button.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components-dev/e2e/components/__screenshots__/KbqSplitButtonModule-DevSplitButtonStateAndStyle-split-button-with-icon-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqSplitButtonModule-DevSplitButtonStateAndStyle-split-button-with-title-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqSplitButtonModule-DevSplitButtonStateAndStyle-split-button-with-title-prefix-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqSplitButtonModule-DevSplitButtonStateAndStyle-split-button-with-title-prefix-dark-theme-1.png
Due: none

fix: return dev
  packages/components-dev/split-button/template.html
Due: none

fix(tags): focus on SPACE keydown, default selection for single tag (#DS-4299) (#1112)
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

feat(top-bar): lower the height (#DS-4297)
  packages/components/top-bar/top-bar-tokens.scss
  packages/components/top-bar/top-bar.scss
Due: none

refactor: readme
  apps/docs/README.md
Due: yarn run cspell --files

feat(docs): migrated to SSR (#DS-3683)
  apps/docs/tsconfig.json
Due: none

refactor: firebase schema
  firebase.json
Due: none

refactor: typography
  packages/components/core/styles/typography/_typography.scss
Due: none

chore: update setup-node action to version 6 (#DS-4342)
  .github/workflows/actions/setup-node/action.yml
Due: yamllint

refactor: env
  angular.json
  apps/docs/src/environments/environment.prod.ts
  apps/docs/src/environments/environment.ts
  apps/docs/src/server.ts
  apps/docs/tsconfig.app.json
Due: none

refactor: firebase public
  firebase.json
Due: none

fix(form-field): aligned hints' margin,gaps (#DS-4358)
  packages/components/form-field/fieldset-tokens.scss
  packages/components/form-field/form-field-tokens.scss
  packages/components/form-field/form-field.scss
Due: none

chore: update setup-node action to version 6 (#DS-4342) (#1122)
  .github/workflows/actions/setup-node/action.yml
Due: yamllint

fix(file-upload): referenceError to File in SSR (#DS-4358)
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
Due: none

chore: firebase
  apps/docs/src/server.ts
  firebase.json
Due: none

chore: anchors
  apps/docs/src/app/components/anchors/anchors.component.ts
Due: none

chore(file-upload): added todo comment
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/single-file-upload.component.ts
Due: none

chore(core): renamed kbqHovered directive, remove it from kbqTag host (#DS-4340)
  packages/components/core/common-behaviors/hover.spec.ts
  packages/components/core/common-behaviors/hover.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/tags/tag.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix: after review
  packages/components-dev/e2e/components/split-button.ts
  packages/components/button/button.component.ts
  packages/components/split-button/_split-button-theme.scss
  packages/components/split-button/split-button.scss
  packages/components/split-button/split-button.ts
Due: none

fix(modal,sidepanel): content body top padding (#DS-2557)
  packages/components/modal/modal-tokens.scss
  packages/components/sidepanel/sidepanel.scss
Due: none
