Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(select, tree-select)!: cleaner keeps disabled options selected (#DS-5486)
  packages/components/form-field/cleaner.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/timezone/timezone-select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-cleaner-with-disabled/select-cleaner-with-disabled-example.ts
  packages/docs-examples/example-module.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

docs(select, tree-select, form-field): trim the clearPredicate comments (#DS-5486)
  packages/components/form-field/cleaner.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.ts
Due: none

fix(tags)!: cleaner does not offer to remove disabled tags (#DS-5486)
  packages/components-dev/tag/module.ts
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/docs-examples/components/tags/index.ts
  packages/docs-examples/components/tags/tag-autocomplete-cleaner-with-disabled/tag-autocomplete-cleaner-with-disabled-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

docs(select, tree-select, tags): state what the reset control does, not how it behaves (#DS-5486)
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
Due: yarn run cspell --files

test(tree-select): cover a consumer-supplied clearPredicate (#DS-5486)
  packages/components/tree-select/tree-select.component.spec.ts
Due: none

refactor(core, select, tree-select, tags): share the clearPredicate guard (#DS-5486)
  packages/components/core/select/clear-predicate.ts
  packages/components/core/select/index.ts
  packages/components/select/select.component.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(select, tree-select): configure clearPredicate through DI (#DS-5486)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

docs(select, tree-select): show how to clear the disabled items too (#DS-5486)
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
Due: yarn run cspell --files

fix(tags)!: disabled tag does not show its remove control (#DS-5486)
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  packages/components/tags/tag.en.md
  packages/components/tags/tag.ru.md
Due: yarn run cspell --files

feat(tags)!: cleaner removes the tags itself (#DS-5486)
  packages/components/form-field/cleaner.ts
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/docs-examples/components/tags/tag-autocomplete-cleaner-with-disabled/tag-autocomplete-cleaner-with-disabled-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-draggable/tag-autocomplete-draggable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-editable/tag-autocomplete-editable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-onpaste-off/tag-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tags/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-overview/tag-autocomplete-overview-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-search/tag-autocomplete-search-example.ts
  packages/docs-examples/components/tags/tag-autocomplete-with-form-control-validators/tag-autocomplete-with-form-control-validators-example.ts
  packages/docs-examples/components/tags/tag-input-draggable/tag-input-draggable-example.ts
  packages/docs-examples/components/tags/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tags/tag-input-onpaste-off/tag-input-onpaste-off-example.html
  packages/docs-examples/components/tags/tag-input-onpaste-off/tag-input-onpaste-off-example.ts
  packages/docs-examples/components/tags/tag-input-overview/tag-input-overview-example.ts
  packages/docs-examples/components/tags/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tags/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

feat(schematics): drop the click handler from the tag-list cleaner (#DS-5486)
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/tag-list-cleaner/README.md
  packages/schematics/src/migrations/tag-list-cleaner/data.ts
  packages/schematics/src/migrations/tag-list-cleaner/index.spec.ts
  packages/schematics/src/migrations/tag-list-cleaner/index.ts
  packages/schematics/src/migrations/tag-list-cleaner/schema.json
  packages/schematics/src/migrations/tag-list-cleaner/schema.ts
Due: yarn run cspell --files

fix(form-field, select, tree-select, timezone)!: pair keydownTarget with clearByEscape (#DS-5486)
  packages/components/form-field/cleaner.ts
  packages/components/select/select.component.ts
  packages/components/timezone/timezone-select.component.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/form-field.api.md
Due: yarn run cspell --files

fix(tags, autocomplete): clearing keeps focus and never removes a disabled tag (#DS-5486)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-text-control.ts
  packages/components/tags/tag.component.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(schematics): keep tag-list cleaner handlers that nothing replaces (#DS-5486)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/tag-list-cleaner/README.md
  packages/schematics/src/migrations/tag-list-cleaner/data.ts
  packages/schematics/src/migrations/tag-list-cleaner/index.spec.ts
  packages/schematics/src/migrations/tag-list-cleaner/index.ts
Due: yarn run cspell --files

docs(select, tree-select, tags): bind clearPredicate to a field (#DS-5486)
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
Due: yarn run cspell --files

docs(tags, tree-select, dev): show the reset control in examples (#DS-5486)
  packages/components-dev/tag/module.ts
  packages/components-dev/tree-select/module.ts
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tree-select/examples.tree-select.en.md
  packages/components/tree-select/examples.tree-select.ru.md
  packages/docs-examples/components/tags/index.ts
  packages/docs-examples/components/tags/tag-input-cleaner-with-disabled/tag-input-cleaner-with-disabled-example.ts
  packages/docs-examples/components/tags/tag-input-cleaner/tag-input-cleaner-example.ts
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-cleaner-data.ts
  packages/docs-examples/components/tree-select/tree-select-cleaner-with-disabled/tree-select-cleaner-with-disabled-example.ts
  packages/docs-examples/components/tree-select/tree-select-cleaner/tree-select-cleaner-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

docs(select, tree-select, tags): align the English reset sections (#DS-5486)
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
Due: yarn run cspell --files

docs(tree-select): show the reset examples on the overview page (#DS-5486)
  packages/components/tree-select/examples.tree-select.en.md
  packages/components/tree-select/examples.tree-select.ru.md
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
Due: yarn run cspell --files

docs(tree-select, tags): say nodes, and keep the reset paragraphs apart (#DS-5486)
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tree-select/tree-select.ru.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/tags/__screenshots__/01-dark.png
  packages/components/tags/__screenshots__/01-light.png
  packages/components/tags/__screenshots__/04-dark.png
  packages/components/tags/__screenshots__/04-light.png
  packages/components/tags/__screenshots__/05-dark.png
  packages/components/tags/__screenshots__/05-light.png
Due: none

docs(examples, dev): remove the cleaner examples nothing links to (#DS-5486)
  packages/components-dev/select/module.ts
  packages/components-dev/tag/module.ts
  packages/components-dev/tree-select/module.ts
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-cleaner/select-cleaner-example.ts
  packages/docs-examples/components/tags/index.ts
  packages/docs-examples/components/tags/tag-input-cleaner/tag-input-cleaner-example.ts
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-cleaner-data.ts
  packages/docs-examples/components/tree-select/tree-select-cleaner/tree-select-cleaner-example.ts
  packages/docs-examples/example-module.ts
Due: none

fix(modal): keep content in place when a scrollbar appears (#DS-4543)
  packages/components/modal/__screenshots__/04-light.png
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/components/modal/modal.component.html
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.spec.ts
  packages/e2e/routes.ts
Due: none

docs(tags): fold the reset section into tag removal (#DS-5486)
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
Due: yarn run cspell --files

refactor: ci
  packages/components/datepicker/datepicker.spec.ts
Due: none

fix(dropdown): errors following a full review of the component
  packages/components-dev/dropdown/template.html
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/dropdown-animations.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.html
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/e2e.playwright-spec.ts
  packages/components/dropdown/e2e.ts
  packages/components/dropdown/examples.dropdown.en.md
  packages/components/dropdown/examples.dropdown.ru.md
  packages/components/dropdown/public-api.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

fix(dropdown): reveal the item Home/End moved to, keep role hosts activatable
  packages/components/core/overlay/panel-width.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

docs(dropdown): describe the review's breaking changes in the migration guide
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
Due: yarn run cspell --files

fix: moved dropdown to signals
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/core/a11y/key-manager/list-key-manager.ts
  packages/components/dropdown/dropdown-item-action.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.html
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/dropdown.types.ts
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.spec.ts
  packages/components/split-button/split-button.spec.ts
  packages/components/split-button/split-button.ts
  packages/docs-examples/components/toast/toast-actions-overview/toast-actions-overview-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/dropdown-signals/README.md
  packages/schematics/src/migrations/dropdown-signals/data.ts
  packages/schematics/src/migrations/dropdown-signals/index.spec.ts
  packages/schematics/src/migrations/dropdown-signals/index.ts
  packages/schematics/src/migrations/dropdown-signals/schema.json
  packages/schematics/src/migrations/dropdown-signals/schema.ts
  packages/schematics/src/utils/signal-members-migration.spec.ts
  packages/schematics/src/utils/signal-members-migration.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

fix(dropdown)!: keep KbqOptionActionParent in step with the signal trigger
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/core/option/action.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/list/list-selection.component.spec.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/dropdown-signals/README.md
  packages/schematics/src/migrations/dropdown-signals/data.ts
  packages/schematics/src/migrations/dropdown-signals/index.spec.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

fix(dropdown): address review feedback
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/core/a11y/key-manager/list-key-manager.ts
  packages/components/core/option/action.ts
  packages/components/core/overlay/panel-width.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.types.ts
  packages/components/dropdown/examples.dropdown.en.md
  packages/components/dropdown/examples.dropdown.ru.md
  packages/schematics/src/migrations/dropdown-signals/README.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

fix(dropdown): hide the panel a sibling trigger takes over from
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/docs-examples/components/dropdown/dropdown-disabled/dropdown-disabled-example.html
  packages/docs-examples/components/dropdown/dropdown-open-by-arrow-down/dropdown-open-by-arrow-down-example.html
  packages/docs-examples/components/dropdown/dropdown-overview/dropdown-overview-example.html
Due: none

chore: upd docs
  docs/guides/migration.ru.md
Due: yarn run cspell --files

fix(markdown, scrollbar): customize the native scrollbars of the markdown content (#DS-4089)
  packages/components/markdown/__snapshots__/markdown.component.spec.ts.snap
  packages/components/markdown/markdown.component.spec.ts
  packages/components/markdown/markdown.component.ts
  packages/components/markdown/markdown.service.ts
  packages/components/scrollbar/scrollbar.spec.ts
  packages/components/scrollbar/scrollbar.ts
  tools/public_api_guard/components/markdown.api.md
  tools/public_api_guard/components/scrollbar.api.md
Due: yarn run cspell --files

test(file-upload,e2e): move the font wait into a shared spec helper
  docs/e2e-flakiness.md
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/e2e/utils/fonts.ts
  packages/e2e/utils/index.ts
Due: yarn run cspell --files

chore: run dependabot npm updates twice a month instead of weekly
  .github/dependabot.yml
Due: yamllint

feat(docs): interactive migration guide filtered by version range (#DS-5169)
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/anchors/anchors.component.html
  apps/docs/src/app/components/anchors/anchors.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.scss
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/components/live-example/markdown-content.ts
  apps/docs/src/app/components/migration-guide/docs-migration-guide.html
  apps/docs/src/app/components/migration-guide/docs-migration-guide.scss
  apps/docs/src/app/components/migration-guide/docs-migration-guide.spec.ts
  apps/docs/src/app/components/migration-guide/docs-migration-guide.ts
  apps/docs/src/app/components/migration-guide/migration-versions.spec.ts
  apps/docs/src/app/components/migration-guide/migration-versions.ts
  apps/docs/src/app/page-paths.ts
  apps/docs/src/app/routes.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/i18n.ts
  apps/docs/src/app/services/seo.ts
  apps/docs/src/app/structure.ts
  apps/docs/src/prerender-routes.txt
  apps/docs/src/sitemap.xml
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  tools/markdown-to-html/migration/migration-steps.spec.ts
  tools/markdown-to-html/migration/migration-steps.ts
  tools/markdown-to-html/migration/schematics-coverage.spec.ts
  tools/markdown-to-html/migration/wrap-migration-steps.spec.ts
  tools/markdown-to-html/migration/wrap-migration-steps.ts
Due: none

docs(splitter): document the deprecation path schematic (#DS-5169)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
Due: none

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
