Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

fix(alert): errors following a full review of the component (#2015)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/alert/alert.component.spec.ts
  packages/components/alert/alert.component.ts
  packages/components/alert/alert.en.md
  packages/components/alert/alert.ru.md
  packages/docs-examples/components/alert/alert-status/alert-status-example.html
  packages/docs-examples/components/alert/alert-status/alert-status-example.ts
Due: yarn run cspell --files

fix(actions-panel)!: render the panel inside overlayContainer (#DS-5475) (#2003)
  packages/components-dev/actions-panel/module.ts
  packages/components/actions-panel/__screenshots__/1-light.png
  packages/components/actions-panel/__screenshots__/2-dark.png
  packages/components/actions-panel/__screenshots__/2-light.png
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-scoped-overlay-container.ts
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  packages/components/actions-panel/e2e.playwright-spec.ts
  packages/components/actions-panel/e2e.ts
  packages/docs-examples/components/actions-panel/actions-panel-global/actions-panel-global-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/actions-panel-overlay-container/README.md
  packages/schematics/src/migrations/actions-panel-overlay-container/data.ts
  packages/schematics/src/migrations/actions-panel-overlay-container/index.spec.ts
  packages/schematics/src/migrations/actions-panel-overlay-container/index.ts
  packages/schematics/src/migrations/actions-panel-overlay-container/schema.json
  packages/schematics/src/migrations/actions-panel-overlay-container/schema.ts
Due: yarn run cspell --files

refactor: review
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/checkbox/checkbox-required-validator.ts
  packages/components/checkbox/checkbox.component.spec.ts
  packages/components/checkbox/checkbox.html
  packages/components/checkbox/checkbox.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/checkbox-signals/README.md
  packages/schematics/src/migrations/checkbox-signals/data.ts
  packages/schematics/src/migrations/checkbox-signals/index.spec.ts
  packages/schematics/src/migrations/checkbox-signals/index.ts
  packages/schematics/src/migrations/checkbox-signals/schema.ts
  tools/public_api_guard/components/checkbox.api.md
Due: yarn run cspell --files

refactor: review
  packages/components-dev/ssr/routes.ts
  packages/components/accordion/accordion-content.directive.ts
  packages/components/accordion/accordion-trigger.ts
  packages/components/core/option/option.ts
  packages/components/filter-bar/filter-bar-button.ts
  packages/components/filter-bar/filter-bar-pipes.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filters.ts
  packages/components/list/list-selection.component.ts
  packages/components/select/select.component.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

refactor: review
  packages/components-dev/ssr/routes.ts
Due: none

fix: prerender every documentation example under SSR (#DS-5467) (#2009)
  packages/components-dev/ssr/routes.ts
  packages/components/accordion/accordion-content.directive.ts
  packages/components/accordion/accordion-trigger.ts
  packages/components/core/option/option.ts
  packages/components/core/utils/dom.ts
  packages/components/filter-bar/filter-bar-button.ts
  packages/components/filter-bar/filter-bar-pipes.ts
  packages/components/filter-bar/filter-bar.module.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.ts
  packages/components/filter-bar/pipe.directive.ts
  packages/components/filter-bar/public-api.ts
  packages/components/list/list-selection.component.ts
  packages/components/select/select.component.ts
  packages/components/tree/tree-selection.component.ts
  packages/docs-examples/components/checkbox/checkbox-indeterminate/checkbox-indeterminate-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

refactor: ci
  packages/components/tabs/e2e.playwright-spec.ts
Due: none

test(e2e): run playwright at zero retries and keep a trace per failure
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  AGENTS.md
  docs/e2e-flakiness.md
  docs/guides/06-testing.md
  playwright.config.ts
  tools/e2e/Dockerfile
  tools/e2e/docker-compose.yml
Due: yarn run cspell --files, yamllint

refactor: tab undo
  packages/components/tabs/e2e.playwright-spec.ts
Due: none

fix(select): keep a disabled footer row out of the pointer's reach (#DS-2761)
  packages/components/core/styles/common/_select.scss
  packages/components/select/select.component.ts
Due: none

fix(select): footer action as a drop-down menu row (#DS-2761) (#2010)
  packages/components/core/select/common.ts
  packages/components/core/styles/common/_select.scss
  packages/components/select/__screenshots__/08-dark.png
  packages/components/select/__screenshots__/08-light.png
  packages/components/select/__screenshots__/09-dark.png
  packages/components/select/__screenshots__/09-light.png
  packages/components/select/_select-theme.scss
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/e2e.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.module.ts
  packages/components/select/select.ru.md
  packages/components/select/select.scss
  packages/docs-examples/components/select/select-footer/select-footer-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
Due: yarn run cspell --files

fix(loader-overlay)!: errors following a full review of the component (#DS-5482) (#1982)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/loader-overlay/loader-overlay.component.html
  packages/components/loader-overlay/loader-overlay.component.spec.ts
  packages/components/loader-overlay/loader-overlay.component.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/loader-overlay-signals/README.md
  packages/schematics/src/migrations/loader-overlay-signals/data.ts
  packages/schematics/src/migrations/loader-overlay-signals/index.spec.ts
  packages/schematics/src/migrations/loader-overlay-signals/index.ts
  packages/schematics/src/migrations/loader-overlay-signals/schema.json
  packages/schematics/src/migrations/loader-overlay-signals/schema.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/loader-overlay.api.md
Due: yarn run cspell --files

refactor: review
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/button-toggle/button-toggle.component.ts
  packages/components/button/button.component.ts
  packages/components/core/core.en.md
  packages/components/core/core.ru.md
  packages/components/core/utils/utils.ts
  packages/components/link/_link-theme.scss
  packages/components/link/link.component.spec.ts
  packages/components/link/link.component.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/link-signals/README.md
  packages/schematics/src/migrations/link-signals/data.ts
  packages/schematics/src/migrations/link-signals/index.spec.ts
  packages/schematics/src/migrations/link-signals/index.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/link.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/ellipsis-center/ellipsis-center.directive.ts
Due: none

fix: after review
  packages/components/ellipsis-center/ellipsis-center.directive.spec.ts
  packages/components/ellipsis-center/ellipsis-center.directive.ts
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/components/file-upload/file-upload.scss
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/single-file-upload.component.scss
  packages/docs-examples/components/breadcrumbs/breadcrumbs-truncate-center-items/breadcrumbs-truncate-center-items-example.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-truncate-head-items/breadcrumbs-truncate-head-items-example.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-truncate-tail-items/breadcrumbs-truncate-tail-items-example.ts
  tools/public_api_guard/components/ellipsis-center.api.md
Due: yarn run cspell --files

fix(file-upload,ellipsis-center): proper file item overflow (#DS-5271)
  packages/components-dev/file-upload/module.ts
  packages/components/ellipsis-center/ellipsis-center.directive.spec.ts
  packages/components/ellipsis-center/ellipsis-center.directive.ts
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/docs-examples/components/breadcrumbs/breadcrumbs-truncate-center-items/breadcrumbs-truncate-center-items-example.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-truncate-head-items/breadcrumbs-truncate-head-items-example.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-truncate-tail-items/breadcrumbs-truncate-tail-items-example.ts
  tools/public_api_guard/components/ellipsis-center.api.md
Due: yarn run cspell --files

test(file-upload): pin how the shortened name looks at 320px (#DS-5271)
  packages/components/file-upload/__screenshots__/05-light.png
  packages/components/file-upload/e2e.playwright-spec.ts
Due: none

fix: after review
  packages/components/core/utils/dom.ts
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
  packages/components/tabs/e2e.playwright-spec.ts
  packages/components/tabs/e2e.ts
  packages/components/tabs/paginated-tab-header.ts
  packages/components/tabs/tab-header.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(modal): project the caption into the header (#DS-5519)
  packages/components-dev/modal/module.ts
  packages/components/modal/__screenshots__/04-dark.png
  packages/components/modal/__screenshots__/04-light.png
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/components/modal/modal.directive.ts
  packages/components/modal/modal.en.md
  packages/components/modal/modal.ru.md
  packages/components/modal/modal.scss
  packages/components/modal/modal.spec.ts
  packages/docs-examples/components/modal/modal-full-custom/modal-full-custom-example.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

fix(core): use "Last year" for the one-year option duration template
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
Due: none

docs(filter-bar): localize the data of the examples
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-custom-pipe/filter-bar-custom-pipe-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-localization/filter-bar-localization-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipes/filter-bar-readonly-pipes-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
  packages/docs-examples/components/filter-bar/localized-data.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix(filter-bar): stale open request reopens a pipe after the filter is recreated (#DS-5517) (#2017)
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipe-add.spec.ts
  packages/components/filter-bar/pipe-add.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-input.spec.ts
Due: none

refactor: ci
  packages/components/dynamic-translation/__snapshots__/dynamic-translation.spec.ts.snap
Due: none

fix(core): use "Ýyl" for the Turkmen one-year option duration template
  packages/components/core/locales/tk-TM.ts
Due: none

fix(examples): end the generated example module with a newline
  packages/docs-examples/example-module.ts
  tools/example-module/generate-example-module.ts
Due: none

docs(filter-bar): fix the localization of the examples after review
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-localization/filter-bar-localization-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipes/filter-bar-readonly-pipes-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
  packages/docs-examples/components/filter-bar/localized-data.ts
Due: yarn run cspell --files

fix(tabs): align overflow on scale (#DS-5520) (#2014)
  packages/components/core/utils/dom.ts
  packages/components/tabs/__screenshots__/01-dark.png
  packages/components/tabs/__screenshots__/01-light.png
  packages/components/tabs/e2e.playwright-spec.ts
  packages/components/tabs/e2e.ts
  packages/components/tabs/paginated-tab-header.ts
  packages/components/tabs/tab-header.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

test(e2e): run playwright at zero retries and keep a trace per failure (#2012)
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  AGENTS.md
  docs/e2e-flakiness.md
  docs/guides/06-testing.md
  playwright.config.ts
  tools/e2e/Dockerfile
  tools/e2e/docker-compose.yml
Due: yarn run cspell --files, yamllint

chore(deps): resolve open dependabot advisories
  package.json
  yarn.lock
Due: none

fix(username): errors following a full review of the component
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/username/__snapshots__/username.spec.ts.snap
  packages/components/username/_username-theme.scss
  packages/components/username/constants.ts
  packages/components/username/e2e.ts
  packages/components/username/index.ts
  packages/components/username/module.ts
  packages/components/username/public-api.ts
  packages/components/username/types.ts
  packages/components/username/username.en.md
  packages/components/username/username.html
  packages/components/username/username.pipe.ts
  packages/components/username/username.ru.md
  packages/components/username/username.scss
  packages/components/username/username.spec.ts
  packages/components/username/username.ts
  packages/docs-examples/components/username/username-custom/username-custom-example.ts
  packages/docs-examples/components/username/username-filter-bar-option/username-filter-bar-option-example.ts
  packages/docs-examples/components/username/username-search/username-search-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/username-pipe-injection/README.md
  packages/schematics/src/migrations/username-pipe-injection/data.ts
  packages/schematics/src/migrations/username-pipe-injection/index.spec.ts
  packages/schematics/src/migrations/username-pipe-injection/index.ts
  packages/schematics/src/migrations/username-pipe-injection/schema.json
  packages/schematics/src/migrations/username-pipe-injection/schema.ts
  tools/check-public-api-any/baseline.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/username.api.md
Due: yarn run cspell --files

fix(username): address code review findings
  packages/components/username/__screenshots__/01-dark.png
  packages/components/username/__screenshots__/01-light.png
  packages/components/username/e2e.ts
  packages/components/username/username.en.md
  packages/components/username/username.pipe.ts
  packages/components/username/username.ru.md
  packages/components/username/username.spec.ts
  packages/components/username/username.ts
  packages/schematics/src/migrations/username-pipe-injection/README.md
Due: yarn run cspell --files

fix(checkbox)!: errors following a full review of the component (#DS-5482) (#1984)
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/checkbox/checkbox-required-validator.ts
  packages/components/checkbox/checkbox.component.spec.ts
  packages/components/checkbox/checkbox.html
  packages/components/checkbox/checkbox.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/checkbox-signals/README.md
  packages/schematics/src/migrations/checkbox-signals/data.ts
  packages/schematics/src/migrations/checkbox-signals/index.spec.ts
  packages/schematics/src/migrations/checkbox-signals/index.ts
  packages/schematics/src/migrations/checkbox-signals/schema.json
  packages/schematics/src/migrations/checkbox-signals/schema.ts
  tools/public_api_guard/components/checkbox.api.md
Due: yarn run cspell --files

fix(breadcrumbs): errors following a full review of the component
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/breadcrumbs/breadcrumbs.en.md
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ru.md
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.spec.ts
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/components/breadcrumbs/e2e.ts
  packages/components/breadcrumbs/public-api.ts
  packages/components/breadcrumbs/roving-focus-group.directive.ts
  packages/components/breadcrumbs/roving-focus-item.directive.ts
  packages/components/breadcrumbs/utils.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-with-auto-wrap-adaptive/breadcrumbs-with-auto-wrap-adaptive-example.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/breadcrumbs.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(breadcrumbs): address code review findings
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.spec.ts
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/components/breadcrumbs/roving-focus-group.directive.ts
  packages/components/breadcrumbs/roving-focus-item.directive.ts
  packages/components/breadcrumbs/utils.ts
Due: none

fix(input): errors following a full review of the component
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components-dev/all/template.html
  packages/components/input/_input-typography.scss
  packages/components/input/e2e.playwright-spec.ts
  packages/components/input/e2e.ts
  packages/components/input/input-errors.ts
  packages/components/input/input-number-validators.spec.ts
  packages/components/input/input-number-validators.ts
  packages/components/input/input-number.spec.ts
  packages/components/input/input-number.ts
  packages/components/input/input-password.spec.ts
  packages/components/input/input-password.ts
  packages/components/input/input.en.md
  packages/components/input/input.module.ts
  packages/components/input/input.ru.md
  packages/components/input/input.scss
  packages/components/input/input.spec.ts
  packages/components/input/input.ts
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.ts
  packages/docs-examples/components/input/input-overview/input-overview-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/input-number-surface/README.md
  packages/schematics/src/migrations/input-number-surface/data.ts
  packages/schematics/src/migrations/input-number-surface/index.spec.ts
  packages/schematics/src/migrations/input-number-surface/index.ts
  packages/schematics/src/migrations/input-number-surface/schema.json
  packages/schematics/src/migrations/input-number-surface/schema.ts
  tools/check-public-api-any/baseline.json
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

fix(input): address code review findings
  packages/components/input/input-number-validators.spec.ts
  packages/components/input/input-number-validators.ts
  packages/components/input/input-number.spec.ts
  packages/components/input/input-number.ts
  packages/schematics/src/migrations/input-number-surface/data.ts
  packages/schematics/src/migrations/input-number-surface/index.spec.ts
  packages/schematics/src/migrations/input-number-surface/index.ts
  tools/public_api_guard/components/input.api.md
Due: yarn run cspell --files

chore(input): retarget the migration to 21.0.0
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/input-number-surface/README.md
Due: yarn run cspell --files

fix(empty-state): errors following a full review of the component
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components-dev/empty-state/template.html
  packages/components/empty-state/_empty-state-theme.scss
  packages/components/empty-state/e2e.ts
  packages/components/empty-state/empty-state-tokens.scss
  packages/components/empty-state/empty-state.component.spec.ts
  packages/components/empty-state/empty-state.component.ts
  packages/components/empty-state/empty-state.en.md
  packages/components/empty-state/empty-state.module.ts
  packages/components/empty-state/empty-state.ru.md
  packages/components/empty-state/empty-state.scss
  packages/components/empty-state/examples.empty-state.en.md
  packages/components/empty-state/examples.empty-state.ru.md
  packages/docs-examples/components/empty-state/empty-state-align/empty-state-align-example.ts
  packages/docs-examples/components/empty-state/empty-state-big/empty-state-big-example.ts
  packages/docs-examples/components/empty-state/empty-state-content/empty-state-content-example.ts
  packages/docs-examples/components/empty-state/empty-state-error/empty-state-error-example.ts
  packages/docs-examples/components/empty-state/empty-state-overview/empty-state-overview-example.ts
  packages/docs-examples/components/empty-state/empty-state-size/empty-state-size-example.ts
  packages/docs-examples/components/empty-state/empty-state-title/empty-state-title-example.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/empty-state-error-color/README.md
  packages/schematics/src/migrations/empty-state-error-color/data.ts
  packages/schematics/src/migrations/empty-state-error-color/index.spec.ts
  packages/schematics/src/migrations/empty-state-error-color/index.ts
  packages/schematics/src/migrations/empty-state-error-color/schema.json
  packages/schematics/src/migrations/empty-state-error-color/schema.ts
  tools/public_api_guard/components/empty-state.api.md
Due: yarn run cspell --files

fix(empty-state): address code review findings
  packages/components/empty-state/empty-state-tokens.scss
  packages/components/empty-state/empty-state.component.spec.ts
  packages/components/empty-state/empty-state.component.ts
  packages/schematics/src/migrations/empty-state-error-color/README.md
  packages/schematics/src/migrations/empty-state-error-color/data.ts
  packages/schematics/src/migrations/empty-state-error-color/index.spec.ts
  packages/schematics/src/migrations/empty-state-error-color/index.ts
Due: yarn run cspell --files

fix(dropdown): reveal the item Home/End moved to, keep role hosts activatable
  packages/components/core/overlay/panel-width.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
