Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix: after review
  packages/docs-examples/components/filter-bar/filter-bar-search-in-pipes/filter-bar-search-in-pipes-example.ts
Due: none

fix(docs): upd article layout (#DS-3706)
  apps/docs/src/app/components/component-viewer/component-viewer.scss
Due: none

feat(sidebar): refactored module (#DS-3649)
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/sitemap.xml
  packages/components-dev/sidebar/module.ts
  packages/components-dev/sidebar/styles.scss
  packages/components-dev/sidebar/template.html
  packages/components/sidebar/public-api.ts
  packages/components/sidebar/sidebar-animations.ts
  packages/components/sidebar/sidebar.component.html
  packages/components/sidebar/sidebar.component.ts
  packages/components/sidebar/sidebar.module.ts
  packages/components/sidebar/sidebar.ru.md
  packages/components/sidebar/sidebar.scss
  packages/components/sidebar/sidebar.spec.ts
  packages/components/sidebar/sidebar.ts
  tools/generate-sitemap.ts
Due: yarn run cspell --files

fix: after review
  packages/components/filter-bar/pipes/pipe-readonly.scss
Due: none

feat(filter-bar): examples with search (#DS-3750) (#733)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.karma-spec.ts
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-button.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-readonly.scss
  packages/components/filter-bar/pipes/pipe-readonly.ts
  packages/docs-examples/components/filter-bar/filter-bar-cleanable/filter-bar-cleanable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-custom-pipe/filter-bar-custom-pipe-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-inactive-filter/filter-bar-inactive-filter-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-master-checkbox/filter-bar-master-checkbox-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipe/filter-bar-readonly-pipe-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-readonly-pipes/filter-bar-readonly-pipes-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search-in-pipes/filter-bar-search-in-pipes-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-uniq-pipes/filter-bar-uniq-pipes-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(file-upload): show icon when file is selected (#DS-3183)
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/template.html
  packages/docs-examples/components/file-upload/file-upload-indeterminate-loading-overview/file-upload-indeterminate-loading-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-compact-overview/file-upload-multiple-compact-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-custom-text-overview/file-upload-multiple-custom-text-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-default-validation-reactive-forms-overview/file-upload-multiple-default-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-error-overview/file-upload-multiple-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-required-reactive-validation/file-upload-multiple-required-reactive-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-error-overview/file-upload-single-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-overview/file-upload-single-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-required-reactive-validation/file-upload-single-required-reactive-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-validation-reactive-forms-overview/file-upload-single-validation-reactive-forms-overview-example.ts
Due: none

feat(sidebar): refactored module (#DS-3649)
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/sitemap.xml
  packages/components-dev/sidebar/module.ts
  packages/components-dev/sidebar/styles.scss
  packages/components-dev/sidebar/template.html
  packages/components/sidebar/__snapshots__/sidebar.spec.ts.snap
  packages/components/sidebar/examples.sidebar.en.md
  packages/components/sidebar/examples.sidebar.ru.md
  packages/components/sidebar/public-api.ts
  packages/components/sidebar/sidebar-animations.ts
  packages/components/sidebar/sidebar.component.html
  packages/components/sidebar/sidebar.component.ts
  packages/components/sidebar/sidebar.en.md
  packages/components/sidebar/sidebar.module.ts
  packages/components/sidebar/sidebar.ru.md
  packages/components/sidebar/sidebar.scss
  packages/components/sidebar/sidebar.spec.ts
  packages/components/sidebar/sidebar.ts
  packages/docs-examples/components/sidebar/index.ts
  packages/docs-examples/components/sidebar/ng-package.json
  packages/docs-examples/components/sidebar/sidebar-overview/sidebar-overview-example.ts
  packages/docs-examples/components/sidebar/sidebar-with-splitter/sidebar-with-splitter-example.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/ru.json
  tools/generate-sitemap.ts
  tools/public_api_guard/components/sidebar.api.md
Due: yarn run cspell --files

refactor: style attr
  packages/components-dev/popover/module.ts
  packages/components-dev/popover/template.html
Due: none

chore(sidepanel): unit tests
  packages/components/sidepanel/sidepanel.spec.ts
Due: none

chore(docs): added examples for button with icon (#DS-3596)
  packages/components-dev/button/module.ts
  packages/components/button/button.ru.md
  packages/docs-examples/components/button/button-fill-and-style-only-icon/button-fill-and-style-only-icon-example.css
  packages/docs-examples/components/button/button-fill-and-style-only-icon/button-fill-and-style-only-icon-example.html
  packages/docs-examples/components/button/button-fill-and-style-only-icon/button-fill-and-style-only-icon-example.ts
  packages/docs-examples/components/button/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix(docs): upd article layout (#DS-3706) (#735)
  apps/docs/src/app/components/component-viewer/component-viewer.scss
Due: none

style: enable all angular eslint rules (#DS-2920) (#732)
  .eslintrc.js
  apps/docs/src/app/components/navbar/navbar.component.ts
  package.json
  packages/components-dev/list/template.html
  packages/components-dev/popover/module.ts
  packages/components-dev/popover/template.html
  packages/components/datepicker/calendar.component.ts
  packages/components/datepicker/datepicker-module.ts
  packages/components/empty-state/empty-state.module.ts
  packages/components/textarea/textarea.component.ts
  packages/components/tree-select/tree-select.component.ts
  packages/docs-examples/components/accordion/accordion-in-section/accordion-in-section-example.ts
  packages/docs-examples/components/input/input-number-overview/input-number-overview-example.ts
  packages/docs-examples/components/layout-flex/layout-flex-overview/layout-flex-overview-example.ts
  tools/public_api_guard/components/datepicker.api.md
  tools/public_api_guard/components/empty-state.api.md
  yarn.lock
Due: yarn run cspell --files

chore: added dependabot config (#DS-3641)
  .github/dependabot.yml
Due: yamllint

chore(docs): added cleaner for select and tree-select in multiple mode (#DS-3486)
  packages/components-dev/tree-select/template.html
  packages/docs-examples/components/select/select-multiple/select-multiple-example.ts
  packages/docs-examples/components/select/select-prioritized-selected/select-prioritized-selected-example.ts
  packages/docs-examples/components/tree-select/tree-select-child-selection-overview/tree-select-child-selection-overview-example.ts
Due: none

chore: added dependabot config (#DS-3641) (#740)
  .github/dependabot.yml
Due: yamllint

fix(select, tree-select): added handler (keydown.space) for cleaner (#DS-3143)
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
Due: none

fix(file-upload): show icon when file is selected (#DS-3183) (#737)
  packages/components-dev/file-upload/module.ts
  packages/components-dev/file-upload/template.html
  packages/docs-examples/components/file-upload/file-upload-indeterminate-loading-overview/file-upload-indeterminate-loading-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-compact-overview/file-upload-multiple-compact-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-custom-text-overview/file-upload-multiple-custom-text-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-default-validation-reactive-forms-overview/file-upload-multiple-default-validation-reactive-forms-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-error-overview/file-upload-multiple-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-required-reactive-validation/file-upload-multiple-required-reactive-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-error-overview/file-upload-single-error-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-overview/file-upload-single-overview-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-required-reactive-validation/file-upload-single-required-reactive-validation-example.ts
  packages/docs-examples/components/file-upload/file-upload-single-validation-reactive-forms-overview/file-upload-single-validation-reactive-forms-overview-example.ts
Due: none

fix: deleted unused code
  packages/components-dev/button/module.ts
Due: none

refactor: output
  packages/components/sidebar/sidebar.spec.ts
  packages/components/sidebar/sidebar.ts
  packages/docs-examples/components/sidebar/sidebar-overview/sidebar-overview-example.ts
  packages/docs-examples/components/sidebar/sidebar-with-splitter/sidebar-with-splitter-example.ts
Due: none

chore: disabled dependabot mattermost notifications
  .github/workflows/pr-notify.yml
Due: yamllint

refactor: api
  tools/public_api_guard/components/sidebar.api.md
Due: yarn run cspell --files

chore(deps): updated @koobiq/design-tokens to 13.3.0
  apps/docs/src/assets/stackblitz/package.json
  packages/components/package.json
Due: none

chore(deps): updated @koobiq/design-tokens to 3.13.1
  apps/docs/src/assets/stackblitz/package.json
  packages/components/package.json
Due: none

chore(deps): updated @koobiq/design-tokens to 3.13.2
  apps/docs/src/assets/stackblitz/package.json
  packages/components/package.json
Due: none

chore: disabled dependabot mattermost notifications (#748)
  .github/workflows/pr-notify.yml
Due: yamllint

chore(deps): updated @koobiq/design-tokens to 3.13.2 (#731)
  apps/docs/src/assets/stackblitz/package.json
  packages/components/package.json
Due: none

chore(docs): added examples for button with icon (#DS-3596) (#739)
  packages/components/button/button.ru.md
  packages/docs-examples/components/button/button-fill-and-style-only-icon/button-fill-and-style-only-icon-example.css
  packages/docs-examples/components/button/button-fill-and-style-only-icon/button-fill-and-style-only-icon-example.html
  packages/docs-examples/components/button/button-fill-and-style-only-icon/button-fill-and-style-only-icon-example.ts
  packages/docs-examples/components/button/index.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix(select, tree-select): added handler (keydown.space) for cleaner (#DS-3143) (#747)
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
Due: none

fix(filter-bar): added onClosePipe output (#DS-3769)
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

fix(markdown): white-space and paddings for code block (#DS-3777)
  packages/components/markdown/markdown.scss
Due: none

chore: updated validate-license script and cspell package
  package.json
  tools/validate-licenses/validate-licenses.ts
  yarn.lock
Due: none

refactor: ci
  packages/components/file-upload/examples.file-upload.en.md
  packages/components/file-upload/examples.file-upload.ru.md
Due: yarn run cspell --files

refactor: undo license
  tools/validate-licenses/validate-licenses.ts
Due: none

refactor: ci prettier
  packages/components/file-upload/examples.file-upload.en.md
  packages/components/file-upload/examples.file-upload.ru.md
Due: yarn run cspell --files

chore(dev-deps): updated cspell package (#749)
  package.json
  tools/validate-licenses/validate-licenses.ts
  yarn.lock
Due: none

fix(markdown): white-space and paddings for code block (#DS-3777) (#754)
  packages/components/markdown/markdown.scss
Due: none

chore(docs): added cleaner for select and tree-select in multiple mode (#DS-3486) (#741)
  packages/components-dev/tree-select/template.html
  packages/docs-examples/components/select/select-multiple/select-multiple-example.ts
  packages/docs-examples/components/select/select-prioritized-selected/select-prioritized-selected-example.ts
  packages/docs-examples/components/tree-select/tree-select-child-selection-overview/tree-select-child-selection-overview-example.ts
Due: none

fix: after review
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files
