Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore(breadcrumbs): removed redundant duplication content hack (#DS-4034) (#1671)
  packages/components/breadcrumbs/breadcrumbs.html
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

chore: after review
  packages/components/radio/radio.component.ts
  packages/components/radio/radio.scss
Due: none

chore: fix padding
  packages/components/radio/radio.scss
Due: none

fix(radio): apply labelPosition properly (#DS-4571) (#1672)
  packages/components/radio/__screenshots__/01-dark.png
  packages/components/radio/__screenshots__/01-light.png
  packages/components/radio/e2e.ts
  packages/components/radio/radio.component.ts
  packages/components/radio/radio.scss
Due: none

chore: after review
  packages/components/breadcrumbs/e2e.playwright-spec.ts
Due: none

docs(username): refine search and highlight section wording (#DS-5132)
  packages/components/username/username.en.md
  packages/components/username/username.ru.md
Due: yarn run cspell --files

chore: update golden api
  tools/public_api_guard/components/table.api.md
Due: yarn run cspell --files

fix(breadcrumbs): close result dropdown when no hidden items (#DS-4578) (#1675)
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/components/breadcrumbs/e2e.playwright-spec.ts
  packages/components/breadcrumbs/e2e.ts
Due: none

chore: bump @koobiq/ag-grid-angular-theme to 34.4.0, added new examples (#DS-5157)
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  package.json
  packages/components-dev/ag-grid/module.ts
  packages/docs-examples/components/ag-grid/ag-grid-infinite-selection/ag-grid-infinite-selection-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-loading-overlay/ag-grid-loading-overlay-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-skeleton-cell-renderer/ag-grid-skeleton-cell-renderer-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/example-module.ts
  yarn.lock
Due: yarn run cspell --files

fix(tags): prevent focus-back loop in eventCoalescing mode (#DS-5236)
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
Due: none

feat(username): add search text function with examples (#DS-5132) (#1664)
  packages/components-dev/username/module.ts
  packages/components/username/__snapshots__/username.spec.ts.snap
  packages/components/username/username.en.md
  packages/components/username/username.pipe.ts
  packages/components/username/username.ru.md
  packages/components/username/username.spec.ts
  packages/docs-examples/components/username/index.ts
  packages/docs-examples/components/username/username-filter-bar-option/username-filter-bar-option-example.ts
  packages/docs-examples/components/username/username-search/username-search-example.ts
  tools/public_api_guard/components/username.api.md
Due: yarn run cspell --files

refactor: examples
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-loading-overlay/ag-grid-loading-overlay-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-overview/ag-grid-overview-example.ts
Due: none

fix(tree-select): add missing takeUntil to prevent subscription leaks (#DS-5143)
  packages/components/tree-select/tree-select.component.ts
Due: none

fix(title): don't show tooltip for imperceptible sub-pixel clip (#DS-4292) (#1684)
  packages/components/title/title.directive.spec.ts
  packages/components/title/title.directive.ts
Due: none

chore: after review
  packages/components/table/e2e.ts
  packages/components/table/table.en.md
  packages/components/table/table.ru.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/table/__screenshots__/01-dark.png
  packages/components/table/__screenshots__/01-light.png
Due: none

chore: fixed screenshot
  packages/components/table/e2e.ts
Due: none

refactor: column menu example
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  packages/components-dev/ag-grid/module.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-column-menu/ag-grid-column-menu-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-column-state/ag-grid-column-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-copy-selected/ag-grid-copy-selected-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-external-filter-state/ag-grid-external-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-filter-state/ag-grid-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-infinite-selection/ag-grid-infinite-selection-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-loading-overlay/ag-grid-loading-overlay-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-overview/ag-grid-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-quick-filter-state/ag-grid-quick-filter-state-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-actions/ag-grid-row-actions-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-dragging/ag-grid-row-dragging-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-skeleton-cell-renderer/ag-grid-skeleton-cell-renderer-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-status-bar/ag-grid-status-bar-example.ts
  packages/docs-examples/components/ag-grid/index.ts
  packages/docs-examples/components/content-panel/content-panel-with-grid/content-panel-with-grid-example.ts
Due: yarn run cspell --files

fix(button): replaced gap with background-clip
  packages/components/button/button-group.scss
Due: none

chore: after review
  packages/components/tags/tag-list.component.spec.ts
Due: none

feat(list, select, tree, tree-select): unify Ctrl/Cmd+A select-all across (#DS-3102)
  packages/components/core/selection/index.ts
  packages/components/core/selection/select-all.spec.ts
  packages/components/core/selection/select-all.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
  packages/docs-examples/components/select/select-search/select-search-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/list.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

feat(table): added mode disabling row hover bg-color (#DS-5234) (#1685)
  packages/components-dev/table/module.ts
  packages/components-dev/table/template.html
  packages/components/table/__screenshots__/01-dark.png
  packages/components/table/__screenshots__/01-light.png
  packages/components/table/_table-theme.scss
  packages/components/table/e2e.ts
  packages/components/table/table.component.ts
  packages/components/table/table.en.md
  packages/components/table/table.ru.md
  packages/docs-examples/components/table/index.ts
  packages/docs-examples/components/table/table-disable-hover/table-disable-hover-example.ts
  tools/public_api_guard/components/table.api.md
Due: yarn run cspell --files

fix(tree-select): add missing takeUntil to prevent subscription leaks (#DS-5143) (#1688)
  packages/components/tree-select/tree-select.component.ts
Due: none

fix: after review use signals
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
  tools/public_api_guard/components/list.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

fix: after review
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
Due: none

chore: after review
  packages/components/tags/tag-list.component.ts
Due: none

fix(filter-bar): restore keyboard focus ring on pipe trigger after selection (#DS-3829)
  packages/components/filter-bar/pipe-add.spec.ts
  packages/components/filter-bar/pipe-add.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-date.spec.ts
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.spec.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/components/filter-bar/pipes/pipe-multi-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-text.spec.ts
  packages/components/filter-bar/pipes/pipe-text.ts
  packages/components/filter-bar/pipes/pipe-tree-select.spec.ts
  packages/components/filter-bar/pipes/pipe-tree-select.ts
Due: none

fix(tags): prevent focus-back loop in eventCoalescing mode (#DS-5236) (#1687)
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
Due: none

fix: after review
  packages/components/filter-bar/pipe-add.spec.ts
  packages/components/filter-bar/pipe-add.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/components/filter-bar/pipes/pipe-select.spec.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore(docs): removed v1 palette tokens from docs build
  apps/docs/src/app/components/design-tokens-viewers/data/colors.ts
  tools/tokens/docs/sdConfig.js
Due: none

fix: example
  packages/docs-examples/components/select/select-search/select-search-example.ts
Due: none

chore: update golden file
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

fix: types for KbqSelectAllEvent
  packages/components/core/selection/select-all.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

feat(list, select, tree, tree-select): unify Ctrl/Cmd+A select-all across (#DS-3102) (#1690)
  packages/components/core/selection/index.ts
  packages/components/core/selection/select-all.spec.ts
  packages/components/core/selection/select-all.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
  packages/docs-examples/components/select/select-search/select-search-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/list.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

chore: fixed overlapping border and border color for contrast-fade group
  packages/components/button/button-group.scss
Due: none

chore: override default button styles
  packages/components/button/button-group.scss
  packages/components/button/e2e.ts
Due: none

test: updated e2e snapshots
  packages/components/button/__screenshots__/04-dark.png
  packages/components/button/__screenshots__/04-light.png
Due: none

refactor: added new redeploy flow
  .github/workflows/deploy-preview.yml
  .github/workflows/redeploy-preview.yml
Due: yamllint
