Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: test
  packages/components/form-field/form-field.ts
Due: none

fix: tests
  packages/components/filter-bar/filter-bar.karma-spec.ts
  packages/components/filter-bar/filter-bar.types.ts
Due: none

fix: update golden files
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

Revert "chore: test"
  packages/components/form-field/form-field.ts
Due: none

feat(docs): added examples for kbq-select-trigger and kbq-select-matcher (#DS-3397, #DS-3393) (#563)
  apps/docs/src/app/services/documentation-items.ts
  packages/components/select/examples.select.en.md
  packages/components/select/examples.select.ru.md
  packages/components/tree-select/examples.tree-select.en.md
  packages/components/tree-select/examples.tree-select.ru.md
  packages/components/tree-select/tree-select.html
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-custom-matcher/select-custom-matcher-example.ts
  packages/docs-examples/components/select/select-custom-trigger/select-custom-trigger-example.ts
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-custom-matcher/tree-select-custom-matcher-example.ts
  packages/docs-examples/components/tree-select/tree-select-custom-trigger/tree-select-custom-trigger-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

chore(ci): trigger overall failure if any general check fails (#565)
  .github/workflows/ci.yml
Due: yamllint

feat(breadcrumbs): support wrap mode (#DS-3352)
  packages/components-dev/breadcrumbs/template.html
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-wrap/breadcrumbs-wrap-example.ts
  packages/docs-examples/components/breadcrumbs/index.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Due: yarn run cspell --files

fix(overflow-items): infinite visibility update (#DS-3450)
  packages/components-dev/overflow-items/styles.scss
  packages/components/overflow-items/overflow-items.karma-spec.ts
  packages/components/overflow-items/overflow-items.ts
  tools/public_api_guard/components/overflow-items.api.md
Due: yarn run cspell --files

fix: tests
  packages/components/filter-bar/filter-bar.karma-spec.ts
Due: none

fix(overflow-items): infinite visibility update (#DS-3450) (#567)
  packages/components-dev/overflow-items/styles.scss
  packages/components/overflow-items/overflow-items.karma-spec.ts
  packages/components/overflow-items/overflow-items.ts
  tools/public_api_guard/components/overflow-items.api.md
Due: yarn run cspell --files

chore: added unit test,split jest and karma
  packages/components/textarea/textarea.component.karma-spec.ts
  packages/components/textarea/textarea.component.spec.ts
Due: none

chore: update date-adapter & date-formatter
  package.json
  yarn.lock
Due: none

chore: bump version to 18.18.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

refactor: api
  tools/public_api_guard/components-experimental/form-field.api.md
Due: yarn run cspell --files

refactor: drop
  packages/components-experimental/form-field/experimental-form-field.en.md
  packages/components-experimental/form-field/experimental-form-field.ru.md
  packages/components-experimental/form-field/form-field.ts
Due: yarn run cspell --files

chore(docs): added en docs for experimental-form-field (#569)
  packages/components-experimental/form-field/experimental-form-field.en.md
  packages/components-experimental/form-field/experimental-form-field.ru.md
  packages/components-experimental/form-field/form-field.ts
  tools/public_api_guard/components-experimental/form-field.api.md
Due: yarn run cspell --files

fix(dropdown): item caption color (#DS-3342)
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/dropdown-tokens.scss
Due: none

chore(dev): updated dropdown module
  packages/components-dev/dropdown/main.ts
  packages/components-dev/dropdown/module.ts
  packages/components-dev/dropdown/styles.scss
  packages/components-dev/dropdown/template.html
Due: none

refactor: added animation
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/components/actions-panel/module.ts
  packages/components/core/animation/animation.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

feat(actions-panel): added new KbqActionsPanelModule
  angular.json
  apps/docs/src/app/services/documentation-items.ts
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components-dev/actions-panel/tsconfig.app.json
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.ts
  packages/components/actions-panel/examples.actions-panel.en.md
  packages/components/actions-panel/examples.actions-panel.ru.md
  packages/components/actions-panel/index.ts
  packages/components/actions-panel/module.ts
  packages/components/actions-panel/ng-package.json
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/components/actions-panel/ng-package.json
  packages/docs-examples/example-module.ts
  tools/api-extractor/config.json
  tools/public_api_guard/components/actions-panel.api.md
  tsconfig.json
Due: yarn run cspell --files

refactor: sitemap
  tools/generate-sitemap.ts
Due: none

refactor: actions panel dev
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/template.html
Due: none

refactor: package scripts
  package.json
Due: none

refactor: update example
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: added disabledClose property
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: added RTL support
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
Due: none

refactor: update config
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.ts
Due: none

refactor: close on destroy
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/example-module.ts
Due: none

refactor: api
  tools/public_api_guard/components/actions-panel.api.md
Due: yarn run cspell --files

refactor: simplify example
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

refactor: added specs
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/styles.scss
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  tools/public_api_guard/components/actions-panel.api.md
Due: yarn run cspell --files

refactor: added docs
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/components/core/animation/animation.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: upd docs
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
Due: yarn run cspell --files

refactor: api
  packages/components/actions-panel/actions-panel-container.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

refactor: added tooltip
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/locale-selector.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/fa-IR.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/core/locales/zh-CN.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Due: none

refactor: added svg previews
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/assets/images/welcome/actions-panel-dark.png
  apps/docs/src/assets/images/welcome/actions-panel-light.png
Due: none

refactor: added example
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/index.ts
Due: yarn run cspell --files

refactor: overlayContainer
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

refactor: close on esc
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
Due: none
