Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix(select, tree-select, dropdown): focus state for the option (#DS-4631) (#1425)
  packages/components/autocomplete/__screenshots__/01-dark.png
  packages/components/autocomplete/__screenshots__/01-light.png
  packages/components/core/option/_option-theme.scss
  packages/components/core/option/option.ts
  packages/components/dropdown/__screenshots__/01-dark.png
  packages/components/dropdown/__screenshots__/01-light.png
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/select/__screenshots__/01-dark.png
  packages/components/select/__screenshots__/01-light.png
  packages/components/select/__screenshots__/02-dark.png
  packages/components/select/__screenshots__/02-light.png
  packages/components/select/__screenshots__/03-dark.png
  packages/components/select/__screenshots__/03-light.png
  packages/components/select/__screenshots__/04-dark.png
  packages/components/select/__screenshots__/04-light.png
  packages/components/select/e2e.ts
  packages/components/select/select.component.ts
  packages/components/tags/__screenshots__/03-dark.png
  packages/components/tags/__screenshots__/03-light.png
  packages/components/timezone/__screenshots__/01-dark.png
  packages/components/timezone/__screenshots__/01-light.png
  packages/components/timezone/__screenshots__/02-light.png
  packages/components/timezone/e2e.ts
  packages/components/tree/__screenshots__/01-dark.png
  packages/components/tree/__screenshots__/01-light.png
  packages/components/tree/_tree-theme.scss
  packages/components/tree/e2e.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-option.scss
  packages/components/tree/tree-selection.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

chore(tooltip): docs v2 (#DS-4735) (#1422)
  apps/docs/src/assets/images/tooltip/tooltip-example.webp
  apps/docs/src/assets/images/tooltip/tooltip-example@2x.webp
  apps/docs/src/assets/images/tooltip/tooltip-hard__structure.jpg
  apps/docs/src/assets/images/tooltip/tooltip__structure.png
  packages/components-dev/tooltip/module.ts
  packages/components/tooltip/examples.tooltip.en.md
  packages/components/tooltip/examples.tooltip.ru.md
  packages/components/tooltip/tooltip.en.md
  packages/components/tooltip/tooltip.ru.md
  packages/docs-examples/components/tooltip/index.ts
  packages/docs-examples/components/tooltip/tooltip-arrow-and-offset/tooltip-arrow-and-offset-example.ts
  packages/docs-examples/components/tooltip/tooltip-arrow/tooltip-arrow-example.ts
  packages/docs-examples/components/tooltip/tooltip-disabled/tooltip-disabled-example.ts
  packages/docs-examples/components/tooltip/tooltip-extended/tooltip-extended-example.ts
  packages/docs-examples/components/tooltip/tooltip-hide-with-timeout/tooltip-hide-with-timeout-example.ts
  packages/docs-examples/components/tooltip/tooltip-interactive/tooltip-interactive-example.ts
  packages/docs-examples/components/tooltip/tooltip-long/tooltip-long-example.ts
  packages/docs-examples/components/tooltip/tooltip-multiple-lines/tooltip-multiple-lines-example.ts
  packages/docs-examples/components/tooltip/tooltip-offset/tooltip-offset-example.ts
  packages/docs-examples/components/tooltip/tooltip-placement-center/tooltip-placement-center-example.css
  packages/docs-examples/components/tooltip/tooltip-placement-center/tooltip-placement-center-example.ts
  packages/docs-examples/components/tooltip/tooltip-placement-edges/tooltip-placement-edges-example.css
  packages/docs-examples/components/tooltip/tooltip-placement-edges/tooltip-placement-edges-example.ts
  packages/docs-examples/components/tooltip/tooltip-placements/tooltip-placements-example.ts
  packages/docs-examples/components/tooltip/tooltip-relative-to-pointer/tooltip-relative-to-pointer-example.ts
  packages/docs-examples/components/tooltip/tooltip-style/tooltip-style-example.ts
  packages/docs-examples/components/tooltip/tooltip-wide-width/tooltip-wide-width-example.ts
  packages/docs-examples/components/tooltip/tooltip-width/tooltip-width-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix(input): block stepper on disabled (#DS-4723) (#1380)
  packages/components/form-field/stepper.ts
  packages/components/icon/icon-button.scss
  packages/components/input/input-number.spec.ts
Due: none

fix(navbar): update tooltip when collapsed text changed (#DS-4275) (#1402)
  packages/components/navbar/navbar-item.component.ts
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

fix(filter-bar): layout for date pipe (#DS-4069) (#1399)
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.scss
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-text.html
Due: none

fix(tabs): custom tab label display (#DS-4706) (#1404)
  packages/components-dev/tabs/module.ts
  packages/components-dev/tabs/template.html
  packages/components/tabs/_tabs-common.scss
  packages/docs-examples/components/tabs/tabs-vertical/tabs-vertical-example.css
  packages/docs-examples/components/tabs/tabs-vertical/tabs-vertical-example.ts
Due: none

fix(tooltip): don't use arrows by default (#DS-4731) (#1410)
  packages/components-dev/tooltip/module.ts
  packages/components-dev/tooltip/template.html
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.spec.ts
Due: none

fix(popover): delete classes after closing (#DS-4756) (#1413)
  packages/components/core/pop-up/pop-up-trigger.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(search-expandable): don't use [disabled] with formControl (#DS-4690) (#1416)
  packages/components/search-expandable/search-expandable.html
  packages/components/search-expandable/search-expandable.spec.ts
Due: none

chore(inline-edit): added info about validation in FormGroup (#DS-4802) (#1429)
  packages/components/inline-edit/inline-edit.en.md
  packages/components/inline-edit/inline-edit.ru.md
Due: yarn run cspell --files

chore: removed unused styles
  packages/docs-examples/components/button/button-group-style/button-group-style-example.ts
Due: none

fix(link): multiline hit area gap, underline (#DS-3562, #DS-4778) (#1418)
  packages/components/link/__screenshots__/01-dark.png
  packages/components/link/__screenshots__/01-light.png
  packages/components/link/_link-theme.scss
  packages/components/link/link-tokens.scss
  packages/components/link/link.component.ts
  packages/components/toast/__screenshots__/01-dark.png
  packages/components/toast/__screenshots__/01-light.png
  packages/docs-examples/components/link/link-multi-line/link-multi-line-example.ts
  tools/public_api_guard/components/link.api.md
Due: yarn run cspell --files

chore: bump version to 18.39.4 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

chore: introduced separate mixins for buttons
  packages/components/button/button.scss
  packages/components/core/styles/common/_groups-mixins.scss
Due: none

chore: change MATTERMOST_ENDPOINT_URL to MATTERMOST_WEBHOOK_URL
  .github/workflows/publish.yml
  packages/cli/src/release/notify-release.ts
Due: yamllint

chore: updated examples, extracted styles & introduced new component
  apps/docs/src/styles/_theme-kbq.scss
  packages/components-dev/main.scss
  packages/components/button/button-group.scss
  packages/components/button/button-group.ts
  packages/components/button/button.module.ts
  packages/components/button/button.scss
  packages/components/button/public-api.ts
  packages/components/core/styles/common/_groups.scss
  packages/docs-examples/components/button/button-group-content/button-group-content-example.ts
  packages/docs-examples/components/button/button-group-custom-content/button-group-custom-content-example.ts
  packages/docs-examples/components/button/button-group-overview/button-group-overview-example.ts
  packages/docs-examples/components/button/button-group-style/button-group-style-example.ts
  packages/docs-examples/components/button/button-group-vertical/button-group-vertical-example.ts
Due: none

fix: relative import in common.d.ts
  packages/components/core/select/common.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore: bump version to 19.5.0 w/ changelog
  CHANGELOG.md
  package.json
Due: yarn run cspell --files

chore: handle multiple selectors
  packages/components/button/button-group.scss
  packages/components/core/styles/common/_groups-mixins.scss
Due: none

chore: handle button/button-icon
  packages/components/button/button-group.scss
  packages/components/button/button-group.ts
  packages/components/core/styles/common/_groups-mixins.scss
  packages/docs-examples/components/button/button-group-style/button-group-style-example.ts
Due: none

chore: added jsdoc & screenshot test
  packages/components/button/button-group.ts
  packages/components/button/e2e.playwright-spec.ts
  packages/components/button/e2e.ts
  packages/e2e/routes.ts
Due: none

test: updated e2e snapshots
  packages/components/button/__screenshots__/04-dark.png
  packages/components/button/__screenshots__/04-light.png
Due: none

chore: upd golden file
  tools/public_api_guard/components/button.api.md
Due: yarn run cspell --files

feat(inline-edit): date time example (#DS-4469)
  packages/components-dev/inline-edit/main.ts
  packages/components-dev/inline-edit/module.ts
  packages/components/inline-edit/inline-edit.ts
  packages/docs-examples/components/inline-edit/index.ts
  packages/docs-examples/components/inline-edit/inline-edit-date-time/inline-edit-date-time-example.ts
Due: none

feat(inline-edit): handle multiple form fields
  packages/components/inline-edit/inline-edit.ts
Due: none

chore: updated date time example
  packages/components/inline-edit/examples.inline-edit.en.md
  packages/components/inline-edit/examples.inline-edit.ru.md
  packages/docs-examples/components/inline-edit/inline-edit-date-time/inline-edit-date-time-example.ts
Due: yarn run cspell --files

chore: after review
  packages/components/button/button-group.en.md
  packages/components/button/button-group.ru.md
  packages/components/button/button-group.ts
  tools/public_api_guard/components/button.api.md
Due: yarn run cspell --files

feat(select, tree-select, dropdown): added loading state (#DS-3134)
  packages/components-dev/select/module.ts
  packages/components-dev/select/template.html
  packages/components/core/select/common.ts
  packages/components/select/select.component.ts
  packages/components/select/select.html
  packages/components/select/select.module.ts
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-empty/select-empty-example.ts
  packages/docs-examples/components/select/select-loading/select-loading-example.ts
  packages/docs-examples/example-module.ts
Due: none

fix(docs): edit button group article (#DS-4559)
  packages/components/button/button-group.ru.md
Due: yarn run cspell --files

chore: after review
  packages/components/button/button.scss
  packages/docs-examples/components/button/button-group-content/button-group-content-example.ts
  packages/docs-examples/components/button/button-group-custom-content/button-group-custom-content-example.ts
  packages/docs-examples/components/button/button-group-overview/button-group-overview-example.ts
  packages/docs-examples/components/button/button-group-style/button-group-style-example.ts
  packages/docs-examples/components/button/button-group-vertical/button-group-vertical-example.ts
Due: none

chore: added api to button group
  apps/docs/src/app/structure.ts
  apps/docs/src/sitemap.xml
  packages/components/button/button-group.en.md
  packages/components/button/button-group.ru.md
Due: yarn run cspell --files

feat(core): updated label padding for horizontal forms (#DS-4754)
  .gitignore
  package.json
  packages/components/core/forms/__screenshots__/01-light.png
  packages/components/core/forms/_forms.scss
  packages/components/core/forms/e2e.playwright-spec.ts
  packages/components/core/forms/e2e.ts
  packages/e2e/routes.ts
Due: none

test: updated e2e snapshots
  packages/components/core/forms/__screenshots__/01-light.png
Due: none

chore(ag-grid): added ag-grid for actions-panel examples, bump @koobiq/ag-grid-angular-theme to 34.2.0 (#DS-4697)
  apps/docs/src/app/components/stackblitz/stackblitz-writer.ts
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
  package.json
  packages/components-dev/actions-panel/styles.scss
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-copy-selected/ag-grid-copy-selected-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-overview/ag-grid-overview-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-actions/ag-grid-row-actions-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-row-dragging/ag-grid-row-dragging-example.ts
  packages/docs-examples/components/ag-grid/ag-grid-status-bar/ag-grid-status-bar-example.ts
  packages/docs-examples/components/content-panel/content-panel-with-grid/content-panel-with-grid-example.ts
  yarn.lock
Due: yarn run cspell --files

chore: moved gap logic to inner impl & updated examples
  packages/components/button/button-group.scss
  packages/docs-examples/components/button/button-group-content/button-group-content-example.ts
  packages/docs-examples/components/button/button-group-custom-content/button-group-custom-content-example.ts
  packages/docs-examples/components/button/button-group-overview/button-group-overview-example.ts
  packages/docs-examples/components/button/button-group-style/button-group-style-example.ts
  packages/docs-examples/components/button/button-group-vertical/button-group-vertical-example.ts
Due: none

refactor: design review
  packages/components/core/forms/e2e.ts
Due: none

refactor: copilot review
  docs/data-grid/ag-grid/ag-grid.en.md
  docs/data-grid/ag-grid/ag-grid.ru.md
Due: yarn run cspell --files
