Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

chore: removed unused styles (#DS-4684) (#1814)
  packages/components/core/styles/_koobiq-theme.scss
  packages/components/core/styles/_tokens.kbq.import.scss
  packages/components/core/styles/_tokens.scss
  packages/components/core/styles/common/_tokens.scss
  packages/components/core/styles/theming/_components-theming.scss
  packages/components/core/styles/theming/_index.scss
  packages/components/core/styles/theming/_theming.scss
  packages/components/core/styles/theming/prebuilt/dark-theme.scss
  packages/components/core/styles/theming/prebuilt/light-theme.scss
  packages/components/package.json
Due: none

fix(docs): migrate remaining decorators to signal APIs, flag stale isNew badges, add e2e smoke (#DS-5390) (#1824)
  .github/workflows/e2e.yml
  .github/workflows/units.yml
  .gitignore
  AGENTS.md
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/anchors/anchors.component.spec.ts
  apps/docs/src/app/components/anchors/anchors.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.spec.ts
  apps/docs/src/app/components/component-viewer/component-viewer.component.ts
  apps/docs/src/app/components/component-viewer/component-viewer.template.html
  apps/docs/src/app/components/copy-button/copy-button.spec.ts
  apps/docs/src/app/components/example-viewer/example-viewer.ts
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.html
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.ts
  apps/docs/src/app/components/live-example/docs-live-example.ts
  apps/docs/src/app/components/sidenav/sidenav.ts
  apps/docs/src/app/components/stackblitz/stackblitz-writer.spec.ts
  apps/docs/src/app/structure.ts
  docs/guides/06-testing.md
  package.json
  playwright.docs.config.ts
  tools/cspell-locales/en.json
  tools/prune-is-new-badges/index.ts
  tools/prune-is-new-badges/prune-is-new-badges.spec.ts
  tools/prune-is-new-badges/prune-is-new-badges.ts
  tools/serve-docs.mjs
Due: yarn run cspell --files, yamllint

fix(dropdown,autocomplete,filter-bar): remove overlay hosts from layout (#DS-4886) (#1806)
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/autocomplete/autocomplete.spec.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.spec.ts
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.spec.ts
  packages/components/navbar/__screenshots__/02-dark.png
  packages/components/navbar/__screenshots__/02-light.png
  packages/docs-examples/components/dropdown/dropdown-disabled/dropdown-disabled-example.html
  packages/docs-examples/components/dropdown/dropdown-navigation-wrap/dropdown-navigation-wrap-example.html
  packages/docs-examples/components/dropdown/dropdown-open-by-arrow-down/dropdown-open-by-arrow-down-example.html
  packages/docs-examples/components/dropdown/dropdown-overview/dropdown-overview-example.html
  packages/docs-examples/components/dropdown/dropdown-x-position/dropdown-x-position-example.ts
Due: none

docs(select): document custom tag content via kbqSelectTagContent (#DS-5208) (#1838)
  packages/components-dev/select/module.ts
  packages/components/select/examples.select.en.md
  packages/components/select/examples.select.ru.md
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-custom-matcher/select-custom-matcher-example.ts
  packages/docs-examples/components/select/select-custom-tag-content/select-custom-tag-content-example.ts
  packages/docs-examples/example-module.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
Due: yarn run cspell --files

fix(docs): show two-tone icons (#DS-4877) (#1836)
  apps/docs/src/app/components/icons-viewer/icon-preview-modal/icon-preview-modal.scss
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.ts
  apps/docs/src/app/components/icons-viewer/icons-viewer.scss
  apps/docs/src/app/components/icons-viewer/icons-viewer.template.html
  apps/docs/src/app/config.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/i18n.spec.ts
  apps/docs/src/app/services/i18n.ts
  apps/docs/src/app/services/icon-items.ts
  package.json
  packages/components/datepicker/__screenshots__/01-dark.png
  packages/components/datepicker/__screenshots__/01-light.png
  packages/components/icon/icon.en.md
  packages/components/icon/icon.ru.md
  packages/components/notification-center/__screenshots__/01-dark.png
  packages/components/notification-center/__screenshots__/01-light.png
  yarn.lock
Due: yarn run cspell --files

feat(dl): added align inputs (#DS-2448) (#1837)
  packages/components/dl/__screenshots__/01-dark.png
  packages/components/dl/__screenshots__/01-light.png
  packages/components/dl/dl.component.spec.ts
  packages/components/dl/dl.component.ts
  packages/components/dl/dl.scss
  packages/components/dl/e2e.ts
  tools/public_api_guard/components/dl.api.md
Due: yarn run cspell --files

fix(tags): unfocus input on TAB keypress (#DS-5399) (#1844)
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
Due: none

fix(accordion): allow interactive elements in header and content (#DS-4614) (#1842)
  packages/components-dev/accordion/module.ts
  packages/components-dev/accordion/template.html
  packages/components/accordion/_accordion-theme.scss
  packages/components/accordion/accordion-content.directive.ts
  packages/components/accordion/accordion-header.ts
  packages/components/accordion/accordion-item.ts
  packages/components/accordion/accordion-tokens.scss
  packages/components/accordion/accordion-trigger.directive.ts
  packages/components/accordion/accordion-trigger.scss
  packages/components/accordion/accordion.en.md
  packages/components/accordion/accordion.ru.md
  packages/components/accordion/accordion.scss
  packages/components/accordion/accordion.spec.ts
  packages/components/accordion/accordion.ts
  packages/components/icon/__screenshots__/02-light.png
  packages/docs-examples/components/accordion/accordion-header/accordion-header-example.html
  packages/docs-examples/components/accordion/accordion-interactive-elements/accordion-interactive-elements-example.html
  packages/docs-examples/components/accordion/accordion-interactive-elements/accordion-interactive-elements-example.ts
  packages/docs-examples/components/accordion/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/accordion.api.md
Due: yarn run cspell --files

chore: fixed flaky test with svg icons (#1848)
  packages/components/icon/__screenshots__/02-light.png
  packages/components/icon/e2e.playwright-spec.ts
  packages/components/icon/e2e.ts
Due: none

feat(inline-edit): only overlay for single select (#DS-4870) (#1840)
  packages/components-dev/inline-edit/module.ts
  packages/components/core/form-field/form-field-ref.ts
  packages/components/form-field/form-field.ts
  packages/components/inline-edit/__screenshots__/06-dark.png
  packages/components/inline-edit/__screenshots__/06-light.png
  packages/components/inline-edit/e2e.playwright-spec.ts
  packages/components/inline-edit/e2e.ts
  packages/components/inline-edit/inline-edit.en.md
  packages/components/inline-edit/inline-edit.html
  packages/components/inline-edit/inline-edit.ru.md
  packages/components/inline-edit/inline-edit.scss
  packages/components/inline-edit/inline-edit.spec.ts
  packages/components/inline-edit/inline-edit.ts
  packages/docs-examples/components/inline-edit/index.ts
  packages/docs-examples/components/inline-edit/inline-edit-select-basic/inline-edit-select-basic-example.ts
  packages/docs-examples/components/inline-edit/inline-edit-select-multiline/inline-edit-select-multiline-example.ts
  packages/docs-examples/components/inline-edit/inline-edit-select/inline-edit-select-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/inline-edit.api.md
Due: yarn run cspell --files

feat(core): add duration date pipes (#DS-4652) (#1843)
  packages/components-dev/date-pipes/module.ts
  packages/components-dev/date-pipes/template.html
  packages/components/core/formatters/date/date-formatter.en.md
  packages/components/core/formatters/date/date-formatter.ru.md
  packages/components/core/formatters/date/formatter.pipe.ts
  packages/components/core/formatters/date/formatter.spec.ts
  packages/components/core/formatters/index.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore(deps-dev): bump ip-address from 10.2.0 to 10.4.0 and hono from 4.12.33 to 4.13.0 (#DS-5215) (#1851)
  yarn.lock
Due: none

fix(form-field): sync heights inside fieldset (#DS-5370) (#1841)
  packages/components-dev/form-field/module.ts
  packages/components/form-field/e2e.playwright-spec.ts
  packages/components/form-field/fieldset.scss
Due: none

fix(select): keep the active option when options are appended (#1847)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/docs-examples/components/select/select-loading/select-loading-example.ts
  packages/docs-examples/components/select/select-paging-error/select-paging-error-example.ts
  packages/docs-examples/components/select/select-paging/select-paging-example.ts
Due: none

feat(tree): move focus to the parent node on repeated arrow left (#DS-4750) (#1852)
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
  packages/components/tree/tree.en.md
  packages/components/tree/tree.ru.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

docs(sidepanel): modal mode with close disabled (#DS-2313) (#1857)
  packages/components-dev/sidepanel/module.ts
  packages/components/sidepanel/examples.sidepanel.en.md
  packages/components/sidepanel/examples.sidepanel.ru.md
  packages/components/sidepanel/sidepanel.en.md
  packages/components/sidepanel/sidepanel.ru.md
  packages/docs-examples/components/sidepanel/index.ts
  packages/docs-examples/components/sidepanel/sidepanel-disable-close/sidepanel-disable-close-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix(list,select): disabled and selected (#DS-5375) (#1855)
  packages/components/core/option/_option-theme.scss
  packages/components/list/__screenshots__/02-light.png
  packages/components/list/_list-theme.scss
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/e2e.ts
  packages/components/select/__screenshots__/05-light.png
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/e2e.ts
  packages/e2e/routes.ts
Due: none

fix(timepicker): prevent extra digits when editing incomplete time (#DS-3985) (#1854)
  packages/components/timepicker/e2e.playwright-spec.ts
  packages/components/timepicker/e2e.ts
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timepicker/timepicker.spec.ts
Due: none

chore(e2e): run Playwright visual tests in Docker (#DS-5311) (#1845)
  .gitattributes
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  AGENTS.md
  docs/guides/06-testing.md
  package.json
  packages/e2e/README.md
  playwright.config.ts
  tools/e2e/Dockerfile
  tools/e2e/Dockerfile.dockerignore
  tools/e2e/assert-browsers.js
  tools/e2e/docker-compose.update.yml
  tools/e2e/docker-compose.yml
  tools/e2e/run.js
Due: yarn run cspell --files, yamllint

chore: ignore @eslint/js majors alongside eslint in dependabot
  .github/dependabot.yml
Due: yamllint

chore(security): resolve open code scanning alerts (#DS-5215) (#1877)
  .github/workflows/codeql.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/docs-stable.yml
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  .github/workflows/publish.yml
  .github/workflows/redeploy-preview.yml
  .yarnrc.yml
  package.json
  packages/components/core/formatters/filesize/formatter.spec.ts
  packages/components/core/formatters/number/formatter.spec.ts
  tools/e2e/Dockerfile
  yarn.lock
Due: yamllint

chore: skip TLS verification for the Mattermost webhook (#1878)
  .github/workflows/pr-notify.yml
  .github/workflows/publish.yml
  packages/cli/src/release/notify-release.ts
Due: yamllint

feat(tags): range selection (#DS-4264) (#1876)
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.component.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(navbar,select,tree-select,resizer): measure element size in one box model (#DS-4022) (#1880)
  packages/components/button-toggle/button-toggle-tokens.scss
  packages/components/button-toggle/button-toggle.scss
  packages/components/core/navbar/rectangle-item.ts
  packages/components/core/option/action.scss
  packages/components/core/styles/common/_select.scss
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/icon/__screenshots__/02-light.png
  packages/components/navbar/__screenshots__/02-dark.png
  packages/components/navbar/__screenshots__/02-light.png
  packages/components/navbar/__screenshots__/03-dark.png
  packages/components/navbar/__screenshots__/03-light.png
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/vertical-navbar.scss
  packages/components/notification-center/notification-item.scss
  packages/components/resizer/resizer.spec.ts
  packages/components/resizer/resizer.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/navbar.api.md
Due: yarn run cspell --files

fix(security): repair the regular expressions and path handling found by code scanning (#DS-5215) (#1881)
  .github/workflows/scorecard.yml
  .github/workflows/units.yml
  package.json
  packages/cli/src/release/version-name/parse-version.spec.ts
  packages/cli/src/release/version-name/parse-version.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/markdown/markdown.service.spec.ts
  packages/components/markdown/markdown.service.ts
  playwright.docs.config.ts
  tools/markdown-to-html/marked/docs-marked-renderer.spec.ts
  tools/markdown-to-html/marked/docs-marked-renderer.ts
  tools/serve-docs.mjs
Due: yamllint

chore(e2e): run e2e:docker on Windows without Docker Desktop (#1886)
  docs/guides/06-testing.md
  eslint.config.js
  packages/e2e/README.md
  tools/e2e/run.js
Due: yarn run cspell --files

feat(core): extract shared KbqCheckable primitive (#DS-3498) (#1883)
  apps/docs/src/app/structure.ts
  packages/components-dev/checkbox/module.ts
  packages/components/checkbox/checkbox-config.ts
  packages/components/checkbox/checkbox.ts
  packages/components/checkbox/examples.checkbox.en.md
  packages/components/checkbox/examples.checkbox.ru.md
  packages/components/core/common-behaviors/checkable.spec.ts
  packages/components/core/common-behaviors/checkable.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/toggle/toggle.component.ts
  packages/docs-examples/components/checkbox/block-checkbox/block-checkbox-example.css
  packages/docs-examples/components/checkbox/block-checkbox/block-checkbox-example.ts
  packages/docs-examples/components/checkbox/index.ts
  tools/public_api_guard/components/checkbox.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/toggle.api.md
Due: yarn run cspell --files

fix(select): keep the selected value when options are filtered under virtual scroll (#DS-4698) (#1884)
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
Due: yarn run cspell --files

chore: create the GitHub release automatically on tag push (#DS-3378) (#1887)
  .github/release.yml
  .github/workflows/actions/generate-changelog/action.yml
  .github/workflows/pr-label.yml
  .github/workflows/publish.yml
  docs/guides/05-releasing-packages.md
  packages/cli/src/release/git/github-urls.ts
  packages/cli/src/release/publish-release-github-ci.ts
Due: yarn run cspell --files, yamllint

feat(code-block): added alwaysShowActionbar attribute (#DS-4721) (#1891)
  packages/components/code-block/code-block.en.md
  packages/components/code-block/code-block.ru.md
  packages/components/code-block/code-block.spec.ts
  packages/components/code-block/code-block.ts
  packages/docs-examples/components/code-block/code-block-with-filled/code-block-with-filled-example.ts
  tools/public_api_guard/components/code-block.api.md
Due: yarn run cspell --files

chore: added Comments section for AGENTS.md (#1890)
  AGENTS.md
Due: yarn run cspell --files

fix(components): scroll strategy tokens throw NullInjectorError outside their NgModule (#DS-3522) (#1888)
  apps/docs/src/app/services/i18n.characterization.spec.ts
  apps/docs/src/assets/stackblitz/src/main.ts
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/autocomplete.module.ts
  packages/components/button-toggle/button-toggle.module.ts
  packages/components/core/select/constants.ts
  packages/components/datepicker/calendar-header.component.ts
  packages/components/datepicker/calendar-header.spec.ts
  packages/components/datepicker/calendar.component.ts
  packages/components/datepicker/datepicker-errors.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker-module.ts
  packages/components/datepicker/datepicker.component.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/datepicker/month-view.component.ts
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.module.ts
  packages/components/modal/examples.modal.en.md
  packages/components/modal/examples.modal.ru.md
  packages/components/notification-center/notification-center.module.ts
  packages/components/notification-center/notification-center.ts
  packages/components/popover/popover.component.ts
  packages/components/popover/popover.module.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.module.ts
  packages/components/time-range/time-range.service.ts
  packages/components/timezone/timezone-select.component.spec.ts
  packages/components/title/title.directive.spec.ts
  packages/components/tooltip/tooltip.component.ts
  packages/components/tooltip/tooltip.module.ts
  packages/components/tree-select/tree-select.module.ts
Due: yarn run cspell --files

chore: regenerate the public API guard
  tools/public_api_guard/components/button-toggle.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

feat(tags): add paste/input tag separators (#DS-4712) (#1894)
  packages/components-dev/tag/module.ts
  packages/components/tags/e2e.playwright-spec.ts
  packages/components/tags/e2e.ts
  packages/components/tags/public-api.ts
  packages/components/tags/tag-default-options.ts
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag.module.ts
  packages/docs-examples/components/tags/tag-autocomplete-onpaste-off/tag-autocomplete-onpaste-off-example.ts
  packages/docs-examples/components/tags/tag-input-onpaste-off/tag-input-onpaste-off-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

chore(security): document that the CodeQL job name gates merges to main
  .github/workflows/codeql.yml
Due: yamllint

chore(schematics): document the scrollbar-deprecated-path migration (#1907)
  packages/schematics/scripts/copy-meta-to-dist.js
  packages/schematics/src/migrations/scrollbar-deprecated-path/README.md
Due: yarn run cspell --files

feat(file-upload): duplicate handling and file select strategy (#DS-4617) (#1898)
  packages/components/file-upload/file-upload.en.md
  packages/components/file-upload/file-upload.ru.md
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/file-upload.ts
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/primitives/file-picker.spec.ts
  packages/components/file-upload/primitives/file-picker.ts
  packages/docs-examples/components/file-upload/file-upload-multiple-add-strategy/file-upload-multiple-add-strategy-example.ts
  packages/docs-examples/components/file-upload/index.ts
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

feat(form-field): browser autofill tints the field instead of overriding its state (#DS-4096) (#1908)
  packages/components/core/common-behaviors/autofill.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/core/styles/theming/_theming.scss
  packages/components/form-field/__screenshots__/04-dark.png
  packages/components/form-field/__screenshots__/04-light.png
  packages/components/form-field/__screenshots__/05-dark.png
  packages/components/form-field/__screenshots__/05-light.png
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/autofill.spec.ts
  packages/components/form-field/e2e.playwright-spec.ts
  packages/components/form-field/e2e.ts
  packages/components/form-field/form-field-control.ts
  packages/components/form-field/form-field-tokens.scss
  packages/components/form-field/form-field.en.md
  packages/components/form-field/form-field.ru.md
  packages/components/form-field/form-field.scss
  packages/components/form-field/form-field.ts
  packages/components/input/e2e.ts
  packages/components/input/input-password.ts
  packages/components/input/input.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-text-control.ts
  packages/components/textarea/textarea.component.ts
  packages/e2e/routes.ts
  packages/e2e/utils/autofill.ts
  packages/e2e/utils/index.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/input.api.md
  tools/public_api_guard/components/tags.api.md
  tools/public_api_guard/components/textarea.api.md
Due: yarn run cspell --files

chore: ignore ag-grid major updates (#1927)
  .github/dependabot.yml
Due: yamllint
