Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix(list,select): disabled and selected (#DS-5375) (#1855)
  packages/components/core/option/_option-theme.scss
  packages/components/list/__screenshots__/02-light.png
  packages/components/list/_list-theme.scss
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/e2e.ts
  packages/components/select/__screenshots__/05-light.png
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/e2e.ts
  packages/e2e/routes.ts
Due: none

chore(e2e): run Playwright visual tests in Docker (#DS-5311)
  .dockerignore
  .gitattributes
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  AGENTS.md
  docs/guides/06-testing.md
  package.json
  packages/e2e/README.md
  playwright.config.ts
  tools/e2e/Dockerfile
  tools/e2e/assert-browsers.js
  tools/e2e/docker-compose.update.yml
  tools/e2e/docker-compose.yml
  tools/e2e/run.js
Due: yarn run cspell --files, yamllint

chore(e2e): allowlist the Docker build context (#DS-5311)
  .dockerignore
  tools/e2e/Dockerfile
  tools/e2e/Dockerfile.dockerignore
  tools/e2e/assert-browsers.js
  tools/e2e/docker-compose.update.yml
Due: yamllint

fix: after review
  .github/workflows/e2e.yml
  tools/e2e/Dockerfile
  tools/e2e/assert-browsers.js
Due: yamllint

chore(deps-dev): keep eslint on 9.x in the eslint group bump
  .github/dependabot.yml
  eslint.config.js
  package.json
  yarn.lock
Due: yamllint

chore: group @eslint/* and @eslint-community/* with eslint in dependabot
  .github/dependabot.yml
Due: yamllint

fix(e2e): repin the base image to the Playwright 1.62.1 digest (#DS-5311)
  tools/e2e/Dockerfile
Due: none

fix(timepicker): prevent extra digits when editing incomplete time (#DS-3985) (#1854)
  packages/components/timepicker/e2e.playwright-spec.ts
  packages/components/timepicker/e2e.ts
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timepicker/timepicker.spec.ts
Due: none

chore(e2e): run Playwright visual tests in Docker (#DS-5311) (#1845)
  .gitattributes
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  AGENTS.md
  docs/guides/06-testing.md
  package.json
  packages/e2e/README.md
  playwright.config.ts
  tools/e2e/Dockerfile
  tools/e2e/Dockerfile.dockerignore
  tools/e2e/assert-browsers.js
  tools/e2e/docker-compose.update.yml
  tools/e2e/docker-compose.yml
  tools/e2e/run.js
Due: yarn run cspell --files, yamllint

chore: ignore @eslint/js majors alongside eslint in dependabot
  .github/dependabot.yml
Due: yamllint

feat(tags): range selection (#DS-4264)
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.component.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

chore(deps): resolve js-yaml and nanoid advisories, record the image-size exception
  .yarnrc.yml
  package.json
  yarn.lock
Due: yamllint

chore(security): resolve open code scanning alerts
  .github/workflows/codeql.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/docs-stable.yml
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  .github/workflows/publish.yml
  .github/workflows/redeploy-preview.yml
  package.json
  packages/components/core/formatters/filesize/formatter.spec.ts
  packages/components/core/formatters/number/formatter.spec.ts
  tools/e2e/Dockerfile
  yarn.lock
Due: yamllint

fix(components)!: unresolvable peerDependencies break npm install (#DS-4889)
  .github/workflows/build.yml
  .github/workflows/linters.yml
  .github/workflows/publish.yml
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
  package.json
  packages/angular-luxon-adapter/package.json
  packages/angular-moment-adapter/package.json
  packages/components-experimental/package.json
  packages/components/package.json
  packages/docs-examples/package.json
  packages/schematics/rollup.config.js
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/mandatory-peer-dependencies/README.md
  packages/schematics/src/migrations/mandatory-peer-dependencies/index.spec.ts
  packages/schematics/src/migrations/mandatory-peer-dependencies/index.ts
  packages/schematics/src/migrations/mandatory-peer-dependencies/schema.json
  packages/schematics/src/migrations/mandatory-peer-dependencies/schema.ts
  packages/schematics/src/ng-add/__snapshots__/ng-add.spec.ts.snap
  packages/schematics/src/ng-add/index.ts
  packages/schematics/src/ng-add/ng-add.spec.ts
  tools/builders/packager/build.spec.ts
  tools/builders/packager/build.ts
  tools/builders/packager/version-placeholders.ts
  tools/builders/tsconfig.json
  tools/check-npm-resolution/index.ts
  tools/check-npm-resolution/tsconfig.json
  tools/check-peer-deps/index.ts
  tools/check-peer-deps/tsconfig.json
  tools/cspell-locales/en.json
  yarn.lock
Due: yarn run cspell --files, yamllint

chore: skip TLS verification for the Mattermost webhook
  .github/workflows/pr-notify.yml
  .github/workflows/publish.yml
  packages/cli/src/release/notify-release.ts
Due: yamllint

test(formatter): base the formatter properties on the documented contracts (#DS-5215)
  packages/components/core/formatters/filesize/formatter.spec.ts
  packages/components/core/formatters/number/formatter.spec.ts
Due: none

fix: after review
  .github/workflows/pr-notify.yml
  packages/cli/src/release/notify-release.ts
Due: yamllint

chore(security): resolve open code scanning alerts (#DS-5215) (#1877)
  .github/workflows/codeql.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/docs-stable.yml
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  .github/workflows/publish.yml
  .github/workflows/redeploy-preview.yml
  .yarnrc.yml
  package.json
  packages/components/core/formatters/filesize/formatter.spec.ts
  packages/components/core/formatters/number/formatter.spec.ts
  tools/e2e/Dockerfile
  yarn.lock
Due: yamllint

chore: skip TLS verification for the Mattermost webhook (#1878)
  .github/workflows/pr-notify.yml
  .github/workflows/publish.yml
  packages/cli/src/release/notify-release.ts
Due: yamllint

feat(select,tree-select): master checkbox "select all" (#DS-3969)
  packages/components-dev/select/module.ts
  packages/components-dev/tree-select/module.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/core/selection/select-all.spec.ts
  packages/components/core/selection/select-all.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.html
  packages/components/select/select.ru.md
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-select-all/select-select-all-example.ts
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-select-all/tree-select-select-all-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

refactor: keyboard selection
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.component.ts
Due: yarn run cspell --files

fix(select,tree-select): harden select-all master checkbox (#DS-3969)
  packages/components-dev/select/module.ts
  packages/components-dev/tree-select/module.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/types.ts
  packages/components/core/option/option.ts
  packages/components/core/selection/select-all.spec.ts
  packages/components/core/selection/select-all.ts
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/e2e.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.html
  packages/components/select/select.ru.md
  packages/components/tree-select/e2e.playwright-spec.ts
  packages/components/tree-select/e2e.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-select-all-disabled/select-select-all-disabled-example.ts
  packages/docs-examples/components/select/select-select-all-search/select-select-all-search-example.ts
  packages/docs-examples/components/select/select-select-all/select-select-all-example.ts
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-select-all-disabled/tree-select-select-all-disabled-example.ts
  packages/docs-examples/components/tree-select/tree-select-select-all-search/tree-select-select-all-search-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/select/__screenshots__/06-dark.png
  packages/components/select/__screenshots__/06-light.png
  packages/components/tree-select/__screenshots__/indeterminate-dark.png
  packages/components/tree-select/__screenshots__/indeterminate-light.png
  packages/components/tree-select/__screenshots__/unchecked-light.png
Due: none

feat(core): theme service refactor (#DS-3003)
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  apps/docs/src/app/components/navbar/navbar.component.ts
  apps/docs/src/app/components/navbar/navbar.template.html
  apps/docs/src/app/components/welcome/welcome.component.ts
  apps/docs/src/app/config.ts
  docs/guides/migration.en.md
  packages/components-dev/theme-toggle.ts
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  packages/docs-examples/components/empty-state/empty-state-content/empty-state-content-example.ts
  packages/docs-examples/components/notification-center/notification-center-empty/notification-center-empty-example.ts
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.ts
  packages/docs-examples/components/notification-center/notification-center-infinite-scroll/notification-center-infinite-scroll-example.ts
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.ts
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.ts
  packages/docs-examples/components/notification-center/notification-center-push/notification-center-push-example.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat: usage auto with custom themes, simplified API
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix: cspell and tests
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.spec.ts
  docs/guides/migration.ru.md
Due: yarn run cspell --files

feat: split mode and theme selection
  apps/docs/src/app/services/theme-store.spec.ts
  apps/docs/src/app/services/theme-store.ts
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat: after review
  apps/docs/src/app/components/design-tokens-viewers/tokens-overview.ts
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  apps/docs/src/app/components/welcome/welcome.component.ts
  apps/docs/src/app/config.ts
  apps/docs/src/app/services/theme-store.spec.ts
  apps/docs/src/app/services/theme-store.ts
  packages/components-dev/theme-toggle.ts
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  packages/docs-examples/components/empty-state/empty-state-content/empty-state-content-example.ts
  packages/docs-examples/components/notification-center/notification-center-empty/notification-center-empty-example.ts
  packages/docs-examples/components/notification-center/notification-center-error/notification-center-error-example.ts
  packages/docs-examples/components/notification-center/notification-center-infinite-scroll/notification-center-infinite-scroll-example.ts
  packages/docs-examples/components/notification-center/notification-center-overview/notification-center-overview-example.ts
  packages/docs-examples/components/notification-center/notification-center-popover/notification-center-popover-example.ts
  packages/docs-examples/components/notification-center/notification-center-push/notification-center-push-example.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat: refactoring, simplification
  apps/docs/src/app/components/navbar/navbar.component.ts
  apps/docs/src/app/services/theme-store.ts
  docs/guides/migration.en.md
  docs/guides/migration.ru.md
  packages/components-dev/theme-toggle.ts
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat: refactoring, simplification
  apps/docs/src/app/components/navbar/navbar.component.ts
  apps/docs/src/app/components/navbar/navbar.template.html
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(tags): range selection (#DS-4264) (#1876)
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.component.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

docs(select,tree-select): rework the select-all examples (#DS-3969)
  packages/components-dev/select/module.ts
  packages/components-dev/tree-select/module.ts
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
  packages/components/tree/tree-selection.component.spec.ts
  packages/components/tree/tree-selection.component.ts
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-select-all-disabled/select-select-all-disabled-example.ts
  packages/docs-examples/components/select/select-select-all-label/select-select-all-label-example.ts
  packages/docs-examples/components/select/select-select-all-search/select-select-all-search-example.ts
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-select-all-disabled/tree-select-select-all-disabled-example.ts
  packages/docs-examples/components/tree-select/tree-select-select-all-label/tree-select-select-all-label-example.ts
  packages/docs-examples/components/tree-select/tree-select-select-all/tree-select-select-all-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

fix(docs): stretch the select-all trigger label to the full control width
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.ru.md
  packages/docs-examples/components/select/select-select-all-label/select-select-all-label-example.ts
  packages/docs-examples/components/tree-select/tree-select-select-all-label/tree-select-select-all-label-example.ts
Due: yarn run cspell --files

fix(form-field): keep the left indent for a multiselect's custom trigger
  packages/components/form-field/form-field.scss
Due: none

feat: simplified from theme selection to mode selection
  apps/docs/src/app/components/navbar/navbar.component.ts
  apps/docs/src/app/components/navbar/navbar.template.html
  apps/docs/src/app/config.ts
  apps/docs/src/app/services/theme-store.spec.ts
  apps/docs/src/app/services/theme-store.ts
  packages/components/core/services/theme.service.spec.ts
  packages/components/core/services/theme.service.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(navbar,select,tree-select,resizer): measure element size in one box model (#DS-4022)
  packages/components/core/navbar/rectangle-item.ts
  packages/components/navbar/navbar-item.component.ts
  packages/components/resizer/resizer.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.ts
Due: none

fix(button-toggle): keep the item height under a global border-box reset (#DS-4022)
  packages/components/button-toggle/button-toggle-tokens.scss
  packages/components/button-toggle/button-toggle.scss
Due: none

fix(option,notification-center,file-upload,navbar,select): pin geometry to its box model (#DS-4022)
  packages/components/core/option/action.scss
  packages/components/core/styles/common/_select.scss
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/navbar/navbar-brand.scss
  packages/components/notification-center/notification-item.scss
Due: none

fix(navbar): keep the collapsed rail at its declared width (#DS-4022)
  packages/components/icon/__screenshots__/02-light.png
  packages/components/navbar/__screenshots__/02-dark.png
  packages/components/navbar/__screenshots__/02-light.png
  packages/components/navbar/__screenshots__/03-dark.png
  packages/components/navbar/__screenshots__/03-light.png
  packages/components/navbar/vertical-navbar.scss
Due: none
