Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

test: updated e2e snapshots
  packages/components/sidepanel/__screenshots__/KbqSidepanel-E2eSidepanelStateAndStyle-positions-right-left-1.png
  packages/components/table/__screenshots__/KbqTableModule-E2eTableStates-light-theme-1.png
  packages/components/tree-select/__screenshots__/KbqTreeSelectModule-E2eMultiTreeSelectStates-MultiTreeSelect-dark-theme-1.png
  packages/components/tree-select/__screenshots__/KbqTreeSelectModule-E2eMultiTreeSelectStates-MultiTreeSelect-default-1.png
  packages/components/tree-select/__screenshots__/KbqTreeSelectModule-E2eMultilineTreeSelectStates-MultilineTreeSelect-dark-theme-1.png
  packages/components/tree-select/__screenshots__/KbqTreeSelectModule-E2eMultilineTreeSelectStates-MultilineTreeSelect-default-1.png
  packages/components/tree-select/__screenshots__/KbqTreeSelectModule-E2eTreeSelectStates-select-dark-theme-1.png
  packages/components/tree-select/__screenshots__/KbqTreeSelectModule-E2eTreeSelectStates-select-default-1.png
Due: none

test: updated e2e snapshots
  packages/components/sidepanel/__screenshots__/KbqSidepanel-E2eSidepanelStateAndStyle-positions-right-left-1.png
Due: none

chore(tree-select): added e2e tests (#DS-4411) (#1253)
  packages/components/table/__screenshots__/KbqTableModule-E2eTableStates-light-theme-1.png
  packages/components/tree-select/__screenshots__/KbqTreeSelectModule-E2eMultiTreeSelectStates-MultiTreeSelect-dark-theme-1.png
  packages/components/tree-select/__screenshots__/KbqTreeSelectModule-E2eMultiTreeSelectStates-MultiTreeSelect-default-1.png
  packages/components/tree-select/__screenshots__/KbqTreeSelectModule-E2eMultilineTreeSelectStates-MultilineTreeSelect-dark-theme-1.png
  packages/components/tree-select/__screenshots__/KbqTreeSelectModule-E2eMultilineTreeSelectStates-MultilineTreeSelect-default-1.png
  packages/components/tree-select/__screenshots__/KbqTreeSelectModule-E2eTreeSelectStates-select-dark-theme-1.png
  packages/components/tree-select/__screenshots__/KbqTreeSelectModule-E2eTreeSelectStates-select-default-1.png
  packages/components/tree-select/e2e.playwright-spec.ts
  packages/components/tree-select/e2e.ts
  packages/e2e/module.ts
  packages/e2e/template.html
Due: none

chore(loader-overlay): added e2e tests (#DS-4487) (#1254)
  packages/components/loader-overlay/__screenshots__/KbqLoaderOverlayModule-E2eLoaderOverlayStates-dark-theme-1.png
  packages/components/loader-overlay/__screenshots__/KbqLoaderOverlayModule-E2eLoaderOverlayStates-light-theme-1.png
  packages/components/loader-overlay/e2e.playwright-spec.ts
  packages/components/loader-overlay/e2e.ts
  packages/components/sidepanel/__screenshots__/KbqSidepanel-E2eSidepanelStateAndStyle-positions-right-left-1.png
  packages/e2e/module.ts
  packages/e2e/template.html
Due: none

chore: bump version to 19.0.0 w/ changelog
  .github/workflows/docs-stable.yml
  CHANGELOG.md
  apps/docs/src/assets/versions.json
  firebase.json
  package.json
Due: yarn run cspell --files, yamllint

chore: bump nodejs to 24 (#DS-4511)
  .nvmrc
  package.json
  yarn.lock
Due: none

refactor: resolved types
  tools/builders/typescript/index.ts
Due: none

refactor: build
  packages/cli/src/release/changelog.ts
  tools/builders/typescript/index.ts
Due: none

chore: engines
  package.json
Due: none

chore: firebase deployment settings have changed
  .firebaserc
  .github/workflows/docs-stable.yml
  firebase.json
  packages/docs-examples/components/modal/modal-component/modal-component-example.ts
Due: yamllint

chore: bump nodejs to 24 (#DS-4511) (#1256)
  .nvmrc
  package.json
  packages/cli/src/release/changelog.ts
  tools/builders/typescript/index.ts
  yarn.lock
Due: none

chore(tags): added e2e tests (#DS-4575)
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagAutocompleteStates-dark-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagAutocompleteStates-light-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagInputStates-dark-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagInputStates-light-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagList-dark-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagList-light-theme-1.png
  packages/components/tags/e2e.playwright-spec.ts
  packages/components/tags/e2e.ts
  packages/e2e/module.ts
  packages/e2e/template.html
Due: none

fix(title): not displayed if 1-2 characters don't fit (#DS-4466)
  packages/components/title/title.directive.karma-spec.ts
  packages/components/title/title.directive.ts
  tools/public_api_guard/components/title.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/input/__screenshots__/KbqInputModule-E2eInputStateAndStyle-KbqInput-states-1.png
  packages/components/input/__screenshots__/KbqInputModule-E2eInputStateAndStyle-KbqInputPassword-states-1.png
  packages/components/input/__screenshots__/KbqInputModule-E2eInputStateAndStyle-KbqInputPassword-text-visibile-1.png
  packages/components/progress-spinner/__screenshots__/KbqProgressSpinnerModule-E2eProgressSpinnerStates-light-theme-1.png
  packages/components/table/__screenshots__/KbqTableModule-E2eTableStates-light-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagAutocompleteStates-dark-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagAutocompleteStates-light-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagInputStates-dark-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagInputStates-light-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagList-dark-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagList-light-theme-1.png
Due: none

chore: exclude tests with random result
  packages/components/input/e2e.playwright-spec.ts
  packages/components/progress-spinner/e2e.playwright-spec.ts
  packages/components/table/e2e.playwright-spec.ts
Due: none

fix(title): not displayed if 1-2 characters don't fit (#DS-4466) (#1259)
  packages/components/title/title.directive.karma-spec.ts
  packages/components/title/title.directive.ts
  tools/public_api_guard/components/title.api.md
Due: yarn run cspell --files

chore(tags): added e2e tests (#DS-4575) (#1258)
  packages/components/input/__screenshots__/KbqInputModule-E2eInputStateAndStyle-KbqInput-states-1.png
  packages/components/input/__screenshots__/KbqInputModule-E2eInputStateAndStyle-KbqInputPassword-states-1.png
  packages/components/input/__screenshots__/KbqInputModule-E2eInputStateAndStyle-KbqInputPassword-text-visibile-1.png
  packages/components/progress-spinner/__screenshots__/KbqProgressSpinnerModule-E2eProgressSpinnerStates-light-theme-1.png
  packages/components/table/__screenshots__/KbqTableModule-E2eTableStates-light-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagAutocompleteStates-dark-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagAutocompleteStates-light-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagInputStates-dark-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagInputStates-light-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagList-dark-theme-1.png
  packages/components/tags/__screenshots__/KbqTagModule-E2eTagList-light-theme-1.png
  packages/components/tags/e2e.playwright-spec.ts
  packages/components/tags/e2e.ts
  packages/e2e/module.ts
  packages/e2e/template.html
Due: none

chore(schematics): upd new-icons-pack, add more customization (#DS-4523) (#1255)
  packages/schematics/src/migrations/new-icons-pack/README.md
  packages/schematics/src/migrations/new-icons-pack/data.ts
  packages/schematics/src/migrations/new-icons-pack/index.ts
  packages/schematics/src/migrations/new-icons-pack/migration.json
  packages/schematics/src/migrations/new-icons-pack/replacement.json
  packages/schematics/src/migrations/new-icons-pack/schema.json
  packages/schematics/src/migrations/new-icons-pack/schema.ts
Due: yarn run cspell --files

chore(risk-level): addded deprecation notice (#DS-4491)
  packages/components/risk-level/risk-level.component.ts
  packages/components/risk-level/risk-level.module.ts
Due: none

chore: fix CI Notification PR
  .github/workflows/pr-notify.yml
Due: yamllint

chore: setup playwright test timeout to 10s
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  playwright.config.ts
Due: yamllint

test: updated e2e snapshots
  packages/components/filter-bar/__screenshots__/KbqFilterBarModule-E2eFilterBarStates-FilterBar-dark-theme-1.png
  packages/components/filter-bar/__screenshots__/KbqFilterBarModule-E2eFilterBarStates-FilterBar-default-1.png
  packages/components/notification-center/__screenshots__/KbqNotificationCenterModule-E2eNotificationCenterStates-notification-center-dark-theme-1.png
  packages/components/notification-center/__screenshots__/KbqNotificationCenterModule-E2eNotificationCenterStates-notification-center-default-1.png
Due: none

chore: fix CI Notification PR (#1267)
  .github/workflows/pr-notify.yml
  packages/components/filter-bar/__screenshots__/KbqFilterBarModule-E2eFilterBarStates-FilterBar-dark-theme-1.png
  packages/components/filter-bar/__screenshots__/KbqFilterBarModule-E2eFilterBarStates-FilterBar-default-1.png
  packages/components/notification-center/__screenshots__/KbqNotificationCenterModule-E2eNotificationCenterStates-notification-center-dark-theme-1.png
  packages/components/notification-center/__screenshots__/KbqNotificationCenterModule-E2eNotificationCenterStates-notification-center-default-1.png
Due: yamllint

Update playwright.config.ts
  playwright.config.ts
Due: none

chore: added error handling for approve snapshots workflow
  .github/workflows/e2e-approve-snapshots.yml
Due: yamllint

Update .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e-approve-snapshots.yml
Due: yamllint

test: updated e2e snapshots
  packages/components/modal/__screenshots__/KbqModalModule-E2eModalStates-dark-theme-1.png
  packages/components/modal/__screenshots__/KbqModalModule-E2eModalStates-light-theme-1.png
  packages/components/modal/__screenshots__/KbqModalModule-E2eModalStates-open-multiple-modals-1.png
  packages/components/sidepanel/__screenshots__/KbqSidepanel-E2eSidepanelStateAndStyle-positions-right-left-1.png
Due: none

chore(modal): added e2e tests (#DS-4488)
  packages/components/modal/__screenshots__/KbqModalModule-E2eModalStates-dark-theme-1.png
  packages/components/modal/__screenshots__/KbqModalModule-E2eModalStates-light-theme-1.png
  packages/components/modal/__screenshots__/KbqModalModule-E2eModalStates-open-multiple-modals-1.png
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/e2e/module.ts
  packages/e2e/template.html
Due: none

chore(modal): added e2e tests (#DS-4488) (#1251)
  packages/components/modal/__screenshots__/KbqModalModule-E2eModalStates-dark-theme-1.png
  packages/components/modal/__screenshots__/KbqModalModule-E2eModalStates-light-theme-1.png
  packages/components/modal/__screenshots__/KbqModalModule-E2eModalStates-open-multiple-modals-1.png
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/components/sidepanel/__screenshots__/KbqSidepanel-E2eSidepanelStateAndStyle-positions-right-left-1.png
  packages/e2e/module.ts
  packages/e2e/template.html
Due: none

fix(filter-bar): don' t close if all options are selected (#DS-4530)
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
Due: none

chore(risk-level): addded deprecation notice (#DS-4491) (#1266)
  packages/components/risk-level/risk-level.component.ts
  packages/components/risk-level/risk-level.module.ts
Due: none

refactor: upd timeout values
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  playwright.config.ts
Due: yamllint

fix: after review
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-multi-tree-select.ts
  tools/public_api_guard/components/filter-bar.api.md
Due: yarn run cspell --files

chore: added error handling for approve snapshots workflow (#1270)
  .github/workflows/e2e-approve-snapshots.yml
Due: yamllint

chore: setup playwright test timeout to 15s (#1269)
  .github/workflows/e2e-approve-snapshots.yml
  .github/workflows/e2e.yml
  playwright.config.ts
Due: yamllint

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
