Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

test(file-upload): regenerate the progress baselines after the squircle change
  packages/components/file-upload/__screenshots__/06-dark.png
  packages/components/file-upload/__screenshots__/06-light.png
Due: none

feat(filter-bar)!: split save and rename locale keys into header and button strings (#DS-4306)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.spec.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/filter-bar-rename-action/README.md
  packages/schematics/src/migrations/filter-bar-rename-action/data.ts
  packages/schematics/src/migrations/filter-bar-rename-action/index.spec.ts
  packages/schematics/src/migrations/filter-bar-rename-action/index.ts
  tools/check-api-docs/baseline.json
  tools/docs-pages/migration/schematics-coverage.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(loc): add loc for components ru en (DS-4306) (#2130)
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/ru-RU.ts
Due: none

fix(time-range): show the period without a preposition when title.for is empty (#DS-4306)
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/locale-service.spec.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/types.ts
  packages/components/filter-bar/pipe-add.spec.ts
  packages/components/time-range/__snapshots__/time-range.spec.ts.snap
  packages/components/time-range/time-range-title.ts
  packages/components/time-range/time-range.spec.ts
  tools/check-api-docs/baseline.json
Due: none

fix(time-range)!: remove title.for from the time-range locale configuration (#DS-4306)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/locale-service.spec.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/time-range/time-range-title.ts
  packages/components/time-range/time-range.spec.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/time-range-title-for/README.md
  packages/schematics/src/migrations/time-range-title-for/data.ts
  packages/schematics/src/migrations/time-range-title-for/index.spec.ts
  packages/schematics/src/migrations/time-range-title-for/index.ts
  packages/schematics/src/migrations/time-range-title-for/schema.json
  packages/schematics/src/migrations/time-range-title-for/schema.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(notification-center): remove the tooltip from the delete button of a notification (#DS-4306)
  packages/components/notification-center/notification-item.html
  packages/components/notification-center/notification-item.ts
Due: none

fix(examples): global validation message example (#DS-5675)
  packages/docs-examples/components/validation/validation-message-global/validation-message-global-example.ts
Due: none

fix(time-range): start every ru-RU preset label with a lowercase letter (#DS-4306)
  packages/components/core/locales/ru-RU.ts
Due: none

docs(time-range): use the "Period" placeholder in the min-max example (#DS-4306)
  packages/docs-examples/components/time-range/time-range-min-max/time-range-min-max-example.ts
Due: none

chore(mcp): wire the package into the repository's gates and docs
  .github/workflows/api.yml
  .prettierignore
  AGENTS.md
Due: yarn run cspell --files, yamllint

fix(filter-bar)!: remove the duplicate taken-name message and its filters.error key (#DS-4306)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/filter-bar/filter-save-popover.ts
  packages/components/filter-bar/filters.spec.ts
  packages/components/filter-bar/filters.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/filter-bar-rename-action/README.md
  packages/schematics/src/migrations/filter-bar-rename-action/data.ts
  packages/schematics/src/migrations/filter-bar-rename-action/index.spec.ts
  packages/schematics/src/migrations/filter-bar-rename-action/index.ts
  tools/check-api-docs/baseline.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

test: updated e2e snapshots
  packages/components/core/overlay/__screenshots__/01-dark.png
  packages/components/core/overlay/__screenshots__/01-light.png
Due: none

chore(deps): resolve open dependabot advisories
  .yarnrc.yml
  package.json
  yarn.lock
Due: yamllint

fix(form-field): name every non-labelable control through the form-field caption
  packages/components/form-field/form-field-control.ts
  packages/components/form-field/form-field.html
  packages/components/form-field/form-field.spec.ts
  packages/components/form-field/form-field.ts
  packages/components/select/select.component.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/time-range/time-range-title-as-form-field.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tags.api.md
  tools/public_api_guard/components/time-range.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(file-upload)!: errors following a full review of the component (#DS-5531) (#2129)
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components-dev/file-upload/template.html
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/file-upload/__screenshots__/06-dark.png
  packages/components/file-upload/__screenshots__/06-light.png
  packages/components/file-upload/dropzone.scss
  packages/components/file-upload/dropzone.ts
  packages/components/file-upload/e2e.playwright-spec.ts
  packages/components/file-upload/e2e.ts
  packages/components/file-upload/file-upload-tokens.scss
  packages/components/file-upload/file-upload.en.mdx
  packages/components/file-upload/file-upload.ru.mdx
  packages/components/file-upload/file-upload.spec.ts
  packages/components/file-upload/file-upload.ts
  packages/components/file-upload/multiple-file-upload.component.html
  packages/components/file-upload/multiple-file-upload.component.scss
  packages/components/file-upload/multiple-file-upload.component.ts
  packages/components/file-upload/primitives/file-picker.spec.ts
  packages/components/file-upload/primitives/file-picker.ts
  packages/components/file-upload/single-file-upload.component.html
  packages/components/file-upload/single-file-upload.component.scss
  packages/components/file-upload/single-file-upload.component.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/file-upload-cva-and-primitives/README.md
  packages/schematics/src/migrations/file-upload-cva-and-primitives/data.ts
  packages/schematics/src/migrations/file-upload-cva-and-primitives/index.spec.ts
  packages/schematics/src/migrations/file-upload-cva-and-primitives/index.ts
  packages/schematics/src/migrations/file-upload-cva-and-primitives/schema.json
  packages/schematics/src/migrations/file-upload-cva-and-primitives/schema.ts
  tools/check-api-docs/baseline.json
  tools/cspell-locales/en.json
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/file-upload.api.md
Due: yarn run cspell --files

chore(deps): resolve open dependabot advisories (#2134)
  .yarnrc.yml
  package.json
  yarn.lock
Due: yamllint

chore: removed unused padding
  packages/docs-examples/components/validation/validation-message-global/validation-message-global-example.ts
Due: none

fix(docs): global validation message example (#DS-5675) (#2132)
  packages/docs-examples/components/validation/validation-message-global/validation-message-global-example.ts
Due: none

feat(skeleton): take the shape of any host element and add examples for common components (#DS-4668)
  packages/components-dev/skeleton/module.ts
  packages/components/skeleton/e2e.playwright-spec.ts
  packages/components/skeleton/e2e.ts
  packages/components/skeleton/skeleton-tokens.scss
  packages/components/skeleton/skeleton.en.mdx
  packages/components/skeleton/skeleton.ru.mdx
  packages/components/skeleton/skeleton.scss
  packages/components/skeleton/skeleton.spec.ts
  packages/components/skeleton/skeleton.ts
  packages/docs-examples/components/skeleton/index.ts
  packages/docs-examples/components/skeleton/skeleton-alert/skeleton-alert-example.ts
  packages/docs-examples/components/skeleton/skeleton-badge/skeleton-badge-example.ts
  packages/docs-examples/components/skeleton/skeleton-button/skeleton-button-example.ts
  packages/docs-examples/components/skeleton/skeleton-directive/skeleton-directive-example.ts
  packages/docs-examples/components/skeleton/skeleton-dl/skeleton-dl-example.ts
  packages/docs-examples/components/skeleton/skeleton-in-sidepanel/skeleton-in-sidepanel-example.ts
  packages/docs-examples/components/skeleton/skeleton-list/skeleton-list-example.ts
  packages/docs-examples/components/skeleton/skeleton-overview/skeleton-overview-example.ts
  packages/docs-examples/components/skeleton/skeleton-table/skeleton-table-example.ts
  packages/docs-examples/components/skeleton/skeleton-tag/skeleton-tag-example.ts
  packages/docs-examples/components/skeleton/skeleton-tree/skeleton-tree-example.ts
  packages/docs-examples/components/skeleton/skeleton-typography/skeleton-typography-example.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/skeleton.api.md
Due: yarn run cspell --files

docs(skeleton): link every preset to the page of its component (#DS-4668)
  packages/components/skeleton/skeleton.en.mdx
  packages/components/skeleton/skeleton.ru.mdx
  packages/docs-examples/components/skeleton/skeleton-code-block/skeleton-code-block-example.ts
Due: none

docs(skeleton): clarify skeleton preset guidance in Russian (#DS-4668)
  apps/docs/src/app/seo-descriptions.ts
  packages/components/skeleton/skeleton.ru.mdx
Due: none

test: updated e2e snapshots
  packages/components/skeleton/__screenshots__/01-dark.png
Due: none

feat(skeleton): take the shape of any host element and add presets for common components (#DS-4668) (#2106)
  apps/docs/src/app/seo-descriptions.ts
  packages/components-dev/skeleton/module.ts
  packages/components/skeleton/__screenshots__/01-dark.png
  packages/components/skeleton/__screenshots__/01-light.png
  packages/components/skeleton/__screenshots__/02-light.png
  packages/components/skeleton/e2e.playwright-spec.ts
  packages/components/skeleton/e2e.ts
  packages/components/skeleton/index.ts
  packages/components/skeleton/module.ts
  packages/components/skeleton/skeleton-presets.scss
  packages/components/skeleton/skeleton-presets.spec.ts
  packages/components/skeleton/skeleton-presets.ts
  packages/components/skeleton/skeleton-tokens.scss
  packages/components/skeleton/skeleton.en.mdx
  packages/components/skeleton/skeleton.ru.mdx
  packages/components/skeleton/skeleton.scss
  packages/components/skeleton/skeleton.spec.ts
  packages/components/skeleton/skeleton.ts
  packages/docs-examples/components/skeleton/index.ts
  packages/docs-examples/components/skeleton/skeleton-accordion/skeleton-accordion-example.ts
  packages/docs-examples/components/skeleton/skeleton-checkable/skeleton-checkable-example.ts
  packages/docs-examples/components/skeleton/skeleton-code-block/skeleton-code-block-example.ts
  packages/docs-examples/components/skeleton/skeleton-directive/skeleton-directive-example.ts
  packages/docs-examples/components/skeleton/skeleton-dl/skeleton-dl-example.ts
  packages/docs-examples/components/skeleton/skeleton-elements/skeleton-elements-example.ts
  packages/docs-examples/components/skeleton/skeleton-form-field/skeleton-form-field-example.ts
  packages/docs-examples/components/skeleton/skeleton-grid/skeleton-grid-example.ts
  packages/docs-examples/components/skeleton/skeleton-group/skeleton-group-example.ts
  packages/docs-examples/components/skeleton/skeleton-in-sidepanel/skeleton-in-sidepanel-example.ts
  packages/docs-examples/components/skeleton/skeleton-overview/skeleton-overview-example.ts
  packages/docs-examples/components/skeleton/skeleton-table/skeleton-table-example.ts
  packages/docs-examples/components/skeleton/skeleton-tabs/skeleton-tabs-example.ts
  packages/docs-examples/components/skeleton/skeleton-tree/skeleton-tree-example.ts
  packages/docs-examples/components/skeleton/skeleton-typography/skeleton-typography-example.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
  packages/e2e/routes.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/skeleton.api.md
Due: yarn run cspell --files

chore(components): format tag-list imports and regenerate the API reports
  packages/components/tags/tag-list.component.ts
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tags.api.md
  tools/public_api_guard/components/time-range.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(tags): keep the form-field label on the tag input
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(time-range): give the title control a unique id
  packages/components/time-range/time-range-title-as-form-field.ts
  packages/components/time-range/time-range.spec.ts
Due: none

fix(examples): stick the top bar of the dropdown layering demo (#DS-2655)
  packages/components/top-bar/top-bar.en.mdx
  packages/components/top-bar/top-bar.ru.mdx
  packages/docs-examples/components/dropdown/dropdown-scrolling-and-layering-page/dropdown-scrolling-and-layering-page-example.ts
Due: none

fix(examples): open the select layering demo with its whole panel in view (#DS-2655)
  packages/docs-examples/components/select/select-scrolling-and-layering-page/select-scrolling-and-layering-page-example.ts
Due: none

docs(skeleton): rewrite the overview article around loading content (#DS-5715)
  packages/components-dev/skeleton/module.ts
  packages/components-dev/skeleton/styles.scss
  packages/components-dev/skeleton/template.html
  packages/components/skeleton/skeleton.en.mdx
  packages/components/skeleton/skeleton.ru.mdx
  packages/docs-examples/components/skeleton/index.ts
  packages/docs-examples/components/skeleton/skeleton-basic/skeleton-basic-example.ts
  packages/docs-examples/components/skeleton/skeleton-directive/skeleton-directive-example.ts
  packages/docs-examples/components/skeleton/skeleton-elements/skeleton-elements-example.ts
  packages/docs-examples/components/skeleton/skeleton-group/skeleton-group-example.ts
  packages/docs-examples/components/skeleton/skeleton-typography/skeleton-typography-example.ts
  packages/docs-examples/example-module.ts
  packages/docs-examples/loader/index.ts
  tools/cspell-locales/ru.json
Due: none

fix: form field label for non labelable control (#2135)
  packages/components/form-field/form-field-control.ts
  packages/components/form-field/form-field.html
  packages/components/form-field/form-field.spec.ts
  packages/components/form-field/form-field.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/time-range/time-range-title-as-form-field.ts
  packages/components/time-range/time-range.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/time-range.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(navbar): block clicks on a disabled brand, stop marking decorative brands disabled (#DS-5471)
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/e2e.ts
  packages/components/navbar/navbar-brand.component.ts
  packages/components/navbar/navbar-brand.scss
  packages/components/navbar/navbar-item.component.ts
  packages/components/navbar/navbar.component.spec.ts
Due: none

fix(navbar): default cursor on a disabled brand (#DS-5471)
  packages/components/navbar/e2e.playwright-spec.ts
  packages/components/navbar/e2e.ts
  packages/components/navbar/navbar-brand.scss
  packages/e2e/routes.ts
Due: none

fix(modal): address code review findings
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.directive.ts
  packages/components/modal/modal.en.mdx
  packages/components/modal/modal.ru.mdx
  packages/components/modal/modal.scss
  packages/components/modal/modal.spec.ts
  packages/components/modal/modal.type.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/modal-dialog-semantics/README.md
  packages/schematics/src/migrations/modal-dialog-semantics/data.ts
  tools/check-public-api-any/baseline.json
Due: yarn run cspell --files

fix(modal)!: errors following a full review of the component
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components-dev/modal/template.html
  packages/components/modal/_modal-animation.scss
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/components/modal/modal-control.service.spec.ts
  packages/components/modal/modal-control.service.ts
  packages/components/modal/modal-tokens.scss
  packages/components/modal/modal-util.ts
  packages/components/modal/modal.component.html
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.directive.ts
  packages/components/modal/modal.en.mdx
  packages/components/modal/modal.ru.mdx
  packages/components/modal/modal.scss
  packages/components/modal/modal.service.ts
  packages/components/modal/modal.spec.ts
  packages/components/modal/modal.type.ts
  packages/components/modal/public-api.ts
  packages/docs-examples/components/modal/modal-multiple/modal-multiple-example.ts
  packages/docs-examples/components/modal/modal-overview/modal-overview-example.ts
  packages/docs-examples/components/modal/modal-sizes/modal-sizes-example.ts
  packages/e2e/routes.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/modal-dialog-semantics/README.md
  packages/schematics/src/migrations/modal-dialog-semantics/data.ts
  packages/schematics/src/migrations/modal-dialog-semantics/index.spec.ts
  packages/schematics/src/migrations/modal-dialog-semantics/index.ts
  packages/schematics/src/migrations/modal-dialog-semantics/schema.json
  packages/schematics/src/migrations/modal-dialog-semantics/schema.ts
  tools/cspell-locales/en.json
Due: yarn run cspell --files

fix: check-api-docs
  tools/check-api-docs/baseline.json
Due: none

fix(modal): follow the dialog's height cap through main's own modal work
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/modal/__screenshots__/01-dark.png
  packages/components/modal/__screenshots__/01-light.png
  packages/components/modal/__screenshots__/02-light.png
  packages/components/modal/__screenshots__/04-dark.png
  packages/components/modal/__screenshots__/04-light.png
  packages/components/modal/e2e.playwright-spec.ts
  packages/components/modal/e2e.ts
  packages/components/modal/modal.spec.ts
  packages/schematics/src/collection.json
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/modal-dialog-semantics/README.md
  packages/schematics/src/migrations/modal-dialog-semantics/data.ts
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

fix(modal): demote onKeyDown and make cdkFocusInitial beat autofocus
  docs/guides/migration.en.mdx
  docs/guides/migration.ru.mdx
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.spec.ts
  packages/schematics/src/migrations/modal-dialog-semantics/README.md
  packages/schematics/src/migrations/modal-dialog-semantics/data.ts
  tools/public_api_guard/components/modal.api.md
Due: yarn run cspell --files

Path conditions:
  yarn run cspell --files: any of: *.md
  yamllint: any of: *.yml
