Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

fix(toast): keep other overlays open when a toast appears (#DS-5407) (#1909)
  packages/components-dev/toast/module.ts
  packages/components-dev/toast/template.html
  packages/components/toast/toast-container.component.ts
  packages/components/toast/toast.spec.ts
  tools/public_api_guard/components/toast.api.md
Due: yarn run cspell --files

fix(list): errors following a full review of the component (#DS-5402) (#1916)
  packages/components/core/option/optgroup.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/list/__screenshots__/01-dark.png
  packages/components/list/_list-theme.scss
  packages/components/list/list-option.html
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list-tokens.scss
  packages/components/list/list.component.spec.ts
  packages/components/list/list.component.ts
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/components/list/list.scss
  packages/docs-examples/components/list/list-action-button/list-action-button-example.ts
  packages/docs-examples/components/list/list-groups/list-groups-example.ts
  packages/docs-examples/components/list/list-intermediate-state/list-intermediate-state-example.html
  packages/docs-examples/components/list/list-multiple-checkbox/list-multiple-checkbox-example.ts
  packages/docs-examples/components/list/list-multiple-keyboard/list-multiple-keyboard-example.ts
  packages/docs-examples/components/list/list-overview/list-overview-example.ts
  packages/docs-examples/components/list/list-virtual-scroll/list-virtual-scroll-example.ts
  tools/cspell-locales/en.json
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

feat(dropdown): added safe triangle for submenu (#DS-2446) (#1906)
  packages/components-dev/dropdown/module.ts
  packages/components-dev/dropdown/template.html
  packages/components/core/overlay/safe-area.spec.ts
  packages/components/core/overlay/safe-area.ts
  packages/components/core/public-api.ts
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/dropdown.types.ts
  packages/docs-examples/components/dropdown/dropdown-safe-area/dropdown-safe-area-example.ts
  packages/docs-examples/components/dropdown/index.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

feat(table): added stickyHeader (#DS-4911) (#1921)
  packages/components-dev/table/module.ts
  packages/components/table/__screenshots__/01-dark.png
  packages/components/table/__screenshots__/01-light.png
  packages/components/table/_table-theme.scss
  packages/components/table/e2e.playwright-spec.ts
  packages/components/table/e2e.ts
  packages/components/table/table.component.ts
  packages/components/table/table.en.md
  packages/components/table/table.ru.md
  packages/components/table/table.scss
  packages/docs-examples/components/table/index.ts
  packages/docs-examples/components/table/table-sticky-header/table-sticky-header-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/table.api.md
Due: yarn run cspell --files

feat: update icons migration schematics (#DS-4328) (#1920)
  packages/schematics/rollup.config.js
  packages/schematics/scripts/copy-meta-to-dist.js
  packages/schematics/src/migrations/deprecated-icons/README.md
  packages/schematics/src/migrations/deprecated-icons/__snapshots__/index.spec.ts.snap
  packages/schematics/src/migrations/deprecated-icons/data.ts
  packages/schematics/src/migrations/deprecated-icons/index.spec.ts
  packages/schematics/src/migrations/deprecated-icons/index.ts
  packages/schematics/src/migrations/new-icons-pack/README.md
  packages/schematics/src/migrations/new-icons-pack/data.ts
  packages/schematics/src/migrations/new-icons-pack/index.spec.ts
  packages/schematics/src/migrations/new-icons-pack/index.ts
  packages/schematics/src/utils/angular-parsing.ts
  packages/schematics/src/utils/ast.ts
  packages/schematics/src/utils/icon-migration.ts
  packages/schematics/src/utils/typescript.ts
Due: yarn run cspell --files

feat(core): time zone for date formatting (#DS-3248) (#1936)
  packages/angular-luxon-adapter/adapter/date-adapter.spec.ts
  packages/angular-luxon-adapter/adapter/date-adapter.ts
  packages/angular-luxon-adapter/package.json
  packages/angular-moment-adapter/adapter/moment-date-adapter.spec.ts
  packages/angular-moment-adapter/adapter/moment-date-adapter.ts
  packages/angular-moment-adapter/package.json
  packages/components-dev/date-pipes/module.ts
  packages/components-dev/date-pipes/template.html
  packages/components-dev/ssr/config.server.ts
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/timezone.ts
  packages/components/core/datetime/index.ts
  packages/components/core/datetime/timezone.ts
  packages/components/core/formatters/date/date-formatter.en.md
  packages/components/core/formatters/date/date-formatter.ru.md
  packages/components/core/formatters/date/formatter.pipe.ts
  packages/components/core/formatters/date/formatter.spec.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/month-view.component.ts
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timezone/timezone.utils.ts
  tools/cspell-locales/ru.json
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(list): drag and drop reordering (#DS-4454) (#1911)
  .stylelintignore
  packages/components-dev/list/module.ts
  packages/components-dev/list/template.html
  packages/components/core/locales/types.ts
  packages/components/list/_list-theme.scss
  packages/components/list/e2e.playwright-spec.ts
  packages/components/list/e2e.ts
  packages/components/list/list-option.html
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list-tokens.scss
  packages/components/list/list.en.md
  packages/components/list/list.module.ts
  packages/components/list/list.ru.md
  packages/components/list/list.scss
  packages/docs-examples/components/list/index.ts
  packages/docs-examples/components/list/list-draggable-connected/list-draggable-connected-example.ts
  packages/docs-examples/components/list/list-draggable-handle/list-draggable-handle-example.ts
  packages/docs-examples/components/list/list-draggable/list-draggable-example.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

chore: stop the pre-commit hook failing on eslint-ignored files
  .lintstagedrc.js
Due: none

feat: added docs section in changelog (#DS-3365) (#1934)
  packages/cli/src/release/__snapshots__/changelog-writer-options.spec.ts.snap
  packages/cli/src/release/changelog-writer-options.spec.ts
  packages/cli/src/release/changelog-writer-options.ts
  packages/cli/src/release/changelog.ts
Due: none

fix(list): selection matching for non-primitive model values (#DS-3031) (#1948)
  packages/components-dev/list/module.ts
  packages/components-dev/list/template.html
  packages/components/core/select/compare-with.ts
  packages/components/core/select/index.ts
  packages/components/list/list-selection.component.spec.ts
  packages/components/list/list-selection.component.ts
  packages/components/list/list.en.md
  packages/components/list/list.ru.md
  packages/components/select/select.component.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/list.api.md
Due: yarn run cspell --files

fix(select): panel positioning for tall multiline triggers (#DS-5438) (#1935)
  packages/components-dev/select/module.ts
  packages/components-dev/select/template.html
  packages/components/core/overlay/panel-height.spec.ts
  packages/components/core/overlay/panel-height.ts
  packages/components/core/pop-up/constants.ts
  packages/components/core/public-api.ts
  packages/components/core/select/common.ts
  packages/components/core/styles/common/_connected-overlay.scss
  packages/components/select/e2e.playwright-spec.ts
  packages/components/select/e2e.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.html
  packages/components/select/select.ru.md
  packages/components/tree-select/e2e.playwright-spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.en.md
  packages/components/tree-select/tree-select.html
  packages/components/tree-select/tree-select.ru.md
  packages/docs-examples/components/select/select-with-multiline-matcher/select-with-multiline-matcher-example.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

fix(inline-edit): show tooltip when out of viewport correctly (#DS-5420) (#1932)
  packages/components/inline-edit/inline-edit.html
  packages/components/inline-edit/inline-edit.spec.ts
  packages/components/inline-edit/inline-edit.ts
  packages/components/tooltip/tooltip.component.ts
  tools/jest/setup.ts
  tools/public_api_guard/components/inline-edit.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

fix(docs): anchor nesting in the table of contents (#DS-5468) (#1954)
  apps/docs/src/app/components/anchors/anchors.component.scss
Due: none

feat(dropdown): added secondary action (#DS-3869) (#1952)
  packages/components-dev/dropdown/module.ts
  packages/components/dropdown/__screenshots__/02-dark.png
  packages/components/dropdown/__screenshots__/02-light.png
  packages/components/dropdown/dropdown-item-action.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown-item.html
  packages/components/dropdown/dropdown-item.scss
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.module.ts
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/e2e.playwright-spec.ts
  packages/components/dropdown/e2e.ts
  packages/components/dropdown/public-api.ts
  packages/docs-examples/components/dropdown/dropdown-item-action/dropdown-item-action-example.ts
  packages/docs-examples/components/dropdown/dropdown-item-link/dropdown-item-link-example.ts
  packages/docs-examples/components/dropdown/index.ts
  packages/docs-examples/example-module.ts
  packages/e2e/routes.ts
  tools/public_api_guard/components/dropdown.api.md
Due: yarn run cspell --files

fix(datepicker): min/max validation for keyboard input (#DS-3055) (#1955)
  packages/components-dev/datepicker/module.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker.en.md
  packages/components/datepicker/datepicker.ru.md
  packages/components/datepicker/datepicker.spec.ts
  packages/docs-examples/components/datepicker/datepicker-minimax/datepicker-minimax-example.ts
Due: yarn run cspell --files

fix(datepicker,timepicker): keep the edited part of the value in view (#DS-3069) (#1956)
  packages/components/core/form-field/field-sizing-content.ts
  packages/components/core/form-field/index.ts
  packages/components/core/form-field/text-field-selection.spec.ts
  packages/components/core/form-field/text-field-selection.ts
  packages/components/core/form-field/text-ruler.ts
  packages/components/datepicker/datepicker-input.directive.ts
  packages/components/datepicker/datepicker.spec.ts
  packages/components/datepicker/e2e.playwright-spec.ts
  packages/components/timepicker/timepicker.directive.ts
  packages/components/timepicker/timepicker.spec.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(cli): expose @koobiq/cli release helpers (#DS-5212) (#1958)
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/scripts/copy-meta-to-dist.js
  packages/cli/src/release/extract-release-notes.spec.ts
  packages/cli/src/release/extract-release-notes.ts
  packages/cli/src/release/index.ts
  packages/cli/tsconfig.release.json
Due: yarn run cspell --files

feat: prerender documentation examples in CI (#DS-5064) (#1937)
  .github/workflows/build.yml
  angular.json
  docs/guides/09-ssr-dev.md
  package.json
  packages/components-dev/index.html
  packages/components-dev/ssr/README.md
  packages/components-dev/ssr/config.server.ts
  packages/components-dev/ssr/config.ts
  packages/components-dev/ssr/module.ts
  packages/components-dev/ssr/routes.ts
  packages/components-dev/ssr/server.ts
  packages/components-dev/ssr/styles.scss
  packages/components-dev/ssr/template.html
  packages/components-dev/ssr/tsconfig.app.json
Due: yarn run cspell --files, yamllint

fix(dl): wrap text (#DS-3323) (#1951)
  packages/components/dl/__screenshots__/01-dark.png
  packages/components/dl/__screenshots__/01-light.png
  packages/components/dl/dl.en.md
  packages/components/dl/dl.ru.md
  packages/components/dl/dl.scss
  packages/docs-examples/components/dl/dl-long-text/dl-long-text-example.ts
  packages/docs-examples/components/dl/index.ts
Due: yarn run cspell --files

feat(docs): added fullscreen mode for examples (#DS-4019) (#1957)
  apps/docs/e2e.playwright-spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.html
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.scss
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.spec.ts
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.ts
  apps/docs/src/app/components/stackblitz/stackblitz-button.ts
  apps/docs/src/app/config.ts
  apps/docs/src/app/services/__snapshots__/i18n.spec.ts.snap
  apps/docs/src/app/services/fullscreen.spec.ts
  apps/docs/src/app/services/fullscreen.ts
  apps/docs/src/app/services/i18n.ts
Due: none

fix(docs): keep focus in the icons search while typing (#DS-5459) (#1968)
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.spec.ts
  apps/docs/src/app/components/icons-viewer/icons-viewer.component.ts
  apps/docs/src/app/components/sidenav/sidenav.spec.ts
  apps/docs/src/app/components/sidenav/sidenav.ts
Due: none

chore: updated CODEOWNERS (#1970)
  .github/CODEOWNERS
Due: none

docs(actions-panel): update extra counter example (#DS-5087) (#1965)
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
Due: yarn run cspell --files

feat(cli): add dist tag policy resolution on publish (#DS-4781) (#1964)
  .github/workflows/publish.yml
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/release/base-release-task.ts
  packages/cli/src/release/npm/npm-client.spec.ts
  packages/cli/src/release/npm/npm-client.ts
  packages/cli/src/release/npm/resolve-npm-dist-tag.spec.ts
  packages/cli/src/release/npm/resolve-npm-dist-tag.ts
  packages/cli/src/release/prompt/npm-dist-tag-prompt.ts
  packages/cli/src/release/publish-release-ci.ts
  packages/cli/src/release/publish-release-from-dist.ts
  packages/cli/src/release/publish-release-github-ci.ts
  packages/cli/src/release/publish-release-gitlab-ci.ts
  packages/cli/src/release/resolve-npm-tag.ts
Due: yamllint

fix(tree): prevent tooltip for non-truncated option text (#DS-4931) (#1910)
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.spec.ts
  tools/public_api_guard/components/tree.api.md
Due: yarn run cspell --files

fix(select,tree-select,autocomplete): panel scrolling in Safari (#DS-3299) (#1973)
  packages/components/autocomplete/autocomplete-trigger.directive.ts
  packages/components/autocomplete/e2e.webkit.playwright-spec.ts
  packages/components/core/option/option.spec.ts
  packages/components/core/option/option.ts
  packages/components/core/utils/dom.ts
  packages/components/dropdown/dropdown-item.component.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/e2e.webkit.playwright-spec.ts
  packages/components/select/e2e.webkit.playwright-spec.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/e2e.webkit.playwright-spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-option.component.ts
  packages/e2e/utils/focus-scroll.ts
  packages/e2e/utils/index.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(tree): assert title overflow through the public getter
  packages/components/tree/tree-selection.component.spec.ts
Due: none

chore(deps): bump @koobiq/icons from 12.1.1 to 12.2.0 (#DS-5481) (#1980)
  package.json
  yarn.lock
Due: none

chore(time-range): add missing specs for value correction (#DS-5239) (#1975)
  packages/components/time-range/time-range.spec.ts
Due: none

test(core): move the date format specs to koobiq/date-formatters (#DS-3496) (#1989)
  packages/components/core/formatters/date/formatter.spec.ts
Due: none

ci: retry the npm audit registry request on a transport failure (#1994)
  .github/workflows/audit.yml
Due: yamllint

fix(tags): move validation to kbq-tag-list (#DS-2943) (#1977)
  packages/components-dev/tag/module.ts
  packages/components-dev/tag/styles.scss
  packages/components-dev/tag/template.html
  packages/components-dev/validation/module.ts
  packages/components-dev/validation/template.html
  packages/components/tags/examples.tag-input.en.md
  packages/components/tags/examples.tag-input.ru.md
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-text-control.ts
  packages/docs-examples/components/tags/index.ts
  packages/docs-examples/components/tags/tag-autocomplete-with-form-control-validators/tag-autocomplete-with-form-control-validators-example.ts
  packages/docs-examples/components/validation/validation-tag-list/validation-tag-list-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

fix(schematics): repair the package after the cherry-pick
  packages/schematics/src/migrations/scrollbar-deprecated-path/README.md
  packages/schematics/src/utils/ast.ts
Due: yarn run cspell --files

chore(docs): regenerate example-module.ts
  packages/docs-examples/example-module.ts
Due: none

build(cli): declare semver, which the dist-tag resolver imports
  package.json
  yarn.lock
Due: none

chore: regenerate the public API guard after the transplant
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/tags.api.md
  tools/public_api_guard/components/tooltip.api.md
Due: yarn run cspell --files

test(core): let dispatchKeyboardEvent pass a KeyboardEvent.key
  packages/components/core/testing/dispatch-events.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

chore(deps-dev): bump @koobiq/design-tokens from ^3.17.2 to ^3.19.0
  package.json
  yarn.lock
Due: none
