Repository koobiq/angular-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run cspell --files, yamllint

.lintstagedrc.json:

{
    "*.md": "yarn run cspell --files",
    "*.yml": "yamllint"
}

feat(time-range): init component (#DS-3951)
  .github/CODEOWNERS
  angular.json
  apps/docs/src/app/structure.ts
  package.json
  packages/components-dev/time-range/main.ts
  packages/components-dev/time-range/module.ts
  packages/components-dev/time-range/styles.scss
  packages/components-dev/time-range/template.html
  packages/components-dev/time-range/tsconfig.app.json
  packages/components/time-range/examples.time-range.en.md
  packages/components/time-range/examples.time-range.ru.md
  packages/components/time-range/index.ts
  packages/components/time-range/module.ts
  packages/components/time-range/ng-package.json
  packages/components/time-range/time-range.en.md
  packages/components/time-range/time-range.ru.md
  packages/components/time-range/time-range.scss
  packages/components/time-range/time-range.spec.ts
  packages/components/time-range/time-range.ts
  packages/docs-examples/components/time-range/index.ts
  packages/docs-examples/components/time-range/ng-package.json
  packages/docs-examples/components/time-range/time-range-overview/time-range-overview-example.ts
  tools/api-extractor/config.json
  tsconfig.json
Due: yarn run cspell --files

chore: provided default params
  packages/components/time-range/constants.ts
  packages/components/time-range/time-range.ts
  packages/components/time-range/types.ts
Due: none

chore: added default elements
  packages/components/time-range/time-range-editor/time-range-editor.ts
  packages/components/time-range/time-range.ru.md
  packages/components/time-range/time-range.scss
  packages/components/time-range/time-range.ts
  packages/docs-examples/components/time-range/time-range-overview/time-range-overview-example.ts
Due: yarn run cspell --files

chore: updated deps @koobiq/icons to 10.7.1 (#DS-4183) (#1022)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  yarn.lock
Due: none

chore: added e2e workflow trigger (#DS-4070) (#1021)
  .github/workflows/e2e-update-screenshots.yml
  .github/workflows/e2e.yml
Due: yamllint

fix(docs): destroy examples before fetching new document (#DS-4159) (#1020)
  apps/docs/src/app/components/example-viewer/example-viewer.ts
  apps/docs/src/app/components/live-example/docs-live-example.ts
Due: none

docs(select): edit kbqSelectOptionsProvider section (#DS-3921)
  packages/components/select/select.ru.md
Due: yarn run cspell --files

chore(docs): fix formatting (#DS-3921)
  packages/components/select/select.ru.md
Due: yarn run cspell --files

fix(tags): incorrect tag splitting when pasting (#DS-4152)
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
Due: none

fix(tags): incorrect tag splitting when pasting (#DS-4152) (#1023)
  packages/components/tags/tag-input.spec.ts
  packages/components/tags/tag-input.ts
Due: none

fix(pop-up): added Program in PopUpTriggers (#DS-4151)
  packages/components-dev/popover/module.ts
  packages/components-dev/popover/template.html
  packages/components/core/pop-up/constants.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

fix(pop-up): added Program in PopUpTriggers (#DS-4151) (#1024)
  packages/components-dev/popover/module.ts
  packages/components-dev/popover/template.html
  packages/components/core/pop-up/constants.ts
  tools/public_api_guard/components/core.api.md
Due: yarn run cspell --files

feat(app-switcher): added new component (#DS-4040)
  angular.json
  package.json
  packages/components-dev/app-switcher/main.ts
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/styles.scss
  packages/components-dev/app-switcher/template.html
  packages/components-dev/app-switcher/tsconfig.app.json
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-animations.ts
  packages/components/app-switcher/app-switcher.component.html
  packages/components/app-switcher/app-switcher.component.ts
  packages/components/app-switcher/app-switcher.en.md
  packages/components/app-switcher/app-switcher.module.ts
  packages/components/app-switcher/app-switcher.ru.md
  packages/components/app-switcher/app-switcher.scss
  packages/components/app-switcher/app-switcher.spec.ts
  packages/components/app-switcher/examples.app-switcher.en.md
  packages/components/app-switcher/examples.app-switcher.ru.md
  packages/components/app-switcher/index.ts
  packages/components/app-switcher/ng-package.json
  packages/components/app-switcher/public-api.ts
  packages/components/popover/popover.component.ts
  tsconfig.json
Due: yarn run cspell --files

feat: save
  packages/components-dev/app-switcher/module.ts
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-tree.html
  packages/components/app-switcher/app-switcher-tree.scss
  packages/components/app-switcher/app-switcher-tree.ts
  packages/components/app-switcher/app-switcher.component.html
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.module.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/public-api.ts
Due: none

feat: added tree + layout + styles
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-tree-option.html
  packages/components/app-switcher/app-switcher-tree-option.scss
  packages/components/app-switcher/app-switcher-tree-option.ts
  packages/components/app-switcher/app-switcher-tree.html
  packages/components/app-switcher/app-switcher-tree.scss
  packages/components/app-switcher/app-switcher-tree.ts
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.module.ts
  packages/components/app-switcher/app-switcher.scss
  packages/components/app-switcher/app-switcher.ts
Due: none

feat: tree line + styles
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-tree-option.scss
  packages/components/app-switcher/app-switcher-tree-option.ts
  packages/components/app-switcher/app-switcher.ts
  packages/components/tree/toggle.ts
Due: none

feat: added dropdown
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.html
  packages/components/dropdown/dropdown.module.ts
Due: none

fix: bugs + styles for tree
  packages/components/app-switcher/app-switcher-tree-option.scss
  packages/components/app-switcher/app-switcher-tree-option.ts
Due: none

feat: dropdown styles + logic
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.scss
  packages/components/app-switcher/app-switcher.ts
Due: none

feat: kbq-app-switcher-dropdown-app & kbq-app-switcher-dropdown-site
  packages/components-dev/app-switcher/module.ts
  packages/components-dev/app-switcher/template.html
  packages/components/app-switcher/_app-switcher-theme.scss
  packages/components/app-switcher/app-switcher-dropdown-app.scss
  packages/components/app-switcher/app-switcher-dropdown-app.ts
  packages/components/app-switcher/app-switcher-dropdown-site.scss
  packages/components/app-switcher/app-switcher-dropdown-site.ts
  packages/components/app-switcher/app-switcher.html
  packages/components/app-switcher/app-switcher.scss
  packages/components/app-switcher/app-switcher.ts
  packages/components/app-switcher/public-api.ts
Due: none

feat(select): disable search below option threshold (#DS-3921) (#1019)
  packages/components/core/select/common.ts
  packages/components/core/select/constants.ts
  packages/components/select/select.component.spec.ts
  packages/components/select/select.component.ts
  packages/components/select/select.en.md
  packages/components/select/select.html
  packages/components/select/select.ru.md
  packages/components/timezone/timezone-select.component.html
  packages/components/timezone/timezone-select.component.spec.ts
  packages/components/tree-select/tree-select.component.spec.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree-select/tree-select.html
  packages/docs-examples/components/select/select-search/select-search-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Due: yarn run cspell --files

refactor: removable
  packages/components-dev/tag/module.ts
  packages/components/tags/_tag-theme.scss
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag-list.partial.html
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag-tokens.scss
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  packages/components/tags/tag.ru.md
  packages/docs-examples/components/tag/index.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  packages/docs-examples/components/tag/tag-list-selectable/tag-list-selectable-example.ts
  packages/docs-examples/components/tag/tag-removable/tag-removable-example.ts
  packages/docs-examples/components/tag/tag-selectable/tag-selectable-example.ts
  packages/docs-examples/components/tag/tag-with-remove-button/tag-with-remove-button-example.ts
Due: yarn run cspell --files

refactor: examples
  packages/components-dev/tag/module.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  packages/docs-examples/components/tag/tag-list-selectable/tag-list-selectable-example.ts
  packages/docs-examples/components/tag/tag-removable/tag-removable-example.ts
  packages/docs-examples/components/tag/tag-selectable/tag-selectable-example.ts
Due: none

refactor: added specs, updated examples
  packages/components/core/common-behaviors/hovered.ts
  packages/components/core/common-behaviors/index.ts
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
  packages/docs-examples/components/tag/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-selectable/tag-autocomplete-selectable-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-input-selectable/tag-input-selectable-example.ts
  packages/docs-examples/components/tag/tag-list-editable/tag-list-editable-example.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  packages/docs-examples/components/tag/tag-list-selectable/tag-list-selectable-example.ts
  packages/docs-examples/components/tag/tag-removable/tag-removable-example.ts
  packages/docs-examples/example-module.ts
Due: none

refactor: autocomplete/input examples
  packages/components-dev/tag/module.ts
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag.component.ts
  packages/components/tags/tag.ru.md
  packages/docs-examples/components/tag/index.ts
  packages/docs-examples/components/tag/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-selectable/tag-autocomplete-selectable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete/tag-autocomplete-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-input-selectable/tag-input-selectable-example.ts
  packages/docs-examples/components/tag/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  packages/docs-examples/components/tag/tag-input/tag-input-example.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  packages/docs-examples/components/tag/tag-list-selectable/tag-list-selectable-example.ts
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.html
Due: yarn run cspell --files

refactor: selection
  packages/components/tags/tag.component.spec.ts
  packages/components/tags/tag.component.ts
Due: none

refactor: docs
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.en.md
  packages/components/tags/tag.ru.md
Due: yarn run cspell --files

refactor: e2e
  packages/components-dev/e2e/components/__screenshots__/KbqTagModule-DevTagStateAndStyle-states-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqTagModule-DevTagStateAndStyle-states-dark-theme-1.png
  packages/components-dev/e2e/components/actions-panel.playwright-spec.ts
  packages/components-dev/e2e/components/button.playwright-spec.ts
  packages/components-dev/e2e/components/button.ts
  packages/components-dev/e2e/components/file-upload.playwright-spec.ts
  packages/components-dev/e2e/components/tag.playwright-spec.ts
  packages/components-dev/e2e/components/tag.ts
  packages/components-dev/e2e/module.ts
  packages/components-dev/e2e/template.html
  packages/components-dev/e2e/utils/index.ts
  packages/components-dev/e2e/utils/page.ts
  packages/components-dev/e2e/utils/theme.ts
  packages/components-dev/tag/module.ts
  packages/components-dev/tag/template.html
  packages/components/tags/_tag-theme.scss
  packages/components/tags/tag-tokens.scss
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

refactor: specs
  packages/components/tags/tag-list.component.spec.ts
  packages/components/tags/tag-remove.spec.ts
  packages/components/tags/tag.component.ts
Due: none

refactor: undo
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
Due: none

test: auto-updated e2e screenshots
  packages/components-dev/e2e/components/__screenshots__/KbqActionsPanel-DevActionsPanelWithOverlayCont-a02b9-ld-show-hidden-actions-when-button-is-clicked-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqTagModule-DevTagStateAndStyle-states-1.png
  packages/components-dev/e2e/components/__screenshots__/KbqTagModule-DevTagStateAndStyle-states-dark-theme-1.png
Due: none

refactor: screenshot
  packages/components-dev/e2e/components/__screenshots__/KbqActionsPanel-DevActionsPanelWithOverlayCont-a02b9-ld-show-hidden-actions-when-button-is-clicked-1.png
  packages/components-dev/e2e/template.html
Due: none

refactor: docs
  packages/components-dev/tag/module.ts
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/docs-examples/components/tag/index.ts
  packages/docs-examples/components/tag/tag-autocomplete-removable/tag-autocomplete-removable-example.ts
  packages/docs-examples/components/tag/tag-autocomplete-selectable/tag-autocomplete-selectable-example.ts
  packages/docs-examples/example-module.ts
Due: yarn run cspell --files

refactor: resolve conflict
  packages/components/core/common-behaviors/hovered.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-input-selectable/tag-input-selectable-example.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/tags.api.md
Due: yarn run cspell --files

refactor: link
  packages/components/tags/tag-autocomplete.en.md
  packages/components/tags/tag-autocomplete.ru.md
  packages/components/tags/tag-input.en.md
  packages/components/tags/tag-input.ru.md
  packages/components/tags/tag-list.en.md
  packages/components/tags/tag-list.ru.md
  packages/components/tags/tag.en.md
  packages/components/tags/tag.ru.md
Due: yarn run cspell --files

refactor: disable autocomplete
  packages/docs-examples/components/tag/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tag/tag-autocomplete/tag-autocomplete-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-input-selectable/tag-input-selectable-example.ts
  packages/docs-examples/components/tag/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  packages/docs-examples/components/tag/tag-input/tag-input-example.ts
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.html
Due: none

refactor: keycodes utils
  packages/components/tags/tag-list.component.ts
  packages/components/tags/tag.component.ts
Due: none

refactor: focus monitor
  packages/components/tags/tag.component.ts
Due: none

refactor: track by index
  packages/components/tags/tag-list.component.spec.ts
  packages/docs-examples/components/tag/tag-autocomplete-option-operations/tag-autocomplete-option-operations-example.ts
  packages/docs-examples/components/tag/tag-autocomplete/tag-autocomplete-example.ts
  packages/docs-examples/components/tag/tag-input-editable/tag-input-editable-example.ts
  packages/docs-examples/components/tag/tag-input-removable/tag-input-removable-example.ts
  packages/docs-examples/components/tag/tag-input-selectable/tag-input-selectable-example.ts
  packages/docs-examples/components/tag/tag-input-with-form-control-validators/tag-input-with-form-control-validators-example.ts
  packages/docs-examples/components/tag/tag-input/tag-input-example.ts
  packages/docs-examples/components/tag/tag-list-removable/tag-list-removable-example.ts
  packages/docs-examples/components/tag/tag-list-selectable/tag-list-selectable-example.ts
  packages/docs-examples/components/tag/tag-list/tag-list-example.ts
  packages/docs-examples/components/tag/tags-autocomplete-onpaste-off/tags-autocomplete-onpaste-off-example.html
  packages/docs-examples/components/tag/tags-input-onpaste-off/tags-input-onpaste-off-example.html
Due: none
